<div class="session session-landing-2017">

  <div class="container">
    <div class="row">
      
      <div class="three columns nav-columns">
        <ul class="sessions-nav sticky">
          <li><a href="#About" data-animated-scroll data-nav-group="sessions-nav" class="active">About</a></li>
          <li><a href="#UpcomingSessions" data-animated-scroll data-nav-group="sessions-nav">Upcoming Sessions</a></li>
          <li><a href="#PastSessions" data-animated-scroll data-nav-group="sessions-nav">Past Sessions</a></li>
          <li><a href="#InTheNews" data-animated-scroll data-nav-group="sessions-nav">In the News</a></li>
          <li><a href="#Testimonials" data-animated-scroll data-nav-group="sessions-nav">Testimonials</a></li>
        </ul>
        &nbsp;
      </div>

      <div class="nine columns">
        <a id="About" name="About"></a>
        <div class="about">
          <div class="header-gradient"><h2 class="gradient">About</h2></div>
          <p>We hope you can join us for one of The Sola Sessions, coming to a city near you! The Sessions are all about inspiring, motivating and educating Sola professionals, while also learning from and collaborating with our awesome, dynamic community. We're bringing the industry's best to you for intimate, Sola-exclusive events across the country. Click on the cities below to learn more about each unique Sola Session. We can't wait to meet you!</p>
          <a href="//www.youtube.com/watch?v=i6AUSUofPUg" class="play-video" rel="i6AUSUofPUg">
            <%= image_tag 'sessions/video_thumb_2017.jpg', :width => 953, :height => 458 %>
            <div class="play-btn-wrapper">
              <div class="play-btn">
                <span class="fa fa-5x fa-play"></span>
              </div>
              <span class="text">Watch Video</span>
            </div>
          </a>
        </div>



        <a id="UpcomingSessions" name="UpcomingSessions"></a>
        <div class="upcoming-events">
          <div class="header-gradient"><h2 class="gradient">Upcoming Sessions</h2></div>
          <div class="row">
            <div class="one-half column event-tile">
              <div class="event-icon bay-area"></div>
              <div class="date">November 6th</div>
              <div class="location-name">San Jose, CA</div>
              <div><%= link_to :san_jose_session do %>Learn More<% end %></div>
            </div>
          </div>
        </div>

        <!-- <a href="#" onClick="return false" style="cursor:default;opacity:0.4 !important"> -->


        <a id="PastSessions" name="PastSessions"></a>
        <div class="past-events">
          <div class="header-gradient"><h2 class="gradient">Past Sessions</h2></div>

          <div class="event">
            <%= image_tag "sessions/past-event-washington-dc.png" %>
            <div class="buttons">
              <a href="https://www.solasalonstudios.com/blog/the-sola-sessions--washington-d-c" class="button">Read Blog</a>
              <a href="https://solasessions.smugmug.com/The-Sola-Sessions-DC/n-4C7MJd/" target="_blank" class="button">View Gallery</a>
            </div>
          </div> 

          <div class="event">
            <%= image_tag "sessions/past-event-dallas.jpg" %>
            <div class="buttons">
              <a href="https://www.solasalonstudios.com/blog/the-magic-of-the-dallas-sola-sessions" class="button">Read Blog</a>
              <a href="http://solasessions.smugmug.com/The-Sola-Sessions-Dallas" target="_blank" class="button">View Gallery</a>
            </div>
          </div> 
          
          <div class="event">
            <%= image_tag "sessions/past-event-charlotte.png" %>
            <div class="buttons">
              <a href="https://www.solasalonstudios.com/blog/the-sola-sessions--charlotte-recap" class="button">Read Blog</a>
              <a href="https://solasessions.smugmug.com/The-Sola-Sessions-Charlotte/n-NX4x6J/" target="_blank" class="button">View Gallery</a>
            </div>
          </div> 

          <div class="event">
            <%= image_tag "sessions/past-event-newport-beach.png" %>
            <div class="buttons">
              <a href="https://www.solasalonstudios.com/blog/the-sola-sessions--newport-beach-recap" class="button">Read Blog</a>
              <a href="https://solasessions.smugmug.com/The-Sola-Sessions-Orange/n-QXL6tM/" target="_blank" class="button">View Gallery</a>
            </div>
          </div> 

          <div class="event">
            <%= image_tag "sessions/past-event-minneapolis.jpg" %>
            <div class="buttons">
              <a href="https://www.solasalonstudios.com/blog/the_sola_sessions__minneapolis_recap" class="button">Read Blog</a>
              <a href="https://solasessions.smugmug.com/The-Sola-Sessions-Minneapolis/n-BjfH8G/" target="_blank" class="button">View Gallery</a>
            </div>
          </div> 

          <div class="event">
            <%= image_tag "sessions/past-event-denver.jpg" %>
            <div class="buttons">
              <a href="https://www.solasalonstudios.com/blog/the_sola_sessions__denver_recap" class="button">Read Blog</a>
              <a href="https://solasessions.smugmug.com/The-Sola-SessionsDenver/n-f8zLwV/" target="_blank" class="button">View Gallery</a>
            </div>
          </div> 
        </div>



        <a id="InTheNews" name="InTheNews"></a>
        <div class="in-the-news">
          <div class="header-gradient"><h2 class="gradient">In the News</h2></div>
          <div class="news-articles">
            <% Article.where(:id => [68, 62, 61, 53, 51, 48, 47]).order(:id => :desc).each do |article| %>
              <%= render 'shared/news_summary', :article => article, :social => 'circle' %>
            <% end %>
          </div>        
        </div>



        <a id="Testimonials" name="Testimonials"></a>
        <div class="testimonials">
          <div class="header-gradient"><h2 class="gradient">Testimonials</h2></div>

          <div class="owl-carousel owl-theme" data-autoplay="10000">

            <div class="item featured-testimonial">
              <h1>"Attending the Sola Sessions was a life changing experience! I felt very empowered by the knowledge and tools presented to me and left the Sessions ready to rule the world!"</h1>
              <h3 class="subtle">Robin Grabovski</h3>
            </div>

            <div class="item featured-testimonial">
              <h1>"I gained so much knowledge, confidence, and resources from attending the Sola Sessions. Every aspect of my business was addressed and I was able to take away something to make each area of my business better. It was really neat learning from the amazing presenters. Way to go, Sola!"</h1>
              <h3 class="subtle">Nancy Hampton</h3>
            </div> 

            <div class="item featured-testimonial">
              <h1>"Magical, unforgettable, and completely amazing! Thank you for filling my tank to overflowing inspirational madness."</h1>
              <h3 class="subtle">Lisa Orr</h3>
            </div>

            <div class="item featured-testimonial">
              <h1>"Definitely the best education experience that I've had in my 25 years in the business. Very inspirational, informative, educational and fun! Never before have I been able to meet and mingle with the stage artists like that. It was simply amazing!"</h1>
              <h3 class="subtle">Holly Santelli</h3>
            </div>

            <div class="item featured-testimonial">
              <h1>"I have been to my share of hair shows - big and small - and this was by far my favorite."</h1>
              <h3 class="subtle">Abbi Romero</h3>
            </div>
         
          </div>
        </div>

      </div> <!-- end .nine.columns -->
    </div> <!-- end .row -->
  </div> <!-- end .container -->
</div> <!-- end .sessions-2017 -->



<div class="sessions-mobile-menu"><i class="fa fa-bars" aria-hidden="true"></i></div>
<ul class="sessions-nav sessions-mobile-nav">
  <li class="close"><i class="fa fa-times-thin fa-2x" aria-hidden="true"></i></li>
  <li><a href="#About" data-animated-scroll data-nav-group="sessions-nav" data-height-offset=".sessions-mobile-nav" class="active">About</a></li>
  <li><a href="#UpcomingSessions" data-animated-scroll data-nav-group="sessions-nav" data-height-offset=".sessions-mobile-nav">Upcoming Sessions</a></li>
  <li><a href="#PastSessions" data-animated-scroll data-nav-group="sessions-nav" data-height-offset=".sessions-mobile-nav">Past Sessions</a></li>
  <li><a href="#InTheNews" data-animated-scroll data-nav-group="sessions-nav" data-height-offset=".sessions-mobile-nav">In the News</a></li>
  <li><a href="#Testimonials" data-animated-scroll data-nav-group="sessions-nav" data-height-offset=".sessions-mobile-nav">Testimonials</a></li>
</ul>