  <div class="session">    

    <div class="hero-image hero-desktop"><%= image_tag 'sessions/charlotte_hero.jpg' %></div>

    <div class="container">
      <div class="row sessions-buttons" style="margin-bottom: 20px">
        <div class="six columns"><a href="/sessions" class="button block long-text">About the Sola Sessions</a></div>
        <div class="six columns"><a href="#" onclick="return false;" style="cursor:default" class="button block primary long-text">Charlotte</a></div>
      </div>
    </div>

    <div class="details">
      <div class="container">
        <h1>Charlotte, North Carolina</h1>
        <h2>November 14, 2016</h2>
        <h3>Hilton Charlotte Center City</h3>
        <h5>222 East Third Street, Charlotte, NC 28202</h5>
      </div>
    </div>

    <div class="speakers">
      <div class="container">
        <div class="row">
          <div class="four columns">
            <%= image_tag 'sessions/horvath.png' %>
            <span class="name">Kim Bennett Horvath</span>
            <span class="company"><a href="http://www.solasalonstudios.com" target="_blank">Sola Salon Studios</a></span>
          </div>
          <div class="four columns">
            <%= image_tag 'sessions/cowen.png' %>
            <span class="name">Terri Cowen</span>
            <span class="company"><a href="http://www.professionalsalonconcepts.com/" target="_blank">Professional Salon Concepts</a></span>
          </div>
          <div class="four columns">
            <%= image_tag 'sessions/wolff.png' %>
            <span class="name">Jennie Wolff</span>
            <span class="company"><a href="http://www.solasalonstudios.com" target="_blank">Sola Salon Studios</a></span>
          </div>
        </div>
        <div class="row">
          <div class="four columns">
            <%= image_tag 'sessions/cass.png' %>
            <span class="name">Rob Cass</span>
            <span class="company"><a href="http://www.wella.com/" target="_blank">Wella</a></span>
          </div>
          <div class="four columns">
            <%= image_tag 'sessions/reyes.png' %>
            <span class="name">Jason Reyes</span>
            <span class="company"><a href="https://www.paulmitchell.com/" target="_blank">Paul Mitchell</a></span>
          </div>
          <div class="four columns">
            <%= image_tag 'sessions/mizell.png' %>
            <span class="name">Donna Mizell</span>
            <span class="company"><a href="https://www.paulmitchell.com/" target="_blank">Paul Mitchell</a></span>
          </div>
        </div>
        <div class="row">
          <div class="four columns">
            <%= image_tag 'sessions/berardi.png' %>
            <span class="name">Nick Berardi</span>
            <span class="company"><a href="http://www.wella.com/" target="_blank">Wella</a></span>
          </div>
          <div class="four columns">
            <%= image_tag 'sessions/keasling.png' %>
            <span class="name">Danielle Keasling</span>
            <span class="company"><a href="http://www.matrix.com/" target="_blank">Matrix</a></span>
          </div>
        </div>
        <div class="bios">

          <div class="bio">
            <div class="name-and-company">Kim Bennett Horvath: <a href="http://www.solasalonstudios.com" target="_blank">Sola Salon Studios</a></div>
            <div class="text">
              Kim Bennett Horvath's passion as a hairdresser has taken her on a journey through the beauty industry for 25 years. As a licensed cosmetologist since the age of 18, she has continued to catapult her career and her business from her humble small town beginnings, and is dedicated to inspiring others in the beauty industry.
              <br><br>
              As a Senior National Educator for Paul Mitchell for the past 23 years she was one of the first Artistic Color Coordinators chosen to help launch Paul Mitchell's first color line, as well as being a Task Force Leader where she trained and coached regional Paul Mitchell National Educators. She received the Paul Mitchell Focus Award in 2012, and continues to educate and help salons grow their business.
              <br><br>
              While working in all aspects of traditional salons, Kim made the decision of salon ownership after meeting Sola's co-founders, Matt and Stratton, at a coffee shop in Denver, Colorado. Kim quickly became the first Sola Professional in early 2004! Throughout her 11+ years at Sola, Kim has supported and represented Sola Salon Studios in myriad ways and in early 2014 became Sola's Director of Education. Within this role, Kim uses her expertise to share the Sola Salon Studios culture to connect and build relationships throughout the Professional Beauty Industry. 
              <br><br>
              Her passion and success as a Sola Professional has spread like wildfire being asked to speak with industry leaders on better business practices and has been featured in many publications including Modern Salon, Behind the Chair, and Milady Pro. She was also recently recognized as a Role Model by American Salon. Kim is dedicated to creating education opportunities for Sola Professionals to inspire them to become successful business owners while also enjoying their best artistic self.
            </div>
          </div>

          <div class="bio">
            <div class="name-and-company">Terri Cowan: <a href="http://www.professionalsalonconcepts.com/" target="_blank">Professional Salon Concepts</a></div>
            <div class="text">
              <em>Innovation! Education! Commitment!</em> These are often the words used by those in the hair care industry to describe Terri Cowan. Terri alongside her husband, Steve Cowan own Professional Salon Concepts, the first beauty industry distributor to earn a place among Inc. Magazine's top 500 privately owned companies in America. They earned this honor not just once, but twice. They were named Modern Salon's “Distributor of the Year” and presented the Diamond Award for Excellence in Customer Service by American Salon Magazine.
              <br><br>
              As proud distributors, Terri and Steve have applied their background and experiences in business and training to build PSC into the industry leader that it is today.
              <br><br>
              Terri serves as one of the Salon Industry's leading and most respected speakers and trainers.  Her direct common sense approach to measuring and quantifying extraordinary customer service, combined with her undeniable sense of humor, is what her audiences enjoy the most. 
              <br><br>
              Today, Terri and Steve Cowan act as consultants to many of the salons they serve. They are consultants for A Robert Cromeans Salons and are combining efforts with John Paul Mitchell Systems to spread their culture. In 2007 they started their journey into the world of the Paul Mitchell Schools.  Today they are Co-Owners to the Paul Mitchell schools in Escanaba, Michigan, Chicago, IL and Lombard, IL.   
              <br><br>
              So their mission continues – &quot;To Grow the Beauty Industry, One Hairdresser at a time.&quot;
            </div>
          </div>
          
          <div class="bio">
            <div class="name-and-company">Jennie Wolff: <a href="https://www.solasalonstudios.com" target="_blank">Sola Salon Studios</a></div>
            <div class="text">
              After graduating from Emory University with a degree in Creative Writing, Jennie ventured to Colorado to break into Denver's entertainment scene, and was quickly hired by Kroenke Sports &amp; Entertainment. After 5 years of managing Kroenke's Special Events department, Jennie joined Motive, a boutique creative marketing agency. While at Motive, she worked on experiential campaigns and digital projects for top brands such as Mars Chocolate, Van's Natural Foods and Cartoon Network. 
              <br><br>
              In 2013, Matt and Stratton (Sola's co-founders) convinced Jennie to turn her talents toward the salon industry. As Sola's Vice President of Marketing and Education, Jennie manages the Sola marketing efforts top-to-bottom, including Sola's social media strategy, the Sola blog, Sola's website, all of Sola's traditional and nontraditional marketing campaigns, innovative stylist programs and more recently, the Sola Pro app and The Sola Sessions.  
            </div>
          </div>          

          <div class="bio">
            <div class="name-and-company">Rob Cass: <a href="http://www.wella.com/" target="_blank">Wella</a></div>
            <div class="text">
              <strong>SALON PROPHETS</strong>, led by Founder &amp; CEO Robert Cass, is a leading consulting, marketing and training advisors to the salon industry. They bring more than 30 years of successful salon, spa and hospitality management and development experience combined with an endless commitment towards excellence.
               <br><br>
              Industry leaders such as Wella, Red Door Spas, Lifespa, Stillwater, Fantastic Sams, have all chosen to work with Salon Prophets because of their intimate knowledge and expertise of the salon market. They have developed Wella Premium Business Education program, SMBA – Salon Masters of Business Advancement and are the driving force behind Salon Savvy, The Art of Business Education.
               <br><br>
              Robert travels the continent as a keynote speaker, author and trainer educating and elevating the standards of today's salons. Working with leaders and teams Salon Prophets focuses on your business so it rewards you with the profits you deserve.
               <br><br>
              Salon Prophets is &quot;building business&quot;.
            </div>
          </div>  

          <div class="bio">
            <div class="name-and-company">Jason Reyes: <a href="http://www.paulmitchell.com/" target="_blank">Paul Mitchell</a></div>
            <div class="text">
              Jason is a highly talented and skilled trainer and artist specializing in haircutting. As a Paul Mitchell platform artist, International Trainer, Advanced Academy Cutting Team member, cutting specialist for Paul Mitchell Schools, and business owner, Jason Reyes travels nationally and internationally doing hair shows training and inspiring current and future salon professionals and thousands of educators.  He lives by a simple and successful philosophy: "discover your passion, do what you love and surround yourself with like-minded people".
            </div>
          </div> 

          <div class="bio">
            <div class="name-and-company">Donna Mizell: <a href="http://www.paulmitchell.com/" target="_blank">Paul Mitchell</a></div>
            <div class="text">
              Three words best describe Donna Mizell's artistic approach to hair: tasteful, fashionable and stylish. A thirst for culture, travel and learning, coupled with a love of family, allows Donna to approach her career with humor and a true spirit of giving. Donna delivers a five-star standard of service, so each guest enjoys a truly memorable experience. &quot;I strive to really share my artistry with my clients—to combine style with knowledge and help them see that products are just as important as cut and color.&quot;
            </div>
          </div> 

          <div class="bio">
            <div class="name-and-company">Nick Berardi: <a href="http://www.wella.com/" target="_blank">Wella</a></div>
            <div class="text">
              With a love for precision haircutting and unsurpassed talent, Nick was inspired to develop powerful online seminars to teach stylists and bring passion and creativity to their everyday salon environment.
              <br><br>
              Nick is an international Top Stylist with Wella's Education and his recent platform appearance includes Wella International Trend Vision Awards in Spain.
            </div>
          </div> 

          <div class="bio">
            <div class="name-and-company">Danielle Keasling: <a href="http://www.matrix.com" target="_blank">Matrix</a></div>
            <div class="text">
              National educator, session stylist, salon owner and industry leader, Danielle has worked in the salon industry for over 17 years. With a passion for texture and styling and an eye and the knowledge for color, Danielle brands herself as having a background in creating on trend styles that are fashion forward but wearable to the everyday consumer. 
              <br><Br>
              Finalist in the 2014 North American Hairstylist Awards for Texture and 2015 finalist in the Editorial category; Danielle's work has been recognized worldwide. 
              <br><br>
              Danielle has been recognized in many industry competitions and is on the Artistic team for Intercoiffure, the most prestigious group of salon representatives and salons in the world. 
              <br><br>
              Danielle's work can be seen in many consumer and trade magazines such as Harpers Bazaar, 10Ten, M Mag, InStyle, Marie Claire, Disfunkshion, Modern Salon Magazine, American Salon Magazine, Hot by Hairs How, Estetica, Beauty Launchpad, Peluquerias International, Beauty Underground, among many others. 
              <br><br>
              Danielle also does session work for print, runway, marketing campaigns, commercial, weddings, and film. When she isn't behind the chair or working on one of many projects; Danielle volunteers her time to the Survivor Glam Squad. The mission is to provide female cancer survivors with esteem building opportunities, such as professional makeovers, education and motivation. Through donations and volunteer efforts, SGS will empower women and girls to get back on track after cancer treatment. She is now Creative Director for the organization. 
            </div>
          </div> 

        </div>

        <div class="text-center" id="showBios"><button>Click here for bios</button></div>
        <div class="text-center" id="hideBios"><button>Close bios</button></div>

      </div>
    </div>

    <div class="container">
      <!--
      <div class="side-sessions">
        <h2>Additional Side Sessions presented by:</h2>
        <ul>
          <li>Creative Nail Design</li>
          <li>Dermalogica</li>
          <li>KLASS Makeup</li>
          <li>Hattori Hanzo Shears</li>
        </ul>
      </div>
      -->
      <div class="agenda">
        <div class="banner"></div>
        <p><span class="time">8:00am:</span> Registration. Coffee &amp; Tea Provided.</p>
        <p><span class="time">9:00am-12:00pm:</span> Inspiration, Artistic, Marketing.</p>
        <p><span class="time">12:00pm-1:00pm:</span> Lunch.</p>
        <p><span class="time">1:00pm-5:30pm:</span> Artistic, Business, Artistic.</p>
        <p><span class="time">5:30pm-7:00pm:</span> Mix 'n' Mingle. Cocktails &amp; Appetizers.</p>
      </div>
      
      <div class="ticketing">
        <h1><span>$</span>99 per ticket</h1>
        <h4 class="text-center">Ticket valued at over $300 includes:</h4>
        <ul>
          <li>Full Day of Education</li>
          <li>Refreshments + Lunch</li>
          <li>1 Drink Ticket + Appetizers</li>
          <li>Meet &amp; Greet with Artists</li>
          <li>Swag Bag</li>
        </ul>
        <div class="button-wrapper"><a href="https://www.eventbrite.com/e/the-sola-sessions-tickets-27763126258" target="_blank" class="button primary">Buy Now</a></div>
        <!--<div class="button-wrapper"><a href="#" onClick="return false" class="button primary">Tickets On Sale Monday, September 19</a></div>-->
      </div>
    </div>

</div>

<div class="discounted-rooms">
  <div class="container">
    
    <h2>Discounted Rooms Available</h2>
    <h4>LIMITED AVAILABILITY</h4>

    <%= image_tag 'sessions/charlotte_hotel.jpg' %>

    <h3>$209 per night<br>Discounted Parking $10/Day</h3>

    <div class="button-wrapper"><a href="https://resweb.passkey.com/go/Sola2016" target="_blank" class="button primary">Book Now</a></div>

  </div>
</div>

<div class="event-partners">
  <div class="container">
    <h2>Event Partners</h2>
    <%= image_tag 'sessions/charlotte_event_partners.jpg' %>
  </div>
</div>

<div class="callout blue" style="margin-top:15px;">
  <h4 style="font-weight:bold;font-size:29px;">2017 Sola Sessions Dates To Be Announced!</h4>
</div>

<div class="callout pink">
  <%= link_to 'To learn more about the Sola Sessions, click here!', :sessions, :class => 'heading-link' %>
</div>

<% content_for(:scripts) { javascript_include_tag('sessions') } %>
<% content_for(:title) { 'Sola Sessions - Charlotte' } %>
<% content_for(:og_image) { "http:#{asset_path('sessions/sola-sessions-hero.jpg')}" } %>