<%= render 'shared/public_website/session_nav', :page => :about %>

<div class="session session-2018">

  <div class="hero-carousel owl-carousel owl-theme">
    <div class="item">
      <div class="img-wrap"><%= image_tag 'sessions/chicago_hero.jpg', alt: "Master at work", :width => 1386, :height => 711 %></div>
      <div class="item-content overlayed">
        <%= image_tag 'Sessions_Logo@2x.png', alt: "The Sola Sessions", :class => 'sessions-logo' %>
        <p><strong>Chicago, IL. Monday, September 24th</strong></p>
        <div class="learn-more-button">
          <h5><%= t('page.sessions.learn_more') %></h5>
          <span class="fa fa-angle-down"></span>
        </div>
      </div>
    </div>
  </div>

  <div class="header">
    <div class="container">
      <div class="early-bird-general-admission">
        <!--
        <div class="early-bird">
          <div class="price-circle"><sup>$</sup>119</div>
          <h2>Early Bird</h2>
          <p>Valid through June 30th</p>
          <div class="buy-your-ticket-wrapper">
            <a href="https://www.eventbrite.com/e/the-sola-sessions-tickets-46024997005" class="buy-your-ticket" target="_blank">&#9658; &nbsp;Buy Your Ticket!</a>
          </div>
        </div>
        -->
        <div class="general-admission">
          <div class="price-circle"><sup>$</sup>149</div>
          <h2>General Admission</h2>
          <p>July 1st - September 24th</p>
          <div class="buy-your-ticket-wrapper">
            <a href="https://www.eventbrite.com/e/the-sola-sessions-tickets-46024997005" class="buy-your-ticket" target="_blank">&#9658; &nbsp;Buy Your Ticket!</a>
          </div>
        </div>
      </div>

      <div class="ticket-includes">
        <p>Ticket includes:</p>
        <p><strong>Education, Sunday Workshop, Swag Bag, Prizes, Vendor Expo, Lunch, Happy Hour, Additional Non-Hair Classes. More to be Announced!</strong></p>
        <h4>Ticket Valued at $350</h4>
      </div>
    </div>
  </div>


  <div class="description">
    <div class="container">
      <h2 class="bb">Description</h2>
      <p>On Monday, September 24th, the Sola Sessions is heading to the Windy City for a Sessions event unlike any other!</p>

      <div class="row">
        <div class="six columns">
          <div class="check-row"><span class="checkmark">&nbsp;</span> Artistic Education from Industry Greats</div>
          <div class="check-row"><span class="checkmark">&nbsp;</span> Business &amp; Marketing Education</div>
          <div class="check-row"><span class="checkmark">&nbsp;</span> Vendor Expo</div>
          <div class="check-row"><span class="checkmark">&nbsp;</span> Cocktail Reception</div>
        </div>
        <div class="six columns">
          <div class="check-row"><span class="checkmark">&nbsp;</span> Inspiration and Community</div>
          <div class="check-row"><span class="checkmark">&nbsp;</span> Non-Hair Workshops</div>
          <div class="check-row"><span class="checkmark">&nbsp;</span> SWAG Bag, Prizes &amp; Giveaways</div>
          <div class="check-row"><span class="checkmark">&nbsp;</span> Sunday Cutting Class</div>
        </div>
      </div>

      <h4 class="pink" style="margin-top: 30px">More to be Announced!</h4>

    </div>
  </div>

  <div class="date-and-time">
    <div class="container">
      <a name="when_and_where" id="when_and_where"></a>
      <h2 class="bb">When and Where</h2>

      <div class="row">
        <div class="eight columns">
          <p>
            <strong>Sun, September 23, 2018</strong>
            <br />
            <span class="check-row"><span class="checkmark">&nbsp;</span> Hands-On Class with the Business of Balayage</span>
            <span class="check-row"><span class="checkmark" style="visibility: hidden">&nbsp;</span> 10:00 AM – 2:30 PM CST | The Blackstone Hotel</span>
            <span class="check-row" style="margin-top:-5px"><span class="checkmark" style="visibility: hidden;">&nbsp;</span> <a href="http://bit.ly/2vP6APW" target="_blank">Learn More and Buy Your Ticket</a></span>
            <br />
            <span class="check-row"><span class="checkmark">&nbsp;</span> Cutting Class with John Mosley from Hattori Hanzo Shears</span>
            <span class="check-row"><span class="checkmark" style="visibility: hidden">&nbsp;</span> 3:00 PM – 5:00 PM CST | The Blackstone Hotel</span>
            <br />
            <span class="check-row"><span class="checkmark">&nbsp;</span> Vendor Expo Sunday Evening</span>
            <span class="check-row"><span class="checkmark" style="visibility: hidden">&nbsp;</span> 5:00 PM – 7:00 PM | Venue SIX10</span>
          </p>
        </div>
        <div class="four columns">
          <%= image_tag 'sessions/businessbayalage.png', :class => 'u-full-width', :style => 'margin: -10px 0 30px 0', :align => 'right' %>
        </div>


      </div>
      <div class="row">
        <div class="twelve columns">
          <p>
            <strong>Mon, September 24, 2018</strong>
            <br />
            <span class="check-row"><span class="checkmark">&nbsp;</span> General Session</span>
            <span class="check-row"><span class="checkmark" style="visibility: hidden">&nbsp;</span> 9:00 AM – 12:00 PM: Keynote Address, Business, Retail, Marketing, Salon Etiquette</span>
            <span class="check-row"><span class="checkmark" style="visibility: hidden">&nbsp;</span> 12:00 PM – 1:00 PM: Networking Lunch</span>
            <span class="check-row"><span class="checkmark" style="visibility: hidden">&nbsp;</span> 1:00 PM – 4:00 PM: Artistic Education
            <span class="check-row"><span class="checkmark" style="visibility: hidden">&nbsp;</span><span class="checkmark" style="visibility: hidden">&nbsp;</span>
             &#8226; Paul Mitchell (color, cutting, and styling)</span>
             <span class="check-row"><span class="checkmark" style="visibility: hidden">&nbsp;</span><span class="checkmark" style="visibility: hidden">&nbsp;</span>
              &#8226; Mizani (texture styling, braiding, and accessories)</span>
             <span class="check-row"><span class="checkmark" style="visibility: hidden">&nbsp;</span><span class="checkmark" style="visibility: hidden">&nbsp;</span>
              &#8226; Hattori Hanzo Shears (barbering)</span>
            </span>
            <span class="check-row"><span class="checkmark" style="visibility: hidden">&nbsp;</span> 4:00 PM – 5:00 PM: The Leading Ladies</span>
            <span class="check-row"><span class="checkmark" style="visibility: hidden">&nbsp;</span> 5:00 PM – 7:00 PM: Reception</span>
          </p>
          <p>
            <a href="https://venuesix10.com/" target="_blank" class="blue-link"><strong>Venue SIX10</strong></a>
            <br />
            610 S. Michigan Avenue, Chicago, IL 60605
            <br />
            <span class="add-to-calendar-wrapper" data-title="Sola Session Chicago, IL" data-address="Venue SIX10, 610 S. Michigan Avenue, Chicago, IL 60605" data-description="On Monday, September 24th, the Sola Sessions is heading to the Windy City for a Sessions event unlike any other!" data-start="September 24, 2018 09:00" data-end="September 24, 2018 18:30"></span>
          </p>
        </div>
      </div>

    </div>
  </div>

  <div class="group-pic">
    <%= image_tag 'sessions/group-wide.jpg', :class => 'u-full-width' %>
  </div>

  <div class="getting-there">
    <div class="container">
      <div class="six columns">
        <h2 class="bb">Getting There</h2>
        <p>Venue SIX10 is located on Michigan Avenue directly across the street from beautiful Millenium Park. We have secured a room at the <a href="http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=Sola%20Sessions%5ECHIAB%60SOLSOLA%7CSOLSOLE%60239.00%60USD%60false%604%609/23/18%609/25/18%609/3/2018&app=resvlink&stop_mobi=yes" target="_blank">Blackstone Hotel</a>, which is on the same block, south of the venue, and a 1 minute walk. To reach Venue SIX10 and the Blackstone Hotel via Midway International Airport, expect an Uber or Lyft to take about 20 minutes. If you fly into O'Hare International Airport, except a ride share to take about 45 minutes. If you live in the area and plan to drive, parking through Venue SIX10 is $8 for 12 consecutive hours.</p>
      </div>
      <div class="six columns">
        <%= image_tag 'sessions/chicago_venue.png', :class => 'u-full-width' %>
      </div>
    </div>
  </div>

  <a name="speakers" id="speakers"></a>
  <div class="speakers">
    <div class="container">
      <h2 class="bb">Featured Presenters</h2>

      <div class="row">
        <div class="three columns" data-rel="cromeans">
          <%= image_tag 'sessions/cromeans.png' %>
          <span class="name">Robert Cromeans</span>
          <span class="company"><a href="#">Paul Mitchell</a></span>
        </div>
        <div class="three columns" data-rel="cuomo">
          <%= image_tag 'sessions/cuomo.png' %>
          <span class="name">Mary Cuomo</span>
          <span class="company"><a href="#">Paul Mitchell</a></span>
        </div>
        <div class="three columns" data-rel="cowan">
          <%= image_tag 'sessions/terri_cowan.png' %>
          <span class="name">Terri Cowan</span>
          <span class="company"><a href="#">Professional Salon Concepts</a></span>
        </div>
        <div class="three columns" data-rel="kovner">
          <%= image_tag 'sessions/ninakovner.png', alt: "Nina Kovner photo" %>
          <span class="name">Nina Kovner</span>
          <span class="company"><a href="#">Passion Squared</a></span>
        </div>
      </div>

      <div class="row">
        <div class="three columns" data-rel="wolff">
          <%= image_tag 'sessions/jennie_wolff.png', alt: "Jennie Wolff photo" %>
          <span class="name">Jennie Wolff</span>
          <span class="company"><a href="#">Sola Salon Studios</a></span>
        </div>
        <div class="three columns" data-rel="horvath">
          <%= image_tag 'sessions/kim_bennett.png' %>
          <span class="name">Kim Bennett</span>
          <span class="company"><a href="#">Sola Salon Studios</a></span>
        </div>
        <div class="three columns" data-rel="jamal">
          <%= image_tag 'sessions/jamal.png' %>
          <span class="name">Jamal Edmonds</span>
          <span class="company"><a href="#">Mizani</a></span>
        </div>
        <div class="three columns" data-rel="evie_johnson">
          <%= image_tag 'sessions/evie_johnson.png' %>
          <span class="name">Evie Johnson</span>
          <span class="company"><a href="#">Mizani</a></span>
        </div>
      </div>

      <div class="bios">

        <div class="bio" data-rel="horvath" data-modal-class="sessions" data-width="620" data-animated="1">
          <div class="modal-header">
            <%= image_tag 'sessions/kim_bennett.png' %>
            <span class="name">Kim Bennett</span>
            <span class="company"><a href="http://www.solasalonstudios.com" target="_blank">Sola Salon Studios</a></span>
            <span class="line">&nbsp;</span>
          </div>
          <div class="text">
            Kim Bennett&apos;s passion as a hairdresser has taken her on a journey through the beauty industry for more than 25 years. As a licensed cosmetologist since the age of 18, she has continued to catapult her career and her business from her humble small town beginnings, and is dedicated to inspiring others in the beauty industry.
            <br><br>
            As a Senior National Educator for Paul Mitchell for the past 24 years she was one of the first Artistic Color Coordinators chosen to help launch Paul Mitchell&apos;s first color line, as well as being a Task Force Leader where she trained and coached regional Paul Mitchell National Educators. She received the Paul Mitchell Focus Award in 2012, and continues to educate and help salons grow their business.
            <br><br>
            While working in all aspects of traditional salons, Kim made the decision of salon ownership after meeting Sola&apos;s co-founders, Matt and Stratton, at a coffee shop in Denver, Colorado and became the first Sola professional to sign a lease in early 2004! Throughout her 13 years at Sola, Kim has supported and represented Sola Salon Studios in myriad ways and in early 2014 was brought on to the Sola Home Office Team. Within her current role as Culture Ambassador and Director of Industry Relationships, Kim uses her expertise to share the Sola Salon Studios culture to connect and build relationships throughout the Professional Beauty Industry.
            <br><br>
            Her passion and success as a Sola professional has spread like wildfire being asked to speak with industry leaders on better business practices and has been featured in many publications including Modern Salon, Behind the Chair, American Salon and Milady Pro. Kim is dedicated to creating opportunities for Sola professionals to inspire them to become successful business owners while also enjoying their best artistic self.
          </div>
        </div>

        <div class="bio" data-rel="cromeans" data-modal-class="sessions" data-width="620" data-animated="1">
          <div class="modal-header">
            <%= image_tag 'sessions/cromeans.png' %>
            <span class="name">Robert Cromeans</span>
            <span class="company"><a href="#">Paul Mitchell</a></span>
            <span class="line">&nbsp;</span>
          </div>
          <div class="text">
            Hairdresser, salon owner, platform artist and industry legend, John Paul Mitchell Systems&reg; Global Artistic &amp; Business Director Robert Cromeans inspires hairdressers around the globe with his charming wit, innovative artistry and proven business strategies. Few have achieved such international acclaim; fewer still have worked so hard to share the keys to success with others. Robert is the proud owner of A Robert Cromeans Salons and Walkin Salons by Robert Cromeans in San Diego, Tulsa, Oklahoma City and Las Vegas.
          </div>
        </div>

        <div class="bio" data-rel="wolff" data-modal-class="sessions" data-width="620" data-animated="1">
          <div class="modal-header">
            <%= image_tag 'sessions/jennie_wolff.png', alt: "Jennie Wolff photo" %>
            <span class="name">Jennie Wolff</span>
            <span class="company"><a href="http://www.solasalonstudios.com" target="_blank">Sola Salon Studios</a></span>
            <span class="line">&nbsp;</span>
          </div>
          <div class="text">
            After graduating from Emory University with a degree in Creative Writing, Jennie ventured to Colorado to break into Denver&apos;s entertainment scene, and was quickly hired by Kroenke Sports &amp; Entertainment. After 5 years of managing Kroenke&apos;s Special Events department, Jennie joined Motive, a boutique creative marketing agency. While at Motive, she worked on experiential campaigns and digital projects for top brands such as Mars Chocolate, Van&apos;s Natural Foods and Cartoon Network. Throughout this time, Jennie was a happy customer of an esthetician named Michelle who closed her traditional salon doors to move to Sola Salon Studios in Denver, CO.
            <br><br>
            In 2013, Matt and Stratton (Sola&apos;s co-founders) convinced Jennie to turn her talents toward the salon industry. As Sola&apos;s Vice President of Marketing and Education, Jennie manages the Sola marketing efforts top-to-bottom, including Sola&apos;s social media strategy, the Sola blog, Sola&apos;s website, all of Sola&apos;s traditional and nontraditional marketing campaigns, innovative stylist programs and education such as the Sola Pro app, SolaGenius and the Sola Sessions.
          </div>
        </div>

        <div class="bio" data-rel="cuomo" data-modal-class="sessions" data-width="620" data-animated="1">
          <div class="modal-header">
            <%= image_tag 'sessions/cuomo.png' %>
            <span class="name">Mary Cuomo</span>
            <span class="company"><a href="#">Paul Mitchell</a></span>
            <span class="line">&nbsp;</span>
          </div>
          <div class="text">
            At hair shows, Mary Cuomo initiates breathtaking transformations that start at the model casting and culminate on the Paul Mitchell&reg; stage. At A Robert Cromeans Salon in San Diego, Mary's specialty is five-star treatment. She has mastered the art of the upgrade and derives 80% of her salon business from the Color Bar℠ experience. Mary's artistry and pace make her one of Paul Mitchell's most sought-after international show artists. Watch how she brings this excitement to everything she does!
          </div>
        </div>

        <div class="bio" data-rel="jamal" data-modal-class="sessions" data-width="620" data-animated="1">
          <div class="modal-header">
          <%= image_tag 'sessions/jamal.png' %>
          <span class="name">Jamal Edmonds</span>
          <span class="company"><a href="#">Mizani</a></span>
            <span class="line">&nbsp;</span>
          </div>
          <div class="text">
            At an early age, native Washingtonian Jamal Edmonds was captivated by his passion for hair care. He steadfastly began his career with salon assistantships in the mid 1990s and earned a scholarship to attend the prestigious Bennett Career Institute (BCI). Jamal graduated in the top percentile of his class from BCI, obtaining a certification in management as well as his cosmetology license from District of Columbia Board of Cosmetology. He is the founder and co- owner of Salon Lamaj in Washington, D.C.
            <br><br />
            For more than 10 years, Jamal's detailed artistry and precision have consistently created a buzz in the hair industry. Over the last several years, he was the recipient of countless Golden Scissors Awards such as &quot;Braider of the Year,&quot; &quot;Weave Master of the Year,&quot; and &quot;Male Stylist Overall Winner of the Year.&quot; In 2003, as the winner of the &quot;Celebrity Stylist Avalon Products&quot; contest, Jamal assisted celebrity hair stylists Neeko and Frederick Parnell during a photo shoot. And, throughout his career, Jamal's styling has been featured in countless hair magazines including: Sophisticates, Black Hair, Mazza International, Hype Hair, Style Q, Black Passion and Montage.
            <br><br />
            Jamal continues to maintain a solid clientele, providing his artistic ability and consultant services for training, wedding parties, proms, graduations and special events in Washington, D.C., as well as in cities across the United States, upon request. A master hair technician, Jamal's skillful hands continue to make a statement in the industry. He has provided his hair care expertise to the entertainment industry in the form of commercial print and runway. In 2003, Jamal was the hair stylist for a Zuri Sheer Beauty product advertisement. And, in 2006, he was the lead hair stylist for former MTV Vee Jay and television personality La La Vasquez's cover photo shoot in Montage magazine. In 2009 Jamal landed two (2) magazine covers for &quot;Orlando Style&quot; and &quot;LMH&quot; magazine as well as a full editorial spread in &quot;Zink!&quot; magazine. In 2011 Jamal joined the MIZANI design team as an educator and continues advanced education in cosmetology as he strives and continues to grow in this industry.
            <br><br />
            In addition to sharing his talent with clientele, Jamal allots time in his active schedule for mentoring up and coming stylists with trendsetting hair techniques in the Washington Metropolitan area. He occasionally participates in charitable organizations by donating his hair care services to those who are less fortunate.
            <br><br />
            Jamal Edmonds' superb hair designs are preferred for consultations, hair care advertisements and print campaigns as well as by celebrities. Contact Jamal for revolutionary techniques and wearable art!
          </div>
        </div>

        <div class="bio" data-rel="kovner" data-modal-class="sessions" data-width="620" data-animated="1">
          <div class="modal-header">
            <%= image_tag 'sessions/ninakovner.png', alt: "Nina Kovner photo" %>
            <span class="name">Nina Kovner</span>
            <span class="company"><a href="#">Passion Squared</a></span>
            <span class="line">&nbsp;</span>
          </div>
          <div class="text">
            From the shampoo room to the boardroom, Nina L. Kovner took the world of pro beauty by storm with her thoughtful attention to detail and never-ending tenacity. After 26 years of conquering obstacles in an ever-changing business landscape and helping to build one of the most recognized professional hair care brands in the world, she respectfully walked away from a career at the top to help small business owners and artists discover and live their purpose with passion and empower their businesses. Now, as Chief Awesomeness Empowerer at Passion Squared, she wakes up every morning saying to herself...&quot;How I am going to help people create their own kind of awesome today?&quot;
          </div>
        </div>

        <div class="bio" data-rel="evie_johnson" data-modal-class="sessions" data-width="620" data-animated="1">
          <div class="modal-header">
            <%= image_tag 'sessions/evie_johnson.png' %>
            <span class="name">Evie Johnson</span>
            <span class="company"><a href="#">Mizani</a></span>
            <span class="line">&nbsp;</span>
          </div>
          <div class="text">
            Evie Johnson is a salon owner, Certified Trichologist, platform stylist and educator trained under the most prestigious lines such as Vidal Sassoon, Pivot Point and Activia. Evie&apos;s expertise is also represented by prominent product lines such as Alberto Culver and Mizani. She is, hands down, a master of her craft. Evie holds the title of Master Stylist for Mizani's International Developmental Team. Specializing in hair shaping, coloring and treatment, Evie&apos;s creations can been seen and identified around the world. Simply and bluntly put she is on pace to be recognized as a global icon.
            <br><br>
            You can find her work almost everywhere. Whether it&apos;s thumbing through pages of spreads in trendy hair magazines, or ad campaigns by your favorite hair product lines, Evie&apos;s work speaks for itself. She has also personally styled celebrity notables and industry recording artist clients such as Tasha Smith, Trey Songz, Laurie Ann Gibson, Chrisette Michelle, Debra L. Lee, and Deborah Cox just to name a few.
            <br><br>
            Although Evie runs a tight schedule at her salon with her favorite, every day clients, she makes time to share and educate her fellow beauty professionals with her cutting edge styling techniques as well as her latest hair shaping trends and custom hair units. Using skills she&apos;s acquired over the years, Evie educates beauty professionals on taking their careers to levels some thought they could only imagine achieving. Whether it be photo shoots, film, everyday women, or wanting to be the star of your next event Evie is the stylist for you and for the beauty industry professional wanting to take their career to that next level Evie is the educator for you.
          </div>
        </div>

        <div class="bio" data-rel="cowan" data-modal-class="sessions" data-width="620" data-animated="1">
          <div class="modal-header">
            <%= image_tag 'sessions/terri_cowan.png' %>
            <span class="name">Terri Cowan</span>
            <span class="company"><a href="#">Professional Salon Concepts</a></span>
            <span class="line">&nbsp;</span>
          </div>
          <div class="text">
            <em>Innovation! Education! Commitment!</em> These are often the words used by those in the hair care industry to describe Terri Cowan. Terri alongside her husband, Steve Cowan own Professional Salon Concepts, the first beauty industry distributor to earn a place among Inc. Magazine's top 500 privately owned companies in America. They earned this honor not just once, but twice. They were named Modern Salon's &quot;Distributor of the Year&quot; and presented the Diamond Award for Excellence in Customer Service by American Salon Magazine.
            <br><br>
            As proud distributors, Terri and Steve have applied their background and experiences in business and training to build PSC into the industry leader that it is today.
            <br><br>
            Terri serves as one of the Salon Industry's leading and most respected speakers and trainers.  Her direct common sense approach to measuring and quantifying extraordinary customer service, combined with her undeniable sense of humor, is what her audiences enjoy the most.
            <br><br>
            Today, Terri and Steve Cowan act as consultants to many of the salons they serve. They are consultants for A Robert Cromeans Salons and are combining efforts with John Paul Mitchell Systems to spread their culture. In 2007 they started their journey into the world of the Paul Mitchell Schools.  Today they are Co-Owners to the Paul Mitchell schools in Escanaba, Michigan, Chicago, IL and Lombard, IL.
            <br><br>
            So their mission continues – &quot;To Grow the Beauty Industry, One Hairdresser at a time.&quot;
          </div>
        </div>

      </div>

    </div>
  </div>

  <div class="leading-ladies-wrapper">
    <%= image_tag 'sessions/leading-ladies.png', :class => 'u-full-width', :style => 'margin-bottom: -10px' %>
  </div>

  <div class="leading-ladies-panel">
    <div class="container">
      <h2 class="bb">Leading Ladies Panel</h2>
      <p>
        <strong>What do you get when you bring Eden Sassoon, Sonya Dove, Jenny Strebe, Tracey Hughes, and Najah Aziz together for an all-female panel?</strong>
        <span style="display: block;margin-top:5px">A star-studded, candid discussion tackling issues these women face as leading ladies in the beauty industry - and as wives, girlfriends, mothers, daughters, business women, entrepreneurs, educators, and philanthropists. Moderated by self-proclaimed &quot;lady at heart&quot; Gordon Miller, CEO of Hairbrained.</span></p>
    </div>
  </div>

  <div class="event-partners">
    <div class="container">
      <h2 class="bb">Event Partners</h2>
      <div class="logos">
        <%= image_tag 'sessions/logos/hanzo.jpg', :class => 'hanzo' %>
        <%= image_tag 'sessions/logos/passion_squared.png', :class => 'passion_squared' %>
        <%= image_tag 'sessions/logos/sola.jpg', :class => 'sola' %>
        <%= image_tag 'sessions/logos/solagenius.png', :class => 'solagenius' %>
        <%= image_tag 'sessions/logos/saloncentric.png', :class => 'saloncentric' %>

        <%= image_tag 'sessions/logos/paul_mitchell.png', :class => 'paul_mitchell' %>
        <%= image_tag 'sessions/logos/bioelements.png', :class => 'bioelements' %>
        <%= image_tag 'sessions/logos/muse.png', :class => 'muse' %>
        <%= image_tag 'sessions/logos/making_it_matter.png', :class => 'making_it_matter' %>
        <%= image_tag 'sessions/logos/mizani.png', :class => 'mizani' %>
        <%= image_tag 'sessions/logos/cosmoprof.png', :class => 'cosmoprof' %>

        <%= image_tag 'sessions/logos/leading_ladies.png', :class => 'leading_ladies' %>
        <%= image_tag 'sessions/logos/opi.png', :class => 'opi' %>
        <%= image_tag 'sessions/logos/hairbrained.png', :class => 'hairbrained' %>
        <%= image_tag 'sessions/logos/ienvy.png', :class => 'ienvy' %>
        <%= image_tag 'sessions/logos/salontech.png', :class => 'salontech' %>
        <%= image_tag 'sessions/logos/hairdo.png', :class => 'hairdo' %>
      </div>
    </div>
  </div>

  <div class="discounted-rooms">
    <div class="container">
      <a name="book_a_room" id="book_a_room"></a>
      <h2>Discounted Rooms Available</h2>
      <h3>The Blackstone Hotel <strong>$239 Per Night</strong></h3>

      <%= image_tag 'sessions/chicago-hotel.jpg' %>

      <div class="button-wrapper"><a href="http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=Sola%20Sessions%5ECHIAB%60SOLSOLA%7CSOLSOLE%60239.00%60USD%60false%604%609/23/18%609/25/18%609/3/2018&app=resvlink&stop_mobi=yes" target="_blank" class="button primary">Book Now</a></div>
      <h4>LIMITED AVAILABILITY</h4>

      <p>There are no shortage of awesome hotels on Michigan Avenue! If you prefer not to stay at The Blackstone, there are other great options within walking distance to Venue SIX10. Check out <a href="http://www.congressplazahotel.com/" target="_blank">The Congress Plaza Hotel</a>, <a href="https://www.wyndhamhotels.com/travelodge/chicago-illinois/travelodge-hotel-downtown-chicago/overview?CID=LC:TL::GGL:RIO:National:10073&iata=00065402" target="_blank">Travelodge Hotel Downtown Chicago</a>, <a href="http://www3.hilton.com/en/hotels/illinois/hilton-chicago-CHICHHH/index.html?SEO_id=zDMSE0US1HI2NaturalSearch3GoogleMyBusiness4GMBL_Jun5GMBL6CHICHHH7EN8i1" target="_blank">Hilton Chicago</a>, or <a href="http://www.essexinn.com/?utm_source=local-directories&utm_medium=organic&utm_campaign=travelclick-localconnect" target="_blank">Chicago's Essex Inn</a>.</p>



    </div>
  </div>

  <div class="watch-our-video">
    <div class="container">
      <a href="//www.youtube.com/watch?v=i6AUSUofPUg" class="play-video" rel="i6AUSUofPUg">
        <%= image_tag 'sessions/video_thumb_2017.jpg', alt: "Photo of the speaker at Sola Session.", :width => 953, :height => 458 %>
        <div class="play-btn">
          <span class="fa fa-5x fa-play"></span>
          <span class="text">Play Video</span>
        </div>
      </a>

      <!--<h6>Watch our video to learn more about the Sola Sessions</h6>-->
    </div>
  </div>

</div>

<div class="block-quote-testimonial" style="max-width: 900px; margin-bottom: 40px">
  <h3>I can't even begin to explain how magical of a time I had at the Sola Sessions! I am inspired and uplifted, and most of all, so grateful to be a part of the Sola family!</h3>
  <h4>Brittany Athey</h4>
</div>

<div class="callout blue-wave">
  <%= link_to 'To learn more about the Sola Sessions, click here!', :sessions, :class => 'heading-link' %>
</div>

<!--
<a name="future-sessions"></a>
<div class="future-sessions">
  <div class="container">
    <h1>Mark Your Calendar<br>for Future Sola Sessions!</h1>
    <div class="row circles">
      <div><%= link_to :san_jose_session do %><%= image_tag 'sessions/bay-area-circle.png' %><% end %></div>
    </div>
    <h2>More Info On Future Sessions Coming Soon!</h2>
  </div>
</div>
-->

<% content_for(:scripts) { javascript_include_tag('sessions_2018') } %>
<% content_for(:title) { 'Sola Sessions - Chicago' } %>
<% content_for(:og_image) { "http:#{asset_path('sessions/sola-sessions-hero.jpg')}" } %>
