<%= render 'shared/public_website/session_nav', :page => :about %>

<div class="session session-2018">    

  <div class="hero-carousel owl-carousel owl-theme">
    <div class="item">
      <div class="img-wrap"><%= image_tag 'sessions/chicago_hero.jpg', :width => 1386, :height => 711 %></div>
      <div class="item-content overlayed">
        <%= image_tag 'Sessions_Logo@2x.png', :class => 'sessions-logo' %>
        <p><strong>Chicago, IL. Monday, September 24th</strong></p>
        <div class="learn-more-button">
          <h5><%= t('page.sessions.learn_more') %></h5>
          <span class="fa fa-angle-down"></span>
        </div>
      </div>
    </div>
  </div>

  <div class="header">
    <div class="container">
      <h4>Tickets On Sale Monday, June 4th</h4>

      <div class="early-bird-general-admission">
        <div class="early-bird">
          <h2>Early Bird</h2>
          <p>Valid through June 30th</p>
          <div class="buy-your-ticket-wrapper">
            <a href="#" class="buy-your-ticket disabled" disabled>&#9658; &nbsp;Buy Your Ticket!</a>
          </div>
        </div>
        <div class="general-admission">
          <h2>General Admission</h2>
          <p>July 1st - September 24th</p>
          <div class="buy-your-ticket-wrapper">
            <a href="#" class="buy-your-ticket disabled" disabled>&#9658; &nbsp;Buy Your Ticket!</a>
          </div>
        </div>
      </div>

      <div class="ticket-includes">
        <p>Ticket includes:</p>
        <p><strong>Education, Sunday Workshop, Swag Bag, Prizes, Vendor Expo, Lunch, Happy Hour, Additional Non-Hair Classes. More to be Announced!</strong></p>
        <h4>Ticket Valued at $350</h4>
      </div>
    </div>
  </div>


  <div class="description">
    <div class="container">
      <h2 class="bb">Description</h2>
      <p>On Monday, September 24th, the Sola Sessions is heading to the Windy City for a Sessions event unlike any other!</p>

      <div class="row">
        <div class="six columns">
          <div class="check-row"><span class="checkmark">&nbsp;</span> Artistic Education from Industry Greats</div>
          <div class="check-row"><span class="checkmark">&nbsp;</span> Business &amp; Marketing Education</div>
          <div class="check-row"><span class="checkmark">&nbsp;</span> Vendor Expo</div>
          <div class="check-row"><span class="checkmark">&nbsp;</span> Cocktail Reception</div>
        </div>
        <div class="six columns">
          <div class="check-row"><span class="checkmark">&nbsp;</span> Inspiration and Community</div>
          <div class="check-row"><span class="checkmark">&nbsp;</span> Non-Hair Workshops</div>
          <div class="check-row"><span class="checkmark">&nbsp;</span> SWAG Bag, Prizes &amp; Giveaways</div>
          <div class="check-row"><span class="checkmark">&nbsp;</span> Sunday Cutting Class</div>
        </div>
      </div>

    </div>
  </div>

  <div class="date-and-time">
    <div class="container">
      <a name="when_and_where" id="when_and_where"></a>
      <h2 class="bb">When and Where</h2>
      
      <div class="row">
        <div class="six columns">   
          <h4 class="pink">On Sale Monday, June 4th</h4> 
          <p>
            Mon, September 24, 2018
            <br />
            9:00 AM - 6:30 PM CST
          </p>
          <p>
            <strong>Sunday Classroom</strong>
            <br />
            Sun, September 23, 2018
            <span class="check-row"><span class="checkmark">&nbsp;</span> Cutting Class with Hattori Hanzo Shears</span>
          </p>
        </div>

        <div class="six columns">
          <p>
            <a href="https://venuesix10.com/" target="_blank" class="blue-link"><strong>Venue SIX10</strong></a>
            <br />
            610 S. Michigan Avenue, Chicago, IL 60605
            <br />
            <span class="add-to-calendar-wrapper" data-title="Sola Session Chicago, IL" data-address="Venue SIX10, 610 S. Michigan Avenue, Chicago, IL 60605" data-description="On Monday, September 24th, the Sola Sessions is heading to the Windy City for a Sessions event unlike any other!" data-start="September 24, 2018 09:00" data-end="September 24, 2018 18:30"></span>
          </p>
        </div>
      </div>

    </div>
  </div>
 
  <div class="group-pic">
    <%= image_tag 'sessions/group-wide.jpg', :class => 'u-full-width' %>
  </div>

  <div class="getting-there">
    <div class="container">
      <div class="six columns">
        <h2 class="bb">Getting There</h2>
        <p>Venue SIX10 is located on Michigan Avenue directly across the street from beautiful Millenium Park. We have secured a room at the <a href="http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=Sola%20Sessions%5ECHIAB%60SOLSOLA%7CSOLSOLE%60239.00%60USD%60false%604%609/23/18%609/25/18%609/3/2018&app=resvlink&stop_mobi=yes" target="_blank">Blackstone Hotel</a>, which is on the same block, south of the venue, and a 1 minute walk. To reach Venue SIX10 and the Blackstone Hotel via Midway International Airport, expect an Uber or Lyft to take about 20 minutes. If you fly into O'Hare International Airport, except a ride share to take about 45 minutes. If you live in the area and plan to drive, parking through Venue SIX10 is $8 for 12 consecutive hours.</p>
      </div>
      <div class="six columns">
        <%= image_tag 'sessions/chicago_venue.png', :class => 'u-full-width' %>
      </div>
    </div>
  </div>

  <div class="speakers">
    <div class="container">
      <a name="speakers" id="speakers"></a>
      <h2 class="bb">Featured Presenters</h2>
      <h4 class="pink">Coming soon!</h4>
    </div>
  </div>

  <div class="discounted-rooms">
    <div class="container">
      <a name="book_a_room" id="book_a_room"></a>
      <h2>Discounted Rooms Available</h2>
      <h3>The Blackstone Hotel <strong>$239 Per Night</strong></h3>
      
      <%= image_tag 'sessions/chicago-hotel.jpg' %>

      <div class="button-wrapper"><a href="http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=Sola%20Sessions%5ECHIAB%60SOLSOLA%7CSOLSOLE%60239.00%60USD%60false%604%609/23/18%609/25/18%609/3/2018&app=resvlink&stop_mobi=yes" target="_blank" class="button primary">Book Now</a></div>
      <h4>LIMITED AVAILABILITY</h4>

      <p>There are no shortage of awesome hotels on Michigan Avenue! If you prefer not to stay at The Blackstone, there are other great options within walking distance to Venue SIX10. Check out <a href="http://www.congressplazahotel.com/" target="_blank">The Congress Plaza Hotel</a>, <a href="https://www.wyndhamhotels.com/travelodge/chicago-illinois/travelodge-hotel-downtown-chicago/overview?CID=LC:TL::GGL:RIO:National:10073&iata=00065402" target="_blank">Travelodge Hotel Downtown Chicago</a>, <a href="http://www3.hilton.com/en/hotels/illinois/hilton-chicago-CHICHHH/index.html?SEO_id=zDMSE0US1HI2NaturalSearch3GoogleMyBusiness4GMBL_Jun5GMBL6CHICHHH7EN8i1" target="_blank">Hilton Chicago</a>, or <a href="http://www.essexinn.com/?utm_source=local-directories&utm_medium=organic&utm_campaign=travelclick-localconnect" target="_blank">Chicago's Essex Inn</a>.</p>

      

    </div>
  </div>
    
  <div class="watch-our-video">
    <div class="container">
      <a href="//www.youtube.com/watch?v=i6AUSUofPUg" class="play-video" rel="i6AUSUofPUg">
        <%= image_tag 'sessions/video_thumb_2017.jpg', :width => 953, :height => 458 %>
        <div class="play-btn">
          <span class="fa fa-5x fa-play"></span>
          <span class="text">Play Video</span>
        </div>
      </a>

      <!--<h6>Watch our video to learn more about the Sola Sessions</h6>-->
    </div>
  </div>

</div>  

<div class="block-quote-testimonial" style="max-width: 900px; margin-bottom: 40px">
  <h3>I can't even begin to explain how magical of a time I had at the Sola Sessions! I am inspired and uplifted, and most of all, so grateful to be a part of the Sola family!</h3>
  <h4>Brittany Athey</h4>
</div>

<div class="callout blue-wave">
  <%= link_to 'To learn more about the Sola Sessions, click here!', :sessions, :class => 'heading-link' %>
</div>

<!--
<a name="future-sessions"></a>
<div class="future-sessions">
  <div class="container">
    <h1>Mark Your Calendar<br>for Future Sola Sessions!</h1>
    <div class="row circles">
      <div><%= link_to :san_jose_session do %><%= image_tag 'sessions/bay-area-circle.png' %><% end %></div>
    </div>
    <h2>More Info On Future Sessions Coming Soon!</h2>
  </div>
</div>
-->

<% content_for(:scripts) { javascript_include_tag('sessions_2018') } %>
<% content_for(:title) { 'Sola Sessions - Chicago' } %>
<% content_for(:og_image) { "http:#{asset_path('sessions/sola-sessions-hero.jpg')}" } %>