<div class="session session-2017">    

    <div class="header">
      <div class="container">

        <div class="logo calc-height">
          <%= image_tag 'sessions/sessions-logo-white.png', :width => 559, :height => 148 %>
        </div>

        <div class="tickets-on-sale-now calc-height">
          <h3>Tickets on Sale Now</h3>
        </div>

        <div class="buy-now calc-height">
          <a href="https://www.eventbrite.com/e/the-sola-sessions-tickets-29581651516" target="_blank">Buy Now</a>
        </div>

        <div class="rangled-wrapper text-center calc-height">
          <div class="rangled" style="padding-bottom:15px">
            <h1>Dallas, <span class="brand-pink">Texas</span></h1>
          </div>
        </div>

        <div class="rangled-wrapper date text-center calc-height">
          <div class="rangled">
            <h2 class="brand-pink">2017</h2>
            <h2>FEBRUARY 13th</h2>
          </div>
        </div>

        <div class="ticket-details calc-height">
          <div class="left">
            <div class="price">
              <span class="dollar-sign">$</span>
              <span class="amount">99</span>
            </div>
          </div>

          <div class="right">
            <div class="valued-at">
              <div class="rangled-wrapper">
                <div class="rangled small">
                  <p>Ticket Valued at $300</p>
                </div>
              </div>
            </div>

            <div class="ticket-includes">
              <span class="triangle"></span> 
              <span class="text">Ticket Includes: Education. Swag Bag. Prizes. Vendor Expo. Lunch. Happy Hour.</span>
            </div>
          </div>
        </div>

      </div>
    </div>



    <div class="description">
      <div class="container">
        <h2 class="bb">Description</h2>
        <p>On Monday, February 13th, we're bringing the industry's best exclusively to the Sola community for a full day of inspiration and education to help take your salon business to a higher level. We hope you're as excited as we are to kick off the first event of 2017 in Dallas, Texas!</p>
        <p><strong>Inspiration:</strong> Get inspired to grow your Sola business.</p>
        <p><strong>Education:</strong> Learn from the industry&apos;s best. <strong><em>Artistic, Marketing, Business.</em></strong></p>
        <p><strong>Community:</strong> Connect, collaborate and network with likeminded Sola rock stars.</p>
      </div>
    </div>

    <div class="date-and-time">
      <div class="container">
        <h2 class="bb">Date and Time</h2>
        <p>
          <a href="https://www.eventbrite.com/e/the-sola-sessions-tickets-29581651516" target="_blank">Purchase Tickets</a>
          <br />
          Mon, February 13, 2017
          <br />
          9:00 AM - 6:30 PM CST
          <br />
          <span id="add-to-calendar-wrapper"></span>
        </p>
      </div>
    </div>

    <div class="speakers">
      <div class="container">
        <h2 class="bb">Featured Presenters</h2>
        <div class="row">
          <div class="four columns" data-rel="horvath">
            <%= image_tag 'sessions/horvath.png' %>
            <span class="name">Kim Bennett Horvath</span>
            <span class="company"><a href="#">Sola Salon Studios</a></span>
          </div>
          <div class="four columns" data-rel="kovner">
            <%= image_tag 'sessions/kovner1.png' %>
            <span class="name">Nina Kovner</span>
            <span class="company"><a href="#">PassionSquared</a></span>
          </div>
          <div class="four columns" data-rel="wolff">
            <%= image_tag 'sessions/wolff.png' %>
            <span class="name">Jennie Wolff</span>
            <span class="company"><a href="#">Sola Salon Studios</a></span>
          </div>
        </div>
        <div class="row">
          <div class="four columns" data-rel="freeman">
            <%= image_tag 'sessions/freeman.png' %>
            <span class="name">Leah Freeman</span>
            <span class="company"><a href="#">L'ANZA</a></span>
          </div>
          <div class="four columns" data-rel="lightfoot">
            <%= image_tag 'sessions/lightfoot.png' %>
            <span class="name">Steven Lightfoot</span>
            <span class="company"><a href="#">Hattori Hanzo Shears</a></span>
          </div>
          <div class="four columns" data-rel="mosley">
            <%= image_tag 'sessions/mosley.png' %>
            <span class="name">John Mosley</span>
            <span class="company"><a href="#">Hattori Hanzo Shears</a></span>
          </div>
        </div>

        <div class="bios">

          <div class="bio" data-rel="horvath" data-modal-class="sessions" data-width="620" data-animated="1">
            <div class="modal-header">
              <%= image_tag 'sessions/horvath.png' %>
              <span class="name">Kim Bennett Horvath</span>
              <span class="company"><a href="http://www.solasalonstudios.com" target="_blank">Sola Salon Studios</a></span>
              <span class="line">&nbsp;</span>
            </div>
            <div class="text">
              Kim Bennett Horvath&apos;s passion as a hairdresser has taken her on a journey through the beauty industry for 25 years. As a licensed cosmetologist since the age of 18, she has continued to catapult her career and her business from her humble small town beginnings, and is dedicated to inspiring others in the beauty industry.
              <br><br>
              As a Senior National Educator for Paul Mitchell for the past 23 years she was one of the first Artistic Color Coordinators chosen to help launch Paul Mitchell&apos;s first color line, as well as being a Task Force Leader where she trained and coached regional Paul Mitchell National Educators. She received the Paul Mitchell Focus Award in 2012, and continues to educate and help salons grow their business.
              <br><br>
              While working in all aspects of traditional salons, Kim made the decision of salon ownership after meeting Sola&apos;s co-founders, Matt and Stratton, at a coffee shop in Denver, Colorado. Kim quickly became the first Sola Professional in early 2004! Throughout her 11+ years at Sola, Kim has supported and represented Sola Salon Studios in myriad ways and in early 2014 became Sola&apos;s Director of Education. Within this role, Kim uses her expertise to share the Sola Salon Studios culture to connect and build relationships throughout the Professional Beauty Industry. 
              <br><br>
              Her passion and success as a Sola Professional has spread like wildfire being asked to speak with industry leaders on better business practices and has been featured in many publications including Modern Salon, Behind the Chair, and Milady Pro. She was also recently recognized as a Role Model by American Salon. Kim is dedicated to creating education opportunities for Sola Professionals to inspire them to become successful business owners while also enjoying their best artistic self.
            </div>
          </div>

          <div class="bio" data-rel="kovner" data-modal-class="sessions" data-width="620" data-animated="1">
            <div class="modal-header">
              <%= image_tag 'sessions/kovner1.png' %>
              <span class="name">Nina Kovner</span>
              <span class="company"><a href="#">PassionSquared</a></span>
              <span class="line">&nbsp;</span>
            </div>
            <div class="text">
              From the shampoo room to the boardroom, Nina L. Kovner took the world of pro beauty by storm with her thoughtful attention to detail and never-ending tenacity. After 26 years of conquering obstacles in an ever-changing business landscape and helping to build one of the most recognized professional hair care brands in the world, she respectfully walked away from a career at the top to help small business owners and artists discover and live their purpose with passion and empower their businesses. Now, as Chief Awesomeness Empowerer at Passion Squared, she wakes up every morning saying to herself… &quot;How I am going to help people create their own kind of awesome today?&quot;
            </div>
          </div>
          
          <div class="bio" data-rel="wolff" data-modal-class="sessions" data-width="620" data-animated="1">
            <div class="modal-header">
              <%= image_tag 'sessions/wolff.png' %>
              <span class="name">Jennie Wolff</span>
              <span class="company"><a href="http://www.solasalonstudios.com" target="_blank">Sola Salon Studios</a></span>
              <span class="line">&nbsp;</span>
            </div>
            <div class="text">
              After graduating from Emory University with a degree in Creative Writing, Jennie ventured to Colorado to break into Denver&apos;s entertainment scene, and was quickly hired by Kroenke Sports &amp; Entertainment. After 5 years of managing Kroenke&apos;s Special Events department, Jennie joined Motive, a boutique creative marketing agency. While at Motive, she worked on experiential campaigns and digital projects for top brands such as Mars Chocolate, Van&apos;s Natural Foods and Cartoon Network. In 2013, Matt and Stratton (Sola&apos;s co-founders) convinced Jennie to turn her talents toward the salon industry. As Sola&apos;s Vice President of Marketing and Stylist Programs, Jennie manages the Sola marketing efforts top-to-bottom, including Sola&apos;s social media strategy, the Sola blog, Sola&apos;s website, all of Sola&apos;s traditional and nontraditional marketing campaigns, innovative stylist programs and more recently, the Sola Professional website and The Sola Sessions. 
            </div>
          </div>          

          <div class="bio" data-rel="freeman" data-modal-class="sessions" data-width="620" data-animated="1">
            <div class="modal-header">
            <%= image_tag 'sessions/freeman.png' %>
            <span class="name">Leah Freeman</span>
            <span class="company"><a href="#">L'ANZA</a></span>
              <span class="line">&nbsp;</span>
            </div>
            <div class="text">
              Celebrated as a color authority worldwide, Leah Freeman brings nearly 20 years of exceptional beauty industry experience.  From in-salon education to editorial and hair fashion design, Leah has traveled the globe as a platform artist and trainer.  Her designs have appeared in dozens of industry publications, including Modern Salon, American Salon, Salon Today, and Behind the Chair.  She has been recognized by the professional industry as one of the Top 20 Most Recognized Colorists, and is known for building powerful educational tools to excite and inspire colorists at all levels.  
              <br><br>
              A salon owner in the Chicago area, Leah has a clear understanding of how to foster creativity, while building a successful salon business.  She was named Citizen of the Year by her community, and also recognized by her peers as a &quot;40 Under Forty&quot;, for outstanding achievement in her field. As L&apos;ANZA Global Healing Color Director, she collaborates with the Global Creative Team to forecast on-trend color palettes and application techniques for the coming seasons.  She also serves as a mentor to our growing Tribe of Healing Artists, sharing her brilliant combination of passion, technical know-how, and creative vision.  
            </div>
          </div>  

          <div class="bio" data-rel="lightfoot" data-modal-class="sessions" data-width="620" data-animated="1">
            <div class="modal-header">
              <%= image_tag 'sessions/lightfoot.png' %>
              <span class="name">Steven Lightfoot</span>
              <span class="company"><a href="#">Hattori Hanzo Shears</a></span>
              <span class="line">&nbsp;</span>
            </div>
            <div class="text">
              A large part of expert stylist Steven Lightfoot's success in the industry is the direct result of his innate ability to connect with people on an emotional level. Lightfoot is a traveling powerhouse for many leading hair companies around the world, and currently teaches at a wide array of national hair shows, which allows him to highlight his ability to bring back beauty, luster, and style to any client's hair. "Steven is a very hard worker, a very talented guy. He is very creative," states Prive owner Laurent D'ufourg. "He is eager to train, to teach, and to share his knowledge. He's very on top of what's going on in the industry, and is always looking for new products, new ingredients, and new techniques."
              <br><br>
              Lightfoot's precision and fashion forward performance can be directly attributed to the tools that he chooses for his work. "I've used many different shears, but I come back to Hanzo every time for their superior product, and the superior support that I get from the company," states Lightfoot. "If I could cut with one set of shears for every haircut it would be with my HH-8. They are the perfect balance of elegance and versatility."
            </div>
          </div> 

          <div class="bio" data-rel="mosley" data-modal-class="sessions" data-width="620" data-animated="1">
            <div class="modal-header">
              <%= image_tag 'sessions/mosley.png' %>
              <span class="name">John Mosley</span>
              <span class="company"><a href="#">Hattori Hanzo Shears</a></span>
              <span class="line">&nbsp;</span>
            </div>
            <div class="text">
              Identifiable under the self-coined alias, &quot;Popular Nobody&quot; (which also stands as the trademarked name for his line of apparel and accessories) John Mosley also happens to be one of the most sought after barbers in the industry, (amongst the other cards he helms in his &quot;renaissance man&quot; deck of talent.) With 14 years of passion and experience, John&apos;s career has been on a steady incline of watching his dreams unfold since the days of his alma mater at John Wesley Barber College in Long Beach California. Hard work, insatiable drive, and an unstoppable tenacity for his craft, have enabled John to not only keep his chair in a constant rotation of devoted clientele, but his zest for what&apos;s new and next continues to keep his technical skills a cut above the rest. Eminem and Rihanna&apos;s acclaimed &quot;Monster Tour&quot;, Music Midtown and Austin City Limits can all add John&apos;s individualized aesthetics to their on-stage resumes. As can actor Larenz Tate, Idrs Elba, and one of the most talked about names in the music industry today, Kendrick Lamar. 
              <br><br>
              No stranger to the athletic world, John also works with the NFLPA and the Washington Nationals baseball team. In addition to movies, television and commercials, his body of visual precision has also been published in ESPN the Magazine, British GQ as well as Vogue,the cover of Billboard Magazine, Black Enterprise Magazine, Ebony , and Rolling Stone. Traveling around the country and being able to share his expert techniques with both students and professionals, (along with participating in Paul Mitchell Schools&apos; Men&apos;s Cutting DVD) stand as just some of the examples of John&apos;s warm and genuine personality being further fulfilled by giving back. Not only to his profession, but his community as well. Be it speaking at high schools in his city, or coaching Pop Warner football for youth, many are able to consider John an inspiration and a life long mentor.
            </div>
          </div> 

        </div>

      </div>
    </div>

    <div class="event-details">
      <div class="container">
        <h2 class="bb">Event Details</h2>
        <p><strong>$99 ticket</strong> (valued at $300!)<br/><a href="https://www.eventbrite.com/e/the-sola-sessions-tickets-29581651516" target="_blank">Purchase Tickets</a></p>
        <p>Includes: Education. Swag Bag. Prizes. Vendor Expo. Lunch. Happy Hour.</p>
        <p><strong>Main Event:</strong> 9am – 4:30pm<br/><strong>Happy Hour:</strong> 4:30pm – 6:30pm</p>
        <p style="margin-bottom:0"><strong>Featuring:</strong></p>
        <ul>
          <li>Nina Kovner (Passion Squared)</li>
          <li>Kim Bennett Horvath (Sola Salon Studios)</li>
          <li>Hattori Hanzo Shears (Steven Lightfoot and John Mosley)</li>
          <li>Jennie Wolff (Sola Salon Studios)</li>
          <li>L'ANZA (Leah Freeman)</li>
        </ul>
      </div>
    </div>

    <div class="event-partners">
      <div class="container">
        <h2 class="bb">Event Partners</h2>
        <%= image_tag 'sessions/dallas_event_partners.gif' %>
      </div>
    </div>

    <div class="watch-our-video">
      <div class="container">
        <h6>Watch our video to learn more about the Sola Sessions</h6>
        <a href="//www.youtube.com/watch?v=i6AUSUofPUg" class="play-video" rel="i6AUSUofPUg">
          <%= image_tag 'sessions/video_thumb.jpg', :width => 953, :height => 458 %>
          <div class="play-btn">
            <span class="fa fa-5x fa-play"></span>
            <span class="text">Play Video</span>
          </div>
        </a>
      </div>
    </div>

    <div class="discounted-rooms">
      <div class="container">
        
        <h2>Discounted Rooms Available</h2>
        <h4>LIMITED AVAILABILITY</h4>

        <%= image_tag 'sessions/charlotte_hotel.jpg' %>

        <h3>$179 Per Night<br>Complimentary Parking</h3>

        <div class="button-wrapper"><a href="https://www.omnihotels.com/hotels/dallas-mandalay/meetings/sola-salon-event" target="_blank" class="button primary">Book Now</a></div>

      </div>
    </div>

</div>

<div class="callout pink">
  <%= link_to 'To learn more about the Sola Sessions, click here!', :sessions, :class => 'heading-link' %>
</div>

<div class="callout blue" style="margin-bottom:20px;">
  <h4 style="font-weight:bold;font-size:29px;">Additional 2017 Sola Sessions Dates To Be Announced!</h4>
</div>

<% content_for(:scripts) { javascript_include_tag('sessions') } %>
<% content_for(:title) { 'Sola Sessions - Dallas' } %>
<% content_for(:og_image) { "http:#{asset_path('sessions/sola-sessions-hero.jpg')}" } %>