<div class="session session-2017">    

    <div class="header">
      <div class="container">

        <div class="logo calc-height">
          <%= image_tag 'sessions/sessions-logo-white.png', :width => 559, :height => 148 %>
        </div>

        <!--<div class="tickets-on-sale-now calc-height">
          <h3>Tickets on Sale Monday March 6th!</h3>
        </div>-->

        <div class="buy-now calc-height">
          <a href="https://www.eventbrite.com/e/the-sola-sessions-tickets-32471063826" target="_blank">Buy Now</a>
        </div>

        <div style="text-align:center">
        <div class="location-and-date">
          <div class="rangled-wrapper calc-height">
            <div class="rangled" style="padding-bottom:15px">
              <h1>Washington, <span class="brand-pink">D.C.</span></h1>
            </div>
          </div>

          <div class="rangled-wrapper date calc-height">
            <div class="rangled">
              <h2 class="brand-pink">2017</h2>
              <h2>Monday, May 8th</h2>
            </div>
          </div>
        </div>
        </div>

        <div class="ticket-details calc-height">
          <div class="left">
            <div class="price">
              <span class="dollar-sign">$</span>
              <span class="amount">99</span>
            </div>
          </div>

          <div class="right">
            <div class="valued-at">
              <div class="rangled-wrapper">
                <div class="rangled small">
                  <p>Ticket Valued at $300</p>
                </div>
              </div>
            </div>

            <div class="ticket-includes">
              <span class="triangle"></span> 
              <span class="text">Ticket Includes: Education. Swag Bag. Prizes. Vendor Expo. Lunch. Happy Hour.</span>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="description">
      <div class="container">
        <h2 class="bb">Description</h2>
        <p>On Monday, May 8th, we're bringing the industry's best exclusively to the Sola community for a full day of inspiration and education to help take your salon business to a higher level. We can't wait to see you in DC!</p>
        <p><strong>Inspiration:</strong> Get inspired to grow your Sola business.</p>
        <p><strong>Education:</strong> Learn from the industry&apos;s best. <strong><em>Artistic, Marketing, Business.</em></strong></p>
        <p><strong>Community:</strong> Connect, collaborate and network with likeminded Sola rock stars.</p>
      </div>
    </div>

    <div class="date-and-time">
      <div class="container">
        <h2 class="bb">When and Where</h2>
        <p>
          <a href="https://www.eventbrite.com/e/the-sola-sessions-tickets-32471063826" target="_blank">Buy Now</a>
          <br />
          Mon, May 8, 2017
          <br />
          9:00 AM - 6:30 PM ET
        </p>
        <p>
          Tysons Corner Marriott
          <br />
          8028 Leesburg Pike, Tysons, VA 22182
          <br />
          <span id="add-to-calendar-wrapper"></span>
        </p>
      </div>
    </div>

    <div class="description" style="margin: 10px 0 40px 0 !important; padding-top: 10px !important">
      <a id="additional-education" name="additional-education"></a>
      <div class="container">
        <h2 class="bb">Additional Education</h2>
        <p>Interested in additional education? We&apos;ve got you covered! Join us on Sunday, May 7th for two education opportunities with Hattori Hanzo Sehars and KLASS Beauty.</p>
        <p><strong>KLASS Beauty:</strong> From 12:30pm - 2:30pm, learn how to grow your business with cosmetics! Ticket price is $50 and includes bridal makeup, airbrush, headshots for promos, and more!</p>
        <p><strong>Hattori Hanzo Shears:</strong> From 4pm - 6pm, this class includes shear knowledge and a men&apos;s and women&apos;s haircut. Ticket price is FREE and attendees receive a discount of $50 or 10% (whichever is greater) on a new shear!</p>
        <p><a href="https://www.eventbrite.com/e/the-sola-sessions-tickets-32471063826" target="_blank">More Information</a></p>
      </div>
    </div>

    <div class="speakers">
      <div class="container">
        <h2 class="bb">Featured Presenters</h2>
        
        <p class="name" style="margin-top:-15px;margin-bottom:50px;text-align:center">Click Images to Read Artist Bios</p>

        <div class="row">
          <div class="four columns" data-rel="philips">
            <%= image_tag 'sessions/carolphilips.png' %>
            <span class="name">Carol Phillips</span>
            <span class="company"><a href="#">BEAUTEESMARTS</a></span>
          </div>
          <div class="four columns" data-rel="horvath">
            <%= image_tag 'sessions/horvath.png' %>
            <span class="name">Kim Bennett Horvath</span>
            <span class="company"><a href="#">Sola Salon Studios</a></span>
          </div>
          <div class="four columns" data-rel="wolff">
            <%= image_tag 'sessions/wolff.png' %>
            <span class="name">Jennie Wolff</span>
            <span class="company"><a href="#">Sola Salon Studios</a></span>
          </div>
        </div>
        <div class="row">
          <div class="four columns offset-by-two" data-rel="kobeski">
            <%= image_tag 'sessions/sarahk.png' %>
            <span class="name">Sarah Kobeski</span>
            <span class="company"><a href="#">Paul Mitchell</a></span>
          </div>
          <div class="four columns" data-rel="kocielski">
            <%= image_tag 'sessions/kocielski.png' %>
            <span class="name">Stephanie Kocielski</span>
            <span class="company"><a href="#">Paul Mitchell</a></span>
          </div>
        </div>
        <div class="row">
          <div class="four columns" data-rel="jenkins">
            <%= image_tag 'sessions/jenkins.png' %>
            <span class="name">Jada Jenkins</span>
            <span class="company"><a href="#">Mizani</a></span>
          </div>
          <div class="four columns" data-rel="evie">
            <%= image_tag 'sessions/evie.png' %>
            <span class="name">Evie Johnson</span>
            <span class="company"><a href="#">Mizani</a></span>
          </div>
          <div class="four columns" data-rel="edmonds">
            <%= image_tag 'sessions/edmonds.png' %>
            <span class="name">Jamal Edmonds</span>
            <span class="company"><a href="#">Mizani</a></span>
          </div>
        </div>

        <div class="bios">

          <div class="bio" data-rel="horvath" data-modal-class="sessions" data-width="620" data-animated="1">
            <div class="modal-header">
              <%= image_tag 'sessions/horvath.png' %>
              <span class="name">Kim Bennett Horvath</span>
              <span class="company"><a href="http://www.solasalonstudios.com" target="_blank">Sola Salon Studios</a></span>
              <span class="line">&nbsp;</span>
            </div>
            <div class="text">
              Kim Bennett Horvath&apos;s passion as a hairdresser has taken her on a journey through the beauty industry for more than 25 years. As a licensed cosmetologist since the age of 18, she has continued to catapult her career and her business from her humble small town beginnings, and is dedicated to inspiring others in the beauty industry.
              <br><br>
              As a Senior National Educator for Paul Mitchell for the past 24 years she was one of the first Artistic Color Coordinators chosen to help launch Paul Mitchell&apos;s first color line, as well as being a Task Force Leader where she trained and coached regional Paul Mitchell National Educators. She received the Paul Mitchell Focus Award in 2012, and continues to educate and help salons grow their business.
              <br><br>
              While working in all aspects of traditional salons, Kim made the decision of salon ownership after meeting Sola&apos;s co-founders, Matt and Stratton, at a coffee shop in Denver, Colorado and became the first Sola professional to sign a lease in early 2004! Throughout her 13 years at Sola, Kim has supported and represented Sola Salon Studios in myriad ways and in early 2014 was brought on to the Sola Home Office Team. Within her current role as Culture Ambassador and Director of Industry Relationships, Kim uses her expertise to share the Sola Salon Studios culture to connect and build relationships throughout the Professional Beauty Industry. 
              <br><br>
              Her passion and success as a Sola professional has spread like wildfire being asked to speak with industry leaders on better business practices and has been featured in many publications including Modern Salon, Behind the Chair, American Salon and Milady Pro. Kim is dedicated to creating opportunities for Sola professionals to inspire them to become successful business owners while also enjoying their best artistic self.
            </div>
          </div>

          <div class="bio" data-rel="philips" data-modal-class="sessions" data-width="620" data-animated="1">
            <div class="modal-header">
              <%= image_tag 'sessions/carolphilips.png' %>
              <span class="name">Carol Phillips</span>
              <span class="company"><a href="#">BEAUTEESMARTS</a></span>
              <span class="line">&nbsp;</span>
            </div>
            <div class="text">
              Carol Phillips is one of the most acclaimed professional speakers to surface within the beauty industry. Carol&apos;s sole (or soul) focus is directed toward boosting salon &amp; spa sales. As the &quot;Diva of Retail&quot; she has helped thousands of beauty businesses make their sales soar. Carol Phillips unique selling approach enabled her beauty business to average 55% of total revenues with retail sales alone, causing her to being named American Salon&apos;s first Retailer of the Year by American Salon Magazine. The award was given for creative excellence in salon merchandising, service and sales techniques in the art of salon retailing, setting the groundwork for her book, <em>In The Bag</em>.  Carol has produced over 25 DVD and audio spa sales training and 2 cutting edge in-spa music programs. Carol helped co-author ISPA&apos;s team that wrote the definitive book, <em>Retail Spa Management</em>.  Now beauty school students and beauty pros around the world are being trained with the first complete beautee sales and marketing online learning curriculum designed and produced by Carol Phillips.
              <br><br> 
              Carol Phillips is the founder of BeauteeSmarts, which offers full service consulting, marketing, branding, service training, product development and sales programs. Just a few of the amazing beautee brands her group has done work for: John Paul Mitchell Systems, Redken, Jane Iredale, Intraceuticals, Osmosis, Environ and Eminence. Carol has trained great spas like Miraval, Hilton Hotels, Waldorf Astoria,  Encore, Wynn, Canyon Ranch Resorts, Elizabeth Arden Red Door Salons, SupeCuts, JCPENNEY Salons and Exhale Spas, Carol&apos;s company designed the original prototype spas for Estee Lauder&apos;s-Origins Spa and General Nutrition Centres. 
              <br><br> 
              If you have something to sell... Carol will help you sell more of it. 
            </div>
          </div>
          
          <div class="bio" data-rel="wolff" data-modal-class="sessions" data-width="620" data-animated="1">
            <div class="modal-header">
              <%= image_tag 'sessions/wolff.png' %>
              <span class="name">Jennie Wolff</span>
              <span class="company"><a href="http://www.solasalonstudios.com" target="_blank">Sola Salon Studios</a></span>
              <span class="line">&nbsp;</span>
            </div>
            <div class="text">
              After graduating from Emory University with a degree in Creative Writing, Jennie ventured to Colorado to break into Denver&apos;s entertainment scene, and was quickly hired by Kroenke Sports & Entertainment. After 5 years of managing Kroenke&apos;s Special Events department, Jennie joined Motive, a boutique creative marketing agency. While at Motive, she worked on experiential campaigns and digital projects for top brands such as Mars Chocolate, Van&apos;s Natural Foods and Cartoon Network. In 2013, Matt and Stratton (Sola&apos;s co-founders) convinced Jennie to turn her talents toward the salon industry. As Sola&apos;s Vice President of Marketing and Education, Jennie manages the Sola marketing efforts top-to-bottom, including Sola&apos;s social media strategy, the Sola blog, Sola&apos;s website, all of Sola&apos;s traditional and nontraditional marketing campaigns, innovative stylist programs, the Sola Pro App and The Sola Sessions. Jennie is fully dedicated to creating support tools and educational resources to better equip Sola professionals on their journeys as independent salon owners.
            </div>
          </div>          

          <div class="bio" data-rel="kobeski" data-modal-class="sessions" data-width="620" data-animated="1">
            <div class="modal-header">
            <%= image_tag 'sessions/sarahk.png' %>
            <span class="name">Sarah Kobeski</span>
            <span class="company"><a href="#">Paul Mitchell</a></span>
              <span class="line">&nbsp;</span>
            </div>
            <div class="text">
              Energetic, passionate and inspiring, Sarah Kobeski is a true Paul Mitchell® enthusiast and believer in hairdressers everywhere. Sarah has mentored and coached stylists nationwide on not just the beauty of the craft, but on the potential business opportunities afforded by each guest. Seeing where our hands and hearts can take us sparks Sarah&apos;s passion. &quot;Creating and sustaining a positive culture is just as vital to our industry as being a master of our technical abilities,&quot; she believes.
            </div>
          </div>  

          <div class="bio" data-rel="kocielski" data-modal-class="sessions" data-width="620" data-animated="1">
            <div class="modal-header">
              <%= image_tag 'sessions/kocielski.png' %>
              <span class="name">Stephanie Kocielski</span>
              <span class="company"><a href="#">Paul Mitchell</a></span>
              <span class="line">&nbsp;</span>
            </div>
            <div class="text">
              Stephanie Kocielski&#39;s artistry, exuberance, expert skills and extensive experience make her one of the most sought-after platform artists worldwide. A few moments in one of her classes and you will understand why: Stephanie believes passionately and unabashedly in her award-winning art and loves to share this passion with others. Her vision has always been to make people feel great, because she had that experience with Mr. Paul Mitchell himself. Stephanie got her start with John Paul Mitchell Systems&reg; at a hair show when The Conditioner&trade; and Hair Sculpting Lotion&trade; literally fell at her feet. She asked herself, &quot;Where could these products take me?&quot; Since then, she has fully embraced the Paul Mitchell culture—from humble beginnings in beauty school to working behind the chair at A Robert Cromeans Salon, traveling the world as a platform artist and serving in her current position as Vice President of Education for John Paul Mitchell Systems&reg;. She is committed to making hairdressers successful, and she invites you to discover why Paul Mitchell&reg; should be your coach. Stephanie&apos;s motto is: &quot;Bring your talent to work but don&#39;t forget your RESPONSIBILITY.&quot;
            </div>
          </div> 

          <div class="bio" data-rel="jenkins" data-modal-class="sessions" data-width="620" data-animated="1">
            <div class="modal-header">
              <%= image_tag 'sessions/jenkins.png' %>
              <span class="name">Jada Jenkins</span>
              <span class="company"><a href="#">Mizani</a></span>
              <span class="line">&nbsp;</span>
            </div>
            <div class="text">
              Jada Jenkins is a Hair Care Connoisseur who has been devoted to her craft for over 10 years. She is an expert in natural hair care, extensions, cutting and superb hair styling. Jada is a well known and sought after stylist that has been featured locally and internationally in Black Hair Sophisticates Magazine, Hair N&apos; Motion, Hair&apos;s How Magazine, styling books and passion magazines. Jada has also had the opportunity to serve as a Celebrity Stylist to VIP clientele that includes actress and comedienne, Kym Whitley; Redskins Quarterback, Robert Griffin III; singer, songwriter and reality television star, Lelee Lyons from SWV; BET CEO, Debra Lee and many more.
              <br><br>
              Jada&apos;s work has extended to New York Mercedes Benz Fashion Week working on the following shows: Anna Francesca, Concept Korea, Marlon Gobel, Nicolas K, Porche, Supima and Unbothered. Jada has also had the honor of being a stylist in Los Angeles Fashion Week, Men&apos;s Fashion Week, New York Bridal Fashion Week, The BET Music Awards, and Michael Kors Fashion Show, just to name a few! Jada is an educator for one of the L'Oréal brands Mizani, where she travels domestic, illustrating the appropriate way to use the product as well as executing Mizani's mission. 
              <br><br>
              Jada received her formal training from the Suitland High School Cosmetology Program. She has received several certifications, including an auxiliary certification in non-surgical hair replacement. Her portfolio boasts cutting edge, innovative and trendy styles that make you feel good on the inside while looking good on the outside. Jada preaches to her clients that a healthy, good-looking head of hair is the evidence of a strong, confident person who appreciates themselves and others. Jada truly believes that quality hair care is a key factor of good self-esteem.
              <br><br>
              Since the age of five, Jada has yearned to be a Hair Stylist. With her undeniable charm, magnetic personality and attention to detail, she strives to make each and every client experience unforgettable! Jada is certain that her destiny is to bring the inner beauty to the outer surface through the quality care of ones&apos; hair. Thus far Jada has succeeded in bringing forth the PINK.
            </div>
          </div> 

          <div class="bio" data-rel="evie" data-modal-class="sessions" data-width="620" data-animated="1">
            <div class="modal-header">
              <%= image_tag 'sessions/evie.png' %>
              <span class="name">Evie Johnson</span>
              <span class="company"><a href="#">Mizani</a></span>
              <span class="line">&nbsp;</span>
            </div>
            <div class="text">
              Evie Johnson is a salon owner, Certified Trichologist, platform stylist and educator trained under the most prestigious lines such as Vidal Sassoon, Pivot Point and Activia. Evie&apos;s expertise is also represented by prominent product lines such as Alberto Culver and Mizani. She is, hands down, a master of her craft. Evie holds the title of Master Stylist for Mizani's International Developmental Team. Specializing in hair shaping, coloring and treatment, Evie&apos;s creations can been seen and identified around the world. Simply and bluntly put she is on pace to be recognized as a global icon. 
              <br><br>
              You can find her work almost everywhere. Whether it&apos;s thumbing through pages of spreads in trendy hair magazines, or ad campaigns by your favorite hair product lines, Evie&apos;s work speaks for itself. She has also personally styled celebrity notables and industry recording artist clients such as Tasha Smith, Trey Songz, Laurie Ann Gibson, Chrisette Michelle, Debra L. Lee, and Deborah Cox just to name a few.
              <br><br>
              Although Evie runs a tight schedule at her salon with her favorite, every day clients, she makes time to share and educate her fellow beauty professionals with her cutting edge styling techniques as well as her latest hair shaping trends and custom hair units. Using skills she&apos;s acquired over the years, Evie educates beauty professionals on taking their careers to levels some thought they could only imagine achieving. Whether it be photo shoots, film, everyday women, or wanting to be the star of your next event Evie is the stylist for you and for the beauty industry professional wanting to take their career to that next level Evie is the educator for you.
            </div>
          </div> 

          <div class="bio" data-rel="edmonds" data-modal-class="sessions" data-width="620" data-animated="1">
            <div class="modal-header">
              <%= image_tag 'sessions/edmonds.png' %>
              <span class="name">Jamal Edmonds</span>
              <span class="company"><a href="#">Mizani</a></span>
              <span class="line">&nbsp;</span>
            </div>
            <div class="text">
              At an early age, native Washingtonian Jamal Edmonds was captivated by his passion for hair care. He steadfastly began his career with salon assistantships in the mid 1990s and earned a scholarship to attend the prestigious Bennett Career Institute (BCI). Jamal graduated in the top percentile of his class from BCI, obtaining a certification in management as well as his cosmetology license from District of Columbia Board of Cosmetology. He is the founder and co-owner of Salon Lamaj in Washington, D.C. 
              <br><br>
              For more than 10 years, Jamal&apos;s detailed artistry and precision have consistently created a buzz in the hair industry. Over the last several years, he was the recipient of countless Golden Scissors Awards such as &quot;Braider of the Year,&quot; &quot;Weave Master of the Year,&quot; and &quot;Male Stylist Overall Winner of the Year.&quot; In 2003, as the winner of the &quot;Celebrity Stylist Avalon Products&quot; contest, Jamal assisted celebrity hair stylists Neeko and Frederick Parnell during a photo shoot. And, throughout his career, Jamal&apos;s styling has been featured in countless hair magazines including: Sophisticates, Black Hair, Mazza International, Hype Hair, Style Q, Black Passion and Montage.
              <br><br>
              Jamal continues to maintain a solid clientele, providing his artistic ability and consultant services for training, wedding parties, proms, graduations and special events in Washington, D.C., as well as in cities across the United States, upon request. A master hair technician, Jamal&apos;s skillful hands continue to make a statement in the industry. He has provided his hair care expertise to the entertainment industry in the form of commercial print and runway. In 2003, Jamal was the hair stylist for a Zuri Sheer Beauty product advertisement. And, in 2006, he was the lead hair stylist for former MTV Vee Jay and television personality La La Vasquez&apos;s cover photo shoot in Montage magazine. In 2009 Jamal landed two (2) magazine covers for &quot;Orlando Style&quot; and &quot;LMH&quot; magazine as well as a full editorial spread in &quot;Zink!&quot; magazine. In 2011 Jamal joined the MIZANI design team as an educator and continues advanced education in cosmetology as he strives and continues to grow in this industry. 
              <br><br>
              In addition to sharing his talent with clientele, Jamal allots time in his active schedule for mentoring up and coming stylists with trendsetting hair techniques in the Washington Metropolitan area. He occasionally participates in charitable organizations by donating his hair care services to those who are less fortunate. 
              <br><br>
              Jamal Edmonds&apos; superb hair designs are preferred for consultations, hair care advertisements and print campaigns as well as by celebrities. Contact Jamal for revolutionary techniques and wearable art! 
            </div>
          </div>

        </div>
     
      </div>
    </div>

    <div class="event-details">
      <div class="container">
        <h2 class="bb">Event Details</h2>
        <p><strong>$99 ticket</strong> (valued at $300!)<br/><a href="https://www.eventbrite.com/e/the-sola-sessions-tickets-32471063826" target="_blank">Buy Now</a></p>
        <p>Includes: Education. Swag Bag. Prizes. Vendor Expo. Lunch. Happy Hour.</p>
        <p><strong>Main Event:</strong> 9am – 4:30pm<br/><strong>Happy Hour:</strong> 4:30pm – 6:30pm</p>
        
        <p style="margin-bottom:0"><strong>Featuring:</strong></p>
        <ul>
          <li>Kim Bennett Horvath (Sola Salon Studios)</li>
          <li>Carol Phillips (BEAUTEESMARTS)</li>
          <li>Jennie Wolff (Sola Salon Studios)</li>
          <li>Paul Mitchell (Colin Caruso, Sarah Kobeski)</li>
          <li>Mizani (Jamal Edmonds, Evie Johnson, Jada Jenkins)</li>
        </ul>
      </div>
    </div>

    <div class="event-partners">
      <div class="container">
        <h2 class="bb">Event Partners</h2>
        <%= image_tag 'sessions/dc_event_partners.gif' %>
      </div>
    </div>
    
    <div class="discounted-rooms">
      <div class="container">
        
        <h2>Discounted Rooms Available</h2>
        <h4>LIMITED AVAILABILITY</h4>

        <%= image_tag 'sessions/dc-hotel.jpg' %>

        <h3>$199 Per Night</h3>

        <div class="button-wrapper"><a href="http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=Sola%20Sessions%20Washington%20DC%5EWASTC%60SOLSOLA%60199.00%60USD%60false%601%605/7/17%605/9/17%604/21/17&app=resvlink&stop_mobi=yes" target="_blank" class="button primary">Book Now</a></div>

      </div>
    </div>
    
    <div class="watch-our-video">
      <div class="container">
        <h6>Watch our video to learn more about the Sola Sessions</h6>
        <a href="//www.youtube.com/watch?v=i6AUSUofPUg" class="play-video" rel="i6AUSUofPUg">
          <%= image_tag 'sessions/video_thumb_2017.jpg', :width => 953, :height => 458 %>
          <div class="play-btn">
            <span class="fa fa-5x fa-play"></span>
            <span class="text">Play Video</span>
          </div>
        </a>
      </div>
    </div>

</div>  

<div class="callout pink">
  <%= link_to 'To learn more about the Sola Sessions, click here!', :sessions, :class => 'heading-link' %>
</div>

<a name="future-sessions"></a>
<div class="future-sessions">
  <div class="container">
    <h1>Mark Your Calendar<br>for Future Sola Sessions!</h1>
    <div class="row circles">
      <div class="three columns offset-by-three"><%= image_tag 'sessions/florida-circle.png' %></div>
      <div class="three columns"><%= image_tag 'sessions/bay-area-circle.png' %></div>
    </div>
    <h2>More Info On Future Sessions Coming Soon!</h2>
  </div>
</div>

<% content_for(:scripts) { javascript_include_tag('sessions') } %>
<% content_for(:title) { 'Sola Sessions - Washington D.C.' } %>
<% content_for(:og_image) { "http:#{asset_path('sessions/sola-sessions-hero.jpg')}" } %>