  <div class="session">    

    <div class="hero-image hero-desktop"><%= image_tag 'sessions/sola-sessions-hero.jpg' %></div>

    <div class="container">
      <div class="description">
        We hope you can join us for one of The Sola Sessions, coming to a city near you! The Sessions are all about inspiring, motivating and educating Sola professionals, while also learning from and collaborating with our awesome, dynamic community. We're bringing the industry's best to you for intimate, Sola-exclusive events across the country. Click on the cities below to learn more about each unique Sola Session. We can’t wait to meet you!
      </div>
    </div>

    <div class="container">
      <div class="row cities">
        <div class="three columns"><a href="#" onclick="return false;" style="cursor:default" class="button block primary long-text">Denver</a></div>
        <div class="three columns"><a href="#future-sessions" class="button block long-text">Minneapolis</a></div>
        <div class="three columns"><a href="#future-sessions" class="button block long-text">Orange County</a></div>
        <div class="three columns"><a href="#future-sessions" class="button block long-text">Charlotte</a></div>
      </div>
    </div>

    <div class="details">
      <div class="container">
        <h1>Denver, Colorado</h1>
        <h2>February 8th, 2016</h2>
        <h3>At the Curtis Hotel</h3>
        <h4>1405 Curtis Street, Denver, CO 80202</h4>
      </div>
    </div>

    <div class="speakers">
      <div class="container">
        <div class="row">
          <div class="three columns">
            <%= image_tag 'sessions/kovner.png' %>
            <span class="name">Nina Kovner</span>
            <span class="company"><a href="http://passionsquared.net/" target="_blank">Passion Squared</a></span>
          </div>
          <div class="three columns">
            <%= image_tag 'sessions/horvath.png' %>
            <span class="name">Kim Bennett Horvath</span>
            <span class="company"><a href="http://www.solasalonstudios.com" target="_blank">Sola Salon Studios</a></span>
          </div>
          <div class="three columns">
            <%= image_tag 'sessions/alvarez.png' %>
            <span class="name">Luis Alvarez</span>
            <span class="company"><a href="http://www.aquage.com/" target="_blank">Aquage</a></span>
          </div>
          <div class="three columns">
            <%= image_tag 'sessions/founders.png' %>
            <span class="name">Stratton Smith &amp; Matt Briger</span>
            <span class="company"><a href="http://www.solasalonstudios.com" target="_blank">Sola Salon Studios</a></span>
          </div>
        </div>
        <div class="row">
          <div class="three columns">
            <%= image_tag 'sessions/muldoon.png' %>
            <span class="name">DJ Muldoon</span>
            <span class="company"><a href="http://www.thefactoryhair.com/" target="_blank">theFactory</a></span>
          </div>
          <div class="three columns">
            <%= image_tag 'sessions/villa.png' %>
            <span class="name">Sam Villa</span>
            <span class="company"><a href="http://www.redken.com/international/" target="_blank">Redken</a></span>
          </div>
          <div class="three columns">
            <%= image_tag 'sessions/wolff.png' %>
            <span class="name">Jennie Wolff</span>
            <span class="company"><a href="http://www.solasalonstudios.com" target="_blank">Sola Salon Studios</a></span>
          </div>
          <div class="three columns">
            <%= image_tag 'sessions/cole.png' %>
            <span class="name">Michael Cole</span>
            <span class="company"><a href="http://www.redken.com/international/" target="_blank">Redken</a></span>
          </div>
        </div>

        <!--<div class="text-center"><button>Click here for bios</button></div>-->
        <h2 class="also-featuring">Also featuring education by: Sanitas Skincare, Glo Therapeutics &amp; More.</h2>

      </div>
    </div>

    <!--
    <div class="bios">
      <div class="container">

        <div class="bio">
          <div class="name-and-company">Nina Kovner: <a href="#">Passion Squared</a></div>
          <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
        </div>

        <div class="bio">
          <div class="name-and-company">Nina Kovner: <a href="#">Passion Squared</a></div>
          <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
        </div>

         <div class="bio">
          <div class="name-and-company">Nina Kovner: <a href="#">Passion Squared</a></div>
          <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
        </div> 

        <div class="text-center"><button>Close bios</button></div>    

      </div>
    </div>
    -->

    <div class="container">
      <div class="agenda">
        <div class="banner"></div>
        <p><span class="time">8:00am:</span> Registration Opens. Coffee, Tea &amp; Light Breakfast.</p>
        <p><span class="time">9:00am-11:30am:</span> Inspiration. Business &amp; Marketing.</p>
        <p><span class="time">11:30am-12:30pm:</span> Lunch.</p>
        <p><span class="time">12:30pm-5:00pm:</span> Artistic Education. Additional Side Sessions.</p>
        <p><span class="time">5:00pm-7:30pm:</span> Mix &amp; Mingle. Drinks &amp; Appetizers.</p>
      </div>
      <div class="ticketing">
        <h1><span>$</span>99 per ticket</h1>
        <div class="button-wrapper"><a href="https://www.eventbrite.com/e/the-sola-sessions-tickets-19501830500?aff=es2" target="_blank" class="button">Buy Now</a></div>
      </div>
    </div>

  </div>

</div>

<div class="callout black">
  <div class="container">
    Call <span class="brand-blue">720-889-4725</span> and mention Sola Salon Studios to book your room at a discounted rate.
  </div>
</div>

<a name="future-sessions"></a>
<div class="future-sessions">
  <div class="container">
    <h1>Mark Your Calendar<br>for the Sola Sessions</h1>
    <div class="row circles">
      <div class="four columns"><%= image_tag 'sessions/minneapolis-circle.png' %></div>
      <div class="four columns"><%= image_tag 'sessions/orange-county-circle.png' %></div>
      <div class="four columns"><%= image_tag 'sessions/charlotte-circle.png' %></div>
    </div>
    <h2>More Info On Future Sessions Coming Soon!</h2>
  </div>
</div>

<div class="callout blue">
  <div class="quote">&ldquo;There are no limits. It's <strong>your</strong> business!&rdquo;</div>
  <div class="quote-author">Shelia Taylor &ndash; Ami Hair Studio</div>
  <%= link_to 'View More Testimonials', :testimonials, :class => 'button inverted', :style => 'margin-top:30px' %>
</div>