  <div class="session">    

    <div class="hero-image hero-desktop"><%= image_tag 'sessions/sola-sessions-hero.jpg' %></div>

    <div class="container">
      <div class="description">
        We hope you can join us for one of The Sola Sessions, coming to a city near you! The Sessions are all about inspiring, motivating and educating Sola professionals, while also learning from and collaborating with our awesome, dynamic community. We're bringing the industry's best to you for intimate, Sola-exclusive events across the country. Click on the cities below to learn more about each unique Sola Session. We can't wait to meet you!
      </div>
    </div>

    <div class="container">
      <div class="row cities">
        <div class="three columns"><a href="#" onclick="return false;" style="cursor:default" class="button block primary long-text">Denver</a></div>
        <div class="three columns"><a href="#future-sessions" class="button block long-text">Minneapolis</a></div>
        <div class="three columns"><a href="#future-sessions" class="button block long-text">Orange County</a></div>
        <div class="three columns"><a href="#future-sessions" class="button block long-text">Charlotte</a></div>
      </div>
    </div>

    <div class="details">
      <div class="container">
        <h1>Denver, Colorado</h1>
        <h2>February 8th, 2016</h2>
        <h3>At the Curtis Hotel</h3>
        <h4>1405 Curtis Street, Denver, CO 80202</h4>
      </div>
    </div>

    <div class="speakers">
      <div class="container">
        <div class="row">
          <div class="three columns">
            <%= image_tag 'sessions/kovner.png' %>
            <span class="name">Nina Kovner</span>
            <span class="company"><a href="http://passionsquared.net/" target="_blank">Passion Squared</a></span>
          </div>
          <div class="three columns">
            <%= image_tag 'sessions/horvath.png' %>
            <span class="name">Kim Bennett Horvath</span>
            <span class="company"><a href="http://www.solasalonstudios.com" target="_blank">Sola Salon Studios</a></span>
          </div>
          <div class="three columns">
            <%= image_tag 'sessions/alvarez.png' %>
            <span class="name">Luis Alvarez</span>
            <span class="company"><a href="http://www.aquage.com/" target="_blank">Aquage</a></span>
          </div>
          <div class="three columns">
            <%= image_tag 'sessions/founders.png' %>
            <span class="name">Stratton Smith &amp; Matt Briger</span>
            <span class="company"><a href="http://www.solasalonstudios.com" target="_blank">Sola Salon Studios</a></span>
          </div>
        </div>
        <div class="row">
          <div class="three columns">
            <%= image_tag 'sessions/muldoon.png' %>
            <span class="name">DJ Muldoon</span>
            <span class="company"><a href="http://www.thefactoryhair.com/" target="_blank">theFactory</a></span>
          </div>
          <div class="three columns">
            <%= image_tag 'sessions/villa.png' %>
            <span class="name">Sam Villa</span>
            <span class="company"><a href="http://www.redken.com/international/" target="_blank">Redken</a></span>
          </div>
          <div class="three columns">
            <%= image_tag 'sessions/wolff.png' %>
            <span class="name">Jennie Wolff</span>
            <span class="company"><a href="http://www.solasalonstudios.com" target="_blank">Sola Salon Studios</a></span>
          </div>
          <div class="three columns">
            <%= image_tag 'sessions/cole.png' %>
            <span class="name">Michael Cole</span>
            <span class="company"><a href="http://www.redken.com/international/" target="_blank">Redken</a></span>
          </div>
        </div>

        <div class="bios">

          <div class="bio">
            <div class="name-and-company">Nina Kovner: <a href="http://www.passionsquared.net/" target="_blank">Passion Squared</a></div>
            <div class="text">From the shampoo room to the boardroom, Nina L. Kovner took the world of pro beauty by storm with her thoughtful attention to detail and never-ending tenacity. After 26 years of conquering obstacles in an ever-changing business landscape and helping to build one of the most recognized professional hair care brands in the world, she respectfully walked away from a career at the top to help small business owners and artists discover and live their purpose with passion and empower their businesses. Now, as Chief Awesomeness Empowerer at Passion Squared, she wakes up every morning saying to herself... &quot;How I am going to help people create their own kind of awesome today?&quot;</div>
          </div>

          <div class="bio">
            <div class="name-and-company">Kim Bennett Horvath &ndash; Director of Education: <a href="http://www.solasalonstudios.com" target="_blank">Sola Salon Studios</a></div>
            <div class="text">
              Kim Bennett Horvath's passion as a hairdresser has taken her on a journey through the beauty industry for 25 years. As a licensed cosmetologist since the age of 18, she has continued to catapult her career and her business from her humble small town beginnings, and is dedicated to inspiring others in the beauty industry.
              <br><br>
              As a Senior National Educator for Paul Mitchell for the past 23 years she was one of the first Artistic Color Coordinators chosen to help launch Paul Mitchell's first color line, as well as being a Task Force Leader where she trained and coached regional Paul Mitchell National Educators. She received the Paul Mitchell Focus Award in 2012, and continues to educate and help salons grow their business.
              <br><br>
              While working in all aspects of traditional salons, Kim made the decision of salon ownership after meeting Sola's co-founders, Matt and Stratton, at a coffee shop in Denver, Colorado. Kim quickly became the first Sola Professional in early 2004! Throughout her 11+ years at Sola, Kim has supported and represented Sola Salon Studios in myriad ways and in early 2014 became Sola's Director of Education. Within this role, Kim uses her expertise to share the Sola Salon Studios culture to connect and build relationships throughout the Professional Beauty Industry. 
              <br><br>
              Her passion and success as a Sola Professional has spread like wildfire being asked to speak with industry leaders on better business practices and has been featured in many publications including Modern Salon, Behind the Chair, and Milady Pro. She was also recently recognized as a Role Model by American Salon. Kim is dedicated to creating education opportunities for Sola Professionals to inspire them to become successful business owners while also enjoying their best artistic self.
            </div>
          </div>

           <div class="bio">
            <div class="name-and-company">Luis Alvarez: <a href="http://www.aquage.com/" target="_blank">Aquage</a></div>
            <div class="text">
              Join Aquage Co-founder, VP of Creative and award-winning designer, Luis Alvarez, at this exciting event.
              <br><br>
              Luis was knighted into the L'Ordre de la Chevalerie, one of the highest honors given by Intercoiffure, he was
              voted one of Modern Salon’s 50 Most Influential Hairdressers and awarded the prestigious LEO Award from
              Pivot Point International.
              <br><br>
              His internationally renowned expertise in product development, image-making and education is born out of his
              unique history spanning over 30 years in the fashion and beauty industry. First, he has been the creative driving
              force behind the formulation of all Aquage and Biomega products. Second, after working for many years as a
              freelance hairdresser with top fashion photographers, magazine editors and models, he became a photographer
              himself and created the powerful visual imagery Aquage is known for throughout the salon industry. Third, Luis
              elevates education to the highest level, leading the Aquage team of artists and top educators on the stage, at
              shows, educational events and at Aquage Masterclass academies across the country.
              <br><br>
              To Luis, knowledge is an energy source we can all tap into to inspire creative growth. As a leader and educator,
              he believes that the secret to elevating our craft lies in our ability to share knowledge. His engaging style,
              refreshing attitude and a penchant for creating truly beautiful and exciting styles, makes Luis one of the most
              sought-after talents in the beauty industry. His passion and creative vision bring innovation, education and
              inspiration to the professional salon industry.
              <br><br>
              For more information contact Wanda Alvarez at <a href="mailto:wanda@aquage.com">wanda@aquage.com</a>
            </div>
          </div>  

           <div class="bio">
            <div class="name-and-company">Stratton Smith and Matt Briger &ndash; Co-Founders: <a href="http://www.solasalonstudios.com" target="_blank">Sola Salon Studios</a></div>
            <div class="text">Stratton Smith and Matt Briger are true entrepreneurs. In the early 1990s, Stratton was a successful salon owner in St. Louis, MO. In 1995, he sold his six salons and joined Matt to start and run a real estate company in Colorado. But Stratton's passion for the beauty industry never left him, and in 2004 Stratton and Matt left the corporate world to start Sola Salon Studios. They had a simple idea and a clear vision: to put the salon professional first. 11 years later, they continue to prove that they do just that.</div>
          </div>  

           <div class="bio">
            <div class="name-and-company">DJ Muldoon: <a href="http://www.thefactoryhair.com/" target="_blank">theFactory</a></div>
            <div class="text">
              DJ joined Vidal Sassoon as a cosmetology student in 1994. Little did he know what an impact this would have on his journey. There he joined the ranks of what is now known as a legendary group of haircutting, coloring and styling educators and industry leaders. 
              <br><br>
              After a few short years DJ had become one of Vidal Sassoon's most sought after educators, ‘teacher of the year' in his first year of teaching, and established himself as a member of the Creative Team under the guidance of Tim Hartley. Here he developed his skill as an educator working side by side with his mentors and peers Traci Sakosits, Gerard Scarpaci, Wayne Woodruff, Stephen Moody, Julian Perlingiero, Lucie Doughty amongst many others who helped lay the foundation of what would become the Vidal Sassoon ABC system.
              <br><br>
              By 2002 DJ transitioned onto the next phase of his career by joining the Paul Mitchell organization to create Paul Mitchell the School's haircutting system and curriculum. While at Paul Mitchell he became a global platform artist sharing his knowledge and skill to a worldwide audience. This gave DJ the ability in the mid 2000's to start creating on other levels such as video production and ‘step by step' education, earning DJ the much coveted Hairbrained Video Award in 2014.
              <br><br>
              In 2011 DJ started theFactory, an independent creative production space, academy and salon based in San Diego, which gives DJ the ability to educate on many different levels such as hands-on education and web based education. 
              <br><br>
              DJ is one the worlds most sought after teachers in the industry because of his no fluff approach and his ability to breakdown the what, why, how, and when in haircutting. He believes that ‘Knowledge Destroys Fear' and he is proud to represent the hairdresser as an independent artist. 
            </div>
          </div>  

           <div class="bio">
            <div class="name-and-company">Sam Villa &ndash; Education Artistic Director: <a href="http://www.redken.com/international/" target="_blank">Redken</a></div>
            <div class="text">
              Sam Villa is known for doing things differently to challenge, inspire and motivate change. His encouragement to stylists is unrivaled, as he genuinely wants each one of them to reach deep to identify how they can make a change to promote their own growth. His talents stretch far beyond his brilliant cutting and finishing skills; he has a plethora of business skills that enliven stylists to think about how they speak to their guests to add value behind the chair.
              <br><br>
              &quot;Sharing is the greatest gift we can give one another…to help each other grow and prosper, we all need to pay it forward,&quot; says Sam.  Consistent research, along with a respect for the fundamentals, Sam is always on the move for new and unconventional ways of cutting and finishing hair - like using a flat iron for versatility, texturizing iron to create hidden volume and using disconnection to create styles that look blended and can be worn in multiple ways. He is a true messenger sharing his knowledge with stylists in hopes that they too will share with others to enrich the industry...upgrade the industry by respecting and supporting one another - #ArtistsSupportingArtists.   
              <br><br>
              Sam is in his glory and most comfortable when teaching – a natural transition from his early coaching days in sports.  Practice, practice, practice, until you master the craft and then share with others, so they too can become successful!  Whether facilitating an in-salon class or on a stage at a major event, there is always something to be discovered and learned. &quot;Stylists need a good understanding of the fundamentals of basic techniques, once mastered, they can be manipulated to create modern silhouettes and textures,&quot; explains Sam.
              <br><br>
              &quot;It's time to SHOUT IT OUT! The way for us to BE better is to COME TOGETHER as an industry, and the SHOUT begins here with Sam Villa and Redken!&quot; adds Sam.
              <br><br>
              Professional Accolades: Behindthechair.com Favorite Overall Educator of the Year in 2015; Favorite New Company Under 7 Years Old 2014; Favorite Platform Artist and Educator 2007, 2011 and 2012; Favorite top-five finalist from 2001, 2002, 2003, 2004, 2005, 2006, 2008, 2009, 2010, 2013, 2014; Redken Platform Artist of the Year 1998; 2014 American Salon Professional's Choice Awards/Platform Artist; &quot;Master of the Craft&quot; Award from the Art &amp; Fashion Group 1992; and finalist in the North American Hairdressing Awards — Classic Category 1991.
            </div>
          </div>                      

           <div class="bio">
            <div class="name-and-company">Jennie Wolff &ndash; Vice President of Marketing and Stylist Programs: <a href="http://www.solasalonstudios.com" target="_blank">Sola Salon Studios</a></div>
            <div class="text">
              After graduating from Emory University with a degree in Creative Writing, Jennie ventured to Colorado to break into Denver's entertainment scene, and was quickly hired by Kroenke Sports &amp; Entertainment. After 5 years of managing Kroenke's Special Events department, Jennie joined Motive, a boutique creative marketing agency. While at Motive, she worked on experiential campaigns and digital projects for top brands such as Mars Chocolate, Van's Natural Foods and Cartoon Network. In 2013, Matt and Stratton (Sola's co-founders) convinced Jennie to turn her talents toward the salon industry. As Sola's Vice President of Marketing and Stylist Programs, Jennie manages the Sola marketing efforts top-to-bottom, including Sola's social media strategy, the Sola blog, Sola's website, all of Sola's traditional and nontraditional marketing campaigns, innovative stylist programs and more recently, the Sola Professional website and The Sola Sessions.
            </div>
          </div>  

           <div class="bio">
            <div class="name-and-company">Michael Cole: <a href="http://www.redken.com/international/" target="_blank">Redken</a></div>
            <div class="text">
              Over the past 30 years Michael has lived the life of a stylist, manager, a multiple salon owner, and an executive chain director. But, he found his true calling in 1984 when he began training salon stylists to become financially successful TOP 20s.
              <br><br>
              Michael's breakthrough book, &quot;A Little Off the Top&quot; was the first in a series of DVD videos, CD audios, tracking journals, and organizational tools that have since helped over a million salon professionals break through to a more prosperous and purposeful career. 
              <br><br> 
              Today Michael shows no signs of slowing down. His new program, Step Up! – Fast Track to Wealth, is training Top 20 stylists to dramatically improve their personal finances and professional income in record time. You can learn more about Step Up!, read profiles of the people who have attended, and what it means to be a TOP 20 at www.SalonDev.com. 
            </div>
          </div>              

        </div>

        <div class="text-center" id="showBios"><button>Click here for bios</button></div>
        <div class="text-center" id="hideBios"><button>Close bios</button></div>

        <h2 class="also-featuring">Also featuring education by: Sanitas Skincare, Glo Professional &amp; More.</h2>

      </div>
    </div>



    <div class="container">
      <div class="agenda">
        <div class="banner"></div>
        <p><span class="time">8:00am:</span> Registration Opens. Coffee, Tea &amp; Light Breakfast.</p>
        <p><span class="time">9:00am-11:30am:</span> Inspiration. Business &amp; Marketing.</p>
        <p><span class="time">11:30am-12:30pm:</span> Lunch.</p>
        <p><span class="time">12:30pm-5:30pm:</span> Artistic Education. Additional Side Sessions.</p>
        <p><span class="time">5:30pm-7:30pm:</span> Mix &amp; Mingle. Drinks &amp; Appetizers.</p>
      </div>
      <div class="ticketing">
        <h1><span>$</span>99 per ticket</h1>
        <div class="button-wrapper"><a href="https://www.eventbrite.com/e/the-sola-sessions-tickets-19501830500?aff=es2" target="_blank" class="button">Buy Now</a></div>
      </div>
    </div>

  </div>

</div>

<!-- <div class="callout black">
  <div class="container">
    <a href="http://doubletree.hilton.com/en/dt/groups/personalized/D/DENCHDT-SSS-20160207/index.jhtml?WT.mc_id=POG" target="_blank">Sola Discounted Room Block: To book a room at the Curtis Hotel, click here!</a>
  </div>
</div> -->

<a name="future-sessions"></a>
<div class="future-sessions">
  <div class="container">
    <h1>Mark Your Calendar<br>for Future Sola Sessions!</h1>
    <div class="row circles">
      <div class="four columns"><%= image_tag 'sessions/minneapolis-circle.png' %></div>
      <div class="four columns"><%= image_tag 'sessions/orange-county-circle.png' %></div>
      <div class="four columns"><%= image_tag 'sessions/charlotte-circle.png' %></div>
    </div>
    <h2>More Info On Future Sessions Coming Soon!</h2>
  </div>
</div>

<% content_for(:scripts) { javascript_include_tag('sessions') } %>
<% content_for(:title) { 'Sola Sessions - Denver' } %>
<% content_for(:og_image) { "http:#{asset_path('sessions/sola-sessions-hero.jpg')}" } %>