  <div class="session">

    <div class="hero-image hero-desktop"><%= image_tag 'sessions/sola-sessions-hero.jpg' %></div>

    <div class="container">
      <div class="description">
        We hope you can join us for one of The Sola Sessions, coming to a city near you! The Sessions are all about inspiring, motivating and educating Sola professionals, while also learning from and collaborating with our awesome, dynamic community. We're bringing the industry's best to you for intimate, Sola-exclusive events across the country. Click on the cities below to learn more about each unique Sola Session. We can't wait to meet you!</div>
    </div>

    <div class="container">
      <div class="row cities">
        <div class="three columns"><a href="https://www.solasalonstudios.com/blog/the_sola_sessions__denver_recap" class="button block long-text">Denver</a></div>
        <div class="three columns"><a href="#" onclick="return false;" style="cursor:default" class="button block primary long-text">Minneapolis</a></div>
        <div class="three columns"><a href="#future-sessions" class="button block long-text">Orange County</a></div>
        <div class="three columns"><a href="#future-sessions" class="button block long-text">Charlotte</a></div>
      </div>
    </div>

    <div class="details">
      <div class="container">
        <h1>Minneapolis, Minnesota</h1>
        <h2>April 25th, 2016</h2>
        <h3>Radisson Blu Mall of America Hotel</h3>
        <h4>2100 Killebrew Dr, Bloomington, MN 55425</h4>
      </div>
    </div>

    <div class="speakers">
      <div class="container">
        <div class="row">
          <div class="four columns">
            <%= image_tag 'sessions/gordon_miller.png', alt: "Gordon Miller photo" %>
            <span class="name">Gordon Miller</span>
            <span class="company"><a href="http://www.americansalon.com/" target="_blank">American Salon</a></span>
          </div>
          <div class="four columns">
            <%= image_tag 'sessions/horvath.png', alt: "Kim Bennett Horvath photo" %>
            <span class="name">Kim Bennett Horvath</span>
            <span class="company"><a href="http://www.solasalonstudios.com" target="_blank">Sola Salon Studios</a></span>
          </div>
          <div class="four columns">
            <%= image_tag 'sessions/jessica.png', alt: "Jessica Zeinstra photo" %>
            <span class="name">Jessica Zeinstra</span>
            <span class="company"><a href="https://andis.com/" target="_blank">Andis Clippers</a></span>
          </div>
        </div>
        <div class="row">
          <div class="four columns">
            <%= image_tag 'sessions/cole.png', alt: "Michael Cole photo" %>
            <span class="name">Michael Cole</span>
            <span class="company"><a href="http://www.saloncentric.com/" target="_blank">SalonCentric</a></span>
          </div>
          <div class="four columns">
            <%= image_tag 'sessions/founders.png', alt: "Stratton Smith &amp; Matt Briger photo" %>
            <span class="name">Stratton Smith &amp; Matt Briger</span>
            <span class="company"><a href="http://www.solasalonstudios.com" target="_blank">Sola Salon Studios</a></span>
          </div>
          <div class="four columns">
            <%= image_tag 'sessions/wolff.png', alt: "Jennie Wolff photo" %>
            <span class="name">Jennie Wolff</span>
            <span class="company"><a href="http://www.solasalonstudios.com" target="_blank">Sola Salon Studios</a></span>
          </div>
        </div>
        <div class="row">
          <div class="four columns">
            <%= image_tag 'sessions/colin_caruso.png', alt: "Colin Caruso photo" %>
            <span class="name">Colin Caruso</span>
            <span class="company"><a href="https://www.paulmitchell.com/" target="_blank">Paul Mitchell</a></span>
          </div>
          <div class="four columns">
            <%= image_tag 'sessions/heather.png', alt: "Heather Kaanoi photo" %>
            <span class="name">Heather Kaanoi</span>
            <span class="company"><a href="https://www.paulmitchell.com/" target="_blank">Paul Mitchell</a></span>
          </div>
          <div class="four columns">
            <%= image_tag 'sessions/david.png', alt: "David Lowry photo" %>
            <span class="name">David Lowry</span>
            <span class="company"><a href="https://www.paulmitchell.com/" target="_blank">Paul Mitchell</a></span>
          </div>
        </div>
        <div class="row">
          <div class="four columns">
            <%= image_tag 'sessions/oscar_bond.png', alt: "Oscar Bond photo" %>
            <span class="name">Oscar Bond</span>
            <span class="company"><a href="http://www.hattorihanzoshears.com/" target="_blank">Hattori Hanzo Shears</a></span>
          </div>
          <div class="four columns">
            <%= image_tag 'sessions/justin_thomas.png', alt: "Justin Thomas photo" %>
            <span class="name">Justin Thomas</span>
            <span class="company"><a href="http://www.hattorihanzoshears.com/" target="_blank">Hattori Hanzo Shears</a></span>
          </div>
        </div>
        <div class="bios">

          <div class="bio">
            <div class="name-and-company">Gordan Miller: <a href="http://www.americansalon.com/" target="_blank">American Salon</a></div>
            <div class="text">
              Gordon Miller is the VP of Digital for American Salon. His 30-plus years of experience in professional beauty includes executive positions with Pivot Point International, Milady Publishing,  and the National Cosmetology Association. Prior to joining American Salon, Gordon worked as an independent social media and digital consultant for beauty brands, media and event companies.
              <br><br>
              Gordon has a passion for sharing what some of the world's leading names in beauty have taught him about how to best create a successful, long lasting business and/or career.  He can often be found at industry events, presenting programs on social media for salons as well as career and business development classes.   When not on the road on behalf of American Salon, Gordon can be found in his adopted hometown of Chicago, working, drinking coffee and/or hanging out with Cody, his adorable rescue dog.
              <br><br>
              Find Gordon online <a href="https://www.facebook.com/gordnm" target="_blank">facebook.com/gordnm</a> or <a href="https://www.instagram.com/gordnm/" target="_blank">@gordnm</a> on Instagram (where he shares daily with his thousands of professionals friends and followers).
            </div>
          </div>

          <div class="bio">
            <div class="name-and-company">Kim Bennett Horvath &ndash; Director of Education: <a href="http://www.solasalonstudios.com" target="_blank">Sola Salon Studios</a></div>
            <div class="text">
              Kim Bennett Horvath's passion as a hairdresser has taken her on a journey through the beauty industry for 25 years. As a licensed cosmetologist since the age of 18, she has continued to catapult her career and her business from her humble small town beginnings, and is dedicated to inspiring others in the beauty industry.
              <br><br>
              As a Senior National Educator for Paul Mitchell for the past 23 years she was one of the first Artistic Color Coordinators chosen to help launch Paul Mitchell's first color line, as well as being a Task Force Leader where she trained and coached regional Paul Mitchell National Educators. She received the Paul Mitchell Focus Award in 2012, and continues to educate and help salons grow their business.
              <br><br>
              While working in all aspects of traditional salons, Kim made the decision of salon ownership after meeting Sola's co-founders, Matt and Stratton, at a coffee shop in Denver, Colorado. Kim quickly became the first Sola Professional in early 2004! Throughout her 11+ years at Sola, Kim has supported and represented Sola Salon Studios in myriad ways and in early 2014 became Sola's Director of Education. Within this role, Kim uses her expertise to share the Sola Salon Studios culture to connect and build relationships throughout the Professional Beauty Industry.
              <br><br>
              Her passion and success as a Sola Professional has spread like wildfire being asked to speak with industry leaders on better business practices and has been featured in many publications including Modern Salon, Behind the Chair, and Milady Pro. She was also recently recognized as a Role Model by American Salon. Kim is dedicated to creating education opportunities for Sola Professionals to inspire them to become successful business owners while also enjoying their best artistic self.
            </div>
          </div>

          <div class="bio">
            <div class="name-and-company">Jessica Zeinstra: <a href="https://andis.com/" target="_blank">Andis Clippers</a></div>
            <div class="text">
              Jessica Zeinstra has devoted her entire professional career to the craft of men's grooming and the art of classic barbering. She apprenticed under two world renowned heroes in the men's grooming industry and has since gone on to work at an international level, assisting in the development of a men's training curriculum and product line, editorial shoots and educational events. Jessica can also be found behind the chair with an impressive national clientele based out of Minneapolis.
            </div>
          </div>

           <div class="bio">
            <div class="name-and-company">Michael Cole: <a href="http://www.saloncentric.com" target="_blank">SalonCentric</a></div>
            <div class="text">
              Over the past 30 years Michael has lived the life of a stylist, manager, a multiple salon owner, and an executive chain director. But, he found his true calling in 1984 when he began training salon stylists to become financially successful TOP 20s.
              <br><br>
              Michael's breakthrough book, &quot;A Little Off the Top&quot; was the first in a series of DVD videos, CD audios, tracking journals, and organizational tools that have since helped over a million salon professionals break through to a more prosperous and purposeful career.
              <br><br>
              Today Michael shows no signs of slowing down. His new program, Step Up! – Fast Track to Wealth, is training Top 20 stylists to dramatically improve their personal finances and professional income in record time. You can learn more about Step Up!, read profiles of the people who have attended, and what it means to be a TOP 20 at <a href="http://salondev.com/" target="_blank">www.SalonDev.com</a>.
            </div>
          </div>

           <div class="bio">
            <div class="name-and-company">Stratton Smith and Matt Briger &ndash; Co-Founders: <a href="http://www.solasalonstudios.com" target="_blank">Sola Salon Studios</a></div>
            <div class="text">Stratton Smith and Matt Briger are true entrepreneurs. In the early 1990s, Stratton was a successful salon owner in St. Louis, MO. In 1995, he sold his six salons and joined Matt to start and run a real estate company in Colorado. But Stratton's passion for the beauty industry never left him, and in 2004 Stratton and Matt left the corporate world to start Sola Salon Studios. They had a simple idea and a clear vision: to put the salon professional first. 11 years later, they continue to prove that they do just that.</div>
          </div>

          <div class="bio">
            <div class="name-and-company">Jennie Wolff &ndash; Vice President of Marketing and Stylist Programs: <a href="http://www.solasalonstudios.com" target="_blank">Sola Salon Studios</a></div>
            <div class="text">
              After graduating from Emory University with a degree in Creative Writing, Jennie ventured to Colorado to break into Denver's entertainment scene, and was quickly hired by Kroenke Sports &amp; Entertainment. After 5 years of managing Kroenke's Special Events department, Jennie joined Motive, a boutique creative marketing agency. While at Motive, she worked on experiential campaigns and digital projects for top brands such as Mars Chocolate, Van's Natural Foods and Cartoon Network. In 2013, Matt and Stratton (Sola's co-founders) convinced Jennie to turn her talents toward the salon industry. As Sola's Vice President of Marketing and Stylist Programs, Jennie manages the Sola marketing efforts top-to-bottom, including Sola's social media strategy, the Sola blog, Sola's website, all of Sola's traditional and nontraditional marketing campaigns, innovative stylist programs and more recently, the Sola Professional website and The Sola Sessions.
            </div>
          </div>

           <div class="bio">
            <div class="name-and-company">Colin Caruso: <a href="http://www.paulmitchell.com/" target="_blank">Paul Mitchell</a></div>
            <div class="text">
              Paul Mitchell&reg; National Trainer and Focus Salon Owner Colin Caruso believes that education should always be fun and the overall experience of learning is equally as important as the techniques learned. He explains, &quot;Education is our arena for new ideas. It is our outlet, our chance to talk with other professionals about what excites us most—hair.&quot;
            </div>
          </div>

          <div class="bio">
            <div class="name-and-company">Heather Kaanoi: <a href="http://www.paulmitchell.com/" target="_blank">Paul Mitchell</a></div>
            <div class="text">
              As an International Trainer, Heather has traveled the world sharing her knowledge and passion for the beauty industry. She focuses her time on stage work and educating for Paul Mitchell The School – Costa Mesa. She attributes her success to her drive to master any subject she studies. “When working in the salon, I find most of my motivation comes from he best experience–making their service a memorable experience."
            </div>
          </div>

          <div class="bio">
            <div class="name-and-company">David Lowry: <a href="http://www.paulmitchell.com/" target="_blank">Paul Mitchell</a></div>
            <div class="text">
              With a passion for fashion, having a soft spot for the classic looks and designs of Coco Chanel, coupled with the punk rock fury and music inspired talents of Vivienne Westwood, you never know what David will bring. “I feel that Paul Mitchell education has helped me become the person I am today. It’s given me balance and reason. Like our team captain John Paul says, “Success unshared is failure.” Here's to the ongoing magic that is Paul Mitchell education.”
            </div>
          </div>

           <div class="bio">
            <div class="name-and-company">Oscar Bond: <a href="http://www.hattorihanzoshears.com/" target="_blank">Hattori Hanzo Shears</a></div>
            <div class="text">
              He began his long history as an industry educator at the esteemed Vidal Sassoon Academy in London where he was a member of the International Artistic and Show Team for Sassoon before taking the big leap to independence in 1987.
              <br><br>
              His mastery of the craft and gift for teaching has taken him all over the world for the past 25 years. He has worked in almost every city in the world and all over America. In 1994, he joined the Aveda Artistic Style Council and was appointed as Head of Education for the Aveda Institute in New York - Soho. At Aveda, he was responsible for implementing a strong yet simple haircutting system on many levels throughout the Aveda network, as well as delivering the latest trends through weekly advanced haircutting classes, national level shows and seasonal photographic sessions. In 1998, he began the tremendous task of putting his years of knowledge and expertise into ownership of a vision.
              <br><br>
              He has been featured in such magazines as In Style, Mademoiselle, Jane, Marie Clare, Self, GQ, Details, YM, Soho Style, Time Out, Vogue and was voted as one the New York City's Tope Ten Salons in the October 1999 Issue of Salon News. In addition, his work was highlighted on ABC's The View and MTV's Making The Band. The salon has also been featured on Queer Eye for the Straight Guy, Teen Vogue, Color &amp; Style Magazine and Wall Street Journal. His strong connection to the fashion world, mastery of cutting, and passion to adapt to the ever-changing eye of style.
            </div>
          </div>

           <div class="bio">
            <div class="name-and-company">Justin Thomas: <a href="http://www.hattorihanzoshears.com/" target="_blank">Hattori Hanzo Shears</a></div>
            <div class="text">
              Justin Thomas is a platform artist and educator with Hattori Hanzo Shears.
              Justin has been referred to as the "Prodigy" by his peers in the industry. His refined style, and countless hours of training and collaboration with some of the biggest names in hairdressing have gained him much notoriety. With a boastful clientele of models, actors and A-List musicians, his work is admired around the  globe both on and off the set. People come from all over the world to have Justin Thomas bring a new and exciting approach to their style.
              <br><br>
              Some of Justin's must-have products include: Ibiza cork round brushes, Enzo Milano clipless curling irons, J Beverly Hills styling products and Dikson ArgaBeta Oil.
            </div>
          </div>

        </div>

        <div class="text-center" id="showBios"><button>Click here for bios</button></div>
        <div class="text-center" id="hideBios"><button>Close bios</button></div>

      </div>
    </div>



    <div class="container">
      <div class="agenda">
        <div class="banner"></div>
        <p><span class="time">8:00am:</span> Registration. Coffee &amp; Tea Provided.</p>
        <p><span class="time">9:00am-12:00pm:</span> Inspiration. Business &amp; Marketing.</p>
        <p><span class="time">12:00pm-1:00pm:</span> Lunch.</p>
        <p><span class="time">1:00pm-5:30pm:</span> Artistic Education.</p>
        <p><span class="time">5:30pm-7:00pm:</span> Mix 'n' Mingle. Drinks &amp; Appetizers.</p>
      </div>
      <div class="ticketing">
        <h1><span>$</span>99 per ticket</h1>
        <h4>Ticket includes a full day of education, gift bag, lunch and happy hour with appetizers and a complimentary drink&nbsp;ticket!</h4>
        <div class="button-wrapper"><a href="https://www.eventbrite.com/e/the-sola-sessions-tickets-22175232718?aff=SolaSessionsMinneapolis" target="_blank" class="button primary">Buy Now</a></div>
      </div>
    </div>

  </div>

</div>

<div class="callout black discount-rooms">
  <div class="container">
    <a href="https://www.radissonblu.com/reservation/resEntrance.do?pacLink=Y&promoCode=SOLASE&hotelCode=USABLMA" target="_blank">
    <span class="link">Click here</span> or call <span class="number">1-800-333-3333</span> and ask for 'The Sola Sessions' to book your room at the discounted rate.
  </div>
</div>

<a name="future-sessions"></a>
<div class="future-sessions">
  <div class="container">
    <h1>Mark Your Calendar<br>for Future Sola Sessions!</h1>
    <div class="row circles">
      <div class="three columns offset-by-three"><%= image_tag 'sessions/orange-county-circle.png', alt: "Orange circle" %></div>
      <div class="three columns"><%= image_tag 'sessions/charlotte-circle.png', alt: "Charlotte circle" %></div>
    </div>
    <h2>More Info On Future Sessions Coming Soon!</h2>
  </div>
</div>

<% content_for(:scripts) { javascript_include_tag('sessions') } %>
<% content_for(:title) { 'Sola Sessions - Minneapolis' } %>
<% content_for(:og_image) { "http:#{asset_path('sessions/sola-sessions-hero.jpg')}" } %>
