<%= render 'shared/public_website/session_nav', :page => :about %>

<div class="session session-2018">    

  <div class="hero-carousel owl-carousel owl-theme">
    <div class="item">
      <div class="img-wrap"><%= image_tag 'https://s3.amazonaws.com/solasalonstudios/Sola-Sessions-Home-Nashville-Main.jpg', :width => 1386, :height => 712 %></div>
      <div class="item-content overlayed">
        <div class="learn-more-button">
          <h5><%= t('page.sessions.learn_more') %></h5>
          <span class="fa fa-angle-down"></span>
        </div>
      </div>
    </div>
  </div>

  <div class="header">
    <div class="container">

      <div class="text-center buy-now-button-wrapper">
        <a href="#" class="disabled buy-your-ticket buy-now-button" target="_blank">On Sale Monday, May 20th</a>
      </div>

      <div class="ticket-includes">
        <p>Ticket includes:</p>
        <p><strong>Education, Swag Bag, Prizes, Lunch, Happy Hour, Additional Non-Hair Classes. More to be Announced!</strong></p>
        <h4>Ticket Valued at $400</h4>
      </div>
    </div>
  </div>

  <div class="date-and-time">
    <div class="container">
      <a name="when_and_where" id="when_and_where"></a>
      <h2 class="bb">When and Where</h2>
      
      <div class="row">
        <div class="six columns">   
          <div>
            <h4 class="pink">Monday, September 16th</h4>
            <p>
            8 am - 9 am: Vendor Expo
            <span class="inline-break">&nbsp;</span>
            9 am - 6:30 pm PST: Main Event
            </p>
          </div>
        </div>
        <div class="six columns">
          <h4 class="blue">BB King's Blues Club</h4>
          <p>
            152 2nd Avenue N, Nashville, TN 37201
            <span class="inline-break">&nbsp;</span>
            <span class="add-to-calendar-wrapper" data-title="Sola Session Nashville, TN" data-address="BB King's Blues Club, 152 2nd Avenue N, Nashville, TN 37201" data-description="On Monday, September 16th, the Sola Sessions is heading to Nashville for an event unlike any other!" data-start="September 16, 2019 08:00" data-end="September 16, 2019 18:30"></span>
          </p>        
        </div>
      </div>

    </div>
  </div>

  <div class="owl-carousel owl-theme giant-video">
    <div class="item">
      <div class="img-wrap">
        <%= image_tag 'sessions/video_background.jpg', :width => 1386, :height => 672 %>
      </div>
      <div class="item-content overlayed">
        <a href="//www.youtube.com/watch?v=yoMFQ1vnO-U" class="play-video giant-video-button-wrapper" rel="yoMFQ1vnO-U">
          <div class="giant-video-btn">
            <span class="fa fa-5x fa-play"></span>
          </div>
          <div class="text">Watch our video to learn more<br/>about the Sola Sessions</div>
        </a>
      </div>
    </div>
  </div>

  <div class="description">
    <div class="container">
      <h2 class="bb">Description</h2>
      <p>On Monday, September 16th, the Sola Sessions is heading to Nashville for an event unlike any other!</p>

      <div class="row">
        <div class="six columns">
          <div class="check-row"><span class="checkmark">&nbsp;</span> Artistic Education from Industry Greats</div>
          <div class="check-row"><span class="checkmark">&nbsp;</span> Business &amp; Marketing Education</div>
          <div class="check-row"><span class="checkmark">&nbsp;</span> Vendor Expo</div>
          <div class="check-row"><span class="checkmark">&nbsp;</span> Cocktail Reception</div>
        </div>
        <div class="six columns">
          <div class="check-row"><span class="checkmark">&nbsp;</span> Faces of Sola Panel</div>
          <div class="check-row"><span class="checkmark">&nbsp;</span> Inspiration and Community</div>
          <div class="check-row"><span class="checkmark">&nbsp;</span> Non-Hair Workshops</div>
          <div class="check-row"><span class="checkmark">&nbsp;</span> SWAG Bag, Prizes &amp; Giveaways</div>
        </div>
      </div>
    </div>
  </div>
 
  <a name="speakers" id="speakers"></a>
  <div class="speakers">
    <div class="container">
      <h2 class="bb">Featured Presenters</h2>
    </div>
    <div class="container"> 
      <h4 class="pink">Coming Soon</h4>
    </div>
  </div>

  <div class="event-partners">
    <div class="container">
      <h2 class="bb">Event Partners</h2>
      
      <h4 class="pink" style="text-align:left;margin-bottom:40px;margin-top:40px">Coming Soon</h4>
    </div>
  </div>

  <div class="group-pic">
    <%= image_tag 'sessions/group-wide.jpg', :class => 'u-full-width' %>
  </div>

  <div class="getting-there">
    <div class="container">
      <h2 class="bb">Getting There</h2>
      <h4 class="pink">Coming Soon</h4>
    </div>
  </div>

  <div class="discounted-rooms">
    <div class="container">
      <a name="book_a_room" id="book_a_room"></a>
      <h2 class="text-center">Discounted Rooms Available</h2>
      <h3 class="text-center">The Fairlane Hotel <strong>$239 Per Night</strong></h3>
      
      <%= image_tag 'https://s3.amazonaws.com/solasalonstudios/Fairlane_Hotel.jpg' %>

      <div class="button-wrapper"><a href="https://reservations.travelclick.com/103030?groupID=2527480" target="_blank" class="button primary">Book Now</a></div>
      <h4>LIMITED AVAILABILITY</h4>

    </div>
  </div>

</div>  

<h1 class="text-center" style="margin: 80px 0 -40px 0;">Testimonials</h1>

<div class="block-quote-testimonial" style="max-width: 900px; margin-bottom: 40px">
  <h3>I can't even begin to explain how magical of a time I had at the Sola Sessions! I am inspired and uplifted, and most of all, so grateful to be a part of the Sola family!</h3>
  <h4>Brittany Athey</h4>
</div>

<div class="callout blue-wave" style="padding:65px 20px 60px 20px;">
  <%= link_to 'To learn more about the Sola Sessions, click here!', :sessions, :class => 'heading-link' %>
</div>

<!--
<a name="future-sessions"></a>
<div class="future-sessions">
  <div class="container">
    <h1>Mark Your Calendar<br>for Future Sola Sessions!</h1>
    <div class="row circles">
      <div><%= link_to :san_jose_session do %><%= image_tag 'sessions/bay-area-circle.png' %><% end %></div>
    </div>
    <h2>More Info On Future Sessions Coming Soon!</h2>
  </div>
</div>
-->

<% content_for(:scripts) { javascript_include_tag('sessions_2018') } %>
<% content_for(:title) { 'Sola Sessions - San Diego' } %>
<% content_for(:og_image) { "http:#{asset_path('sessions/sola-sessions-hero.jpg')}" } %>