  <div class="session">

    <div class="hero-image hero-desktop"><%= image_tag 'sessions/oc_hero.jpg' %></div>

    <div class="container">
      <div class="row sessions-buttons" style="margin-bottom: 20px">
        <div class="six columns"><a href="/sessions" class="button block long-text">About the Sola Sessions</a></div>
        <div class="six columns"><a href="#" onclick="return false;" style="cursor:default" class="button block primary long-text">Orange County</a></div>
      </div>
    </div>

    <div class="details">
      <div class="container">
        <h1>Orange County, California</h1>
        <h2>September 12, 2016</h2>
        <h3>Hyatt Regency Newport Beach</h3>
        <h5>1107 Jamboree Road, Newport Beach, California 92660</h5>
      </div>
    </div>

    <div class="speakers">
      <div class="container">
        <div class="row">
          <div class="four columns">
            <%= image_tag 'sessions/horvath.png', alt: "Kim Bennett Horvath photo" %>
            <span class="name">Kim Bennett Horvath</span>
            <span class="company"><a href="http://www.solasalonstudios.com" target="_blank">Sola Salon Studios</a></span>
          </div>
          <div class="four columns">
            <%= image_tag 'sessions/kovner.png', alt: "Nina Kovner photo" %>
            <span class="name">Nina Kovner</span>
            <span class="company"><a href="http://passionsquared.net/" target="_blank">PassionSquared</a></span>
          </div>
          <div class="four columns">
            <%= image_tag 'sessions/kelly_ehlers.png' %>
            <span class="name">Kelly Ehlers</span>
            <span class="company"><a href="http://www.wella.com/professional/en-US/home" target="_blank">Wella</a></span>
          </div>
        </div>
        <div class="row">
          <div class="four columns">
            <%= image_tag 'sessions/wolff.png', alt: "Jennie Wolff photo" %>
            <span class="name">Jennie Wolff</span>
            <span class="company"><a href="http://www.solasalonstudios.com" target="_blank">Sola Salon Studios</a></span>
          </div>
          <div class="four columns">
            <%= image_tag 'sessions/alvarez.png', alt: "Luis Alvarez photo" %>
            <span class="name">Luis Alvarez</span>
            <span class="company"><a href="http://www.aquage.com/" target="_blank">Aquage</a></span>
          </div>
          <div class="four columns">
            <%= image_tag 'sessions/nicole_gary.png', alt: "Nicole Gary photo" %>
            <span class="name">Nicole Gary</span>
            <span class="company"><a href="http://www.aquage.com/" target="_blank">Aquage</a></span>
          </div>
        </div>
        <div class="row">
          <div class="four columns">
            <%= image_tag 'sessions/nogodar.png' %>
            <span class="name">Nogodar Martinez</span>
            <span class="company"><a href="http://www.aquage.com/" target="_blank">Aquage</a></span>
          </div>
          <div class="four columns">
            <%= image_tag 'sessions/muldoon.png' %>
            <span class="name">DJ Muldoon</span>
            <span class="company"><a href="http://www.thefactoryhair.com/" target="_blank">theFactory</a></span>
          </div>
          <div class="four columns">
            <%= image_tag 'sessions/justin_isaac.png' %>
            <span class="name">Justin Isaac</span>
            <span class="company"><a href="http://www.redken.com/international/" target="_blank">Redken</a></span>
          </div>
        </div>
        <div class="row">
          <div class="four columns">
            <%= image_tag 'sessions/carmody.png' %>
            <span class="name">Carmody Homan</span>
            <span class="company"><a href="http://www.redken.com/international/" target="_blank">Redken</a></span>
          </div>
        </div>
        <div class="bios">

          <div class="bio">
            <div class="name-and-company">Kim Bennett Horvath: <a href="http://www.solasalonstudios.com" target="_blank">Sola Salon Studios</a></div>
            <div class="text">
              Kim Bennett Horvath's passion as a hairdresser has taken her on a journey through the beauty industry for 25 years. As a licensed cosmetologist since the age of 18, she has continued to catapult her career and her business from her humble small town beginnings, and is dedicated to inspiring others in the beauty industry.
              <br><br>
              As a Senior National Educator for Paul Mitchell for the past 23 years she was one of the first Artistic Color Coordinators chosen to help launch Paul Mitchell's first color line, as well as being a Task Force Leader where she trained and coached regional Paul Mitchell National Educators. She received the Paul Mitchell Focus Award in 2012, and continues to educate and help salons grow their business.
              <br><br>
              While working in all aspects of traditional salons, Kim made the decision of salon ownership after meeting Sola's co-founders, Matt and Stratton, at a coffee shop in Denver, Colorado. Kim quickly became the first Sola Professional in early 2004! Throughout her 11+ years at Sola, Kim has supported and represented Sola Salon Studios in myriad ways and in early 2014 became Sola's Director of Education. Within this role, Kim uses her expertise to share the Sola Salon Studios culture to connect and build relationships throughout the Professional Beauty Industry.
              <br><br>
              Her passion and success as a Sola Professional has spread like wildfire being asked to speak with industry leaders on better business practices and has been featured in many publications including Modern Salon, Behind the Chair, and Milady Pro. She was also recently recognized as a Role Model by American Salon. Kim is dedicated to creating education opportunities for Sola Professionals to inspire them to become successful business owners while also enjoying their best artistic self.
            </div>
          </div>

          <div class="bio">
            <div class="name-and-company">Nina Kovner: <a href="http://passionsquared.net/" target="_blank">PassionSquared</a></div>
            <div class="text">
              From the shampoo room to the boardroom, Nina L. Kovner took the world of pro beauty by storm with her thoughtful attention to detail and never-ending tenacity. After 26 years of conquering obstacles in an ever-changing business landscape and helping to build one of the most recognized professional hair care brands in the world, she respectfully walked away from a career at the top to help small business owners and artists discover and live their purpose with passion and empower their businesses. Now, as Chief Awesomeness Empowerer at Passion Squared, she wakes up every morning saying to herself… &quot;How I am going to help people create their own kind of awesome today?&quot;
            </div>
          </div>

          <div class="bio">
            <div class="name-and-company">Kelly Ehlers: <a href="http://www.wella.com/professional/en-US/home" target="_blank">Wella</a></div>
            <div class="text">
              Kelly Ehlers is the Founder and CEO of Ideas That Evoke, a Midwest-based social media agency that was recently named one of the &quot;Best Entrepreneurial Companies in America&quot; by Entrepreneur Magazine.
              <br><br>
              Additionally, Kelly was named the Enterprising Woman of the Year in 2015 by Enterprising Women Magazine, and was a semi-finalist for Entrepreneur Magazine's &quot;2014 Emerging Entrepreneur of the Year.&quot;
              <br><br>
              Kelly's rapidly growing agency works with global and domestic salon and spa professional brands, from Wella Professionals, Red Door Spa, Elizabeth Arden and Andis Professional - to a variety of lifestyle and luxury brands, including multiple Procter and Gamble brands. The foundation of the agency is built on solving business challenges for brands, through social innovation – and has been doing so since 2009.
            </div>
          </div>

          <div class="bio">
            <div class="name-and-company">Jennie Wolff: <a href="https://www.solasalonstudios.com" target="_blank">Sola Salon Studios</a></div>
            <div class="text">
              After graduating from Emory University with a degree in Creative Writing, Jennie ventured to Colorado to break into Denver's entertainment scene, and was quickly hired by Kroenke Sports &amp; Entertainment. After 5 years of managing Kroenke's Special Events department, Jennie joined Motive, a boutique creative marketing agency. While at Motive, she worked on experiential campaigns and digital projects for top brands such as Mars Chocolate, Van's Natural Foods and Cartoon Network.
              In 2013, Matt and Stratton (Sola's co-founders) convinced Jennie to turn her talents toward the salon industry. As Sola's Vice President of Marketing and Education, Jennie manages the Sola marketing efforts top-to-bottom, including Sola's social media strategy, the Sola blog, Sola's website, all of Sola's traditional and nontraditional marketing campaigns, innovative stylist programs and more recently, the Sola Pro app and The Sola Sessions.
            </div>
          </div>

          <div class="bio">
            <div class="name-and-company">Luis Alvarez: <a href="http://www.aquage.com/" target="_blank">Aquage</a></div>
            <div class="text">
              Join Aquage Co-founder, VP of Creative and award-winning designer, Luis Alvarez, at this exciting event.
              <br><br>
              Luis was knighted into the L'Ordre de la Chevalerie, one of the highest honors given by Intercoiffure, he was voted one of Modern Salon's 50 Most Influential Hairdressers and awarded the prestigious LEO Award from
              Pivot Point International.
              <br><br>
              His internationally renowned expertise in product development, image making and education is born out of his unique history spanning over 30 years in the fashion and beauty industry. First, he has been the creative driving force behind the formulation of all Aquage and Biomega products. Second, after working for many years as a freelance hairdresser with top fashion photographers, magazine editors and models, he became a photographer himself and created the powerful visual imagery Aquage is known for throughout the salon industry. Third, Luis elevates education to the highest level, leading the Aquage team of artists and top educators on the stage, at shows, educational events and at Aquage Masterclass academies across the country.
              <br><br>
              To Luis, knowledge is an energy source we can all tap into to inspire creative growth. As a leader and educator, he believes that the secret to elevating our craft lies in our ability to share knowledge. His engaging style, refreshing attitude and a penchant for creating truly beautiful and exciting styles, makes Luis one of the most sought-after talents in the beauty industry. His passion and creative vision bring innovation, education and inspiration to the professional salon industry.
              <br><br>
              For more information contact Wanda Alvarez at <a href="mailto:wanda@aquage.com">wanda@aquage.com</a>
            </div>
          </div>

          <div class="bio">
            <div class="name-and-company">Nicole Gary: <a href="http://www.aquage.com/" target="_blank">Aquage</a></div>
            <div class="text">
              Aquage Styles Director, Nicole Gary, was a 2015 NAHA Finalist in the Newcomer Stylist of the Year and Avant Garde categories and was a 2014 NAHA Student Hairstylist of the Year award winner. Nicole's impressive work is featured in the Aquage ARIA DVD collection, which showcases modern, fashion-relevant, yet timeless special occasion styles crafted with fast, innovative, techniques.
              <br><br>
              Nicole also produces Aquage trade shows and educational events while managing to remain at the top of her game creatively. She also trains new Aquage educators when they join the team, teaches classes in our top salons and is an empowering learning leader at the Aquage Masterclass Academies.
              <br><br>
              Nicole possesses the unique ability to create inspired, original hair designs that translate easily to the salon. Her creative vision is expressed beautifully in the undone-elegance of her styles. Her charismatic personality and personal integrity assures you a highly successful Aquage learning experience.
              <br><br>
              For more information contact Wanda Alvarez at <a href="mailto:wanda@aquage.com">wanda@aquage.com</a>
            </div>
          </div>

          <div class="bio">
            <div class="name-and-company">Nogodar Martinez: <a href="http://www.aquage.com/" target="_blank">Aquage</a></div>
            <div class="text">
              Aquage Master Artist, Nogodar Martinez, is an international editorial hairdresser and one of the creative artists showcased in the Aquage EN POINTE, ARIA and MUSE Collections. Nogo invents and designs his innovative styles featuring simple, quick techniques that can be used to create stunning shapes, iconic forms, intricate textures, overlays and patterns that translate easily to the salon. Nogo's multi-cultural vibe and technical expertise make his one-of-a-kind hairstyles truly memorable. His charismatic personality and genuine passion for the art of hairdressing make Nogo an exciting talent and a valuable asset to the Aquage team.
              <br><br>
              You do not want to miss an educational event with Aquage Master Artist Nogodar Martinez.
              <br><br>
              For more information contact Wanda Alvarez at <a href="mailto:wanda@aquage.com">wanda@aquage.com</a>
            </div>
          </div>

          <div class="bio">
            <div class="name-and-company">DJ Muldoon: <a href="http://www.thefactoryhair.com/" target="_blank">theFactory</a></div>
            <div class="text">
              DJ joined Vidal Sassoon as a cosmetology student in 1994. Little did he know what an impact this would have on his journey. There he joined the ranks of what is now known as a legendary group of haircutting, coloring and styling educators and industry leaders.
              <br><br>
              After a few short years DJ had become one of Vidal Sassoon's most sought after educators, ‘teacher of the year' in his first year of teaching, and established himself as a member of the Creative Team under the guidance of Tim Hartley. Here he developed his skill as an educator working side by side with his mentors and peers Traci Sakosits, Gerard Scarpaci, Wayne Woodruff, Stephen Moody, Julian Perlingiero, Lucie Doughty amongst many others who helped lay the foundation of what would become the Vidal Sassoon ABC system.
              <br><br>
              By 2002 DJ transitioned onto the next phase of his career by joining the Paul Mitchell organization to create Paul Mitchell the School's haircutting system and curriculum. While at Paul Mitchell he became a global platform artist sharing his knowledge and skill to a worldwide audience. This gave DJ the ability in the mid 2000's to start creating on other levels such as video production and ‘step by step' education, earning DJ the much coveted Hairbrained Video Award in 2014.
              <br><br>
              In 2011 DJ started theFactory, an independent creative production space, academy and salon based in San Diego, which gives DJ the ability to educate on many different levels such as hands-on education and web based education.
              <br><br>
              DJ is one the worlds most sought after teachers in the industry because of his no fluff approach and his ability to breakdown the what, why, how, and when in haircutting. He believes that ‘Knowledge Destroys Fear' and he is proud to represent the hairdresser as an independent artist.
            </div>
          </div>

          <div class="bio">
            <div class="name-and-company">Justin Isaac: <a href="http://www.redken.com/international/" target="_blank">Redken</a></div>
            <div class="text">
              Color is the fire that lit the passion and it is this fire that Justin Isaac brings to inspire artists around the world.
              <br><br>
              Justin Isaac is known throughout the industry as the most creative colorist where remixing concepts and simplifying advanced ideas – just a couple of his many talents. No matter the venue or the language, he breaks it down for all to feel the vibe and be part of it.
              <br><br>
              Justin Isaac has traveled the globe sharing the flavor of Redken NYC. His travels include South Africa, Thailand, Chile, Mexico, Japan, Malaysia, Taiwan, Canada, Singapore and Germany. It is through these travels that he has been able to re-energize his spirit and share the vibe these many cultures have to offer as inspiration in the US. In 2008, Justin Isaac will be sharing this inspiration in Art 4 Color and Art 4 Life – a two-day specialty class at the Redken Exchange revolving around art, color and self-reflection with one of the days held in Central Park.
              <br><br>
              Justin Isaac has been a Redken Artist since 1998, a facilitator at the Redken Exchange since 2000 and a featured Redken Symposium artist. His work has also been part of Redken Creates Volume 1.
            </div>
          </div>

          <div class="bio">
            <div class="name-and-company">Carmody Homan: <a href="http://www.redken.com/international/" target="_blank">Redken</a></div>
            <div class="text">
              "fashion… it's all I know…it's how I was raised…"
              <br><br>
              Growing up in New Zealand, it wasn't your typical kiwi setting, models lined our living room walls like magazine covers waiting for their turn to be fitted for my dad's upcoming Fashion Shows. Most kids would remember seeing their dad with a scarf around their neck…a tape measure is what I remember my dad wore. It all started with my grandmother who too, designed and made her own clothes. Needless to say my dad would follow in her footsteps. I was at the age of 15 styling the model's hair for my dad's fashion shows. I never stopped, I never looked back. Hair became my needle and thread as fashion remained my point of view, it's just in my blood.
              <br><br>
              INTERNATIONAL ARTISTIC DIRECTOR TONI &amp; GUY UK, TO REDKEN 5TH AVE, FACE OF REDKEN STYLE CONNECTION LINE, TO EDITORIAL MAGAZINES, SESSION STYLING, FASHION CONSULTING FOR MAJOR BRANDS, ULTA CREATIVE CONSULTANT.
            </div>
          </div>

        </div>

        <div class="text-center" id="showBios"><button>Click here for bios</button></div>
        <div class="text-center" id="hideBios"><button>Close bios</button></div>

      </div>
    </div>

    <div class="container">
      <div class="side-sessions">
        <h2>Additional Side Sessions presented by:</h2>
        <ul>
          <li>Creative Nail Design</li>
          <li>Dermalogica</li>
          <li>KLASS Makeup</li>
          <li>Hattori Hanzo Shears</li>
        </ul>
      </div>

      <div class="agenda">
        <div class="banner"></div>
        <p><span class="time">8:00am:</span> Registration. Coffee &amp; Tea Provided.</p>
        <p><span class="time">9:00am-12:00pm:</span> Inspiration, Business, Marketing.</p>
        <p><span class="time">12:00pm-1:00pm:</span> Lunch Included.</p>
        <p><span class="time">1:00pm-5:30pm:</span> Artistic Education.</p>
        <p><span class="time">5:30pm-7:30pm:</span> Mix 'n' Mingle. Cocktails, Appetizers &amp; Live Music.</p>
      </div>

      <div class="ticketing">
        <h1><span>$</span>99 per ticket</h1>
        <h4 class="text-center">Ticket valued at over $300 includes:</h4>
        <ul>
          <li>Full Day of Education</li>
          <li>Refreshments + Lunch</li>
          <li>1 Drink Ticket + Appetizers</li>
          <li>Meet &amp; Greet with Artists</li>
          <li>Swag Bag</li>
          <li>Live Music!</li>
        </ul>
        <div class="button-wrapper"><a href="https://www.eventbrite.com/e/the-sola-sessions-tickets-26250010488" target="_blank" class="button primary">Buy Now</a></div>
      </div>
    </div>

</div>

<div class="discounted-rooms">
  <div class="container">

    <h2>Discounted Rooms Available</h2>
    <h4>LIMITED AVAILABILITY</h4>

    <%= image_tag 'sessions/oc_hotel.jpg' %>

    <h3>$169 per night<br>Discounted Parking $10/Day</h3>

    <div class="button-wrapper"><a href="https://resweb.passkey.com/go/SOLASalon" target="_blank" class="button primary">Book Now</a></div>

  </div>
</div>

<div class="event-partners">
  <div class="container">
    <h2>Event Partners</h2>
    <%= image_tag 'sessions/oc_event_partners.png' %>
  </div>
</div>

<a name="future-sessions"></a>
<div class="future-sessions">
  <div class="container">
    <h1>Mark Your Calendar<br>for Future Sola Sessions!</h1>
    <div class="row circles">
<!--       <div class="three columns offset-by-three"><%= image_tag 'sessions/orange-county-circle.png' %></div>
 -->      <div class="four columns offset-by-four"><%= image_tag 'sessions/charlotte-circle.png' %></div>
    </div>
    <h2>More Info On Future Sessions Coming Soon!</h2>
  </div>
</div>

<div class="callout pink">
  <%= link_to 'To learn more about the Sola Sessions, click here!', :sessions, :class => 'heading-link' %>
</div>

<% content_for(:scripts) { javascript_include_tag('sessions') } %>
<% content_for(:title) { 'Sola Sessions - Orange County' } %>
<% content_for(:og_image) { "http:#{asset_path('sessions/sola-sessions-hero.jpg')}" } %>
