  <div class="session">    

    <div class="hero-image hero-desktop"><%= image_tag 'sessions/sola-sessions-hero.jpg' %></div>

    <div class="container">
      <a href="//www.youtube.com/watch?v=i6AUSUofPUg" class="play-video" rel="i6AUSUofPUg">
        <%= image_tag 'sessions/video_thumb.jpg' %>
        <div class="play-button">
          <span class="fa fa-5x fa-play"></span>
        </div>
      </a>
    </div>

    <div class="container">
      <div class="description">
        We hope you can join us for one of The Sola Sessions, coming to a city near you! The Sessions are all about inspiring, motivating and educating Sola professionals, while also learning from and collaborating with our awesome, dynamic community. We're bringing the industry's best to you for intimate, Sola-exclusive events across the country. Click on the cities below to learn more about each unique Sola Session. We can’t wait to meet you!</div>
    </div>

    <div class="details" style="padding: 30px 0; margin: 0">
      <div class="container">
        <h1>Orange County, California</h1>
        <h2>September 12, 2016</h2>
        <h4>Event Info Coming Soon</h4>
      </div>
    </div>

    <div class="past-events">
      <div class="container">
        <h2>Past Events</h2>
        <div class="event">
          <%= image_tag "sessions/past-event-denver.jpg" %>
          <div class="buttons">
            <a href="https://www.solasalonstudios.com/blog/the_sola_sessions__denver_recap" class="button">Read Blog</a>
            <a href="#" class="button">View Gallery</a>
          </div>
        </div> 

        <div class="event">
          <%= image_tag "sessions/past-event-minneapolis.jpg" %>
          <div class="buttons">
            <a href="https://www.solasalonstudios.com/blog/the_sola_sessions__minneapolis_recap" class="button">Read Blog</a>
            <a href="#" class="button">View Gallery</a>
          </div>
        </div> 
      </div>
    </div>

    <div class="in-the-news">
      <div class="container">
        <h2>In The News</h2>
        <div class="news-articles">
          <% Article.where(:id => [53, 51, 48, 47]).each do |article| %>
            <%= render 'shared/news_summary', :article => article %>
          <% end %>
        </div>        
      </div>
    </div>

    <div class="testimonials">
      <h2>Testimonials</h2>
    </div>

</div>

<a name="future-sessions"></a>
<div class="future-sessions">
  <div class="container">
    <h1>Mark Your Calendar<br>for Future Sola Sessions!</h1>
    <div class="row circles">
      <div class="three columns offset-by-three"><%= image_tag 'sessions/orange-county-circle.png' %></div>
      <div class="three columns"><%= image_tag 'sessions/charlotte-circle.png' %></div>
    </div>
    <h2>More Info On Future Sessions Coming Soon!</h2>
  </div>
</div>

<div class="callout blue">
  <div class="quote">&ldquo;There are no limits. It's <strong>your</strong> business!&rdquo;</div>
  <div class="quote-author">Shelia Taylor &ndash; Ami Hair Studio</div>
  <%= link_to 'View More Testimonials', :testimonials, :class => 'button inverted', :style => 'margin-top:30px' %>
</div>

<% content_for(:scripts) { javascript_include_tag('sessions') } %>
<% content_for(:title) { 'Sola Sessions - Orange County' } %>
<% content_for(:og_image) { "http:#{asset_path('sessions/sola-sessions-hero.jpg')}" } %>