<%= render 'shared/public_website/session_nav', :page => :about %>

<div class="session session-2018">    

  <div class="hero-carousel owl-carousel owl-theme">
    <div class="item">
      <div class="img-wrap"><%= image_tag 'https://s3.amazonaws.com/solasalonstudios/Sola-Sessions-Home-Nashville-Main.jpg', :width => 1386, :height => 712 %></div>
      <div class="item-content overlayed">
        <div class="learn-more-button">
          <h5><%= t('page.sessions.learn_more') %></h5>
          <span class="fa fa-angle-down"></span>
        </div>
      </div>
    </div>
  </div>

  <div class="header">
    <div class="container">

      <div class="text-center buy-now-button-wrapper">
        <a href="https://www.eventbrite.com/e/the-sola-sessions-portland-tickets-89126514805" class="buy-your-ticket buy-now-button" target="_blank">TICKETS</a>
      </div>

      <div class="ticket-includes">
        <p>Ticket includes:</p>
        <p><strong>Artistic, Business, and Marketing education, Vendor Expo, Side Sessions classes, lunch and happy hour, SWAG bag and prizes, Sunday cutting class and welcome reception. More to be announced!</strong></p>
        <h4>Ticket Valued at $400</h4>
      </div>
    </div>
  </div>

  <div class="date-and-time">
    <div class="container">
      <a name="when_and_where" id="when_and_where"></a>
      <h2 class="bb">When and Where</h2>

      <div class="row">
        <div class="six columns">
          <div>
            <h4 class="pink">Monday, April 27th</h4>
            <p>
            8am-9am: Vendor Expo
            <span class="inline-break">&nbsp;</span>
            9am-4:30pm: General Sessions
            <span class="inline-break">&nbsp;</span>
            4:30pm-6pm: Reception
            </p>
          </div>
        </div>
        <div class="six columns">
          <h4 class="blue">The LeftBank Annex</h4>
          <p>
            101 N Weidler St., Portland, OR 97227
            <span class="inline-break">&nbsp;</span>
            <span class="add-to-calendar-wrapper" data-title="Sola Session Portland" data-address="The LeftBank Annex, 101 N Weidler St., Portland, OR 97227" data-description="On Monday, April 27th, join us in the City of Roses for a Sola event you don't want to miss!" data-start="April 27, 2020 08:00" data-end="April 27, 2020 18:30"></span>
          </p> 
        </div>
      </div>

      <div class="row">
        <div class="six columns">   
          <div>
            <h4 class="pink">Sunday, April 26th</h4>
            <p>
            3pm-5pm: Cutting Class with Roy Jay White (the Hillbilly Barber) Hattori Hanzo Shears
            <span class="inline-break">&nbsp;</span>
            5pm-7pm: Welcome Reception
            <span class="inline-break">&nbsp;</span>
            **Please RSVP via the <a href="https://www.eventbrite.com/e/the-sola-sessions-portland-tickets-89126514805" target="_blank">Ticketing Page</a>
            </p>
          </div>
        </div>
        <div class="six columns">
          <h4 class="blue">The Duniway Hotel</h4>
          <p>
            545 SW Taytlor St., Portland, OR 97204
            <span class="inline-break">&nbsp;</span>
            <span class="add-to-calendar-wrapper" data-title="Sola Session Portland" data-address="The Duniway Hotel, 545 SW Taytlor St., Portland, OR 97204" data-description="Sola Salons Portland Sessions Cutting Class and Welcome Reception" data-start="April 26, 2020 15:00" data-end="April 26, 2020 19:00"></span>
          </p>        
        </div>
      </div>

    </div>
  </div>

  <div class="owl-carousel owl-theme giant-video">
    <div class="item">
      <div class="img-wrap">
        <%= image_tag 'sessions/video_background.jpg', :width => 1386, :height => 672 %>
      </div>
      <div class="item-content overlayed">
        <a href="//www.youtube.com/watch?v=yoMFQ1vnO-U" class="play-video giant-video-button-wrapper" rel="yoMFQ1vnO-U">
          <div class="giant-video-btn">
            <span class="fa fa-5x fa-play"></span>
          </div>
          <div class="text">Watch our video to learn more<br/>about the Sola Sessions</div>
        </a>
      </div>
    </div>
  </div>

  <div class="description">
    <div class="container">
      <h2 class="bb">Description</h2>
      <p>On Monday, April 27th, join us in the City of Roses for a Sola event you don't want to miss! Here's what's in store for you at the Portland Sola Sessions:</p>

      <div class="row">
        <div class="six columns">
          <div class="check-row"><span class="checkmark">&nbsp;</span> Artistic Education from Industry Greats</div>
          <div class="check-row"><span class="checkmark">&nbsp;</span> Business &amp; Marketing Education</div>
          <div class="check-row"><span class="checkmark">&nbsp;</span> Vendor Expo</div>
          <div class="check-row"><span class="checkmark">&nbsp;</span> Cocktail Reception</div>
        </div>
        <div class="six columns">
          <div class="check-row"><span class="checkmark">&nbsp;</span> Faces of Sola Panel</div>
          <div class="check-row"><span class="checkmark">&nbsp;</span> Inspiration and Community</div>
          <div class="check-row"><span class="checkmark">&nbsp;</span> Non-Hair Workshops</div>
          <div class="check-row"><span class="checkmark">&nbsp;</span> SWAG Bag, Prizes &amp; Giveaways</div>
        </div>
      </div>
    </div>
  </div>
 
  <a name="speakers" id="speakers"></a>
  <div class="speakers">
    <div class="container">
      <h2 class="bb">Featured Presenters</h2>
    </div>
    <div class="container speakers-container"> 
    
      <div class="row">
        <div class="four columns" data-rel="kovner">
          <%= image_tag 'sessions/presenters/ninakovner.png' %>
          <span class="name">Nina Kovner</span>
          <span class="company"><a href="#">Passion Squared</a></span>
        </div>
        <div class="four columns" data-rel="villa">
          <%= image_tag '//solasessions.s3.amazonaws.com/presenters/samvilla.jpg' %>
          <span class="name">Sam Villa</span>
          <span class="company"><a href="#" target="_blank">Sam Villa Brand</a></span>
        </div>
        <div class="four columns" data-rel="richard">
          <%= image_tag 'sessions/presenters/richard.png' %>
          <span class="name">Richard Mannah</span>
          <span class="company"><a href="#">Joico</a></span>
        </div> 
      </div>
    
      <div class="row">
        <div class="four columns" data-rel="tbd">
          <%= image_tag 'sessions/presenters/tbd.png' %>
          <span class="name">TDB</span>
          <span class="company"><a href="#">Joico</a></span>
        </div>
        <div class="four columns" data-rel="mosley">
          <%= image_tag 'sessions/presenters/mosley.png' %>
          <span class="name">John Mosley</span>
          <span class="company"><a href="#">Popular Nobody</a></span>
        </div>
        <div class="four columns" data-rel="sam">
          <%= image_tag 'sessions/presenters/kelly.png' %>
          <span class="name">Kelly Cardenas</span>
          <span class="company"><a href="#">Kelly Cardenas Salon</a></span>
        </div>
      </div>

      <div class="row">
        <div class="four columns offset-by-two" data-rel="jennie">
          <%= image_tag 'sessions/presenters/jennie.png' %>
          <span class="name">Jennie Wolff</span>
          <span class="company"><a href="#">Sola Salon Studios</a></span>
        </div>
        <div class="four columns" data-rel="kim">
          <%= image_tag 'sessions/presenters/kim.png' %>
          <span class="name">Kim Bennett</span>
          <span class="company"><a href="#">Sola Salon Studios</a></span>
        </div>        
      </div>

      <h4 class="pink text-center">More to be announced</h4>

    </div>

  </div>

  <div class="bios">

    <div class="bio" data-rel="mosley" data-modal-class="sessions" data-width="620" data-animated="1">
      <div class="modal-header">
        <%= image_tag 'sessions/presenters/mosley.png' %>
        <span class="name">John Mosley</span>
        <span class="company"><a href="#">Popular Nobody</a></span>
        <span class="line">&nbsp;</span>
      </div>
      <div class="text">
    John Mosley, who calls himself and his trademarked line of apparel and accessories the “Popular Nobody,” is one of the most sought after artist in the beauty industry.
    <br><br/>
    With over 16 years of passion and experience, John and his career have been on a steady incline, seeing his dreams unfold since he started in Long Beach, California. John is the founder/CEO and team lead for his Popular Nobody team and brand.
    <br><br/>
    His hard work, insatiable drive, and unstoppable tenacity for his craft allow John to keep his chair in a constant rotation of devoted clientele at his shop Popular Grooming Lounge in Dallas Texas. In 2017 John was named Modern Salons Top 100 industry game changers, 2019 he was named Educator of the Year, doing over 250 class and just about all major hair shows in 2018.
    <br><br/>
    John’s individualized aesthetic has been showcased onstage in Eminem and Rihanna’s acclaimed “Monster Tour" and a film titled Deuces that will be featured on Netflix. John’s large list of clients includes actors Larenz Tate and Idrs Elba, along with some of the most talked-about names in the music industry today, such as Kendrick Lamar and the TDE family, Jidenna, and many more. No stranger to the athletic world, John also works with the NFL Players Association (NFLPA), Major League Baseball players/teams and a few NBA players.
    <br><br/>
    In addition to movies, television, and commercials, John’s visually precise looks have been published in GQ, New York Times Style, British GQ, Vogue, the cover of Billboard, Black Enterprise, Ebony, and Rolling Stone.
    <br><br/>
    Participating in Paul Mitchell Schools’ Men’s Cutting DVD as well he also help write and create the Paul Mitchell Barber Curriculum. Now John spends his time building his team and their brand. Education is the key and their goals are too share their knowledge, passion, laughs, life’s ups and downs, and love. John is an inspiration and lifelong mentor to many because a statement he stands by.
    <br><br/>
    “Always remain a Popular Nobody while staying Humble and Hungry”
      </div>
    </div>

    <div class="bio" data-rel="villa" data-modal-class="sessions" data-width="620" data-animated="1">
      <div class="modal-header">
        <%= image_tag '//solasessions.s3.amazonaws.com/presenters/samvilla.jpg' %>
        <span class="name">Sam Villa</span>
        <span class="company"><a href="#" target="_blank">Sam Villa Brand</a></span>
        <span class="line">&nbsp;</span>
      </div>
      <div class="text">
        Sam Villa is changing the industry, one hairdresser at a time. Whether teaching face-to-face in small hands on classes, on main stage, or reaching his millions of social media followers, Sam changes people. He is a true leader that brings out the best in others. As the 2017 NAHA Lifetime Achievement Award Winner he is known for doing things differently to challenge, inspire and motivate change. His encouragement to stylists is unrivaled, as he genuinely wants each one of them to reach deep to identify how they can make a change to promote their own growth. Sam’s talents stretch far beyond his brilliant cutting and finishing skills; he has a plethora of business skills that enliven stylists to think about how they speak to their guests to add value behind the chair. 
        <br /><br />
        “Sharing is the greatest gift we can give one another...to help each other grow and prosper, we all need to pay it forward,” says Sam. Consistent research  along with a respect for the fundamentals, Sam is always on the move for new and unconventional ways of cutting and finishing hair - like using a flat iron for versatility, texturizing iron to create hidden volume and using disconnection to create styles that look blended and can be worn in multiple ways. He is a true messenger sharing his knowledge with stylists in hopes that they too will share with others to enrich the industry...upgrade the industry by respecting and supporting one another - #SamVillaCommunity. An act for which he was named the 2020 International Hair Influencer of the Year at the International Hairdressing Awards.
        <br /><br />
        Sam is in his glory and most comfortable when teaching – a natural transition from his early coaching days in sports. Practice, practice, practice, until you master the craft and then share with others, so they too can become successful! Whether facilitating an in-salon class or on a stage at a major event, there is always something to be discovered and learned. Stylists need a good understanding of the fundamentals of basic techniques, once mastered, they can be manipulated to create modern silhouettes and textures,” explains Sam.
        <br /><br />
        It’s time to SHOUT IT OUT! The way for us to BE better is to COME TOGETHER as an industry, and the SHOUT begins here with Sam Villa and Redken!” adds Sam.
        <br /><br />
        Sam is co-founder of the Sam Villa&reg; brand (Allvus, LLC) www.samvilla.com targeting stylists, as well as consumers. He shares hot tips and techniques live and virtually, and has a branded line of tools – brushes, combs, thermal tools and shears/razors – for both in-salon use and at home. Education is the path to success, follow Sam Villa&reg; on social media for solutions to common challenges experienced in the salon and at home
      </div>
    </div>

    <div class="bio" data-rel="naeemah" data-modal-class="sessions" data-width="620" data-animated="1">
      <div class="modal-header">
        <%= image_tag 'sessions/presenters/naeemah.png' %>
        <span class="name">Naeemah LaFond</span>
        <span class="company"><a href="#" target="_blank">Amika</a></span>
        <span class="line">&nbsp;</span>
      </div>
      <div class="text">
        Driven by an unwavering passion for the art of hair styling, Naeemah LaFond is one of the industry's most sought-after stylists and educators. Growing up with Brooklyn, NY as her playground, and with constant exposure to the city's vibrant culture and style, Naeemah had been introduced early on to the concept of self-expression—ultimately using a comb to sculpt her creations. Naeemah's focus is in creating works of art through Finishing. Naeemah has traveled the Globe as a Platform Artist and educator, sharing her techniques and love for the art of hair styling with her peers. She has been featured on the pages of Cosmopolitan, Elle, Allure, InStyle, Glamour, and Teen Vogue, among many other international fashion publications. Today, as the Global Artistic Director for amika, Naeemah has fused her love for the art of hairstyling with her passion for education. She has curated and implemented the brand's educational strategy, performs as a Master Platform artist at industry trade shows and events around the world, and creates the looks behind the brand's imagery. Naeemah's work is uniquely identifiable, and her aesthetic and talent for hair dressing is sure to leave a mark in the industry.
      </div>
    </div>

    <div class="bio" data-rel="swinney" data-modal-class="sessions" data-width="620" data-animated="1">
      <div class="modal-header">
        <%= image_tag 'sessions/presenters/swinney.png' %>
        <span class="name">Matt Swinney</span>
        <span class="company"><a href="#" target="_blank">L'ANZA</a></span>
        <span class="line">&nbsp;</span>
      </div>
      <div class="text">
        The fusion of art, science and creativity is the driving force behind Matt Swinney's ambition and passion for the haircare industry.  A four-time North American Hairstyling Award (NAHA) winner, Matt took home trophies for 2017 NAHA for Hair Color of the Year and Salon Team of the Year. He recently earned his first nomination and win in Behind the Chair's 2017 #BIGSHOT award for his incendiary work in the Avant-Garde category.  Matt has been highlighted as a Beauty Genius by Elle, and his work has been featured in American Salon, Modern Salon, Behindthechair.com, Estetica, Canadian Hairdresser, and trade publications worldwide.  
        <br /><br />
        As Global Creative Director for L'ANZA, Matt collaborates with his fellow Creative Team to conceptualize and develop the L'ANZA Collections for the season.  He has led styling teams at New York Fashion Week for fashion heavyweights like HARBISON and Karigam, and regularly travels the globe inspiring stylists with his unique approach to cutting and coloring techniques.  
        <br /><br />
        At home in Minneapolis, Minnesota, Matt co-owns Evolution Hair Studio – the world's first L'ANZA Healing Center, and 2017's NAHA-award winning Salon Team of the Year.  Whether instructing a class or touching up a client behind the chair, Matt's core philosophy remains the same:  Help everyone you touch reach their highest potential, while striving to reach your own.
      </div>
    </div>        

    <div class="bio" data-rel="cole" data-modal-class="sessions" data-width="620" data-animated="1">
      <div class="modal-header">
        <%= image_tag 'sessions/presenters/cole.png' %>
        <span class="name">Michael Cole</span>
        <span class="company"><a href="#" target="_blank">Summit Salon Business Center</a></span>
        <span class="line">&nbsp;</span>
      </div>
      <div class="text">
        Over the past 30 years Michael has lived the life of a stylist, manager, a multiple salon owner, and an executive chain director. But, he found his true calling in 1984 when he began training salon stylists to become financially successful TOP 20s.
        <br><br>
        Michael's breakthrough book, &quot;A Little Off the Top&quot; was the first in a series of DVD videos, CD audios, tracking journals, and organizational tools that have since helped over a million salon professionals break through to a more prosperous and purposeful career. 
        <br><br> 
        Today Michael shows no signs of slowing down. His new program, Step Up! – Fast Track to Wealth, is training Top 20 stylists to dramatically improve their personal finances and professional income in record time. You can learn more about Step Up!, read profiles of the people who have attended, and what it means to be a TOP 20 at www.SalonDev.com. 
      </div>
    </div>

    <div class="bio" data-rel="jennie" data-modal-class="sessions" data-width="620" data-animated="1">
      <div class="modal-header">
        <%= image_tag 'sessions/presenters/jennie.png' %>
        <span class="name">Jennie Wolff</span>
        <span class="company"><a href="http://www.solasalonstudios.com" target="_blank">Sola Salon Studios</a></span>
        <span class="line">&nbsp;</span>
      </div>
      <div class="text">
        After graduating from Emory University with a degree in Creative Writing, Jennie ventured to Colorado to break into Denver&apos;s entertainment scene, and was quickly hired by Kroenke Sports &amp; Entertainment. After 5 years of managing Kroenke&apos;s Special Events department, Jennie joined Motive, a boutique creative marketing agency. While at Motive, she worked on experiential campaigns and digital projects for top brands such as Mars Chocolate, Van&apos;s Natural Foods and Cartoon Network. Throughout this time, Jennie was a happy customer of an esthetician named Michelle who closed her traditional salon doors to move to Sola Salon Studios in Denver, CO.
        <br><br>
        In 2013, Matt and Stratton (Sola&apos;s co-founders) convinced Jennie to turn her talents toward the salon industry. As Sola&apos;s Vice President of Marketing and Education, Jennie manages the Sola marketing efforts top-to-bottom, including Sola&apos;s social media strategy, the Sola blog, Sola&apos;s website, all of Sola&apos;s traditional and nontraditional marketing campaigns, innovative stylist programs and education such as the Sola Pro app, SolaGenius and the Sola Sessions.
      </div>
    </div> 

    <div class="bio" data-rel="kim" data-modal-class="sessions" data-width="620" data-animated="1">
      <div class="modal-header">
        <%= image_tag 'sessions/presenters/kim.png' %>
        <span class="name">Kim Bennett</span>
        <span class="company"><a href="http://www.solasalonstudios.com" target="_blank">Sola Salon Studios</a></span>
        <span class="line">&nbsp;</span>
      </div>
      <div class="text">
        Kim Bennett&apos;s passion as a hairdresser has taken her on a journey through the beauty industry for more than 25 years. As a licensed cosmetologist since the age of 18, she has continued to catapult her career and her business from her humble small town beginnings, and is dedicated to inspiring others in the beauty industry.
        <br><br>
        As a Senior National Educator for Paul Mitchell for the past 24 years she was one of the first Artistic Color Coordinators chosen to help launch Paul Mitchell&apos;s first color line, as well as being a Task Force Leader where she trained and coached regional Paul Mitchell National Educators. She received the Paul Mitchell Focus Award in 2012, and continues to educate and help salons grow their business.
        <br><br>
        While working in all aspects of traditional salons, Kim made the decision of salon ownership after meeting Sola&apos;s co-founders, Matt and Stratton, at a coffee shop in Denver, Colorado and became the first Sola professional to sign a lease in early 2004! Throughout her 13 years at Sola, Kim has supported and represented Sola Salon Studios in myriad ways and in early 2014 was brought on to the Sola Home Office Team. Within her current role as Culture Ambassador and Director of Industry Relationships, Kim uses her expertise to share the Sola Salon Studios culture to connect and build relationships throughout the Professional Beauty Industry. 
        <br><br>
        Her passion and success as a Sola professional has spread like wildfire being asked to speak with industry leaders on better business practices and has been featured in many publications including Modern Salon, Behind the Chair, American Salon and Milady Pro. Kim is dedicated to creating opportunities for Sola professionals to inspire them to become successful business owners while also enjoying their best artistic self.
      </div>
    </div>

  </div>

  <div class="event-partners">
    <div class="container">
      <h2 class="bb">Event Partners</h2>
      
      <div class="logos">
        <%= image_tag 'sessions/partners/skinauthority.png', :class => 'skinauthority' %>
        <%= image_tag 'sessions/partners/cosmoprof.png', :class => 'cosmoprof' %> 
        <%= image_tag 'sessions/partners/hattori.png', :class => 'hattori' %>
        <%= image_tag '//solasessions.s3.amazonaws.com/logos/joico.gif', :class => 'joico' %>        
        <%= image_tag 'sessions/partners/sola.gif', :class => 'sola' %>
        <%= image_tag 'sessions/partners/solagenius.png', :class => 'solagenius' %>
        <%= image_tag '//solasessions.s3.amazonaws.com/logos/samvilla.png', :class => 'samvilla' %>
        
        
      </div>
      <br />
      <h4 class="pink text-center">More Coming Soon!</h4>
    </div>
  </div>

  <div class="faces-of-sola">
    <div class="container">
      <div class="row">
        <div class="twelve columns">
          <!--<div class="vertical-center-column">-->
            <h2 class="bb">Faces of Sola Panel</h2>
            <p>Coming Soon!</p>
          <!--</div>-->
        </div>
        <!--<div class="six columns">
          <img src="https://s3.amazonaws.com/solasalonstudios/faces_of_sola.jpg" class="u-full-width" alt="Faces of Sola" />
        </div>-->
      </div> 
    </div>
  </div>

  <div class="group-pic">
    <%= image_tag 'sessions/group-wide.jpg', :class => 'u-full-width' %>
  </div>

  <div class="getting-there">
    <div class="container">
      <h2 class="bb">Getting There and Parking</h2>
      <p>Coming Soon!</p>
    </div>
  </div>

  <div class="discounted-rooms">
    <div class="container">
      <a name="book_a_room" id="book_a_room"></a>
      <h2 class="text-center">Discounted Rooms Available</h2>
      <h3 class="text-center">The Duniway Hotel <strong>$199 Per Night</strong></h3>
      
      <!--<%= image_tag 'https://s3.amazonaws.com/solasalonstudios/Fairlane_Hotel.jpg' %>-->

      <div class="button-wrapper"><a href="https://www3.hilton.com/en/hotels/oregon/the-duniway-portland-a-hilton-hotel-PDXTPHH/index.html" target="_blank" class="button primary">Book Now</a></div>
      <p style="margin:-12px 0 15px 0">Make sure you enter the code SSS into the group/convention code to receive the discount.</p>
      <h4>LIMITED AVAILABILITY</h4>

    </div>
  </div>

</div>  

<h1 class="text-center" style="margin: 80px 0 -40px 0;">Testimonials</h1>

<div class="block-quote-testimonial" style="max-width: 900px; margin-bottom: 40px">
  <h3>I can't even begin to explain how magical of a time I had at the Sola Sessions! I am inspired and uplifted, and most of all, so grateful to be a part of the Sola family!</h3>
  <h4>Brittany Athey</h4>
</div>

<div class="callout blue-wave" style="padding:65px 20px 60px 20px;">
  <%= link_to 'To learn more about the Sola Sessions, click here!', :sessions, :class => 'heading-link' %>
</div>



<% content_for(:scripts) { javascript_include_tag('sessions_2018') } %>
<% content_for(:title) { 'Sola Sessions - Portland' } %>
<% content_for(:og_image) { "http:#{asset_path('sessions/sola-sessions-hero.jpg')}" } %>