<%= render 'shared/public_website/session_nav', :page => :about %>

<div class="session session-2018">    

  <div class="hero-carousel owl-carousel owl-theme">
    <div class="item">
      <div class="img-wrap"><%= image_tag '//solasessions.s3.amazonaws.com/heroes/portland.jpg', :width => 1386, :height => 712 %></div>
      <div class="item-content overlayed">
        <div class="learn-more-button">
          <h5><%= t('page.sessions.learn_more') %></h5>
          <span class="fa fa-angle-down"></span>
        </div>
      </div>
    </div>
  </div>

  <div class="header">
    <div class="container">

      <div class="text-center buy-now-button-wrapper">
        <a href="https://www.eventbrite.com/e/the-sola-sessions-portland-tickets-89126514805" class="buy-your-ticket buy-now-button" target="_blank">TICKETS</a>
      </div>

      <div class="ticket-includes">
        <p>Ticket includes:</p>
        <p><strong>Artistic, Business, and Marketing education, Vendor Expo, Side Sessions classes, lunch and happy hour, SWAG bag and prizes, Sunday cutting class and welcome reception. More to be announced!</strong></p>
        <h4 style="margin-bottom:-15px">Ticket Valued at $400</h4>
        <h4 style="margin-bottom:-15px">Early Bird Price: $119 (ends 2/20)</h4>
        <h4 style="margin-bottom:-15px">Regular Price: $149</h4>
      </div>
    </div>
  </div>

  <div class="date-and-time">
    <div class="container">
      <a name="when_and_where" id="when_and_where"></a>
      <h2 class="bb">When and Where</h2>

      <div class="row">
        <div class="six columns">
          <div>
            <h4 class="pink">Monday, April 27th</h4>
            <p>
            8am-9am: Vendor Expo
            <span class="inline-break">&nbsp;</span>
            9am-4:30pm: General Sessions
            <span class="inline-break">&nbsp;</span>
            4:30pm-6pm: Reception
            </p>
          </div>
        </div>
        <div class="six columns">
          <h4 class="blue">The LeftBank Annex</h4>
          <p>
            101 N Weidler St., Portland, OR 97227
            <span class="inline-break">&nbsp;</span>
            <span class="add-to-calendar-wrapper" data-title="Sola Session Portland" data-address="The LeftBank Annex, 101 N Weidler St., Portland, OR 97227" data-description="On Monday, April 27th, join us in the City of Roses for a Sola event you don't want to miss!" data-start="April 27, 2020 08:00" data-end="April 27, 2020 18:30"></span>
          </p> 
        </div>
      </div>

      <div class="row">
        <div class="six columns">   
          <div>
            <h4 class="pink">Sunday, April 26th</h4>
            <p>
            9am-12pm: Hands-On Education with Jack Winn Pro ($150)
            <span class="inline-break">&nbsp;</span>
            3pm-5pm: Cutting Class with Hattori Hanzo Shears Roy Jay White (the Hillbilly Barber) (included in your Sessions ticket)
            <span class="inline-break">&nbsp;</span>
            5pm-7pm: Welcome Reception (included in your Sessions ticket)
            <span class="inline-break">&nbsp;</span>
            **Please RSVP and register via the <a href="https://www.eventbrite.com/e/the-sola-sessions-portland-tickets-89126514805" target="_blank">Ticketing Page</a>
            </p>
          </div>
        </div>
        <div class="six columns">
          <h4 class="blue">The Duniway Hotel</h4>
          <p>
            545 SW Taylor St., Portland, OR 97204
            <span class="inline-break">&nbsp;</span>
            <span class="add-to-calendar-wrapper" data-title="Sola Session Portland" data-address="The Duniway Hotel, 545 SW Taytlor St., Portland, OR 97204" data-description="Sola Salons Portland Sessions Cutting Class and Welcome Reception" data-start="April 26, 2020 15:00" data-end="April 26, 2020 19:00"></span>
          </p>        
        </div>
      </div>

    </div>
  </div>

  <div class="discounted-rooms">
    <div class="container">
      <a name="book_a_room" id="book_a_room"></a>
      <h2 class="text-center">Discounted Rooms Available</h2>
      <h3 class="text-center">The Duniway Hotel <strong>$199 Per Night</strong></h3>
      
      <%= image_tag '//solasessions.s3.amazonaws.com/hotels/duniway.jpg' %>

      <div class="button-wrapper"><a href="https://www3.hilton.com/en/hotels/oregon/the-duniway-portland-a-hilton-hotel-PDXTPHH/index.html" target="_blank" class="button primary">Book Now</a></div>
      <p style="margin:-12px 0 15px 0">Make sure you enter the code SSS into the group/convention code to receive the discount.</p>
      <h4>LIMITED AVAILABILITY</h4>

    </div>
  </div>

  <div class="owl-carousel owl-theme giant-video">
    <div class="item">
      <div class="img-wrap">
        <%= image_tag 'sessions/video_background.jpg', :width => 1386, :height => 672 %>
      </div>
      <div class="item-content overlayed">
        <a href="//www.youtube.com/watch?v=yoMFQ1vnO-U" class="play-video giant-video-button-wrapper" rel="yoMFQ1vnO-U">
          <div class="giant-video-btn">
            <span class="fa fa-5x fa-play"></span>
          </div>
          <div class="text">Watch our video to learn more<br/>about the Sola Sessions</div>
        </a>
      </div>
    </div>
  </div>

  <div class="description">
    <div class="container">
      <h2 class="bb">Description</h2>
      <p>On Monday, April 27th, join us in the City of Roses for a Sola event you don't want to miss! Here's what's in store for you at the Portland Sola Sessions:</p>

      <div class="row">
        <div class="six columns">
          <div class="check-row"><span class="checkmark">&nbsp;</span> Artistic Education from Industry Greats</div>
          <div class="check-row"><span class="checkmark">&nbsp;</span> Business &amp; Marketing Education</div>
          <div class="check-row"><span class="checkmark">&nbsp;</span> Vendor Expo</div>
          <div class="check-row"><span class="checkmark">&nbsp;</span> Cocktail Reception</div>
        </div>
        <div class="six columns">
          <div class="check-row"><span class="checkmark">&nbsp;</span> Faces of Sola Panel</div>
          <div class="check-row"><span class="checkmark">&nbsp;</span> Inspiration and Community</div>
          <div class="check-row"><span class="checkmark">&nbsp;</span> Non-Hair Workshops</div>
          <div class="check-row"><span class="checkmark">&nbsp;</span> SWAG Bag, Prizes &amp; Giveaways</div>
        </div>
      </div>
    </div>
  </div>
 
  <a name="speakers" id="speakers"></a>
  <div class="speakers">
    <div class="container">
      <h2 class="bb">Featured Presenters</h2>
      <p>Click images below for presenter bios.</p>
    </div>
    <div class="container speakers-container"> 
    
      <div class="row">
        <div class="four columns" data-rel="villa">
          <%= image_tag '//solasessions.s3.amazonaws.com/presenters/samvilla.jpg' %>
          <span class="name">Sam Villa</span>
          <span class="company"><a href="#" target="_blank">Sam Villa Brand</a></span>
        </div>
        <div class="four columns" data-rel="carruthers">
          <%= image_tag '//solasessions.s3.amazonaws.com/presenters/carruthers.jpg' %>
          <span class="name">Andrew Carruthers</span>
          <span class="company"><a href="#" target="_blank">Sam Villa Brand</a></span>
        </div>
        <div class="four columns" data-rel="mannah">
          <%= image_tag '//solasessions.s3.amazonaws.com/presenters/mannah.jpg' %>
          <span class="name">Richard Mannah</span>
          <span class="company"><a href="#">Joico</a></span>
        </div> 
      </div>
      <div class="row">
        <div class="four columns" data-rel="buck">
          <%= image_tag '//solasessions.s3.amazonaws.com/presenters/buck.jpg' %>
          <span class="name">Jill Buck</span>
          <span class="company"><a href="#">Joico</a></span>
        </div>
        <div class="four columns" data-rel="kovner">
          <%= image_tag '//solasessions.s3.amazonaws.com/presenters/ninakovner.jpg' %>
          <span class="name">Nina Kovner</span>
          <span class="company"><a href="#">Passion Squared</a></span>
        </div>
        <div class="four columns" data-rel="mosley">
          <%= image_tag 'sessions/presenters/mosley.png' %>
          <span class="name">John Mosley</span>
          <span class="company"><a href="#">Popular Nobody</a></span>
        </div>
      </div>
      <div class="row">
        <div class="four columns" data-rel="jennie">
          <%= image_tag 'sessions/presenters/jennie.png' %>
          <span class="name">Jennie Wolff</span>
          <span class="company"><a href="#">Sola Salon Studios</a></span>
        </div>
        <div class="four columns" data-rel="cardenas">
          <%= image_tag '//solasessions.s3.amazonaws.com/presenters/cardenas.jpg' %>
          <span class="name">Kelly Cardenas</span>
          <span class="company"><a href="#">Kelly Cardenas Salon</a></span>
        </div>
        <div class="four columns" data-rel="kim">
          <%= image_tag '//solasessions.s3.amazonaws.com/presenters/kimi.jpg' %>
          <span class="name">Kim Bennett</span>
          <span class="company"><a href="#">Sola Salon Studios</a></span>
        </div>        
      </div>

      <h4 class="pink text-center">More to be announced</h4>

    </div>

  </div>

  <div class="bios">

    <div class="bio" data-rel="carruthers" data-modal-class="sessions" data-width="620" data-animated="1">
      <div class="modal-header">
        <%= image_tag '//solasessions.s3.amazonaws.com/presenters/carruthers.jpg' %>
        <span class="name">Andrew Carruthers</span>
        <span class="company"><a href="#">Sam Villa Brand</a></span>
        <span class="line">&nbsp;</span>
      </div>
      <div class="text">
"Andrew is an accomplished artist and educator, his devotion to teaching is evident as his goal is for stylists to 'get it' … his content directly relates to and is immediately applicable to stylists working behind the chair everyday…he is a natural!" – says Sam Villa, Founding Partner of the Sam Villa Brand
<br /><br />
Andrew Carruthers' diverse career has been built on a foundation of consistent clientele behind the chair, yet many other focuses feed his soul. In the past, Carruthers has worked as an educator for companies such as TIGI and Paul Mitchell Advanced Education. From small one-on-one classes to large stages, his love for supporting others and sharing discoveries has been a primary passion since early on. "When I teach, I have one goal in mind – to hand off information that is useable immediately, regardless of where stylists are located and whether they are an elite hairdresser, a recent beauty school graduate or someone who does hair in a rural area," explains Carruthers. 
<br /><br />
Andrew's award winning photo work shows his regard to explore his artistry and inspire outside of the salon, stage, and classroom.  As a master stylist and mentor at the NAHA recognized Lunatic Fringe Salon (Salt Lake City, UT), Andrew continues to work behind the chair and shape new hairdressers everyday.  "My passion is artistry and education, so Sam and I have similar philosophies on teaching, I thinks it's a perfect fit."
      </div>
    </div>

    <div class="bio" data-rel="mosley" data-modal-class="sessions" data-width="620" data-animated="1">
      <div class="modal-header">
        <%= image_tag 'sessions/presenters/mosley.png' %>
        <span class="name">John Mosley</span>
        <span class="company"><a href="#">Popular Nobody</a></span>
        <span class="line">&nbsp;</span>
      </div>
      <div class="text">
    John Mosley, who calls himself and his trademarked line of apparel and accessories the &quot;Popular Nobody,&quot; is one of the most sought after artist in the beauty industry.
    <br><br/>
    With over 16 years of passion and experience, John and his career have been on a steady incline, seeing his dreams unfold since he started in Long Beach, California. John is the founder/CEO and team lead for his Popular Nobody team and brand.
    <br><br/>
    His hard work, insatiable drive, and unstoppable tenacity for his craft allow John to keep his chair in a constant rotation of devoted clientele at his shop Popular Grooming Lounge in Dallas Texas. In 2017 John was named Modern Salons Top 100 industry game changers, 2019 he was named Educator of the Year, doing over 250 class and just about all major hair shows in 2018.
    <br><br/>
    John's individualized aesthetic has been showcased onstage in Eminem and Rihanna's acclaimed &quot;Monster Tour" and a film titled Deuces that will be featured on Netflix. John's large list of clients includes actors Larenz Tate and Idrs Elba, along with some of the most talked-about names in the music industry today, such as Kendrick Lamar and the TDE family, Jidenna, and many more. No stranger to the athletic world, John also works with the NFL Players Association (NFLPA), Major League Baseball players/teams and a few NBA players.
    <br><br/>
    In addition to movies, television, and commercials, John's visually precise looks have been published in GQ, New York Times Style, British GQ, Vogue, the cover of Billboard, Black Enterprise, Ebony, and Rolling Stone.
    <br><br/>
    Participating in Paul Mitchell Schools' Men's Cutting DVD as well he also help write and create the Paul Mitchell Barber Curriculum. Now John spends his time building his team and their brand. Education is the key and their goals are too share their knowledge, passion, laughs, life's ups and downs, and love. John is an inspiration and lifelong mentor to many because a statement he stands by.
    <br><br/>
    &quot;Always remain a Popular Nobody while staying Humble and Hungry&quot;
      </div>
    </div>

    <div class="bio" data-rel="villa" data-modal-class="sessions" data-width="620" data-animated="1">
      <div class="modal-header">
        <%= image_tag '//solasessions.s3.amazonaws.com/presenters/samvilla.jpg' %>
        <span class="name">Sam Villa</span>
        <span class="company"><a href="#" target="_blank">Sam Villa Brand</a></span>
        <span class="line">&nbsp;</span>
      </div>
      <div class="text">
        Sam Villa is changing the industry, one hairdresser at a time. Whether teaching face-to-face in small hands on classes, on main stage, or reaching his millions of social media followers, Sam changes people. He is a true leader that brings out the best in others. As the 2017 NAHA Lifetime Achievement Award Winner he is known for doing things differently to challenge, inspire and motivate change. His encouragement to stylists is unrivaled, as he genuinely wants each one of them to reach deep to identify how they can make a change to promote their own growth. Sam's talents stretch far beyond his brilliant cutting and finishing skills; he has a plethora of business skills that enliven stylists to think about how they speak to their guests to add value behind the chair. 
        <br /><br />
        &quot;Sharing is the greatest gift we can give one another...to help each other grow and prosper, we all need to pay it forward,&quot; says Sam. Consistent research  along with a respect for the fundamentals, Sam is always on the move for new and unconventional ways of cutting and finishing hair - like using a flat iron for versatility, texturizing iron to create hidden volume and using disconnection to create styles that look blended and can be worn in multiple ways. He is a true messenger sharing his knowledge with stylists in hopes that they too will share with others to enrich the industry...upgrade the industry by respecting and supporting one another - #SamVillaCommunity. An act for which he was named the 2020 International Hair Influencer of the Year at the International Hairdressing Awards.
        <br /><br />
        Sam is in his glory and most comfortable when teaching – a natural transition from his early coaching days in sports. Practice, practice, practice, until you master the craft and then share with others, so they too can become successful! Whether facilitating an in-salon class or on a stage at a major event, there is always something to be discovered and learned. Stylists need a good understanding of the fundamentals of basic techniques, once mastered, they can be manipulated to create modern silhouettes and textures,&quot; explains Sam.
        <br /><br />
        It's time to SHOUT IT OUT! The way for us to BE better is to COME TOGETHER as an industry, and the SHOUT begins here with Sam Villa and Redken!&quot; adds Sam.
        <br /><br />
        Sam is co-founder of the Sam Villa&reg; brand (Allvus, LLC) www.samvilla.com targeting stylists, as well as consumers. He shares hot tips and techniques live and virtually, and has a branded line of tools – brushes, combs, thermal tools and shears/razors – for both in-salon use and at home. Education is the path to success, follow Sam Villa&reg; on social media for solutions to common challenges experienced in the salon and at home
      </div>
    </div>

    <div class="bio" data-rel="kovner" data-modal-class="sessions" data-width="620" data-animated="1">
      <div class="modal-header">
        <%= image_tag '//solasessions.s3.amazonaws.com/presenters/ninakovner.jpg' %>
        <span class="name">Nina Kovner</span>
        <span class="company"><a href="#" target="_blank">Passion Squared</a></span>
        <span class="line">&nbsp;</span>
      </div>
      <div class="text">
        From the shampoo room to the boardroom, Nina L. Kovner took the world of pro beauty by storm with her thoughtful attention to detail and never-ending tenacity. In 2009, after 26 years of conquering obstacles in an ever-changing business landscape and helping to build one of the most recognized professional hair care brands in the world, she respectfully walked away from a career at the top to help small business owners and artists discover and live their purpose with passion and empower their businesses. Now, as Chief Awesomeness Empowerer at Passion Squared, she wakes up every morning asking herself... "How can I help the people I love create more awesome today?"
      </div>
    </div>

    <div class="bio" data-rel="cardenas" data-modal-class="sessions" data-width="620" data-animated="1">
      <div class="modal-header">
        <%= image_tag '//solasessions.s3.amazonaws.com/presenters/cardenas.jpg' %>
        <span class="name">Kelly Cardenas</span>
        <span class="company"><a href="#" target="_blank">Kelly Cardenas Salon</a></span>
        <span class="line">&nbsp;</span>
      </div>
      <div class="text">
        Kelly Cardenas is a beauty industry icon, author, international educator for John Paul Mitchell Systems, Business Coach, Salon Owner, husband and father. He attributes the success of his namesake salons, located in Las Vegas, Chicago and Carlsbad, CA and to the team around him. Cardenas' concept of integrity-based success has conditioned his team of trend-setting stylists to reach exponential heights as salon operators as well as individual beauty professionals.  
        <br /><br />
        Cardenas' upbringing is where he draws the majority of his inspiration. Having two amazing parents who taught him discipline, hard work, humility, and most importantly that anything was possible as long as you are willing to put in the work, prepared him for the uncertainty of business and life.  
        <br /><br />
        Kelly Cardenas Salon has a culture of hairdressers that deliver five-star service without the ego and supports the mission that everyone who experiences their environment should be treated like an A-list celebrity. The salon has become the industry standard for service, consistency and up-to-the-minute technique. 
        <br /><br />
          Public speaking has been a personal passion for Kelly Cardenas for the past 26 years. He started as a student taking every class he could find involving public speaking; as long as he could take something away from the experience, he knew it was worthwhile. Kelly's excitement for public speaking comes from the light bulb he sees turn on in people after hearing his encouraging words - words that have the power to change a life. Kelly has had speaking appearances in Los Angeles, Las Vegas, New York, Berlin, Shanghai and many more, locally, as well as worldwide.  
        <br /><br />
        Kelly refers to his relationships as his most valuable currency and has set out to leave any environment he's in better than the way he found it. Wanting to give back to the communities that have given him so much, Cardenas and his team are involved with multiple organizations including Aid for AIDS of Nevada, American Cancer Society Relay for Life, beauty industry favorite Eyes on Cancer, Showers of Blessings haircuts for homeless, Las Vegas Rescue Mission and Las Vegas Boys and Girls Clubs...among others.
        <br /><br />
        Recently, Cardenas wrote his first book &quot;The 6 Indicators for Business and Life,&quot; serving as a roadmap to guide individuals through the necessary tools to evaluate and measure the character and integrity needed to drive the bottom line in business and excel in personal relationships. The book represents the foundation for how Kelly operates in both his personal and business arenas and is well received by all who read it.  
        <br /><br />
        Although his journey started in the professional beauty industry, Cardenas feels that it is simply his conduit to have the opportunity to invest in the most valuable commodity that has ever been...people!!!  
        <br /><br />
        When he's not running his salons, Kelly enjoys spending time with his wife Brooklyn, kids Makena and Maddox, and the family dog Skyler in Carlsbad, CA.
      </div>
    </div>        

    <div class="bio" data-rel="mannah" data-modal-class="sessions" data-width="620" data-animated="1">
      <div class="modal-header">
        <%= image_tag '//solasessions.s3.amazonaws.com/presenters/mannah.jpg' %>
        <span class="name">Richard Mannah</span>
        <span class="company"><a href="#" target="_blank">Joico</a></span>
        <span class="line">&nbsp;</span>
      </div>
      <div class="text">
        With over 25 years of experience in the hair industry that includes a leadership role at Toni &
        Guy London and spans across three continents (for major roles, though he's traveled the world
        on assignment) Richard Mannah has amounted a veritable powerhouse of experience. Manah
        has amassed laudable credits such as winning awards like London Hairdresser of the Year
        2011/2012 (British Hairdressing Awards), being a part of the Australian F.A.M.E. Team for the
        Fellowship for British Hairdressing, working on NY and London Fashion Week projects for
        Vivienne Westwood, Tommy Hilfiger, Vera Wang, and his work has been published in industry
        and commercial publications alike – everything from Elle and British Vogue to Creative Head
        and The Journal.
        <br /><br />
        What makes Mannah such an incredible educator

        and mentor beyond his laudable talent? – he's
        also someone young up-and-comers can relate to
        and connect with. Having twice taking the title of
        "Newcomer of the Year" (1999 and again in 2000)
        – walking the path many of them are embarking
        on, he's been where many of his students and
        mentees are now. Right at the beginning of their
        burgeoning careers, learning and growing and
        ready for more!  
        <br /><br />
        In August 2018 Joico announced Mannah as Joico Guest Artistic Director a crowning
        achievement, not simply to lead a brand's global education but to find a brand who's value's, an
        artist can mesh so well with, and represent with pleasure and pride, "...I absolutely love
        working with [Joico] and what the brand stands for. It's the healthy hair company which
        believes in education, innovation, team-building, creativity and global growth. All these
        things are close to my heart...," Mannah shares.  
        <br /><br />    
        Mannah's relationship with Joico started in 2017, working on a photo-shoot in Australia, as well
        as video shoots and events in the U.S. which launched Beach Shake and Body Shake dry-
        styling texturizing sprays (follow-ups to the wildly successful Hair Shake Liquid-to-Powder
        Texturizer). He was also a headliner for the brand at their Joico Global Destination Education
        week-long education get-away in Punta Cana, Dominican Republic, where audiences raved
        about his stage presentation. Guests were treated to his blend of artistry and passion delievered
        in only the way Mannah can – with his personal touch and modern flair.
      </div>
    </div>

    <div class="bio" data-rel="buck" data-modal-class="sessions" data-width="620" data-animated="1">
      <div class="modal-header">
        <%= image_tag '//solasessions.s3.amazonaws.com/presenters/buck.jpg' %>
        <span class="name">Jill Buck</span>
        <span class="company"><a href="#" target="_blank">Joico</a></span>
        <span class="line">&nbsp;</span>
      </div>
      <div class="text">
        A proud mom and active beauty coach, Jill excels in bringing creative solutions from the salon to the screen.
        <br /><br />
        Oregon-grown and raised, Jill spent her early years exploring the coast, guiding river trips and carving the slopes just north of the California border. A rugged upbringing and love for the outdoors instilled in her a stubbornness drive to succeed. Graduating a year early from high school, she decided to pursue a career in the hair industry. She went on to Marinello in Las Vegas where she met longtime friend, Riawna Capri. The two started a whirlwind journey that would eventually reunite them years later. 
        <br /><br />
        Jill graduated Marinello in 2002 and worked at a salon in Bend, Oregon before moving to Medford to help the opening of Cielo Salon. It was during this time that she got hitched and started a family. In 2011, she moved to Los Angeles and was welcomed into the Nine Zero One family. She operated the Braid Bar on Santa Monica Blvd and steadily grew her clientele. Over the next few years she worked her way up as a Senior Stylist and pursued opportunities to meet new clients and assist some shining stars—Julianne Hough, Nina Dobrev, Jessica Simpson, Selena Gomez, Lili Reinhart among others.
        <br /><br />
        "Embrace the chaos, seek creativity and stay positive." Jill understands the whirlwind of the industry but does her best to build solid relationships with each and every client. Relationships matter and so does helping people feel good about themselves. Among her presence in the salon, Jill also works Dancing with the Stars, America's Got Talent, red carpet events, oversees direction of the Beauty Coach video series, tours with Beauty Coach and is the Creative Director for the BeYOUtiful Foundation. "The payoff is seeing the smiles on my client's faces. I want them to be confident, be comfortable and to know I'm always there for them."
      </div>
    </div>

    <div class="bio" data-rel="jennie" data-modal-class="sessions" data-width="620" data-animated="1">
      <div class="modal-header">
        <%= image_tag 'sessions/presenters/jennie.png' %>
        <span class="name">Jennie Wolff</span>
        <span class="company"><a href="http://www.solasalonstudios.com" target="_blank">Sola Salon Studios</a></span>
        <span class="line">&nbsp;</span>
      </div>
      <div class="text">
        After graduating from Emory University with a degree in Creative Writing, Jennie ventured to Colorado to break into Denver&apos;s entertainment scene, and was quickly hired by Kroenke Sports &amp; Entertainment. After 5 years of managing Kroenke&apos;s Special Events department, Jennie joined Motive, a boutique creative marketing agency. While at Motive, she worked on experiential campaigns and digital projects for top brands such as Mars Chocolate, Van&apos;s Natural Foods and Cartoon Network. Throughout this time, Jennie was a happy customer of an esthetician named Michelle who closed her traditional salon doors to move to Sola Salon Studios in Denver, CO.
        <br><br>
        In 2013, Matt and Stratton (Sola&apos;s co-founders) convinced Jennie to turn her talents toward the salon industry. As Sola&apos;s Vice President of Marketing and Education, Jennie manages the Sola marketing efforts top-to-bottom, including Sola&apos;s social media strategy, the Sola blog, Sola&apos;s website, all of Sola&apos;s traditional and nontraditional marketing campaigns, innovative stylist programs and education such as the Sola Pro app, SolaGenius and the Sola Sessions.
      </div>
    </div> 

    <div class="bio" data-rel="kim" data-modal-class="sessions" data-width="620" data-animated="1">
      <div class="modal-header">
        <%= image_tag '//solasessions.s3.amazonaws.com/presenters/kimi.jpg' %>
        <span class="name">Kim Bennett</span>
        <span class="company"><a href="http://www.solasalonstudios.com" target="_blank">Sola Salon Studios</a></span>
        <span class="line">&nbsp;</span>
      </div>
      <div class="text">
        Kim Bennett&apos;s passion as a hairdresser has taken her on a journey through the beauty industry for more than 25 years. As a licensed cosmetologist since the age of 18, she has continued to catapult her career and her business from her humble small town beginnings, and is dedicated to inspiring others in the beauty industry.
        <br><br>
        As a Senior National Educator for Paul Mitchell for the past 24 years she was one of the first Artistic Color Coordinators chosen to help launch Paul Mitchell&apos;s first color line, as well as being a Task Force Leader where she trained and coached regional Paul Mitchell National Educators. She received the Paul Mitchell Focus Award in 2012, and continues to educate and help salons grow their business.
        <br><br>
        While working in all aspects of traditional salons, Kim made the decision of salon ownership after meeting Sola&apos;s co-founders, Matt and Stratton, at a coffee shop in Denver, Colorado and became the first Sola professional to sign a lease in early 2004! Throughout her 13 years at Sola, Kim has supported and represented Sola Salon Studios in myriad ways and in early 2014 was brought on to the Sola Home Office Team. Within her current role as Culture Ambassador and Director of Industry Relationships, Kim uses her expertise to share the Sola Salon Studios culture to connect and build relationships throughout the Professional Beauty Industry. 
        <br><br>
        Her passion and success as a Sola professional has spread like wildfire being asked to speak with industry leaders on better business practices and has been featured in many publications including Modern Salon, Behind the Chair, American Salon and Milady Pro. Kim is dedicated to creating opportunities for Sola professionals to inspire them to become successful business owners while also enjoying their best artistic self.
      </div>
    </div>

  </div>

  <div class="event-partners">
    <div class="container">
      <h2 class="bb">Event Partners</h2>
      
      <div class="logos">
        <%= image_tag 'sessions/partners/skinauthority.png', :class => 'skinauthority' %>
        <!--<%= image_tag 'sessions/partners/cosmoprof.png', :class => 'cosmoprof' %>-->
        <%= image_tag 'sessions/partners/hattori.png', :class => 'hattori' %>
        <%= image_tag '//solasessions.s3.amazonaws.com/logos/joico.gif', :class => 'joico' %>        
        <%= image_tag 'sessions/partners/sola.gif', :class => 'sola' %>
        <%= image_tag 'sessions/partners/solagenius.png', :class => 'solagenius' %>
        <%= image_tag '//solasessions.s3.amazonaws.com/logos/samvilla.png', :class => 'samvilla' %>
        <%= image_tag '//solasessions.s3.amazonaws.com/logos/passionsquared.jpg', :class => 'passion_squared' %>
        <%= image_tag '//solasessions.s3.amazonaws.com/logos/hairdo.jpg', :class => 'hairdo' %>
        <%= image_tag '//solasessions.s3.amazonaws.com/logos/popular_nobody.png', :class => 'popular_nobody' %>
        <%= image_tag '//solasessions.s3.amazonaws.com/logos/jack_winn_pro.png', :class => 'jack_winn_pro' %>
        <%= image_tag '//solasessions.s3.amazonaws.com/logos/kelly_cardenas.png', :class => 'kelly_cardenas' %>
      </div>
      <br />
      <h4 class="pink text-center">More Coming Soon!</h4>
    </div>
  </div>

  <div class="group-pic">
    <%= image_tag 'sessions/group-wide.jpg', :class => 'u-full-width' %>
  </div>

  <div class="getting-there">
    <div class="container">
      <h2 class="bb">Getting There and Parking</h2>
      <p>Located on NE Weidler Street in Northeast Portland, the LeftBank Annex is about an 8 minute Uber/Lyft ride from our preferred hotel, the Duniway.</p>
    </div>
  </div>

</div>  

<h1 class="text-center" style="margin: 80px 0 -40px 0;">Testimonials</h1>

<div class="block-quote-testimonial" style="max-width: 900px; margin-bottom: 40px">
  <h3>I can't even begin to explain how magical of a time I had at the Sola Sessions! I am inspired and uplifted, and most of all, so grateful to be a part of the Sola family!</h3>
  <h4>Brittany Athey</h4>
</div>

<div class="callout blue-wave" style="padding:65px 20px 60px 20px;">
  <%= link_to 'To learn more about the Sola Sessions, click here!', :sessions, :class => 'heading-link' %>
</div>



<% content_for(:scripts) { javascript_include_tag('sessions_2018') } %>
<% content_for(:title) { 'Sola Sessions - Portland' } %>
<% content_for(:og_image) { "http:#{asset_path('sessions/sola-sessions-hero.jpg')}" } %>