<%= render 'shared/public_website/session_nav', :page => :about %>

<div class="session session-2018">    

  <div class="hero-carousel owl-carousel owl-theme">
    <div class="item">
      <div class="img-wrap"><%= image_tag 'sessions/san_diego_hero.jpg', :width => 1386, :height => 709 %></div>
      <div class="item-content overlayed">
        <div class="learn-more-button">
          <h5><%= t('page.sessions.learn_more') %></h5>
          <span class="fa fa-angle-down"></span>
        </div>
      </div>
    </div>
  </div>

  <div class="header">
    <div class="container">

      <h4 class="text-center" style="margin-top:25px">Tickets On Sale Monday, January 14th</h4>

      <div class="text-center buy-now-button-wrapper">
        <a href="https://www.eventbrite.com/e/the-sola-sessions-tickets-54452059576" class="buy-your-ticket buy-now-button" target="_blank">Buy Now</a>
      </div>

      <div class="early-bird-general-admission">
        
        <div class="early-bird">
          <div class="price-circle"><sup>$</sup>119</div>
          <h2>Early Bird</h2>
          <p>Valid through February 11th<br>&nbsp;</p>
          <div class="buy-your-ticket-wrapper">
            <a href="https://www.eventbrite.com/e/the-sola-sessions-tickets-54452059576" class="buy-your-ticket" target="_blank">&#9658; &nbsp;On Sale January 14th</a>
          </div>
        </div>
        
        <div class="general-admission">
          <div class="price-circle"><sup>$</sup>149</div>
          <h2>Regular Pricing</h2>
          <p>Ticket prices increase<br>on February 12th</p>
          <div class="buy-your-ticket-wrapper">
            <a href="#" class="buy-your-ticket disabled" target="_blank">&#9658; &nbsp;Buy Your Ticket!</a>
          </div>
        </div>
      </div>

      <div class="ticket-includes">
        <p>Ticket includes:</p>
        <p><strong>Education, Sunday Workshop, Swag Bag, Prizes, Lunch, Happy Hour, Additional Non-Hair Classes. More to be Announced!</strong></p>
        <h4>Ticket Valued at $400</h4>
      </div>
    </div>
  </div>

  <div class="date-and-time">
    <div class="container">
      <a name="when_and_where" id="when_and_where"></a>
      <h2 class="bb">When and Where</h2>
      
      <div class="row">
        <div class="six columns">   
          <div>
            <h4 class="pink">Monday, May 6th</h4>
            <p>
            8 am - 9 am: Vendor Expo
            <span class="inline-break">&nbsp;</span>
            9 am - 6:30 pm PST: Main Event
            </p>
          </div>
        </div>
        <div class="six columns">
          <h4 class="blue">The Prado</h4>
          <p>
            1549 El Prado, San Diego, CA 92101
            <span class="inline-break">&nbsp;</span>
            <span class="add-to-calendar-wrapper" data-title="Sola Session San Diego, CA" data-address="The Prado, 1549 El Prado, San Diego, CA 92101" data-description="On Monday, May 6th, the Sola Sessions is heading to San Diego for an event unlike any other!" data-start="May 6, 2019 08:00" data-end="May 6, 2019 18:30"></span>
          </p>        
        </div>
      </div>

    </div>
  </div>

  <div class="owl-carousel owl-theme giant-video">
    <div class="item">
      <div class="img-wrap">
        <%= image_tag 'sessions/video_background.jpg', :width => 1386, :height => 672 %>
      </div>
      <div class="item-content overlayed">
        <a href="//www.youtube.com/watch?v=yoMFQ1vnO-U" class="play-video giant-video-button-wrapper" rel="yoMFQ1vnO-U">
          <div class="giant-video-btn">
            <span class="fa fa-5x fa-play"></span>
          </div>
          <div class="text">Watch our video to learn more<br/>about the Sola Sessions</div>
        </a>
      </div>
    </div>
  </div>

  <div class="description">
    <div class="container">
      <h2 class="bb">Description</h2>
      <p>On Monday, May 6th, the Sola Sessions is heading to San Diego for an event unlike any other!</p>

      <div class="row">
        <div class="six columns">
          <div class="check-row"><span class="checkmark">&nbsp;</span> Artistic Education from Industry Greats</div>
          <div class="check-row"><span class="checkmark">&nbsp;</span> Business &amp; Marketing Education</div>
          <div class="check-row"><span class="checkmark">&nbsp;</span> Vendor Expo</div>
          <div class="check-row"><span class="checkmark">&nbsp;</span> Cocktail Reception</div>
        </div>
        <div class="six columns">
          <div class="check-row"><span class="checkmark">&nbsp;</span> Faces of Sola Panel</div>
          <div class="check-row"><span class="checkmark">&nbsp;</span> Inspiration and Community</div>
          <div class="check-row"><span class="checkmark">&nbsp;</span> Non-Hair Workshops</div>
          <div class="check-row"><span class="checkmark">&nbsp;</span> SWAG Bag, Prizes &amp; Giveaways</div>
        </div>
      </div>
    </div>
  </div>
 
  <a name="speakers" id="speakers"></a>
  <div class="speakers">
    <div class="container">
      <h2 class="bb">Featured Presenters</h2>
    </div>
    <div class="container speakers-container"> 
      <div class="row">
        <div class="four columns offset-by-two" data-rel="mosley">
          <%= image_tag 'sessions/presenters/mosley.png' %>
          <span class="name">John Mosley</span>
          <span class="company"><a href="#">Popular Nobody</a></span>
        </div>
        <div class="four columns" data-rel="gilmore">
          <%= image_tag 'sessions/presenters/gilmore.png' %>
          <span class="name">Greg Gilmore</span>
          <span class="company"><a href="#">Design Essentials</a></span>
        </div>

      </div>

      <div class="row">
        <div class="four columns" data-rel="robert">
          <%= image_tag 'sessions/presenters/robert.png' %>
          <span class="name">Robert Cromeans</span>
          <span class="company"><a href="#">Paul Mitchell</a></span>
        </div>
        <div class="four columns" data-rel="mary">
          <%= image_tag 'sessions/presenters/mary.png' %>
          <span class="name">Mary Cuomo</span>
          <span class="company"><a href="#">Paul Mitchell</a></span>
        </div>
        <div class="four columns" data-rel="lauren">
          <%= image_tag 'sessions/presenters/lauren.png' %>
          <span class="name">Lauren Gartland</span>
          <span class="company"><a href="#">Inspiring Champions</a></span>
        </div>
      </div>
   
      <div class="row">
        <div class="four columns offset-by-two" data-rel="jennie">
          <%= image_tag 'sessions/presenters/jennie.png' %>
          <span class="name">Jennie Wolff</span>
          <span class="company"><a href="#">Sola Salon Studios</a></span>
        </div>
        <div class="four columns" data-rel="kim">
          <%= image_tag 'sessions/presenters/kim.png' %>
          <span class="name">Kim Bennett</span>
          <span class="company"><a href="#">Sola Salon Studios</a></span>
        </div>

      </div>

      <h4 class="pink text-center">More Coming Soon!</h4>
    </div>
  </div>

  <div class="bios">
    <div class="bio" data-rel="mosley" data-modal-class="sessions" data-width="620" data-animated="1">
      <div class="modal-header">
        <%= image_tag 'sessions/presenters/mosley.png' %>
        <span class="name">John Mosley</span>
        <span class="company"><a href="#">Popular Nobody</a></span>
        <span class="line">&nbsp;</span>
      </div>
      <div class="text">
        Identifiable under the alias, &quot;Popular Nobody&quot; (which also stands as the trademarked name for his line of apparel and accessories) John Mosley also happens to be one of the most sought-after barbers in the industry. He also runs the "Renaissance Man" deck of talent. 
        <br><br>
        With 14 years of passion and experience, John's career has been on a steady incline of watching his dreams unfold since the days at his alma mater, John Wesley Barber College in Long Beach, Calif. Hard work, insatiable drive, and an unstoppable tenacity for his craft have enabled John to not only keep his chair full with a constant rotation of devoted clientele, but his thirst for what's new continues to keep his technical skills a cut above the rest.
        <br><br>
        Eminem and Rihanna's acclaimed &quot;Monster Tour&quot;, Music Midtown, and Austin City Limits can all add John's individualized aesthetics to their on-stage resumes. His list of superstar patrons also includes Larenz Tate, Idrs Elba, and one of the most talked about names in the music industry today: Kendrick Lamar. No stranger to the athletic world, John also works with the NFLPA and the Washington Nationals baseball team.
        <br><br>
        In addition to movies, television, and commercials, his body of visual precision has also been published in ESPN the Magazine, British GQ, Vogue, and the cover of Billboard Magazine, Black Enterprise Magazine, Ebony, and Rolling Stone.
        <br><br>
        Traveling around the country and being able to share his expert techniques with students and professionals alike, along with participating in Paul Mitchell Schools' Men's Cutting DVD, stand as just some of the examples of John's warm and genuine personality being further fulfilled by giving back not only to his profession, but his community as well. Be it speaking at high schools in his city, or coaching Pop Warner football for youth, many are able to consider John an inspiration and a lifelong mentor. 
      </div>
    </div>

    <div class="bio" data-rel="gilmore" data-modal-class="sessions" data-width="620" data-animated="1">
      <div class="modal-header">
        <%= image_tag 'sessions/presenters/gilmore.png' %>
        <span class="name">Greg Gilmore</span>
        <span class="company"><a href="#">Design Essentials</a></span>
        <span class="line">&nbsp;</span>
      </div>
      <div class="text">
        A native of Cleveland, Ohio, Greg Gilmore has spent more than 15 years mastering the art of hair. He has developed into a uniquely talented and comprehensive hair master, possessing a true passion for hair culture and care. At the early age of 16, Greg began assisting and shampooing in local salons eager to get a jump start on his peers and learn everything he could about hair before graduating from cosmetology school in 2004.
        <br><br>
        Greg Gilmore's years of concentration in hair cutting and coloring has made him one of Los Angeles's top HairCutting Experts and Colorists, specializing in Textured hair today, and he has continued education with courses in color theory by Paul Mitchell Color Systems, L'Oreal Professional, as well as a diploma from Vidal Sassoon Academy for Advanced hair cutting.
        <br><br>
        Greg Gilmore was named one of Cleveland's top 50 stylists by blow Magazine in both 2008 and 2009; he was featured as a platform artist at the 2011 Spectrum Beauty Expo in Los Angeles; a featured platform artist at the 2016 Bronner Brothers International Hairshow, and has had work featured on all major news networks, including NBC, FOX, and CBS.
        <br><br>
        Currently, Greg is an Associate Artist/Educator representing one of the world's leading texture brands, Design Essentials, with product knowledge and speaking engagements in different local and out-of-state cities. Greg was also named Design Essentials Artistic Educator of the Year in 2018, and was featured at the ESPY Awards, NAACP Image Awards, Bet Awards Red Carpet, as well as VH1's Basketball Wives Reunion Show. Magazines such as Rolling Out, Runway, and Upscale showcase his hair artistry. Greg has worked with notable clients, including but not limited to, Olympic gold medalist Dawn Harper, Monice Slaughter from Love and Hip Hop, Hollywood actress and model Rosa Acosta, reality tv star Jennifer Williams, actresses Rochelle Aytes, Angell Conwell, Vivica A. Fox, Amber Stevens West, and others.
        <br><br>
        Those who have worked with Greg say he is an excellent conversationalist, and clients affirm that he is the greatest at what he does; a natural trendsetter with an unbelievable ability to transform hair into art. His life's mission is to touch people's lives in a positive way; make a difference in the world, however big or small; and to encourage positive progression towards a better tomorrow, one head at a time.
      </div>
    </div>

    <div class="bio" data-rel="kim" data-modal-class="sessions" data-width="620" data-animated="1">
      <div class="modal-header">
        <%= image_tag 'sessions/presenters/kim.png' %>
        <span class="name">Kim Bennett</span>
        <span class="company"><a href="http://www.solasalonstudios.com" target="_blank">Sola Salon Studios</a></span>
        <span class="line">&nbsp;</span>
      </div>
      <div class="text">
        Kim Bennett&apos;s passion as a hairdresser has taken her on a journey through the beauty industry for more than 25 years. As a licensed cosmetologist since the age of 18, she has continued to catapult her career and her business from her humble small town beginnings, and is dedicated to inspiring others in the beauty industry.
        <br><br>
        As a Senior National Educator for Paul Mitchell for the past 24 years she was one of the first Artistic Color Coordinators chosen to help launch Paul Mitchell&apos;s first color line, as well as being a Task Force Leader where she trained and coached regional Paul Mitchell National Educators. She received the Paul Mitchell Focus Award in 2012, and continues to educate and help salons grow their business.
        <br><br>
        While working in all aspects of traditional salons, Kim made the decision of salon ownership after meeting Sola&apos;s co-founders, Matt and Stratton, at a coffee shop in Denver, Colorado and became the first Sola professional to sign a lease in early 2004! Throughout her 13 years at Sola, Kim has supported and represented Sola Salon Studios in myriad ways and in early 2014 was brought on to the Sola Home Office Team. Within her current role as Culture Ambassador and Director of Industry Relationships, Kim uses her expertise to share the Sola Salon Studios culture to connect and build relationships throughout the Professional Beauty Industry. 
        <br><br>
        Her passion and success as a Sola professional has spread like wildfire being asked to speak with industry leaders on better business practices and has been featured in many publications including Modern Salon, Behind the Chair, American Salon and Milady Pro. Kim is dedicated to creating opportunities for Sola professionals to inspire them to become successful business owners while also enjoying their best artistic self.
      </div>
    </div>

    <div class="bio" data-rel="robert" data-modal-class="sessions" data-width="620" data-animated="1">
      <div class="modal-header">
        <%= image_tag 'sessions/presenters/robert.png' %>
        <span class="name">Robert Cromeans</span>
        <span class="company"><a href="#">Paul Mitchell</a></span>
        <span class="line">&nbsp;</span>
      </div>
      <div class="text">
        Hairdresser, salon owner, platform artist and industry legend, John Paul Mitchell Systems&reg; Global Artistic &amp; Business Director Robert Cromeans inspires hairdressers around the globe with his charming wit, innovative artistry and proven business strategies. Few have achieved such international acclaim; fewer still have worked so hard to share the keys to success with others. Robert is the proud owner of A Robert Cromeans Salons and Walkin Salons by Robert Cromeans in San Diego, Tulsa, Oklahoma City and Las Vegas.
      </div>
    </div>
    
    <div class="bio" data-rel="mary" data-modal-class="sessions" data-width="620" data-animated="1">
      <div class="modal-header">
        <%= image_tag 'sessions/presenters/mary.png' %>
        <span class="name">Mary Cuomo</span>
        <span class="company"><a href="#">Paul Mitchell</a></span>
        <span class="line">&nbsp;</span>
      </div>
      <div class="text">
        At hair shows, Mary Cuomo initiates breathtaking transformations that start at the model casting and culminate on the Paul Mitchell&reg; stage. At A Robert Cromeans Salon in San Diego, Mary's specialty is five-star treatment. She has mastered the art of the upgrade and derives 80% of her salon business from the Color Bar&#8480; experience. Mary's artistry and pace make her one of Paul Mitchell's most sought-after international show artists. Watch how she brings this excitement to everything she does!
      </div>
    </div>

    <div class="bio" data-rel="lauren" data-modal-class="sessions" data-width="620" data-animated="1">
      <div class="modal-header">
        <%= image_tag 'sessions/presenters/lauren.png' %>
        <span class="name">Lauren Gartland</span>
        <span class="company"><a href="#">Inspiring Champions</a></span>
        <span class="line">&nbsp;</span>
      </div>
      <div class="text">
        Lauren, the &quot;Red Head Firecracker&quot; has impacted the beauty industry since 1983 by &quot;Inspiring Dreams, Passion, and the Champion Within!&quot; Lauren founded Inspiring Champions in 1995, and has since trained and coached TENS of THOUSANDS to the top of their careers, using her proven and repeatable business systems for dramatically increasing sales, client retention, income and profit – all while having fun! Lauren is vibrant, dynamic, and genuine. Rated as one of the top business trainers and success coaches in the Salon &amp; Spa industry.
      </div>
    </div>

    <div class="bio" data-rel="jennie" data-modal-class="sessions" data-width="620" data-animated="1">
      <div class="modal-header">
        <%= image_tag 'sessions/presenters/jennie.png' %>
        <span class="name">Jennie Wolff</span>
        <span class="company"><a href="http://www.solasalonstudios.com" target="_blank">Sola Salon Studios</a></span>
        <span class="line">&nbsp;</span>
      </div>
      <div class="text">
        After graduating from Emory University with a degree in Creative Writing, Jennie ventured to Colorado to break into Denver&apos;s entertainment scene, and was quickly hired by Kroenke Sports &amp; Entertainment. After 5 years of managing Kroenke&apos;s Special Events department, Jennie joined Motive, a boutique creative marketing agency. While at Motive, she worked on experiential campaigns and digital projects for top brands such as Mars Chocolate, Van&apos;s Natural Foods and Cartoon Network. Throughout this time, Jennie was a happy customer of an esthetician named Michelle who closed her traditional salon doors to move to Sola Salon Studios in Denver, CO.
        <br><br>
        In 2013, Matt and Stratton (Sola&apos;s co-founders) convinced Jennie to turn her talents toward the salon industry. As Sola&apos;s Vice President of Marketing and Education, Jennie manages the Sola marketing efforts top-to-bottom, including Sola&apos;s social media strategy, the Sola blog, Sola&apos;s website, all of Sola&apos;s traditional and nontraditional marketing campaigns, innovative stylist programs and education such as the Sola Pro app, SolaGenius and the Sola Sessions.
      </div>
    </div> 
  </div>

  <div class="event-partners">
    <div class="container">
      <h2 class="bb">Event Partners</h2>
      
      <div class="logos">
        <%= image_tag 'sessions/partners/hattori.png', :class => 'hattori' %>
        <%= image_tag 'sessions/partners/salontech.jpg', :class => 'salontech' %>
        <%= image_tag 'sessions/partners/solagenius.png', :class => 'solagenius' %>
        <%= image_tag 'sessions/partners/saloncentric.png', :class => 'saloncentric' %>

        <%= image_tag 'sessions/partners/paulmitchell.jpg', :class => 'paulmitchell' %>
        <%= image_tag 'sessions/partners/ienvy.jpg', :class => 'ienvy' %>
        <%= image_tag 'sessions/partners/skinauthority.png', :class => 'skinauthority' %>
        <%= image_tag 'sessions/partners/pulpriot.png', :class => 'pulpriot' %>

        <%= image_tag 'sessions/partners/inspiringchampions.jpg', :class => 'inspiringchampions' %>
        <%= image_tag 'sessions/partners/sola.jpg', :class => 'sola' %>
      </div>

      <h4 class="pink text-center">More Coming Soon!</h4>
    </div>
  </div>


  <div class="description">
    <div class="container">
      <h2 class="bb">Additional Education and Festivities</h2>
      <p>On Sunday, May 5th, join us for a pool party hosted by Hattori Hanzo Shears at the Lafayette Hotel! Stop by any time from 2pm – 5pm for a cocktail, demos from Hanzo, and fun in the sun. More details coming soon!</p>
      <p>In addition, Lauren Gartland of Inspiring Champions will be hosting an all-day class on Tuesday, 5/7 – with exclusive pricing just for Sessions attendees! You will learn how to boost your income, explode retail sales, add $100 to your book every day, and much more! More details coming soon.</p>
      <div class="row" style="margin-top:40px;margin-bottom:0">
        <div class="six columns">   
          <div>
            <h4 class="pink">Sunday, May 5th</h4>
            <p>
            2 pm - 5 pm: Pool Party
            <span class="inline-break">&nbsp;</span>
            Pool Party hosted by Hattori Hanzo Shears
            </p>
          </div>
        </div>
        <div class="six columns">
          <h4 class="blue">The Lafayette Hotel</h4>
          <p>
            2223 El Cajon Blvd., San Diego, CA 92104
            <span class="inline-break">&nbsp;</span>
            <span class="add-to-calendar-wrapper" data-title="Sola Session Pool Party" data-address="The Lafayette Hotel, 2223 El Cajon Blvd., San Diego, CA 92104" data-description="Hosted by Hattori Hanzo Shears! Join us on Cinco de Mayo/Sunday afternoon for a fun-filled pool party from 12-5pm. Stop by at any time for a cocktail, demo from Hanzo, and fun in the sun." data-start="May 5, 2019 14:00" data-end="May 5, 2019 17:00"></span>
          </p>       
        </div>
      </div>

      <div class="row" style="margin-top:20px;margin-bottom:20px">
        <div class="six columns">   
          <div>
            <h4 class="pink">Tuesday, May 7th</h4>
            <p>
            9:30 am - 4 pm
            <span class="inline-break">&nbsp;</span>
            Additional Education hosted by Inspiring Champions
            <span class="inline-break">&nbsp;</span>
            Cost: $99
            </p>
          </div>
        </div>
        <div class="six columns">
          <h4 class="blue">Location Info Coming Soon!</h4>      
        </div>
      </div>

    </div>
  </div>

  <div class="group-pic">
    <%= image_tag 'sessions/group-wide.jpg', :class => 'u-full-width' %>
  </div>

  <div class="getting-there">
    <div class="container">
      <div class="six columns">
        <h2 class="bb">Getting There</h2>
        <p>The Prado is located in the center of historic Balboa Park. An Uber or Lyft will cost about $8 from our preferred hotel, The Lafayette Hotel. But there is ample free parking around the park.</p>
        <p>If you're arriving early for the event, make sure you arrive on Sunday by 2pm so you can attend the Hattori Hanzo Shears-sponsored pool party at the Lafayette Hotel. For those coming just on Monday, we recommend booking a later flight so you can attend the cocktail reception where you can mix &amp; mingle with event presenters. In addition, Inspiring Champions will be hosting an all-day event on Tuesday. For those who purchase tickets for this class, we recommend flying out after 7pm.</p>
      </div>
      <div class="six columns" style="text-align:right;">
        <%= image_tag 'sessions/san_diego_venue.jpg', :class => 'u-max-full-width', :alt => "San Diego venue" %>
      </div>
    </div>
  </div>

  <div class="discounted-rooms">
    <div class="container">
      <a name="book_a_room" id="book_a_room"></a>
      <h2 class="text-center">Discounted Rooms Available</h2>
      <h3 class="text-center">The Lafayette Hotel <strong>$169 Per Night</strong></h3>
      
      <%= image_tag 'sessions/san-diego-hotel.jpg' %>

      <div class="button-wrapper"><a href="https://reservations.travelclick.com/97077?&rooms=1&identifier=3564938#/datesofstay" target="_blank" class="button primary">Book Now</a></div>
      <h4>LIMITED AVAILABILITY</h4>
      <p>Enter code &quot;solasalons&quot; under Discount Code to access the preferred rate.</p>

    </div>
  </div>

</div>  

<h1 class="text-center" style="margin: 80px 0 -40px 0;">Testimonials</h1>

<div class="block-quote-testimonial" style="max-width: 900px; margin-bottom: 40px">
  <h3>I can't even begin to explain how magical of a time I had at the Sola Sessions! I am inspired and uplifted, and most of all, so grateful to be a part of the Sola family!</h3>
  <h4>Brittany Athey</h4>
</div>

<div class="callout blue-wave" style="padding:65px 20px 60px 20px;">
  <%= link_to 'To learn more about the Sola Sessions, click here!', :sessions, :class => 'heading-link' %>
</div>

<!--
<a name="future-sessions"></a>
<div class="future-sessions">
  <div class="container">
    <h1>Mark Your Calendar<br>for Future Sola Sessions!</h1>
    <div class="row circles">
      <div><%= link_to :san_jose_session do %><%= image_tag 'sessions/bay-area-circle.png' %><% end %></div>
    </div>
    <h2>More Info On Future Sessions Coming Soon!</h2>
  </div>
</div>
-->

<% content_for(:scripts) { javascript_include_tag('sessions_2018') } %>
<% content_for(:title) { 'Sola Sessions - San Diego' } %>
<% content_for(:og_image) { "http:#{asset_path('sessions/sola-sessions-hero.jpg')}" } %>