<div class="session session-2017">    

    <div class="header">
      <div class="container">

        <div class="logo calc-height">
          <%= image_tag 'sessions/sessions-logo-white.png', :width => 559, :height => 148 %>
        </div>

        <!--<div class="tickets-on-sale-now calc-height">
          <h3>Tickets on Sale Monday March 6th!</h3>
        </div>-->

        <div class="buy-now calc-height" style="visibility: hidden;height: 1px;margin-top:-15px">
          <a href="#buy-now" target="_blank">Buy Now</a>
        </div>

        <div style="text-align:center">
        <div class="location-and-date">
          <div class="rangled-wrapper calc-height">
            <div class="rangled" style="padding-bottom:15px">
              <h1>San Jose, <span class="brand-pink">CA</span></h1>
            </div>
          </div>

          <div class="rangled-wrapper date calc-height">
            <div class="rangled">
              <h2 class="brand-pink">2017</h2>
              <h2>Monday, November 6th</h2>
            </div>
          </div>
        </div>
        </div>

        <div class="ticket-details calc-height">
          <div class="left">
            <div class="price">
              <span class="dollar-sign">$</span>
              <span class="amount">99</span>
            </div>
          </div>

          <div class="right">
            <div class="ticket-includes">
              <span class="triangle"></span> 
              <span class="text">
                Ticket Includes: Education. Sunday Workshops. Swag Bag. Prizes. Vendor Expo. Lunch. Happy Hour.
                <span class="valued-at">Ticket Valued at $300</span>
              </span>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="description">
      <div class="container">
        <h2 class="bb">Description</h2>
        <p>On Monday, November 6th, we're bringing the industry's best exclusively to the Sola community for a full day of inspiration and education to help take your salon business to a higher level. We can't wait to see you in San Jose!</p>
        <p><strong>Inspiration:</strong> Get inspired to grow your Sola business.</p>
        <p><strong>Education:</strong> Learn from the industry&apos;s best. <strong><em>Artistic, Marketing, Business.</em></strong></p>
        <p><strong>Community:</strong> Connect, collaborate and network with likeminded Sola rock stars.</p>
      </div>
    </div>

    <div class="date-and-time">
      <div class="container">
        
        <h2 class="bb">When and Where</h2>
        
        <div class="row">
          <div class="six columns">    
            <p>
              <!--<a href="#buy-now" target="_blank">Buy Now</a>
              <br />-->
              Mon, November 6, 2017
              <br />
              9:00 AM - 6:30 PM PT
            </p>
            <p>
              Juniper Hotel Cupertino
              <br />
              10050 S. De Anza Boulevard, Cupertino, CA 95014
              <br />
              <span class="add-to-calendar-wrapper" data-title="Sola Session San Jose, CA" data-address="Juniper Hotel Cupertino, 10050 S. De Anza Boulevard, Cupertino, CA 95014" data-description="On Monday, November 6th, we're bringing the industry's best exclusively to the Sola community for a full day of inspiration and education to help take your salon business to a higher level. We can't wait to see you in San Jose!" data-start="November 6, 2017 09:00" data-end="November 6, 2017 18:30"></span>
            </p>
          </div>

          <!--
          <div class="six columns">
            <h2 class="highlight">Additional Education Available!</h2>
            <p>
              Sun, September 17, 2017
              <br />
              Hattori Hanzo Shears: 4:00 - 6:00 PM
            </p>
            <p>
              More Brands &amp; Info Coming Soon!
              <br />
              <a href="https://www.eventbrite.com/e/the-sola-sessions-west-palm-beach-tickets-35511269162">Learn More and Reserve Your Spot!</a>
              <br />
              <span class="add-to-calendar-wrapper" data-title="Sola Session West Palm Beach, FL - Additional Education" data-address="Wyndham Grand Jupiter at Harbourside Place, 122 Soundings Avenue, Jupiter, FL 33477" data-description="Hattori Hanzo Shears: 4:00 - 6:00 PM. More brands and info coming soon!" data-start="September 17, 2017 16:00" data-end="September 17, 2017 18:00"></span>
            </p>
          </div>
          -->
        </div>

      </div>
    </div>

    <div class="description">
      <div class="container">
        <h2 class="bb">Getting There</h2>
        <p>The Juniper hotel is located in Silicon Valley'-s beautiful town of Cupertino, just west of San Jose. The hotel is 11 miles from the San Jose International airport; expect a ride share to cost about $20 and take 20 minutes. If you fly into San Francisco International airport, a ride share will cost around $60 and take 45 minutes to reach the hotel.</p>
      </div>
    </div>

    <div class="speakers">
      <div class="container">
        <h2 class="bb">Featured Presenters</h2>
        
        <h3 style="margin-top:-15px;margin-bottom:50px;text-align:center">Coming soon!</h3>
     
      </div>
    </div>

    <div class="event-details">
      <div class="container">
        <h2 class="bb">Event Details</h2>
        <p><strong>$99 ticket</strong> (valued at $300!)<!--<br/><a href="#buy-now" target="_blank">Buy Now</a>--></p>
        <p>Includes: Education. Sunday Workshops. Swag Bag. Prizes. Vendor Expo. Lunch. Happy Hour.</p>
        <p><strong>Main Event:</strong> 9am – 4:30pm<br/><strong>Happy Hour:</strong> 4:30pm – 6:30pm</p>
      </div>
    </div>

    <div class="event-partners">
      <div class="container">
        <h2 class="bb">Event Partners</h2>
        <h3 style="margin-top:50px;margin-bottom:50px;text-align:center">Coming soon!</h3>
        <!--<%= image_tag 'sessions/west-palm-beach-partners.jpg' %>-->
      </div>
    </div>
    
    <div class="discounted-rooms">
      <div class="container">
        
        <h2>Discounted Rooms Available</h2>
        <h4>LIMITED AVAILABILITY</h4>

        <%= image_tag 'sessions/san-jose-hotel.jpg' %>

        <h3 style="margin-top:15px;">$199 Per Night</h3>

        <h3 style="font-weight:normal;font-size:18px;margin-top:-20px">Complimentary Daytime Self Parking</h3>

        <div class="button-wrapper"><a href="http://curiocollection3.hilton.com/en/hotels/california/juniper-hotel-cupertino-curio-collection-by-hilton-SJCCCQQ/index.html" target="_blank" class="button primary">Book Now</a></div>

      </div>
    </div>
    
    <div class="watch-our-video">
      <div class="container">
        <h6>Watch our video to learn more about the Sola Sessions</h6>
        <a href="//www.youtube.com/watch?v=i6AUSUofPUg" class="play-video" rel="i6AUSUofPUg">
          <%= image_tag 'sessions/video_thumb_2017.jpg', :width => 953, :height => 458 %>
          <div class="play-btn">
            <span class="fa fa-5x fa-play"></span>
            <span class="text">Play Video</span>
          </div>
        </a>
      </div>
    </div>

</div>  

<div class="callout pink">
  <%= link_to 'To learn more about the Sola Sessions, click here!', :sessions, :class => 'heading-link' %>
</div>

<!--
<a name="future-sessions"></a>
<div class="future-sessions">
  <div class="container">
    <h1>Mark Your Calendar<br>for Future Sola Sessions!</h1>
     <div class="row circles">
      <div><%= image_tag 'sessions/bay-area-circle.png' %></div>
    </div> 
    <h2>More Info On Future Sessions Coming Soon!</h2>
  </div>
</div>
-->

<% content_for(:scripts) { javascript_include_tag('sessions') } %>
<% content_for(:title) { 'Sola Sessions - San Jose' } %>
<% content_for(:og_image) { "http:#{asset_path('sessions/sola-sessions-hero.jpg')}" } %>