<div class="session session-2017">    

    <div class="header">
      <div class="container">

        <div class="logo calc-height">
          <%= image_tag 'sessions/sessions-logo-white.png', :width => 559, :height => 148 %>
        </div>

        <!--<div class="tickets-on-sale-now calc-height">
          <h3>Tickets on Sale Monday March 6th!</h3>
        </div>-->

        
        <div class="buy-now calc-height">
          <a href="#" class="session-buy-now" onClick="return false;" style="pointer-events: none;" target="_blank">Tickets on Sale Monday, January 8</a>
        </div>
      
        <div style="text-align:center">
        <div class="location-and-date">
          <div class="rangled-wrapper calc-height">
            <div class="rangled" style="padding-bottom:15px">
              <h1>West Palm Beach, <span class="brand-pink">FL</span></h1>
            </div>
          </div>

          <div class="rangled-wrapper date calc-height">
            <div class="rangled">
              <!--<h2>More information on the rescheduled event coming soon</h2>-->
              
              <h2 class="brand-pink">2018</h2>
              <h2>Monday, April 9th</h2>
              
            </div>
          </div>
        </div>
        </div>

        <div class="ticket-details calc-height">
          <div class="left">
            <div class="price">
              <span class="dollar-sign">$</span>
              <span class="amount">99</span>
            </div>
          </div>

          <div class="right">
            <div class="ticket-includes">
              <span class="triangle"></span> 
              <span class="text">
                Ticket Includes: Education. Sunday Workshops. Swag Bag. Prizes. Vendor Expo. Lunch. Happy Hour.
                <span class="valued-at">Ticket Valued at $300</span>
              </span>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="description">
      <div class="container">
        <h2 class="bb">Description</h2>
        <p>On Monday, April 9th, we're bringing the industry's best exclusively to the Sola community for a full day of inspiration and education to help take your salon business to a higher level. We can't wait to see you in West Palm Beach!</p>

        <h2 class="highlight">Fundraise:</h2>
         <p>We're partnering with the Professional Beauty Association (PBA) to raise money and awareness for their Disaster Relief Fund. Tickets are $5. Purchase as many as you'd like, and enter to win TWO FREE tickets to the Sola Sessions and TWO FREE nights at the hotel. More information coming soon.</p>

        <p><strong>Inspiration:</strong> Get inspired to grow your Sola business.</p>
        <p><strong>Education:</strong> Learn from the industry&apos;s best. <strong><em>Artistic, Marketing, Business.</em></strong></p>
        <p><strong>Community:</strong> Connect, collaborate and network with likeminded Sola rock stars.</p>

      </div>
    </div>

    
    <div class="date-and-time">
      <div class="container">
        
        <h2 class="bb">When and Where</h2>
        
        <div class="row">
          <div class="six columns">    
            <p>
              <a href="#" class="session-buy-now" onClick="return false;" style="pointer-events: none;" target="_blank">Tickets on Sale Monday, January 8</a>
              <br />
              Mon, April 9, 2018
              <br />
              9:00 AM - 6:30 PM ET
            </p>
            <p>
              Wyndham Grand Jupiter at Harbourside Place
              <br />
              122 Soundings Avenue, Jupiter, FL 33477
              <br />
              <span class="add-to-calendar-wrapper" data-title="Sola Session West Palm Beach, FL" data-address="Wyndham Grand Jupiter at Harbourside Place, 122 Soundings Avenue, Jupiter, FL 33477" data-description="On Monday, April 9th, we're bringing the industry's best exclusively to the Sola community for a full day of inspiration and education to help take your salon business to a higher level. We can't wait to see you in West Palm Beach!" data-start="April 9, 2018 09:00" data-end="April 9, 2018 18:30"></span>
            </p>
          </div>

          <div class="six columns">
            <h2 class="highlight">Additional Education Available!</h2>
            <p>
              Sun, April 8, 2018
              <br />
              Hattori Hanzo Shears: 4:00 - 6:00 PM
              <br />
              <br />
              Join Hanzo's Corey Bakon and Fernie Andong for a FREE barbering class on Sunday afternoon.
              <!--<br />
              <a href="https://www.eventbrite.com/e/the-sola-sessions-west-palm-beach-tickets-35511269162">Learn More and Reserve Your Spot!</a>-->
            </p>
            <!--<p>
              Mon, April 9, 2018
              <br /> 
              HydroPeptide: 1:00 – 3:00 PM
            </p>-->
          </div>
        </div>

      </div>
    </div>
 
 
    <div class="description">
      <div class="container">
        <h2 class="bb">Getting There</h2>
        <p>The Wyndham Grand Jupiter is located in the beautiful coastal town of Jupiter and is about 20 miles from the Palm Beach International Airport and 65 miles from the Fort-Lauderdale Hollywood International Airport. If you fly into Fort Lauderdale, an Uber or Lyft ride will cost around $70-80 and take about an hour to reach the hotel. If you live in the area and plan to drive, please note that day-of parking is free, and overnight parking is $8.</p>
      </div>
    </div>

    <div class="speakers">
      <div class="container">
        <h2 class="bb">Featured Presenters</h2>
        
        <p class="name" style="margin-top:-15px;margin-bottom:50px;text-align:center">Click Images to Read Artist Bios</p>

        <div class="row">
          <div class="four columns" data-rel="villa">
            <%= image_tag 'sessions/villa.png' %>
            <span class="name">Sam Villa</span>
            <span class="company"><a href="#">Sam Villa Brand &amp; Redken</a></span>
          </div>
          <div class="four columns" data-rel="ridge">
            <%= image_tag 'sessions/ridge.png' %>
            <span class="name">Veronica Ridge</span>
            <span class="company"><a href="#">Redken</a></span>
          </div>
          <div class="four columns" data-rel="kovner">
            <%= image_tag 'sessions/kovner.png' %>
            <span class="name">Nina Kovner</span>
            <span class="company"><a href="#">Passion Squared</a></span>
          </div>
        </div>
        <div class="row">
          <div class="offset-by-two four columns" data-rel="alvarez">
            <%= image_tag 'sessions/alvarez.png' %>
            <span class="name">Luis Alvarez</span>
            <span class="company"><a href="#">BaBylissPRO</a></span>
          </div>
           <div class="four columns" data-rel="gary">
            <%= image_tag 'sessions/gary.png' %>
            <span class="name">Nicole Gary</span>
            <span class="company"><a href="#">Aquage</a></span>
          </div>

<!--           <div class="four columns" data-rel="caruso">
            <%= image_tag 'sessions/caruso.png' %>
            <span class="name">Gerard Caruso</span>
            <span class="company"><a href="#">Rusk</a></span>
          </div> -->
        </div>
        <div class="row">  
          <div class="four columns" data-rel="mason">
            <%= image_tag 'sessions/mason.png' %>
            <span class="name">Ajua Mason</span>
            <span class="company"><a href="#">BaBylissPRO</a></span>
          </div>
          <div class="four columns" data-rel="bakon">
            <%= image_tag 'sessions/bakon.png' %>
            <span class="name">Corey Bakon</span>
            <span class="company"><a href="#">Hattori Hanzo Shears</a></span>
          </div>
          <div class="four columns" data-rel="andong">
            <%= image_tag 'sessions/andong.png' %>
            <span class="name">Fernie Andong</span>
            <span class="company"><a href="#">Hattori Hanzo Shears</a></span>
          </div>
        </div>   

        <div class="row">
          <div class="offset-by-two four columns" data-rel="wolff">
            <%= image_tag 'sessions/wolff.png' %>
            <span class="name">Jennie Wolff</span>
            <span class="company"><a href="#">Sola Salon Studios</a></span>
          </div>
          <div class="four columns" data-rel="horvath">
            <%= image_tag 'sessions/horvath.png' %>
            <span class="name">Kim Bennett Horvath</span>
            <span class="company"><a href="#">Sola Salon Studios</a></span>
          </div>
        </div>   
        <!--<div class="row">
          <div class="offset-by-two four columns" data-rel="bakon">
            <%= image_tag 'sessions/bakon.png' %>
            <span class="name">Corey Bakon</span>
            <span class="company"><a href="#">Hattori Hanzo Shears</a></span>
          </div>
          <div class="four columns" data-rel="moots">
            <%= image_tag 'sessions/moots.png' %>
            <span class="name">Trevor Moots</span>
            <span class="company"><a href="#">Hattori Hanzo Shears</a></span>
          </div>
        </div>-->


        <div class="bios">

          <div class="bio" data-rel="horvath" data-modal-class="sessions" data-width="620" data-animated="1">
            <div class="modal-header">
              <%= image_tag 'sessions/horvath.png' %>
              <span class="name">Kim Bennett Horvath</span>
              <span class="company"><a href="http://www.solasalonstudios.com" target="_blank">Sola Salon Studios</a></span>
              <span class="line">&nbsp;</span>
            </div>
            <div class="text">
              Kim Bennett Horvath&apos;s passion as a hairdresser has taken her on a journey through the beauty industry for more than 25 years. As a licensed cosmetologist since the age of 18, she has continued to catapult her career and her business from her humble small town beginnings, and is dedicated to inspiring others in the beauty industry.
              <br><br>
              As a Senior National Educator for Paul Mitchell for the past 24 years she was one of the first Artistic Color Coordinators chosen to help launch Paul Mitchell&apos;s first color line, as well as being a Task Force Leader where she trained and coached regional Paul Mitchell National Educators. She received the Paul Mitchell Focus Award in 2012, and continues to educate and help salons grow their business.
              <br><br>
              While working in all aspects of traditional salons, Kim made the decision of salon ownership after meeting Sola&apos;s co-founders, Matt and Stratton, at a coffee shop in Denver, Colorado and became the first Sola professional to sign a lease in early 2004! Throughout her 13 years at Sola, Kim has supported and represented Sola Salon Studios in myriad ways and in early 2014 was brought on to the Sola Home Office Team. Within her current role as Culture Ambassador and Director of Industry Relationships, Kim uses her expertise to share the Sola Salon Studios culture to connect and build relationships throughout the Professional Beauty Industry. 
              <br><br>
              Her passion and success as a Sola professional has spread like wildfire being asked to speak with industry leaders on better business practices and has been featured in many publications including Modern Salon, Behind the Chair, American Salon and Milady Pro. Kim is dedicated to creating opportunities for Sola professionals to inspire them to become successful business owners while also enjoying their best artistic self.
            </div>
          </div>

          <div class="bio" data-rel="gary" data-modal-class="sessions" data-width="620" data-animated="1">
            <div class="modal-header">
              <%= image_tag 'sessions/gary.png' %>
              <span class="name">Nicole Gary</span>
              <span class="company"><a href="#">Aquage</a></span>
              <span class="line">&nbsp;</span>
            </div>
            <div class="text">
              Director of Shows and Education for BaBylissPRO&reg;, Nicole Gary, was a 2015 NAHA Finalist in the Newcomer Stylist of the Year and Avant Garde categories. She was also a 2014 NAHA Student Hairstylist of the Year award winner. 
              <br /><br />
              Her role includes the development and training of new BaBylissPRO&reg; team members. A real &quot;pro&quot; at developing the skills of creative hair artists, Nicole knows the importance of marrying tools with techniques. As a team leader, she sets standards and best practices to cultivate a world-class team with a unified voice. Nicole is also a key stylist for all BaBylissPRO&reg; photo shoots. All this, while still managing to remain at the top of her game creatively.
              <br /><br />
              An accomplished hair artist in her own right, Nicole takes her inspiration from both cutting edge fashion and textural art forms. Her ability to invent and implement creative techniques to realize her couture hairstyles, makes her work truly unique, visually arresting and memorable. Her charismatic personality and personal integrity assure you a highly successful BaBylissPRO&reg; educational experience
            </div>
          </div>
          
          <div class="bio" data-rel="wolff" data-modal-class="sessions" data-width="620" data-animated="1">
            <div class="modal-header">
              <%= image_tag 'sessions/wolff.png' %>
              <span class="name">Jennie Wolff</span>
              <span class="company"><a href="http://www.solasalonstudios.com" target="_blank">Sola Salon Studios</a></span>
              <span class="line">&nbsp;</span>
            </div>
            <div class="text">
              After graduating from Emory University with a degree in Creative Writing, Jennie ventured to Colorado to break into Denver&apos;s entertainment scene, and was quickly hired by Kroenke Sports &amp; Entertainment. After 5 years of managing Kroenke&apos;s Special Events department, Jennie joined Motive, a boutique creative marketing agency. While at Motive, she worked on experiential campaigns and digital projects for top brands such as Mars Chocolate, Van&apos;s Natural Foods and Cartoon Network. In 2013, Matt and Stratton (Sola&apos;s co-founders) convinced Jennie to turn her talents toward the salon industry. As Sola&apos;s Vice President of Marketing and Education, Jennie manages the Sola marketing efforts top-to-bottom, including Sola&apos;s social media strategy, the Sola blog, Sola&apos;s website, all of Sola&apos;s traditional and nontraditional marketing campaigns, innovative stylist programs, the Sola Pro App and The Sola Sessions. Jennie is fully dedicated to creating support tools and educational resources to better equip Sola professionals on their journeys as independent salon owners.
            </div>
          </div>          

          <div class="bio" data-rel="ridge" data-modal-class="sessions" data-width="620" data-animated="1">
            <div class="modal-header">
              <%= image_tag 'sessions/ridge.png' %>
              <span class="name">Veronica Ridge</span>
              <span class="company"><a href="#">Redken</a></span>
              <span class="line">&nbsp;</span>
            </div>
            <div class="text">
              A master of color, Veronica Ridge has been a REDKEN artist for the last 8 years. She is known
              for her strong attention to detail and is a notorious perfectionist. Veronica maintains great success
              with her unique color formulations and foiling placement techniques. Operating out of a private,
              three-chair studio, Veronica is keen on giving a luxury experience to each of her clients. Keeping
              up on trend and education is her philosophy, which makes her perfectly equipped to take on the
              challenges of everyday salon life. On top of staying busy in the salon, Veronica makes it a priority
              to travel the world, broadening her world-views. She takes at least 2 classes a year at the
              REDKEN Exchange, always keeping up on education and trend. Her dedication to her craft has
              allowed her to work under some of the best artists in the business, including Kris Sorbie, Chris
              Baran, and Sam Villa--just to name a few. January 2017 she will be on a Redken symposium
              stage debuting Redken NEW direct dyes City Beats, a very exciting and important piece of our
              color portfolio.
            </div>
          </div> 

          <div class="bio" data-rel="villa" data-modal-class="sessions" data-width="620" data-animated="1">
            <div class="modal-header">
            <%= image_tag 'sessions/villa.png' %>
            <span class="name">Sam Villa</span>
            <span class="company"><a href="#">Sam Villa Brand &amp; Redken</a></span>
              <span class="line">&nbsp;</span>
            </div>
            <div class="text">
              Sam Villa is known for doing things differently to challenge, inspire and motivate change. His encouragement to stylists is unrivaled, as he genuinely wants each one of them to reach deep to identify how they can make a change to promote their own growth. Sam&apos;s talents stretch far beyond his brilliant cutting and finishing skills; he has a plethora of business skills that enliven stylists to think about how they speak to their guests to add value behind the chair. 
              <br /><br />
              &quot;Sharing is the greatest gift we can give one another...to help each other grow and prosper, we all need to pay it forward,&quot;  says Sam.Consistent research, along with a respect for the fundamentals, Sam is always on the move for new and unconventional ways of cutting and finishing hair - like using a flat iron for versatility, texturizing iron to create hidden volume and using disconnection to create styles that look blended and can be worn in multiple ways. He is a true messenger sharing his knowledge with stylists in hopes that they too will share with others to enrich the industry...upgrade the industry by respecting and supporting one another - #ArtistsSupportingArtists.   
              <br /><br />Sam is in his glory and most comfortable when teaching – a natural transition from his early coaching days in sports.  Practice, practice, practice, until you master the craft and then share with others, so they too can become successful!Whether facilitating an in-salon class or on a stage at a major event, there is always something to be discovered and learned. &quot;Stylists need a good understanding of the fundamentals of basic techniques, once mastered, they can be manipulated to create modern silhouettes and textures,&quot;  explains Sam. &quot;It&apos;s time to SHOUT IT OUT! The way for us to BE better is to COME TOGETHER as an industry, and the SHOUT begins here with Sam Villa and Redken!&quot;  adds Sam.
              <br /><br />
              Sam is co-founder of the Sam Villa&reg; brand (Allvus, LLC) www.samvilla.com targeting stylists, as well as consumers.  He shares hot tips and techniques live and virtually, and has a branded line of tools – brushes, combs, thermal tools and shears/razors – for both in-salon use and at home.Education is the path to success, follow Sam Villa&reg; on social media for solutions to common challenges experienced in the salon and at home.
            </div>
          </div>  

          <div class="bio" data-rel="kovner" data-modal-class="sessions" data-width="620" data-animated="1">
            <div class="modal-header">
              <%= image_tag 'sessions/kovner.png' %>
              <span class="name">Nina Kovner</span>
              <span class="company"><a href="#">Passion Squared</a></span>
              <span class="line">&nbsp;</span>
            </div>
            <div class="text">
              From the shampoo room to the boardroom, Nina L. Kovner took the world of pro beauty by storm with her thoughtful attention to detail and never-ending tenacity. After 26 years of conquering obstacles in an ever-changing business landscape and helping to build one of the most recognized professional hair care brands in the world, she respectfully walked away from a career at the top to help small business owners and artists discover and live their purpose with passion and empower their businesses. Now, as Chief Awesomeness Empowerer at Passion Squared, she wakes up every morning saying to herself...&quot;How I am going to help people create their own kind of awesome today?&quot;
            </div>
          </div> 

          <div class="bio" data-rel="alvarez" data-modal-class="sessions" data-width="620" data-animated="1">
            <div class="modal-header">
              <%= image_tag 'sessions/alvarez.png' %>
              <span class="name">Luis Alvarez</span>
              <span class="company"><a href="#">BaBylissPRO</a></span>
              <span class="line">&nbsp;</span>
            </div>
            <div class="text">
                BaBylissPRO&reg; VP of Marketing, Creative &amp; Education, Luis Alvarez, is an award-winning master hair artist,product developer, educator, and photographer. He was knighted into the L&apos;Ordre de la Chevalerie, one ofthe highest honors given by Intercoiffure. Luis was also voted one of Modern Salon&apos;s 50 Most Influential Hairdressers and awarded the prestigious LEO Award from Pivot Point International.
                <br /><br />
                His internationally renowned expertise in product development, image-making and education is born out of his unique history spanning over 30 years in the fashion and beauty industry. First, he has been the creative driving force behind the formulation of all Aquage&reg; and Biomega&reg; products. Second, after working for many years as a freelance hairdresser with top fashion photographers, magazine editors and models, he became a photographer himself, and created the powerful visual imagery Aquage&reg; is known for throughout the salon industry. And now, Luis elevates education to the highest level, leading the BaBylissPRO&reg; team of hair artists and top educators on the stage, at shows, educational events, and Aquage&reg; Masterclass acad-emies across the country.
                <br /><br />
                To Luis, knowledge is an energy source we can all tap into to inspire creative growth. As a leader and educator, he believes that the secret to elevating our craft lies in our ability to share knowledge. His engaging style, refreshing attitude and a penchant for creating truly beautiful and exciting styles, makes Luis one of the most sought-after talents in the beauty industry. His passion and creative vision bring innovation, education and inspiration to the professional salon industry.
            </div>
          </div> 

          <div class="bio" data-rel="mason" data-modal-class="sessions" data-width="620" data-animated="1">
            <div class="modal-header">
              <%= image_tag 'sessions/mason.png' %>
              <span class="name">Ajua Mason</span>
              <span class="company"><a href="#">BaBylissPRO</a></span>
              <span class="line">&nbsp;</span>
            </div>
            <div class="text">
              Ajua Mason is a premier educator for BaBylissPRO. She specializes in dress work with extensive knowledge of tool and technique. Ajua is a successful stylist in the Dallas, TX area and with over 15 years of behind the chair experience. She is one of BaBylissPRO's most requested artists and travels all over the country sharing her expertise.  From intricate to classic styles, Ajua excels in helping other stylists hone in their skills and become more successful.  Her passion and attention to detail compliments her creativity, guaranteeing a highly enjoyable and educational experience.
            </div>
          </div> 

          <div class="bio" data-rel="caruso" data-modal-class="sessions" data-width="620" data-animated="1">
            <div class="modal-header">
              <%= image_tag 'sessions/caruso.png' %>
              <span class="name">Gerard Caruso</span>
              <span class="company"><a href="#">Rusk</a></span>
              <span class="line">&nbsp;</span>
            </div>
            <div class="text">
              Gerard Caruso has captivated audiences around the world using classic Rusk cutting techniques with a fresh, modern approach. His creative and technical skills seamlessly blend to create consumer friendly with an edge. A successful New Jersey salon owner and industry experience of 30+ years, Gerard is sure to inspire every beauty professional. His charismatic personality, industry insight, and creative edge are sure to ignite your passion for beauty.
            </div>
          </div>

          <div class="bio" data-rel="bakon" data-modal-class="sessions" data-width="620" data-animated="1">
            <div class="modal-header">
              <%= image_tag 'sessions/bakon.png' %>
              <span class="name">Corey Bakon</span>
              <span class="company"><a href="#">Hattori Hanzo Shears</a></span>
              <span class="line">&nbsp;</span>
            </div>
            <div class="text">
              Corey Bakon began cutting hair in a Brooklyn barber shop in 1990 where he swiftly grew a love for the hair industry. After working in various shops in NYC and Boston, Corey attended school for Barber Styling in 1994 and then went on to open his first hair salon in 1999. Over the course of 15 years he coached and mentored over 700 new talent barbers and cosmetologists, while expanding his skills into all aspects of hair styling. He became a Paul Mitchell educator in 2011 and has found a new passion for sharing his knowledge and experience.
            </div>
          </div>

          <div class="bio" data-rel="andong" data-modal-class="sessions" data-width="620" data-animated="1">
            <div class="modal-header">
              <%= image_tag 'sessions/andong.png' %>
              <span class="name">Fernie Andong</span>
              <span class="company"><a href="#">Hattori Hanzo Shears</a></span>
              <span class="line">&nbsp;</span>
            </div>
            <div class="text">
            After graduating from Paul Mitchell The School Costa Mesa in 2006, Fernie Andong continued his education at The Real Barber College (2011). He also completed Advanced Academy courses in color, cutting, and men's cutting; attended John Paul Mitchell Systems trainings and the Paul Mitchell Hawaii Seminar; and completed the 5-day Vidal Sassoon cutting class. Fernie's work has been featured on Hairbrained, Behind the Chair, Barbershop Connect, and Plugged in. He has cut hair on stage and behind the scenes at Paul Mitchell Schools' Caper and the Paul Mitchell Gathering, and he has appeared in the Paul Mitchell / Paul Mitchell Schools Men's Cutting System, The Doctors TV show, and Oprah Winfrey's O You! event.
            </div>
          </div>

        </div>
     
      </div>
    </div>

    <div class="event-details">
      <div class="container">
        <h2 class="bb">Event Details</h2>
        <p><strong>$99 ticket</strong> (valued at $300!)<br /><a href="#" class="session-buy-now" onClick="return false;" style="pointer-events: none;" target="_blank">Tickets on Sale Monday, January 8</a></p>
        <p>Includes: Education. Sunday Workshops. Swag Bag. Prizes. Vendor Expo. Lunch. Happy Hour.</p>
        <p><strong>Main Event:</strong> 9am – 4:30pm<br/><strong>Happy Hour:</strong> 4:30pm – 6:30pm</p>
        
        <p style="margin-bottom:0"><strong>Featuring:</strong></p>
        <ul>
          <li>Sam Villa (Sam Villa Brand and Redken)</li>
          <li>Veronica Ridge (Redken)</li>
          <li>Nina Kovner (Passion Squared)</li>
          <li>Luis Alvarez (BaBylissPRO)</li>
          <li>Nicole Gary (Aquage)</li>
          <!-- <li>Gerard Caruso (Rusk)</li> -->
          <li>Ajua Mason (BaBylissPRO)</li>
          <li>Corey Bakon (Hattori Hanzo Shears)</li>
          <li>Fernie Andong (Hattori Hanzo Shears)</li>
          <li>Jennie Wolff (Sola Salon Studios)</li>
          <li>Kim Bennett Horvath (Sola Salon Studios)</li>
        </ul>
        
      </div>
    </div>

   
    <div class="event-partners">
      <div class="container">
        <h2 class="bb">Event Partners</h2>
        <div class="logos">
          <%= image_tag 'sessions/logos/aquage.png', :class => 'aquage' %>
          <%= image_tag 'sessions/logos/passion_squared.png', :class => 'passion_squared' %>
          <%= image_tag 'sessions/logos/saloncentric.png', :class => 'saloncentric' %>
          <%= image_tag 'sessions/logos/redken.jpg', :class => 'redken' %>
          <%= image_tag 'sessions/logos/samvilla.png', :class => 'samvilla' %>
          <%= image_tag 'sessions/logos/sola.jpg', :class => 'sola' %>
          <%= image_tag 'sessions/logos/hanzo.jpg', :class => 'hanzo' %>
          <%= image_tag 'sessions/logos/cosmoprof.png', :class => 'cosmoprof' %>
          <%= image_tag 'sessions/logos/platinum_seamless.png', :class => 'platinum_seamless' %>
          <%= image_tag 'sessions/logos/babyliss_pro.png', :class => 'babyliss_pro' %>
          <%= image_tag 'sessions/logos/solagenius.png', :class => 'solagenius' %>
          <%= image_tag 'sessions/logos/mop.png', :class => 'mop' %>
        </div>
      </div>
    </div>
    
    <div class="discounted-rooms">
      <div class="container">
        
        <h2>Discounted Rooms Available</h2>
        <h4>LIMITED AVAILABILITY</h4>

        <%= image_tag 'sessions/west-palm-beach-hotel.jpg' %>

        <h3 style="margin-top:15px;">$189 Per Night</h3>

        <h3 style="font-weight:normal;font-size:18px;margin-top:-20px">Complimentary Daytime Parking. Overnight Parking: $8</h3>

        <div class="button-wrapper"><a href="https://www.wyndhamhotels.com/groups/gr/sola-sessions" target="_blank" class="button primary">Book Now</a></div>

      </div>
    </div>
    
    
    <div class="watch-our-video">
      <div class="container">
        <h6>Watch our video to learn more about the Sola Sessions</h6>
        <a href="//www.youtube.com/watch?v=i6AUSUofPUg" class="play-video" rel="i6AUSUofPUg">
          <%= image_tag 'sessions/video_thumb_2017.jpg', :width => 953, :height => 458 %>
          <div class="play-btn">
            <span class="fa fa-5x fa-play"></span>
            <span class="text">Play Video</span>
          </div>
        </a>
      </div>
    </div>

</div>  

<div class="callout pink">
  <%= link_to 'To learn more about the Sola Sessions, click here!', :sessions, :class => 'heading-link' %>
</div>

<!--
<a name="future-sessions"></a>
<div class="future-sessions">
  <div class="container">
    <h1>Mark Your Calendar<br>for Future Sola Sessions!</h1>
    <div class="row circles">
      <div><%= link_to :san_jose_session do %><%= image_tag 'sessions/bay-area-circle.png' %><% end %></div>
    </div>
    <h2>More Info On Future Sessions Coming Soon!</h2>
  </div>
</div>
-->

<% content_for(:scripts) { javascript_include_tag('sessions') } %>
<% content_for(:title) { 'Sola Sessions - West Palm Beach' } %>
<% content_for(:og_image) { "http:#{asset_path('sessions/sola-sessions-hero.jpg')}" } %>