<%= stylesheet_link_tag "admin", media: "all" %>

<div class="devise-sign-in">

  <div style="text-align:center"><%= image_tag 'logo_white.png', :width => 200, :height => 127 %></div>

  <%= form_for :forgot_password_form do |f| %>
   
    <h1>Reset Your Password</h1>

    <% if @error %>
      <div id="error"><%= @error %></div>
    <% end %>   

    <% if @success %>
      <div id="success"><%= @success %></div>
    <% end %>  

    <div class="field">
      <label>New Password</label>
      <input type="password" name="password" autofocus="autofocus">
    </div>

    <div class="field">
      <label>Retype New Password</label>
      <input type="password" name="password_confirmation" autofocus="autofocus">
    </div>

    <div class="actions">
      <button type="submit">Submit</button>
    </div>
  <% end %>

</div>

<div class="copyright">&copy;<%= Time.now.year %> Sola Salon Studios</div>