<div class="hero-carousel owl-carousel owl-theme home-all mysola-carousel" data-items="4">
  <div class="item" style="display:none"><%= image_tag 'MySola/Hero1.jpg' %></div>
  <div class="item" style="display:none"><%= image_tag 'MySola/Hero2.jpg' %></div>
  <div class="item" style="display:none"><%= image_tag 'MySola/Hero3.jpg' %></div>
  <div class="item" style="display:none"><%= image_tag 'MySola/Hero4.jpg' %></div>
</div>


<div class="hero-carousel owl-carousel owl-theme home-mobile mysola-carousel" data-pagination="true">
  <div class="item" style="display:none"><%= image_tag 'MySola/Hero1.jpg' %></div>
  <div class="item" style="display:none"><%= image_tag 'MySola/Hero2.jpg' %></div>
  <div class="item" style="display:none"><%= image_tag 'MySola/Hero3.jpg' %></div>
  <div class="item" style="display:none"><%= image_tag 'MySola/Hero4.jpg' %></div>
</div>

<div class="mysola-tabs">
  <div class="mysola-tabs-container">
    <a href="#" class="mysola-tab active" data-tab="upload-a-photo"><span class="mysola-camera">&nbsp;</span> Upload a Photo</a>
    <a href="#" class="mysola-tab" data-tab="my-sola-mondays"><span class="mysola-cup">&nbsp;</span> #MySola Features</a>
  </div>
</div>

<div class="mysola-tabs-content">
  <div class="mysola-tab-content" style="display:block;min-height:60px" data-tab="upload-a-photo">
    <%= react_component 'MySola' %>
    <%= react_component 'MySolaGallery', {:images => @gallery_images} %>
  </div>
  <div class="mysola-tab-content" data-tab="my-sola-mondays">
    <div class="container">
      <div class="mysola-posts-container" style="margin-top: 60px">
        <% @posts.each_with_index do |post, index| %>
          <% if index == 0 || index % 3 == 0 %><div class="row"><% end %>

          <div class="four columns">
            <%= render 'shared/mysola_blog_post_summary', :post => post %>
          </div>

          <% if ((index + 1) % 3) == 0 || index + 1 == @posts.size %></div><% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% content_for(:scripts) { javascript_include_tag('sola10k') } %>
<% content_for(:title) { "#Sola10k" } %>
<% content_for(:canonical_url) { "https://www.solasalonstudios.#{I18n.locale != :en ? 'ca' : 'com'}/sola10k" } %>