<link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">

<div class="sola10kwrapper">

  <div class="hero-wrapper">
    <div class="hero-carousel owl-carousel owl-theme sola10k-all" data-autoheight="yes">
      <div class="item">
        <div class="img-wrap"><%= image_tag 'sola10khero.jpg', :width => 1386, :height => 713 %></div>
        <div class="item-content overlayed">
          <!--<%= image_tag 'sola10klogo.png', :class => 'sola10klogo u-full-width' %>-->
          <div class="learn-more-button">
            <h5><%= t('page.sola_sessions.learn_more') %></h5>
            <span class="fa fa-angle-down"></span>
          </div>
        </div>
      </div>
    </div>

    <div class="hero-carousel owl-carousel owl-theme sola10k-mobile" data-autoheight="yes">
      <div class="item">
        <%= image_tag 'sola10khero_mobile.jpg', :width => 750, :height => 750 %>
      </div>
    </div>    
  </div>

  <%= react_component 'Sola10k' %>

</div>

<div class="callout blue-wave">
  <h2 style="margin-bottom: 0; color: #FFF; position: relative; top: 3px; font-size: 31px; line-height: 33px;" class="text-center">10,000 dreams.<span class="mobile-br"> </span>10,000 salon owners.<span class="mobile-br"> </span>10,000 inspiring stories.</h2>
</div>

<%= react_component 'Sola10kGallery', {:images => @gallery_images} %>

<% content_for(:title) { "#Sola10K" } %>
<% content_for(:canonical_url) { "https://www.solasalonstudios.#{I18n.locale != :en ? 'ca' : 'com'}/sola10k" } %>