<div class="search-bar">
  <div class="container">
    <%= form_tag [:search, :results], :method => :get do %>
      <div class="filterable-dropdown-search" data-input="service_type">
        <div class="dropdown">
          <div class="selected-option"><span class="name"><%= params[:service_type].present? ? t("services.#{params[:service_type]}") : t('services.all_types') %></span><span class="down-triangle"></span></div>
          <div class="options">
            <div class="option" data-value="all_types"><%= t('services.all_types') %></div>
            <div class="option" data-value="hair"><%= t('services.hair') %></div>
            <div class="option" data-value="makeup"><%= t('services.makeup') %></div>
            <div class="option" data-value="nails"><%= t('services.nails') %></div>
            <div class="option" data-value="skincare"><%= t('services.skincare') %></div>
          </div>
        </div>
        <span class="spyglass-black"></span>
        <input name="query" type="text" class="searchbox" placeholder="<%= t('page.search.search') %>" value="<%= params[:query] %>" />
        <input name="service_type" type="hidden" value="<%= params[:service_type] %>" />
        <button type="submit"><span class="search-icon"></span></button>
      </div>
    <% end %>
  </div>
</div>

<div class="search-results-details">
  <div class="container">
    <% if params[:query].blank? %>
      <p><center>Please enter a query</center></p>
    <% else %>
      <p><%= @results %> <%= t('page.search.results') %></p>
    <% end %>
  </div>
</div>

<div class="container search-results">

    <% if params[:query].present? && (@locations && @locations.size == 0) && (@stylists && @stylists.size == 0) %>
      <p style="margin-top:50px" class="text-center"><%= t('page.search.no_results_found', :query => params[:query]).html_safe %></p>
    <% end %>

    <% if params[:so] == 'salon_professionals' %>
      <% if @stylists && @stylists.size > 0 %>
        <h3><%= t('page.search.salon_professional_results').html_safe %></h3>
        <div class="row">
          <% @stylists.sort_by{ |s| s.name.downcase }.each_with_index do |stylist, index| %>
            <%= render 'shared/public_website/stylist_result', :stylist => stylist %>
          <% end %>
        </div>
      <% end %>
      <% if @locations && @locations.size > 0 %>
        <h3><%= t('page.search.location_results').html_safe %></h3>
        <div class="row">
          <% @locations.each_with_index do |location, index| %>
            <%= render 'shared/public_website/location_result', :location => location %>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <% if @locations && @locations.size > 0 %>
        <h3><%= t('page.search.location_results').html_safe %></h3>
        <div class="row">
          <% @locations.each_with_index do |location, index| %>
            <%= render 'shared/public_website/location_result', :location => location %>
          <% end %>
        </div>
      <% end %>

      <% if @stylists && @stylists.size > 0 %>
        <h3><%= t('page.search.salon_professional_results').html_safe %></h3>
        <div class="row">
          <% @stylists.sort_by{ |s| s.name.downcase }.each_with_index do |stylist, index| %>
            <%= render 'shared/public_website/stylist_result', :stylist => stylist %>
          <% end %>
        </div>
      <% end %>
    <% end %>

    <% if @posts && @posts.size > 0 %>
      <h3><%= t('page.search.blog_results').html_safe %></h3>
      <div class="row">
        <% @posts.each do |post| %>
          <%= render 'shared/blog_post_summary', :post => post %>
        <% end %>
      </div>
    <% end %>

</div>

<% content_for(:title) { t('page.search.search_results_for_query', :query => params[:query]).html_safe } %>
