<div class="search-bar">
  <div class="container">
    <%= form_tag [:search, :results], :method => :get do %>
      <div class="filterable-dropdown-search" data-input="service_type">
        <div class="dropdown">
          <div class="selected-option"><span class="name"><%= params[:service_type].present? ? t("services.#{params[:service_type]}") : t('services.all_types') %></span><span class="down-triangle"></span></div>
          <div class="options">
            <div class="option" data-value="all_types"><%= t('services.all_types') %></div>
            <div class="option" data-value="hair"><%= t('services.hair') %></div>
            <div class="option" data-value="makeup"><%= t('services.makeup') %></div>
            <div class="option" data-value="nails"><%= t('services.nails') %></div>
            <div class="option" data-value="skincare"><%= t('services.skincare') %></div>
          </div>
        </div>
        <span class="spyglass-black"></span>
        <input name="query" type="text" class="searchbox" placeholder="<%= t('page.search.search') %>" value="<%= params[:query] %>" />
        <input name="service_type" type="hidden" value="<%= params[:service_type] %>" />
        <button type="submit"><span class="search-icon"></span></button>
      </div>
    <% end %>
  </div>
</div>

<div class="search-results-details">
  <div class="container">
    <p><%= @results %> <%= t('page.search.results') %></p>
  </div>
</div>

<div class="container search-results">
  <div class="row">

    <% if params[:query].present? && (@locations && @locations.size == 0) && (@stylists && @stylists.size == 0) %>
      <p style="margin-top:50px" class="text-center"><%= t('page.search.no_results_found', :query => params[:query]).html_safe %></p>
    <% end %>

    <% if params[:so] == 'salon_professionals' %>
      <% if @stylists && @stylists.size > 0 %>
        <h3><%= t('page.search.salon_professional_results').html_safe %></h3>
        <% @stylists.sort_by(&:name).each_with_index do |stylist, index| %>
          <% if index == 0 || index % 3 == 0 %><div class="row"><% end %>
            <%= render 'shared/public_website/stylist_result', :stylist => stylist %>
          <% if ((index + 1) % 3) == 0 || index + 1 == @stylists.size %></div><% end %>
        <% end %>
      <% end %>
    <% end %>

    <% if @locations && @locations.size > 0 %>
      <h3><%= t('page.search.location_results').html_safe %></h3>
      <% @locations.each_with_index do |location, index| %>
        <% if index == 0 || index % 3 == 0 %><div class="row"><% end %>
          <%= render 'shared/public_website/location_result', :location => location %>
        <% if ((index + 1) % 3) == 0 || index + 1 == @locations.size %></div><% end %>
      <% end %>
    <% end %>

    <% if params[:so] != 'salon_professionals' %>
      <% if @stylists && @stylists.size > 0 %>
        <h3><%= t('page.search.salon_professional_results').html_safe %></h3>
        <% @stylists.sort_by(&:name).each_with_index do |stylist, index| %>
          <% if index == 0 || index % 3 == 0 %><div class="row"><% end %>
            <%= render 'shared/public_website/stylist_result', :stylist => stylist %>
          <% if ((index + 1) % 3) == 0 || index + 1 == @stylists.size %></div><% end %>
        <% end %>
      <% end %>
    <% end %>

    <% if @posts && @posts.size > 0 %>
      <h3><%= t('page.search.blog_results').html_safe %></h3>
      <% @posts.each_with_index do |post| %>
        <% if post.mysola_category %>
          <%= render 'shared/mysola_blog_post_summary', :post => post %>
        <% else %>
          <%= render 'shared/blog_post_summary', :post => post %>
        <% end %>
      <% end %>
    <% end %>

  </div>
</div>

<% content_for(:title) { t('page.search.search_results_for_query', :query => params[:query]).html_safe } %>