<div class="container content-container search-results">
  <div class="row">

    <% if params[:query].present? && @locations.size == 0 && @stylists.size == 0 %>
      <p>There were no results found for your search query "<%= params[:query] %>"</p>
    <% end %>

    <% if @locations && @locations.size > 0 %>
      <h2>Location Results</h2>
      <% @locations.each_with_index do |location, index| %>
        <% if index == 0 || index % 3 == 0 %><div class="row"><% end %>
          <div class="one-third column search-result">
            <h3><%= location.name %></h3>
            <p><%= location.html_address %></p>
            <div><%= link_to 'View Location', salon_location_path(location.state, location.city, location.url_name) %></div>
          </div>
        <% if ((index + 1) % 3) == 0 || index + 1 == @locations.size %></div><% end %>
      <% end %>
    <% end %>

    <% if @stylists && @stylists.size > 0 %>
      <h2>Stylist Results</h2>
      <% @stylists.each_with_index do |stylist, index| %>
        <% if index == 0 || index % 3 == 0 %><div class="row"><% end %>
          <div class="one-third column search-result">
            <h3><%= stylist.name %></h3>
            <p></p>
            <div><%= link_to 'View Stylist', show_stylist_path(stylist) %></div>
          </div>
        <% if ((index + 1) % 3) == 0 || index + 1 == @stylists.size %></div><% end %>
      <% end %>
    <% end %>

  </div>
</div>