<div class="hero-carousel owl-carousel owl-theme home-all mysola-carousel" data-items="4">
  <div class="item" style="display:none"><%= image_tag 'MySola/Hero1.jpg' %></div>
  <div class="item" style="display:none"><%= image_tag 'MySola/Hero2.jpg' %></div>
  <div class="item" style="display:none"><%= image_tag 'MySola/Hero3.jpg' %></div>
  <div class="item" style="display:none"><%= image_tag 'MySola/Hero4.jpg' %></div>
</div>


<div class="hero-carousel owl-carousel owl-theme home-mobile mysola-carousel" data-pagination="true">
  <div class="item" style="display:none"><%= image_tag 'MySola/Hero1.jpg' %></div>
  <div class="item" style="display:none"><%= image_tag 'MySola/Hero2.jpg' %></div>
  <div class="item" style="display:none"><%= image_tag 'MySola/Hero3.jpg' %></div>
  <div class="item" style="display:none"><%= image_tag 'MySola/Hero4.jpg' %></div>
</div>

<div style="min-height: 60px">
  <%= react_component 'MySola' %>
  <%= react_component 'MySolaGallery', {:images => @gallery_images} %>
</div>

<% content_for(:title) { "#MySola" } %>