<div class="container">
  <img src="http://www.solasalonstudios.com/mysola-image-preview/<%= @my_sola_image.public_id%>?statement=<%= @my_sola_image.statement %>&statement_variant=<%= @my_sola_image.statement_variant %>&instagram_handle=<%= @my_sola_image.instagram_handle %>&name=<%= @my_sola_image.name %>" style="width: 100%; height: auto; margin: 30px" />
</div>

<% content_for(:title) { "#MySola" } %>
<% content_for(:og_image) { "http://www.solasalonstudios.com/mysola-image-preview/#{@my_sola_image.public_id}?statement=#{@my_sola_image.statement}&statement_variant=#{@my_sola_image.statement_variant}&instagram_handle=#{@my_sola_image.instagram_handle}&name=#{@my_sola_image.name}" } %>