<div class="hero-text" style="background-image:url('<%= image_path 'About_Banner_1.jpg' %>')">
  <div class="text">
    <h1>Learn More About Sola</h1>
    <h3>Click to watch video</h3>
    <a href="//www.youtube.com/watch?v=77gzVR-50Wo" class="play-button"></a>
  </div>
  <div class="learn-more">
    <h3>Learn More</h3>
    <span class="ss-navigatedown"></span>
  </div>
</div>

<div class="container content-container about-us">
  
  <div class="row top-padded">
    <div class="three columns">
      <div class="info-box">
        <h1>225+</h1>
        <h3>Locations<br>Nationwide</h3>
        <%= link_to 'View Locations', :locations %>
      </div>
      <div class="info-box">
        <h1>5,000+</h1>
        <h3>Salon<br>Professionals</h3>
        <%= link_to 'Find a Stylist', :salon_professionals %>
      </div>
    </div>
    <div class="nine columns">
      <h1>About Sola</h1>
      <h4>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h4>
      <h4>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h4>
    </div>
  </div>

  <div class="row top-padded">
    <div class="three columns text-center">
      <%= image_tag 'Founders@2x.png', :class => 'testimonial-portrait' %>
    </div>
    <div class="nine columns">
      <h1>About the Founders</h1>
      <h4>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h4>
    </div>
  </div>

</div>

<div class="view-gallery">
  <div class="link"><%= link_to 'View Gallery', :gallery, :class => 'button primary' %></div>
</div>

<div class="callout blue callout-testimonial">
  <div class="container">
    <div class="row">
      <div class="one-third column">
        <%= image_tag 'Katina_Avatar@2x.png', :class => 'testimonial-portrait' %>
      </div>
      <div class="two-thirds column">
        <h1>"Sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt."</h1>
        <h3>Katina Eisenbeis</h3>
      </div>
    </div>
  </div>
</div>

<div class="callout green">
  <div class="container">
    <h3 class="large" style="margin-bottom:0;"><%= link_to 'View more testimonials'.html_safe, :testimonials %></h3>
  </div>
</div>

<div class="container">
  <div class="sola-story large">
    <div class="row">
        <h2>Join our community and experience a level of <strong>creative independence</strong> and <strong>career support</strong> you won't find anywhere else.</h2>
    </div>
    <div class="row">
      <%= link_to 'Own Your Salon', :own_your_salon, :class => 'button first' %>
      <%= link_to 'Contact Us', :contact_us, :class => 'button' %>
    </div>
  </div>
</div>