<div class="hero-text" style="background-image:url('<%= image_path 'About_Banner_1.jpg' %>')">
  <div class="text">
    <h1><%= t('page.about.learn_more_about_sola').html_safe %></h1>
    <h3><%= t('page.about.click_to_watch_video').html_safe %></h3>
    <a href="//www.youtube.com/watch?v=nbHFs0XjS8s" class="play-button"></a>
  </div>
  <div class="learn-more">
    <h3><%= t('page.about.learn_more').html_safe %></h3>
    <span class="ss-navigatedown"></span>
  </div>
</div>

<div class="container content-container about-us">
  
  <div class="row top-padded">
    <div class="three columns">
      <% if I18n.locale == :en %>
        <div class="info-box">
          <h1><%= t('page.about.location_count').html_safe %></h1>
          <h3><%= t('page.about.locations_nationwide').html_safe %></h3>
          <%= link_to t('page.about.view_locations').html_safe, :locations %>
        </div>
      <% else %>
        <div class="info-box">
            <h1 style="margin-top:20px;font-size:25px;line-height:30px;padding:0 20px"><%= t('page.about.coming_soon_to_canada').html_safe %></h1>
            <%= link_to t('page.about.view_locations').html_safe, :locations %>
          </div>
      <% end %>

      <% if I18n.locale == :en %>
        <div class="info-box">
          <h1><%= t('page.about.salon_professional_count').html_safe %></h1>
          <h3><%= t('page.about.salon_professionals').html_safe %></h3>
            <%= link_to t('page.about.find_a_stylist').html_safe, :salon_professionals %>
        </div>
      <% end %>

    </div>
    <div class="nine columns">
      <h1><%= t('page.about.heading1').html_safe %></h1>
      <h4 class="paragraph"><%= t('page.about.body1', :diversity_link => link_to(t('page.about.diverse_community').html_safe, :diversity)).html_safe %></h4>
    </div>
  </div>

  <div class="row top-padded">
    <div class="three columns text-center">
      <%= image_tag 'Founders@2x.png', :class => 'testimonial-portrait founders-pic' %>
    </div>
    <div class="nine columns">
      <h1><%= t('page.about.heading2').html_safe %></h1>
      <h4 class="paragraph"><%= t('page.about.body3').html_safe %></h4>
      <h4 class="paragraph">&quot;<%= t('page.about.quote').html_safe %>&quot; - Matt Briger</h4>
    </div>
  </div>

</div>

<div class="view-gallery <%= 'ca' if I18n.locale != :en %>">
  <div class="link"><%= link_to t('page.about.view_gallery').html_safe, :gallery, :class => 'button primary view-image-gallery' %></div>
</div>

<div class="callout blue callout-testimonial">
  <div class="container">
    <div class="row">
      <div class="one-third column">
        <%= image_tag 'Audrey_photo@2x.png', :class => 'testimonial-portrait' %>
      </div>
      <div class="two-thirds column">
        <h1>&quot;<%= t('page.about.testimonial_text').html_safe %>&quot;</h1>
        <h3><%= t('page.about.testimonial_author').html_safe %></h3>
      </div>
    </div>
  </div>
</div>

<div class="callout green">
  <div class="container">
    <h3 class="large" style="margin-bottom:0;"><%= link_to t('page.about.view_more_testimonials').html_safe, :testimonials %></h3>
  </div>
</div>

<div class="container">
  <div class="sola-story large">
    <div class="row">
        <h2><%= t('page.about.join_our_community').html_safe %></h2>
    </div>
    <div class="row">
      <%= link_to t('page.own.title').html_safe, :own_your_salon, :class => 'button first' %>
      <%= link_to t('page.contact.title').html_safe, :contact_us, :class => 'button' %>
    </div>
  </div>
</div>

<% content_for(:title) { t('page.about.title').html_safe } %>