<%= render 'shared/public_website/about_us_nav', :page => :leadership %>

<div class="container content-container">

	<%= link_to :leadership, :class => 'back-to-parent' do %>
		<span class="back-arrow-black"></span>
		<span class="back-arrow-pink"></span>
		<span class="name"><%= t 'page.leadership.title' %><span>
	<% end %>

	<div class="leadership-bio">
		<h2>Myrle McNeal</h2>
		<p class="title"><%= t 'page.leadership.coo' %></p>
		<div class="img-wrap"><%= image_tag 'Leadership/Myrle.jpg', alt: 'Myrle McNeil', :width => 1600, :height => 1000 %></div>
		<%= t('page.leadership.myrle_mcneal_bio').html_safe %>
	</div>

</div>

<% content_for(:title) { "#{t('page.leadership.title').html_safe} - Myrle McNeil" } %>
<% content_for(:canonical_url) { "https://www.solasalonstudios.#{I18n.locale != :en ? 'ca' : 'com'}/leadership/myrle-mcneil" } %>
<% content_for(:meta_description) { t('page.leadership.meta_description') } %>
