<%= render 'shared/public_website/about_us_nav', :page => :our_story %>

<div class="container content-container">
	<h1><%= t 'page.our_story.title' %></h1>

	<p><%= t 'page.our_story.body1' %></p>
	<p><%= t 'page.our_story.body2' %></p>

	<p><%= t 'page.our_story.callout1' %></p>
	<p><%= t 'page.our_story.callout1_name' %></p>

	<p><%= t 'page.our_story.body3' %></p>
	<p><%= t 'page.our_story.body4' %></p>
	<p><%= t 'page.our_story.body5' %></p>
	<p><%= t 'page.our_story.body6' %></p>

	<p><%= t 'page.our_story.callout2' %></p>
	<p><%= t 'page.our_story.callout2_name' %></p>

	<p><%= t 'page.our_story.body7' %></p>
	<p><%= t 'page.our_story.body8' %></p>

</div>

<% content_for(:title) { t('page.our_story.title').html_safe } %>
<% content_for(:canonical_url) { "https://www.solasalonstudios.#{I18n.locale != :en ? 'ca' : 'com'}/our-story" } %>
<% content_for(:meta_description) { t('page.our_story.meta_description') } %>