<%= render 'shared/public_website/about_us_nav', :page => :leadership %>

<div class="container content-container">

	<%= link_to :leadership, :class => 'back-to-parent' do %>
		<span class="back-arrow-black"></span>
		<span class="back-arrow-pink"></span>
		<span class="name"><%= t 'page.leadership.title' %><span>
	<% end %>
	
	<div class="leadership-bio">
		<h2>R. Randall Clark</h2>
		<p><%= t 'page.leadership.ceo' %></p>
		<%= t('page.leadership.r_randall_clark_bio').html_safe %>
	</div>
	
</div>

<% content_for(:title) { "#{t('page.leadership.title').html_safe} - R. Randall Clark" } %>
<% content_for(:canonical_url) { "https://www.solasalonstudios.#{I18n.locale != :en ? 'ca' : 'com'}/leadership/r-randall-clark" } %>
<% content_for(:meta_description) { t('page.leadership.meta_description') } %>