<div class="container content-container">
	<h1><%= t 'page.who_we_are.title' %></h1>
	<h2><%= t 'page.who_we_are.subhead' %></h2>
	<p><%= t 'page.who_we_are.body1' %></p>
	<p><%= t 'page.who_we_are.body2' %></p>
	<h4 class="emphasis"><%= t 'page.who_we_are.to_help_set_them_up_for_success' %></h4>
</div>

<% content_for(:title) { t('page.who_we_are.title').html_safe } %>
<% content_for(:canonical_url) { "https://www.solasalonstudios.#{I18n.locale != :en ? 'ca' : 'com'}/who-we-are" } %>
<% content_for(:meta_description) { t('page.who_we_are.meta_description') } %>