<%= render 'shared/public_website/about_us_nav', :page => :who_we_are %>

<div class="container content-container">
	
	<h1><%= t 'page.who_we_are.title' %></h1>
	<h2><%= t 'page.who_we_are.subhead' %></h2>
	<p><%= t 'page.who_we_are.body1' %></p>
	<p><%= t 'page.who_we_are.body2' %></p>
	<h4 class="emphasis"><%= t 'page.who_we_are.to_help_set_them_up_for_success' %></h4>

	<h2><%= t 'page.who_we_are.join_our_diverse_community' %></h2>
	<p><%= t 'page.who_we_are.join_our_diverse_community_text' %></p>
	<%= link_to :own_your_salon, :class => 'button primary' do %><%= t 'page.who_we_are.join_our_diverse_community_button_text' %><% end %>

	<h2><%= t 'page.who_we_are.subhead2' %></h2>

	<h2><%= t 'page.who_we_are.our_mission' %></h2>
	<p><%= t 'page.who_we_are.our_mission_text' %></p>

	<h2><%= t 'page.who_we_are.our_values' %></h2>
	<p><%= t 'page.who_we_are.our_values_text' %></p>

	<h2><%= t 'page.who_we_are.join_our_community' %></h2>
	<p><%= t 'page.who_we_are.join_our_community_text' %></p>
	<%= link_to :own_your_salon, :class => 'button primary' do %><%= t 'page.who_we_are.join_our_community_button_text' %><% end %>

	<h4 class="h1"><%= t 'page.who_we_are.experience_more' %></h4>

	<h4><%= t 'page.who_we_are.sola_pro' %></h4>
	<p><%= t 'page.who_we_are.sola_pro_text' %></p>
	<h4><%= t 'page.who_we_are.sola_sessions' %></h4>
	<p><%= t 'page.who_we_are.sola_sessions_text' %></p>
	<h4><%= t 'page.who_we_are.solagenius' %></h4>
	<p><%= t 'page.who_we_are.solagenius_text' %></p>

</div>

<% content_for(:title) { t('page.who_we_are.title').html_safe } %>
<% content_for(:canonical_url) { "https://www.solasalonstudios.#{I18n.locale != :en ? 'ca' : 'com'}/who-we-are" } %>
<% content_for(:meta_description) { t('page.who_we_are.meta_description') } %>