<!DOCTYPE html>
<html lang="en-US">
<head>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-PGSKSGV');</script>
  <!-- End Google Tag Manager -->
  <meta charset="UTF-8">
  <meta name='robots' content='noindex,nofollow'/>

  <style id='generate-style-inline-css'>
    body {
      background-color: #efefef;
      color: #3a3a3a;
    }

    a {
      color: #1e73be;
    }

    body .grid-container {
      max-width: 1280px;
    }

    body, button, input, select, textarea {
      font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    }

    body {
      line-height: 1.5;
    }

    h1 {
      font-weight: 300;
      font-size: 40px;
    }

    h2 {
      font-weight: 300;
      font-size: 30px;
    }

    h3 {
      font-size: 20px;
    }

    @media (max-width: 768px) {
      .main-title {
        font-size: 30px;
      }

      h1 {
        font-size: 30px;
      }

      h2 {
        font-size: 25px;
      }
    }

    @media (max-width: 980px) {
      .main-navigation .menu-bar-item:hover > a, .main-navigation .menu-bar-item.sfHover > a {
        background: none;
        color: #ffffff;
      }
    }
    @media (max-width: 768px) {
      .separate-containers .inside-article, .separate-containers .comments-area, .separate-containers .page-header, .separate-containers .paging-navigation, .one-container .site-content, .inside-page-header, .wp-block-group__inner-container {
        padding: 30px;
      }

      .site-info {
        padding-right: 10px;
        padding-left: 10px;
      }

      .entry-content .alignwide, body:not(.no-sidebar) .entry-content .alignfull {
        margin-left: -30px;
        width: calc(100% + 60px);
        max-width: calc(100% + 60px);
      }
    }
    @media (max-width: 1199px) {
      .main-navigation .menu-toggle, .main-navigation .mobile-bar-items, .sidebar-nav-mobile:not(#sticky-placeholder) {
        display: block;
      }

      /*.main-navigation ul, .gen-sidebar-nav {*/
      /*  display: none;*/
      /*}*/

      [class*="nav-float-"] .site-header .inside-header > * {
        float: none;
        clear: both;
      }
    }
    @media (min-width: 769px) and (max-width: 1024px),(min-width: 1025px) {
      .main-navigation.sticky-navigation-transition .main-nav > ul > li > a, .sticky-navigation-transition .menu-toggle, .main-navigation.sticky-navigation-transition .mobile-bar-items a, .sticky-navigation-transition .navigation-branding .main-title {
        line-height: 65px;
      }

      .main-navigation.sticky-navigation-transition .site-logo img, .main-navigation.sticky-navigation-transition .navigation-search input[type="search"], .main-navigation.sticky-navigation-transition .navigation-branding img {
        height: 65px;
      }
    }
    @media (max-width: 1290px) {
      #site-navigation .navigation-branding, #sticky-navigation .navigation-branding {
        margin-left: 10px;
      }
    }

    @media (max-width: 980px) {
      .main-navigation:not(.slideout-navigation) .main-nav {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
      }

      .main-navigation:not(.slideout-navigation) .inside-navigation {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
      }

      .nav-aligned-center .navigation-branding, .nav-aligned-left .navigation-branding {
        margin-right: auto;
      }

      .nav-aligned-center .main-navigation.has-branding:not(.slideout-navigation) .inside-navigation .main-nav, .nav-aligned-center .main-navigation.has-sticky-branding.navigation-stick .inside-navigation .main-nav, .nav-aligned-left .main-navigation.has-branding:not(.slideout-navigation) .inside-navigation .main-nav, .nav-aligned-left .main-navigation.has-sticky-branding.navigation-stick .inside-navigation .main-nav {
        margin-right: 0px;
      }
    }
    .main-navigation, .main-navigation ul ul {
      background-color: #222222;
    }

    .main-navigation .main-nav ul li a, .menu-toggle, .main-navigation .menu-bar-items {
      color: #ffffff;
    }

    input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="tel"], input[type="number"], textarea, select {
      color: #666666;
      background-color: #fafafa;
      border-color: #cccccc;
    }

    button, html input[type="button"], input[type="reset"], input[type="submit"], a.button, a.wp-block-button__link:not(.has-background) {
      color: #ffffff;
      background-color: #666666;
    }

    .main-navigation .main-nav ul li a, .menu-toggle, .main-navigation .mobile-bar-items a {
      line-height: 80px;
    }

    .main-navigation .main-nav ul li a, .menu-toggle, .main-navigation .mobile-bar-items a {
      transition: line-height 300ms ease
    }
  </style>

  <style id='wphb-3-inline-css'>
    .main-navigation .sticky-navigation-logo, .main-navigation.navigation-stick .site-logo:not(.mobile-header-logo) {
      display: none;
    }

    .navigation-branding img, .site-logo.mobile-header-logo img {
      height: 80px;
      width: auto;
    }
  </style>
  <style>
    .hidded {
      display: none !important;
    }
  </style>

  <%= csrf_meta_tags %>
  <link rel="canonical" href="https://www.solafranchise.com/"/>
  <link rel='shortlink' href='https://www.solafranchise.com/'/>
  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
  </script>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" href="<%=image_url('wpcp/cropped-favicon-32x32.png') %>" sizes="32x32"/>
  <link rel="icon" href="<%=image_url('wpcp/cropped-favicon-192x192.png') %>" sizes="192x192"/>
  <link rel="apple-touch-icon" href="<%=image_url('wpcp/cropped-favicon-180x180.png') %>"/>
  <meta name="msapplication-TileImage" content="<%=image_url('wpcp/cropped-favicon-270x270.png') %>"/>

  <style type="text/css">
    .elementor-kit-7 {
      --e-global-color-primary: #6EC1E4;
      --e-global-color-secondary: #54595F;
      --e-global-color-text: #7A7A7A;
      --e-global-color-accent: #61CE70;
      --e-global-color-d778216: #4054B2;
      --e-global-color-7dec4985: #23A455;
      --e-global-color-6845df64: #000;
      --e-global-color-22ee8326: #FFF;
      --e-global-typography-primary-font-family: "Roboto";
      --e-global-typography-primary-font-weight: 600;
      --e-global-typography-secondary-font-family: "Roboto Slab";
      --e-global-typography-secondary-font-weight: 400;
      --e-global-typography-text-font-family: "Roboto";
      --e-global-typography-text-font-weight: 400;
      --e-global-typography-accent-font-family: "Roboto";
      --e-global-typography-accent-font-weight: 500;
    }

    .elementor-section.elementor-section-boxed > .elementor-container {
      max-width: 1140px;
    }

    .elementor-widget:not(:last-child) {
      margin-bottom: 20px;
    }
  </style>
  <style type="text/css">
    .elementor-15 .elementor-element.elementor-element-cc61f2f > .elementor-container {
      min-height: 80vh;
    }

    .elementor-15 .elementor-element.elementor-element-cc61f2f > .elementor-container:after {
      content: "";
      min-height: inherit;
    }

    .elementor-15 .elementor-element.elementor-element-cc61f2f {
      overflow: hidden;
      transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
      padding: 0px 0px 0px 0px;
    }

    .elementor-15 .elementor-element.elementor-element-cc61f2f:not(.elementor-motion-effects-element-type-background), .elementor-15 .elementor-element.elementor-element-cc61f2f > .elementor-motion-effects-container > .elementor-motion-effects-layer {
      background: url("<%= image_url('wpcp/background-fallback.jpg') %>") 50% 50%;
      background-size: cover;
    }

    .elementor-15 .elementor-element.elementor-element-cc61f2f > .elementor-background-overlay {
      background-color: #000000;
      opacity: 0.7;
      transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    }

    .elementor-15 .elementor-element.elementor-element-fc0e070.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {
      align-content: center;
      align-items: center;
    }

    .elementor-15 .elementor-element.elementor-element-fc0e070:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-15 .elementor-element.elementor-element-fc0e070 > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
      background-image: url("<%= image_url('wpcp/bluebackground.png') %>");
      background-position: center right;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .elementor-15 .elementor-element.elementor-element-fc0e070 > .elementor-element-populated {
      transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
      padding: 40px 25px 40px 25px;
    }

    .elementor-15 .elementor-element.elementor-element-1b41f0d {
      padding: 0% 15% 0% 20%;
    }

    .elementor-15 .elementor-element.elementor-element-392517b {
      padding: 0% 15% 0% 20%;
    }

    .elementor-15 .elementor-element.elementor-element-bd660b5 {
      text-align: left;
    }

    .elementor-15 .elementor-element.elementor-element-bd660b5 .elementor-image img {
      width: 70%;
      max-width: 180px;
    }

    .locale-ca .elementor-15 .elementor-element.elementor-element-bd660b5 .elementor-image img {
      width: initial;
      max-width: 205px;
    }

    @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
      .locale-ca .elementor-15 .elementor-element.elementor-element-bd660b5 .elementor-image img {
        margin-left: -89px;
        margin-top: 32px;
        max-width: 180px;
      }
    }

    .elementor-15 .elementor-element.elementor-element-53889dd {
      padding: 0% 15% 0% 20%;
    }

    .elementor-15 .elementor-element.elementor-element-56cd9d2 .elementor-button .elementor-align-icon-right {
      margin-left: 15px;
    }

    .elementor-15 .elementor-element.elementor-element-56cd9d2 .elementor-button {
      text-transform: uppercase;
      background-color: rgba(2, 1, 1, 0);
      border-style: solid;
      border-width: 3px 3px 3px 3px;
      border-color: #EC3192;
      border-radius: 5px 5px 5px 5px;
      padding: 10px 25px 10px 25px;
    }

    .elementor-15 .elementor-element.elementor-element-5441bdd:not(.elementor-motion-effects-element-type-background), .elementor-15 .elementor-element.elementor-element-5441bdd > .elementor-motion-effects-container > .elementor-motion-effects-layer {
      background-color: #FFFFFF;
    }

    .elementor-15 .elementor-element.elementor-element-5441bdd {
      transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    }

    .elementor-15 .elementor-element.elementor-element-81868f5:not(.elementor-motion-effects-element-type-background), .elementor-15 .elementor-element.elementor-element-81868f5 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
      background-color: #FFFFFF;
    }

    .elementor-15 .elementor-element.elementor-element-81868f5 {
      transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
      margin-top: 0px;
      margin-bottom: 0px;
      padding: 60px 25px 40px 25px;
    }

    .elementor-15 .elementor-element.elementor-element-d1f800b > .elementor-container {
      max-width: 1000px;
    }

    .elementor-15 .elementor-element.elementor-element-544b140:not(.elementor-motion-effects-element-type-background), .elementor-15 .elementor-element.elementor-element-544b140 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
      background-color: #FFFFFF;
    }

    .elementor-15 .elementor-element.elementor-element-544b140 {
      transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    }

    .elementor-15 .elementor-element.elementor-element-2002dbf:not(.elementor-motion-effects-element-type-background), .elementor-15 .elementor-element.elementor-element-2002dbf > .elementor-motion-effects-container > .elementor-motion-effects-layer {
      background-color: #FFFFFF;
    }

    .elementor-15 .elementor-element.elementor-element-2002dbf {
      transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    }

    .elementor-15 .elementor-element.elementor-element-acf2eab:not(.elementor-motion-effects-element-type-background), .elementor-15 .elementor-element.elementor-element-acf2eab > .elementor-motion-effects-container > .elementor-motion-effects-layer {
      background-color: #FFFFFF;
    }

    .elementor-15 .elementor-element.elementor-element-acf2eab {
      transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
      margin-top: -1px;
      margin-bottom: 0px;
      z-index: 3;
    }

    .elementor-15 .elementor-element.elementor-element-6f235e5:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-15 .elementor-element.elementor-element-6f235e5 > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
      background-image: url("<%= image_url('wpcp/Lifestyle_1.jpg') %>");
      background-repeat: no-repeat;
      background-size: cover;
    }

    .elementor-15 .elementor-element.elementor-element-6f235e5 > .elementor-element-populated {
      transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
      margin: 20px 20px 0px 0px;
    }

    .elementor-15 .elementor-element.elementor-element-74ace73:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-15 .elementor-element.elementor-element-74ace73 > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
      background-image: url("<%= image_url('wpcp/Studio.jpg') %>");
      background-repeat: no-repeat;
      background-size: cover;
    }

    .elementor-15 .elementor-element.elementor-element-74ace73 > .elementor-element-populated > .elementor-background-overlay {
      opacity: 0.5;
    }

    .elementor-15 .elementor-element.elementor-element-74ace73 > .elementor-element-populated {
      transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
      margin: 20px 20px 0px 0px;
      padding: 8% 12% 8% 12%;
    }

    .elementor-15 .elementor-element.elementor-element-74ace73 > .elementor-element-populated > .elementor-background-overlay {
      transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    }

    .elementor-15 .elementor-element.elementor-element-c2b20d1:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-15 .elementor-element.elementor-element-c2b20d1 > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
      background-image: url("<%= image_url('wpcp/Entryway.jpg') %>");
      background-repeat: no-repeat;
      background-size: cover;
    }

    .elementor-15 .elementor-element.elementor-element-c2b20d1 > .elementor-element-populated {
      transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
      margin: 20px 20px 0px 0px;
    }

    .elementor-15 .elementor-element.elementor-element-2e933c7:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-15 .elementor-element.elementor-element-2e933c7 > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
      background-image: url("<%= image_url('wpcp/brochures.jpg') %>");
      background-repeat: no-repeat;
      background-size: cover;
    }

    .elementor-15 .elementor-element.elementor-element-2e933c7 > .elementor-element-populated {
      transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
      margin: 20px 0px 0px 0px;
    }

    .elementor-15 .elementor-element.elementor-element-1569701 > .elementor-container {
      max-width: 1000px;
    }

    .elementor-15 .elementor-element.elementor-element-1569701 {
      transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
      margin-top: -80px;
      margin-bottom: -80px;
      z-index: 5;
    }

    .elementor-15 .elementor-element.elementor-element-a073851 .elementor-text-editor {
      text-align: center;
    }

    .elementor-15 .elementor-element.elementor-element-a073851 > .elementor-widget-container {
      padding: 0px 20px 0px 20px;
      background-color: transparent;
      background-image: linear-gradient(150deg, #489AD4 39%, #76C8EA 100%);
      border-style: solid;
      border-width: 20px 20px 20px 20px;
      border-color: #FFFFFF;
    }

    .elementor-15 .elementor-element.elementor-element-6fdfb7d:not(.elementor-motion-effects-element-type-background), .elementor-15 .elementor-element.elementor-element-6fdfb7d > .elementor-motion-effects-container > .elementor-motion-effects-layer {
      background-color: #FFFFFF;
    }

    .elementor-15 .elementor-element.elementor-element-6fdfb7d {
      transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
      z-index: 4;
    }

    .elementor-15 .elementor-element.elementor-element-c5d1672:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-15 .elementor-element.elementor-element-c5d1672 > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
      background-image: url("<%= image_url('wpcp/Hallway.jpg') %>");
      background-repeat: no-repeat;
      background-size: cover;
    }

    .elementor-15 .elementor-element.elementor-element-c5d1672 > .elementor-element-populated {
      transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
      margin: 20px 20px 20px 0px;
    }

    .elementor-15 .elementor-element.elementor-element-8a44e34:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-15 .elementor-element.elementor-element-8a44e34 > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
      background-image: url("<%= image_url('wpcp/Exterior-.jpg') %>");
      background-repeat: no-repeat;
      background-size: cover;
    }

    .locale-ca .elementor-15 .elementor-element.elementor-element-8a44e34:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-15 .elementor-element.elementor-element-8a44e34 > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
      background-image: url("<%= image_url('SolaSalonMillCreek-4.jpg') %>");
      background-repeat: no-repeat;
      background-size: cover;
    }

    .elementor-15 .elementor-element.elementor-element-8a44e34 > .elementor-element-populated {
      transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
      margin: 20px 20px 20px 0px;
    }

    .elementor-15 .elementor-element.elementor-element-4e71af6.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {
      align-content: flex-end;
      align-items: flex-end;
    }

    .elementor-15 .elementor-element.elementor-element-4e71af6:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-15 .elementor-element.elementor-element-4e71af6 > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
      background-image: url("<%= image_url('wpcp/Chandelier.jpg') %>");
      background-repeat: no-repeat;
      background-size: cover;
    }

    .elementor-15 .elementor-element.elementor-element-4e71af6 > .elementor-element-populated > .elementor-background-overlay {
      opacity: 0.5;
    }

    .elementor-15 .elementor-element.elementor-element-4e71af6 > .elementor-element-populated {
      transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
      margin: 20px 20px 20px 0px;
      padding: 8% 12% 10% 12%;
    }

    .elementor-15 .elementor-element.elementor-element-4e71af6 > .elementor-element-populated > .elementor-background-overlay {
      transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    }

    .elementor-15 .elementor-element.elementor-element-0b4e4a2:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-15 .elementor-element.elementor-element-0b4e4a2 > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
      background-image: url("<%= image_url('wpcp/franchiseowner.jpg') %>");
      background-repeat: no-repeat;
      background-size: cover;
    }

    .elementor-15 .elementor-element.elementor-element-0b4e4a2 > .elementor-element-populated {
      transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
      margin: 20px 0px 20px 0px;
    }

    .elementor-15 .elementor-element.elementor-element-8e98b2e:not(.elementor-motion-effects-element-type-background), .elementor-15 .elementor-element.elementor-element-8e98b2e > .elementor-motion-effects-container > .elementor-motion-effects-layer {
      background-color: #FFFFFF;
    }

    .elementor-15 .elementor-element.elementor-element-8e98b2e {
      transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    }

    .elementor-15 .elementor-element.elementor-element-bb8251a:not(.elementor-motion-effects-element-type-background), .elementor-15 .elementor-element.elementor-element-bb8251a > .elementor-motion-effects-container > .elementor-motion-effects-layer {
      background-color: #000000;
    }

    .elementor-15 .elementor-element.elementor-element-bb8251a {
      transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
      padding: 40px 20px 40px 20px;
    }

    .elementor-15 .elementor-element.elementor-element-434f6eb .elementor-text-editor {
      text-align: center;
    }

    .elementor-15 .elementor-element.elementor-element-434f6eb {
      width: 700px;
      max-width: 700px;
    }

    .elementor-15 .elementor-element.elementor-element-b3f23c9 {
      padding: 20px 0px 0px 0px;
    }

    .elementor-15 .elementor-element.elementor-element-4102344.elementor-view-framed .elementor-icon, .elementor-15 .elementor-element.elementor-element-4102344.elementor-view-default .elementor-icon {
      fill: #FFFFFF;
      color: #FFFFFF;
      border-color: #FFFFFF;
    }

    .elementor-15 .elementor-element.elementor-element-4102344.elementor-position-top .elementor-icon-box-icon {
      margin-bottom: 15px;
    }

    .elementor-15 .elementor-element.elementor-element-4102344 .elementor-icon {
      font-size: 75px;
    }

    .elementor-15 .elementor-element.elementor-element-4102344 .elementor-icon-box-content .elementor-icon-box-description {
      color: #FFFFFF;
    }

    .elementor-15 .elementor-element.elementor-element-4102344 > .elementor-widget-container {
      padding: 10% 15% 10% 15%;
      background-color: #000000;
    }

    .elementor-15 .elementor-element.elementor-element-3abd068.elementor-view-framed .elementor-icon, .elementor-15 .elementor-element.elementor-element-3abd068.elementor-view-default .elementor-icon {
      fill: #FFFFFF;
      color: #FFFFFF;
      border-color: #FFFFFF;
    }

    .elementor-15 .elementor-element.elementor-element-3abd068.elementor-position-top .elementor-icon-box-icon {
      margin-bottom: 15px;
    }

    .elementor-15 .elementor-element.elementor-element-3abd068 .elementor-icon {
      font-size: 75px;
    }

    .elementor-15 .elementor-element.elementor-element-3abd068 .elementor-icon-box-content .elementor-icon-box-description {
      color: #FFFFFF;
    }

    .elementor-15 .elementor-element.elementor-element-3abd068 > .elementor-widget-container {
      padding: 10% 15% 10% 15%;
      background-color: #000000;
    }

    .elementor-15 .elementor-element.elementor-element-6024d05.elementor-view-framed .elementor-icon, .elementor-15 .elementor-element.elementor-element-6024d05.elementor-view-default .elementor-icon {
      fill: #FFFFFF;
      color: #FFFFFF;
      border-color: #FFFFFF;
    }

    .elementor-15 .elementor-element.elementor-element-6024d05.elementor-position-top .elementor-icon-box-icon {
      margin-bottom: 15px;
    }

    .elementor-15 .elementor-element.elementor-element-6024d05 .elementor-icon {
      font-size: 75px;
    }

    .elementor-15 .elementor-element.elementor-element-6024d05 .elementor-icon-box-content .elementor-icon-box-description {
      color: #FFFFFF;
    }

    .elementor-15 .elementor-element.elementor-element-6024d05 > .elementor-widget-container {
      padding: 10% 20% 10% 20%;
      background-color: #000000;
    }

    .elementor-15 .elementor-element.elementor-element-54ef6cc.elementor-view-framed .elementor-icon, .elementor-15 .elementor-element.elementor-element-54ef6cc.elementor-view-default .elementor-icon {
      fill: #FFFFFF;
      color: #FFFFFF;
      border-color: #FFFFFF;
    }

    .elementor-15 .elementor-element.elementor-element-54ef6cc.elementor-position-top .elementor-icon-box-icon {
      margin-bottom: 15px;
    }

    .elementor-15 .elementor-element.elementor-element-54ef6cc .elementor-icon {
      font-size: 75px;
    }

    .elementor-15 .elementor-element.elementor-element-54ef6cc .elementor-icon-box-content .elementor-icon-box-description {
      color: #FFFFFF;
    }

    .elementor-15 .elementor-element.elementor-element-54ef6cc > .elementor-widget-container {
      padding: 10% 20% 10% 20%;
      background-color: #000000;
    }

    .elementor-15 .elementor-element.elementor-element-6e977ea.elementor-view-framed .elementor-icon, .elementor-15 .elementor-element.elementor-element-6e977ea.elementor-view-default .elementor-icon {
      fill: #FFFFFF;
      color: #FFFFFF;
      border-color: #FFFFFF;
    }

    .elementor-15 .elementor-element.elementor-element-6e977ea.elementor-position-top .elementor-icon-box-icon {
      margin-bottom: 15px;
    }

    .elementor-15 .elementor-element.elementor-element-6e977ea .elementor-icon {
      font-size: 75px;
    }

    .elementor-15 .elementor-element.elementor-element-6e977ea .elementor-icon-box-content .elementor-icon-box-description {
      color: #FFFFFF;
    }

    .elementor-15 .elementor-element.elementor-element-6e977ea > .elementor-widget-container {
      padding: 10% 20% 10% 20%;
      background-color: #000000;
    }

    .elementor-15 .elementor-element.elementor-element-fe78b81.elementor-view-framed .elementor-icon, .elementor-15 .elementor-element.elementor-element-fe78b81.elementor-view-default .elementor-icon {
      fill: #FFFFFF;
      color: #FFFFFF;
      border-color: #FFFFFF;
    }

    .elementor-15 .elementor-element.elementor-element-fe78b81.elementor-position-top .elementor-icon-box-icon {
      margin-bottom: 15px;
    }

    .elementor-15 .elementor-element.elementor-element-fe78b81 .elementor-icon {
      font-size: 75px;
    }

    .elementor-15 .elementor-element.elementor-element-fe78b81 .elementor-icon-box-content .elementor-icon-box-description {
      color: #FFFFFF;
    }

    .elementor-15 .elementor-element.elementor-element-fe78b81 > .elementor-widget-container {
      padding: 10% 20% 10% 20%;
      background-color: #000000;
    }

    .elementor-15 .elementor-element.elementor-element-2e3fff0:not(.elementor-motion-effects-element-type-background), .elementor-15 .elementor-element.elementor-element-2e3fff0 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
      background-color: #FFFFFF;
    }

    .elementor-15 .elementor-element.elementor-element-2e3fff0 {
      transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
      padding: 40px 20px 60px 20px;
    }

    .elementor-15 .elementor-element.elementor-element-ff9d0d9 .elementor-text-editor {
      text-align: center;
    }

    .elementor-15 .elementor-element.elementor-element-ff9d0d9 {
      width: 700px;
      max-width: 700px;
    }

    .elementor-15 .elementor-element.elementor-element-0112306.elementor-arrows-yes .elementor-main-swiper {
      width: calc(830px - 40px);
    }

    .elementor-15 .elementor-element.elementor-element-0112306 .elementor-main-swiper {
      width: 830px;
    }

    .elementor-15 .elementor-element.elementor-element-0112306 .elementor-testimonial__text {
      color: #000000;
    }

    .elementor-15 .elementor-element.elementor-element-0112306 .elementor-testimonial__name {
      color: #000000;
    }

    .elementor-15 .elementor-element.elementor-element-0112306 .elementor-testimonial__title {
      color: #000000;
    }

    .elementor-15 .elementor-element.elementor-element-0112306 .elementor-testimonial__image img {
      width: 115px;
      height: 115px;
    }

    .elementor-15 .elementor-element.elementor-element-0112306 .elementor-swiper-button {
      font-size: 20px;
      color: #489AD4;
    }

    .elementor-15 .elementor-element.elementor-element-0112306 > .elementor-widget-container {
      padding: 30px 15px 0px 15px;
      border-style: solid;
    }

    .elementor-15 .elementor-element.elementor-element-cc4df1c:not(.elementor-motion-effects-element-type-background), .elementor-15 .elementor-element.elementor-element-cc4df1c > .elementor-motion-effects-container > .elementor-motion-effects-layer {
      background-color: #FFFFFF;
    }

    .elementor-15 .elementor-element.elementor-element-cc4df1c {
      transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
      margin-top: 0px;
      margin-bottom: 0px;
      padding: 0px 0px 0px 0px;
    }

    .elementor-15 .elementor-element.elementor-element-0f21dbe .ms-left .ms-tableCell {
      vertical-align: middle;
    }

    .elementor-15 .elementor-element.elementor-element-0f21dbe .ms-right .ms-tableCell {
      vertical-align: middle;
    }

    .elementor-15 .elementor-element.elementor-element-0f21dbe .multiscroll-nav span {
      background-color: #FFFFFF;
      border-color: #000000;
    }

    .elementor-15 .elementor-element.elementor-element-0f21dbe .multiscroll-nav li .active span {
      background-color: #000000;
    }

    .elementor-15 .elementor-element.elementor-element-0f21dbe .multiscroll-nav {
      background-color: rgba(64, 84, 178, 0);
    }

    .elementor-15 .elementor-element.elementor-element-66645f6:not(.elementor-motion-effects-element-type-background), .elementor-15 .elementor-element.elementor-element-66645f6 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
      background-color: #000000;
    }

    .elementor-15 .elementor-element.elementor-element-66645f6 {
      transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    }

    .elementor-15 .elementor-element.elementor-element-83e7c43:not(.elementor-motion-effects-element-type-background), .elementor-15 .elementor-element.elementor-element-83e7c43 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
      background-image: url("<%= image_url('wpcp/exterior-scaled.jpg') %>");
      background-position: center right;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .elementor-15 .elementor-element.elementor-element-83e7c43 {
      transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
      padding: 60px 30px 60px 30px;
    }

    .elementor-15 .elementor-element.elementor-element-ba0a5cd .elementor-text-editor {
      text-align: center;
    }

    .elementor-15 .elementor-element.elementor-element-ba0a5cd {
      width: 650px;
      max-width: 650px;
    }

    .elementor-15 .elementor-element.elementor-element-78976e3 .elementor-text-editor {
      text-align: center;
    }

    .elementor-15 .elementor-element.elementor-element-78976e3 > .elementor-widget-container {
      padding: 0px 0px 20px 0px;
    }

    .elementor-15 .elementor-element.elementor-element-78976e3 {
      width: 700px;
      max-width: 700px;
    }

    .elementor-15 .elementor-element.elementor-element-f202a21 .elementor-counter-number-wrapper {
      color: #FFFFFF;
    }

    .elementor-15 .elementor-element.elementor-element-f202a21 .elementor-counter-title {
      color: #FFFFFF;
    }

    .elementor-15 .elementor-element.elementor-element-f202a21 > .elementor-widget-container {
      margin: 0px 0px 40px 0px;
    }

    .elementor-15 .elementor-element.elementor-element-4e1b29a .elementor-counter-number-wrapper {
      color: #FFFFFF;
    }

    .elementor-15 .elementor-element.elementor-element-4e1b29a .elementor-counter-title {
      color: #FFFFFF;
    }

    .elementor-15 .elementor-element.elementor-element-4e1b29a > .elementor-widget-container {
      margin: 0px 0px 40px 0px;
    }

    .elementor-15 .elementor-element.elementor-element-b335a3c .elementor-counter-number-wrapper {
      color: #FFFFFF;
    }

    .elementor-15 .elementor-element.elementor-element-b335a3c .elementor-counter-title {
      color: #FFFFFF;
    }

    .elementor-15 .elementor-element.elementor-element-b335a3c > .elementor-widget-container {
      margin: 0px 0px 40px 0px;
    }

    .elementor-15 .elementor-element.elementor-element-4057ed3 .elementor-text-editor {
      text-align: center;
    }

    .elementor-15 .elementor-element.elementor-element-4057ed3 > .elementor-widget-container {
      padding: 20px 0px 0px 0px;
    }

    .elementor-15 .elementor-element.elementor-element-4057ed3 {
      width: 700px;
      max-width: 700px;
    }

    .elementor-15 .elementor-element.elementor-element-5bd1015 .elementor-button .elementor-align-icon-right {
      margin-left: 15px;
    }

    .elementor-15 .elementor-element.elementor-element-5bd1015 .elementor-button {
      text-transform: uppercase;
      background-color: rgba(2, 1, 1, 0);
      border-style: solid;
      border-width: 3px 3px 3px 3px;
      border-color: #EC3192;
      border-radius: 5px 5px 5px 5px;
      padding: 10px 25px 10px 25px;
    }

    .elementor-15 .elementor-element.elementor-element-3e9ef12:not(.elementor-motion-effects-element-type-background), .elementor-15 .elementor-element.elementor-element-3e9ef12 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
      background-color: #FFFFFF;
    }

    .elementor-15 .elementor-element.elementor-element-3e9ef12 {
      transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
      margin-top: 0px;
      margin-bottom: 0px;
      padding: 0px 0px 0px 0px;
    }

    .elementor-15 .elementor-element.elementor-element-782b6db {
      overflow: hidden;
      transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
      padding: 60px 30px 60px 30px;
    }

    .elementor-15 .elementor-element.elementor-element-782b6db:not(.elementor-motion-effects-element-type-background), .elementor-15 .elementor-element.elementor-element-782b6db > .elementor-motion-effects-container > .elementor-motion-effects-layer {
      background-color: #FFFFFF;
    }

    .elementor-15 .elementor-element.elementor-element-a05e887 > .elementor-element-populated {
      padding: 0% 15% 0% 0%;
    }

    .elementor-15 .elementor-element.elementor-element-4a5fd2a .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
      padding-bottom: calc(10px / 2);
    }

    .elementor-15 .elementor-element.elementor-element-4a5fd2a .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
      margin-top: calc(10px / 2);
    }

    .elementor-15 .elementor-element.elementor-element-4a5fd2a .elementor-icon-list-icon i {
      font-size: 14px;
    }

    .elementor-15 .elementor-element.elementor-element-4a5fd2a .elementor-icon-list-icon svg {
      width: 14px;
    }

    .elementor-15 .elementor-element.elementor-element-4a5fd2a .elementor-icon-list-text {
      padding-left: 10px;
    }

    .elementor-15 .elementor-element.elementor-element-47fc2cf {
      text-align: center;
      width: 75%;
      max-width: 75%;
    }

    .elementor-15 .elementor-element.elementor-element-47fc2cf > .elementor-widget-container {
      margin: 0px 150px 0px 0px;
      border-style: solid;
      border-width: 5px 5px 5px 5px;
      border-color: #FFFFFF;
    }

    .elementor-15 .elementor-element.elementor-element-66c59a1 {
      text-align: left;
      width: 75%;
      max-width: 75%;
    }

    .elementor-15 .elementor-element.elementor-element-66c59a1 > .elementor-widget-container {
      margin: -175px 0px 0px 150px;
    }

    .elementor-15 .elementor-element.elementor-element-fe50543:not(.elementor-motion-effects-element-type-background), .elementor-15 .elementor-element.elementor-element-fe50543 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
      background-color: #FFFFFF;
    }

    .elementor-15 .elementor-element.elementor-element-fe50543 {
      transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
      margin-top: 0px;
      margin-bottom: 0px;
      padding: 0px 0px 0px 0px;
    }

    .elementor-15 .elementor-element.elementor-element-f6e8bb5:not(.elementor-motion-effects-element-type-background), .elementor-15 .elementor-element.elementor-element-f6e8bb5 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
      background-color: #000000;
    }

    .elementor-15 .elementor-element.elementor-element-f6e8bb5 {
      transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
      padding: 60px 30px 0px 30px;
    }

    .elementor-15 .elementor-element.elementor-element-f4261f8 > .elementor-widget-container {
      padding: 0% 0% 0% 15%;
    }

    @media (max-width: 1024px) {
      .elementor-15 .elementor-element.elementor-element-1b41f0d {
        padding: 0% 25% 0% 7%;
      }

      .elementor-15 .elementor-element.elementor-element-392517b {
        padding: 0% 25% 0% 7%;
      }

      .elementor-15 .elementor-element.elementor-element-bd660b5 .elementor-image img {
        width: 90%;
        max-width: 90px;
      }

      .elementor-15 .elementor-element.elementor-element-53889dd {
        padding: 0% 25% 0% 7%;
      }

      .elementor-15 .elementor-element.elementor-element-1569701 {
        padding: 0px 0px 0px 0px;
      }

      .elementor-15 .elementor-element.elementor-element-0112306.elementor-arrows-yes .elementor-main-swiper {
        width: calc(90% - 40px);
      }

      .elementor-15 .elementor-element.elementor-element-0112306 .elementor-main-swiper {
        width: 90%;
      }

      .elementor-15 .elementor-element.elementor-element-a05e887 > .elementor-element-populated {
        padding: 0px 0px 0px 0px;
      }

      .elementor-bc-flex-widget .elementor-15 .elementor-element.elementor-element-7818a54.elementor-column .elementor-column-wrap {
        align-items: center;
      }

      .elementor-15 .elementor-element.elementor-element-7818a54.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {
        align-content: center;
        align-items: center;
      }

      .elementor-15 .elementor-element.elementor-element-47fc2cf > .elementor-widget-container {
        margin: 0px 100px 0px 0px;
      }

      .elementor-15 .elementor-element.elementor-element-47fc2cf {
        width: 100%;
        max-width: 100%;
      }

      .elementor-15 .elementor-element.elementor-element-66c59a1 > .elementor-widget-container {
        margin: -120px 0px 0px 100px;
      }

      .elementor-15 .elementor-element.elementor-element-66c59a1 {
        width: 100%;
        max-width: 100%;
      }

      .elementor-15 .elementor-element.elementor-element-f4261f8 > .elementor-widget-container {
        padding: 0% 0% 0% 12%;
      }
    }

    @media (min-width: 768px) {
      .elementor-15 .elementor-element.elementor-element-fc0e070 {
        width: 50%;
      }

      .elementor-15 .elementor-element.elementor-element-fbe8335 {
        width: 68.127%;
      }

      .elementor-15 .elementor-element.elementor-element-bcf88ef {
        width: 31.897%;
      }

      .elementor-15 .elementor-element.elementor-element-e960aa1 {
        width: 100%;
      }

      .elementor-15 .elementor-element.elementor-element-de67580 {
        width: 50%;
      }

      .elementor-15 .elementor-element.elementor-element-73a756c {
        width: 50%;
      }

      .elementor-15 .elementor-element.elementor-element-5ed5e1f {
        width: 50%;
      }

      .elementor-15 .elementor-element.elementor-element-5662ecb {
        width: 40%;
      }

      .elementor-15 .elementor-element.elementor-element-24a4b43 {
        width: 60%;
      }

      .elementor-15 .elementor-element.elementor-element-840fdd4 {
        width: 30.263%;
      }

      .elementor-15 .elementor-element.elementor-element-e1c5512 {
        width: 69.737%;
      }
    }

    @media (max-width: 1024px) and (min-width: 768px) {
      .elementor-15 .elementor-element.elementor-element-fc0e070 {
        width: 60%;
      }

      .elementor-15 .elementor-element.elementor-element-fbe8335 {
        width: 70%;
      }

      .elementor-15 .elementor-element.elementor-element-bcf88ef {
        width: 30%;
      }

      .elementor-15 .elementor-element.elementor-element-e960aa1 {
        width: 100%;
      }

      .elementor-15 .elementor-element.elementor-element-74ace73 {
        width: 50%;
      }

      .elementor-15 .elementor-element.elementor-element-c2b20d1 {
        width: 50%;
      }

      .elementor-15 .elementor-element.elementor-element-8a44e34 {
        width: 50%;
      }

      .elementor-15 .elementor-element.elementor-element-4e71af6 {
        width: 50%;
      }

      .elementor-15 .elementor-element.elementor-element-a05e887 {
        width: 60%;
      }

      .elementor-15 .elementor-element.elementor-element-7818a54 {
        width: 40%;
      }
    }

    @media (max-width: 767px) {
      .elementor-15 .elementor-element.elementor-element-cc61f2f > .elementor-container {
        min-height: 90vh;
      }

      .elementor-15 .elementor-element.elementor-element-cc61f2f > .elementor-container:after {
        content: "";
        min-height: inherit;
      }

      .elementor-15 .elementor-element.elementor-element-fc0e070:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-15 .elementor-element.elementor-element-fc0e070 > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
        background-image: url("<%= image_url('wpcp/bluebackground2.png') %>");
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
      }

      .elementor-15 .elementor-element.elementor-element-fc0e070 > .elementor-element-populated {
        padding: 40px 15px 40px 15px;
      }

      .elementor-15 .elementor-element.elementor-element-1b41f0d {
        padding: 0% 0% 0% 0%;
        margin-top: -35%;
      }

      .elementor-15 .elementor-element.elementor-element-392517b {
        padding: 0px 0px 0px 0px;
      }

      .elementor-15 .elementor-element.elementor-element-fbe8335 {
        width: 70%;
      }

      .elementor-15 .elementor-element.elementor-element-bcf88ef {
        width: 30%;
      }

      .elementor-15 .elementor-element.elementor-element-bd660b5 .elementor-image img {
        max-width: 90px;
      }

      .elementor-15 .elementor-element.elementor-element-53889dd {
        padding: 0px 0px 0px 0px;
      }

      .elementor-15 .elementor-element.elementor-element-e960aa1 {
        width: 100%;
      }

      .elementor-15 .elementor-element.elementor-element-81868f5 {
        padding: 60px 15px 30px 15px;
      }

      .elementor-15 .elementor-element.elementor-element-74ace73 > .elementor-element-populated {
        margin: 0px 20px 0px 20px;
        padding: 15% 12% 15% 12%;
      }

      .elementor-15 .elementor-element.elementor-element-1569701 {
        margin-top: 0px;
        margin-bottom: 0px;
      }

      .elementor-15 .elementor-element.elementor-element-a073851 > .elementor-widget-container {
        padding: 20px 20px 20px 20px;
        border-width: 0px 0px 0px 0px;
      }

      .elementor-15 .elementor-element.elementor-element-4e71af6 > .elementor-element-populated {
        margin: 0px 20px 0px 20px;
        padding: 15% 12% 15% 12%;
      }

      .elementor-15 .elementor-element.elementor-element-8e98b2e {
        padding: 10px 0px 10px 0px;
      }

      .elementor-15 .elementor-element.elementor-element-4102344 .elementor-icon-box-icon {
        margin-bottom: 15px;
      }

      .elementor-15 .elementor-element.elementor-element-4102344 > .elementor-widget-container {
        padding: 10% 10% 10% 10%;
      }

      .elementor-15 .elementor-element.elementor-element-4102344 {
        width: 50%;
        max-width: 50%;
      }

      .elementor-15 .elementor-element.elementor-element-3abd068 .elementor-icon-box-icon {
        margin-bottom: 15px;
      }

      .elementor-15 .elementor-element.elementor-element-3abd068 > .elementor-widget-container {
        padding: 10% 10% 10% 10%;
      }

      .elementor-15 .elementor-element.elementor-element-3abd068 {
        width: 50%;
        max-width: 50%;
      }

      .elementor-15 .elementor-element.elementor-element-6024d05 .elementor-icon-box-icon {
        margin-bottom: 15px;
      }

      .elementor-15 .elementor-element.elementor-element-6024d05 > .elementor-widget-container {
        padding: 10% 10% 10% 10%;
      }

      .elementor-15 .elementor-element.elementor-element-6024d05 {
        width: 50%;
        max-width: 50%;
      }

      .elementor-15 .elementor-element.elementor-element-54ef6cc .elementor-icon-box-icon {
        margin-bottom: 15px;
      }

      .elementor-15 .elementor-element.elementor-element-54ef6cc > .elementor-widget-container {
        padding: 10% 10% 10% 10%;
      }

      .elementor-15 .elementor-element.elementor-element-54ef6cc {
        width: 50%;
        max-width: 50%;
      }

      elementor-15 .elementor-element.elementor-element-6e977ea .elementor-icon-box-icon {
        margin-bottom: 15px;
      }

      .elementor-15 .elementor-element.elementor-element-6e977ea > .elementor-widget-container {
        padding: 10% 10% 10% 10%;
      }

      .elementor-15 .elementor-element.elementor-element-6e977ea {
        width: 50%;
        max-width: 50%;
      }

      .elementor-15 .elementor-element.elementor-element-fe78b81 .elementor-icon-box-icon {
        margin-bottom: 15px;
      }

      .elementor-15 .elementor-element.elementor-element-fe78b81 > .elementor-widget-container {
        padding: 10% 10% 10% 10%;
      }

      .elementor-15 .elementor-element.elementor-element-fe78b81 {
        width: 50%;
        max-width: 50%;
      }

      .elementor-15 .elementor-element.elementor-element-2e3fff0 {
        padding: 40px 10px 80px 10px;
      }

      .elementor-15 .elementor-element.elementor-element-0112306.elementor-arrows-yes .elementor-main-swiper {
        width: calc(100% - 40px);
      }

      .elementor-15 .elementor-element.elementor-element-0112306 .elementor-main-swiper {
        width: 100%;
      }

      .elementor-15 .elementor-element.elementor-element-0112306 > .elementor-widget-container {
        padding: 15px 0px 0px 0px;
      }

      .elementor-15 .elementor-element.elementor-element-4b54ca9 > .elementor-widget-container {
        padding: 30px 30px 30px 30px;
      }

      .elementor-15 .elementor-element.elementor-element-992a6bf > .elementor-widget-container {
        padding: 30px 30px 30px 30px;
      }

      .elementor-15 .elementor-element.elementor-element-a328870 > .elementor-widget-container {
        padding: 30px 30px 30px 30px;
      }

      .elementor-15 .elementor-element.elementor-element-83e7c43:not(.elementor-motion-effects-element-type-background), .elementor-15 .elementor-element.elementor-element-83e7c43 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
        background-position: 80% 0px;
      }

      .elementor-15 .elementor-element.elementor-element-b885d4a .elementor-text-editor {
        text-align: left;
      }

      .elementor-15 .elementor-element.elementor-element-d07d521 .elementor-text-editor {
        text-align: left;
      }

      .elementor-15 .elementor-element.elementor-element-5662ecb {
        width: 50%;
      }

      .elementor-15 .elementor-element.elementor-element-e4340d2 .elementor-text-editor {
        text-align: left;
      }

      .elementor-15 .elementor-element.elementor-element-24a4b43 {
        width: 50%;
      }

      .elementor-15 .elementor-element.elementor-element-6c8e184 .elementor-text-editor {
        text-align: left;
      }

      .elementor-15 .elementor-element.elementor-element-4a5fd2a .elementor-icon-list-icon {
        text-align: left;
      }

      .elementor-15 .elementor-element.elementor-element-7818a54 > .elementor-element-populated {
        padding: 40px 0px 0px 0px;
      }

      .elementor-15 .elementor-element.elementor-element-f4261f8 > .elementor-widget-container {
        padding: 0px 0px 0px 0px;
      }
    }

    /* Start custom CSS for section, class: .elementor-element-cc61f2f */
    .elementor-button-icon svg {
      width: .6em;
    }

    /* End custom CSS */
  </style>
  <style type="text/css">
    .elementor-397 .elementor-element.elementor-element-3efd882 > .elementor-container {
      max-width: 1280px;
    }

    .elementor-397 .elementor-element.elementor-element-3efd882:not(.elementor-motion-effects-element-type-background), .elementor-397 .elementor-element.elementor-element-3efd882 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
      background-color: #000000;
    }

    .elementor-397 .elementor-element.elementor-element-3efd882 {
      transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
      padding: 30px 30px 72px 30px;
    }

    .elementor-397 .elementor-element.elementor-element-11521b8 {
      text-align: left;
    }

    .elementor-397 .elementor-element.elementor-element-11521b8 .elementor-image img {
      width: 100%;
      max-width: 280px;
    }

    .elementor-397 .elementor-element.elementor-element-c5ea382 .elementor-nav-menu .elementor-item {
      font-size: 15px;
    }

    .elementor-397 .elementor-element.elementor-element-c5ea382 .elementor-nav-menu--main .elementor-item {
      color: #FFFFFF;
      padding-left: 0px;
      padding-right: 0px;
    }

    .elementor-397 .elementor-element.elementor-element-c5ea382 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:before,
    .elementor-397 .elementor-element.elementor-element-c5ea382 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:after {
      background-color: #FFFFFF;
    }

    body:not(.rtl) .elementor-397 .elementor-element.elementor-element-c5ea382 .elementor-nav-menu--layout-horizontal .elementor-nav-menu > li:not(:last-child) {
      margin-right: 40px;
    }

    .elementor-397 .elementor-element.elementor-element-a25d8fa .elementor-text-editor {
      text-align: center;
    }
  </style>

  <%= javascript_include_tag 'franchising/application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'franchising/application', media: 'all', preload: true %>

  <title>
    <% if content_for?(:title) %>
      <%= yield :title %> -
    <% end %>
    <%= t('franchising.brand_name') %>
  </title>

  <%= yield :stylesheets %>
</head>

<body class="home page-template page-template-elementor_header_footer page page-id-15 wp-custom-logo wp-embed-responsive sticky-menu-no-transition sticky-enabled both-sticky-menu right-sidebar nav-below-header separate-containers fluid-header active-footer-widgets-3 nav-aligned-right header-aligned-left dropdown-hover elementor-default elementor-template-full-width elementor-kit-7 elementor-page elementor-page-15 full-width-content locale-<%= I18n.locale %>" itemtype="https://schema.org/WebPage" itemscope data-locale="<%= I18n.locale %>">
  <!-- Google Tag Manager (noscript) -->
  <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PGSKSGV" height="0" width="0" style="display:none;visibility:hidden"></iframe>
  </noscript>
  <!-- End Google Tag Manager (noscript) -->

  <%= render 'franchising/shared/header' %>

  <%= yield %>

  <%= render 'franchising/shared/footer' %>
</body>
</html>
