<div class="page-nav">
		<ul>
			<li><%= link_to :who_we_are, :class => "active" do %><%= t 'page.who_we_are.title' %><% end %></li>
			<li><%= link_to :our_story do %><%= t 'page.our_story.title' %><% end %></li>
			<li><%= link_to :testimonials do %><%= t 'page.testimonials.title' %><% end %></li>
			<li><%= link_to :leadership do %><%= t 'page.leadership.title' %><% end %></li>
			<li><%= link_to :news do %><%= t 'page.news.title' %><% end %></li>
		</ul>
</div>