<div id="footer">
  <div class="container">
    
    <div class="row first">
      
      <div class="one-third column first">
          <%= link_to 'Rent a Studio', :contact_us, :class => 'button block long-text' %>          
        </p>
      </div>
      
      <div class="one-third column second">
        <h3>More Information</h3>
        <div class="row">
          <div class="one-half column">
            <ul class="p">
              <li><%= link_to 'Contact Us', :contact_us %></li>
              <li><%= link_to 'In the News'.html_safe, :news %></li>
              <li><%= link_to 'Testimonials', :testimonials %></li>
              <li><%= link_to 'FAQs', :faqs %></li>
              <li><%= link_to 'Blog', :blog %></li>
            </ul>
          </div>
          <div class="one-half column last">
            <ul class="p last">
              <li><%= link_to 'Own Your Salon', :own_your_salon %></li>
              <li><%= link_to 'Find a Salon Professional', :salon_professionals %></li>
              <li><%= link_to 'Sola Locations', :locations %></li>
              <li><%= link_to 'Gallery', :gallery %></li>
            </ul>
          </div>
        </div>
      </div>
      
      <div class="one-third column third">
        <h3>Stay in Touch</h3>

        <p>Join our newsletter</p>
        
        <%= form_tag :newsletter_sign_up, :class => 'footer-newsletter-sign-up' do %>
          <div class="newsletter-sign-up">
            <input type="email" name="email" class="input" placeholder="Your email address" >
            <button type="submit" class="button">Join</button>
          </div>
        <% end %>

        <ul class="social">          
          <li><%= link_to 'https://www.facebook.com/solasalons', :target => '_blank' do %><span class="ss-social-regular ss-facebook"></span><% end %></li>
          <li><%= link_to 'https://twitter.com/solasalons', :target => '_blank' do %><span class="ss-social-regular ss-twitter"></span><% end %></li>
          <li><%= link_to 'https://www.pinterest.com/solasalons/', :target => '_blank' do %><span class="ss-social-regular ss-pinterest"></span><% end %></li>
          <li><%= link_to 'https://instagram.com/solasalons/', :target => '_blank' do %><span class="ss-social-regular ss-instagram"></span><% end %></li>
        </ul>
      </div>

    </div>

    <div class="row second">
      <p class="subtle">Sola Salon Studios - Your Life, Your Style &copy; Copyright <%= Time.now.year %></p>
    </div>

  </div>
</div>

<div class="request-franchising-modal modal-content clearfix" data-modal-class="double-wide">
  <div class="half-column left">
    <%= image_tag 'ForbesBestFranchise.jpg', :class => 'ForbesBestFranchise' %>
  </div>

  <div class="half-column">
    <h4 style="margin-bottom:15px;">Franchising</h4>
    <p style="margin-bottom:30px">Interested in opening a Sola Salon Studios franchise? Complete the form below or give us a call at 303.377.7652 ext 4</p>
    <%= form_tag :franchising_request, :id => 'franchising_request' do %>
      <input type="text" name="name" placeholder="Full Name" />
      <input type="text" name="email" placeholder="Email Address" />
      <input type="text" name="phone" placeholder="Phone Number" />
      <input type="text" name="market" placeholder="Market" />
      <textarea name="message" placeholder="Leave a Message"></textarea>
      <div class="recaptchaContainer"><%= recaptcha_tags %></div>
      <button class="primary block">Submit Request</button>
      <input name="request_url" type="hidden" value="<%= request.original_url %>">
    <% end %>
  </div>
</div>