<div id="top-header">
  <div class="container">
    <div class="row">
      <ul class="nav">        
        <li class="social"><%= link_to 'https://www.facebook.com/solasalons', :target => '_blank' do %><span class="ss-social-regular ss-facebook"></span><% end %></li>
        <li class="social"><%= link_to 'https://twitter.com/solasalons', :target => '_blank' do %><span class="ss-social-regular ss-twitter"></span><% end %></li>
        <li class="social"><%= link_to 'https://www.pinterest.com/solasalons/', :target => '_blank' do %><span class="ss-social-regular ss-pinterest"></span><% end %></li>
        <li class="social last"><%= link_to 'https://instagram.com/solasalons/', :target => '_blank' do %><span class="ss-social-regular ss-instagram"></span><% end %></li>
        <li class="border-left"><%= link_to :rent_a_studio do %><%= raw t 'header.rent_studio_button' %><% end %></li>
        <li class="border-left"><%= link_to 'https://www.solaprofessional.com', :class => 'sola-pro-sign-in' do %><%= raw t 'header.sola_pro_sign_in' %><% end %></li>
        <li class="border-left country-switcher-wrapper"><%= render 'shared/country_switcher' %></li>
      </ul>
    </div>
  </div>
</div>

<div id="header">
  <div class="container">
    <div class="row">

      <div id="mobile-top-nav-button"></div>

      <%= link_to :home, :class => 'logo' do %><%= image_tag 'Sola_Logo_@2x.png', :width => 133, :height => 81, :alt => raw(t('brand_name')) %><% end %>
      
      <ul class="nav">
        <li>
          <h4><%= link_to raw(t('page.own.title')), :own_your_salon, :class => 'own_your_salon' %></h4>
          <span class="oys-nav-caret caret down"></span>
          <div class="oys-nav-mobile <%= I18n.locale.to_s == 'en' ? 'with-sola-genius' : nil %>">
            <ul>
              <li>
                <a href="/own/own-your-salon">
                  <%= image_tag 'own_nav/1_own.jpg' %>
                  <span>Own Your Salon</span>
                </a>
              </li>
              <li>
                <a href="/own/studio-amenities">
                  <%= image_tag 'own_nav/2_amenities.jpg' %>
                  <span>Studio Amenities</span>
                </a>
              </li>
              <li>
                <a href="/own/sola-pro">
                  <%= image_tag 'own_nav/3_solapro.jpg' %>
                  <span>Sola Pro</span>
                </a>
              </li>
              <li>
                <a href="/own/sola-sessions">
                  <%= image_tag 'own_nav/4_sessions.jpg' %>
                  <span>Sola Sessions</span>
                </a>
              </li>
              <% if I18n.locale.to_s == 'en' %>
                <li>
                  <a href="/own/solagenius">
                    <%= image_tag 'own_nav/5_solagenius.jpg' %>
                    <span>Sola Genius</span>
                  </a>
                </li>
              <% end %>
            </ul>
          </div>
        </li>
        <li><h4><%= link_to raw(t('page.about.title')), :about_us %></h4></li>
        <li><h4><%= link_to raw(t('page.locations.title')), :locations %></h4></li>
        <li><h4><%= link_to raw(t('page.find_salon_pro.title')), :salon_professionals %></h4></li>
        <li><h4><%= link_to raw(t('page.blog.title')), :blog %></h4></li>
      </ul>

      <%= form_tag [:search, :results], :method => :get, :class => 'nav-search' do %>
        <input class="nav-search-input" placeholder="<%= raw t 'header.search_placeholder' %>" type="search" name="query">
        <span class="nav-search-button ss-search"></span>
      <% end %>

    </div>
  </div>
</div>



<div class="oys-nav <%= I18n.locale.to_s == 'en' ? 'with-sola-genius' : nil %>">
  <ul>
    <li>
      <a href="/own/own-your-salon">
        <%= image_tag 'own_nav/1_own.jpg' %>
        <span>Own Your<br>Salon</span>
      </a>
    </li>
    <li>
      <a href="/own/studio-amenities">
        <%= image_tag 'own_nav/2_amenities.jpg' %>
        <span>Studio<br>Amenities</span>
      </a>
    </li>
    <li>
      <a href="/own/sola-pro">
        <%= image_tag 'own_nav/3_solapro.jpg' %>
        <span>Sola<br>Pro</span>
      </a>
    </li>
    <li>
      <a href="/own/sola-sessions">
        <%= image_tag 'own_nav/4_sessions.jpg' %>
        <span>Sola<br>Sessions</span>
      </a>
    </li>
    <% if I18n.locale.to_s == 'en' %>
      <li>
        <a href="/own/solagenius">
          <%= image_tag 'own_nav/5_solagenius.jpg' %>
          <span>Sola<br>Genius</span>
        </a>
      </li>
    <% end %>
  </ul>
</div>