<div id="header">
  <div class="container">
    <div class="row">
      
      <div class="logo">Sola</div>
      
      <ul class="nav">
        <li><%= link_to 'Own Your Salon', :own_your_salon %></li>
        <li><%= link_to 'About Us', :about_us %></li>
        <li><%= link_to 'Locations', :locations %></li>
        <li><%= link_to 'Find a Stylist', :stylists %></li>
        <li><%= link_to 'Blog', :blog %></li>
      </ul>

      <div id="sb-search" class="sb-search">
        <form>
          <input class="sb-search-input" placeholder="Search for location or stylist..." type="search" name="search" id="search">
          <input class="sb-search-submit" type="submit" value="">
          <span class="sb-icon-search">?</span>
        </form>
      </div>

    </div>
  </div>
</div>