<div id="top-header">
  <div class="container">
    <div class="row">
      <ul class="nav">
        <li class="social"><%= link_to 'https://www.pinterest.com/solasalons/', :target => '_blank' do %><span class="ss-social-regular ss-pinterest"></span><% end %></li>
        <li class="social"><%= link_to 'https://twitter.com/solasalons', :target => '_blank' do %><span class="ss-social-regular ss-twitter"></span><% end %></li>
        <li class="social"><%= link_to 'https://www.facebook.com/solasalons', :target => '_blank' do %><span class="ss-social-regular ss-facebook"></span><% end %></li>
        <li class="social last"><%= link_to 'https://instagram.com/solasalons/', :target => '_blank' do %><span class="ss-social-regular ss-instagram"></span><% end %></li>
        <li class="border-left border-right"><%= link_to :rent_a_studio do %>Rent a Studio<% end %></li>
        <!-- <li class="border-left border-right"><%= link_to 'http://solastylists.herokuapp.com', :target => '_blank' do %>Salon Professional Login<% end %></li> -->
      </ul>
    </div>
  </div>
</div>

<div id="header">
  <div class="container">
    <div class="row">

      <div id="mobile-top-nav-button"></div>

      <%= link_to :home, :class => 'logo' do %><%= image_tag 'Sola_Logo_@2x.png', :width => 133, :height => 81 %><% end %>
      
      <ul class="nav">
        <li><h3><%= link_to 'Own Your Salon', :own_your_salon %></h3></li>
        <li><h3><%= link_to 'About Us', :about_us %></h3></li>
        <li><h3><%= link_to 'Locations', :locations %></h3></li>
        <li><h3><%= link_to 'Find a Salon Professional', :salon_professionals %></h3></li>
        <li><h3><%= link_to 'Blog', :blog %></h3></li>
      </ul>

      <%= form_tag [:search, :results], :class => 'nav-search' do %>
        <input class="nav-search-input" placeholder="Search by city, location or stylist..." type="search" name="query">
        <span class="nav-search-button ss-search"></span>
      <% end %>

    </div>
  </div>
</div>