<div id="top-header">
  <div class="container">
    <div class="row">
      <ul class="nav">
        <li><%= link_to 'https://www.pinterest.com/solasalons/', :target => '_blank' do %><span class="ss-social-regular ss-pinterest"></span><% end %></li>
        <li><%= link_to 'https://twitter.com/solasalons', :target => '_blank' do %><span class="ss-social-regular ss-twitter"></span><% end %></li>
        <li><%= link_to 'https://www.facebook.com/solasalons', :target => '_blank' do %><span class="ss-social-regular ss-facebook"></span><% end %></li>
        <li><%= link_to 'https://instagram.com/solasalons/', :target => '_blank' do %><span class="ss-social-regular ss-instagram"></span><% end %></li>
        <li class="border-left"><%= link_to :request_a_tour do %>Request a Tour<% end %></li>
        <li class="border-left border-right"><%= link_to 'http://solastylists.herokuapp.com', :target => '_blank' do %>Salon Professional Login<% end %></li>
      </ul>
    </div>
  </div>
</div>

<div id="header">
  <div class="container">
    <div class="row">

      <%= link_to :home, :class => 'logo' do %><%= image_tag 'logo.png' %><% end %>
      
      <ul class="nav">
        <li><%= link_to 'Own Your Salon', :own_your_salon %></li>
        <li><%= link_to 'About Us', :about_us %></li>
        <li><%= link_to 'Locations', :locations %></li>
        <li><%= link_to 'Find a Stylist', :stylists %></li>
        <li><%= link_to 'Blog', :blog %></li>
      </ul>

      <div id="sb-search" class="sb-search">
        <%= form_tag :action => :results, :controller => :search do %>
          <input class="sb-search-input" placeholder="Search by city, state, location or stylist..." type="search" name="query" id="search">
          <input class="sb-search-submit" type="submit" value="">
          <span class="sb-icon-search"><span class="ss-search"></span></span>
        <% end %>
      </div>

    </div>
  </div>
</div>