<div id="all-header">
<div id="top-header">
  <div class="container">
    <div class="row">
      <ul class="nav">
        <% if I18n.locale.to_s == 'pt-BR' %>
          <li class="social"><%= link_to 'https://www.facebook.com/Sola-Salon-Studios-Brasil-528942857566893', :target => '_blank', tabindex: 0, 'aria-label' => 'facebook' do %><span class="ss-social-regular ss-facebook"></span><% end %></li>
          <li class="social"><%= link_to 'https://www.instagram.com/solasalonsbrasil/', :target => '_blank', tabindex: 0, 'aria-label' => 'instagram' do %><span class="ss-social-regular ss-instagram"></span><% end %></li>
        <% elsif I18n.locale.to_s == "en-CA"%>
          <li class="social"><%= link_to 'https://www.facebook.com/SolaCanada/', :target => '_blank', tabindex: 0, 'aria-label' => 'facebook' do %><span class="ss-social-regular ss-facebook"></span><% end %></li>
          <li class="social"><%= link_to 'https://www.instagram.com/solacanada/', :target => '_blank', tabindex: 0, 'aria-label' => 'instagram' do %><span class="ss-social-regular ss-instagram"></span><% end %></li>
        <% else %>
          <li class="social"><%= link_to 'https://www.facebook.com/solasalons', :target => '_blank', tabindex: 0, 'aria-label' => 'facebook' do %><span class="ss-social-regular ss-facebook"></span><% end %></li>
          <li class="social"><%= link_to 'https://instagram.com/solasalons/', :target => '_blank', tabindex: 0, 'aria-label' => 'instagram' do %><span class="ss-social-regular ss-instagram"></span><% end %></li>
        <% end %>
        <li class="social"><%= link_to 'https://www.youtube.com/channel/UCJ8sL_G0TVCYC1irp3HpyZg', :target => '_blank', tabindex: 0, 'aria-label' => 'youtube' do %><span class="ss-social-regular ss-youtube"></span><% end %></li>
        <li class="social last"><%= link_to 'https://www.linkedin.com/company/solasalons/', :target => '_blank', tabindex: 0, 'aria-label' => 'linkedin' do %><span class="ss-social-regular ss-linkedin"></span><% end %></li>
        <% if I18n.locale.to_s == 'en' %>
          <li class="border-left"><%= link_to raw(t('page.franchising.title')), 'https://www.solafranchising.com', :target => '_blank', 'aria-label' => 'solafranchising', tabindex: 0 %></li>
        <% end %>
        <li class="border-left"><%= link_to :contact_us, tabindex: 0 do %><%= raw t 'header.contact_us' %><% end %></li>
        <% if I18n.locale.to_s == 'en' %>
          <li class="border-left">
            <%= link_to 'In The News', :news %>
          </li>
        <% else %>
          <li class="border-left"><%= link_to 'https://www.solaprofessional.com', :class => 'sola-pro-sign-in', tabindex: 0 do %><%= raw t 'header.sola_pro_sign_in' %><% end %></li>
        <% end %>
        <li class="border-left country-switcher-wrapper"><%= render 'shared/country_switcher' %></li>
      </ul>
    </div>
  </div>
</div>

<div id="header">
  <div class="container">
    <div class="row">

      <div id="mobile-top-nav-button"></div>

      <h1>
        <%= link_to :home, :class => 'logo' do %>
          <%= image_tag 'Sola_Logo_@2x.png', :width => 133, :height => 81, :alt => raw(t('logo_name')) %>
        <% end %>
      </h1>

      <ul class="sola-nav">
        <li><h4><%= link_to raw(t('page.locations.title')), :locations, tabindex: 0 %></h4></li>
        <% if english_locale? %>
          <li><h4><%= link_to raw(t('page.book_now.book_an_appointment')), :booknow_search, tabindex: 0 %></h4></li>
        <% end %>
        <li><h4><%= link_to raw(t('page.own.title')), :own_your_salon, :class => 'own_your_salon', tabindex: 0 %></h4></li>
        <li><h4><%= link_to raw(t('page.about.title')), :about_us, :class => 'about_us', 'data-nav' => "about-us", tabindex: 0 %></h4></li>
        <li><h4><%= link_to raw(t('page.blog.title')), :blog, tabindex: 0 %></h4></li>
      </ul>

      <%= form_tag [:search, :results], :method => :get, :class => 'nav-search', role: :search do %>
        <input class="nav-search-input" placeholder="<%= raw t 'header.search_placeholder' %>" type="search" name="query" aria-label="search query">
        <span tabindex="0" aria-label="search" role="button" class="nav-search-button search-icon"></span>
      <% end %>

    </div>
  </div>
</div>

<% if I18n.locale.to_s == 'pt-BR' %>
  <div class="oys-nav has-4" data-nav="about-us">
    <ul>
      <li>
        <%= link_to :who_we_are, tabindex: 0 do %>
          <%= image_tag 'https://s3.amazonaws.com/solasalonstudiosbr/main_menu/about-us/WhoWeAre_Thumb%402x.jpg', alt: "Photo of the seats in the salon" %>
          <h4><%= t 'nav.who_we_are' %></h4>
        <% end %>
      </li>
      <li>
        <%= link_to :our_story, tabindex: 0 do %>
          <%= image_tag 'about_nav/Story_Thumb@2x.jpg', alt: "Photo of a master in a pink jacket sitting on a chair" %>
          <h4><%= t 'nav.our_story' %></h4>
        <% end %>
      </li>
      <li>
        <%= link_to :testimonials, tabindex: 0 do %>
          <%= image_tag 'https://s3.amazonaws.com/solasalonstudiosbr/main_menu/testemonials/Testimonials%402x.jpg', alt: "Photo of the parehmacher" %>
          <h4><%= t 'nav.testimonials' %></h4>
        <% end %>
      </li>
      <li>
        <%= link_to :leadership, tabindex: 0 do %>
          <%= image_tag 'https://s3.amazonaws.com/solasalonstudiosbr/main_menu/leadership-team/Rodrigo-menu.jpeg', alt: 'Rodrigo Miranda photo'  %>
          <h4><%= t 'nav.leadership' %></h4>
        <% end %>
      </li>
    </ul>
  </div>
<% else %>
  <div class="oys-nav <%= I18n.locale.to_s == 'pt-BR' ? 'has-4' : 'has-4' %>" data-nav="about-us">
    <ul>
      <li>
        <%= link_to :who_we_are, tabindex: 0 do %>
          <%= image_tag 'about_nav/WhoWeAre_Thumb@2x.jpg', alt: 'Photo of the salon' %>
          <h4><%= t 'nav.who_we_are' %></h4>
        <% end %>
      </li>
      <li>
        <%= link_to :our_story, tabindex: 0 do %>
          <%= image_tag 'about_nav/Story_Thumb@2x.jpg', alt: "Photo of a master in a pink jacket sitting on a chair" %>
          <h4><%= t 'nav.our_story' %></h4>
        <% end %>
      </li>
      <li>
        <%= link_to :testimonials, tabindex: 0 do %>
          <%= image_tag 'about_nav/Testimonials@2x.jpg', alt: "Photo of masters with scissors in their hands" %>
          <h4><%= t 'nav.testimonials' %></h4>
        <% end %>
      </li>
      <% if I18n.locale.to_s == 'pt-BR' %>
      <li>
        <%= link_to :leadership, tabindex: 0 do %>
          <% if I18n.locale.to_s == 'pt-BR' %>
            <%= image_tag 'Leadership/Rodrigo-menu.jpeg', alt: 'Rodrigo Miranda photo' %>
          <% else %>
            <%= image_tag 'about_nav/Team_Thumb@2x.jpg', alt: "Photo of the man" %>
          <% end %>
          <h4><%= t 'nav.leadership' %></h4>
        <% end %>
      </li>
      <% end %>
      <% if I18n.locale.to_s != 'pt-BR' %>
      <li>
        <%= link_to :news, tabindex: 0 do %>
          <%= image_tag 'about_nav/News_Thumb@2x.jpg', alt: "Photo of the team on the pink couch" %>
          <h4><%= t 'nav.in_the_news' %></h4>
        <% end %>
      </li>
      <% end %>
    </ul>
  </div>
<% end %>
</div>
