<div class="twelve columns search-result search-result-clickable" data-href="<%= show_salon_professional_path(stylist).gsub(/\./, '') %>">
  <h3 class="name">
    <%= link_to show_salon_professional_path(stylist) do %>
      <%= stylist.website_name.present? ? stylist.website_name.html_safe : stylist.name.html_safe %>
      <%= " - #{stylist.location.name.html_safe}" if stylist.location %>
    <% end %>
  </h3>
  <p class="address"><%= stylist.location.full_address.html_safe %></p>
  <% if stylist.services && stylist.services.size > 0 %>
    <p class="salon-services">
      <% stylist.services.each do |service| %>
        <span class="service"><%= service %></span>
      <% end %>
    </p>
  <% end %>
  <p class="address">
    <%= link_to(stylist.has_sola_genius_account ? t('page.salon_professional.book_now').html_safe : t('page.salon_professional.book_now').html_safe, url_helper(stylist.booking_url), :class => 'bold-link', :target => '_blank') if stylist.booking_url.present? %>
    <%= ((stylist.phone_number.present? || stylist.website_phone_number.present?) && stylist.phone_number_display) ? (stylist.website_phone_number.present? ? stylist.website_phone_number : stylist.phone_number) : '&nbsp;'.html_safe %>
  </p>
</div>