<% if @stylists && @stylists.size > 0 %>
  <h2><%= t('page.search.salon_professional_results').html_safe %></h2>
  <% @stylists.sort_by{ |s| s.name.downcase }.each_with_index do |stylist, index| %>
    <% if index == 0 || index % 3 == 0 %><div class="row"><% end %>
      <div class="one-third column search-result">
        <h3 class="salon-professional-name"><%= link_to show_salon_professional_path(stylist) do %><%= stylist.website_name.present? ? stylist.website_name.html_safe : stylist.name.html_safe %><%= " - #{stylist.location.name.html_safe}" if stylist.location %><% end %></h3>
        <h3 class="subtle business-name"><%= stylist.business_name.present? ? stylist.business_name.html_safe : '&nbsp;'.html_safe %><br><%= t('page.search.studio').html_safe %> <%= stylist.studio_number %></h3>
        <p class="salon-services">
          <% if stylist.services && stylist.services.size > 0 %>
            <% stylist.services.each do |service| %>
              <span class="service"><%= service %></span>
            <% end %>
          <% else %>
            <span class="service" style="visibility:hidden">&nbsp;</span>
          <% end %>
        </p>
        <div><%= ((stylist.phone_number.present? || stylist.website_phone_number.present?) && stylist.phone_number_display) ? (stylist.website_phone_number.present? ? stylist.website_phone_number : stylist.phone_number) : '&nbsp;'.html_safe %></div>
        <div class="view-profile"><%= link_to t('page.search.view_profile').html_safe, show_salon_professional_path(stylist).gsub(/\./, '') %></div>
      </div>
    <% if ((index + 1) % 3) == 0 || index + 1 == @stylists.size %></div><% end %>
  <% end %>
<% end %>
