<% if @stylists && @stylists.size > 0 %>
  <h2>Salon Professional Results</h2>
  <% @stylists.each_with_index do |stylist, index| %>
    <% if index == 0 || index % 3 == 0 %><div class="row"><% end %>
      <div class="one-third column search-result">
        <h3><%= stylist.name.html_safe %></h3>
        <h3 class="subtle business-name"><%= stylist.business_name.present? ? stylist.business_name.html_safe : '&nbsp;'.html_safe %></h3>
        <p class="salon-services">
          <% if stylist.services && stylist.services.size > 0 %>
            <% stylist.services.each do |service| %>
              <span class="service"><%= service %></span>
            <% end %>
          <% else %>
            <span class="service" style="visibility:hidden">&nbsp;</span>
          <% end %>
        </p>
        <div><%= stylist.phone_number %></div>
        <div class="view-profile"><%= link_to 'View Profile', show_salon_professional_path(stylist) %></div>
      </div>
    <% if ((index + 1) % 3) == 0 || index + 1 == @stylists.size %></div><% end %>
  <% end %>
<% end %>