<h3>Sola Franchising Request</h3>

<hr>

<p><strong>Request URL:</strong> <%= @message.request_url %></p>

<p><strong>Name:</strong> <%= @message.name %></p>

<% if @message.email.present? %>
  <p><strong>Email:</strong> <%= @message.email %></p>
<% end %>

<% if @message.phone.present? %>
  <p><strong>Phone:</strong> <%= @message.phone %></p>
<% end %>

<% if @message.market.present? %>
  <p><strong>Market:</strong> <%= @message.market %></p>
<% end %>

<% if @message.message.present? %>
  <p><strong>Leave a Message:</strong> <%= @message.message %></p>
<% end %>