<% if @inquiry.message.present? %>
<h3>Sola Contact Us Inquiry</h3>
<% else %>
<h3>Sola Rent a Studio Inquiry</h3>
<% end %>

<hr>
<% if @inquiry.location && @inquiry.location.name.present? %>
  <p><strong>Location:</strong> <%= @inquiry.location.name.html_safe %></p>
<% end %>
<p><strong>Name:</strong> <%= @inquiry.name %></p>
<p><strong>Email:</strong> <%= @inquiry.email %></p>
<p><strong>Phone:</strong> <%= @inquiry.phone %></p>
<% if @inquiry.message.present? %>
  <p><strong>Leave a Message:</strong> <%= @inquiry.message %></p>
<% end %>