<% if @inquiry.send_email_to_prospect == 'modern_salon_2019_05' %>
	<p><em>This contact form was generated from Modern Salon and Sola's downloadable "Guide to Going Independent"</em></p>
<% end %>

<h3><%= @subject %></h3>

<hr>

<p><strong>Request URL:</strong> <%= @inquiry.request_url %></p>

<% if @inquiry.location && @inquiry.location.name.present? %>
  <p><strong>Location:</strong> <%= @inquiry.location.name.html_safe %></p>
<% end %>

<p><strong>Name:</strong> <%= @inquiry.name %></p>
<p><strong>Email:</strong> <%= @inquiry.email %></p>
<p><strong>Phone:</strong> <%= @inquiry.phone %></p>
<% if @inquiry.how_can_we_help_you.present? %>
  <p><strong>How Can We Help You?:</strong> <%= @inquiry.how_can_we_help_you %></p>
<% end %>
<% if @inquiry.services.present? %>
	<p><strong>Services:</strong> <%= @inquiry.services %></p>
<% end %>
<% if @inquiry.message.present? %>
  <p><strong>Message:</strong> <%= @inquiry.message %></p>
<% end %>