<h3>Sola Contact Us Inquiry</h3>

<hr>

<p><strong>Request URL:</strong> <%= @inquiry.request_url %></p>

<% if @inquiry.location && @inquiry.location.name.present? %>
  <p><strong>Location:</strong> <%= @inquiry.location.name.html_safe %></p>
<% end %>

<p><strong>Name:</strong> <%= @inquiry.name %></p>
<p><strong>Email:</strong> <%= @inquiry.email %></p>
<p><strong>Phone:</strong> <%= @inquiry.phone %></p>
<% if @inquiry.how_can_we_help_you.present? %>
  <p><strong>How Can We Help You?:</strong> <%= @inquiry.how_can_we_help_you %></p>
<% end %>
<% if @inquiry.message.present? %>
  <p><strong>Reason For Inquiry:</strong> <%= @inquiry.message %></p>
<% end %>
<p><strong>Contact Preference:</strong> <%= @inquiry.contact_preference %></p>
<p>In addition to you responding to their inquiry <strong>within 24 hours</strong>, this person will also be receiving a series of emails regarding Sola over the next couple of weeks.</p>