<% if @inquiry.send_email_to_prospect == 'modern_salon_2019_05' %>
	<p><em>This contact form was generated from Modern Salon and Sola's downloadable "Guide to Going Independent"</em></p>
<% end %>

<% if @inquiry.how_can_we_help_you == 'Book an appointment with a salon professional' %>
	<% if I18n.locale.to_s == 'en' %>
		<p><em>This person has received an automated email with more information about how to search and book an appointment with a Sola professional using BookNow.</em></p>
	<% else %>
		<p><em>This person has received an automated email with more information about how to search for a Sola professional on the Sola website.</em></p>
	<% end %>
<% end %>

<h3><%= @subject %></h3>

<hr>

<p><strong>Request URL:</strong> <%= @inquiry.request_url %></p>

<% if @inquiry.location && @inquiry.location.name.present? %>
  <p><strong>Location:</strong> <%= @inquiry.location.name.html_safe %></p>
<% end %>

<% if @inquiry.zip_code.present? %>
  <p><strong>Zip Code:</strong> <%= @inquiry.zip_code %></p>
<% end %>

<p><strong>Name:</strong> <%= @inquiry.name %></p>
<p><strong>Email:</strong> <%= @inquiry.email %></p>
<p><strong>Phone:</strong> <%= @inquiry.phone %></p>

<% if @inquiry.how_can_we_help_you.present? %>
  <p><strong>How Can We Help You?:</strong> <%= @inquiry.how_can_we_help_you %></p>
<% end %>

<% if @inquiry.services.present? %>
	<p><strong>Services:</strong> <%= @inquiry.services %></p>
<% end %>

<% if @inquiry.message.present? %>
  <p><strong>Message:</strong> <%= @inquiry.message %></p>
<% end %>