<%= render 'shared/public_website/own_your_salon_nav', :page => :solagenius %>

<div class="wrapper">
  <!-- banner starts here -->
  <div class="banner">
    <div class="container">
      <div class="banner-in d-flex">
        <!-- hero block starts here -->
        <div class="hero-block">
          <div class="hero-block-in">
            <div class="square-box">
              <figure><%= image_tag "booknow/square-box.png", :width => "1243", :height => "569", :alt => "square" %></figure>
            </div>
            <div class="cloud wow fadeInTop" data-wow-delay="1s">
              <figure><%= image_tag "booknow/ink-colud.png", :width => "850", :height => "1085", :alt => "cloud", :class => "hide-mob" %>
                <%= image_tag "booknow/cloud-ink_mob.png", :width => "375", :height => "507", :alt => "cloud", :class => "show-mob" %>
              </figure>
            </div>
            <div class="mobile wow fadeIn" data-wow-delay="1.5s">
              <figure><%= image_tag "booknow/iphonex.png", :width => "558", :height => "842", :alt => "phone" %></figure>
            </div>
            <div class="cloud-block wow fadeIn" data-wow-delay="1.5s">
              <figure><%= image_tag "booknow/ink--cloud2.png", :width => "1051", :height => "865", :alt => "cloud", :class => "hide-mob" %></figure>
              <figure><%= image_tag "booknow/ink--cloud2._mobpng.png", :width => "360", :height => "282", :alt => "cloud", :class => "show-mob" %></figure>
            </div>
            <div class="genius">
              <h1 class="text-uppercase wow fadeInRight" data-wow-delay="2s">BookNow <span>by SolaGenius</span></h1>
            </div>
          </div>
          <div class="video-block">
            <a href="//www.youtube.com/watch?v=6ubV89EdbmI" class="play-video" rel="6ubV89EdbmI"><i class="fa fa-play-circle-o" aria-hidden="true"></i>
              Watch the video</a>
          </div>
        </div>
        <!-- hero block ends here -->
      </div>
    </div>
    <!-- book now blockstarts here -->
    <div class="booknow-block text-center col-md-8">
      <h2 class="text-uppercase">Meet<br>Book<strong>NOW</strong></h2>
      <span class="text-uppercasec">BY</span>
      <a href="#"><%= image_tag "booknow/logo.png", :width => "234", :height => "26", :alt => "logo" %></a>
      <p>SolaGenius already helps you run your business like a boss. And now, this game-changing salon management app is taking things up a notch with an all-new feature. Meet <a href="https://www.solasalonstudios.com"><strong>BookNow</strong> –
        the smart online booking engine</a> powered by SolaGenius. With BookNow, clients can find and
        book your services from the main Sola website, anytime and anywhere! Exclusively for
        SolaGenius users, this built-in tool is the easiest way to get found, get booked, and get ahead.
        Fully booked. Simply genius. BookNow by SolaGenius.</p>
      <p class="text-center" style="margin-top: 15px"><a href="https://www.solasalonstudios.com" class="btn1">See it now</a></p>
      <!--        <span class="soon text-center">Coming Soon</span>
       -->    </div>
    <!-- book now block ends here -->
  </div>
  <!-- banner ends here -->

  <div class="maincontent">
    <!-- winner block starts here -->
    <div class="winner-block">
      <div class="container">
        <div class="winner-in d-flex">
          <div class="winner-left col-lg-6 col-md-12">
            <p>Fill your books, then share the love!<br>Try SolaGenius free or refer a friend today.</p>
          </div>
          <div class="winner-right  ml-auto">
            <ul class="d-flex">
              <li><a href="https://sola.glossgenius.com/signup?utm_source=sola&utm_medium=Landing%20Page&utm_campaign=BookNow" class="btn1" target="_blank">Start free trial</a></li>
              <li><a href="#refer-a-friend" class="btn1">Refer a friend</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- winner block ends here here -->
    <!-- slider block starts here -->
    <div class="slider-block">
      <div class="slidein-blk">
        <div class="slider-main slider">
          <div class="slider-list">
            <div class="slider-cnt-main">

              <div class="slide">
                <div class="container">
                  <div class="slider-content">
                    <div class="slider-in">
                      <div class="slider-wrap">
                        <div class="found">
                          <h3 class="text-uppercase">Let’s get <br>you found</h3>
                        </div>
                        <div class="mob-slider">
                          <div class="slider-cnt">
                            <figure><%= image_tag "booknow/iphonex1.png", :width => "342", :height => "686", :alt => "phone1" %></figure>
                          </div>
                        </div>
                        <div class="functionality ">
                          <ul>
                            <li><a href="#">24x7 search &amp; scheduling<br> functionality</a></li>
                            <li class="web"><a href="#">User-friendly web interface<br> for potential  clients</a></li>
                            <li class="service"><a href="#">Service-specific sorting<br> &amp; real-time results</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="slider-list">
            <div class="slider-cnt-main">

              <div class="slide">
                <div class="container">
                  <div class="slider-content">
                    <div class="slider-in">
                      <div class="slider-wrap">
                        <div class="found">
                          <h3 class="text-uppercase">Book new clients<br> Faster and easier</h3>
                        </div>
                        <div class="mob-slider">
                          <div class="slider-cnt">
                            <figure><%= image_tag "booknow/slide2iphone.png", :width => "456", :height => "742", :alt => "phone1" %></figure>
                          </div>
                        </div>
                        <div class="functionality ">
                          <ul>
                            <li class="discover"><a href="#">Discovery for pros in a<br> single quick search</a></li>
                            <li class="booking"><a href="#">Scheduling &amp; booking in a few simple clicks </a></li>
                            <li class="click"><a href="#">Appointment confirmation<br> just one text away</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="slider-list">
            <div class="slider-cnt-main">

              <div class="slide">
                <div class="container">
                  <div class="slider-content">
                    <div class="slider-in">
                      <div class="slider-wrap">
                        <div class="found">
                          <h3 class="text-uppercase">Simply genius<br> business results</h3>
                        </div>
                        <div class="mob-slider">
                          <div class="slider-cnt">
                            <figure><%= image_tag "booknow/slide3-iphone.png", :width => "373", :height => "741", :alt => "phone1" %></figure>
                          </div>
                        </div>
                        <div class="functionality ">
                          <ul>
                            <li class="compaign"><a href="#">Targeted ads by Sola to get you clients</a></li>
                            <li class="visibility"><a href="#">More visibility and ease of business management</a></li>
                            <li class="star"><a href="#">Smarter scheduling, new clients, &amp; fuller books</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- slider block starts here -->
    <!-- business-blk starts here -->
    <div class="business-blk">
      <figure><%= image_tag "booknow/bg-img.jpg", :width => "1920", :height => "1080", :alt => "img" %></figure>
      <div class="business-in">
        <div class="container">
          <h2 class="text-uppercase">Get full. <strong>Stay full.</strong></h2>
          <p>Find out why Sola professionals are using SolaGenius<br> to fill their books and grow their businesses.</p>
          <a href="//www.youtube.com/watch?v=kGI6SwGPKcc" class="btn play-video" rel="kGI6SwGPKcc"><i class="fa fa-play-circle-o" aria-hidden="true"></i>Watch the video</a>
        </div>
      </div>
    </div>
    <!-- business-blk ends here -->
    <!-- registre-blk starts here -->
    <div class="registre-blk">
      <div class="container">
        <div class="register-in">
          <!--<div class="sign-up col-md-8">-->
          <!--<h3 class="text-uppercase">Sign up. Win big.</h3>
          <p>From now to the launch of BookNow, sign up for a free trial of SolaGenius (or refer a friend) for your chance to win one of our huge weekly giveaways, including an all-inclusive VIP trip to Sola Sessions 2019 in San Diego, an iPad and <a href="https://www.solasalonstudios.com/blog/meet-booknow">much more</a>!</p>-->
          <!--<p>From now to the launch of BookNow, sign up for a free trial of SolaGenius (or refer a friend) for your chance to win our <span>weekly iPad giveaway,</span> an all-inclusive <span>VIP trip to Sola Sessions 2019</span> in sunny San Diego, and much more.</a> </p>-->
          <!--</div>-->
          <div class="sola-blk d-flex">
            <div class="sola-in d-flex col-md-8 col-xs-12">
              <div class="sola-left col-lg-6 col-md-8 col-12 get-started-with-solagenius">
                <h4>Get started with SolaGenius</h4>
                <p>Try SolaGenius for 30 days (no risk and no credit card required), and instantly appear in exclusive BookNow search results.</p>
                <a href="https://sola.glossgenius.com/signup?utm_source=sola&utm_medium=Landing%20Page&utm_campaign=BookNow" class="btn1 d-md-block d-none" target="_blank">Start free trial</a>
              </div>
              <div class="mock-block col-lg-6 col-md-6 col-12">
                <figure><%= image_tag "booknow/ipad-mock.png", :width => "274", :height => "357", :alt => "ipad" %></figure>
                <a href="https://sola.glossgenius.com/signup?utm_source=sola&utm_medium=Landing%20Page&utm_campaign=BookNow" class="btn1 d-md-none d-block" target="_blank">Start free trial</a>
              </div>
            </div>
            <div class="refer-blk col-md-4 col-12">
              <h4>Already a user?<br> Refer a friend!</h4>
              <p>Share the love, and help build a booming SolaGenius community!</p>
              <a href="#refer-a-friend" class="btn1">Get referral code</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- registre-blk starts here -->
    <!-- feature-blk starts here -->
    <div class="feature-blk">
      <div class="container">
        <div class="feature-in d-flex flex-row-reverse">
          <div class="feature-right ml-auto align-flex-end">
            <figure class="d-none d-md-block"><%= image_tag "booknow/iphonex2.png", :width => "403", :height => "370", :alt => "phone" %></figure>
            <figure class="d-block d-md-none"><%= image_tag "booknow/mobile-iphone.png", :width => "174", :height => "336", :alt => "phone" %></figure>
          </div>

          <div class="feature-left col-md-6 col-xs-12">
            <h3 class="text-uppercase">More from SolaGenius</h3>
            <p>Check out the other game-changing features available through<br> the SolaGenius app.</p>
            <a href="https://www.solasalonstudios.com/solagenius" class="btn1">Learn more</a>
          </div>



        </div>




      </div>
    </div>
    <!-- feature-blk ends here -->
  </div>


</div>

<%= react_component 'BookNowReferral', {

} %>

<% @body_class = 'booknow' %>
<% content_for(:title) { t('sola_search.booknow') } %>
<% content_for(:stylesheets) do %>
  <%= stylesheet_link_tag "booknow_landing_page", media: "all" %>
  <link rel="stylesheet" href="https://use.typekit.net/bvh7uvi.css">
  <link type="text/css" href="https://kenwheeler.github.io/slick/slick/slick-theme.css" rel="stylesheet">
  <link type="text/css" href="https://kenwheeler.github.io/slick/slick/slick.css" rel="stylesheet">
<% end %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://kenwheeler.github.io/slick/slick/slick.js"></script>
<%= javascript_include_tag('wow.min') %>
<script>
  $(document).ready(function(e){
    $('.slider').slick({
      autoplay:true,
      autoplaySpeed: 5000,
      infinite: true,
      slidesToShow: 1,
      slidesToScroll: 1,
      speed: 500,
      fade: false,
      arrows:false,
      dots:true,
      cssEase: 'linear',
      centerPadding:false,
    });

    new WOW().init();

    $('a[href=#refer-a-friend]').on('click', function (e) {
      e.preventDefault();
      e.stopPropagation();

      window.onShowBookNowReferralModal();
    });
  });
</script>
