<div class="sola-search-hero">
	<div class="container">
		<h2>Find your next 
      <strong class="home-services-animation">
        <span class="active"><%= t('services.hairstylist') %></span>
        <span><%= t('services.esthetician') %></span>
        <span><%= t('services.nail_tech') %></span>
        <span><%= t('services.makeup_artist') %></span>
        <span><%= t('services.beauty_professional') %></span>
      </strong>
    </h2>
		<p>Search thousands of salon professionals.</p>
		<%= react_component 'SearchBar', {
			date: DateTime.now,
			path: booknow_results_path,	
			gloss_genius_api_key: ENV['GLOSS_GENIUS_API_KEY'],
			gloss_genius_api_url: ENV['GLOSS_GENIUS_API_URL'],
		} %>
	</div>
</div>

<div class="book-now-search-block">
  <div class="container kelsey-container">
    <%= image_tag 'booknow/booknow_by_solagenius.gif', :class => 'booknow-by-solagenius' %>
    
    <h2>Sola Salon Studios is home to thousands of independently owned and operated boutique salons!</h2>
    
    <p>Customize your search to make an appointment with one of our independent hair dressers, nail techs, estheticians, massage therapists or other beauty service professionals. To learn more about each salon owner, click on their name in the search results.</p>

    <div class="callout-pink">
      <%= image_tag 'booknow/mobile-device.png', :class => 'mobile-device' %>
      <div class="text">The BookNow search results only feature Sola professionals who use SolaGenius <span>(GlossGenius for Sola)</span>.</div>
      <div class="clearfix">&nbsp;</div>
    </div>
  </div>

  <div class="callout-gradient">
    <div class="container">
      If you do not see your Sola professional in the search results, please contact them directly for booking inquiries at <%= link_to :find_a_professional do %><%= root_sola_domain %>/findaprofessional<% end %>.
    </div>
  </div>
</div>

<% if Rails.env.test? %>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<% end %>

<% @body_class = 'sola-search' %>
<% content_for(:title) { t('sola_search.booknow') } %>