<div class="contact-2019">

<div class="owl-carousel owl-theme">
  <div class="item">
    <div class="img-wrap"><%= image_tag 'https://s3.amazonaws.com/solasalonstudios/mysola_contact_bg.jpg', :width => 1800, :height => 607 %></div>
    <div class="item-content overlayed">
      <a href="https://www.youtube.com/watch?v=72pips9fvwQ" class="play-video giant-video-button-wrapper" rel="72pips9fvwQ">
        <div class="giant-video-btn">
          <span class="fa fa-5x fa-play"></span>
        </div>
        <div class="text">Watch our video to see what<br />people are saying about #MySola</div>
      </a>
      <a href="#get-in-touch" class="learn-more-button learn-more-button-circle">
        <%= image_tag 'down-arrow-circle.png' %>
      </a>
    </div>
  </div>
</div>

<div class="container content-container">
  <a name="get-in-touch" id="get-in-touch"></a>
  <div class="row">
    <div class="col-md-6">
      <h1><%= t('page.contact.get_in_touch').html_safe %></h1>
      <h2 class="start-the-convo"><%= t('page.contact.body1').html_safe %></h2>

      <% if I18n.locale == :en %> 
        <div>
        <%= link_to :booknow_search, :class => 'button primary pill square contact-book-now' do %>
          <%= t 'page.contact.book_now' %>
        <% end %>
        </div>
      <% end %>

      <%= link_to :salon_professionals, :class => 'button primary pill square contact-salon-professionals' do %>
        <%= image_tag 'contact_salon_pro.png', :width => (68 / 2), :height => (76 / 2), :style => 'position: relative; left: -4px; margin-right: 10px; top: -1px' %> 
        <%= t 'page.contact.contact_a_beauty_professional' %>
      <% end %>
    </div>

    <div class="col-md-6">

      <div class="contact-us-form-wrapper">

        
          <%= render 'shared/contact_form_component' %>
        
      </div>

    </div>
  </div>
</div>  

<div class="follow-us-on-social">
  <div class="container">
    <h2><%= t 'page.contact.follow_us_on_social' %></h2>
    <ul class="social">  
      <% if I18n.locale == :en %>        
        <li><%= link_to 'https://instagram.com/solasalons/', :target => '_blank' do %><span class="ss-social-regular ss-instagram"></span><% end %></li>
        <li><%= link_to 'https://www.facebook.com/solasalons', :target => '_blank' do %><span class="ss-social-regular ss-facebook"></span><% end %></li>
        <li><%= link_to 'https://twitter.com/solasalons', :target => '_blank' do %><span class="ss-social-regular ss-twitter"></span><% end %></li>
        <li><%= link_to 'https://www.pinterest.com/solasalons/', :target => '_blank' do %><span class="ss-social-regular ss-pinterest"></span><% end %></li>
      <% else %>
        <li><%= link_to 'https://instagram.com/solacanada/', :target => '_blank', :style => 'margin-right:0;' do %><span class="ss-social-regular ss-instagram"></span><% end %></li>
        <li><%= link_to 'https://www.facebook.com/solacanada', :target => '_blank' do %><span class="ss-social-regular ss-facebook"></span><% end %></li>
        <li><%= link_to 'https://twitter.com/solacanada', :target => '_blank' do %><span class="ss-social-regular ss-twitter"></span><% end %></li>
        <li><%= link_to 'https://www.pinterest.com/solasalons/', :target => '_blank' do %><span class="ss-social-regular ss-pinterest"></span><% end %></li>
      <% end %>
    </ul>
  </div>
</div>

<div class="ready-to-be-your-own-boss">
  <div class="container">
    <h1><%= t 'page.contact.ready_to_be_your_own_boss' %></h1>
    <h2><%= t 'page.contact.sola_makes_it_easy' %></h2>
  </div>
</div>

<div class="container">
  <div class="row sola-home-office">
    <div class="col-md-12">
      <h1 class="chalet-new-york" style="color:#636363;font-size:44px;line-height:48px;margin:0;"><%= t('page.contact.are_you_interested').html_safe %></h1>
    </div>
  </div>

  <div class="row franchising">
    <div class="col-md-6">
      <img src="https://solasalonstudios.s3.amazonaws.com/contact-franchising.jpg" class="u-full-width" style="max-width:500px;margin-bottom:15px" />
    </div>

    <div class="col-md-6">
      <div class="sola-address">
        <p><a href="tel:303.337.7652" class="tel"><strong>303.377.7652</strong></a></p>
        <p>50 South Steele Street, Suite 1050<br>Denver, CO 80209</p>
        <p><a href="mailto:info@solasalonstudios.com" class="pink-link">info@solasalonstudios.com</a></p>
        <p><%= link_to t('page.contact.contact_for_franchising_opportunities').html_safe, 'https://pages.solasalonstudios.com/signup?source=UAT&medium=UAT&utm_source=UAT&utm_medium=UAT', :class => 'button request-franchising-info primary pill', :style => 'width:auto', "data-type" => 'us-franchising' %></p>
      </div>
    </div>
  </div>
</div>




<div class="request-franchising-modal modal-content clearfix" data-width="700" data-modal-class="franchising-modal">
  <div class="half-column left">
    <span class="forbes-image" />
  </div>

  <div class="half-column">
    <h4 style="margin-bottom:15px;"><%= t('page.contact.franchising').html_safe %></h4>
    <p style="margin-bottom:30px" class="us-franchising"><%= t('page.contact.franchising_text').html_safe %></p>
    <p style="margin-bottom:30px;" class="int-franchising"><%= t('page.contact.international_franchising_text').html_safe %></p>
    <%= form_tag :franchising_request, :id => 'franchising_request' do %>
      <input type="text" name="name" placeholder="<%= t('page.contact.full_name').html_safe %>" />
      <input type="text" name="email" placeholder="<%= t('page.contact.email_address').html_safe %>" />
      <input type="text" name="phone" placeholder="<%= t('page.contact.phone_number').html_safe %>" />
      <input type="text" name="market" class="us-franchising" placeholder="<%= t('page.contact.market').html_safe %>" />
      <input type="text" name="market" class="int-franchising" placeholder="<%= t('page.contact.country').html_safe %>" />
      <textarea name="message" placeholder="<%= t('page.contact.leave_a_message').html_safe %>"></textarea>
      <div class="recaptchaContainer"><%= recaptcha_tags %></div>
      <button class="primary block"><%= t('page.contact.submit_message').html_safe %></button>
      <div class="loading"><div class="spinner"></div></div>
      <input name="request_url" type="hidden" value="<%= request.original_url %>">
      <input name="request_type" type="hidden" value="">
    <% end %>
  </div>
</div>

</div>

<% @body_class = 'contact-us' %>
<% content_for(:scripts) { javascript_include_tag('contact_us') } %>
<% content_for(:title) { t('page.contact.title').html_safe } %>
<% if I18n.locale != :en %>
  <% content_for(:scripts) { javascript_include_tag('contact_us_ca') } %>
<% end %>
<% content_for(:canonical_url) { "https://www.solasalonstudios.#{I18n.locale != :en ? 'ca' : 'com'}/contact-us" } %>
<% content_for(:meta_description) { t('page.contact.meta_description') } %>