<% cache ["contactUsIndex#{@last_location ? @last_location.updated_at : nil}|#{@last_msa ? @last_msa.updated_at : nil}|#{I18n.locale}|#{@thank_you}"] do %>

<div class="container content-container">
  
  <div class="row">
    <h1 class="chalet"><%= t('page.contact.get_in_touch').html_safe %></h1>
  </div>

<!--   <% if @thank_you && I18n.locale != :en %>
    <div class="contact-us-success">
      Thank you! Your submission has been received. 
      <br /><br />
      We will be contacting you soon with details about the launch of Sola Salon Studios Canada in Toronto this Fall.
    </div>
  <% end %> -->

  <div class="row dashed">
    <div class="one-half column">
      <h2 class="small"><%= t('page.contact.contact_a_sola_nearest_you').html_safe %></h1>
    </div>
    <div class="one-half column">
        <p><%= t('page.contact.body1').html_safe %></p>
        <p><%= t('page.contact.body2', :faq_link => link_to(t('page.contact.frequently_asked_questions').html_safe, :faqs, :class => 'pink-link')).html_safe %></p>
        
        <% if I18n.locale.to_s != 'pt-BR' %>
        
        <br>
        <div class="sola-select no-autobind select-a-state form">
          <div class="row">
            <div class="option-placeholder"><h3><%= params[:state] || t('page.contact.select_a_state').html_safe %></h3></div>
            <div class="arrow"><span class="ss-dropdown"></span></div>
          </div>
          <div class="options">
            <% @all_locations.select("DISTINCT(state)").order(:state => :asc).each do |location| %>
            <div class="option" data-value="<%= location.state %>"><%= location.state %></div>
            <% end %>
          </div>
        </div>

        <div id="contact-us-states">
          <% @all_locations.select("DISTINCT(state)").order(:state => :asc).each do |location| %>
            <div class="sola-select no-autobind form select-a-location" id="state_select_<%= location.state.gsub(/ /, '_') %>">
              
              <div class="row">
                <div class="option-placeholder"><h3><%= params[:location] || t('page.contact.select_a_location').html_safe %></h3></div>
                <div class="arrow"><span class="ss-dropdown"></span></div>
              </div>
              <div class="options">
                <% Location.where(:state => location.state, :status => 'open').order(:name => :asc).group_by(&:msa_name).sort.each do |msa_name, locations| %>
                  <% if msa_name %>
                    <div class="optgroup"><h3><%= msa_name.html_safe %></h3></div>
                    <% locations.sort{ |a, b| a.name.downcase <=> b.name.downcase }.each do |loc| %>
                      <div class="option" data-value="<%= loc.id %>" data-phone="<%= loc.phone_number %>"><%= loc.name.html_safe %></div>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
            </div>
          <% end %>  
        </div>

        <div id="contact-us-info-disabled">
          <div class="contact-us-info-disabled">
            <div class="row">
              <h3>&nbsp;</h3>
              <h2><%= t('page.contact.select_a_sola_location_above').html_safe %></h2>
              <h3>&nbsp;</h3>
              <%= form_tag '#', :method => :post, :class => 'contact-us-form-disabled' do %>
                <input name="name" type="text" placeholder="<%= t('page.contact.your_name').html_safe %>" disabled="disabled">
                <input name="email" type="text" placeholder="<%= t('page.contact.email_address').html_safe %>" disabled="disabled">
                <input name="phone" type="text" placeholder="<%= t('page.contact.phone_number').html_safe %>" disabled="disabled">
                <textarea name="message" type="text" placeholder="<%= t('page.contact.leave_a_message').html_safe %>" disabled="disabled"></textarea>
                <% if I18n.locale && I18n.locale.to_s == 'en-CA' %>
                  <label class="receive-newsletter">
                    <span class="input"><input type="checkbox" name="receive_newsletter" value="yes" checked="checked" disabled="disabled" /></span>
                    <span class="text"><%= t 'page.contact.receive_newsletter' %></span>
                  </label>
                <% end %>
                <button class="button block primary" disabled="disabled"><%= t('page.contact.submit_message').html_safe %></button>
              <% end %>
            </div>
          </div>
        </div>

        <div id="contact-us-info">
          <div class="contact-us-info">
            <div class="row">
              <h3><%= t('page.contact.call_for_leasing_information').html_safe %></h3>
              <h2><a href="tel:(303) 377-7652" id="contact-us-number" class="tel">(303) 377-7652</a></h2>
              <h3><%= t('page.contact.leave_a_message').html_safe %></h3>
              <%= form_tag :contact_us_request_a_tour, :method => :post, :class => 'contact-us-form' do %>
                <input name="name" type="text" placeholder="<%= t('page.contact.your_name').html_safe %>">
                <input name="email" type="text" placeholder="<%= t('page.contact.email_address').html_safe %>">
                <input name="phone" type="text" placeholder="<%= t('page.contact.phone_number').html_safe %>">
                <textarea name="message" type="text" placeholder="<%= t('page.contact.leave_a_message').html_safe %>"></textarea>
                <input name="location_id" id="contact_us_location_id" type="hidden" value="">
                <input name="request_url" type="hidden" value="<%= request.original_url %>">
                <% if I18n.locale && I18n.locale.to_s == 'en-CA' %>
                  <label class="receive-newsletter">
                    <span class="input"><input type="checkbox" name="receive_newsletter" value="yes" checked="checked"/></span>
                    <span class="text"><%= t 'page.contact.receive_newsletter' %></span>
                  </label>
                <% end %>
                <button class="button block primary"><%= t('page.contact.submit_message').html_safe %></button>
                <div class="loading"><div class="spinner"></div></div>
              <% end %>
            </div>
          </div>
        </div>

      <% end %>

    </div>
  </div>

  <% if I18n.locale.to_s == 'pt-BR' %>
    <div class="row dashed">
      <div class="one-third column">
        <h3 class="small"><%= t('page.contact.sola_salon_studios_headquarters').html_safe %></h3>
      </div>
      <div class="two-thirds column">
        <div class="sola-address">
          <p>Av das Américas, 4430. Loja B. CEP: 22640-903.</p>
          <p><a href="mailto:sejasola@solasalons.com" class="pink-link">sejasola@solasalons.com</a></p>
          <p><%= link_to t('page.contact.international_franchising').html_safe, :request_franchising_info, :class => 'button request-franchising-info outline-large-white', :style => 'width:auto', "data-type" => 'int-franchising' %></p>
        </div>
      </div>
    </div>
  <% else %>
    <div class="row dashed">
      <div class="one-third column">
        <h3 class="small"><%= t('page.contact.sola_salon_studios_headquarters').html_safe %></h3>
      </div>
      <div class="two-thirds column">
        <div class="sola-address">
          <p><a href="tel:303.337.7652" class="tel"><strong>303.377.7652</strong></a></p>
          <p>50 South Steele Street, Suite 1050<br>Denver, CO 80209</p>
          <p><a href="mailto:info@solasalonstudios.com" class="pink-link">info@solasalonstudios.com</a></p>
          <p><%= link_to t('page.contact.united_states_franchising').html_safe, :request_franchising_info, :class => 'button request-franchising-info outline-large-white', :style => 'width:auto', "data-type" => 'us-franchising' %></p>
          <p><%= link_to t('page.contact.international_franchising').html_safe, :request_franchising_info, :class => 'button request-franchising-info outline-large-white', :style => 'width:auto', "data-type" => 'int-franchising' %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<% end %>

<div class="request-franchising-modal modal-content clearfix" data-width="700" data-modal-class="franchising-modal">
  <div class="half-column left">
    <span class="forbes-image" />
  </div>

  <div class="half-column">
    <h4 style="margin-bottom:15px;"><%= t('page.contact.franchising').html_safe %></h4>
    <p style="margin-bottom:30px" class="us-franchising"><%= t('page.contact.franchising_text').html_safe %></p>
    <p style="margin-bottom:30px;" class="int-franchising"><%= t('page.contact.international_franchising_text').html_safe %></p>
    <%= form_tag :franchising_request, :id => 'franchising_request' do %>
      <input type="text" name="name" placeholder="<%= t('page.contact.full_name').html_safe %>" />
      <input type="text" name="email" placeholder="<%= t('page.contact.email_address').html_safe %>" />
      <input type="text" name="phone" placeholder="<%= t('page.contact.phone_number').html_safe %>" />
      <input type="text" name="market" class="us-franchising" placeholder="<%= t('page.contact.market').html_safe %>" />
      <input type="text" name="market" class="int-franchising" placeholder="<%= t('page.contact.country').html_safe %>" />
      <textarea name="message" placeholder="<%= t('page.contact.leave_a_message').html_safe %>"></textarea>
      <div class="recaptchaContainer"><%= recaptcha_tags %></div>
      <button class="primary block"><%= t('page.contact.submit_message').html_safe %></button>
      <input name="request_url" type="hidden" value="<%= request.original_url %>">
      <input name="request_type" type="hidden" value="">
    <% end %>
  </div>
</div>

<% content_for(:scripts) { javascript_include_tag('contact_us') } %>
<% content_for(:title) { t('page.contact.title').html_safe } %>
<% if I18n.locale != :en %>
  <% content_for(:scripts) { javascript_include_tag('contact_us_ca') } %>
<% end %>
<% content_for(:canonical_url) { "https://www.solasalonstudios.#{I18n.locale != :en ? 'ca' : 'com'}/contact-us" } %>
<% content_for(:meta_description) { t('page.contact.meta_description') } %>