<% cache ["contactUsIndex#{@last_location.updated_at}|#{@last_msa.updated_at}|#{I18n.locale}"] do %>

<div class="container content-container">
  
  <div class="row">
    <h1><%= t('page.contact.get_in_touch').html_safe %></h1>
  </div>

  <div class="row dashed">
    <div class="one-half column">
      <% if I18n.locale != :en %>
        <h1 class="small">Coming to Canada Spring 2017!</h1>
        <style type="text/css">
          #contact-us-states, #contact-us-info-disabled, .contact-us-info, .select-a-state { display:none; }
        </style>
      <% else %>
        <h1 class="small"><%= t('page.contact.contact_a_sola_nearest_you').html_safe %></h1>
      <% end %>
    </div>
    <div class="one-half column">
        <p><%= t('page.contact.body1').html_safe %></p>
        <p><%= t('page.contact.body2', :faq_link => link_to(t('page.contact.frequently_asked_questions').html_safe, :faqs, :class => 'pink-link')).html_safe %></p>
        <br>
        <div class="sola-select select-a-state form">
          <div class="row">
            <div class="option-placeholder"><h3><%= params[:state] || t('page.contact.select_a_state').html_safe %></h3></div>
            <div class="arrow"><span class="ss-dropdown"></span></div>
          </div>
          <div class="options">
            <% @all_locations.select("DISTINCT(state)").order(:state => :asc).each do |location| %>
            <div class="option" data-value="<%= location.state %>"><%= location.state %></div>
            <% end %>
          </div>
        </div>

        <div id="contact-us-states">
          <% @all_locations.select("DISTINCT(state)").order(:state => :asc).each do |location| %>
            <div class="sola-select form select-a-location" id="state_select_<%= location.state.gsub(/ /, '_') %>">
              
              <div class="row">
                <div class="option-placeholder"><h3><%= params[:location] || t('page.contact.select_a_location').html_safe %></h3></div>
                <div class="arrow"><span class="ss-dropdown"></span></div>
              </div>
              <div class="options">
                <% Location.where(:state => location.state, :status => 'open').order(:name => :asc).group_by(&:msa_name).sort.each do |msa_name, locations| %>
                  <% if msa_name %>
                    <div class="optgroup"><h3><%= msa_name.html_safe %></h3></div>
                    <% locations.sort{ |a, b| a.name.downcase <=> b.name.downcase }.each do |loc| %>
                      <div class="option" data-value="<%= loc.id %>" data-phone="<%= loc.phone_number %>"><%= loc.name.html_safe %></div>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
            </div>
          <% end %>  
        </div>

        <div id="contact-us-info-disabled">
          <div class="contact-us-info-disabled">
            <div class="row">
              <h3>&nbsp;</h3>
              <h1><%= t('page.contact.select_a_sola_location_above').html_safe %></h1>
              <h3>&nbsp;</h3>
              <%= form_tag '#', :method => :post, :class => 'contact-us-form-disabled' do %>
                <input name="name" type="text" placeholder="<%= t('page.contact.your_name').html_safe %>" disabled="disabled">
                <input name="email" type="text" placeholder="<%= t('page.contact.email_address').html_safe %>" disabled="disabled">
                <input name="phone" type="text" placeholder="<%= t('page.contact.phone_number').html_safe %>" disabled="disabled">
                <textarea name="message" type="text" placeholder="<%= t('page.contact.leave_a_message').html_safe %>" disabled="disabled"></textarea>
                <button class="button block primary" disabled="disabled"><%= t('page.contact.submit_message').html_safe %></button>
              <% end %>
            </div>
          </div>
        </div>

        <div id="contact-us-info">
          <div class="contact-us-info">
            <div class="row">
              <h3><%= t('page.contact.call_for_leasing_information').html_safe %></h3>
              <h1><a href="tel:(303) 377-7652" id="contact-us-number" class="tel">(303) 377-7652</a></h1>
              <h3><%= t('page.contact.leave_a_message').html_safe %></h3>
              <%= form_tag :contact_us_request_a_tour, :method => :post, :class => 'contact-us-form' do %>
                <input name="name" type="text" placeholder="<%= t('page.contact.your_name').html_safe %>">
                <input name="email" type="text" placeholder="<%= t('page.contact.email_address').html_safe %>">
                <input name="phone" type="text" placeholder="<%= t('page.contact.phone_number').html_safe %>">
                <textarea name="message" type="text" placeholder="<%= t('page.contact.leave_a_message').html_safe %>"></textarea>
                <input name="location_id" id="contact_us_location_id" type="hidden" value="">
                <input name="request_url" type="hidden" value="<%= request.original_url %>">
                <button class="button block primary"><%= t('page.contact.submit_message').html_safe %></button>
              <% end %>
            </div>
          </div>
        </div>

    </div>
  </div>

  <div class="row dashed">
    <div class="one-third column">
      <h1 class="small"><%= t('page.contact.sola_salon_studios_headquarters').html_safe %></h1>
    </div>
    <div class="two-thirds column">
      <p><a href="tel:303.337.7652" class="tel"><strong>303.377.7652</strong></a></p>
      <p>50 South Steele Street, Suite 1050<br>Denver, CO 80209</p>
      <p><a href="mailto:info@solasalonstudios.com" class="pink-link">info@solasalonstudios.com</a></p>
      <p><%= link_to t('page.contact.sola_franchising').html_safe, :request_franchising_info, :class => 'button request-franchising-info' %></p>
    </div>
  </div>

</div>

<% end %>

<div class="request-franchising-modal modal-content clearfix" data-modal-class="double-wide">
  <div class="half-column left">
    <span class="forbes-image" />
  </div>

  <div class="half-column">
    <h4 style="margin-bottom:15px;"><%= t('page.contact.franchising').html_safe %></h4>
    <p style="margin-bottom:30px"><%= t('page.contact.franchising_text').html_safe %></p>
    <%= form_tag :franchising_request, :id => 'franchising_request' do %>
      <input type="text" name="name" placeholder="<%= t('page.contact.full_name').html_safe %>" />
      <input type="text" name="email" placeholder="<%= t('page.contact.email_address').html_safe %>" />
      <input type="text" name="phone" placeholder="<%= t('page.contact.phone_number').html_safe %>" />
      <input type="text" name="market" placeholder="<%= t('page.contact.market').html_safe %>" />
      <textarea name="message" placeholder="<%= t('page.contact.leave_a_message').html_safe %>"></textarea>
      <div class="recaptchaContainer"><%= recaptcha_tags %></div>
      <button class="primary block"><%= t('page.contact.submit_message').html_safe %></button>
      <input name="request_url" type="hidden" value="<%= request.original_url %>">
    <% end %>
  </div>
</div>

<% content_for(:scripts) { javascript_include_tag('contact_us') } %>
<% content_for(:title) { t('page.contact.title').html_safe } %>

<% if I18n.locale != :en %>
  <% content_for(:scripts) { javascript_include_tag('contact_us_ca') } %>
<% end %>