<div class="in-the-news-article">
  <div class="image">
    <%= link_to article.article_url, :target => '_blank' do %><%= image_tag article.image.url(:directory), :width => 240, :height => 240 %><% end %>
  </div>
  <div class="text">
    <h4><%= link_to article.title.html_safe, article.article_url, :target => '_blank' %></h4>
    <p><%= article.created_at.strftime('%B %e, %Y') %></p>
    <ul class="social">
      <li><%= link_to "https://www.pinterest.com/pin/create/button/?url=#{article.article_url}&media=#{article.image(:original)}&description=#{article.safe_title} - #{article.created_at.strftime('%B %e, %Y')}", :target => '_blank' do %><span class="ss-social-regular ss-pinterest"></span><% end %></li>
      <li><%= link_to "https://twitter.com/intent/tweet?text=#{article.safe_title} - #{article.created_at.strftime('%B %e, %Y')} #{article.article_url}", :target => '_blank' do %><span class="ss-social-regular ss-twitter"></span><% end %></li>
      <li><%= link_to "https://www.facebook.com/sharer/sharer.php?u=#{article.article_url}", :target => '_blank' do %><span class="<%= defined?(social) && social == 'circle' ? "fa fa-facebook" : "ss-social-regular ss-facebook" %>"></span><% end %></li>
    </ul>
  </div>
  <%= link_to article.article_url, :class => 'forward-arrow', :target => '_blank' do %><span class="forward-arrow-black">&nbsp;</span><% end %>
</div>