<div class="hero-carousel owl-carousel multi-carousel owl-theme">
  <div class="item">
    <div class="img-wrap"><%= image_tag 'Home/Home-Slider-1.jpg', :alt => t('page.home.slider1_heading'), :width => 1600, :height => 800 %></div>
    <div class="item-content left-align">
      <div class="left-align-container">
      <h1><%= t('page.home.slider1_heading').html_safe %></h1>
      <h3><%= t('page.home.slider1_subhead').html_safe %></h3>
      <%= link_to :own_your_salon, :class => 'button outline-large-white' do %><%= t('page.home.slider1_button').html_safe %><% end %>
      </div>
    </div>
  </div>
  <div class="item" style="display:none">
    <div class="img-wrap"><%= image_tag 'Home/Home-Slider-2.jpg', :alt => t('page.home.slider2_heading'), :width => 1600, :height => 800 %></div>
    <div class="item-content">
      <h1 class="large"><%= t('page.home.slider2_heading').html_safe %></h1>
      <h3 class="less-bottom-margin-mobile"><%= t('page.home.slider2_subhead').html_safe %></h3>
      <%= link_to :our_studios, :class => 'button outline-large-white' do %><%= t('page.home.slider2_button').html_safe %><% end %>
    </div>
  </div>
  <div class="item" style="display:none">
    <div class="img-wrap"><%= image_tag 'Home/Home-Slider-3.jpg', :alt => t('page.home.slider3_heading'), :width => 1600, :height => 800 %></div>
    <div class="img-overlay black-25">&nbsp;</div>
    <div class="item-content">
      <h1 class="more-bottom-margin-mobile"><%= t('page.home.slider3_heading').html_safe %></h1>
      <h3 class="mobile-hidden"><%= t('page.home.slider3_subhead').html_safe %></h3>
      <%= link_to :gallery, :class => 'button outline-large-white' do %><%= t('page.home.slider3_button').html_safe %><% end %>
    </div>
  </div>
  <div class="item" style="display:none">
    <div class="img-wrap"><%= image_tag 'Home/Home-Slider-4.jpg', :alt => t('page.home.slider4_heading'), :width => 1600, :height => 800 %></div>
    <div class="item-content bottom-align">
      <h1 class="xlarge"><%= t('page.home.slider4_heading').html_safe %></h1>
      <h3 class="mobile-hidden"><%= t('page.home.slider4_subhead').html_safe %></h3>
      <%= link_to :why_sola, :class => 'button outline-large-white' do %><%= t('page.home.slider4_button').html_safe %><% end %>
    </div>
  </div>
</div>

<div class="container">

  <div class="row tile-row home-tile-row">
    <div class="one-half column">
      <div class="tile-mask tile-for-professionals-own-your-salon">
        <div class="content">
          <div class="left-one-half">
            <h5><%= t('page.home.for_professionals') %></h5>
            <h2><%= t('page.home.own_your_salon') %></h2>
            <ul>
              <li><h4><%= link_to :why_sola do %><%= t('page.why_sola.title') %><span class="forward-arrow-white"></span><% end %></h4></li>
              <li><h4><%= link_to :our_studios do %><%= t('page.our_studios.title') %><span class="forward-arrow-white"></span><% end %></h4></li>
              <li><h4><%= link_to :gallery do %><%= t('page.home.photo_gallery') %><span class="forward-arrow-white"></span><% end %></h4></li>
            </ul>
          </div>
          <div class="right-one-half">
            <div class="play-button-wrapper">
              <a href="//www.youtube.com/watch?v=nbHFs0XjS8s" rel="tfpoys" class="play-video">
                <span class="play-button-icon"></span>
                <p><%= t('page.home.watch_our_video') %></p>
              </a>
            </div>
          </div>
        </div>
        <div class="img-wrap"><%= image_tag 'Home/ForProfessionals_BG.jpg', width: '566', height: '407' %></div>
      </div>
    </div>

    <div class="one-half column">
      <div class="tile-mask tile-for-customers-find-a-stylist">
        <div class="content">
          <h5><%= t('page.home.for_customers') %></h5>
          <h2>
            <%= t('page.home.find_a_sola') %>
            <span class="desktop-br">&nbsp;</span>
            <span class="home-services-animation">
              <span class="active"><%= t('services.hairstylist') %></span>
              <span><%= t('services.esthetician') %></span>
              <span><%= t('services.nail_tech') %></span>
              <span><%= t('services.makeup_artist') %></span>
              <span><%= t('services.beauty_professional') %></span>
            </span>
          </h2>
          <p><%= t('page.home.search_salon_professionals') %></p>
          <%= form_tag [:search, :results], :method => :get do %>
            <div class="filterable-dropdown-search">
              <div class="dropdown">
                <div class="selected-option"><span class="name"><%= t('services.hair') %></span><span class="down-triangle"></span></div>
                <div class="options">
                  <div class="option" data-value="hair"><%= t('services.hair') %></div>
                  <div class="option" data-value="makeup"><%= t('services.makeup') %></div>
                  <div class="option" data-value="nails"><%= t('services.nails') %></div>
                  <div class="option" data-value="skincare"><%= t('services.skincare') %></div>
                </div>
              </div>
              <span class="spyglass-black"></span>
              <input name="query" type="text" class="searchbox" placeholder="<%= t('page.home.search_location') %>" />
              <button type="submit"><span class="search-icon"></span></button>
            </div>
          <% end %>
        </div>
        <div class="img-wrap"><%= image_tag 'Home/ForCustomers_BG.jpg', width: '566', height: '407' %></div>
      </div>
    </div>       
  </div>

  <div class="row home-recently-featured-box">
    <h5>Recently Featured In</h5>
    <%= link_to "http://www.modernsalon.com/training-and-career/pro-tips/8-steps-to-opening-salon-studio", :class => 'modern_salon_logo', :alt => "Modern Salon logo", :target => '_blank' do %>
      <%= image_tag 'modern_salon_logo.png', width: 140, height: 51 %>
    <% end %>
    <%= link_to "http://www.americansalon.com/business/sola-salon-studios-are-changing-paradigm-salon-ownership?mkt_tok=3RkMMJWWfF9wsRonvKTBcO/hmjTEU5z16u0kWaCwgZ941El3fuXBP2XqjvpVQcBgMr7KRw8FHZNpywVWM8TILtkUt9hsLQziDW0%3D ", :class => 'american_salon_logo', :alt => 'American Salon logo', :target => '_blank' do %>
      <%= image_tag 'american_salon_logo.png', width: 160, height: 51 %>
    <% end %>
    <%= link_to "http://www.beautylaunchpad.com/suite-or-salon-stylist-brandie-kekoa-shares-her-salon-suite-experience ", :alt => 'Beauty Launchpad logo', :class => 'beauty_launchpad_logo', :target => '_blank' do %>
      <%= image_tag 'beauty_launchpad_logo.png', width: 193, height: 51 %>
      <% end %>
    <%= link_to "http://www.forbes.com/sites/forbestreptalks/2015/06/17/meet-the-hair-salon-franchise-that-turns-stylists-into-entrepreneurs/ ", :alt => 'Forbes logo', :class => 'forbes_logo', :target => '_blank' do %>
      <%= image_tag 'forbes_logo.png', width: 122, height: 51 %>
    <% end %>
    <%= link_to "http://www.behindthechair.com/displayarticle.aspx?ID=4797&ITID=7", :alt => 'Behind the Chair logo', :class => 'behind_the_chair_logo', :target => '_blank' do %>
      <%= image_tag 'behind_the_chair_logo.png', width: 242, height: 51 %>
    <% end %>
  </div>

  <div class="owl-carousel owl-theme owl-desktop">
    <div class="item"><%= link_to :sola_pro do %><%= image_tag 'Home/Featured_SolaPro_Desktop.jpg', :alt => "Sola Pro" %><% end %></div>
  </div>

  <div class="owl-carousel owl-theme owl-mobile">
    <div class="item"><%= link_to :sola_pro do %><%= image_tag 'Home/Featured_SolaPro_Mobile.png', :alt => "Sola Pro" %><% end %></div>
  </div>

  <div class="block-quote-testimonial">
    <h3><%= t('page.home.testimonial_text') %></h3>
    <h4><%= t('page.home.testimonial_author') %></h4>
    <h4 class="studio-name"><%= t('page.home.testimonial_studio_name') %></h4> 
  </div>

</div>