<div class="hero-carousel owl-carousel owl-theme home-all">
  <div class="item"><%= link_to :own_your_salon do %><%= image_tag 'Home/sliders/Sola-2017-Slider-Desktop-2.jpg', :alt => "Beautiful studios, exclusive perks" %><% end %></div>
  <div class="item" style="display:none"><%= link_to own_tab_path('solagenius') do %><%= image_tag 'Home/sliders/Sola-SolaGenius-Slider-Desktop.jpg', :alt => "SolaGenius" %><% end %></div>
  <div class="item" style="display:none"><%= link_to :my_sola do %><%= image_tag 'Home/Sola-MySola-Slider-Desktop-1-FN.jpg', :alt => "#MySola" %><% end %></div>
  <div class="item" style="display:none"><%= link_to :sessions do %><%= image_tag 'Home/sliders/Sessions_Desktop.jpg', :alt => "The Sola Sessions: Inspiration. Education. Community" %><% end %></div>
  <div class="item" style="display:none"><%= link_to :own_your_salon do %><%= image_tag 'Home/sliders/Sola-2017-Slider-Desktop-3.jpg', :alt => "Join a company that supports you" %><% end %></div>
  <div class="item" style="display:none"><%= link_to :testimonials do %><%= image_tag 'Home/sliders/Sola-2017-Slider-Desktop-4.jpg', :alt => 'Salon professional testimonial' %><% end %></div>
</div>

<div class="hero-carousel owl-carousel owl-theme home-mobile">
  <div class="item" style="display:none"><%= link_to :own_your_salon do %><%= image_tag 'Home/sliders/Sola-2017-Slider-Mobile-2.jpg', :alt => "Beautiful studios, exclusive perks" %><% end %></div>
  <div class="item" style="display:none"><%= link_to own_tab_path('solagenius') do %><%= image_tag 'Home/sliders/Sola-SolaGenius-Slider-Mobile.jpg', :alt => "SolaGenius" %><% end %></div>
  <div class="item" style="display:none"><%= link_to :my_sola do %><%= image_tag 'Home/sliders/Sola-2017-MySola-Slider-Mobile.jpg', :alt => "#MySola" %><% end %></div>
  <div class="item" style="display:none"><%= link_to :sessions do %><%= image_tag 'Home/sliders/Sessions_Mobile.jpg', :alt => "The Sola Sessions: Inspiration. Education. Community" %><% end %></div>
  <div class="item" style="display:none"><%= link_to :own_your_salon do %><%= image_tag 'Home/sliders/Sola-2017-Slider-Mobile-3.jpg', :alt => "Join a company that supports you" %><% end %></div>
  <div class="item" style="display:none"><%= link_to :testimonials do %><%= image_tag 'Home/sliders/Sola-2017-Slider-Mobile-4.jpg', :alt => 'Salon professional testimonial' %><% end %></div> 
</div>

<div class="container">

  <div class="row">
    <h2 class="text-center home-slogan">Don't Just Dream. DO!<br />Become a Boutique Salon Owner Today.</h2>
  </div>

  <div class="row">
    <div class="one-third column home-tile">
      <%= link_to :own_your_salon do %>
        <%= image_tag 'freedom_banner.jpg', :class => 'u-full-width', :alt => 'A man in a black leather jacket leans against a shampoo bowl' %>
        <h3 class="text-center">Freedom to live<br>the life you love</h3>
      <% end %>
      <p class="text-center">Customize your studio, create your culture, own your salon.</p>
    </div>

    <div class="one-third column home-tile">
      <%= link_to :locations do %>
        <%= image_tag 'locations_callout.jpg', :class => 'u-full-width', :alt => 'More than 350 locations' %>
        <h3 class="text-center">Find the location<br>nearest to you</h3>
      <% end %>
      <p class="text-center">Join our community of 8,000+ salon professionals nationwide.</p>
    </div>

    <div class="one-third column home-tile">
      <a href="//www.youtube.com/watch?v=wlhDeuowaAI" class="play-video">
        <%= image_tag 'watch_our_video.jpg', :class => 'u-full-width', :alt => 'A smiling woman gets her hair styled by a proud salon professional' %>
        <h3 class="text-center">Watch<br>our video</h3>
      </a>
      <p class="text-center">Find out what the Sola pros have to say.</p>
    </div>        
  </div>

  <div class="row home-recently-featured-box">
      <h3>Recently Featured In</h3>
      <%= link_to "&nbsp;".html_safe, "http://www.modernsalon.com/training-and-career/pro-tips/8-steps-to-opening-salon-studio", :class => 'modern_salon_logo', :alt => "Modern Salon logo", :target => '_blank' %>
      <%= link_to "&nbsp;".html_safe, "http://www.americansalon.com/business/sola-salon-studios-are-changing-paradigm-salon-ownership?mkt_tok=3RkMMJWWfF9wsRonvKTBcO/hmjTEU5z16u0kWaCwgZ941El3fuXBP2XqjvpVQcBgMr7KRw8FHZNpywVWM8TILtkUt9hsLQziDW0%3D ", :class => 'american_salon_logo', :alt => 'American Salon logo', :target => '_blank' %>
      <%= link_to "&nbsp;".html_safe, "http://www.beautylaunchpad.com/suite-or-salon-stylist-brandie-kekoa-shares-her-salon-suite-experience ", :alt => 'Beauty Launchpad logo', :class => 'beauty_launchpad_logo', :target => '_blank' %>
      <%= link_to "&nbsp;".html_safe, "http://www.forbes.com/sites/forbestreptalks/2015/06/17/meet-the-hair-salon-franchise-that-turns-stylists-into-entrepreneurs/ ", :alt => 'Forbes logo', :class => 'forbes_logo', :target => '_blank' %>
      <%= link_to "&nbsp;".html_safe, "http://www.behindthechair.com/displayarticle.aspx?ID=4797&ITID=7", :alt => 'Behind the Chair logo', :class => 'behind_the_chair_logo', :target => '_blank' %>
  </div>

  <div class="row home-find-a-salon-pro">
    <div class="one-half column centered-column">
      <h3 class="home-slogan">Find a Salon Professional.</h3>
      <div class="search-input-with-icon">
        <%= form_tag [:search, :results], :method => :get do %>
        <input type="text" placeholder="Search by name or location" name="query" class="large full-width query">
        <input type="hidden" name="first" value="salon_professionals" />
        <span class="ss-search"></span>
        <% end %>
      </div>
    </div>
  </div>

</div>

<div class="callout blue">
  <div class="quote">&ldquo;There are no limits. It's <strong>your</strong> business!&rdquo;</div>
  <div class="quote-author">Shelia Taylor &ndash; Ami Hair Studio</div>
  <%= link_to 'View More Testimonials', :testimonials, :class => 'button inverted', :style => 'margin-top:30px' %>
</div>