<div class="hero-carousel owl-carousel multi-carousel owl-theme home-all">
  <div class="item" style="display:none">
    <div class="img-wrap"><%= image_tag 'Home/Home-Slider-6.jpg', :alt => t('page.home.slider6_heading'), :width => 1600, :height => 800 %></div>
    <div class="item-content bottom-center-align">
      <a href="//www.youtube.com/watch?v=aZHyKpEF61c" rel="aZHyKpEF61c-1" class="button primary play-video rounded-play-button" style="margin-bottom: 0px">
        <%= t('page.home.hear_from_our_sola_pros') %> <span class="fa fa-play-circle">&nbsp;</span>
      </a>
    </div>
  </div> 
  <div class="item" style="display:none">
    <div class="img-wrap"><%= image_tag 'https://solasalonstudios.s3.amazonaws.com/home_hero_images/sola-strong-hero-desktop.jpg', :alt => t('page.home.slider5_heading'), :width => 1600, :height => 800 %></div>
    <div class="item-content middle-align" style="top:190px">
      <a href="//www.youtube.com/watch?v=PefdR9zZqWw" rel="PefdR9zZqWw-1" class="button secondary play-video rounded-play-button">
        <%= t('page.home.sola_strong') %> <span class="fa fa-play-circle">&nbsp;</span>
      </a>
    </div>
  </div> 
  <div class="item" style="display:none">
    <div class="img-wrap"><%= image_tag 'Home/Home-Slider-2.jpg', :alt => t('page.home.slider2_heading'), :width => 1600, :height => 800 %></div>
    <div class="item-content">
      <h1 class="large"><%= t('page.home.slider2_heading').html_safe %></h1>
      <h3 class="less-bottom-margin-mobile"><%= t('page.home.slider2_subhead').html_safe %></h3>
      <%= link_to :our_studios, :class => 'button outline-large-white' do %><%= t('page.home.slider2_button').html_safe %><% end %>
    </div>
  </div>
</div>

<div class="hero-carousel owl-carousel owl-theme multi-carousel home-mobile">
  <% if I18n.locale.to_s != 'pt-BR' %>  
    <div class="item">
      <%= image_tag 'Home/Home-Mobile-Slider-6.jpg', :alt => t('page.home.slider6_heading'), :width => 750, :height => 750 %>
      <div class="item-content bottom-center-align">
        <a href="//www.youtube.com/watch?v=aZHyKpEF61c" rel="aZHyKpEF61c-2" class="button primary play-video rounded-play-button" style="margin-top: 0px">
          <%= t('page.hear_from_our_sola_pros') %> <span class="fa fa-play-circle">&nbsp;</span>
        </a>
      </div>
    </div>
    <div class="item">
      <%= image_tag 'https://solasalonstudios.s3.amazonaws.com/home_hero_images/sola-strong-hero-mobile.jpg', :alt => t('page.home.slider5_heading') %>
      <div class="item-content middle-align" style="top:100px">
        <a href="//www.youtube.com/watch?v=PefdR9zZqWw" rel="PefdR9zZqWw-2" class="button secondary play-video rounded-play-button">
          <%= t('page.home.sola_strong') %> <span class="fa fa-play-circle">&nbsp;</span>
        </a>
      </div>
    </div>  
  <% end %>
  <div class="item" style="display:none">
    <%= image_tag 'Home/Home-Mobile-Slider-1.jpeg', :alt => t('page.home.slider1_heading'), :width => 750, :height => 750 %>
    <div class="item-content">
      <h1><%= t('page.home.slider1_heading').html_safe %></h1>
      <h3><%= t('page.home.slider1_subhead').html_safe %></h3>
      <%= link_to :own_your_salon, :class => 'button outline-large-white' do %><%= t('page.home.slider1_button').html_safe %><% end %>
    </div>
  </div>
  <div class="item" style="display:none">
    <%= image_tag 'Home/Home-Mobile-Slider-2.jpeg', :alt => t('page.home.slider2_heading'), :width => 750, :height => 750 %>
    <div class="item-content">
      <h1 class="large"><%= t('page.home.slider2_heading').html_safe %></h1>
      <h3 class="less-bottom-margin-mobile"><%= t('page.home.slider2_subhead').html_safe %></h3>
      <%= link_to :our_studios, :class => 'button outline-large-white' do %><%= t('page.home.slider2_button').html_safe %><% end %>
    </div>
  </div>
  <div class="item" style="display:none">
    <%= image_tag 'Home/Home-Mobile-Slider-3.jpeg', :alt => t('page.home.slider3_heading'), :width => 750, :height => 750 %>
    <div class="img-overlay black-25">&nbsp;</div>
    <div class="item-content">
      <h1 class="more-bottom-margin-mobile"><%= t('page.home.slider3_heading').html_safe %></h1>
      <h3 class="mobile-hidden"><%= t('page.home.slider3_subhead').html_safe %></h3>
      <%= link_to 'https://www.solasalonstudios.com/blog/30-facts-about-the-2018-faces-of-sola', :class => 'button outline-large-white' do %><%= t('page.home.slider3_button').html_safe %><% end %>
    </div>
  </div>
</div>

<div class="container">

  <div class="row home-trilogy">
    <div class="three columns">
      <%= link_to :covid19 do %>
        <%= image_tag 'Home/homecovid.jpg', :class => 'u-full-width' %>
        <span class="text">
<!--           <h2><%= t 'page.about.title' %></h2> -->
          <h2 class="small covid-title">COVID-19 Resource Center</h2>
          <span class="button-wrapper"><span class="button"><%= t 'page.home.learn_more' %></span></span>
        </span>
      <% end %>
    </div>
    <div class="three columns">
      <%= link_to :our_studios do %>
        <%= image_tag 'Home/trilogy-our-studios.jpg', :class => 'u-full-width' %>
        <span class="text">
          <h2><%= t 'page.our_studios.title' %></h2>
          <span class="button-wrapper"><span class="button"><%= t 'page.home.take_a_tour' %></span></span>
        </span>
      <% end %>
    </div>
    <div class="three columns">
      <%= link_to :contact_us do %>
        <%= image_tag 'Home/trilogy-contact-us.jpg', :class => 'u-full-width' %>
        <span class="text">
          <h2><%= t 'page.contact.title' %></h2>
          <span class="button-wrapper"><span class="button"><%= t 'page.home.get_in_touch' %></span></span>
        </span>
      <% end %>
    </div>
    <div class="three columns">
      <%= link_to :going_independent do %>
        <%= image_tag 'Home/going_independent_home_tile.jpg', :class => 'u-full-width' %>
        <span class="text">
          <h2 class="small">Guide to Going Independent</h2>
          <span class="button-wrapper"><span class="button">Free Download</span></span>
        </span>
      <% end %>
    </div>    
  </div>

  <div class="owl-carousel owl-theme owl-desktop">
    <div class="item"><%= link_to :sola_pro do %><%= image_tag 'Home/Featured_SolaPro_Desktop_CAN.jpg', :alt => "Sola Pro" %><% end %></div>
    <div class="item"><%= link_to 'https://www.solasalonstudios.ca/blog/category/sola-stories-podcast' do %><%= image_tag 'Home/Featured_Sola_Stories_Desktop.jpg', :alt => "Sola Stories" %><% end %></div>
  </div>

  <div class="owl-carousel owl-theme owl-mobile">
    <div class="item"><%= link_to :sola_pro do %><%= image_tag 'Home/Featured_SolaPro_Mobile_CAN.jpg', :alt => "Sola Pro" %><% end %></div>
    <div class="item"><%= link_to 'https://www.solasalonstudios.ca/blog/category/sola-stories-podcast' do %><%= image_tag 'Home/Featured_Sola_Stories_Mobile.jpg', :alt => "Sola Stories" %><% end %></div>
  </div>
</div>


<div class="container">

  <div class="row tile-row home-tile-row">
    <div class="one-half column">
      <div class="tile-mask tile-for-professionals-own-your-salon">
        <div class="content">
          <h5><%= t('page.home.for_professionals') %></h5>
          <h2><%= t('page.home.own_your_salon') %></h2>
          <ul>
            <% if I18n.locale.to_s == 'pt-BR' %>
              <li><h4>
                <%= link_to "//www.youtube.com/watch?v=D2vtblujRzo", :rel => 'D2vtblujRzo', :class => 'play-video' do %><%= t('page.home.watch_our_video') %><span class="forward-arrow-white"></span><% end %>
              </h4></li>
            <% else %>
              <li><h4>
                <%= link_to "//www.youtube.com/watch?v=nbHFs0XjS8s", :rel => 'nbHFs0XjS8s', :class => 'play-video' do %><%= t('page.home.watch_our_video') %><span class="forward-arrow-white"></span><% end %>
              </h4></li>
            <% end %>
            <li><h4><%= link_to :why_sola do %><%= t('page.why_sola.title') %><span class="forward-arrow-white"></span><% end %></h4></li>
            <li><h4><%= link_to :our_studios do %><%= t('page.our_studios.title') %><span class="forward-arrow-white"></span><% end %></h4></li>
          </ul>
          <%= form_tag [:search, :results], :method => :get do %>
            <div class="filterable-dropdown-search" data-input="service_type">
              <div class="dropdown">
                <div class="selected-option"><span class="name"><%= t('services.hair') %></span><span class="down-triangle"></span></div>
                <div class="options">
                  <div class="option" data-value="all_types"><%= t('services.all_types') %></div>
                  <div class="option" data-value="hair"><%= t('services.hair') %></div>
                  <div class="option" data-value="makeup"><%= t('services.makeup') %></div>
                  <div class="option" data-value="nails"><%= t('services.nails') %></div>
                  <div class="option" data-value="skincare"><%= t('services.skincare') %></div>
                </div>
              </div>
              <span class="spyglass-black"></span>
              <input name="query" type="text" class="searchbox" placeholder="<%= t('page.home.search_location') %>" />
              <input name="service_type" type="hidden" value="<%= params[:service_type] %>" />
              <button type="submit"><span class="search-icon"></span></button>
            </div>
          <% end %>
        </div>
        <div class="img-wrap"><%= image_tag 'Home/ForProfessionals_BG.jpg', width: '566', height: '407' %></div>
      </div>
    </div>

    <div class="one-half column">
      <div class="tile-mask tile-for-customers-find-a-stylist">
        <div class="content">
          <h5><%= t('page.home.for_customers') %></h5>
          <h2>
            <%= t('page.home.find_a_sola') %>
            <span class="desktop-br">&nbsp;</span>
            <span class="home-services-animation">
              <span class="active"><%= t('services.hairstylist') %></span>
              <span><%= t('services.esthetician') %></span>
              <span><%= t('services.nail_tech') %></span>
              <span><%= t('services.makeup_artist') %></span>
              <span><%= t('services.beauty_professional') %></span>
            </span>
          </h2>
          <p><%= t('page.home.search_salon_professionals') %></p>
          <%= form_tag [:search, :results], :method => :get do %>
            <div class="filterable-dropdown-search" data-input="service_type">
              <div class="dropdown">
                <div class="selected-option"><span class="name"><%= t('services.hair') %></span><span class="down-triangle"></span></div>
                <div class="options">
                  <div class="option" data-value="all_types"><%= t('services.all_types') %></div>
                  <div class="option" data-value="hair"><%= t('services.hair') %></div>
                  <div class="option" data-value="makeup"><%= t('services.makeup') %></div>
                  <div class="option" data-value="nails"><%= t('services.nails') %></div>
                  <div class="option" data-value="skincare"><%= t('services.skincare') %></div>
                </div>
              </div>
              <span class="spyglass-black"></span>
              <input name="query" type="text" class="searchbox" placeholder="<%= t('page.home.search_location') %>" />
              <input name="service_type" type="hidden" value="<%= params[:service_type] %>" />
              <input type="hidden" name="so" value="salon_professionals" />
              <button type="submit"><span class="search-icon"></span></button>
            </div>
          <% end %>
        </div>
        <div class="img-wrap"><%= image_tag 'Home/ForCustomers_BG.jpg', width: '566', height: '407' %></div>
      </div>
    </div>       
  </div>

  <% if I18n.locale.to_s == 'pt-BR' %>
    <div class="owl-carousel owl-theme owl-desktop">
      <div class="item"><%= link_to :sola_pro do %><%= image_tag 'brazil/Featured_SolaPro_Desktop.jpg', :alt => "Sola Pro" %><% end %></div>
    </div>

    <div class="owl-carousel owl-theme owl-mobile">
      <div class="item"><%= link_to :sola_pro do %><%= image_tag 'brazil/Featured_SolaPro_Mobile.jpg', :alt => "Sola Pro" %><% end %></div>
    </div>
  <% else %>
<!--     <div class="owl-carousel owl-theme owl-desktop">
      <div class="item"><%= link_to :sola_pro do %><%= image_tag 'Home/Featured_SolaPro_Desktop_CAN.jpg', :alt => "Sola Pro" %><% end %></div>
    </div>

    <div class="owl-carousel owl-theme owl-mobile">
      <div class="item"><%= link_to :sola_pro do %><%= image_tag 'Home/Featured_SolaPro_Mobile_CAN.jpg', :alt => "Sola Pro" %><% end %></div>
    </div> -->
  <% end %>

  <div class="block-quote-testimonial">
    <h3><%= t('page.home.testimonial_text') %></h3>
    <h4><%= t('page.home.testimonial_author') %></h4>
  </div>

</div>

<% @no_title_dash = true %>
<% content_for(:canonical_url) { "https://www.solasalonstudios.ca" } %>
<% content_for(:meta_description) { t('page.home.meta_description') } %>