

<div class="container">

  <div class="row home-trilogy">
    <div class="four columns">
      <%= link_to :about_us do %>
        <%= image_tag 'home/trilogy-about-us.jpg', :class => 'u-full-width' %>
        <span class="text">
          <h2><%= t 'page.about.title' %></h2>
          <span class="button"><%= t 'page.home.learn_more' %></span>
        </span>
      <% end %>
    </div>
    <div class="four columns">
      <%= link_to :our_studios do %>
        <%= image_tag 'home/trilogy-our-studios.jpg', :class => 'u-full-width' %>
        <span class="text">
          <h2><%= t 'page.our_studios.title' %></h2>
          <span class="button"><%= t 'page.home.take_a_tour' %></span>
        </span>
      <% end %>
    </div>
    <div class="four columns">
      <%= link_to :contact_us do %>
        <%= image_tag 'home/trilogy-contact-us.jpg', :class => 'u-full-width' %>
        <span class="text">
          <h2><%= t 'page.contact.title' %></h2>
          <span class="button"><%= t 'page.home.get_in_touch' %></span>
        </span>
      <% end %>
    </div>
  </div>

  <div class="row home-recently-featured-box">
    <h5><%= t 'page.home.recently_featured_in' %></h5>
    <%= link_to "https://www.modernsalon.com/article/82697/modern-exclusive-an-interview-with-sola-salon-suites-new-ceo-randall-clark", :class => 'modern_salon_logo', :alt => "Modern Salon logo", :target => '_blank' do %>
      <%= image_tag 'modern_salon_logo.png', width: 140, height: 51 %>
    <% end %>
    <%= link_to "https://www.americansalon.com/retailing-tips-from-pros", :class => 'american_salon_logo', :alt => 'American Salon logo', :target => '_blank' do %>
      <%= image_tag 'american_salon_logo.png', width: 160, height: 51 %>
    <% end %>
    <%= link_to "https://www.beautylaunchpad.com/sola-salon-studios-releases-new-app-solagenius", :alt => 'Beauty Launchpad logo', :class => 'beauty_launchpad_logo', :target => '_blank' do %>
      <%= image_tag 'beauty_launchpad_logo.png', width: 193, height: 51 %>
      <% end %>
    <%= link_to "http://www.forbes.com/sites/forbestreptalks/2015/06/17/meet-the-hair-salon-franchise-that-turns-stylists-into-entrepreneurs/ ", :alt => 'Forbes logo', :class => 'forbes_logo', :target => '_blank' do %>
      <%= image_tag 'forbes_logo.png', width: 122, height: 51 %>
    <% end %>
    <%= link_to "https://behindthechair.com/articles/myth-busters-sola-studio-owner-busts-5-salon-ownership-myths/", :alt => 'Behind the Chair logo', :class => 'behind_the_chair_logo', :target => '_blank' do %>
      <%= image_tag 'behind_the_chair_logo.png', width: 242, height: 51 %>
    <% end %>
  </div>

  <div class="owl-carousel owl-theme owl-desktop inline-carousel" data-autoplay="5000">
    <div class="item"><%= link_to :solagenius do %><%= image_tag 'Home/Featured_SolaGenius_Desktop-1.jpg', :alt => "Sola Pro" %><% end %></div>
    <div class="item"><%= link_to :sola_pro do %><%= image_tag 'Home/Featured_SolaPro_Desktop_CAN.jpg', :alt => "Sola Pro" %><% end %></div>
  </div>

  <div class="owl-carousel owl-theme owl-mobile inline-carousel" data-autoplay="5000">
    <div class="item"><%= link_to :solagenius do %><%= image_tag 'Home/Featured_SolaGenius_Mobile-1.jpg', :alt => "Sola Pro" %><% end %></div>
    <div class="item"><%= link_to :sola_pro do %><%= image_tag 'Home/Featured_SolaPro_Mobile_CAN.jpg', :alt => "Sola Pro" %><% end %></div>
  </div>

  <div class="block-quote-testimonial">
    <h3><%= t('page.home.testimonial_text') %></h3>
    <h4><%= t('page.home.testimonial_author') %></h4>
  </div>

</div>

<% @no_title_dash = true %>
<% content_for(:canonical_url) { "https://www.solasalonstudios.com/home" } %>
<% content_for(:meta_description) { t('page.home.meta_description') } %>