<div class="hero-carousel owl-carousel owl-theme">
  <div class="item"><%= link_to :own_your_salon do %><%= image_tag 'Home/Home_Banner_1@2x.jpg' %><% end %></div>
  <div class="item"><%= link_to :own_your_salon do %><%= image_tag 'Home/Home_Banner_2@2x.jpg' %><% end %></div>
  <div class="item"><%= link_to :own_your_salon do %><%= image_tag 'Home/Home_Banner_4@2x.jpg' %><% end %></div>
</div>

<div class="container">

  <div class="row">
    <h2 class="text-center home-slogan">Don't just dream. Do. <strong>Become a boutique salon owner today!</strong></h2>
  </div>

  <div class="row">
    <div class="one-third column home-tile">
      <%= link_to :own_your_salon do %><%= image_tag 'Home/Freedom_Banner@2x.jpg', :class => 'u-full-width' %><% end %>
      <h3 class="text-center">Freedom to live<br>the life you love</h3>
      <p class="text-center">Customize your studio, create your culture, own your salon.</p>
    </div>

    <div class="one-third column home-tile">
      <%= link_to :locations do %><%= image_tag 'Home/Locations_Banner@2x.jpg', :class => 'u-full-width' %><% end %>
      <h3 class="text-center">Find the location<br>nearest to you</h3>
      <p class="text-center">Join our community of 5,000+ salon professionals nationwide.</p>
    </div>

    <div class="one-third column home-tile">
      <a href="//www.youtube.com/watch?v=nbHFs0XjS8s" class="play-video">
      <%= image_tag 'Home/Video_Banner@2x.jpg', :class => 'u-full-width' %>
      </a>
      <h3 class="text-center">Take a look inside<br>Sola Salon Studios</h3>
      <p class="text-center">Watch our video to learn more about what goes on in our studios.</p>
    </div>        
  </div>

  <div class="row home-recently-featured-box">
    <div class="one-half column">
      <h3>Recently Featured In</h3>
      <%= image_tag 'Home/News_Logos@2x.jpg', :class=> 'recently-featured-in' %>
    </div>
    <div class="one-half column">
      <h3>Find a Salon Professional</h3>
      <div class="search-input-with-icon">
        <%= form_tag [:search, :results] do %>
        <input type="text" placeholder="Search by name or location" name="query" class="large full-width">
        <input type="hidden" name="first" value="salon_professionals" />
        <span class="ss-search"></span>
        <% end %>
      </div>
    </div>
  </div>

</div>

<div class="callout blue">
  <div class="quote">&ldquo;There are no limits. It's <strong>your</strong> business!&rdquo;</div>
  <div class="quote-author">Shelia Taylor &ndash; Ami Hair Studio</div>
  <%= link_to 'View More Testimonials', :testimonials, :class => 'button inverted', :style => 'margin-top:30px' %>
</div>