<div class="hero-carousel owl-carousel owl-theme">
  <div class="item"><%= link_to :own_your_salon do %><%= image_tag 'Home/Slider1.jpg' %><% end %></div>
  <div class="item" style="display:none"><%= link_to :sola_5000 do %><%= image_tag 'Home/SliderSola5000.jpg' %><% end %></div>
  <div class="item" style="display:none"><%= link_to :own_your_salon do %><%= image_tag 'Home/Slider2.jpg' %><% end %></div>
  <div class="item" style="display:none"><%= link_to :own_your_salon do %><%= image_tag 'Home/Slider3.jpg' %><% end %></div>
  <div class="item" style="display:none"><%= link_to :testimonials do %><%= image_tag 'Home/Slider4.jpg' %><% end %></div>
  <div class="item" style="display:none"><%= link_to :own_your_salon do %><%= image_tag 'Home/Slider5.jpg' %><% end %></div>
</div>

<div class="container">

  <div class="row">
    <h2 class="text-center home-slogan">Don't just dream. Do. <strong>Become a boutique salon owner today!</strong></h2>
  </div>

  <div class="row">
    <div class="one-third column home-tile">
      <%= link_to :own_your_salon do %>
        <%= image_tag 'Home/Freedom_Banner@2x.jpg', :class => 'u-full-width' %>
        <h3 class="text-center">Freedom to live<br>the life you love</h3>
      <% end %>
      <p class="text-center">Customize your studio, create your culture, own your salon.</p>
    </div>

    <div class="one-third column home-tile">
      <%= link_to :locations do %>
        <%= image_tag 'Home/Locations_Banner@2x.png', :class => 'u-full-width' %>
        <h3 class="text-center">Find the location<br>nearest to you</h3>
      <% end %>
      <p class="text-center">Join our community of 5,000+ salon professionals nationwide.</p>
    </div>

    <div class="one-third column home-tile">
      <a href="//www.youtube.com/watch?v=nbHFs0XjS8s" class="play-video">
        <%= image_tag 'Home/Video_Banner@2x.jpg', :class => 'u-full-width' %>
        <h3 class="text-center">Take a look inside<br>Sola Salon Studios</h3>
      </a>
      <p class="text-center">Watch our video to learn more about the Sola story.</p>
    </div>        
  </div>

  <div class="row home-recently-featured-box">
    <div class="one-half column">
      <h3>Recently Featured In</h3>
      <%= link_to "&nbsp;".html_safe, "http://www.modernsalon.com/training-and-career/pro-tips/8-steps-to-opening-salon-studio", :class => 'modern-salon pull-left', :target => '_blank' %>
      <%= link_to "&nbsp;".html_safe, "http://behindthechair.com/displayarticle.aspx?ID=4133&ITID=7", :class => 'behind-the-chair pull-right', :target => '_blank' %>
    </div>
    <div class="one-half column">
      <h3>Find a Salon Professional</h3>
      <div class="search-input-with-icon">
        <%= form_tag [:search, :results], :method => :get do %>
        <input type="text" placeholder="Search by name or location" name="query" class="large full-width">
        <input type="hidden" name="first" value="salon_professionals" />
        <span class="ss-search"></span>
        <% end %>
      </div>
    </div>
  </div>

</div>

<div class="callout blue">
  <div class="quote">&ldquo;There are no limits. It's <strong>your</strong> business!&rdquo;</div>
  <div class="quote-author">Shelia Taylor &ndash; Ami Hair Studio</div>
  <%= link_to 'View More Testimonials', :testimonials, :class => 'button inverted', :style => 'margin-top:30px' %>
</div>