<div class="hero-text" style="background-image:url('<%= image_path 'Sola_5000_Banner.jpg' %>')">
  <div class="text">
    <h1>Celebrating 5,000 Stylists &amp;<br>Salon Professionals Nationwide</h1>
    <h3>Click to watch video</h3>
    <a href="//www.youtube.com/watch?v=77gzVR-50Wo" class="play-button"></a>
  </div>
  <div class="learn-more">
    <h3>Learn More</h3>
    <span class="ss-navigatedown"></span>
  </div>
</div>

<div class="container">
  <div class="row text-center">

    <h4 style="margin: 60px auto 30px auto">Placeholder copy to explain the Sola story - established in  2004, now with 5,000 stylists nationwide, etc etc. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Placeholder copy to explain the Sola story.</h4>

    <h1 style="color:#EC008C;margin-bottom: 5px;">5,000+ Salon Professionals. 225+ Locations.</h1>

    <h1 style="color:#499CD3;margin-bottom: 40px;">Thank you for being a part of this exciting milestone!</h1>

  </div>
</div>

<div class="callout blue">
  <div class="container text-center">
    <h1 style="margin-top:0">The Faces of Sola</h1>
    <h3>Click on an image to read their stories</h3>
  </div>
</div>

<div class="container sola-spotlights">

  <div class="owl-carousel owl-theme" data-items="3" data-autoplayoff="true">
   
    <div class="item sola-spotlight">
      <%= link_to show_blog_path('stylist_profile_autumn_morris') do %>
        <%= image_tag 'Autumn.jpg' %>
        <h1>Autumn Morris</h1>
        <h3>Sola Spotlight</h3>
      <% end %>
    </div>
   
    <div class="item sola-spotlight">
      <%= link_to show_blog_path('sola_spotlight_brandie_kekoa') do %>
        <%= image_tag 'Brandie.jpg' %>
        <h1>Brandie Kekoa</h1>
        <h3>Sola Spotlight</h3>
      <% end %>
    </div> 

    <div class="item sola-spotlight">
      <%= link_to show_blog_path('sola_spotlight_nyki_nechiporenko') do %>
        <%= image_tag 'Nyki.jpg' %>
        <h1>Nyki Nechiporenko</h1>
        <h3>Sola Spotlight</h3>
      <% end %>
    </div>  

    <div class="item sola-spotlight">
      <%= link_to show_blog_path('sola_spotlight_vannora_hawkins') do %>
        <%= image_tag 'Vannora.jpg' %>
        <h1>Vannora Hawkins</h1>
        <h3>Sola Spotlight</h3>
      <% end %>
    </div>

    <div class="item sola-spotlight no-border">
      <%= link_to show_blog_path('sola_spotlight_calynn_colceri') do %>
        <%= image_tag 'Calyn.jpg' %>
        <h1>Calyn Colceri</h1>
        <h3>Sola Spotlight</h3>
      <% end %>
    </div>  

    <div class="item sola-spotlight no-border">
      <%= link_to show_blog_path('georgette_vetock_small_acts_of_kindness') do %>
        <%= image_tag 'Georgette.jpg' %>
        <h1>Georgette Vetock</h1>
        <h3>Sola Spotlight</h3>
      <% end %>
    </div> 
   
   
  </div> 

</div>

<div class="container text-center">
  <div class="row">
    <h3 style="margin: 25px auto 30px auto;">Sola 5000 Gallery</h3>
  </div>
</div>

<div class="container image-grid">
  <% (1..84).each do |i| %>
    <div class="three columns <%= 'more' if i > 16 %>"><%= image_tag "http://s3.amazonaws.com/solasalonstudios/5000/sola5000-#{i}.jpg" %></div>
  <% end %>
</div>

<div class="callout blue" style="margin-top:1px">
  <div class="container text-center">
    <button class="button inverted view-more" style="margin-bottom: 0;">View More</button>
  </div>
</div>

<div style="padding:90px 0 75px 0;background:#fcfcfc;border-top:1px solid #EFEEEE;">
  <div class="container">
    <div class="row">
      <div class="one-half column">
        <%= link_to 'Join our community', '#', :class => 'button primary block' %>
      </div>
      <div class="one-half column">
        <%= link_to 'Partner with us', '#', :class => 'button primary block' %>
      </div>
    </div>
  </div>
</div>

<% content_for(:scripts) { javascript_include_tag('sola5000') } %>