<div class="hero-tab-content hero-own" <%= 'data-hero-active=true' if params[:tab] == 'own-your-salon' || params[:tab].blank? %> data-ref="#own-your-salon">

  <div class="hero-fullscreen">

    <div class="hero-carousel-fullscreen" data-autoplayoff="true">
      <div class="item"><%= image_tag 'own/hero_1_desktop.jpg', alt: "photo of the model in neon colors", :class => 'fullscreen', :'data-width' => 1488, :'data-height' => 984, :width => 1488, :height => 984 %></div>
    </div>

    <div class="hero-content">
      <div class="hero-content-wrapper">

        <%= render 'tabs', :active => 'own-your-salon' %>

        <div class="hero-heading">
          <span class="light"><%= t 'page.own.section.own_your_salon.hero_heading1' %></span><br /><span class="bold"><%= t 'page.own.section.own_your_salon.hero_heading2' %></span>
        </div>

        <div class="hero-search">
          <div class="search-input-with-button">
            <%= form_tag [:search, :results], :method => :get do %>
            <input type="text" placeholder="<%= t 'page.own.section.own_your_salon.search_placeholder_blur' %>" data-placeholder-blur="<%= t 'page.own.section.own_your_salon.search_placeholder_blur' %>" data-placeholder-focus="<%= t 'page.own.section.own_your_salon.search_placeholder_focus' %>" name="query" class="large query" autocomplete="off"><button type="submit"><%= t 'page.own.section.own_your_salon.search' %></button>
            <% end %>
          </div>
        </div>

      </div>
    </div>

  </div>

  <div class="container container-inset">

    <div class="row" style="margin-top: 15px; margin-bottom: 15px">
      <p class="lead text-center"><strong><%= t 'page.own.section.own_your_salon.tagline' %></strong></p>
    </div>

    <hr />

    <div class="row">
      <div class="one-third column">
        <%= image_tag 'own/own1.jpg', :class => 'u-full-width own-mobile-img', :width => 419, :height => 443, :alt => 'A woman stands in her salon studio' %>
      </div>
      <div class="two-thirds column">
        <h2 class="light"><%= t('page.own.section.own_your_salon.heading1').html_safe %></h2>
        <p><%= t('page.own.section.own_your_salon.body1').html_safe %></p>
      </div>
    </div>

    <hr />

    <div class="row">
      <div class="one-third column own-studio">
        <%= image_tag 'own/own2.jpg', :class => 'u-full-width own-mobile-img', :width => 464, :height => 442, :alt => 'The interior of a salon studio' %>
        <%= link_to t('page.own.section.own_your_salon.view_gallery_of_studios').html_safe, :gallery, :class => 'button primary' %>
      </div>
      <div class="two-thirds column">
        <h2 class="light"><%= t('page.own.section.own_your_salon.heading2').html_safe %></h2>
        <p><%= t('page.own.section.own_your_salon.body2').html_safe %></p>
      </div>
    </div>

    <hr />

    <h2 class="brand text-center" style="margin-top:30px"><%= t('page.own.section.own_your_salon.heading3').html_safe %></h2>

    <div class="session">
      <a href="https://www.youtube.com/watch?v=wlhDeuowaAI" class="play-video" rel='own-video-1'>
        <%= image_tag 'video_poster_2017.jpg', :width => 1280, :height => 720, :alt => 'A smiling woman gets her hair styled by a proud salon professional' %>
        <div class="play-btn">
          <span class="fa fa-5x fa-play"></span>
        </div>
      </a>
    </div>

    <p class="larger text-center inset-p"><%= t('page.own.section.own_your_salon.body3').html_safe %> <%= link_to t('page.own.section.own_your_salon.about_sola').html_safe, :about %></p>

  </div>

  <div class="callout pure-black callout-testimonial">
    <div class="container">
      <div class="row">
        <%= image_tag 'own/brandie_headshot.png', :class => 'testimonial-portrait', :alt => 'Brandie Kekoa headshot', :width => 256, :height => 256 %>
        <div class="content">
          <h1>&quot;<%= t('page.own.section.own_your_salon.testimonial_text').html_safe %>&quot;</h1>
          <h1><span>Brandie Kekoa</span></h1>
        </div>
      </div>
    </div>
  </div>

  <div class="callout green" style="margin-bottom: 5px">
    <div class="container">
      <h3 class="large" style="margin-bottom:0;"><%= link_to t('page.own.section.own_your_salon.view_more_testimonials').html_safe, :testimonials %></h3>
    </div>
  </div>

</div>
