<div class="hero-tab-content" data-ref="#own_your_salon">

  <div class="hero-fullscreen">

    <div class="hero-carousel" data-autoplayoff="true">
      <div class="item"><%= image_tag 'own/hero_1_desktop.jpg' %></div>
    </div>

    <div class="hero-content">
      <div class="hero-content-wrapper">

        <%= render 'tabs', :active => 'own_your_salon' %>

        <div class="hero-heading">
          <span class="light">Beautiful Studios. Exclusive Perks.</span><br /><span class="bold">At Sola, You Simply Get More!</span>
        </div>

        <div class="hero-search">
          <div class="search-input-with-button">
            <%= form_tag [:search, :results], :method => :get do %>
            <input type="text" placeholder="Find a Sola near you" name="query" class="large query" autocomplete="off"><button type="submit">Search</button>
            <% end %>
          </div>
        </div>

      </div>
    </div>

  </div>

  <div class="container">

    <div class="row">
      <p><strong>Don't Just Dream. DO! Become a Boutique Salon Owner Today.</strong></p>
    </div>

    <div class="row">
      <div class="one-third column">
        <%= image_tag 'own/own1.jpg', :class => 'u-full-width', :width => 419, :height => 443 %>
      </div>
      <div class="two-thirds column">
        <h2 class="light">Be In Business For Yoursef, Not By Yourself</h2>
        <p>Salon professionals choose Sola for many reasons: to create their one-of-a-kind salon culture, experience more privacy with clients, escape salon drama, and make more money, for starters. But mainly, it’s about freedom and control. Sola empowers stylists by alleviating the risks and hassles associated with traditional salon ownership. We provide high-end, move-in ready studios along with the support and tools you need to launch your salon business in no time. So, join our community of 6,000+ like-minded salon professionals and get one step closer to living the life you love!</p>
      </div>
    </div>

    <hr />

    <div class="row">
      <div class="one-third column">
        <%= image_tag 'own/own2.jpg', :class => 'u-full-width', :width => 464, :height => 442 %>
      </div>
      <div class="two-thirds column">
        <h2 class="light">Your Life, Your Style<sup>&reg;</sup></h2>
        <p>Whether you’re a hairdresser, nail tech, esthetician or massage therapist, we have a variety of studio options to fit your needs. The best part is that in your studio, you completely control the atmosphere. Customize your studio and create an intimate environment that reflects your personal style. Set your own hours with 24/7 access to your studio and enjoy the ideal work/life balance for you. Sell the retail products you love and set your own prices to maximize your income. Sola studios come furnished with all of the major equipment that you’ll need to help make your transition easy!</p>
      </div>
    </div>

    <h2 class="brand">Find Out Why Salon<br />Professionals Choose Sola!</h2>

    <div class="session">
      <a href="//www.youtube.com/watch?v=St-c9SRjbhE"" class="play-video" rel="St-c9SRjbhE">
        <%= image_tag 'video_poster_2016.png', :width => 1280, :height => 720 %>
        <div class="play-btn">
          <span class="fa fa-5x fa-play"></span>
        </div>
      </a>
    </div>

    <p class="text-center">Join our community and experience a level of creative independence and career support you won't find anywhere else. <%= link_to raw(t('page.about.title')), :about %></p>

  </div>

</div>