<div class="hero-tab-content" <%= 'data-hero-active=true' if params[:tab] == 'sola-sessions' %> data-ref="#sola-sessions">

  <div class="hero-fullscreen">

    <div class="hero-carousel owl-carousel owl-theme hero-carousel-fullscreen" data-pagination="true" data-autoplayoff="true">
      <div class="item">
        <%= image_tag 'own/hero_sola_sessions_1.jpg', :class => 'fullscreen', :'data-width' => 1920, :'data-height' => 1080, :width => 1920, :height => 1080 %>
        <%= image_tag 'own/sola_sessions_logo.png', :class => 'sola_sessions_logo' %>  
      </div>
      <div class="item"><%= image_tag 'own/sessions/1.jpg', :class => 'fullscreen', :'data-width' => 1920, :'data-height' => 1278, :width => 1920, :height => 1278 %></div>
      <div class="item"><%= image_tag 'own/sessions/2.jpg', :class => 'fullscreen', :'data-width' => 1920, :'data-height' => 1080, :width => 1920, :height => 1080 %></div>
      <div class="item"><%= image_tag 'own/sessions/3.jpg', :class => 'fullscreen', :'data-width' => 1920, :'data-height' => 1080, :width => 1920, :height => 1080 %></div>
      <div class="item"><%= image_tag 'own/sessions/4.jpg', :class => 'fullscreen', :'data-width' => 1920, :'data-height' => 1080, :width => 1920, :height => 1080 %></div>
      <div class="item"><%= image_tag 'own/sessions/5.jpg', :class => 'fullscreen', :'data-width' => 1920, :'data-height' => 1278, :width => 1920, :height => 1278 %></div>
      <div class="item"><%= image_tag 'own/sessions/6.jpg', :class => 'fullscreen', :'data-width' => 1920, :'data-height' => 1080, :width => 1920, :height => 1080 %></div>
    </div>
    <%#= image_tag 'own/hero_sola_sessions_1.jpg', :class => 'owl-carousel-poster' %>

    <div class="hero-content">
      <div class="hero-content-wrapper">

        <%= render 'tabs', :active => 'sola-sessions' %>

      </div>
    </div>
  </div>

  <div class="container container-inset">
    
    <p class="lead text-center" style="font-size: 25px;margin-bottom: 30px;"><strong>The Sola Sessions</strong></h2>

    <p class="largest text-center"><strong>Inspiration. Education. Community.</strong> The Sola Sessions are all about inspiring, motivating and educating Sola professionals, while also learning from and collaborating with our dynamic community.</p>
    <p class="largest text-center">
      <span class="bullet">&#9679;</span> Learn from the industry's best! &nbsp;<span class="bullet">&#9679;</span> Intimate, Sola-exclusive events
      <br />
      <span class="bullet">&#9679;</span> <%= link_to '4 cities per year', :sessions %> – Join us in a city near you!
    </p>

    <div class="session" style="margin: 40px auto">
      <a href="//www.youtube.com/watch?v=i6AUSUofPUg" class="play-video" rel="i6AUSUofPUg">
        <%= image_tag 'sessions/video_thumb.jpg', :width => 953, :height => 458 %>
        <div class="play-btn">
          <span class="fa fa-5x fa-play"></span>
        </div>
      </a>
    </div>

    <p class="text-center" style="margin-bottom: 40px"><%= link_to 'Learn More', :sessions, :class => 'button primary' %>

  </div>

  <div class="callout pure-black callout-testimonial">
    <div class="container">
      <div class="row">
        <%= image_tag 'own/tammy_headshot.png', :class => 'testimonial-portrait', :width => 256, :height => 256 %>
        <div class="content">
          <h1>"My daughter and I (we are a mother/daughter duo salon) attended the very first Sola Session in Denver. We loved getting to meet, greet and have one on one with the educators before or after their show. We loved the smaller, family like setting. And, the fact that everyone there was a Sola owner was even more fabulous." <span>Tammy Muniz</span></h1>
        </div>
      </div>
    </div>
  </div>

  <div class="callout blue">
    <div class="container">
      <h3 class="large" style="margin-bottom:0;"><span style="font-weight:normal">Want to learn more?</span> <%= link_to 'View frequently asked questions &raquo;'.html_safe, :faqs %></h3>
    </div>
  </div>

</div>