<div class="container">
<div class="sola-genius-phone-gallery-desktop">
  
  <div class="row">
    <div class="one-third column" data-aos="fade-right" data-aos-offset="100">
      <ul class="sola-genius-feature-list sola-genius-feature-list-desktop">
        <li class="active" data-index="0" data-slide="booknow"><span class="sola-genius-icon-wrapper"><span class="sola-genius-icon booknow-icon"></span></span><h2 class="booknow-heading">BookNow Search Engine</h2></li>
        <li data-index="1" data-slide="online-booking"><span class="sola-genius-icon-wrapper"><span class="sola-genius-icon online-booking-icon"></span></span><h2 class="online-booking-heading">24/7 Online Booking</h2></li>
        <li data-index="2" data-slide="simple-calendar-interface"><span class="sola-genius-icon-wrapper"><span class="sola-genius-icon simple-calendar-interface-icon"></span></span><h2 class="simple-calendar-interface-heading">Simple Calendar Interface</h2></li>
        <li data-index="3" data-slide="appointment-notifications"><span class="sola-genius-icon-wrapper"><span class="sola-genius-icon appointment-notifications-icon"></span></span><h2 class="appointment-notifications-heading">Notifications and Reminders</h2></li>
        <li data-index="4" data-slide="text-message-marketing"><span class="sola-genius-icon-wrapper"><span class="sola-genius-icon text-message-marketing-icon"></span></span><h2 class="text-message-marketing-heading">Text Message Marketing</h2></li>
        <li data-index="5" data-slide="client-notes"><span class="sola-genius-icon-wrapper"><span class="sola-genius-icon client-notes-icon"></span></span><h2 class="client-notes-heading">Client Notes</h2></li>
        <li data-index="6" data-slide="point-of-sale"><span class="sola-genius-icon-wrapper"><span class="sola-genius-icon point-of-sale-icon"></span></span><h2 class="point-of-sale-heading">Point-Of-Sale</h2></li>
        <li data-index="7" data-slide="credit-card-processing"><span class="sola-genius-icon-wrapper"><span class="sola-genius-icon credit-card-processing-icon"></span></span><h2 class="credit-card-processing-heading">Credit Card Processing</h2></li>
        <li data-index="8" data-slide="analytics-and-reports"><span class="sola-genius-icon-wrapper"><span class="sola-genius-icon analytics-and-reports-icon"></span></span><h2 class="analytics-and-reports-heading">Analytics and Reports</h2></li>
        <li data-index="9" data-slide="reliable-customer-support"><span class="sola-genius-icon-wrapper"><span class="sola-genius-icon reliable-customer-support-icon"></span></span><h2 class="reliable-customer-support-heading">Reliable Customer Support</h2></li>
      </ul>
    </div>

    <div class="one-third column" data-aos="fade-up" data-aos-offset="200">
      <div class="sola-genius-phone-gallery-wrapper" id="sola-genius-phone-gallery-wrapper">
        <div class="sola-genius-phone-gallery">
          <div class="sola-genius-phone"></div>
          <div class="sola-genius-phone-carousel owl-carousel owl-theme no-autobind">
            <div class="item" data-slide="booknow"><%= image_tag 'own/sola-genius-gallery/booknow-screen.jpg', :alt => "BookNow Search Engine" %></div>
            <div class="item" data-slide="online-booking"><%= image_tag 'own/sola-genius-gallery/online-booking-screen.jpg', :alt => "24/7 Online Booking" %></div>
            <div class="item" data-slide="simple-calendar-interface"><%= image_tag 'own/sola-genius-gallery/simple-calendar-interface-screen.jpg', :alt => "Simple Calendar Interface" %></div>
            <div class="item" data-slide="appointment-notifications"><%= image_tag 'own/sola-genius-gallery/appointment-notifications-screen.jpg', :alt => "Appointment Notifications" %></div>
            <div class="item" data-slide="text-message-marketing"><%= image_tag 'own/sola-genius-gallery/text-message-marketing-screen.jpg', :alt => "Text Message Marketing" %></div>
            <div class="item" data-slide="client-notes"><%= image_tag 'own/sola-genius-gallery/client-notes-screen.jpg', :alt => "Client Notes" %></div>
            <div class="item" data-slide="point-of-sale"><%= image_tag 'own/sola-genius-gallery/point-of-sale-screen.jpg', :alt => "Point-Of-Sale" %></div>
            <div class="item" data-slide="credit-card-processing"><%= image_tag 'own/sola-genius-gallery/credit-card-processing-screen.jpg', :alt => "Credit Card Processing" %></div>
            <div class="item" data-slide="analytics-and-reports"><%= image_tag 'own/sola-genius-gallery/analytics-and-reports-screen.jpg', :alt => "Analytics and Reports" %></div>
            <div class="item" data-slide="reliable-customer-support"><%= image_tag 'own/sola-genius-gallery/reliable-customer-support-screen.jpg', :alt => "Reliable Customer Support" %></div>
          </div>
        </div>
      </div>
      <div class="clearfix">&nbsp;</div>
    </div>

    <div class="one-third column" data-aos="fade-left" data-aos-offset="10">
      <div class="sola-genius-descriptions sola-genius-descriptions-desktop">
        <div class="active booknow-text"><h2>BookNow Search Engine</h2>The smart online booking engine (exclusively for SolaGenius users) that lets clients find and book your services, anytime and anywhere</div>
        <div class="online-booking-text"><h2>24/7 Online Booking</h2>A simple and beautiful booking experience that allows you to cut down on client calls, texts and voicemails</div>
        <div class="simple-calendar-interface-text"><h2>Simple Calendar Interface</h2>Create and manage the perfectly curated schedule</div>
        <div class="appointment-notifications-text"><h2>Notifications and Reminders</h2>Keep clients up-to-date on upcoming appointments to cut down on no shows and cancellations with reminders and follow-ups</div>
        <div class="text-message-marketing-text"><h2>Text Message Marketing</h2>Shower your clients with updates and strengthen relationships with marketing outreach via text messaging</div>
        <div class="client-notes-text"><h2>Client Notes</h2>Save client details, from color formulas to upcoming milestones, and receive reminders so you never forget a thing</div>
        <div class="point-of-sale-text"><h2>Point-Of-Sale</h2>Prepopulate your SolaGenius with services and products to make checkout fast and easy</div>
        <div class="credit-card-processing-text"><h2>Credit Card Processing</h2>It's fast, PCI compliant and rates are the lowest in the industry -- a simple 2.6% per swipe</div>
        <div class="analytics-and-reports-text"><h2>Analytics and Reports</h2>We've worked with industry experts to drill down on the numbers you need to know to work smarter, not harder</div>
        <div class="reliable-customer-support-text"><h2>Reliable Customer Support</h2>Get the help you need via text message, phone, or email support! Includes setup assistance and ongoing support</div>
      </div>
      <div class="sola-genius-get-started sola-genius-get-started-desktop">
        <a href="/solagenius/booknow" class="button primary">Learn More</a>
      </div>
    </div>
  </div>           

  <div class="clearfix">&nbsp;</div>

  <div class="for-sola-by-sola" data-aos="fade-up" data-aos-offset="0"><strong>Uniquely made for Sola, by Sola.</strong></p></div>

</div>
</div>