<div class="hero-tab-content" <%= 'data-hero-active=true' if params[:tab] == 'sola-pro' %> data-ref="#sola-pro">

  <div class="hero-fullscreen">

    <div class="hero-carousel hero-carousel-fullscreen" data-autoplayoff="true">
      <div class="item"><%= image_tag 'own/hero_sola_pro_desktop.jpg', :class => 'fullscreen', :alt => 'A laptop, a tablet and a phone sit on a table, all showing the Sola Pro app', :'data-width' => 1920, :'data-height' => 1080, :width => 1920, :height => 1080 %></div>
    </div>

    <div class="hero-content">
      <div class="hero-content-wrapper">

        <%= render 'tabs', :active => 'sola-pro' %>

        <%= image_tag 'own/sola_pro_logo.png', :class => 'sola_pro_logo', :alt => 'A white iPhone showing the Sola Pro app' %>

        <div class="sola-pro-copy">
          <%= t('page.own.section.sola_pro.hero_body1').html_safe %>
        </div>

      </div>
    </div>
  </div>

  <div class="container container-inset">

    <div class="row">
      <div class="one-third column">
        <% if I18n.locale == :en %>
          <%= image_tag 'own/sola_pro_iphone.jpg', :class => 'u-full-width', :width => 283, :height => 570, :style => 'margin-bottom:15px' %>
        <% else %>
          <%= image_tag 'own/sola_pro_iphone_ca.jpg', :class => 'u-full-width', :width => 283, :height => 570, :style => 'margin-bottom:15px' %>
        <% end %>
      </div>
      <div class="two-thirds column">
        <div class="left-padding">
          <h2 class="light"><%= t('page.own.section.sola_pro.heading1').html_safe %></h2>

          <ul class="sola-pro-benefits">
            <% t('page.own.section.sola_pro.list1').each_line do |li| %>
              <li><%= li.html_safe %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <div class="download-buttons text-center">
      <a href="https://itunes.apple.com/us/app/sola-pro/id1062412249?mt=8" target="_blank"><%= image_tag 'own/ios_appstore.png', :width => 257, :height => 79, :alt => 'Download Sola Pro on the App Store' %></a>
      <a href="https://play.google.com/store/apps/details?id=com.solaprofessional" target="_blank"><%= image_tag 'own/android_appstore.png', :width => 266.706611569, :height => 79, :alt => 'Download Sola Pro on Google Play' %></a>
    </div>

    <% if I18n.locale == :en %>
      <p class="larger text-center"><%= t('page.own.section.sola_pro.download_app_or_view', :sola_pro_link => link_to(t('sola_pro_www_name'), 'https://www.solaprofessional.com')).html_safe %></p>
    <% end %>

    <hr />

    <h2 class="brand text-center" style="margin-top: 15px"><%= t('page.own.section.sola_pro.heading2').html_safe %></h2>

    <div class="session" style="margin-bottom: 60px">
      <a href="//www.youtube.com/watch?v=Bpe-puULbws" class="play-video" rel="sola-pro-video-1">
        <% if I18n.locale == :en %>
          <%= image_tag 'own/sola_pro_video_poster.jpg', :width => 952, :height => 456, :alt => "A person using the Sola Pro app on a smartphone" %>
        <% else %>
          <%= image_tag 'own/sola_pro_video_poster_ca.jpg', :width => 952, :height => 456, :alt => "A person using the Sola Pro app on a smartphone" %>
        <% end %>
        <div class="play-btn">
          <span class="fa fa-5x fa-play"></span>
        </div>
      </a>
    </div> 
       
  </div>

  <div class="callout pure-black callout-testimonial">
    <div class="container">
      <div class="row">
        <%= image_tag 'own/jessica_headshot.png', :class => 'testimonial-portrait', :alt => 'Jessica Zeinstra headshot', :width => 256, :height => 256 %>
        <div class="content">
          <h1>&quot;<%= t('page.own.section.sola_pro.testimonial_text').html_safe %>&quot; <span>Jessica Zeinstra</span></h1>
        </div>
      </div>
    </div>
  </div>

</div>