<div class="container">
<div class="sola-pro-phone-gallery-desktop">

  <div class="row">
    <div class="one-third column" data-aos="fade-right" data-aos-offset="100">
      <ul class="sola-pro-feature-list sola-pro-feature-list-desktop">
        <li class="active" data-index="0" data-slide="home-slide"><span class="sola-pro-icon-wrapper"><span class="sola-pro-icon home-icon"></span></span><h2 class="home-slide-heading"><%= t('page.sola_pro.home') %></h2></li>
        <li data-index="1" data-slide="education-slide"><span class="sola-pro-icon-wrapper"><span class="sola-pro-icon education-icon"></span></span><h2 class="education-slide-heading"><%= t('page.sola_pro.education') %></h2></li>
        <li data-index="2" data-slide="search-slide"><span class="sola-pro-icon-wrapper"><span class="sola-pro-icon search-icon"></span></span><h2 class="search-slide-heading"><%= t('page.sola_pro.search') %></h2></li>
        <li data-index="3" data-slide="mysolapro-slide"><span class="sola-pro-icon-wrapper"><span class="sola-pro-icon client-notes-icon mysolapro-icon"></span></span><h2 class="mysolapro-slide-heading"><%= t('page.sola_pro.my_sola_pro') %></h2></li>
        <li data-index="4" data-slide="deals-slide"><span class="sola-pro-icon-wrapper"><span class="sola-pro-icon deals-icon"></span></span><h2 class="deals-slide-heading"><%= t('page.sola_pro.deals') %></h2></li>
        <li data-index="5" data-slide="shop-slide"><span class="sola-pro-icon-wrapper"><span class="sola-pro-icon shop-icon"></span></span><h2 class="shop-slide-heading"><%= t('page.sola_pro.shop') %></h2></li>
        <li data-index="6" data-slide="events-slide"><span class="sola-pro-icon-wrapper"><span class="sola-pro-icon events-icon"></span></span><h2 class="events-slide-heading"><%= t('page.sola_pro.events') %></h2></li>
        <li data-index="7" data-slide="blog-slide"><span class="sola-pro-icon-wrapper"><span class="sola-pro-icon blog-icon"></span></span><h2 class="blog-slide-heading"><%= t('page.sola_pro.blog') %></h2></li>
        <li data-index="8" data-slide="podcast-slide"><span class="sola-pro-icon-wrapper"><span class="sola-pro-icon podcast-icon"></span></span><h2 class="podcast-slide-heading">Sola Stories Podcast</h2></li>
      </ul>
    </div>

    <div class="one-third column" data-aos="fade-up" data-aos-offset="250">
      <div class="explore-sola-pro"><h2><%= t('page.sola_pro.explore_sola_pro') %></h2></div>
      <div class="sola-pro-phone-gallery-wrapper" id="sola-pro-phone-gallery-wrapper">
        <div class="sola-pro-phone-gallery">
          <div class="sola-pro-phone"></div>
          <div class="sola-pro-phone-carousel owl-carousel owl-theme no-autobind">
            <div class="item" data-slide="home-slide"><%= image_tag 'pro/hm_scr.jpg', alt: "Home" %></div>
            <div class="item" data-slide="education-slide"><%= image_tag 'pro/education_screen.jpg', alt: "Education" %></div>
            <div class="item" data-slide="search-slide"><%= image_tag 'pro/search_screen.jpg', alt: "Search" %></div>
            <div class="item" data-slide="mysolapro-slide"><%= image_tag 'pro/mysolapro.jpg', alt: "My Sola Pro" %></div>
            <div class="item" data-slide="deals-slide"><%= image_tag 'pro/deals.jpg', alt: "Deals" %></div>
            <div class="item" data-slide="shop-slide"><%= image_tag 'pro/shop.jpg', alt: "Shop" %></div>
            <div class="item" data-slide="events-slide"><%= image_tag 'pro/events.jpg', alt: "Events" %></div>
            <div class="item" data-slide="blog-slide"><%= image_tag 'pro/blog.jpg', alt: "Blog" %></div>
            <div class="item" data-slide="podcast-slide"><%= image_tag 'pro/podcast.jpg', alt: "Podcast" %></div>
          </div>
        </div>
      </div>
      <div class="clearfix">&nbsp;</div>
    </div>

    <div class="one-third column" data-aos="fade-left" data-aos-offset="10">
      <div class="sola-pro-descriptions sola-pro-descriptions-desktop">
        <div class="active home-slide-text"><h2><%= t('page.sola_pro.home') %></h2> <%= t('page.sola_pro.home_description') %></div>
        <div class="education-slide-text"><h2><%= t('page.sola_pro.education') %></h2> <%= t('page.sola_pro.education_description') %></div>
        <div class="search-slide-text"><h2><%= t('page.sola_pro.search') %></h2> <%= t('page.sola_pro.search_description') %></div>
        <div class="mysolapro-slide-text"><h2><%= t('page.sola_pro.my_sola_pro') %></h2> <%= t('page.sola_pro.my_sola_pro_description') %></div>
        <div class="deals-slide-text"><h2><%= t('page.sola_pro.deals') %></h2> <%= t('page.sola_pro.deals_description') %></div>
        <div class="shop-slide-text"><h2><%= t('page.sola_pro.shop') %></h2> <%= t('page.sola_pro.shop_description') %></div>
        <div class="events-slide-text"><h2><%= t('page.sola_pro.events') %></h2> <%= t('page.sola_pro.events_description') %></div>
        <div class="blog-slide-text"><h2><%= t('page.sola_pro.blog') %></h2> <%= t('page.sola_pro.blog_description') %></div>
        <div class="podcast-slide-text"><h2>Sola Stories Podcast</h2> <%= t('page.sola_pro.podcast_description') %></div>
      </div>
      <div class="sola-pro-get-started sola-pro-get-started-desktop">
        <a href="https://play.google.com/store/apps/details?id=com.solapro&hl=en" target="_blank" class="android-appstore"><%= image_tag 'own/android_appstore.png' %></a>
        <a href="https://itunes.apple.com/us/app/sola-pro/id1062412249?mt=8" target="_blank" class="ios-appstore"><%= image_tag 'own/ios_appstore.png' %></a>
      </div>
    </div>
  </div>

  <div class="clearfix">&nbsp;</div>
  <div class="for-sola-by-sola" data-aos="fade-up" data-aos-offset="0"><strong><%= t('page.sola_pro.uniquely_made') %></strong></div>

</div>
</div>
