<div class="container">
<div class="sola-pro-phone-gallery-desktop">
  
  <div class="row">
    <div class="one-third column" data-aos="fade-right" data-aos-offset="100">
      <ul class="sola-pro-feature-list sola-pro-feature-list-desktop">
        <li class="active" data-index="0" data-slide="education-slide"><span class="sola-pro-icon-wrapper"><span class="sola-pro-icon education-icon"></span></span><h2 class="education-slide-heading">Education</h2></li>
        <li data-index="1" data-slide="deals-slide"><span class="sola-pro-icon-wrapper"><span class="sola-pro-icon deals-icon"></span></span><h2 class="deals-slide-heading">Deals</h2></li>
        <li data-index="2" data-slide="events-slide"><span class="sola-pro-icon-wrapper"><span class="sola-pro-icon events-icon"></span></span><h2 class="events-slide-heading">Events &amp; Classes Calendar</h2></li>
        <li data-index="3" data-slide="blog-slide"><span class="sola-pro-icon-wrapper"><span class="sola-pro-icon blog-icon"></span></span><h2 class="blog-slide-heading">Blog</h2></li>
        <li data-index="4" data-slide="perkspot-slide"><span class="sola-pro-icon-wrapper"><span class="sola-pro-icon perkspot-icon"></span></span><h2 class="perkspot-slide-heading">Perkspot</h2></li>
      </ul>
    </div>

    <div class="one-third column" data-aos="fade-up" data-aos-offset="250">
      <div class="header-gradient"><h2 class="gradient">Sola Pro</h2></div>
      <div class="sola-pro-phone-gallery-wrapper" id="sola-pro-phone-gallery-wrapper">
        <div class="sola-pro-phone-gallery">
          <div class="sola-pro-phone"></div>
          <div class="sola-pro-phone-carousel owl-carousel owl-theme no-autobind">
            <div class="item" data-slide="education-slide"><%= image_tag 'own/sola-pro-gallery/education-screen.jpg', :alt => "Education" %></div>
            <div class="item" data-slide="deals-slide"><%= image_tag 'own/sola-pro-gallery/deals-screen.jpg', :alt => "Deals" %></div>
            <div class="item" data-slide="events-slide"><%= image_tag 'own/sola-pro-gallery/events-screen.jpg', :alt => "Events & Classes Calendar" %></div>
            <div class="item" data-slide="blog-slide"><%= image_tag 'own/sola-pro-gallery/blog-screen.jpg', :alt => "Blog" %></div>
            <div class="item" data-slide="perkspot-slide"><%= image_tag 'own/sola-pro-gallery/perkspot-screen.jpg', :alt => "Perkspot" %></div>
          </div>
        </div>
      </div>
      <div class="clearfix">&nbsp;</div>
    </div>

    <div class="one-third column" data-aos="fade-left" data-aos-offset="10">
      <div class="sola-pro-descriptions sola-pro-descriptions-desktop">
        <div class="active education-slide-text"><h2>Education</h2> Watch videos produced and handpicked just for Sola. Choose from a variety of categories, including Artistic, Business &amp; Marketing, and Inspiration &amp; Motivation.</div>
        <div class="deals-slide-text"><h2>Deals</h2> Exclusive offers from your favorite brands! Choose among specials ranging from product, online education, styling tools, and scheduling software.</div>
        <div class="events-slide-text"><h2>Events &amp; Classes Calendar</h2> Check out which local classes are occurring in your neck of the woods and listen to past webinars.</div>
        <div class="blog-slide-text"><h2>Blog</h2> Marketing and business ideas alongside Sola success stories to keep you inspired.</div>
        <div class="perkspot-slide-text"><h2>Perkspot</h2> Special deals ranging from airfare, rental cars, hotels, movie and show tickets, and SO much more!</div>
      </div>
      <div class="sola-pro-get-started sola-pro-get-started-desktop">
        <a href="https://itunes.apple.com/us/app/sola-pro/id1062412249?mt=8" target="_blank" class="ios-appstore"><%= image_tag 'own/ios_appstore.png' %></a>
        <a href="https://play.google.com/store/apps/details?id=com.solaprofessional&hl=en" target="_blank" class="android-appstore"><%= image_tag 'own/android_appstore.png' %></a>
      </div>
    </div>
  </div>           

  <div class="clearfix">&nbsp;</div>
  <div class="for-sola-by-sola" data-aos="fade-up" data-aos-offset="0"><strong>Uniquely made for Sola, by Sola.</strong></p></div>

</div>
</div>