<div class="hero-tab-content" <%= 'data-hero-active=true' if params[:tab] == 'sola-pro' %> data-ref="#sola-pro">

  <div class="hero-fullscreen">

    <div class="hero-carousel hero-carousel-fullscreen" data-autoplayoff="true">
      <div class="item"><%= image_tag 'own/hero_sola_pro_desktop.jpg', :class => 'fullscreen', :'data-width' => 1920, :'data-height' => 1080, :width => 1920, :height => 1080 %></div>
    </div>

    <div class="hero-content">
      <div class="hero-content-wrapper">

        <%= render 'tabs', :active => 'sola-pro' %>

        <%= image_tag 'own/sola_pro_logo.png', :class => 'sola_pro_logo' %>

        <div class="sola-pro-copy">
          <strong>A website and app exclusive to Sola professionals!</strong>Designed to provide more tools to help you take your salon studio to the next level!
        </div>

      </div>
    </div>
  </div>

  <div class="container container-inset">

    <div class="row">
      <div class="one-third column">
        <%= image_tag 'own/sola_pro_iphone.jpg', :class => 'u-full-width', :width => 283, :height => 570, :style => 'margin-bottom:15px' %>
      </div>
      <div class="two-thirds column">
        <div class="left-padding">
          <h2 class="light">Sola Pro</h2>

          <ul class="sola-pro-benefits">
            <li><strong>Education:</strong> Watch videos produced and handpicked just for Sola. Take advantage of articles and tools full of ideas and tips.</li>
            <li><strong>Sola Events &amp; Classes Calendar:</strong> Find out what's happening in your neck of the woods!</li>
            <li><strong>Blog:</strong> Marketing and business ideas alongside Sola success stories to inspire you further.</li>
            <li><strong>Deals:</strong> Exclusive offers from Sola partners you won't find anywhere else!</li>
            <li><strong>Perkspot:</strong> Get access to deals from movie tickets to rental cars, hotels and so much more.</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="download-buttons text-center">
      <a href="https://itunes.apple.com/us/app/sola-pro/id1062412249?mt=8" target="_blank"><%= image_tag 'own/ios_appstore.png', :width => 257, :height => 79 %></a>
      <a href="https://play.google.com/store/apps/details?id=com.solaprofessional" target="_blank"><%= image_tag 'own/android_appstore.png', :width => 266.706611569, :height => 79 %></a>
    </div>

    <p class="larger text-center">Download app or view <%= link_to 'solaprofessional.com', 'https://www.solaprofessional.com' %></p>

    <hr />

    <h2 class="brand text-center" style="margin-top: 15px">Check Out a Sneak Peek of Sola Pro!</h2>

    <div class="session" style="margin-bottom: 60px">
      <a href="//www.youtube.com/watch?v=Bpe-puULbws" class="play-video" rel="sola-pro-video-1">
        <%= image_tag 'own/sola_pro_video_poster.jpg', :width => 952, :height => 456 %>
        <div class="play-btn">
          <span class="fa fa-5x fa-play"></span>
        </div>
      </a>
    </div> 
       
  </div>

  <div class="callout pure-black callout-testimonial">
    <div class="container">
      <div class="row">
        <%= image_tag 'own/jessica_headshot.png', :class => 'testimonial-portrait', :width => 256, :height => 256 %>
        <div class="content">
          <h1>"There are so many deals and education resources on Sola Pro! I am opening my books to female clients for the first time so I have been diving into the tutorials on women's haircutting for a refresher. There are also several motivational and business building videos that I could watch a hundred times! They range from quick 1 minute videos which are great for in-between clients and full one hour step-by-step tutorials. There really is something there for everyone!" <span>Jessica Zeinstra</span></h1>
        </div>
      </div>
    </div>
  </div>

  <div class="callout blue">
    <div class="container">
      <h3 class="large" style="margin-bottom:0;"><span style="font-weight:normal">Want to learn more?</span> <%= link_to 'View frequently asked questions &raquo;'.html_safe, :faqs %></h3>
    </div>
  </div>

</div>