<div class="hero-fullscreen hero-tab-content" data-ref="#sola_sessions">

  <div class="hero-carousel owl-carousel owl-theme" data-pagination="true">
    <div class="item"><%= image_tag 'own/hero_sola_sessions_1.jpg' %></div>
    <div class="item"><%= image_tag 'own/studio/2.jpg' %></div>
    <div class="item"><%= image_tag 'own/studio/3.jpg' %></div>
    <div class="item"><%= image_tag 'own/studio/4.jpg' %></div>
    <div class="item"><%= image_tag 'own/studio/5.jpg' %></div>
  </div>
  <%= image_tag 'own/hero_sola_sessions_1.jpg', :class => 'owl-carousel-poster' %>

  <div class="hero-content">
    <div class="hero-content-wrapper">

      <%= render 'tabs', :active => 'sola_sessions' %>

    </div>
  </div>
</div>