<div class="hero-tab-content" <%= 'data-hero-active=true' if params[:tab] == 'sola-sessions' %> data-ref="#sola-sessions">

  <div class="hero-fullscreen sessions-landing-2017-carousel">

    <div class="hero-carousel owl-carousel owl-theme hero-carousel-fullscreen" data-pagination="false" data-autoplayoff="true">
      <div class="item">
        <%= image_tag 'sessions/sessions-2017-landing-hero.jpg', :class => 'fullscreen', :'data-width' => 1488, :'data-height' => 1152, :width => 1488, :height => 1152 %>
        <%= image_tag 'own/sola_sessions_logo.png', :class => 'sola_sessions_logo', :alt => 'Sola Sessions' %>  
      </div>
      <div class="item" style="display:none"><%= image_tag 'own/sessions/1.jpg', :class => 'fullscreen', :'data-width' => 1920, :'data-height' => 1278, :width => 1920, :height => 1278, :alt => 'A group shot from a Sola Session live event' %></div>
      <div class="item" style="display:none"><%= image_tag 'own/sessions/2.jpg', :class => 'fullscreen', :'data-width' => 1920, :'data-height' => 1080, :width => 1920, :height => 1080, :alt => 'A group shot from a Sola Session live event' %></div>
      <div class="item" style="display:none"><%= image_tag 'own/sessions/3.jpg', :class => 'fullscreen', :'data-width' => 1920, :'data-height' => 1080, :width => 1920, :height => 1080, :alt => 'An instructor gets the crowd pumped up at a Sola Session live event' %></div>
      <div class="item" style="display:none"><%= image_tag 'own/sessions/4.jpg', :class => 'fullscreen', :'data-width' => 1920, :'data-height' => 1080, :width => 1920, :height => 1080, :alt => 'An instructor with headset cuts a woman\'s hair on-stage at a Sola Session live event' %></div>
      <div class="item" style="display:none"><%= image_tag 'own/sessions/5.jpg', :class => 'fullscreen', :'data-width' => 1920, :'data-height' => 1278, :width => 1920, :height => 1278, :alt => 'The crowd gets involved during a Sola Session live event' %></div>
      <div class="item" style="display:none"><%= image_tag 'own/sessions/6.jpg', :class => 'fullscreen', :'data-width' => 1920, :'data-height' => 1080, :width => 1920, :height => 1080, :alt => 'An instructor with headset cuts a woman\'s hair on-stage at a Sola Session live event' %></div>
    </div>

    <div class="hero-content">
      <div class="hero-content-wrapper">

        <%= render 'tabs', :active => 'sola-sessions' %>

      </div>
    </div>

    <a href="#About" class="down-arrow" data-animated-scroll data-nav-group="sessions-nav"></a>
  </div>

  <%= render '/sessions/index' %>
  
</div> <!-- end .hero-tab-content -->