<div class="hero-tab-content" <%= 'data-hero-active=true' if params[:tab] == 'sola-sessions' %> data-ref="#sola-sessions">

  <div class="hero-fullscreen sessions-landing-2017-carousel">

    <div class="hero-carousel owl-carousel owl-theme hero-carousel-fullscreen" data-pagination="false" data-autoplayoff="true">
      <div class="item">
        <%= image_tag 'sessions/sessions-2017-landing-hero.jpg', :class => 'fullscreen', :'data-width' => 1488, :'data-height' => 1152, :width => 1488, :height => 1152 %>
        <%= image_tag 'own/sola_sessions_logo.png', :class => 'sola_sessions_logo', :alt => 'Sola Sessions' %>  
      </div>
      <div class="item" style="display:none"><%= image_tag 'own/sessions/1.jpg', :class => 'fullscreen', :'data-width' => 1920, :'data-height' => 1278, :width => 1920, :height => 1278, :alt => 'A group shot from a Sola Session live event' %></div>
      <div class="item" style="display:none"><%= image_tag 'own/sessions/2.jpg', :class => 'fullscreen', :'data-width' => 1920, :'data-height' => 1080, :width => 1920, :height => 1080, :alt => 'A group shot from a Sola Session live event' %></div>
      <div class="item" style="display:none"><%= image_tag 'own/sessions/3.jpg', :class => 'fullscreen', :'data-width' => 1920, :'data-height' => 1080, :width => 1920, :height => 1080, :alt => 'An instructor gets the crowd pumped up at a Sola Session live event' %></div>
      <div class="item" style="display:none"><%= image_tag 'own/sessions/4.jpg', :class => 'fullscreen', :'data-width' => 1920, :'data-height' => 1080, :width => 1920, :height => 1080, :alt => 'An instructor with headset cuts a woman\'s hair on-stage at a Sola Session live event' %></div>
      <div class="item" style="display:none"><%= image_tag 'own/sessions/5.jpg', :class => 'fullscreen', :'data-width' => 1920, :'data-height' => 1278, :width => 1920, :height => 1278, :alt => 'The crowd gets involved during a Sola Session live event' %></div>
      <div class="item" style="display:none"><%= image_tag 'own/sessions/6.jpg', :class => 'fullscreen', :'data-width' => 1920, :'data-height' => 1080, :width => 1920, :height => 1080, :alt => 'An instructor with headset cuts a woman\'s hair on-stage at a Sola Session live event' %></div>
    </div>

    <div class="hero-content">
      <div class="hero-content-wrapper">

        <%= render 'tabs', :active => 'sola-sessions' %>

      </div>
    </div>

    <div class="down-arrow"></div>
  </div>


  <div class="session session-landing-2017">
    <div class="container">
      <div class="row">
        
        <div class="three columns">
          <ul class="sessions-nav">
            <li><a href="#About">About</a></li>
            <li><a href="#UpcomingEvents">Upcoming Events</a></li>
            <li><a href="#PastEvents">Past Events</a></li>
            <li><a href="#InTheNews">In the News</a></li>
            <li><a href="#Testimonials">Testimonials</a></li>
          </ul>
        </div>

        <div class="nine columns">

          <a id="About" name="About"></a>
          <div class="about">
            <div class="header-gradient"><h2 class="gradient">About</h2></div>
            <p>We hope you can join us for one of The Sola Sessions, coming to a city near you! The Sessions are all about inspiring, motivating and educating Sola professionals, while also learning from and collaborating with our awesome, dynamic community. We're bringing the industry's best to you for intimate, Sola-exclusive events across the country. Click on the cities below to learn more about each unique Sola Session. We can't wait to meet you!</p>
            <a href="//www.youtube.com/watch?v=i6AUSUofPUg" class="play-video" rel="i6AUSUofPUg">
              <%= image_tag 'sessions/video_thumb_2017.jpg', :width => 953, :height => 458 %>
              <div class="play-btn">
                <span class="fa fa-5x fa-play"></span>
                <span class="text">Watch Video</span>
              </div>
            </a>
          </div>



          <a id="UpcomingEvents" name="UpcomingEvents"></a>
          <div class="upcoming-events">
            <div class="header-gradient"><h2 class="gradient">Upcoming Events</h2></div>
          </div>



          <a id="PastEvents" name="PastEvents"></a>
          <div class="past-events">
            <div class="header-gradient"><h2 class="gradient">Past Events</h2></div>

            <div class="event">
              <%= image_tag "sessions/past-event-dallas.jpg" %>
              <div class="buttons">
                <a href="https://www.solasalonstudios.com/blog/the-magic-of-the-dallas-sola-sessions" class="button">Read Blog</a>
                <a href="http://solasessions.smugmug.com/The-Sola-Sessions-Dallas" target="_blank" class="button">View Gallery</a>
              </div>
            </div> 
            
            <div class="event">
              <%= image_tag "sessions/past-event-charlotte.jpeg" %>
              <div class="buttons">
                <a href="https://www.solasalonstudios.com/blog/the-sola-sessions--charlotte-recap" class="button">Read Blog</a>
                <a href="https://solasessions.smugmug.com/The-Sola-Sessions-Charlotte/n-NX4x6J/" target="_blank" class="button">View Gallery</a>
              </div>
            </div> 

            <div class="event">
              <%= image_tag "sessions/past-event-orange-county.jpeg" %>
              <div class="buttons">
                <a href="https://www.solasalonstudios.com/blog/the-sola-sessions--newport-beach-recap" class="button">Read Blog</a>
                <a href="https://solasessions.smugmug.com/The-Sola-Sessions-Orange/n-QXL6tM/" target="_blank" class="button">View Gallery</a>
              </div>
            </div> 

            <div class="event">
              <%= image_tag "sessions/past-event-minneapolis.jpg" %>
              <div class="buttons">
                <a href="https://www.solasalonstudios.com/blog/the_sola_sessions__minneapolis_recap" class="button">Read Blog</a>
                <a href="https://solasessions.smugmug.com/The-Sola-Sessions-Minneapolis/n-BjfH8G/" target="_blank" class="button">View Gallery</a>
              </div>
            </div> 

            <div class="event">
              <%= image_tag "sessions/past-event-denver.jpg" %>
              <div class="buttons">
                <a href="https://www.solasalonstudios.com/blog/the_sola_sessions__denver_recap" class="button">Read Blog</a>
                <a href="https://solasessions.smugmug.com/The-Sola-SessionsDenver/n-f8zLwV/" target="_blank" class="button">View Gallery</a>
              </div>
            </div> 
          </div>



          <a id="InTheNews" name="InTheNews"></a>
          <div class="in-the-news">
            <div class="header-gradient"><h2 class="gradient">In the News</h2></div>
            <div class="news-articles">
              <% Article.where(:id => [68, 62, 61, 53, 51, 48, 47]).order(:id => :desc).each do |article| %>
                <%= render 'shared/news_summary', :article => article, :social => 'circle' %>
              <% end %>
            </div>        
          </div>



          <a id="Testimonials" name="Testimonials"></a>
          <div class="testimonials">
            <div class="header-gradient"><h2 class="gradient">Testimonials</h2></div>

            <div class="owl-carousel owl-theme" data-autoplay="10000">
              <div class="item featured-testimonial">
                <h1>"My daughter and I attended the very first Sola Session in Denver. We loved getting to meet, greet and have one on one time with the educators before and after their show. We loved the smaller, family like setting. And the fact that everyone there was a Sola owner was even more fabulous."</h1>
                <h3 class="subtle">Tammy Muniz</h3>
              </div>

              <div class="item featured-testimonial">
                <h1>"Attending the Sola Sessions was a life changing experience! I felt very empowered by the knowledge and tools presented to me and left the Sessions ready to rule the world!"</h1>
                <h3 class="subtle">Robin Grabovski</h3>
              </div>

              <div class="item featured-testimonial">
                <h1>"The Sola Sessions was well-rounded, informational and inspiring! It was empowering to meet and be surrounded by people like myself, who have not only taken the leap of faith to be independent, but also have other ventures going on, like being an educator."</h1>
                <h3 class="subtle">Katherine Laundry</h3>
              </div>

              <div class="item featured-testimonial">
                <h1>"From the atmosphere of the venue to the educators and goodie bags, the Sola Sessions was beyond what I thought it was going to be! Thank you for an awesome show!"</h1>
                <h3 class="subtle">Jordan Ferro</h3>
              </div>

              <div class="item featured-testimonial">
                <h1>"I gained so much knowledge, confidence, and resources from attending the Sola Sessions. Every aspect of my business was addressed and I was able to take away something to make each area of my business better. It was really neat learning from the amazing presenters. Way to go, Sola!"</h1>
                <h3 class="subtle">Nancy Hampton</h3>
              </div>          
            </div>
          </div>

        </div> <!-- end .nine.columns -->
      </div> <!-- end .row -->
    </div> <!-- end .container -->
  </div> <!-- end .sessions-2017 -->
</div> <!-- end .hero-tab-content -->