<div class="hero-tab-content" data-ref="#studio_amenities" <%= 'style=display:block' if params[:tab] == 'studio_amenities' %>>

  <div class="hero-fullscreen">

    <div class="hero-carousel" data-autoplayoff="true">
      <div class="item"><%= image_tag 'own/hero_amenities_desktop.jpg', :id => 'studio_amenities_img' %></div>
    </div>

    <div class="explore-studio">
      <div class="dot no-tooltip storage" data-html="<h3>Drawers</h3><p>Pull out drawers for additional storage</p>"></div>
      <div class="dot no-tooltip insulated-walls" data-html="<h3>Insulated Walls</h3><p>Insulated walls keep out noisy distractions and help to create a more intimate environment for you and your clients.</p>"></div>
      <div class="dot no-tooltip tool-cabinet" data-html="<h3>Tool Cabinet</h3><p>Tool cabinet with dedicated outlets helps to keep cords neat and tidy.</p>"></div>
      <div class="dot no-tooltip chair" data-html="<h3>Hydraulic Chair</h3><p>Provide comfort for your clients in a high-end hydraulic chair.</p>"></div>
      <div class="dot no-tooltip cabinetry" data-html="<h3>Cabinets</h3><p>High end custom cabinetry with abundant storage helps keep your studio organized.</p>"></div>
      <div class="dot no-tooltip mirror" data-html="<h3>Mirrors</h3><p>Style clients in front of large, well-lit mirrors.</p>"></div>
      <div class="dot no-tooltip products" data-html="<h3>Retail Shelving</h3><p>Proudly display and sell the products you love</p>"></div>
      <div class="dot no-tooltip wash-basin active" data-html="<h3>Shampoo Bowl</h3><p>Shampoo, rinse and repeat in a shampoo bowl. Instant hot water saves time and water.</p>"></div>
    </div>

    <div id="amenity-description">
      <h3>Shampoo Bowl</h3><p>Shampoo, rinse and repeat in a shampoo bowl. Instant hot water saves time and water.</p>
    </div>

    <div class="hero-content">
      <div class="hero-content-wrapper">

        <%= render 'tabs', :active => 'studio_amenities' %>

      </div>
    </div>
  </div>
    
  <div class="container" style="max-width: 550px;margin-bottom: 20px">
    <h2 class="brand text-center">Sola provides all you need and more in high-end, move-in-ready studios. Find the perfect one or two-chair salon near you.</h2>
  </div>

  <div class="studio-amenities">
    <div class="container container-inset">
      <h2 class="light text-center">Studio Amenities</h2>

      <ul>
        <li><strong>Oversized locking door:</strong> Your studio is private and secure.</li>
        <li><strong>High-end cabinets and drawers:</strong> Keep your studio neat and tidy.</li>
        <li><strong>Retail shelves:</strong> Showcase your favorite products.</li>
        <li><strong>Two oversized mirrors:</strong> Creates a nice and open feel.</li>
        <li><strong>Tool cabinet:</strong> Cleanly stores your cords.</li>
        <li><strong>Shampoo bowl:</strong> Shampoo, rinse and repeat.</li>
        <li><strong>Styling chair:</strong> Comfort for clients in a high-end hydraulic chair.</li>
        <li><strong>Sound-insulated walls:</strong> Keep out noisy distractions.</li>
        <li><strong>Full spectrum lighting:</strong> Light that emulates natural daylight.</li>
        <li><strong>Instant hot water:</strong> Saves you time. Conserves water.</li>
        <li><strong>Common areas:</strong> Break room with laundry facilities and refrigerator.</li>
        <li><strong>Utilities included:</strong> Water, electricity, Wi-Fi, no added costs.</li>
      </ul>

    </div>
  </div>

  <div class="owl-carousel owl-theme" data-pagination="true">
    <div class="item"><%= image_tag 'own/studio/1.jpg' %></div>
    <div class="item"><%= image_tag 'own/studio/2.jpg' %></div>
    <div class="item"><%= image_tag 'own/studio/3.jpg' %></div>
    <div class="item"><%= image_tag 'own/studio/4.jpg' %></div>
    <div class="item"><%= image_tag 'own/studio/5.jpg' %></div>
    <div class="item"><%= image_tag 'own/studio/6.jpg' %></div>
    <div class="item"><%= image_tag 'own/studio/7.jpg' %></div>
  </div>

  <div class="sola-professional-benefits">
    <div class="container container-inset">

      <h2 class="light text-center">Sola Professional Benefits</h2>

      <ul>
        <li>All the equipment you need to start your business with minimum start-up costs.</li>
        <li>Join a community of 6,000+ salon professionals nationwide to be in business for yourself, not by yourself.</li>
        <li>Boost your income and keep 100% of your profits.</li>
        <li>Access group insurance and Sola programs and discounts for products, scheduling and more.</li>
        <li>Escape salon politics and drama in your private, secure studio.</li>
        <li>Manage your own schedule with 24/7 studio access.</li>
        <li>Personalize your salon space with artwork, music, furniture and decor.</li>
        <li>Set pricing for services and products.</li>
        <li>Sell the retail products you love.</li>
        <li>Play your own music and enjoy private conversations.</li>
        <li>Enjoy an intimate setting and give your guests the one-on-one attention they deserve.</li>
        <li>Utilize <%= link_to 'Sola Pro', 'https://www.solaprofessional.com' %> website and app for deals and education.</li>
        <li>Attend national <%= link_to 'Sola Sessions', :sessions %> education events.</li>
        <li>Create your own website page on <%= link_to 'www.solasalons.com', 'https://www.solasalonstudios.com' %></li>
      </ul>

      <p class="text-center gallery-button"><%= link_to 'View Gallery of Studios', :gallery, :class => 'button primary' %></p>

    </div>
  </div>

  <div class="callout blue">
    <div class="container">
      <h3 class="large" style="margin-bottom:0;"><span style="font-weight:normal">Want to learn more?</span> <%= link_to 'View frequently asked questions &raquo;'.html_safe, :faqs %></h3>
    </div>
  </div>

</div>