<div class="hero-tabs">
  <div class="container">
    <ul>
      <li><a href="#own-your-salon" <%= 'class=active' if active == 'own-your-salon' %>><%= t('page.own.section.own_your_salon.title').html_safe %></a></li>
      <li><a href="#studio-amenities" <%= 'class=active' if active == 'studio-amenities' %>><%= t('page.own.section.studio_amenities.title').html_safe %></a></li>
      <li><a href="#sola-pro" <%= 'class=active' if active == 'sola-pro' %>><%= t('page.own.section.sola_pro.title').html_safe %></a></li>
      <li><a href="#sola-sessions" <%= 'class=active' if active == 'sola-sessions' %>><%= t('page.own.section.sola_sessions.title').html_safe %></a></li>
    </ul>
  </div>
</div>