<% if I18n.locale.to_s == 'pt-BR' %>

  <div class="hero-carousel owl-carousel owl-theme">
    <div class="item">
      <div class="img-wrap"><%= image_tag 'https://s3.amazonaws.com/solasalonstudiosbr/pages/why_sola/WhySola_Hero.jpg', :width => 1600, :height => 800 %></div>
      <div class="item-content overlayed">
        <h1 class="chalet"><%= t('page.why_sola.hero_heading1').html_safe %></h1>
        <h1 class="chalet-new-york"><%= t('page.why_sola.hero_heading2').html_safe %></h1>
        <%= link_to '//www.youtube.com/watch?v=D2vtblujRzo', :class => "button primary play-video rounded-play-button" do %>
          <%= t('page.why_sola.hero_button_text') %> <span class="fa fa-play-circle">&nbsp;</span>
        <% end %>
        <div class="learn-more-button">
          <h5><%= t('page.why_sola.learn_more') %></h5>
          <span class="fa fa-angle-down"></span>
        </div>
      </div>
    </div>
  </div>

<% else %>
  <%- youtube_url = "https://www.youtube.com/watch?v=#{I18n.locale != :en ? 'zH9uewppEjk' : 'wxZluUXFJ9Y'}" %>
  <div class="hero-carousel owl-carousel owl-theme home-all">
    <div class="item">
        <div class="img-wrap" style="padding-bottom:39%;"><%= image_tag 'https://d3p1kyyvw4qtho.cloudfront.net/Sola_DA_WhySola_Header.jpg', :width => 2025, :height => 769 %></div>
        <div class="item-content overlayed" style="top:0px;">
          <%= link_to youtube_url, :class => "button secondary play-video rounded-play-button" do %>
            <%= t('page.why_sola.hero_button2_text') %> <span class="fa fa-play-circle">&nbsp;</span>
          <% end %>
        </div>
    </div>
  </div>

  <div class="hero-carousel owl-carousel owl-theme home-mobile">
    <div class="item">
        <div class="img-wrap" style="padding-bottom:39%;"><%= image_tag 'https://d3p1kyyvw4qtho.cloudfront.net/Sola_DA_WhySola_Header_mobile.jpg', :alt => t('page.home.slider5_heading') %></div>
        <div class="item-content overlayed" style="top:-80px;">
          <%= link_to youtube_url, style: "margin-top:0px;", :class => "button secondary play-video rounded-play-button" do %>
            <%= t('page.why_sola.hero_button2_text') %> <span class="fa fa-play-circle">&nbsp;</span>
          <% end %>
        </div>
    </div>
  </div>

<% end %>
