<div class="own-your-salon">

  <%= render 'own_your_salon' %>
  <%= render 'studio_amenities' %>
  <%= render 'sola_pro' %>
  <%= render 'sola_sessions' %>
  
  <%= javascript_include_tag 'fullscreen_hero' %>

</div>

<% content_for(:scripts) { javascript_include_tag('own_your_salon') } %>
<% content_for(:title) { raw(t('page.own.title')) } %>
<% content_for(:canonical_url) { "https://www.solasalonstudios.#{I18n.locale != :en ? 'ca' : 'com'}/own-your-salon" } %>