<div class="hero-text" style="background-image:url('<%= image_path 'Salon_Image_1.jpg' %>')">
  <div class="text">
    <h1>Don't just dream, do.<br>Become a salon owner today.</h1>
    <h3>Click to watch video</h3>
    <a href="//www.youtube.com/watch?v=77gzVR-50Wo" class="play-button"></a>
  </div>
  <div class="learn-more">
    <h3>Learn More</h3>
    <span class="ss-navigatedown"></span>
  </div>
</div>

<div class="callout blue image">
  <div class="container text-center">
    <%= link_to :contact_us do %>
      <h3>Contact Sola Today If You</h3>
      <h1>Seek the freedom from salon politics</h1>
    <% end %>
  </div>
</div>

<div class="half-boxes">
  <div class="box box-image right" style="background-image:url('<%= image_path 'Salon_Image_2.jpg' %>')">&nbsp;</div>
  <div class="box">
    <div class="box-text">
      <h1>Be Your Own Boss</h1>
      <h4>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</h4>
      <p><%= link_to 'Testimonials', :testimonials, :class => 'button' %></p>
    </div>
  </div>
</div>

<div class="half-boxes bottom-border">
  <div class="box box-image" style="background-image:url('<%= image_path 'Salon_Image_3.jpg' %>')">&nbsp;</div>
  <div class="box right">
    <div class="box-text">
      <h1>Build Your Studio</h1>
      <h4>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</h4>
      <p><%= link_to 'Salon Gallery', :gallery, :class => 'button' %></p>
    </div>
  </div>  
</div>

<div class="container">
  <h1 class="text-center">Amenities</h1>
  <div class="row salon-amenities-benefits">

    <div class="one-half column">
      <h3>Studio Amenities</h3>
      <h4>
      <ul>
        <li>Full enclosed, private, locking studio</li>
        <li>High end styling chair and shampoo bowl</li>
        <li>Full-spectrum lighting and oversize mirrors</li>
        <li>Luxurious cabinets and fixtures</li>
        <li>Individual ventilation in each studio</li>
        <li>Instant and abundant hot water supply</li>
        <li>Onsite laundry and shared amenities</li>
        <li>All utilities and Wi-Fi included</li>
        <li>And much more...</li>
      </ul>
      </h4>
    </div>

    <div class="one-half column">
      <h3>Salon Professional Benefits</h3>
      <h4>
      <ul>
        <li>Access group insurance and Sola discounts</li>
        <li>Escape salon politics and drama</li>
        <li>Manage your own schedule</li>
        <li>Personalize your salon space</li>
        <li>Set pricing for services and products</li>
        <li>Sell the retail products you love</li>
        <li>Play your own music</li>
        <li>Enjoy private conversations</li>
        <li>Keep 100% of your profits</li>
      </ul>
      </h4>
    </div>

  </div>
</div>

<div class="callout blue callout-testimonial">
  <div class="container">
    <div class="row">
      <div class="one-third column">
        <%= image_tag 'Katina_Avatar@2x.png', :class => 'testimonial-portrait' %>
      </div>
      <div class="two-thirds column">
        <h1>"Sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt."</h1>
        <h3>Katina Eisenbeis</h3>
      </div>
    </div>
  </div>
</div>

<div class="callout green">
  <div class="container">
    <h3 class="large" style="margin-bottom:0;"><%= link_to 'View more testimonials'.html_safe, :testimonials %></h3>
  </div>
</div>

<div class="explore-studio">
  <h1>Explore a Studio</h1>
  <%= image_tag 'Own_Salon_Explore.jpg', :class => 'full-width' %>
  <div class="dot storage" data-tooltip="<h3>Storage</h3><p>A locking cash drawer to keep your money safe and pull out drawers for additional storage</p>"></div>
  <div class="dot insulated-walls" data-tooltip="<h3>Insulated Walls</h3><p>Insulated walls keep out noisy distractions and help to create a more intimate environment for you and your clients.</p>"></div>
  <div class="dot tool-cabinet" data-tooltip="<h3>Tool Cabinet</h3><p>Tool cabinet with dedicated outlets helps to keep cords neat and tidy.</p>"></div>
  <div class="dot chair" data-tooltip="<h3>Chair</h3><p>Provide comfort for your clients in a high-end hydraulic chair.</p>"></div>
  <div class="dot cabinetry" data-tooltip="<h3>Cabinets</h3><p>High end custom cabinetry with abundant storage helps keep your studio organized.</p>"></div>
  <div class="dot mirror" data-tooltip="<h3>Mirror</h3><p>Style clients in front of large, well-lit mirrors.</p>"></div>
  <div class="dot products" data-tooltip="<h3>Products</h3><p>Proudly display and sell the products you love</p>"></div>
  <div class="dot wash-basin" data-tooltip="<h3>Shampoo Bowl</h3><p>Shampoo, rinse and repeat in a shampoo bowl. Instant hot water supply saves time and water.</p>"></div>
</div>

<div class="container">
  <div class="sola-story">
    <div class="row">
      <div class="two-thirds column">
        <h2>Join our community and experience a level of <strong>creative independence</strong> and <strong>career support</strong> you won't find anywhere else.</h2>
      </div>
      <div class="one-third column">
        <%= link_to 'The Sola Story', :about_us, :class => 'button' %>
      </div>
    </div>
  </div>
</div>

<div class="callout blue">
  <div class="container">
    <h3 class="large" style="margin-bottom:0;"><span style="font-weight:normal">Want to learn more?</span> <%= link_to 'View frequently asked questions &raquo;'.html_safe, :faqs %></h3>
  </div>
</div>

<% content_for(:scripts) { javascript_include_tag('own_your_salon') } %>