<div class="hero-text" style="background-image:url('<%= image_path 'Salon_Image_1.jpg' %>')">
  <div class="text">
    <h1>Don't just dream, do.<br>Become a salon owner today.</h1>
    <h3>Click to watch video</h3>
    <a href="//www.youtube.com/watch?v=77gzVR-50Wo" class="play-button"></a>
  </div>
  <div class="learn-more">
    <h3>Learn More</h3>
    <span class="ss-navigatedown"></span>
  </div>
</div>

<div class="callout blue image">
  <div class="container text-center">
    <%= link_to :contact_us do %>
      <h3>Contact Sola Today If You</h3>
      <ul class="owl-carousel" style="margin-bottom:0">
        <li><h1>Want to control your environment</h1></li>
        <li><h1>Aim to be your own boss</h1></li>
        <li><h1>Desire to manage your own schedule</h1></li>
        <li><h1>Want to set your own prices and maximize your income</h1></li>
        <li><h1>Seek the freedom from salon politics</h1></li>
        <li><h1>Prefer to sell your favorite retail products</h1></li>
      </ul>
    <% end %>
  </div>
</div>

<div class="half-boxes">
  <div class="box box-image view-image-gallery right" style="cursor:pointer;background-image:url('<%= image_path 'Salon_Image_2.jpg' %>')">&nbsp;</div>
  <div class="box">
    <div class="box-text">
      <h1>Be In Business For Yourself, Not By Yourself</h1>
      <h4>Salon professionals choose Sola for many reasons: to create their one-of-a-kind salon culture, have more privacy with clients, escape salon drama and make more money, for starters. <strong>But mainly, it’s about freedom and control.</strong> Sola empowers stylists by alleviating the risks and hassles associated with traditional salon ownership. We provide high-end, move-in ready studios along with the support and tools you need to launch your salon business in no time.</h4>
      
      <div class="find-a-sola">
        <div class="container">
          <h3>Find the Sola Nearest To You</h3>
          <%= form_tag [:search, :results] do %>
            <input type="text" type="search" name="query" placeholder="Search by city, state or zip code" />
            <input type="hidden" name="stylists" value="hidden" />
            <button type="submit" class="button primary">Search</button>
          <% end %>
        </div>
      </div>
      <!-- <p><%= link_to 'Testimonials', :testimonials, :class => 'button' %></p> -->
    </div>
  </div>
</div>

<div class="half-boxes bottom-border">
  <div class="box box-image view-image-gallery" style="cursor:pointer;background-image:url('<%= image_path 'Salon_Image_3.jpg' %>')">&nbsp;</div>
  <div class="box right">
    <div class="box-text">
      <h1>Your Life, Your Style&reg;</h1>
      <h4>Whether you’re a hairdresser, nail tech, esthetician or massage therapist, we have a variety of studio options to fit your needs. The best part is that in your studio, you completely control the atmosphere. Customize your studio and create an intimate environment that reflects your personal style. Set your own hours with 24/7 access to your studio and enjoy the ideal work/life balance for you. Sell the retail products you love and set your own prices to maximize your income. Sola studios come furnished with all of the major equipment that you’ll need to help make your transition easy!</h4>
      <p><%= link_to 'View Gallery', :gallery, :class => 'button view-image-gallery' %></p>
    </div>
  </div>  
</div>

<div class="container">
  <h1 class="text-center">Amenities</h1>
  <div class="row salon-amenities-benefits">

    <div class="one-half column">
      <h3>Studio Amenities</h3>
      <h4>
      <ul>
        <li>Full enclosed, private, locking studio</li>
        <li>High end styling chair and shampoo bowl</li>
        <li>Full-spectrum lighting and oversize mirrors</li>
        <li>Luxurious cabinets and fixtures</li>
        <li>Individual ventilation in each studio</li>
        <li>Instant and abundant hot water supply</li>
        <li>Onsite laundry and shared amenities</li>
        <li>All utilities and Wi-Fi included</li>
        <li>And much more...</li>
      </ul>
      </h4>
    </div>

    <div class="one-half column">
      <h3>Salon Professional Benefits</h3>
      <h4>
      <ul>
        <li>Access group insurance and Sola discounts</li>
        <li>Escape salon politics and drama</li>
        <li>Manage your own schedule</li>
        <li>Personalize your salon space</li>
        <li>Set pricing for services and products</li>
        <li>Sell the retail products you love</li>
        <li>Play your own music</li>
        <li>Enjoy private conversations</li>
        <li>Keep 100% of your profits</li>
      </ul>
      </h4>
    </div>

  </div>
</div>

<div class="callout blue callout-testimonial">
  <div class="container">
    <div class="row">
      <div class="one-third column">
        <%= image_tag 'Katina_Avatar@2x.png', :class => 'testimonial-portrait' %>
      </div>
      <div class="two-thirds column">
        <h1>"I love that I have my very own space where I can do business the way I want to, and that I can decorate as I like. I get to focus on my clients without any salon drama to interfere."</h1>
        <h3>Katina Eisenbeis, Katina's Salon</h3>
      </div>
    </div>
  </div>
</div>

<div class="callout green">
  <div class="container">
    <h3 class="large" style="margin-bottom:0;"><%= link_to 'View more testimonials'.html_safe, :testimonials %></h3>
  </div>
</div>

<div class="explore-studio">
  <h1>Explore a Studio</h1>
  <%= image_tag 'Own_Salon_Explore.jpg', :class => 'full-width' %>
  <div class="dot storage" data-tooltip="<h3>Storage</h3><p>A locking cash drawer to keep your money safe and pull out drawers for additional storage</p>"></div>
  <div class="dot insulated-walls" data-tooltip="<h3>Insulated Walls</h3><p>Insulated walls keep out noisy distractions and help to create a more intimate environment for you and your clients.</p>"></div>
  <div class="dot tool-cabinet" data-tooltip="<h3>Tool Cabinet</h3><p>Tool cabinet with dedicated outlets helps to keep cords neat and tidy.</p>"></div>
  <div class="dot chair" data-tooltip="<h3>Chair</h3><p>Provide comfort for your clients in a high-end hydraulic chair.</p>"></div>
  <div class="dot cabinetry" data-tooltip="<h3>Cabinets</h3><p>High end custom cabinetry with abundant storage helps keep your studio organized.</p>"></div>
  <div class="dot mirror" data-tooltip="<h3>Mirror</h3><p>Style clients in front of large, well-lit mirrors.</p>"></div>
  <div class="dot products" data-tooltip="<h3>Products</h3><p>Proudly display and sell the products you love</p>"></div>
  <div class="dot wash-basin" data-tooltip="<h3>Shampoo Bowl</h3><p>Shampoo, rinse and repeat in a shampoo bowl. Instant hot water supply saves time and water.</p>"></div>
</div>

<div class="container">
  <div class="sola-story">
    <div class="row">
      <div class="two-thirds column">
        <h2>Join our community and experience a level of <strong>creative independence</strong> and <strong>career support</strong> you won't find anywhere else.</h2>
      </div>
      <div class="one-third column">
        <%= link_to 'The Sola Story', :about_us, :class => 'button' %>
      </div>
    </div>
  </div>
</div>

<div class="callout blue">
  <div class="container">
    <h3 class="large" style="margin-bottom:0;"><span style="font-weight:normal">Want to learn more?</span> <%= link_to 'View frequently asked questions &raquo;'.html_safe, :faqs %></h3>
  </div>
</div>

<% content_for(:scripts) { javascript_include_tag('own_your_salon') } %>