<div class="hero-fullscreen">

  <div class="hero-carousel" data-autoplayoff="true">
    <div class="item"><%= image_tag 'own/hero_amenities_desktop.jpg', :id => 'our_studios_img', :alt => 'The interior of a salon studio', :width => 1480, :height => 993 %></div>
  </div>

  <div class="explore-studio">
    <div class="dot no-tooltip storage" data-html="<h3><%= t('page.our_studios.storage.heading').html_safe %></h3><p><%= t('page.our_studios.storage.body').html_safe %></p>"></div>
    <div class="dot no-tooltip insulated-walls" data-html="<h3><%= t('page.our_studios.insulated_walls.heading').html_safe %></h3><p><%= t('page.our_studios.insulated_walls.body').html_safe %></p>"></div>
    <div class="dot no-tooltip tool-cabinet" data-html="<h3><%= t('page.our_studios.tool_cabinet.heading').html_safe %></h3><p><%= t('page.our_studios.tool_cabinet.body').html_safe %></p>"></div>
    <div class="dot no-tooltip chair" data-html="<h3><%= t('page.our_studios.chair.heading').html_safe %></h3><p><%= t('page.our_studios.chair.body').html_safe %></p>"></div>
    <div class="dot no-tooltip cabinetry" data-html="<h3><%= t('page.our_studios.cabinetry.heading').html_safe %></h3><p><%= t('page.our_studios.cabinetry.body').html_safe %></p>"></div>
    <div class="dot no-tooltip mirror" data-html="<h3><%= t('page.our_studios.mirror.heading').html_safe %></h3><p><%= t('page.our_studios.mirror.body').html_safe %></p>"></div>
    <div class="dot no-tooltip products" data-html="<h3><%= t('page.our_studios.products.heading').html_safe %></h3><p><%= t('page.our_studios.products.body').html_safe %></p>"></div>
    <div class="dot no-tooltip wash-basin active" data-html="<h3><%= t('page.our_studios.wash_basin.heading').html_safe %></h3><p><%= t('page.our_studios.wash_basin.body').html_safe %></p>"></div>
  </div>

  <div id="amenity-description">
    <h3><%= t('page.our_studios.wash_basin.heading').html_safe %></h3><p><%= t('page.our_studios.wash_basin.body').html_safe %></p>
  </div>

  <div class="hero-content">
    <div class="hero-content-wrapper">

      <%= render 'tabs', :active => 'our-studios' %>

    </div>
  </div>
</div>
  
<div class="container" style="max-width: 550px;margin-bottom: 20px">
  <h2 class="brand text-center"><%= t('page.our_studios.heading1').html_safe %></h2>
</div>

<div class="studio-amenities">
  <div class="container container-inset">
    <h2 class="light text-center"><%= t('page.our_studios.heading2').html_safe %></h2>

    <ul>
      <% t('page.our_studios.list2').each_line do |li| %>
        <li><%= li.html_safe %></li>
      <% end %>
    </ul>

  </div>
</div>

<div class="owl-carousel owl-theme" data-pagination="true">
  <% if I18n.locale == :en %>
    <% (1..9).each do |number| %>
      <div class="item"><%= image_tag "https://d3p1kyyvw4qtho.cloudfront.net/amenities-gallery/sola#{number}.jpg", :alt => 'The interior of a salon studio' %></div>
    <% end %> 
  <% else %>
    <% (1..9).each do |number| %>
      <div class="item"><%= image_tag "https://d3p1kyyvw4qtho.cloudfront.net/amenities-gallery/amenity#{number}.jpg", :alt => 'The interior of a salon studio' %></div>
    <% end %> 
  <% end %> 
</div>

<div class="sola-professional-benefits">
  <div class="container container-inset">

    <h2 class="light text-center"><%= t('page.our_studios.heading3').html_safe %></h2>

    <ul>
      <% t('page.our_studios.list3', { 
        :sola_pro_link => link_to(t('page.own.section.sola_pro.title').html_safe, 'https://www.solaprofessional.com'),
        :sola_sessions_link => link_to(t('page.own.section.sola_sessions.title').html_safe, :sessions),
        :sola_salons_link => link_to(t('short_www_name').html_safe, 'https://www.solasalonstudios.com')
        }).each_line do |li| %>
        <li><%= li.html_safe %></li>
      <% end %>
    </ul>

    <p class="text-center gallery-button"><%= link_to t('page.our_studios.view_gallery_of_studios').html_safe, :gallery, :class => 'button primary' %></p>

  </div>
</div>

<% content_for(:title) { t('page.our_studios.title').html_safe } %>
<% content_for(:canonical_url) { "https://www.solasalonstudios.#{I18n.locale != :en ? 'ca' : 'com'}/our-studios" } %>
<% content_for(:meta_description) { t('page.why_sola.meta_description') } %>