<%= render 'shared/public_website/own_your_salon_nav', :page => :sola_pro %>

<div class="sola-pro">

  <div class="hero-wrapper">
    <div class="hero-carousel owl-carousel owl-theme">
      <div class="item">
        <div class="img-wrap" style="padding-bottom: 40%;">
          <%= image_tag 'pro/SolaPro-Main-Desktop-V18-R1.png', alt: 'A black man in a hat sitting on an armchair looks at the phone', width: 1600, height: 608 %>
        </div>
        <div class="item-content overlayed" style="top: 40px;">
          <div class="left-align-container" style="max-width: 1060px;">
            <%= image_tag 'pro/Sola-Pro-Logo-2020-7@2x.png', alt: 'A man in a hat looks at the phone', class: 'sola-pro-logo u-full-width' %>
            <div class="logo-desc"> An exclusive app to keep you educated, inspired, and connected. </div>
          </div>
        </div>
      </div>
    </div>
    <div class="sola-pro-iphone" >&nbsp;</div>
  </div>

  <div class="sola-pro-gallery" id="sola-pro-gallery">
    <div class="sola-pro-gallery-inner" id="sola-pro-gallery-inner" data-aos="fade-down" data-aos-offset="200">
      <%= render 'sola_pro_gallery_desktop' %>
    </div>
  </div>

  <div class="container" data-aos="fade-up" data-aos-offset="200">
    <div class="block-quote-testimonial">
      <h3><%= t('page.sola_pro.testimonial_text_new') %></h3>
      <%= image_tag 'pro/TahesaNelson.png', alt: 'Tahesa Nelson photo' %>
      <h4><%= t('page.sola_pro.testimonial_author_new') %></h4>
    </div>
  </div>

</div>


<% content_for(:scripts) { javascript_include_tag('sola_pro') } %>
<% content_for(:title) { t('page.sola_pro.title').html_safe } %>
<% content_for(:canonical_url) { "https://www.solasalonstudios.#{I18n.locale != :en ? 'ca' : 'com'}/sola-pro" } %>
<% content_for(:meta_description) { t('page.why_sola.meta_description') } %>
