<%= render 'shared/public_website/own_your_salon_nav', :page => :sola_sessions %>

<div class="sola-sessions">

  <div class="hero-carousel owl-carousel owl-theme">
    <div class="item">
      <div class="img-wrap"><%= image_tag 'Sessions_Hero.jpg', :width => 1785, :height => 894 %></div>
      <div class="item-content overlayed">
        <%= image_tag 'Sessions_Logo@2x.png', :class => 'sessions-logo' %>
        <h1 class="chalet"><%= t('page.sola_sessions.inspiration_education_community').html_safe %></h1>
        <%= link_to 'https://www.youtube.com/watch?v=i6AUSUofPUg', :class => "button primary play-video rounded-play-button" do %><%= t('page.sola_sessions.hero_button_text') %> <span class="fa fa-play-circle">&nbsp;</span><% end %>
        <div class="learn-more-button">
          <h5><%= t('page.sola_sessions.learn_more') %></h5>
          <span class="fa fa-angle-down"></span>
        </div>
      </div>
    </div>
  </div>

  <div class="container content-container">

    <div class="row session-row">
      <div class="one-third column">
        <h2><%= t('page.sola_sessions.about_sola_sessions') %></h2>
      </div>
      <div class="two-thirds column">
        <p style="margin-bottom: 0;"><%= t('page.sola_sessions.about_sola_sessions_text') %></p>
      </div>
    </div>

    <div class="row session-row">
      <div class="one-third column">
        <h2><%= t('page.sola_sessions.upcoming_sessions') %></h2>
      </div>
      <div class="two-thirds column">
        <%= link_to :san_diego_session, :class => "upcoming-session" do %>
          <div class="event-icon san-diego"></div>
          <h4>San Diego, CA</h4>
          <p>May 6th</p>
          <!-- <h6>Coming Soon!</h6> -->
          <span class="forward-arrow-black">&nbsp;</span>
        <% end %>
        <%= link_to :nashville_session, :class => "upcoming-session" do %>
          <div class="event-icon nashville"></div>
          <h4>Nashville, TN</h4>
          <p>September 16th</p>
          <span class="forward-arrow-black">&nbsp;</span>
        <% end %>
      </div>
    </div>

    <div class="row session-row past-sessions">
      <div class="twelve columns">
        <h2><%= t('page.sola_sessions.past_sessions') %></h2>
        
        <div class="carousel-wrapper">
          <div class="white-border">&nbsp;</div>

          <div class="owl-carousel owl-theme" data-items="2" data-itemsdesktopsmall="[960, 1]" data-autoplayoff="true" data-paginationoff="true">
            <div class="event">
              <%= image_tag "sessions/past-event-chicago.jpg" %>
              <div class="buttons">
                <a href="https://www.solasalonstudios.com/blog/the-sola-sessions--chicago" class="button outline-large-white"><%= t('page.sola_sessions.blog') %> <span class="forward-arrow-white">&nbsp;</span></a>
                <a href="https://solasessions.smugmug.com/The-Sola-Sessions-Chicago/n-f7mDtL/" target="_blank" class="button outline-large-white"><%= t('page.sola_sessions.photo_gallery') %> <span class="forward-arrow-white">&nbsp;</span></a>
              </div>
            </div>

            <div class="event">
              <%= image_tag "sessions/past-event-west-palm-beach.jpg" %>
              <div class="buttons">
                <a href="https://www.solasalonstudios.com/blog/the-sola-sessions--west-palm-beach" class="button outline-large-white"><%= t('page.sola_sessions.blog') %> <span class="forward-arrow-white">&nbsp;</span></a>
                <a href="https://solasessions.smugmug.com/The-Sola-Sessions-West-Palm-Beach/" target="_blank" class="button outline-large-white"><%= t('page.sola_sessions.photo_gallery') %> <span class="forward-arrow-white">&nbsp;</span></a>
              </div>
            </div>

            <div class="event">
              <%= image_tag "sessions/past-event-san-jose.jpg" %>
              <div class="buttons">
                <a href="https://www.solasalonstudios.com/blog/inspiration-from-the-san-jose-sola-sessions" class="button outline-large-white"><%= t('page.sola_sessions.blog') %> <span class="forward-arrow-white">&nbsp;</span></a>
                <a href="https://solasessions.smugmug.com/The-Sola-Sessions-San-Jose/n-R27Vhk/" target="_blank" class="button outline-large-white"><%= t('page.sola_sessions.photo_gallery') %> <span class="forward-arrow-white">&nbsp;</span></a>
              </div>
            </div> 

            <div class="event">
              <%= image_tag "sessions/past-event-washington-dc.jpg" %>
              <div class="buttons">
                <a href="https://www.solasalonstudios.com/blog/the-sola-sessions--washington-d-c" class="button outline-large-white"><%= t('page.sola_sessions.blog') %> <span class="forward-arrow-white">&nbsp;</span></a>
                <a href="https://solasessions.smugmug.com/The-Sola-Sessions-DC/n-4C7MJd/" target="_blank" class="button outline-large-white"><%= t('page.sola_sessions.photo_gallery') %> <span class="forward-arrow-white">&nbsp;</span></a>
              </div>
            </div> 

            <div class="event">
              <%= image_tag "sessions/past-event-dallas.jpg" %>
              <div class="buttons">
                <a href="https://www.solasalonstudios.com/blog/the-magic-of-the-dallas-sola-sessions" class="button outline-large-white"><%= t('page.sola_sessions.blog') %> <span class="forward-arrow-white">&nbsp;</span></a>
                <a href="http://solasessions.smugmug.com/The-Sola-Sessions-Dallas" target="_blank" class="button outline-large-white"><%= t('page.sola_sessions.photo_gallery') %> <span class="forward-arrow-white">&nbsp;</span></a>
              </div>
            </div> 
            
            <div class="event">
              <%= image_tag "sessions/past-event-charlotte.jpg" %>
              <div class="buttons">
                <a href="https://www.solasalonstudios.com/blog/the-sola-sessions--charlotte-recap" class="button outline-large-white"><%= t('page.sola_sessions.blog') %> <span class="forward-arrow-white">&nbsp;</span></a>
                <a href="https://solasessions.smugmug.com/The-Sola-Sessions-Charlotte/n-NX4x6J/" target="_blank" class="button outline-large-white"><%= t('page.sola_sessions.photo_gallery') %> <span class="forward-arrow-white">&nbsp;</span></a>
              </div>
            </div> 

            <div class="event">
              <%= image_tag "sessions/past-event-newport-beach.jpg" %>
              <div class="buttons">
                <a href="https://www.solasalonstudios.com/blog/the-sola-sessions--newport-beach-recap" class="button outline-large-white"><%= t('page.sola_sessions.blog') %> <span class="forward-arrow-white">&nbsp;</span></a>
                <a href="https://solasessions.smugmug.com/The-Sola-Sessions-Orange/n-QXL6tM/" target="_blank" class="button outline-large-white"><%= t('page.sola_sessions.photo_gallery') %> <span class="forward-arrow-white">&nbsp;</span></a>
              </div>
            </div> 

            <div class="event">
              <%= image_tag "sessions/past-event-minneapolis.jpg" %>
              <div class="buttons">
                <a href="https://www.solasalonstudios.com/blog/the_sola_sessions__minneapolis_recap" class="button outline-large-white"><%= t('page.sola_sessions.blog') %> <span class="forward-arrow-white">&nbsp;</span></a>
                <a href="https://solasessions.smugmug.com/The-Sola-Sessions-Minneapolis/n-BjfH8G/" target="_blank" class="button outline-large-white"><%= t('page.sola_sessions.photo_gallery') %> <span class="forward-arrow-white">&nbsp;</span></a>
              </div>
            </div> 

            <div class="event">
              <%= image_tag "sessions/past-event-denver.jpg" %>
              <div class="buttons">
                <a href="https://www.solasalonstudios.com/blog/the_sola_sessions__denver_recap" class="button outline-large-white"><%= t('page.sola_sessions.blog') %> <span class="forward-arrow-white">&nbsp;</span></a>
                <a href="https://solasessions.smugmug.com/The-Sola-SessionsDenver/n-f8zLwV/" target="_blank" class="button outline-large-white"><%= t('page.sola_sessions.photo_gallery') %> <span class="forward-arrow-white">&nbsp;</span></a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="row session-row">
      <div class="one-third column">
        <h2><%= t('page.sola_sessions.in_the_news') %></h2>
      </div>
      <div class="two-thirds column">
        <div class="in-the-news">
          <% Article.where(:id => [91, 73, 68, 62, 61, 53, 51, 48, 47]).order(:id => :desc).each do |article| %>
            <%= render 'shared/in_the_news_summary', :article => article, :social => 'circle' %>
          <% end %>
        </div>  
      </div>
    </div>

  </div>

  <div class="container">
    <div class="block-quote-testimonial">
      <h3><%= t('page.sola_sessions.testimonial_text') %></h3>
      <h4><%= t('page.sola_sessions.testimonial_author') %></h4>
      <h4 class="studio-name"><%= t('page.sola_sessions.testimonial_studio_name') %></h4> 
    </div>
  </div>

</div>

<% content_for(:scripts) { javascript_include_tag('in_the_news') } %>
<% content_for(:title) { t('page.sola_sessions.title').html_safe } %>
<% content_for(:canonical_url) { "https://www.solasalonstudios.#{I18n.locale != :en ? 'ca' : 'com'}/sola-sessions" } %>
<% content_for(:meta_description) { t('page.sola_sessions.meta_description') } %>