<%= render 'shared/public_website/own_your_salon_nav', :page => :sola_sessions %>

<div class="sola-sessions">

  <div class="hero-carousel owl-carousel owl-theme">
    <div class="item">
      <div class="img-wrap"><%= image_tag 'Sessions_Hero.jpg', :width => 1600, :height => 800 %></div>
      <div class="item-content overlayed">
        <%= image_tag 'Sessions_Logo@2x.png', :class => 'sessions-logo' %>
        <h1 class="chalet"><%= t('page.sola_sessions.inspiration_education_community').html_safe %></h1>
        <%= link_to :own_your_salon, :class => "button primary play-video rounded-play-button" do %><%= t('page.sola_sessions.hero_button_text') %> <span class="fa fa-play-circle">&nbsp;</span><% end %>
        <div class="learn-more-button">
          <h5><%= t('page.sola_sessions.learn_more') %></h5>
          <span class="fa fa-angle-down"></span>
        </div>
      </div>
    </div>
  </div>

  <div class="container content-container">

    <div class="row session-row">
      <div class="one-third column">
        <h2><%= t('page.sola_sessions.about_sola_sessions') %></h2>
      </div>
      <div class="two-thirds column">
        <p><%= t('page.sola_sessions.about_sola_sessions_text') %></p>
      </div>
    </div>

    <div class="row session-row">
      <div class="one-third column">
        <h2><%= t('page.sola_sessions.upcoming_sessions') %></h2>
      </div>
      <div class="two-thirds column">
        <%= link_to :west_palm_beach_session, :class => "upcoming-session" do %>
          <div class="event-icon west-palm-beach"></div>
          <h4>West Palm Beach, FL</h4>
          <p>April 9th</p>
          <span class="forward-arrow-black">&nbsp;</span>
        <% end %>
      </div>
    </div>

    <div class="row session-row">
      <div class="one-third column">
        <h2><%= t('page.sola_sessions.past_sessions') %></h2>
      </div>
      <div class="two-thirds column">
        
      </div>
    </div>

    <div class="row session-row">
      <div class="one-third column">
        <h2><%= t('page.sola_sessions.in_the_news') %></h2>
      </div>
      <div class="two-thirds column">
        <div class="in-the-news">
          <% Article.where(:id => [68, 62, 61, 53, 51, 48, 47]).order(:id => :desc).each do |article| %>
            <%= render 'shared/in_the_news_summary', :article => article, :social => 'circle' %>
          <% end %>
        </div>  
      </div>
    </div>

  </div>

  <div class="container">
    <div class="block-quote-testimonial">
      <h3><%= t('page.sola_sessions.testimonial_text') %></h3>
      <h4><%= t('page.sola_sessions.testimonial_author') %></h4>
      <h4 class="studio-name"><%= t('page.sola_sessions.testimonial_studio_name') %></h4> 
    </div>
  </div>

</div>

<% content_for(:scripts) { javascript_include_tag('in_the_news') } %>
<% content_for(:title) { t('page.sola_sessions.title').html_safe } %>
<% content_for(:canonical_url) { "https://www.solasalonstudios.#{I18n.locale != :en ? 'ca' : 'com'}/sola-sessions" } %>
<% content_for(:meta_description) { t('page.sola_sessions.meta_description') } %>