<%= render 'shared/public_website/own_your_salon_nav', :page => :why_sola %>

<div class="why-sola">

  <div class="hero-carousel owl-carousel owl-theme">
    <div class="item">
      <div class="img-wrap"><%= image_tag 'WhySola/WhySola_Hero.jpg', :width => 1600, :height => 800 %></div>
      <div class="item-content">
        <h1 class="chalet"><%= t('page.why_sola.hero_heading1').html_safe %></h1>
        <h1 class="chalet-new-york"><%= t('page.why_sola.hero_heading2').html_safe %></h1>
        <%= link_to :own_your_salon, :class => "button primary play-video rounded-play-button" do %><%= t('page.why_sola.hero_button_text') %> <span class="fa fa-play-circle">&nbsp;</span><% end %>
        <div class="learn-more-button">
          <h5><%= t('page.why_sola.learn_more') %></h5>
          <span class="fa fa-angle-down"></span>
        </div>
      </div>
    </div>
  </div>

  <div class="container content-container">
    <div class="row">
      <div class="six columns">
        <h2><%= t('page.why_sola.be_in_business_heading') %></h2>
        <p><%= t('page.why_sola.be_in_business_p1') %></p>
        <p><%= t('page.why_sola.be_in_business_p2') %></p>
      </div>
      <div class="six columns">
        <%= image_tag 'WhySola/WhySola_2.jpg', :class => 'u-full-width' %>
      </div>
    </div>
  </div>

  <div class="sola-freedom">
    <h2 class="text-center"><%= t('page.why_sola.freedom_heading') %></h2>
    <div class="container">
      <div class="row">
        <div class="three columns">
          <div class="freedom-tile">
            <span class="icon lock"></span>
            <span class="text"><%= t('page.why_sola.freedom_tile_1') %></span>
          </div>
        </div>
        <div class="three columns">
          <div class="freedom-tile">
            <span class="icon price"></span>
            <span class="text"><%= t('page.why_sola.freedom_tile_2') %></span>
          </div>
        </div>
        <div class="three columns">
          <div class="freedom-tile">
            <span class="icon clock"></span>
            <span class="text"><%= t('page.why_sola.freedom_tile_3') %></span>
          </div>
        </div>
        <div class="three columns">
          <div class="freedom-tile">
            <span class="icon chat"></span>
            <span class="text"><%= t('page.why_sola.freedom_tile_4') %></span>
          </div>
        </div>                        
      </div>

      <div class="row">
        <div class="three columns">
          <div class="freedom-tile">
            <span class="icon music"></span>
            <span class="text"><%= t('page.why_sola.freedom_tile_5') %></span>
          </div>
        </div>
        <div class="three columns">
          <div class="freedom-tile">
            <span class="icon heart"></span>
            <span class="text"><%= t('page.why_sola.freedom_tile_6') %></span>
          </div>
        </div>
        <div class="three columns">
          <div class="freedom-tile">
            <span class="icon wifi"></span>
            <span class="text"><%= t('page.why_sola.freedom_tile_7') %></span>
          </div>
        </div>
        <div class="three columns">
          <div class="freedom-tile active-tile">
            <span class="text"><%= t('page.why_sola.freedom_tile_8') %></span>
            <a href="#"><%= t('page.why_sola.freedom_tile_8_link') %></a>
          </div>
        </div>                        
      </div>
      <p class="text-center"><%= t('page.why_sola.freedom_text') %></p>
    </div>
  </div>

  <div class="sola-flexibility">
    <div class="container">
      <h1 class="chalet"><%= t('page.why_sola.flexibility_statement') %></h1>
      <p><%= t('page.why_sola.flexibility_subhead1') %></p>
      <div class="bottom-copy">
        <p><%= t('page.why_sola.flexibility_subhead2') %></p>
        <p><%= t('page.why_sola.flexibility_subhead3') %></p>
      </div>
    </div>
  </div>

  <div class="sola-benefits">
    <div class="container">
      
      <h2 class="text-center"><%= t('page.why_sola.beautiful_studios_exclusive_perks') %></h2>
      <p class="text-center"><%= t('page.why_sola.at_sola_you_get_more') %></p>
      
      <div class="row">
        <div class="columns four">
          <%= link_to :our_studios, :class => 'benefit-tile' do %>
            <div class="img-wrap">
              <%= image_tag 'WhySola/OurStudios.jpg' %>
              <span class="title"><%= t('page.why_sola.beautiful_studios') %></span>
            </div>
            <span class="text"><%= t('page.why_sola.beautiful_studios_text') %></span>
          <% end %>
        </div>
        <div class="columns four">
          <%= link_to :sola_sessions, :class => 'benefit-tile' do %>
            <div class="img-wrap">
              <%= image_tag 'WhySola/Community_Support.jpg' %>
              <span class="title"><%= t('page.why_sola.community_support') %></span>
            </div>
            <span class="text"><%= t('page.why_sola.community_support_text') %></span>
          <% end %>
        </div>
        <div class="columns four">
          <%= link_to :sola_pro, :class => 'benefit-tile' do %>
            <div class="img-wrap">
              <%= image_tag 'WhySola/Webpage.jpg' %>
              <span class="title"><%= t('page.why_sola.your_own_sola_webpage') %></span>
            </div>
            <span class="text"><%= t('page.why_sola.your_own_sola_webpage_text') %></span>
          <% end %>
        </div>        
      </div>

      <div class="row">
        <div class="columns four">
          <%= link_to :sola_pro, :class => 'benefit-tile' do %>
            <div class="img-wrap">
              <%= image_tag 'WhySola/SolaPro.jpg' %>
              <span class="title"><%= t('page.why_sola.sola_pro') %></span>
            </div>
            <span class="text"><%= t('page.why_sola.sola_pro_text') %></span>
          <% end %>
        </div>
        <div class="columns four">
          <%= link_to :sola_sessions, :class => 'benefit-tile' do %>
            <div class="img-wrap">
              <%= image_tag 'WhySola/SolaSessions.jpg' %>
              <span class="title"><%= t('page.why_sola.sola_sessions') %></span>
            </div>
            <span class="text"><%= t('page.why_sola.sola_sessions_text') %></span>
          <% end %>
        </div>
        <div class="columns four">
          <%= link_to :solagenius, :class => 'benefit-tile' do %>
            <div class="img-wrap">
              <%= image_tag 'WhySola/SolaGenius.jpg' %>
              <span class="title"><%= t('page.why_sola.solagenius') %></span>
            </div>
            <span class="text"><%= t('page.why_sola.solagenius_text') %></span>
          <% end %>
        </div>        
      </div>

    </div> <!-- container -->
  </div> <!-- sola-benefits -->

  <div class="search-for-a-salon">
    <div class="container">

      <h1 class="chalet"><%= t('page.why_sola.dont_just_dream_do') %></h1>
      <h1 class="chalet-new-york"><%= t('page.why_sola.become_a_salon_owner') %></h1>
      <p><%= t('page.why_sola.search_for_a_salon') %></p>

      <div class="row">
        <div class="six columns">
          <form class="search-form" action="<%= find_salon_location_path %>">
            <div class="search-input-with-button">
              <span class="spyglass-black"></span>
              <input name="query" type="text" class="searchbox" placeholder="<%= t('page.home.search_location') %>" />
              <button type="submit"><%= t('page.why_sola.search') %></button>
            </div>
          </form>
        </div>
        <div class="six columns">

        </div>
      </div>

      <div class="salon-search-results"></div>
      <div class="salon-search-spinner">
        <div class="spinner">&nbsp;</div>
      </div>

      <div class="view-all-locations"><%= link_to :locations do %><%= t('page.why_sola.view_all_locations') %><% end %></div>

    </div>
  </div>

</div> <!-- why-sola -->

<% content_for(:scripts) { javascript_include_tag('search_salon') } %>
<% content_for(:title) { t('page.why_sola.title').html_safe } %>
<% content_for(:canonical_url) { "https://www.solasalonstudios.#{I18n.locale != :en ? 'ca' : 'com'}/why-sola" } %>
<% content_for(:meta_description) { t('page.why_sola.meta_description') } %>