<%= render 'shared/public_website/own_your_salon_nav', :page => :why_sola %>

<div class="why-sola">

  <div class="hero-carousel owl-carousel owl-theme">
    <div class="item">
      <div class="img-wrap"><%= image_tag 'WhySola/WhySola_Hero.jpg', :width => 1600, :height => 800 %></div>
      <div class="item-content">
        <h2><%= t('page.why_sola.hero_heading1').html_safe %></h2>
        <h2><%= t('page.why_sola.hero_heading2').html_safe %></h2>
        <%= link_to :own_your_salon, :class => "button primary play-video rounded-play-button" do %><%= t('page.why_sola.hero_button_text') %> <span class="fa fa-play-circle">&nbsp;</span><% end %>
      </div>
    </div>
  </div>

</div>

<% content_for(:title) { t('page.why_sola.title').html_safe } %>
<% content_for(:canonical_url) { "https://www.solasalonstudios.#{I18n.locale != :en ? 'ca' : 'com'}/why-sola" } %>
<% content_for(:meta_description) { t('page.why_sola.meta_description') } %>