<div class="sidebar">
  <div class="page-nav-overlay">
    <div class="sidebar-content nav">
      <% why_sola_sections.each do |section| %>
        <% text = t("page.why_sola.sidebar.#{section}") %>
        <div class="nav-item" aria-label="<%= text %>">
          <div class="text" aria-hidden="true"><%= text %></div>
          <%= link_to "##{section}", class: 'nav-link', 'aria-hidden' => "true" do %>
            <div class="circle" aria-hidden="true"></div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= render 'shared/public_website/own_your_salon_nav_new', :page => :why_sola %>

<div class="why-sola">

  <%= render 'why_sola_hero' %>

  <div id="why_sola" class="container content-container">
    <div class="flex-row justify-content-center learn-more-button-wrapper">
      <div class="learn-more-button d-flex flex-column align-items-center">
        <a style="color: #D6D6D6;font-size: 1.4em;text-decoration: none;" href="#why_sola"><%= t('page.see_more') %></a>
        <span class="fa fa-angle-down text-center" style="font-size: 1.4em" aria-hidden="true"></span>
      </div>
    </div>
    <div class="row">
      <div class="six columns">
        <h2><%= t('page.why_sola.be_in_business_heading') %></h2>
        <p><%= t('page.why_sola.be_in_business_p1').html_safe %></p>
        <p><%= t('page.why_sola.be_in_business_p2').html_safe %></p>
      </div>
      <div class="six columns with-action-button">
        <% if I18n.locale.to_s.in?(['en', 'en-CA']) %>
          <h2>Intrigued by the idea of being your own boss?</h2>
          <p>Download our free guide to discover if the independent life is right for you!</p>
          <p><a href="/goingindependent" class="button primary">Download Now</a></p>
        <% end %>
      </div>
      <div class="six columns">
        <% if I18n.locale.to_s == 'pt-BR' %>
          <%= image_tag 'https://s3.amazonaws.com/solasalonstudiosbr/pages/why_sola/banner+sidebar/WhySola_2.png', alt: "Photo of hairdressers at work", :class => 'u-full-width' %>
        <% else %>
          <%= image_tag 'https://d3p1kyyvw4qtho.cloudfront.net/why_sola_content.png', alt: "Photo of hairdressers at work", :class => 'u-full-width' %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="sola-freedom">
    <h2 class="text-center"><%= t('page.why_sola.freedom_heading') %></h2>
    <div class="container">
      <div class="row">
        <div class="three columns">
          <div class="freedom-tile">
            <span class="icon lock"></span>
            <span class="text"><%= t('page.why_sola.freedom_tile_1') %></span>
          </div>
        </div>
        <div class="three columns">
          <div class="freedom-tile">
            <span class="icon price"></span>
            <span class="text"><%= t('page.why_sola.freedom_tile_2') %></span>
          </div>
        </div>
        <div class="three columns">
          <div class="freedom-tile">
            <span class="icon clock"></span>
            <span class="text"><%= t('page.why_sola.freedom_tile_3') %></span>
          </div>
        </div>
        <div class="three columns">
          <div class="freedom-tile">
            <span class="icon chat"></span>
            <span class="text"><%= t('page.why_sola.freedom_tile_4') %></span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="three columns">
          <div class="freedom-tile">
            <span class="icon music"></span>
            <span class="text"><%= t('page.why_sola.freedom_tile_5') %></span>
          </div>
        </div>
        <div class="three columns">
          <div class="freedom-tile">
            <span class="icon heart"></span>
            <span class="text"><%= t('page.why_sola.freedom_tile_6') %></span>
          </div>
        </div>
        <div class="three columns">
          <div class="freedom-tile">
            <span class="icon wifi"></span>
            <span class="text"><%= t('page.why_sola.freedom_tile_7') %></span>
          </div>
        </div>
        <div class="three columns desktop-only">
          <div class="freedom-tile active-tile">
            <span class="text"><%= t('page.why_sola.freedom_tile_8') %></span>
            <%= link_to :locations do %><%= t('page.why_sola.freedom_tile_8_link') %><% end %>
          </div>
        </div>
      </div>

      <div class="row mobile-only">
        <div class="three columns">
          <div class="freedom-tile active-tile">
            <span class="text"><%= t('page.why_sola.freedom_tile_8') %></span>
            <%= link_to :locations do %><%= t('page.why_sola.freedom_tile_8_link') %><% end %>
            <p class="text-center freedom-text-mobile"><%= t('page.why_sola.freedom_text') %></p>
          </div>
        </div>
      </div>

      <p class="text-center freedom-text-desktop"><%= t('page.why_sola.freedom_text') %></p>
    </div>
  </div>

  <div class="sola-flexibility">
    <div class="container">
      <h1 class="chalet"><%= t('page.why_sola.flexibility_statement') %></h1>
      <p><%= t('page.why_sola.flexibility_subhead1') %></p>
    </div>
  </div>

  <div class="sola-difference text-center">
    <h2>
      Experience the Sola
      <%= image_tag 'https://d3p1kyyvw4qtho.cloudfront.net/own_your_salon/difference.png', alt: "Difference", height: 88 %>
    </h2>
  </div>

  <div id="sola_pro" class="sola-pro">
    <div class="hero-wrapper">
      <div class="hero-carousel owl-carousel owl-theme">
        <div class="item">
          <div class="img-wrap"></div>
          <div class="item-content overlayed" style="top: 40px;">
            <div class="center-align-container" style="max-width: 1060px;">
              <%= image_tag 'pro/Sola-Pro-Logo-2020-7@2x.png', alt: 'A man in a hat looks at the phone', class: 'sola-pro-logo u-full-width' %>
              <div class="logo-desc"> An exclusive app to keep you educated, inspired, and connected. </div>
              <%= link_to '#sola-pro-gallery-inner', class: 'arrow-link' do %>
                <i class="fa fa-angle-down text-center" aria-label="Scroll to sola pro gallery"></i>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="sola-pro-gallery" id="sola-pro-gallery">
      <div class="sola-pro-gallery-inner" id="sola-pro-gallery-inner" data-aos="fade-down" data-aos-offset="200">
        <%= render 'sola_pro_gallery_desktop' %>
      </div>
    </div>

    <div class="container" data-aos="fade-up" data-aos-offset="200">
      <div class="block-quote-testimonial">
        <h3><%= t('page.sola_pro.testimonial_text_new') %></h3>
        <%= image_tag 'pro/TahesaNelson.png', alt: "Tahesa Nelson photo" %>
        <h4><%= t('page.sola_pro.testimonial_author_new') %></h4>
      </div>
    </div>
    <% content_for(:scripts) { javascript_include_tag('sola_pro') } %>
  </div>

  <% if english_locale? %>
    <div id="solagenius" class="sola-genius">
    <div class="hero-wrapper">
      <div class="sologenius-logo">solagenius</div>
      <div class="solagenius-subtitle"><%= t('page.why_sola.solagenius-subtitle') %></div>
      <div class="gift-cards">
        <a class="button primary" href="https://glossgenius.biz/solagenius?utm_source=Sola&utm_medium=Website&utm_campaign=Own_Your_Salon">
          <%= t('page.why_sola.sign-up-for-free-trial') %>
        </a>
      </div>
      <%= link_to '#sola-genius-gallery-inner', class: 'arrow-link', "aria-label" => "Scroll to sola genius gallery" do %>
        <i class="fa fa-angle-down text-center" aria-hidden="true"></i>
      <% end %>
    </div>

    <div class="sola-genius-gallery" id="sola-genius-gallery">
      <div class="sola-genius-gallery-inner" id="sola-genius-gallery-inner">
        <div class="explore-sola-genius">
          <h2 data-aos="fade-down" data-aos-offset="200"><%= t('page.sola_genius.run_your_sola_like_a_boss') %></h2>
        </div>
        <%= render 'sola_genius_gallery_desktop' %>
      </div>
    </div>
  </div>

    <% content_for(:scripts) { javascript_include_tag('solagenius') } %>

    <div id="booknow" class="book-now-service">
    <div class="container">
      <div class="book-now-service-main-content">
        <div class="book-now-service-text">
          BOOK<strong>NOW</strong> by SOLAGENIUS
        </div>
        <h2 class="book-now-service-header">
          <%= t('page.why_sola.book-now-service-header') %>
        </h2>
        <div class="book-now-service-description">
          <%= t('page.why_sola.book-now-service-description') %>
        </div>

        <div class="video-block">
          <%= link_to '//www.youtube.com/watch?v=6ubV89EdbmI', rel: 'nofollow', class: 'button primary play-video' do %>
            <i class="fa fa-play-circle-o" aria-hidden="true"></i>
            <%= t('page.why_sola.watch-video-btn') %>
          <% end %>
        </div>

        <%= link_to "#success-story-modal", class: 'open-magnific-popup-link'  do %>
          <div class="book-now-service-success-story">
            <div class="book-now-service-success-story-logo">
              <%= image_tag 'https://d3p1kyyvw4qtho.cloudfront.net/own_your_salon/2018-Faces-of-Sola.png', alt: "Headshot of Sola master" %>
            </div>
            <div class="book-now-service-success-story-title">
              <span><%= t('page.why_sola.success-story') %></span>
            </div>
          </div>
        <% end %>

        <div class="mfp-hide industry-leading-education-feature-modal" id="success-story-modal">
          <div class="wrapper">
            <div class="info-wrapper">
              <div class="info">
                <div class="body">
                  <p class="subtitle"><%= t("page.why_sola.solagenius-modal.success-story.name") %></p>
                  <p><%= t("page.why_sola.solagenius-modal.success-story.paragraph-1") %></p>
                  <p><%= t("page.why_sola.solagenius-modal.success-story.paragraph-2").html_safe %></p>
                  <p class="subtitle"><%= t("page.why_sola.solagenius-modal.success-story.sign1") %></p>
                  <p class="subtitle"><%= t("page.why_sola.solagenius-modal.success-story.sign2") %></p>
                </div>
              </div>
            </div>

            <div class="image success-story">
              <div class="icon"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="book-now-service-main-image"></div>
    <div class="book-now-service-square-image"></div>
  </div>
  <% end %>

  <div id="education" class="industry-leading-education">
    <div class="container">
      <div class="industry-leading-education-logo"></div>
      <div class="industry-leading-education-logo-text">
        <%= t('page.why_sola.industry-leading-education-logo-text') %>
      </div>
      <div class="industry-leading-education-features d-flex flex-wrap flex-lg-nowrap justify-content-center">
        <% %w[virtual_education sola_blog sola_stories_podcast sola_sessions].each do |feature| %>
          <% target = '_self'
             link, button_image = case feature
                    when 'virtual_education'
                      target = '_blank'
                      ['https://www.youtube.com/playlist?list=PLDtxLW3eBObMYyz3QhRK9yeeL-TmHEJxe', nil]
                    when 'sola_blog'
                      ['/blog', nil]
                    when 'sola_stories_podcast'
                      ['/blog/category/sola-stories-podcast', nil]
                    when 'sola_sessions'
                      target = '_blank'
                      ['https://www.facebook.com/solasalons/videos/1286034231819762', 'Square-OnSaleNow.png']
                    else
                      ['#', nil]
                    end
          %>
          <% additional_class = '' %>
          <% dashed_feature = feature.humanize.parameterize %>
          <% modal_id = dashed_feature + '-modal' %>
          <div class="industry-leading-education-feature-wrapper">
            <%= link_to (feature == 'sola_sessions' ? "https://www.facebook.com/solasalons/videos/1286034231819762" : "##{modal_id}"), class: "#{'open-magnific-popup-link' unless feature == 'sola_sessions'} industry-leading-education-feature", target: (feature == 'sola_sessions' ? '_blank' : '_self') do %>
              <div class="industry-leading-education-feature-icon" style="background-image: url('https://d3p1kyyvw4qtho.cloudfront.net/own_your_salon/<%= button_image.presence || "#{dashed_feature}.png" %>')"></div>
              <div class="industry-leading-education-feature-title">
                <%= t("page.why_sola.education-feature.title.#{dashed_feature}") %>
              </div>
            <% end %>
            <% unless feature == 'sola_sessions' %>
              <div class="mfp-hide industry-leading-education-feature-modal" id="<%= modal_id %>">
                <div class="wrapper">
                  <div class="info-wrapper">
                    <div class="info">
                      <div class="title"><%= t("page.why_sola.education-feature-modal.#{dashed_feature}.title") %></div>
                      <div class="body">
                        <p><%= t("page.why_sola.education-feature-modal.#{dashed_feature}.paragraph-1") %></p>
                        <p class="subtitle"><%= t("page.why_sola.education-feature-modal.#{dashed_feature}.subtitle") %></p>
                        <%= t("page.why_sola.education-feature-modal.#{dashed_feature}.paragraph-2").html_safe %>
                        <%= link_to t("page.why_sola.education-feature-modal.#{dashed_feature}.button"), link, target: target, class: "button primary #{additional_class}" %>
                      </div>
                    </div>
                  </div>

                  <div class="image <%= dashed_feature %>">
                    <div class="icon"></div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <% if english_locale? %>
    <div id="beauty_hive">
      <div class="img-wrap">
        <div class="wrapper">
          <div class="beauty-hive-title-wrapper">
            <i class="beauty-hive-icon"></i>
            <div class="beauty-hive-title"><%= t('page.why_sola.beauty-hive.title') %></div>
          </div>
          <div class="beauty-hive-subtitle">
            <%= t('page.why_sola.beauty-hive.subtitle').html_safe %>
          </div>
          <div class="learn-more"><a href="#more_about_beauty_hive"><%= t('page.why_sola.beauty-hive.learn-more') %></a></div>
        </div>
      </div>
      <div id="more_about_beauty_hive" class="container">
        <div class="icon-crown"></div>
        <div class="content d-flex flex-wrap flex-lg-nowrap">
          <div class="main">
            <h2><%= t('page.why_sola.beauty-hive.content.title') %></h2>
            <div class="main-text"><%= t('page.why_sola.beauty-hive.content.text') %></div>
            <%= link_to t('page.why_sola.beauty-hive.content.join'), 'https://www.beautyhive.com/pages/pro-registration?utm_source=Sola&utm_medium=Website&utm_campaign=Own_Your_Salon', class: 'button primary', target: '_blank' %>
          </div>

          <div class="features">
            <% %w[cashback perks shipping-orders same-day-shipping real-time-checks guarantee].each do |feature| %>
              <div class="feature <%= feature %>">
                <i class="icon <%= feature %>" style="background-image: url('https://d3p1kyyvw4qtho.cloudfront.net/own_your_salon/<%= feature %>-icon.png')"></i>
                <text class="text"><%= t("page.why_sola.beauty-hive.features.#{feature}").html_safe %></text>
              </div>
            <% end %>
            <%= link_to t('page.why_sola.beauty-hive.content.join'), 'https://www.beautyhive.com/pages/pro-registration?utm_source=Sola&utm_medium=Website&utm_campaign=Own_Your_Salon', class: 'button primary', target: '_blank' %>
          </div>
        </div>
      </div>
    </div>

    <div id="the_sola_store" class="sola-store">
      <div class="img-wrap">
        <div class="image-on-hover">
          <div class="container">
            <div class="text">From apparel, aprons, capes and masks to water bottles, coffee cups and so much more - the Sola Store lets you rep your Sola pride in style!</div>
            <%= link_to 'Shop Now', 'https://thesolastore.com/', class: 'button primary', target: '_blank' %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <div class="search-for-a-salon">
    <div class="container">

      <h1 class="chalet"><%= t('page.why_sola.dont_just_dream_do') %></h1>
      <h1 class="chalet-new-york"><%= t('page.why_sola.become_a_salon_owner') %></h1>

      <% if I18n.locale.to_s != 'pt-BR' %>
        <p><%= t('page.why_sola.search_for_a_salon') %></p>

        <div class="row">
          <div class="twelve columns">
            <form class="search-form search-salon" action="<%= find_salon_location_path %>">
              <div class="search-input-with-button">
                <span class="spyglass-black"></span>
                <input name="query" type="text" class="searchbox" placeholder="<%= t('page.home.search_location') %>" />
                <button type="submit"><%= t('page.why_sola.search') %></button>
              </div>
            </form>
          </div>
        </div>

        <div class="salon-search-results"></div>
        <div class="salon-search-spinner">
          <div class="spinner">&nbsp;</div>
        </div>

        <div class="view-all-locations"><%= link_to :locations do %><%= t('page.why_sola.view_all_locations') %><% end %></div>
      <% end %>

      <% if I18n.locale.to_s == 'en' %>
        <%= render 'shared/contact_form_component', :required_fields => [:name, :email, :how_can_we_help_you]  %>
      <% end %>

    </div>
  </div>

</div> <!-- why-sola -->

<!--<div class="floating-find-a-studio">-->
  <%#= link_to :contact_us, :class => "button primary" do %>
    <%#= t('page.why_sola.contact_us') %>
  <%# end %>
<!--</div>-->
<div class="mfp-hide industry-leading-education-feature-modal" id="campaign_banner">
  <div class="wrapper">
    <div class="image campaign-banner">
      <%= link_to 'http://www.solasessions.com', target: '_blank' do %>
        <img src="https://d3p1kyyvw4qtho.cloudfront.net/own_your_salon/SOLASessions_Questex_roller_foreground1.png" alt="link"/>
      <% end %>
      <div class="icon"></div>
    </div>
  </div>
</div>

<% content_for(:scripts) { javascript_include_tag('search_salon') } %>
<% content_for(:scripts) { javascript_include_tag('why_sola') } %>
<% content_for(:title) { t('page.why_sola.title').html_safe } %>
<% content_for(:canonical_url) { "https://www.solasalonstudios.#{I18n.locale != :en ? 'ca' : 'com'}/why-sola" } %>
<% content_for(:meta_description) { t('page.why_sola.meta_description') } %>




<script type="text/javascript">
  <% if false && Time.current < DateTime.parse('28/09/2021') %>
    $(document).ready(function(){
      $.magnificPopup.open({items: {src: '#campaign_banner'}, type: 'inline'});
    });
  <% end %>
  <% if params[:open_modal].present? %>
    $(document).ready(function(){
      $.magnificPopup.open({items: {src: '#<%= params[:open_modal] %>'}, type: 'inline'});
    });
  <% end %>
</script>
