<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="format-detection" content="telephone=no">
      <meta name="keywords" content="keyword1, keyword2">
      <meta name="description" content=" ">
      <title>Muito Mais Liberdade - Sola Salon Studios</title>
      <!-- SET: FAVICON -->
      <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
      <link href="https://fonts.googleapis.com…Dosis:400,700|Lato:300,400,700" rel="stylesheet" type="text/css">
      <link rel="stylesheet" href="https://use.typekit.net/bvh7uvi.css">
      <!-- SET: STYLESHEET -->
      <%= stylesheet_link_tag "bootstrap4hack", media: "all" %>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
      <%= stylesheet_link_tag "slick", media: "all" %>
      <%= stylesheet_link_tag "slick-theme", media: "all" %>
      <%= stylesheet_link_tag "sejasola", media: "all" %>
      <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <script type="text/javascript" src="js/IE9.js"></script>
      <![endif]-->
   </head>
   <body>
      <div class="wrapper">
         <!--header start-->
         <header>
            <div class="container">
               <div class="logo text-center">
                  <a href="#"><%= image_tag "brazil/sejasola/logo.png", :width => "140", :height => "83" %></a>
               </div>
            </div>
         </header>
         <!--banner start-->
         <div class="banner">
            <div class="banner_cnt d-flex flex-wrap">
               <div class="banner_lft col-md-4 col-lg-4 col-xl-5 align-self-end">
                  <figure><%= image_tag "brazil/sejasola/woman_image.png", :width => "692", :height => "808" %></figure>
               </div>
               <div class="banner_mid  col-12 col-md-4  col-lg-4 col-xl-3 text-center align-self-end">
                  <div class="midtxt">
                     <h2>Muito Mais</h2>
                     <h1>Liberdade</h1>
                  </div>
                  <div class="quer text-left">
                     <span>Quer Conhecer o Sola?</span>
                     <p>Preencha o formulário abaixoe<br> um de nossos representantes <br>entrará em contato</p>
                     <form id="form">
                        <ul>
                           <li>
                              <label style="margin-top:6px">Seu nome</label>
                              <input type="text" name="nome" id="nome" placeholder="">
                           </li>
                           <li>
                              <label style="margin-top:6px">Seu email</label>
                              <input type="text" name="email" id="email" placeholder="">
                           </li>
                           <li>
                              <label style="margin-top:6px">Seu telefone</label>
                              <input type="text" name="telefone" id="telefone" placeholder="">
                           </li>
                           <li>
                              <button type="submit" id="submit">ENVIAR</button>
                           </li>
                        </ul>
                        <div class="clear"></div>
                     </form>
                  </div>
               </div>
               <div class="banner_rt col-md-4 col-lg-4  col-xl-4 align-self-end">
                  <figure><%= image_tag "brazil/sejasola/man_image.png", :width => "577", :height => "808" %></figure>
               </div>
               <div class="clearfix"></div>
            </div>
         </div>
         <!--content start-->
         <!--sola start-->
         <div class="sola">
            <div class="container">
               <div class="sola-cnt">
                  <h3 class="text-center">Por Que Sola</h3>
                  <div class="content-list">
                     <ul class="d-flex flex-wrap">
                        <li class="col-md-3 col-sm-6">
                           <div class="list d-flex align-items-center d-sm-block">
                              <span class="icon">  
                              <%= image_tag "brazil/sejasola/icon1.png", :width => "80", :height => "79" %>
                              </span>
                              <p>Fuja da política e do drama dos salões de beleza. Tenha seu próprio estúdio privado, seguro e totalmente equipado.</p>
                           </div>
                        </li>
                        <li class="col-md-3 col-sm-6">
                           <div class="list d-flex align-items-center d-sm-block">
                              <span class="icon">
                              <%= image_tag "brazil/sejasola/icon2.png", :width => "63", :height => "79" %>
                              </span>
                              <p>Gerencie sua própria agenda com acesso ao estúdio 24 horas por dia, 7 dias por semana.</p>
                           </div>
                        </li>
                        <li class="col-md-3 col-sm-6">
                           <div class="list d-flex align-items-center d-sm-block">
                              <span class="icon">
                              <%= image_tag "brazil/sejasola/icon3.png", :width => "65", :height => "79" %>
                              </span>
                              <p>Você nunca está sozinho, nós cuidamos de tudo para que vc se dedique ao seu cliente</p>
                           </div>
                        </li>
                        <li class="col-md-3 col-sm-6">
                           <div class="list d-flex align-items-center d-sm-block">
                              <span class="icon">
                              <%= image_tag "brazil/sejasola/icon4.png", :width => "62", :height => "79" %>
                              </span>
                              <p>Defina seu próprio preço para serviços e produtos.</p>
                           </div>
                        </li>
                        <li class="col-md-3 col-sm-6">
                           <div class="list d-flex align-items-center d-sm-block">
                              <span class="icon">
                              <%= image_tag "brazil/sejasola/icon5.png", :width => "65", :height => "79" %>
                              </span>
                              <p>Gerencie os custos com facilidade, na palma de sua mão. WiFi liberado para você e seus clientes através de um aplicativo de última geração</p>
                           </div>
                        </li>
                        <li class="col-md-3 col-sm-6">
                           <div class="list d-flex align-items-center d-sm-block">
                              <span class="icon">
                              <%= image_tag "brazil/sejasola/icon6.png", :width => "65", :height => "79" %>
                              </span>
                              <p>Desfrute de um ambiente íntimo e dê a atenção individual que seus convidados merecem.</p>
                           </div>
                        </li>
                        <li class="col-md-3 col-sm-6">
                           <div class="list d-flex align-items-center d-sm-block">
                              <span class="icon">
                              <%= image_tag "brazil/sejasola/icon7.png", :width => "65", :height => "79" %>
                              </span>
                              <p>Personalize o espaço de seu salão de beleza – com obras de arte, música, móveis e decoração.</p>
                           </div>
                        </li>
                        <li class="col-md-3 col-sm-6">
                           <div class="list d-flex align-items-center d-sm-block">
                              <span class="icon">
                              <%= image_tag "brazil/sejasola/icon8.png", :width => "61", :height => "79" %>
                              </span>
                              <p>Construa sua marca e permita que sua carreira prospere.</p>
                           </div>
                        </li>
                     </ul>
                     <a href="#" class="falebtn">Fale Com Nossos Especialistas</a>
                  </div>
               </div>
            </div>
         </div>
         <!--noss class start-->
         <div class="noss">
            <div class="container">
               <div class="noss-cnt text-center">
                  <h3>Nossos Diferenciais</h3>
                  <div class="mais">
                     <ul class="d-flex flex-wrap justify-content-sm-center">
                        <li class="first col-sm-4 text-md-left">
                           <span>Mais de</span>
                           <strong>10.000</strong>
                           <span>Profissionais</span>
                        </li>
                        <li class="second col-sm-4 text-md-left">
                           <span>Mais de</span>
                           <strong>400</strong>
                           <span>Unidades</span>
                        </li>
                        <li class="third col-sm-4 text-md-left">
                           <span>Mais de</span>
                           <strong>14 anos</strong>
                           <span>de História</span>
                        </li>
                     </ul>
                     <a href="#" class="falebtn nossbtn">Saiba Mais</a>
                  </div>
               </div>
            </div>
         </div>
         <!--noss class end-->
         <!--quem class start-->
         <div class="quem">
            <div class="container">
               <div class="quem-cnt">
                  <h3>Quem Já é Sola</h3>
                  <div class="quem-list">
                     <ul class="slider-main">
                        <li>
                           <div class="scott text-center">
                              <%= image_tag "brazil/sejasola/slider_img1.jpg", :width => "308", :height => "150" %>
                              <h6>LaShonda Banks</h6>
                              <p>O modelo de negócios criado pelo Sola é verdadeiro. Você está no negócio por você mesmo, mas você não está sozinho. É ótimo ter o Sola como recurso. Eles foram consistentes desde o dia em que assinei meu contrato de arrendamento, e isso foi há 11 anos.</p>
                           </div>
                        </li>
                        <li>
                           <div class="scott text-center">
                              <%= image_tag "brazil/sejasola/slider_img2.jpg", :width => "308", :height => "150" %>
                              <h6>Ashley Lantz</h6>
                              <p>O Sola tornou o processo de independência completamente harmonioso. Eu sou capaz de controlar o clima no meu recinto e eu amo o tempo pessoal que tenho com cada convidado. Com o Sola Pro, tenho acesso a toneladas de conteúdos de educação para me inspirar. Eu também mudei para a SolaGenius recentemente e adorei!</p>
                           </div>
                        </li>
                        <li>
                           <div class="scott text-center">
                              <%= image_tag "brazil/sejasola/slider_img3.jpg", :width => "308", :height => "150" %>
                              <h6>Sue Scott</h6>
                              <p>O Sola tornou o processo de independência completamente harmonioso. Eu sou capaz de controlar o clima no meu recinto e eu amo o tempo pessoal que tenho com cada convidado. Com o Sola Pro, tenho acesso a toneladas de conteúdos de educação para me inspirar. Eu também mudei para a SolaGenius recentemente e adorei!</p>
                           </div>
                        </li>
                        <li>
                           <div class="scott text-center">
                              <%= image_tag "brazil/sejasola/slider_img2.jpg", :width => "308", :height => "150" %>
                              <h6>Ashley Lantz</h6>
                              <p>O Sola tornou o processo de independência completamente harmonioso. Eu sou capaz de controlar o clima no meu recinto e eu amo o tempo pessoal que tenho com cada convidado. Com o Sola Pro, tenho acesso a toneladas de conteúdos de educação para me inspirar. Eu também mudei para a SolaGenius recentemente e adorei!</p>
                           </div>
                        </li>
                     </ul>
                     <a href="#" class="falebtn falebtn2" style="position: relative; z-index: 999999">Fale Com Nossos Especialistas</a>
                  </div>
               </div>
            </div>
         </div>
         <!--content end-->
         <footer>
            <ul>
               <li><%= image_tag "brazil/sejasola/phone_icon.png", :width => "23", :height => "25" %></li>
               <li>
                  <p>FALE COM NOSSOS REPRESENTANTES</p>
               </li>
               <li><a href="tel:2133334444">21 3333.4444</a></li>
            </ul>
         </footer>
      </div>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
      <%= javascript_include_tag "sejasola" %>
   </body>
</html>