<div class="container content-container">
  <div class="row">
    <h1>News &amp; PR</h1>
    <h4 style="line-height:29px">Keep up with the latest news about Sola Salon Studios. Follow us on <%= link_to 'Facebook', 'https://www.facebook.com/solasalons/', :target => '_blank', :class => 'pink-link' %>, <%= link_to 'Twitter', 'https://www.twitter.com/solasalons/', :target => '_blank', :class => 'pink-link' %> and <%= link_to 'Pinterest', 'https://www.pinterest.com/solasalons/', :target => '_blank', :class => 'pink-link' %> for regular Sola updates, beauty tips &amp; tricks, industry news and more!</h4>
  </div>
</div>

<div class="container content-container news-articles">
  <% @articles.each do |article| %>
    <div class="news-article">
      <div class="image">
        <%= link_to show_article_path(article) do %><%= image_tag article.image.url(:directory) %><% end %>
      </div>
      <div class="text">
        <h4><%= link_to article.title.html_safe, show_article_path(article) %></h4>
        <h4 class="date"><%= article.created_at.strftime('%B %e, %Y') %></h4>
        <p><%= article.summary.html_safe %><br><strong><%= link_to 'Read More', show_article_path(article), :class => 'pink-link' %></strong></p>
        <ul class="social">
          <li><%= link_to "https://www.pinterest.com/pin/create/button/?url=#{show_article_url(article)}&media=#{article.image(:original)}&description=#{article.safe_title} - #{article.created_at.strftime('%B %e, %Y')}", :target => '_blank' do %><span class="ss-social-regular ss-pinterest"></span><% end %></li>
          <li><%= link_to "https://twitter.com/intent/tweet?text=#{article.safe_title} - #{article.created_at.strftime('%B %e, %Y')} #{show_article_url(article)}", :target => '_blank' do %><span class="ss-social-regular ss-twitter"></span><% end %></li>
          <li><%= link_to "https://www.facebook.com/sharer/sharer.php?u=#{request.original_url}", :target => '_blank' do %><span class="ss-social-regular ss-facebook"></span><% end %></li>
        </ul>
      </div>
    </div>
  <% end %>
</div>

<% content_for(:title) { 'News and PR' } %>