<div class="container content-container">
  <div class="row">
    <h1>In the News</h1>
    <h4 style="line-height:29px">Keep up with the latest news about Sola Salon Studios. Follow us on <%= link_to 'Facebook', 'https://www.facebook.com/solasalons/', :target => '_blank', :class => 'pink-link' %>, <%= link_to 'Instagram', 'https://www.instagram.com/solasalons/', :target => '_blank', :class => 'pink-link' %>, <%= link_to 'Twitter', 'https://www.twitter.com/solasalons/', :target => '_blank', :class => 'pink-link' %> and <%= link_to 'Pinterest', 'https://www.pinterest.com/solasalons/', :target => '_blank', :class => 'pink-link' %> for regular Sola updates, beauty tips &amp; tricks, industry news and more!</h4>
  </div>
</div>

<div class="container content-container news-articles">
  <% @articles.each do |article| %>
    <%= render 'shared/news_summary', :article => article %>
  <% end %>
</div>

<% content_for(:title) { 'In the News' } %>