<%= render 'shared/public_website/about_us_nav', :page => :news %>

<div class="container content-container">
  <div class="row">
    <h1><%= t('page.news.title').html_safe %></h1>

    <%
      if I18n.locale.to_s == 'en-CA'
        # canada
        social_links = {
          :facebook_link => link_to(t('page.news.facebook').html_safe, 'https://www.facebook.com/solacanada/', :target => '_blank', :class => 'pink-link'),
          :instagram_link => link_to(t('page.news.instagram').html_safe, 'https://www.instagram.com/solacanada/', :target => '_blank', :class => 'pink-link'),
          :twitter_link => link_to(t('page.news.twitter').html_safe, 'https://www.twitter.com/solacanada/', :target => '_blank', :class => 'pink-link'),
        }
      elsif I18n.locale.to_s == 'pt-BR'
        # brazil
        social_links = {
          :facebook_link => link_to(t('page.news.facebook').html_safe, 'https://www.facebook.com/solasalonsbrasil/', :target => '_blank', :class => 'pink-link'),
          :instagram_link => link_to(t('page.news.instagram').html_safe, 'https://www.instagram.com/solasalonsbrasil/', :target => '_blank', :class => 'pink-link'),
        }
      else
        # united states
        social_links = {
          :facebook_link => link_to(t('page.news.facebook').html_safe, 'https://www.facebook.com/solasalons/', :target => '_blank', :class => 'pink-link'),
          :instagram_link => link_to(t('page.news.instagram').html_safe, 'https://www.instagram.com/solasalons/', :target => '_blank', :class => 'pink-link'),
          :twitter_link => link_to(t('page.news.twitter').html_safe, 'https://www.twitter.com/solasalons/', :target => '_blank', :class => 'pink-link'),
          :pinterest_link => link_to(t('page.news.pinterest').html_safe, 'https://www.pinterest.com/solasalons/', :target => '_blank', :class => 'pink-link')
        }
      end
    %>

    <h3><%= t('page.news.keep_up_with_the_latest', social_links).html_safe %></h3>
  </div>
</div>

<div class="container content-container news-articles">
  <% @articles.each do |article| %>
    <%= render 'shared/news_summary', :article => article %>
  <% end %>
</div>

<% content_for(:title) { t('page.news.title').html_safe } %>
<%= render 'shared/canonical_url', :url => 'news' %>
<% content_for(:meta_description) { t('page.news.meta_description') } %>