<div class="container content-container">
  <div class="blog-post-article news-pr">

    <div class="row">

      <div class="one-third column">
        <%= image_tag @article.image.url(:directory), alt: "#{@article.title} top image", :width => 240, :height => 240, :class => 'news-image' %>
        <% if @article.article_url %><p><%= link_to "#{t('page.article.view_post').html_safe} &gt;".html_safe, url_helper(@article.article_url), :target => "_blank" %></p><% end %>
        <h4 class="large"><%= @article.title.html_safe %></h4>
        <p class="subtle"><%= t('page.article.posted_on', :date => @article.created_at.strftime('%B %e, %Y')).html_safe %></p>
        <div class="share-socially"><h3><%= t('page.article.share_socially').html_safe %></h3></div>
        <ul class="social three">
          <li><%= link_to "https://www.pinterest.com/pin/create/button/?url=#{request.original_url}&media=#{@article.image(:original)}&description=#{@article.safe_title} - #{@article.created_at.strftime('%B %e, %Y')}", :target => '_blank' do %><span class="ss-social-regular ss-pinterest"></span><% end %></li>
          <li><%= link_to "https://twitter.com/intent/tweet?text=#{@article.safe_title} - #{@article.created_at.strftime('%B %e, %Y')} #{show_article_url(@article)}", :target => '_blank' do %><span class="ss-social-regular ss-twitter"></span><% end %></li>
          <li><%= link_to "https://www.facebook.com/sharer/sharer.php?u=#{request.original_url}", :target => '_blank' do %><span class="ss-social-regular ss-facebook"></span><% end %></li>
        </ul>
      </div>

      <div class="two-thirds column">
        <div class="summary"><%= @article.body.gsub(/\n/, '<hr class="br" />').html_safe %></div>
      </div>

    </div>

  </div>

</div>

<% content_for(:scripts) { javascript_include_tag('blog') } %>
<% content_for(:title) { @article.title } %>
<% content_for(:og_image) { @article.image(:original) } %>
<% content_for(:og_description) { @article.summary } %>
