<div class="hero-carousel owl-carousel owl-theme find-a-salon-professional-hero find-a-salon-professional-hero-next find-a-salon-professional-hero-next-booknow" data-nonav="true" style="margin-bottom:-44px;">
  
  <div class="item">
    <div class="img-wrap"><%= image_tag 'https://s3.amazonaws.com/solasalonstudios/find_salon_pro_hero_1.jpg', :alt => t('page.home.slider3_heading'), :width => 1323, :height => 659 %></div>
    <div class="item-content">
      <div class="row">
        <div class="col-md-6">
          <div class="numbers">
            <h1 class="chalet large-number">12,000+</h1>
            <h1 class="chalet chalet-london">Independent Salon Owners</h1>
            <br />
            <h1 class="chalet large-number"><%= Location.where(:country => 'US').count %>+</h1>
            <h1 class="chalet chalet-london">Locations Nationwide</h1>
          </div>
        </div>
        <div class="col-md-6 vcenter">
          <%= form_tag [:search, :results], :method => :get do %>
            <h1 class="helvetica"><%= t('page.find_salon_pro.body1').html_safe %></h1>
            <div class="filterable-dropdown-search">
              <input name="query" type="text" class="searchbox searchbox-small" placeholder="<%= t('page.find_salon_pro.search_by_name_or_location') %>" />
              <button type="submit" class="find-salon-pro"><span class="search-icon"></span></button>
            </div>
            <input type="hidden" name="so" value="salon_professionals" />
          <% end %>
        </div>
      </div>
      <h2 class="helvetica"><%= t('page.find_salon_pro.body2').html_safe %></h2>
      <div class="bn-button-wrapper"><%= link_to :booknow_search, :class => 'bn-button' do %>Book Now<% end %></div>
    </div>
  </div>

  <div class="item">
    <div class="img-wrap"><%= image_tag 'https://s3.amazonaws.com/solasalonstudios/find_salon_pro_hero_2.jpg', :alt => t('page.home.slider3_heading'), :width => 1323, :height => 659 %></div>
    <div class="item-content">
      <div class="row">
        <div class="col-md-6">
          <div class="numbers">
            <h1 class="chalet large-number">12,000+</h1>
            <h1 class="chalet chalet-london">Independent Salon Owners</h1>
            <br />
            <h1 class="chalet large-number"><%= Location.where(:country => 'US').count %>+</h1>
            <h1 class="chalet chalet-london">Locations Nationwide</h1>
          </div>
        </div>
        <div class="col-md-6 vcenter">
          <%= form_tag [:search, :results], :method => :get do %>
            <h1 class="helvetica"><%= t('page.find_salon_pro.body1').html_safe %></h1>
            <div class="filterable-dropdown-search">
              <input name="query" type="text" class="searchbox searchbox-small" placeholder="<%= t('page.find_salon_pro.search_by_name_or_location') %>" />
              <button type="submit" class="find-salon-pro"><span class="search-icon"></span></button>
            </div>
            <input type="hidden" name="so" value="salon_professionals" />
          <% end %>
        </div>
      </div>
      <h2 class="helvetica"><%= t('page.find_salon_pro.body2').html_safe %></h2>
      <div class="bn-button-wrapper"><%= link_to :booknow_search, :class => 'bn-button' do %>Book Now<% end %></div>
    </div>
  </div>

  <div class="item">
    <div class="img-wrap"><%= image_tag 'https://s3.amazonaws.com/solasalonstudios/find_salon_pro_hero_3.jpg', :alt => t('page.home.slider3_heading'), :width => 1323, :height => 659 %></div>
    <div class="item-content">
      <div class="row">
        <div class="col-md-6">
          <div class="numbers">
            <h1 class="chalet large-number">12,000+</h1>
            <h1 class="chalet chalet-london">Independent Salon Owners</h1>
            <br />
            <h1 class="chalet large-number"><%= Location.where(:country => 'US').count %>+</h1>
            <h1 class="chalet chalet-london">Locations Nationwide</h1>
          </div>
        </div>
        <div class="col-md-6 vcenter">
          <%= form_tag [:search, :results], :method => :get do %>
            <h1 class="helvetica"><%= t('page.find_salon_pro.body1').html_safe %></h1>
            <div class="filterable-dropdown-search">
              <input name="query" type="text" class="searchbox searchbox-small" placeholder="<%= t('page.find_salon_pro.search_by_name_or_location') %>" />
              <button type="submit" class="find-salon-pro"><span class="search-icon"></span></button>
            </div>
            <input type="hidden" name="so" value="salon_professionals" />
          <% end %>
        </div>
      </div>
      <h2 class="helvetica"><%= t('page.find_salon_pro.body2').html_safe %></h2>
      <div class="bn-button-wrapper"><%= link_to :booknow_search, :class => 'bn-button' do %>Book Now<% end %></div>      
    </div>
  </div>  

</div>

<% content_for(:title) { t('page.find_salon_pro.find_a_salon_professional_near_you').html_safe } %>
<% content_for(:canonical_url) { "https://www.solasalonstudios.com/salon-professionals" } %>
<% content_for(:meta_description) { t('page.find_salon_pro.meta_description') } %>