<%= form_for(@stylist) do |f| %>
  <% if @stylist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stylist.errors.count, "error") %> prohibited this stylist from being saved:</h2>

      <ul>
      <% @stylist.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :url_name %><br>
    <%= f.text_field :url_name %>
  </div>
  <div class="field">
    <%= f.label :biography %><br>
    <%= f.text_area :biography %>
  </div>
  <div class="field">
    <%= f.label :email_address %><br>
    <%= f.text_field :email_address %>
  </div>
  <div class="field">
    <%= f.label :phone_number %><br>
    <%= f.text_field :phone_number %>
  </div>
  <div class="field">
    <%= f.label :studio_number %><br>
    <%= f.text_field :studio_number %>
  </div>
  <div class="field">
    <%= f.label :work_hours %><br>
    <%= f.text_area :work_hours %>
  </div>
  <div class="field">
    <%= f.label :website %><br>
    <%= f.text_field :website %>
  </div>
  <div class="field">
    <%= f.label :business_name %><br>
    <%= f.text_field :business_name %>
  </div>
  <div class="field">
    <%= f.label :hair %><br>
    <%= f.check_box :hair %>
  </div>
  <div class="field">
    <%= f.label :skin %><br>
    <%= f.check_box :skin %>
  </div>
  <div class="field">
    <%= f.label :nails %><br>
    <%= f.check_box :nails %>
  </div>
  <div class="field">
    <%= f.label :massage %><br>
    <%= f.check_box :massage %>
  </div>
  <div class="field">
    <%= f.label :teeth_whitening %><br>
    <%= f.check_box :teeth_whitening %>
  </div>
  <div class="field">
    <%= f.label :hair_extensions %><br>
    <%= f.check_box :hair_extensions %>
  </div>
  <div class="field">
    <%= f.label :eyelash_extensions %><br>
    <%= f.check_box :eyelash_extensions %>
  </div>
  <div class="field">
    <%= f.label :makeup %><br>
    <%= f.check_box :makeup %>
  </div>
  <div class="field">
    <%= f.label :tanning %><br>
    <%= f.check_box :tanning %>
  </div>
  <div class="field">
    <%= f.label :waxing %><br>
    <%= f.check_box :waxing %>
  </div>
  <div class="field">
    <%= f.label :brows %><br>
    <%= f.check_box :brows %>
  </div>
  <div class="field">
    <%= f.label :accepting_new_clients %><br>
    <%= f.check_box :accepting_new_clients %>
  </div>
  <div class="field">
    <%= f.label :booking_url %><br>
    <%= f.text_field :booking_url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
