<!--
<div class="hero-text find-a-salon-professional" style="margin-bottom: 0;background-image:url('<%= image_path 'Find_Hero.jpg' %>')">
  
  <div class="text">
    
    
    
    <% if I18n.locale != :en %>
      <div class="find-salon-professional-search">
        <div class="container" style="padding:30px;background:rgba(0,0,0,0.7)">
          <h3>Be the first to know exclusive details about the launch of Sola Salon Studios Canada in Spring 2017!</h3>
          <div class="text-center" style="margin-bottom:0px">
            <%= link_to 'Contact Us', :contact_us, :class => 'button primary' %>
          </div>
        </div>
        <div class="find-a-salon-professional-disclaimer disclaimer-ca">
          <p><strong><%= t('page.find_salon_pro.body1').html_safe %></strong></p>
          <p><strong><%= t('page.find_salon_pro.body2').html_safe %></strong></p>
        </div>
      </div>
    <% else %>    
      <div class="find-salon-professional-search">
        <div class="container">
          <%= form_tag [:search, :results], :method => :get do %>
            <input type="text" type="search" name="query" placeholder="<%= t('page.find_salon_pro.search_by_name_or_location').html_safe %>" />
            <input type="hidden" name="first" value="salon_professionals" />
            <button type="submit" class="button primary"><%= t('page.find_salon_pro.search').html_safe %></button>
          <% end %>
        </div>
      </div>
    <% end %>
    
    <% if I18n.locale == :en %>
    <div class="find-a-salon-professional-stats">
      <div class="stat">
        <h1><%= t('page.find_salon_pro.salon_professional_count').html_safe %></h1>
        <h3><%= t('page.find_salon_pro.salon_professionals').html_safe %></h3>
      </div>
      <div class="stat right">
        <h1><%= t('page.find_salon_pro.location_count').html_safe %></h1>
        <h3><%= t('page.find_salon_pro.locations_nationwide').html_safe %></h3>
      </div>
    </div>
    <% end %>

  </div>



</div>
-->

<div class="hero-carousel owl-carousel owl-theme find-a-salon-professional-hero" style="margin-bottom:0">
  <div class="item">
    <div class="img-wrap"><%= image_tag 'Home/Home-Slider-3.jpg', :alt => t('page.home.slider3_heading'), :width => 1600, :height => 800 %></div>
    <div class="img-overlay black-25">&nbsp;</div>
    <div class="item-content">
      
      <h1 class="chalet"><%= t('page.find_salon_pro.heading1').html_safe %></h1>
      
      <div class="find-salon-professional-search">
        <%= form_tag [:search, :results], :method => :get do %>
          <div class="filterable-dropdown-search">
            <div class="dropdown">
              <div class="selected-option"><span class="name"><%= t('services.hair') %></span><span class="down-triangle"></span></div>
              <div class="options">
                <div class="option" data-value="hair"><%= t('services.hair') %></div>
                <div class="option" data-value="makeup"><%= t('services.makeup') %></div>
                <div class="option" data-value="nails"><%= t('services.nails') %></div>
                <div class="option" data-value="skincare"><%= t('services.skincare') %></div>
              </div>
            </div>
            <span class="spyglass-black"></span>
            <input name="query" type="text" class="searchbox" placeholder="<%= t('page.home.search_location') %>" />
            <button type="submit"><span class="search-icon"></span></button>
          </div>
          <input type="hidden" name="first" value="salon_professionals" />
        <% end %>
      </div>

      <div class="find-a-salon-professional-stats">
        <div class="stat">
          <h1 class="chalet"><%= t('page.find_salon_pro.salon_professional_count').html_safe %></h1>
          <h2><%= t('page.find_salon_pro.salon_professionals').html_safe %></h2>
        </div>
        <div class="stat right">
          <h1 class="chalet"><%= t('page.find_salon_pro.location_count').html_safe %></h1>
          <h2><%= t('page.find_salon_pro.locations_nationwide').html_safe %></h2>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="find-a-salon-professional-disclaimer" style="margin-bottom: -30px">
  <div class="container">
    <h4><%= t('page.find_salon_pro.body1').html_safe %></h4>
    <p><%= t('page.find_salon_pro.body2').html_safe %></p>
  </div>
</div>

<% content_for(:title) { t('page.find_salon_pro.find_a_salon_professional_near_you').html_safe } %>
<% content_for(:canonical_url) { "https://www.solasalonstudios.#{I18n.locale != :en ? 'ca' : 'com'}/salon-professionals" } %>
<% content_for(:meta_description) { t('page.find_salon_pro.meta_description') } %>