<div class="location-breadcrumb">
  <div class="container">
    <%= link_to 'United States', :locations %> <span class="divider">/</span> <%= link_to @location.state, locations_by_state_path(@location.state) %> 
    <span class="divider">/</span> <%= link_to @location.name, salon_location_path(@location.state, @location.city, @location.url_name) %>
    <span class="divider">/</span> <%= link_to @stylist.name, show_salon_professional_path(@stylist) %>
  </div>
</div>

<div class="container content-container content-container-mobile-full">
  <div class="row">

    <div class="two-thirds column push-one-third">
      <div class="salon-pro-carousel owl-carousel owl-theme">
        <% if @stylist.images.size > 0 %>
        <% @stylist.images.each do |image| %>
          <% if image.exists?(:carousel) %>
            <div class="item"><%= image_tag image.url(:carousel) %></div>
          <% else %>
            <div class="item"><%= image_tag image.url(:original) %></div>
          <% end %>
        <% end %>
        <% else %>
          <div class="item"><%= image_tag 'gray.gif' %></div>
        <% end %>
      </div>
    </div>

    <div class="one-third column salon-pro-info pull-two-thirds">
      <h1><%= @stylist.name.html_safe %></h1>
      <% if @stylist.business_name.present? %>
        <h3><%= @stylist.business_name.html_safe %></h3>
      <% end %>
      <h4>Studio <%= @stylist.studio_number %></h4>

      <div class="salon-pro-buttons">
        <% if @stylist.booking_url.present? %>
          <%= link_to 'Book Now', @stylist.booking_url, :class => 'button block', :target => '_blank' %>
        <% end %>
        <%= link_to 'Send a Message', '#', :class => 'button block' %>
      </div>
      <ul class="contact-info">
        <% if @stylist.phone_number.present? %>
          <li><%= @stylist.phone_number %></li>
        <% end %>
        <% if @stylist.website.present? %>
          <li><%= link_to 'Visit my website', @stylist.website_url, :target => '_blank' %></li>
        <% end %>
      </ul>
      <div class="row salon-map" id="map"></div>
      <div id="map-overlay" class="salon-map"></div>
    </div>

  </div>
</div>

<% if @stylist.work_hours.present? %>
  <div class="container">

    <div class="row about-this-location">
      <h3 class="text-center">Availability</h3>
      <h4 class="text-center"><%= @stylist.work_hours.html_safe %></h4>
    </div>

  </div>
<% end %>

<% if @stylist.biography.present? %>
  <div class="container">

    <div class="row about-this-location">
      <h3 class="text-center">About <%= @stylist.name %></h3>
      <h4 class="text-center"><%= @stylist.biography.html_safe %></h4>
    </div>

  </div>
<% end %>

<% if @stylist.services.size > 0 %>
  <div class="container">

    <div class="row about-this-location">
      <h3 class="text-center">Services</h3>
      <ul class="stylist-services">
        <%= '<li>Hair</li>'.html_safe if @stylist.hair %>
        <%= '<li>Skin</li>'.html_safe if @stylist.skin %>
        <%= '<li>Nails</li>'.html_safe if @stylist.nails %>
        <%= '<li>Massage</li>'.html_safe if @stylist.massage %>
        <%= '<li>Teeth Whitening</li>'.html_safe if @stylist.teeth_whitening %>
        <%= '<li>Eyelash Extensions</li>'.html_safe if @stylist.eyelash_extensions %>
        <%= '<li>Hair Extensions</li>'.html_safe if @stylist.hair_extensions %>
        <%= '<li>Makeup</li>'.html_safe if @stylist.makeup %>
        <%= '<li>Tanning</li>'.html_safe if @stylist.tanning %>
        <%= '<li>Waxing</li>'.html_safe if @stylist.waxing %>
      </ul>
    </div>

  </div>
<% end %>

<% if @stylist.testimonials.size > 0 %>
  <div class="container">

    <div class="row about-this-location">
      <h3 class="text-center">Testimonials</h3>
      <% @stylist.testimonials.each do |testimonial| %>
        <div class="testimonial">
          <div class="text"><%= testimonial.text.html_safe %></div>
          <% if testimonial.name.present? %>
          <div class="name-region">
            <%= testimonial.name %>
            <% if testimonial.region.present? %>
             , <%= testimonial.region %>
            <% end %>
          </div>
          <% end %>
        </div>
      <% end %>
    </div>

  </div>
<% end %>

<%= render 'shared/public_website/hidden_map_inputs', :salon => true %>
<input type="hidden" id="is_salon" value="y" />

<% content_for(:scripts) { javascript_include_tag('locations') } %>