<div class="location-breadcrumb">
  <div class="container">
    <!--<%= link_to 'United States', :locations %> <span class="divider">/</span> --><%= link_to @location.state, locations_by_state_path(@location.state) %> 
    <span class="divider">/</span> <%= link_to @location.msa.name.html_safe, region_path(@location.msa.url_name) %>
    <span class="divider">/</span> <%= link_to @location.name, salon_location_path(@location.state, @location.city, @location.url_name) %>
    <span class="divider">/</span> <%= link_to @stylist.name, show_salon_professional_path(@stylist) %>
  </div>
</div> 

<div class="heading">
  <div class="container">
    <h1 class="salon_professional_name"><%= @stylist.name.html_safe %></h1>
    <h3 class="salon_professional_business_name"><%= @stylist.business_name.html_safe %></h3>
    <div class="badge">
      <div class="studio-number-badge">
        <div class="studio"><h3>Studio</h3></div>
        <div class="number"><h1><%= @stylist.studio_number %></h1></div>
      </div>
    </div>
  </div>
</div>

<div class="container content-container tablet-portrait">
  <div class="row">

    <div class="one-third column salon-pro-info">
      <% if (@stylist.send_a_message_button && valid_email?(@stylist.email_address)) || @stylist.booking_url.present? %>
        <div class="salon-pro-buttons">
          <%= link_to('Book Now', url_helper(@stylist.booking_url), :class => 'button block', :target => '_blank') if @stylist.booking_url.present? %>
          <%= link_to('Send a Message', '#', :class => 'button block send-a-message-button') if (@stylist.send_a_message_button && valid_email?(@stylist.email_address)) %>
        </div>
      <% end %>
      <ul class="contact-info">
        <% if @stylist.phone_number.present? %>
          <li><%= @stylist.phone_number %></li>
        <% end %>
        <% if @stylist.website.present? %>
          <li><%= link_to 'Visit my website', url_helper(@stylist.website_url), :target => '_blank' %></li>
        <% end %>
      </ul>

      <% if @stylist.social_links_present? %>
        <ul class="social stylist-social">
          <% if @stylist.pinterest_url.present? %><li><%= link_to url_helper(@stylist.pinterest_url), :target => '_blank' do %><span class="ss-social-regular ss-pinterest"></span><% end %></li><% end %>
          <% if @stylist.twitter_url.present? %><li><%= link_to url_helper(@stylist.twitter_url), :target => '_blank' do %><span class="ss-social-regular ss-twitter"></span><% end %></li><% end %>
          <% if @stylist.facebook_url.present? %><li><%= link_to url_helper(@stylist.facebook_url), :target => '_blank' do %><span class="ss-social-regular ss-facebook"></span><% end %></li><% end %>
          <% if @stylist.instagram_url.present? %><li><%= link_to url_helper(@stylist.instagram_url), :target => '_blank' do %><span class="ss-social-regular ss-instagram"></span><% end %></li><% end %>
          <% if @stylist.yelp_url.present? %><li><%= link_to url_helper(@stylist.yelp_url), :target => '_blank' do %><span class="ss-social-regular ss-yelp"></span><% end %></li><% end %>
        </ul>
      <% end %>

      <div class="row salon-map stylist-salon-map" id="map"></div>
      <div id="map-overlay" class="salon-map"></div>

      <% if @stylist.work_hours.present? %>

          <div class="row">
            <h3>Availability</h3>
            <h4 class="availability"><%= @stylist.work_hours.gsub(/\n/, '<hr class="br" />').html_safe %></h4>
          </div>

      <% end %>      
    </div>

    <div class="two-thirds column">
      
      <% if @stylist.images.size > 0 %>
        <div class="salon-pro-carousel owl-carousel owl-theme" data-autoheight="true" data-autoplayoff="true">
          <% @stylist.images.each do |image| %>
            <div class="item"><%= image_tag image.url(:original) %></div>
          <% end %>
        </div>
      <% end %>

      <% if @stylist.biography.present? %>

          <div class="row about-this-location">
            <h3>About <%= @stylist.name %></h3>
            <h4><%= @stylist.biography.gsub(/\n/, '<hr class="br" />').html_safe %></h4>
          </div>

      <% end %>

      <% if @stylist.services.size > 0 %>

          <div class="row about-this-location">
            <h3>Services</h3>
            <ul class="stylist-services">
              <% @stylist.services.each do |service| %>
                <li><%= service.html_safe %></li>
              <% end %>
            </ul>
          </div>

      <% end %>

      <% if @stylist.testimonials.size > 0 %>

          <div class="row testimonials">
            <h3>Testimonials</h3>
            <% @stylist.testimonials.each do |testimonial| %>
              <div class="testimonial">
                <div class="text"><%= testimonial.text.html_safe %></div>
                <% if testimonial.name.present? %>
                <div class="name-region">
                  <%= testimonial.name %>
                  <% if testimonial.region.present? %>
                   , <%= testimonial.region %>
                  <% end %>
                </div>
                <% end %>
              </div>
            <% end %>
          </div>

      <% end %>

    </div>

  </div>
</div>

<div class="callout blue">
  <div class="container">
    <div class="row">
      <%= link_to "http://maps.google.com/maps?daddr=#{@location.full_address}", :target => '_blank' do %>
        <h4 class="large">Visit <%= @stylist.name.html_safe %> at Sola <%= @location.name.html_safe %></h4>
        <h3><%= @location.full_address %></h3>
      <% end %>
    </div>
  </div>
</div>

<div class="send-a-message-modal modal-content">
  <h4>Send a Message</h4>
  <%= form_tag :salon_professional_send_a_message, :id => 'send-a-message' do %>
    <input type="text" name="name" placeholder="Full Name" />
    <input type="text" name="email" placeholder="Email Address" />
    <input type="text" name="phone" placeholder="Phone Number (Optional)" />
    <textarea name="message" placeholder="Leave a Message"></textarea>
    <button class="primary block">Submit</button>
    <input type="hidden" name="stylist_id" value="<%= @stylist.id %>" />
  <% end %>
</div>

<%= render 'shared/public_website/hidden_map_inputs', :salon => true %>
<input type="hidden" id="is_salon" value="y" />

<% content_for(:scripts) { javascript_include_tag('locations') } %>
<% content_for(:scripts) { javascript_include_tag('salon_professionals') } %>
<% content_for(:title) { @stylist.name } %>