<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @stylist.name %>
</p>

<p>
  <strong>Url name:</strong>
  <%= @stylist.url_name %>
</p>

<p>
  <strong>Biography:</strong>
  <%= @stylist.biography %>
</p>

<p>
  <strong>Email address:</strong>
  <%= @stylist.email_address %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @stylist.phone_number %>
</p>

<p>
  <strong>Studio number:</strong>
  <%= @stylist.studio_number %>
</p>

<p>
  <strong>Work hours:</strong>
  <%= @stylist.work_hours %>
</p>

<p>
  <strong>Website:</strong>
  <%= @stylist.website %>
</p>

<p>
  <strong>Business name:</strong>
  <%= @stylist.business_name %>
</p>

<p>
  <strong>Hair:</strong>
  <%= @stylist.hair %>
</p>

<p>
  <strong>Skin:</strong>
  <%= @stylist.skin %>
</p>

<p>
  <strong>Nails:</strong>
  <%= @stylist.nails %>
</p>

<p>
  <strong>Massage:</strong>
  <%= @stylist.massage %>
</p>

<p>
  <strong>Teeth whitening:</strong>
  <%= @stylist.teeth_whitening %>
</p>

<p>
  <strong>Eyelash extensions:</strong>
  <%= @stylist.eyelash_extensions %>
</p>

<p>
  <strong>Makeup:</strong>
  <%= @stylist.makeup %>
</p>

<p>
  <strong>Tanning:</strong>
  <%= @stylist.tanning %>
</p>

<p>
  <strong>Waxing:</strong>
  <%= @stylist.waxing %>
</p>

<p>
  <strong>Brows:</strong>
  <%= @stylist.brows %>
</p>

<p>
  <strong>Accepting new clients:</strong>
  <%= @stylist.accepting_new_clients %>
</p>

<p>
  <strong>Booking url:</strong>
  <%= @stylist.booking_url %>
</p>

<%= link_to 'Edit', edit_stylist_path(@stylist) %> |
<%= link_to 'Back', stylists_path %>
