<div class="location-breadcrumb">
  <div class="container">
    <%= link_to 'United States', :locations %> <span class="divider">/</span> <%= link_to @location.state, locations_by_state_path(@location.state) %> 
    <span class="divider">/</span> <%= link_to @location.name, salon_location_path(@location.state, @location.city, @location.url_name) %>
    <span class="divider">/</span> <%= link_to @stylist.name, show_salon_professional_path(@stylist) %>
  </div>
</div>

<div class="salon-professional-hero">
  <div class="container">
    <div class="row">

      <div class="two-thirds column">
        <h1><%= @stylist.name.html_safe %></h1>
        <h3><%= @stylist.business_name.html_safe %></h3>
      </div>

      <div class="one-third column studio-number-badge-column">
        <div class="studio-number-badge">
          <div class="studio"><h3 class="subtle">Studio</h3></div>
          <div class="number"><h1><%= @stylist.studio_number %></h1></div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="container content-container">
  <div class="row">

    <div class="one-third column">

    </div>

    <div class="two-thirds column">

    </div>

  </div>
</div>

<div class="container content-container">
  <div class="row">
    
    
    <div class="stylist-photos">
      <%= link_to(image_tag(@stylist.image_1(:thumbnail), :class => 'thumbnail').html_safe, @stylist.image_1(:original), :target => '_blank') if @stylist.image_1.exists? %>
      <%= link_to(image_tag(@stylist.image_2(:thumbnail), :class => 'thumbnail').html_safe, @stylist.image_2(:original), :target => '_blank') if @stylist.image_2.exists? %>
      <%= link_to(image_tag(@stylist.image_3(:thumbnail), :class => 'thumbnail').html_safe, @stylist.image_3(:original), :target => '_blank') if @stylist.image_3.exists? %>
      <%= link_to(image_tag(@stylist.image_4(:thumbnail), :class => 'thumbnail').html_safe, @stylist.image_4(:original), :target => '_blank') if @stylist.image_4.exists? %>
      <%= link_to(image_tag(@stylist.image_5(:thumbnail), :class => 'thumbnail').html_safe, @stylist.image_5(:original), :target => '_blank') if @stylist.image_5.exists? %>
      <%= link_to(image_tag(@stylist.image_6(:thumbnail), :class => 'thumbnail').html_safe, @stylist.image_6(:original), :target => '_blank') if @stylist.image_6.exists? %>
      <%= link_to(image_tag(@stylist.image_7(:thumbnail), :class => 'thumbnail').html_safe, @stylist.image_7(:original), :target => '_blank') if @stylist.image_7.exists? %>
      <%= link_to(image_tag(@stylist.image_8(:thumbnail), :class => 'thumbnail').html_safe, @stylist.image_8(:original), :target => '_blank') if @stylist.image_8.exists? %>
      <%= link_to(image_tag(@stylist.image_9(:thumbnail), :class => 'thumbnail').html_safe, @stylist.image_9(:original), :target => '_blank') if @stylist.image_9.exists? %>
      <%= link_to(image_tag(@stylist.image_10(:thumbnail), :class => 'thumbnail').html_safe, @stylist.image_10(:original), :target => '_blank') if @stylist.image_10.exists? %>
    </div>
    <p><%= @stylist.biography.html_safe %></p>
    
    <hr>
    
    <h4>Services</h4>
    <ul class="stylist-services">
      <%= '<li>Hair</li>'.html_safe if @stylist.hair %>
      <%= '<li>Skin</li>'.html_safe if @stylist.skin %>
      <%= '<li>Nails</li>'.html_safe if @stylist.nails %>
      <%= '<li>Massage</li>'.html_safe if @stylist.massage %>
      <%= '<li>Teeth Whitening</li>'.html_safe if @stylist.teeth_whitening %>
      <%= '<li>Eyelash Extensions</li>'.html_safe if @stylist.eyelash_extensions %>
      <%= '<li>Hair Extensions</li>'.html_safe if @stylist.hair_extensions %>
      <%= '<li>Makeup</li>'.html_safe if @stylist.makeup %>
      <%= '<li>Tanning</li>'.html_safe if @stylist.tanning %>
      <%= '<li>Waxing</li>'.html_safe if @stylist.waxing %>
    </ul>

    <hr>

    <h4>Hours</h4>
    <p><%= @stylist.work_hours %></p>

  </div>
</div>