<%= stylesheet_link_tag "admin", media: "all" %>

<div class="devise-sign-in">

  <div style="text-align:center"><%= image_tag 'logo_white.png', alt: "Sola Salon Studios logo", :width => 200, :height => 127 %></div>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <% if request && request.post? && flash && flash.keys && flash.keys.size > 0 %>
      <div id="error">Invalid username or password</div>
    <% end %>

    <div class="field">
      <%= f.label :username %>
      <%= f.text_field :email, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="actions">
      <button type="submit">Sign in</button>
    </div>
  <% end %>

</div>

<div class="link"><%= link_to "Forgot Password?", :forgot_password_form %></div>

<div class="copyright">&copy;<%= Time.now.year %> Sola Salon Studios</div>
