  <div class="row">

    <div class="one-half column">
      <a href="https://www.youtube.com/watch?v=32MxqcCut54" class="play-video play-video-gallery" rel="32MxqcCut54">
        <%= image_tag 'https://img.youtube.com/vi/32MxqcCut54/maxresdefault.jpg', :alt => "Conheça mais sobre o Sola!" %>
        <span class="fa fa-play-circle"></span>
        <div class="video-overlay"></div>
      </a>
      <h1 class="video-title">Conheça mais sobre o Sola!</h1>
    </div>

    <div class="one-half column">
      <a href="https://www.youtube.com/watch?v=eBVstPmC4K4" class="play-video play-video-gallery" rel="eBVstPmC4K4">
        <%= image_tag 'https://s3.amazonaws.com/solasalonstudiosbr/brazil_video_poster1.jpg', :alt => "A maior rede de estúdios de beleza do mundo" %>
        <span class="fa fa-play-circle"></span>
        <div class="video-overlay"></div>
      </a>
      <h1 class="video-title">A maior rede de estúdios de beleza do mundo</h1>
    </div>

  </div>

  <div class="row">

    <div class="one-half column">
        <a href="//www.youtube.com/watch?v=D2vtblujRzo" class="play-video play-video-gallery" rel="D2vtblujRzo">
          <%= image_tag 'video_poster_2018.jpg', :alt => 'A proud Sola salon professional leans against the wall' %>
          <span class="fa fa-play-circle"></span>
          <div class="video-overlay"></div>
        </a>
        <h1 class="video-title"><%= t('page.gallery.faces_of_sola_2018').html_safe %></h1>
    </div>

    <div class="one-half column">
      <a href="//www.youtube.com/watch?v=vh3x3xAcPXw" class="play-video play-video-gallery" rel="vh3x3xAcPXw">
        <img src="//img.youtube.com/vi/nbHFs0XjS8s/maxresdefault.jpg" alt="A woman gets her hair styled" />
        <span class="fa fa-play-circle"></span>
        <div class="video-overlay"></div>
      </a>
      <h1 class="video-title"><%= t('page.gallery.the_sola_story').html_safe %></h1>
    </div>


  </div>

  <div class="row">


    <div class="one-half column">
      <a href="//www.youtube.com/watch?v=4myMw7gN6I4" class="play-video play-video-gallery" rel="4myMw7gN6I4">
        <%= image_tag 'sessions_poster.jpg' %>
        <span class="fa fa-play-circle"></span>
        <div class="video-overlay"></div>
      </a>
      <h1 class="video-title"><%= t('page.gallery.the_sola_sessions').html_safe %></h1>
    </div>

    <div class="one-half column">
      <a href="//www.youtube.com/watch?v=Bpe-puULbws" class="play-video play-video-gallery" rel="Bpe-puULbws">
        <%= image_tag 'sola_pro_poster.jpg' %>
        <span class="fa fa-play-circle"></span>
        <div class="video-overlay"></div>
      </a>
      <h1 class="video-title"><%= t('page.gallery.sola_pro').html_safe %></h1>
      
    </div>
  
  </div>  

  <div class="view-more">
    <a href="https://www.youtube.com/channel/UCFhi1mggKNNwKBokIsRT1lQ" class="button outline-large-white" target="_blank"><%= t('page.gallery.view_more_on_youtube') %></a>
  </div>