  <div class="row">

    <div class="one-half column">
        <a href="https://www.youtube.com/watch?v=afOBB5jAjUU" class="play-video play-video-gallery" rel="afOBB5jAjUU">
          <%= image_tag 'endless_possibilities_2019.jpg', :alt => t('page.home.slider5_heading').html_safe %>
          <span class="fa fa-play-circle"></span>
          <div class="video-overlay"></div>
        </a>
        <h1 class="video-title"><%= t('page.home.slider5_heading').html_safe %></h1>
    </div>

    <div class="one-half column">
        <a href="//www.youtube.com/watch?v=eq_UTfsHnkE" class="play-video play-video-gallery" rel="eq_UTfsHnkE">
          <%= image_tag 'video_poster_2018.jpg', :alt => 'A proud Sola salon professional leans against the wall' %>
          <span class="fa fa-play-circle"></span>
          <div class="video-overlay"></div>
        </a>
        <h1 class="video-title"><%= t('page.gallery.faces_of_sola_2018').html_safe %></h1>
    </div>

  </div>

  <div class="row">

    <div class="one-half column">
      
        <a href="//www.youtube.com/watch?v=wlhDeuowaAI" class="play-video play-video-gallery" rel="wlhDeuowaAI">
          <%= image_tag 'video_poster_2017.jpg', :alt => 'A proud Sola salon professional leans against the wall' %>
          <span class="fa fa-play-circle"></span>
          <div class="video-overlay"></div>
        </a>
        <h1 class="video-title"><%= t('page.gallery.faces_of_sola_2017').html_safe %></h1>
    </div>

    <div class="one-half column">
        <a href="//www.youtube.com/watch?v=St-c9SRjbhE" class="play-video play-video-gallery" rel="St-c9SRjbhE">
          <%= image_tag 'video_poster_2016.jpg', :alt => 'A smiling woman gets her hair styled by a proud salon professional' %>
          <span class="fa fa-play-circle"></span>
          <div class="video-overlay"></div>
        </a>
        <h1 class="video-title"><%= t('page.gallery.faces_of_sola_2016').html_safe %></h1>
    </div>

  </div>

  <div class="row">

    <div class="one-half column">
        <a href="//www.youtube.com/watch?v=nbHFs0XjS8s" class="play-video play-video-gallery" rel="nbHFs0XjS8s">
          <img src="//img.youtube.com/vi/nbHFs0XjS8s/maxresdefault.jpg" alt="A woman gets her hair styled" />
          <span class="fa fa-play-circle"></span>
          <div class="video-overlay"></div>
        </a>
      <h1 class="video-title"><%= t('page.gallery.the_sola_story').html_safe %></h1>
      
    </div>

    <div class="one-half column">
        <a href="//www.youtube.com/watch?v=i6AUSUofPUg" class="play-video play-video-gallery" rel="i6AUSUofPUg">
          <%= image_tag 'sessions_poster.jpg' %>
          <span class="fa fa-play-circle"></span>
          <div class="video-overlay"></div>
        </a>
      <h1 class="video-title"><%= t('page.gallery.the_sola_sessions').html_safe %></h1>
    </div>
  </div>  

  <div class="row">
      <div class="one-half column">
        <a href="//https://www.youtube.com/watch?v=xs600ERn2-U" class="play-video play-video-gallery" rel="-fWwpXeSbAM">
          <%= image_tag 'solastrong_poster.jpg' %>
          <span class="fa fa-play-circle"></span>
          <div class="video-overlay"></div>
        </a>
        <h1 class="video-title"><%= t('page.gallery.sola_strong').html_safe %></h1>
      </div>

      <div class="one-half column">
        <a href="//www.youtube.com/watch?v=Bpe-puULbws" class="play-video play-video-gallery" rel="Bpe-puULbws">
          <%= image_tag 'sola_pro_poster.jpg' %>
          <span class="fa fa-play-circle"></span>
          <div class="video-overlay"></div>
        </a>
        <h1 class="video-title"><%= t('page.gallery.sola_pro').html_safe %></h1>
        
      </div>
  </div>

  
    <div class="view-more">
      <a href="https://www.youtube.com/channel/UCJ8sL_G0TVCYC1irp3HpyZg" class="button outline-large-white" target="_blank"><%= t('page.gallery.view_more_on_youtube') %></a>
    </div>