<div class="container content-container">
  
  <h1><%= t('page.gallery.title').html_safe %></h1>

  <div class="row">
    <ul class="owl-carousel">
      <% (1..40).each do |number| %>
        <li><%= image_tag "https://d3p1kyyvw4qtho.cloudfront.net/gallery/sola#{number}.jpg" %></li>
      <% end %>
    </ul>    
  </div>

  <h1><%= t('page.gallery.videos').html_safe %></h1>

  <div class="row">

    <div class="one-half column">
      <a href="//www.youtube.com/watch?v=St-c9SRjbhE" class="play-video play-video-gallery" rel="St-c9SRjbhE">
        <%= image_tag 'video_poster_2016.png' %>
        <span class="fa fa-play-circle"></span>
        <div class="video-overlay"></div>
      </a>
      <h1 class="video-title"><%= t('page.gallery.faces_of_sola').html_safe %></h1>
      
    </div>

    <div class="one-half column">
      <a href="//www.youtube.com/watch?v=nbHFs0XjS8s" class="play-video play-video-gallery" rel="nbHFs0XjS8s">
        <img src="//img.youtube.com/vi/nbHFs0XjS8s/maxresdefault.jpg">
        <span class="fa fa-play-circle"></span>
        <div class="video-overlay"></div>
      </a>
      <h1 class="video-title"><%= t('page.gallery.the_sola_story').html_safe %></h1>
      
    </div>

  </div>

  <div class="row">

    <div class="one-half column">
      <a href="//www.youtube.com/watch?v=77gzVR-50Wo" class="play-video play-video-gallery" rel="77gzVR-50Wo">
        <img src="//img.youtube.com/vi/77gzVR-50Wo/maxresdefault.jpg">
        <span class="fa fa-play-circle"></span>
        <div class="video-overlay"></div>
      </a>
      <h1 class="video-title"><%= t('page.gallery.sola_testimonials_video').html_safe %></h1>
    </div>

    <div class="one-half column">
      <a href="//www.youtube.com/watch?v=b9Ocv4vfvqc" class="play-video play-video-gallery" rel="b9Ocv4vfvqc">
        <img src="//img.youtube.com/vi/b9Ocv4vfvqc/maxresdefault.jpg">
        <span class="fa fa-play-circle"></span>
        <div class="video-overlay"></div>
      </a>
      <h1 class="video-title"><%= t('page.gallery.celebrating_5000_stylists').html_safe %></h1>
    </div>

  </div>

  
</div>

<% content_for(:title) { t('page.gallery.title').html_safe } %>