<div class="gallery">
<div class="container content-container">
  
  <h1 class="chalet"><%= t('page.gallery.title').html_safe %></h1>

  <div class="row">
    <ul class="owl-carousel" data-paginationoff="true">
      <% if I18n.locale == :en %>
        <% (1..47).each do |number| %>
          <li><%= image_tag "https://d3p1kyyvw4qtho.cloudfront.net/gallery1/sola#{number}.jpg", :alt => 'Interior of a salon studio' %></li>
        <% end %>
      <% elsif I18n.locale.to_s == 'pt-BR' %>
        <% (1..9).each do |number| %>
          <li><%= image_tag "https://s3.amazonaws.com/solasalonstudiosbr/pages/gallery/slider/gallery#{number}.jpg", :alt => 'Interior of a salon studio' %></li>
        <% end %>
      <% else %>
        <% (1..29).each do |number| %>
          <li><%= image_tag "https://d3p1kyyvw4qtho.cloudfront.net/gallery_ca/gallery#{number}.jpg", :alt => 'Interior of a salon studio' %></li>
        <% end %>
      <% end %>
    </ul>    
  </div>

  <h1 class="chalet"><%= t('page.gallery.videos').html_safe %></h1>

  <% if I18n.locale.to_s == 'pt-BR' %>
    <%= render 'br' %>
  <% elsif I18n.locale.to_s == 'en-CA'%>
    <%= render 'ca' %>
  <% else %>
    <%= render 'en' %>
  <% end %>

</div>
</div>

<% content_for(:title) { t('page.gallery.title').html_safe } %>
<% content_for(:canonical_url) { "https://www.solasalonstudios.#{I18n.locale != :en ? 'ca' : 'com'}/gallery" } %>
<% content_for(:meta_description) { t('page.gallery.meta_description') } %>