<input name="return_to" type="<%= :hidden %>" value="<%= (params[:return_to].presence || request.referer) %>">
  <div class="form-actions">
    <% if @object.class.name == 'UpdateMySolaWebsite' %>
      <style>
        .approved_field, .breadcrumb, .nav-tabs {
          display: none;
        }
        .btn-danger {
          background-color: #dc3545;
        }
        .btn-danger:hover, .btn-danger:active, .btn-danger.active {
          background-color: #bf2937;
        }
      </style>
      <button id="approve-update-button" class="btn btn-primary" data-disable-with="Approving update..." name="_save" type="submit">
        <i class="icon-white icon-ok"></i>
        Approve Update
      </button>
      <%= link_to "/admin/update_my_sola_website/#{@object.id}/delete?method=delete", method: :delete, style: "margin: 0 30px;", class: 'btn btn-danger' do %>
        <i class="icon-white icon-remove"></i>
        Reject
      <% end %>
      <script>
        $(function () {
          $('#approve-update-button').on('click', function () {
            $('#update_my_sola_website_approved').prop('checked', true);
          });
        });
      </script>

    <% else %>
      <button class="btn btn-primary" data-disable-with="<%= t("admin.form.save") %>" name="_save" type="submit">
        <i class="icon-white icon-ok"></i>
        <%= t("admin.form.save") %>
      </button>
      <span class="extra_buttons">
        <% if authorized? :new, @abstract_model %>
          <button class="btn btn-info" data-disable-with="<%= t("admin.form.save_and_add_another") %>" name="_add_another" type="submit">
            <%= t("admin.form.save_and_add_another") %>
          </button>
        <% end %>
        <% if authorized? :edit, @abstract_model %>
          <button class="btn btn-info" data-disable-with="<%= t("admin.form.save_and_edit") %>" name="_add_edit" type="submit">
            <%= t("admin.form.save_and_edit") %>
          </button>
        <% end %>
        <button class="btn" data-disable-with="<%= t("admin.form.cancel") %>" name="_continue" type="submit">
          <i class="icon-remove"></i>
          <%= t("admin.form.cancel") %>
        </button>
      </span>
    <% end %>
  </div>
</input>
