<% content_for(:title) { 'A Simple, Compelling Business Model' } %>
<% content_for(:stylesheets) do %>
  <%= stylesheet_link_tag "franchising/style", media: "all" %>
<% end %>

<div class="banner">
   <div class="container">
      <div class="banner-in">
         <div class="banner-left">
            <h1>A Simple, <br>Compelling <br>Business Model</h1>
         </div>
         <div class="banner-right">
            <figure>
               <%= image_tag "img1.png", :width => "550", :height =>"440" %>
            </figure>
         </div>
	   <div class="union">
	    <figure>
		   <%= image_tag "Union.png", :width => "100", :height => "100" %>
		  </figure>
	   </div>
      </div>
   </div>
</div>

<div class="investors">
   <div class="container">
      <div class="inve_in d-flex flex-wrap">
         <div class="inve-left d-flex col-lg-4 col-md-4 col-sm-12">
            <h4>Join a group of <br>top investors and successful franchisees.</h4>
         </div>
         <div class="inve-right d-flex col-lg-8 col-md-8 col-sm-12">
            <p>Our proven salon studio concept is thriving, with current franchisees reporting they are very satisfied with their Sola business. If you want recurring, electronically-collected revenue, largely fixed expenses and minimal employees, Sola may be the perfect fit for you. Find out why franchisees are adding Sola to their portfolios and why our current franchisees are growing at a rapid pace.</p>
         </div>
      </div>
   </div>
</div>

<div class="site">
   <div class="container">
      <div class="site_in ">
         <h1> Unmatched benefits</h1>
	   <div class="site-inner d-flex flex-wrap">
         <div class="site-left d-flex col-lg-6 col-md-6 col-sm-12">
            <figure>
               <%= image_tag "img7.png", :width => "560", :height => "400", :class => "desktop" %>
			 <%= image_tag "img23.png", :width => "343", :height => "240", :class => "mobile" %>
            </figure>
         </div>
         <div class="site-right  col-lg-6 col-md-6 col-sm-12">
            <div class="site-right-in">
               <h4>Site Selection</h4>
               <p>We’ll help you analyze potential sites so you can select the most competitive area to build your best-in-class Sola location. We’ll give you all our commercial real estate pointers, and our legal staff can provide guidance and assistance with reviewing and negotiating the lease.</p>
            </div>
         </div>
	   </div>

      <div class="design d-flex flex-wrap flex-row-reverse">
         <div class="design-right col-lg-6 col-md-6 col-sm-12">
            <figure>
               <%= image_tag "img8.png", :width => "560", :height => "400" %>
            </figure>
         </div>
         <div class="design-left d-flex col-lg-6 col-md-6 col-sm-12">
            <div class="design-left-in">
               <h4> Design</h4>
               <p>A high-quality build-out at the best price is the end result through preferred contractors we can recommend. Plus, you’ll have access to our in-house design services and design vendor so you can complete each modern studio with cabinets, lighting, chairs and mirrors.</p>
            </div>
         </div>
      </div>
      <div class="training d-flex flex-wrap">
         <div class="training-left d-flex col-lg-6 col-md-6 col-sm-12">
            <figure>
               <%= image_tag "img9.png", :width => "560", :height => "400" %>
            </figure>
         </div>
         <div class="training-right d-flex col-lg-6 col-md-6 col-sm-12">
            <div class="training-right-in ">
               <h4>The Sola Home Office</h4>
               <p>The Sola Home office will walk you through every step of the process to successfully opening and operating your Sola. We also host regular trainings and conferences, both in person and online through webinars and conference calls, where you’ll be able to meet and network with some of the most experienced, supportive franchisees in the industry. Plus, you can tap into our dedicated franchise support team, system-wide newsletters, discussion board and resource center.</p>
            </div>
         </div>
	    </div>
         <div class="marketing">
		   <div class="market-in d-flex flex-wrap flex-row-reverse">
            <div class="mark-right d-flex col-lg-6 col-md-6 col-sm-12">
               <figure>
                  <%= image_tag "img10.png", :width => "560", :height => "400" %>
               </figure>
            </div>
            <div class="mark-left d-flex col-lg-6 col-md-6 col-sm-12">
               <div class="mark-left-in">
                  <h4>Marketing</h4>
                  <p>Leverage national marketing initiatives at a local level with guidance from our in-house Local Marketing Director. Our tested and proven marketing strategies and tactics from our team of marketing experts are packaged up for you and provided alongside campaign-specific training so you can easily execute campaigns on a local level to attract beauty professionals in your area to rent studios.</p>
               </div>
            </div>
         </div>
		  </div>
     </div>
   </div>
</div>

<div class="entre">
   <div class="container">
      <div class="entre-in d-flex flex-wrap">
         <div class="entre-left  col-lg-6 col-md-6 col-sm-12">
            <h4>Business Tools To <br>Empower Entrepreneurs </h4>
            <p>We want your beauty professionals to work smarter, not harder. A main selling point to beauty professionals is our comprehensive business support that gets them ready to operate their salon successfully from day one. Our proprietary apps Sola Pro (features include inspiration, education, deals and blogs) and SolaGenius (features include online booking, credit card processing, and analytics and reports) – along with a dedicated Sola web page – make that possible.</p>
         </div>
         <div class="entre-right col-lg-6 col-md-6 col-sm-12">
            <figure>
               <%= image_tag "img11.png", :width => "459", :height => "549" %>
            </figure>
         </div>
      </div>
   </div>
</div>

<div class="invest">
   <div class="container">
      <div class="invest_in d-flex flex-wrap">
         <div class="invest-left col-lg-6 col-md-6 col-sm-12">
            <div class="invest-left-in">
               <h4>Your Investment </h4>
               <p>If you’re looking for a franchise that is established, has no or few employees, is appealing to landlords because technology won’t make it obsolete, empowers and supports entrepreneurs, and has simple, attractive unit level economics, then you’ll love our innovative real estate rental model. Your total investment will vary depending on the size of your build-out and other factors, but the amount for a single location will range from about $530K to $1.7M. Potential franchise owners should have a net worth of $1.5M and liquid assets totaling $500K.</p>
            </div>
         </div>
         <div class="invest-right col-lg-6 col-md-6 col-sm-12">
            <div class="invest-right-in">
               <h6>Franchise Fee</h6>
               <div class="unit">
                  <p >Single Unit:</p>
                  <span>$55,000</span>
                  <div class="clear"></div>
               </div>
               <div class="unit">
                  <p>3-Pack:</p>
                  <span class="">$100,000 </span>
                  <div class="clear"></div>
               </div>
               <div class="unit last-child">
                  <p >6-Pack:</p>
                  <span > $175,000</span>
                  <div class="clear"></div>
               </div>
               <div class="fees">
                  <h6> Other Fees</h6>
                  <div class="fund">
                     <p>Royalty:</p>
                     <span class="">5.5% of gross revenue</span>
                     <div class="clear"></div>
                  </div>
                  <div class="gross">
                     <p>National Marketing Fund:</p>
                     <span class="">2% of gross revenue  </span>
                     <div class="clear"></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!--Investement Block End Here-->
<!--Amazing Block Start Here-->
<div class="amazing">
   <div class="amazing_in d-flex flex-wrap">
      <div class="amazing-left  col-lg-6 col-md-6 col-sm-12">
         <figure>
            <%= image_tag "img12.png", :width => "680", :height => "614" %>
         </figure>
      </div>
      <div class="amazing-right col-lg-6 col-md-6 col-sm-12">
         <div class="amazing-right-in">
            <h4>What's Next</h4>
            <p>Becoming a Sola Salon Studios franchisee is simple:</p>
            <ul>
               <li><span>1. Schedule a call.</span></li>
               <li><span>2. Discuss financial qualifications and financing options.</span></li>
               <li><span>3. Come meet us.</span></li>
               <li><span>4. Get started on your path to ownership.</span></li>
            </ul>
            <p id="p1">If you’re ready to create an amazing community and empower independent beauty professionals, we’re ready to tell you more about our franchise opportunities.</p>
         </div>
      </div>
   </div>
</div>
<!--Amazing Block End Here-->
<!--Kevin Block Start here-->
<div class="model">
   <div class="model_in">
      <p>“After selling my company, I was looking for a great business to get involved with and Sola checked all the boxes. Their upfront transparency sealed the deal.”</p>
      <div class="kevin">
         <figure>
            <%= image_tag "david.png", :width => "100", :height => "101" %>
         </figure>
         <p> <span>David McKinnon </span>Franchise Owner, CA & FL</p>
      </div>
   </div>
</div>
<!--Kevin Block End here-->
<!--Franchise Block Start Here-->
<div class="franch">
   <div class="container">
      <div class="franch_in">
         <ul class="d-flex flex-wrap">
            <li class="d-flex col-lg-6 col-md-6 col-sm-12">
               <%= link_to :our_story, :class => "discover" do %>
                  <figure>
                     <%= image_tag "img13.png", :width => "455", :height => "236" %>
                  </figure>
                  <span>Our Story</span>
                  <p>Learn more about our brand personality, roots and why we are a business that sets you up for success.</p>
               <% end %>
            </li>
            <li class="d-flex col-lg-6 col-md-6 col-sm-12">
               <%= link_to :why_sola, :class => "discover" do %>
                  <figure>
                     <%= image_tag "img14.png", :width => "455", :height => "236" %>
                  </figure>
                  <span>Why Sola?</span>
                  <p>Learn about the Sola difference and hear what our existing Franchisees have to say about Sola.</p>
               <% end %>
            </li>
         </ul>
      </div>
   </div>
</div>