<% content_for(:title) { 'Our Story' } %>

<% content_for(:stylesheets) do %>
  <%= stylesheet_link_tag "franchising/style", media: "all" %>
<% end %>

<!--Banner Start here-->
<div class="banner">
   <div class="container">
      <div class="banner-in">
         <div class="banner-left">
            <!--<h1>A Franchise  <br>That Fits Your <br>Life, Your Style<sub>®</sub></h1>-->
            <h1>Success Means  <br>Working with the <br>Best in the Business</h1>
         </div>
         <div class="banner-right">
            <figure>
               <%= image_tag "img6.jpg", :width => "550", :height => "440" %>

            </figure>
         </div>
	  <div class="union">
	    <figure>
		   <%= image_tag "Union.png", :width => "100", :height =>"100" %>
		  </figure>
	   </div>
      </div>
   </div>
</div>
<!--Banner End here-->

<!--Inspire Block Start Here-->
<div class="inspire">
   <div class="container">
      <div class="inspire-in d-flex flex-wrap">
         <div class="inspire-left d-flex col-lg-6 col-md-6 col-sm-12">
            <figure>
               <%= image_tag "img16.png", :width => "550", :height =>"550" %>
            </figure>
         </div>
         <div class="inspire-right col-lg-6 col-md-6 col-sm-12">
            <div class="inspire-right-in">
               <h1>Our Story</h1>
               <p>Sola Salon Studios was founded in 2004 with the dream of doing more than designing beautiful, move-in-ready salon studios. We set out to build a thriving community where independent beauty professionals could create a life and career they loved. Throughout the years, Sola has become more than just another salon suites rental business; we are an all-encompassing independent salon business solution. Our leadership team drives constant innovation for the on-site studio experience as well as providing cutting-edge technology and ongoing educational resources to the Sola community. Over the past 15 years, the original Sola dream has blossomed into a worldwide movement and a thriving, diverse and welcoming community of more than 18,000 independent salon professionals across 600+ locations in the United States, Canada and Brazil. We are continuing to grow and excited to meet motivated, passionate franchisees to join our high-powered and sophisticated roster on the journey to success. Sola Salon Studios is a brand you can feel proud to be a part of.</p>
            </div>
         </div>
      </div>
   </div>
</div>
<!--Inspire Block End Here--->

<!--Locations Block Start Here-->
<div class="location">
   <div class="container">
      <div class="location_in">
         <ul class="d-flex flex-wrap">
            <li>
               <div class="open">
                  <div class="open_in">
                     <h1>600+</h1>
                     <span>Open locations</span>
                  </div>
               </div>
            </li>
            <li>
               <div class="open">
                  <div class="open_in">
                     <h1>50</h1>
                     <span>Locations in development</span>
                  </div>
               </div>
            </li>
            <li>
               <div class="open">
                  <div class="open_in">
                     <h1>47</h1>
                     <span>Number of states present</span>
                  </div>
               </div>
            </li>
         </ul>
      </div>
   </div>
</div>
<!--Locations Block End Here-->

<!--LeaderShip Block Start HEre-->
<div class="leader">
   <div class="container">
      <div class="leader-in">
         <h4>Leadership Team</h4>
         <ul class="d-flex flex-wrap">
            <li class="d-flex col-lg-4 col-md-4 col-sm-12">
               <div class="nathan leadership-tile" data-rel="russell">
                  <figure>
                     <%= image_tag "img17.png", :width => "347", :height =>"240" %>
                  </figure>
                  <div class="jones">
                     <h6>Christina Russell</h6>
                     <span>Chief Executive Officer</span>
                     <p>As a serial franchising executive, Christina has held top-level leadership roles at industry-leading brands for over 20 years. Christina is currently the CEO of Sola Salon Studios, the leader in the salon suites sector with over 600 locations across the US and Canada, and more recently in Brazil. Sola prides itself in providing premier studio spaces where beauty professionals can realize their dreams of working independently in a field they love. Prior to Sola, Christina served as the CEO of Pure Barre, President of Camp Bow Wow, and VP of Operations at Curves International. Christina started her franchising career nearly 20 years ago as a multi-unit franchisee, which informs her passion for helping others achieve their dreams of business ownership. Christina lives with her husband and 5-year old daughter in Broomfield, CO.</p>
                  </div>
               </div>
            </li>
            <li class="d-flex col-lg-4 col-md-4 col-sm-12">
               <div class="nathan leadership-tile" data-rel="jensen">
                  <figure>
                     <%= image_tag "img18.png", :width => "347", :height =>"240" %>
                  </figure>
                  <div class="jones">
                     <h6>Nathan Jensen</h6>
                     <span>Chief Financial Officer</span>
                     <p>Nathan possesses a wealth of executive finance, analytics, private equity and public accounting experience central to the company&apos;s reputation as a franchise leader in the salon suites industry. His experience with business analytics and designing highly efficient reporting systems will help our company as we continue to expand our store footprint. Previously, Nathan served as CFO at Rocky Mountain Healthcare Companies, Director of Finance at Closetbox, Inc., a venture-backed startup in the self-storage industry and Waste Connection, Inc. a national player in the solid waste industry.  Nathan also has several years of experience in the hospitality industry working as a Controller with Marriott International. Nathan&apos;s career began as an audit associate with KPMG and he earned his Bachelor of Science in Accounting from Brigham Young University – Idaho and holds an MBA from Washington State University. His well-rounded experience makes him an asset to the Sola Leadership Team.</p>
                  </div>
               </div>
            </li>
            <li class="d-flex col-lg-4 col-md-4 col-sm-12">
               <div class="nathan leadership-tile" data-rel="mcneal">
                  <figure>
                     <%= image_tag "img19.png", :width => "347", :height =>"240" %>
                  </figure>
                  <div class="jones">
                     <h6>Myrle McNeal</h6>
                     <span>Chief Operating Officer</span>
                     <p>Myrle&apos;s extensive work history—combining both real estate and communications—gives

him a unique perspective and skill-set for managing not only Sola&apos;s overall corporate

goals, but also its day-to-day operations.


<br /><br />
In addition to helping facilitate Sola&apos;s forward progress as a company, Myrle also owns

five Sola Salon locations of his own in both Oregon and Louisiana, and operates an

additional 13 corporately-owned Sola locations in the Denver Metro area.


<br /><br />
Myrle&apos;s background in communications—which no doubt helps him tackle so many

responsibilities at once—began with serving in multiple capacities for numerous large

corporations. He has previously held senior leadership positions with AT&T, Sprint, and

Level 3 Communications. While serving as the Vice President and General Manager for

Level 3, he ventured out into real estate by managing the company&apos;s 75 locations,

totaling an incredible 3 million sq. ft of space across the United States and Europe.


<br /><br />
Prior to joining Sola Salon Studios in his current position, Myrle honed his skills as a

Senior Vice President of Operations for Datavail Corporation in Boulder, Colorado.  </p>
                  </div>
               </div>
            </li>
            <li class="d-flex col-lg-4 col-md-4 col-sm-12 offset-lg-2 offset-md-2">
               <div class="nathan leadership-tile" data-rel="wolff">
                  <figure>
                     <%= image_tag "jennie.jpg", :width => "347", :height =>"240" %>
                  </figure>
                  <div class="jones">
                     <h6>Jennie Wolff</h6>
                     <span>Chief Marketing Officer</span>
                     <p>With an eclectic mix of talents, skills, and experience, Jennie brings a holistic strategy to Sola&apos;s Marketing and Education initiatives.


<br /><br />
Jennie&apos;s diverse experience set was first developed when managing Kroenke&apos;s Sports & Entertainments Special Events Department, after graduating from Emory University with a Degree in Creative Writing. After five years of managing the Special Events department at Kroenke Sports and Entertainment, Jennie joined Motive, a boutique creative marketing agency where she worked on experiential campaigns and digital projects for top brands such as Mars Chocolate, Van's Natural Foods and Cartoon Network. In 2013, Jennie joined the Sola team to put her talents to work in the salon industry.


<br /><br />
Jennie&apos;s consistent focus on developing foundational tools and strategies to truly support the independent salon owner make for an authentically useful marketing strategy. Jennie oversees all of Sola&apos;s marketing efforts, both traditional and nontraditional, and also led the creation and launch of Sola&apos;s innovative education initiatives including the Sola Pro app and Sola Sessions. Her passion is to enhance the independent salon owner experience and help the salon owners at Sola to succeed.</p>
                  </div>
               </div>
            </li>
            <li class="d-flex col-lg-4 col-md-4 col-sm-12">
               <div class="nathan leadership-tile" data-rel="jones">
                  <figure>
                     <%= image_tag "img21.png", :width => "347", :height =>"240" %>
                  </figure>
                  <div class="jones">
                     <h6>Ben Jones</h6>
                     <span>Chief Development Officer</span>
                     <p>
                        Ben Jones propels Sola Salon Studios forward by developing innovative strategies and assessing risk for all national and international growth opportunities. His deep knowledge and understanding of Sola Salon Studios operations also stems from his experience as a Sola franchisee, owner of three Sola locations in Colorado.


<br /><br />
Ben earned a Bachelor&apos;s degree with distinction from Duke University, followed by a Doctor of Law degree from the University of Virginia School of Law. Prior to joining Sola in 2012, Ben was responsible for business development and risk management for tech giant, Qwest Communications and real-estate investment company Affordable Residential Communities. He is overly active in supporting his alma matter, as past-member of Duke University&apos;s Trinity School Board of Visitors and past-president of Duke&apos;s Josiah Charles Trent Memorial Foundation. In addition, he recently joined the Board of Directors for the Mary Duke Biddle Foundation, which provides grants to those seeking to effect positive change in North Carolina and at Duke University.
<br /><br />


Ben&apos;s passion for supporting and helping the independent salon owner community thrive is a driving force behind the ongoing evolution and innovation of the Sola brand. His ability to develop large-scale strategies for growth combined with a realistic understanding of the associated risks, make him uniquely situated to help Sola break new ground globally.
                     </p>
                  </div>
               </div>
            </li>
         </ul>
      </div>
   </div>
</div>
<!--LeaderShip Block End HEre-->

<!--Play Block Start here-->
<!--
<div class="business">
   <div class="container">
      <div class="business_in">
         <figure>
            <%= image_tag "img3.png", :width => "1140", :height =>"631" %>
         </figure>
         <div class="play">
            <a href="//www.youtube.com/watch?v=dxbS5LB-wf8" rel="dxbS5LB-wf8" class="play-video"><i class="fa fa-play" aria-hidden="true"></i></a>
         </div>
      </div>
   </div>
</div>
-->
<!--Play Block End here-->

<!--Kevin Block Start here-->
<div class="model">
   <div class="model_in">
      <p>&quot;This is a great business. Not only are the financial returns compelling, but you truly have the opportunity to improve people’s lives and circumstances and that’s a great combination. I have been in the commercial real estate and restaurant business and nothing has been as rewarding as this model.&quot;</p>
      <div class="kevin">
         <figure>
            <%= image_tag "kevin.png", :width => "100", :height =>"101" %>
         </figure>
         <p> <span>Kevin Lent </span>Multi-Unit Franchise Owner, Michigan, Ohio and Canada</p>
      </div>
   </div>
</div>
<!--Kevin Block End here-->
<!--Franchise Block Start Here-->
<div class="franch">
   <div class="container">
      <div class="franch_in">
         <ul class="d-flex flex-wrap">
            <li class="d-flex col-lg-6 col-md-6 col-sm-12">
               <%= link_to '#', :class => "discover contact-us-button" do %>
                  <figure>
                     <%= image_tag "img4.png", :width => "455", :height =>"236" %>
                  </figure>
                  <span>Next Steps</span>
                  <p>Get in touch and learn the details to opening your own Sola franchise.</p>
               <% end %>
            </li>
            <li class="d-flex col-lg-6 col-md-6 col-sm-12">
               <%= link_to :why_sola, :class => "discover" do %>
                  <figure>
                     <%= image_tag "img5.png", :width => "455", :height =>"236" %>
                  </figure>
                  <span>Why Sola?</span>
                  <p>Learn about the Sola difference and hear what our existing Franchisees have to say about Sola.</p>
               <% end %>
            </li>
         </ul>
      </div>
   </div>
</div>
<!--Franchise Block End Here-->

<div class="bio" data-rel="russell" data-modal-class="sessions" data-width="620" data-animated="1"></div>
<div class="bio" data-rel="mcneal" data-modal-class="sessions" data-width="620" data-animated="1"></div>
<div class="bio" data-rel="jensen" data-modal-class="sessions" data-width="620" data-animated="1"></div>
<div class="bio" data-rel="wolff" data-modal-class="sessions" data-width="620" data-animated="1"></div>
<div class="bio" data-rel="jones" data-modal-class="sessions" data-width="620" data-animated="1"></div>

