<% content_for(:title) { 'Why Sola' } %>

<% content_for(:stylesheets) do %>
  <%= stylesheet_link_tag "franchising/style", media: "all" %>
<% end %>

<!--Banner Start here-->
<div class="banner">
   <div class="container">
      <div class="banner-in">
         <div class="banner-left">
            <h1>Why Choose <br>Sola Salon <br>Studios?</h1>
         </div>
         <div class="banner-right">
            <figure>
               <%= image_tag "img15.jpg", :width =>  "550", :height => "440", :style => 'border-radius: 11px' %>
            </figure>
            <div class="play">
               <a href="//www.youtube.com/watch?v=dxbS5LB-wf8" rel="dxbS5LB-wf8" class="play-video" target="_blank"><i class="fa fa-play" aria-hidden="true"></i></a>
            </div>
         </div>
	   <div class="union">
	    <figure>
		   <%= image_tag "Union.png", :width => "100", :height =>"100" %>
		  </figure>
	   </div>
      </div>
   </div>
</div>
<!--Banner End here-->


<!--Featured Block Start Here-->
<!--
<div class="featured">
   <div class="container">
      <div class="featured-in">
         <span>FEATURED IN</span>
         <ul class="d-flex flex-wrap">
            <li class="d-flex"><a href="#"><%= image_tag "modern.png", :width => "160", :height =>"40" %></a></li>
            <li class="d-flex"><a href="#"><%= image_tag "american.png", :width => "160", :height =>"40" %></a></li>
            <li class="d-flex"><a href="#"><%= image_tag "launchpad.png", :width => "160", :height =>"40" %></a></li>
            <li class="d-flex"><a href="#"><%= image_tag "forbes.png", :width => "120", :height =>"40" %></a></li>
            <li class="d-flex"><a href="#"><%= image_tag "behind.png", :width => "160", :height =>"40" %></a></li>
            <li class="d-flex"><a href="#"><%= image_tag "Entrepreneur.png", :width => "160", :height =>"40" %></a></li>
            <li class="d-flex"><a href="#"><%= image_tag "Franchising.png", :width => "159", :height =>"40" %></a></li>
            <li class="d-flex"><a href="#"><%= image_tag "Yahoo.png", :width => "160", :height =>"40" %></a></li>
            <li class="d-flex"><a href="#"><%= image_tag "Smart.png", :width => "159", :height =>"40" %></a></li>
            <li class="d-flex"><a href="#"><%= image_tag "Franchise.png", :width => "160", :height =>"40" %></a></li>
         </ul>
      </div>
   </div>
</div>
-->
<!--Featured Block End Here-->
<!--Compelling Block Start Here-->
<div class="compelling">
   <div class="container">
      <div class="compelling-in d-flex flex-wrap">
         <div class="comp-left  col-lg-6 col-md-6 col-sm-12">
            <figure>
               <%= image_tag "img2.png", :width => "560", :height =>"550" %>
            </figure>
         </div>
         <div class="comp-right col-lg-6 col-md-6 col-sm-12">
            <div class="comp-right-in">
               <h2>A Compelling, <br>Innovative Model</h2>
               <p> Our investors are drawn to our simple operations, low labor, no inventory or receivables, attractive unit level economics and amazing culture. As a franchisee, you&apos;ll receive extensive training and a range of tools to aid your success. With largely predictable expenses and recurring rent electronically collected every week from Sola professionals, our real estate model is simple yet effective. Find out more in our Franchise Guide.</p>
               <a href="#get-the-franchise-guide">Get the Franchise Guide</a>
            </div>
         </div>
         <div class="clearfix"></div>
      </div>
   </div>
</div>
<!--Compelling Block Start Here-->

<!--Sola Salan Block Start Here-->
<div class="sola">
   <div class="container">
      <div class="sola-in">
         <h2>Why Choose Sola Salon Studios </h2>
         <ul class="d-flex flex-wrap">
            <li class="d-flex  justify-content-center col-lg-4 col-md-4 col-sm-6">
               <div class="salon">
                  <a href="#">
                     <%= image_tag "Image1.png", :width => "65", :height =>"64" %>
                     <h3>Market Analysis &amp; Site Selection</h3>
                  </a>
                  <div class="studios">
                     <div class="studios-in">
                        <%= image_tag "Image1.png", :width => "65", :height =>"64" %>
                        <h3>Market Analysis &amp;<br />Site Selection</h3>
                        <p> Work closely with the Sola Home Office team to identify competitive locations and markets and build a best-in-class Sola location.</p>
                     </div>
                  </div>
               </div>
            </li>
            <li class="d-flex align-items-center justify-content-center col-lg-4 col-md-4 col-sm-6">
               <div class="salon">
                  <a href="#">
                     <%= image_tag "Image2.png", :width => "64", :height =>"64" %>
                     <h3>Beautiful,<br> Move-In-Ready Salon Studios</h3>
                  </a>
                  <div class="studios">
                     <div class="studios-in">
                        <%= image_tag "Image2.png", :width => "64", :height =>"64" %>
                        <h3>Beautiful, Move-In-Ready Salon <br> Studios</h3>
                        <p>Sola provides plans to execute a high-quality build-out at the best price possible through our list of preferred contractors. During the build-out process, you’ll also have access to our in-house design services and design vendor list so you can complete each modern studio with cabinets, lighting, chairs and mirrors.</p>
                     </div>
                  </div>
               </div>
            </li>
            <li class="d-flex align-items-center justify-content-center col-lg-4 col-md-4 col-sm-6">
               <div class="salon">
                  <a href="#">
                     <%= image_tag "Image3.png", :width => "65", :height =>"64" %>
                     <h3>Ongoing Training &amp; Support</h3>
                  </a>
                  <div class="studios">
                     <div class="studios-in">
                        <%= image_tag "Image3.png", :width => "65", :height =>"64" %>
                        <h3>Ongoing Training &amp; Support</h3>
                        <p>As a franchisee, you’ll have access to a dedicated Operations and Support team who will walk you through every step of the process. The Sola Home Office hosts regular trainings, both in-person and online, including our annual franchisee conference, The Sola Summit, to ensure you are always learning and growing as a business owner.</p>
                     </div>
                  </div>
               </div>
            </li>
            <li class="d-flex align-items-center justify-content-center col-lg-4 col-md-4 col-sm-6">
               <div class="salon">
                  <a href="#">
                     <%= image_tag "Image4.png", :width => "65", :height =>"64" %>
                     <h3>Technology-Driven Tools To Support Our Professionals</h3>
                  </a>
                  <div class="studios">
                     <div class="studios-in">
                        <%= image_tag "Image4.png", :width => "65", :height =>"64" %>
                        <h3>Technology-Driven Tools To <br>Support Our Professionals</h3>
                        <p>Beauty professionals are drawn to our high-end studios and exceptional technology-driven tools, which allow their businesses to run smoothly. </p>
                     </div>
                  </div>
               </div>
            </li>
            <li class="d-flex align-items-center justify-content-center col-lg-4 col-md-4 col-sm-6">
               <div class="salon">
                  <a href="#">
                     <%= image_tag "Image5.png", :width => "65", :height =>"64" %>
                     <h3>Comprehensive Marketing Collateral</h3>
                  </a>
                  <div class="studios">
                     <div class="studios-in">
                        <%= image_tag "Image5.png", :width => "64", :height =>"64" %>
                        <h3>Comprehensive Marketing <br>Collateral</h3>
                        <p>The Sola Marketing team creates ready-to-launch, nationally branded campaigns to help you drive leads in your local market. Along with each national campaign, the Director of Local Marketing provides step-by-step training on how to most effectively execute campaigns on a local level.</p>
                     </div>
                  </div>
               </div>
            </li>
            <li class="d-flex align-items-center justify-content-center col-lg-4 col-md-4 col-sm-6">
               <div class="salon">
                  <a href="#">
                     <%= image_tag "Image6.png", :width => "65", :height =>"64" %>
                     <h3>High Cccupancy &amp; Retention Rates</h3>
                  </a>
                  <div class="studios">
                     <div class="studios-in">
                        <%= image_tag "Image6.png", :width => "65", :height =>"64" %>
                        <h3>High Occupancy &amp;<br />Retention Rates</h3>
                        <p>Beauty professionals consistently choose to come and stay at Sola because of our supportive culture, innovative tools and technology and best-in-class education, which allows them to run and grow their salon business.</p>
                     </div>
                  </div>
               </div>
            </li>
         </ul>
      </div>
   </div>
</div>
<!--Sola Salan Block End Here-->

<!--Kevin Block Start here-->
<div class="model">
   <div class="model_in mike">
      <p>“As a 5-unit Sola operator (and building more), I can watch my kids grow up and build long-term wealth. It&apos;s been the best decision I have ever made.”</p>
      <div class="kevin">
         <figure>
            <%= image_tag "mike.png", :width => "100", :height =>"101" %>
         </figure>
         <p> <span>Mike Meilleur </span>Multi-Unit Franchise Owner, OH & NY</p>
      </div>
   </div>
</div>
<!--Kevin Block End here-->
<!--Franchise Block Start Here-->
<div class="franch">
   <div class="container">
      <div class="franch_in">
         <ul class="d-flex flex-wrap">
            <li class="d-flex col-lg-6 col-md-6 col-sm-12">
               <%= link_to :root, :class => "discover" do %>
                  <figure>
                     <%= image_tag "img13.png", :width => "455", :height =>"236" %>
                  </figure>
                  <span>Overview </span>
                  <p>Review the facts and figures and learn why we are a solid addition to your portfolio.</p>
               <% end %>
            </li>
            <li class="d-flex col-lg-6 col-md-6 col-sm-12">
               <%= link_to '#', :class => "discover contact-us-button" do %>
                  <figure>
                     <%= image_tag "img22.png", :width => "455", :height =>"236" %>
                  </figure>
                  <span>Next Steps </span>
                  <p>Get in touch and learn the details to opening your own Sola franchise.</p>
               <% end %>
            </li>
         </ul>
      </div>
   </div>
</div>
<!--Franchise Block End Here-->