<p><%= t(:your_email_is, {:email => @reset_password.email}) %></p>
<p><%= t(:click_the_link_below_to_reset_your_sola_pro_password) %> 
	<% if I18n.locale.to_s == 'pt-BR' %>
		<a href="https://www.solaprofessional.com.br/reset-password/<%= @reset_password.public_id %>">https://www.solaprofessional.com.br/reset-password/<%= @reset_password.public_id %></a>
	<% else %>
		<a href="https://www.solaprofessional.com/reset-password/<%= @reset_password.public_id %>">https://www.solaprofessional.com/reset-password/<%= @reset_password.public_id %></a>
	<% end %>
</p>

<p>
<%= t(:cheers) %>,
<br>
Sola Salon Studios
</p>