<h3>Get Featured by Sola - Form Submission</h3>
<ul>
  <li><strong>Name:</strong> <%= @get_featured.name %></li>
  <li><strong>Email:</strong> <%= @get_featured.email %></li>
  <li><strong>Phone Number:</strong> <%= @get_featured.phone_number %></li>
  <li><strong>Salon Name:</strong> <%= @get_featured.salon_name %></li>
  <li><strong>Salon Location:</strong> <%= @get_featured.salon_location %></li>
</ul>