<div class="container content-container">
  <div class="row">
    <h1><%= t('page.newsletter.newsletter_sign_up').html_safe %></h1>
    <%= form_tag :newsletter_sign_up do %>
      <p><%= t('page.newsletter.stay_informed').html_safe %></p>
      <input type="email" name="email" class="input" placeholder="<%= t('page.newsletter.your_email_address').html_safe %>" >
      <br>
      <button type="button" class="button"><%= t('page.newsletter.join').html_safe %></button>
    <% end %>
  </div>
</div>        