<% content_for(:stylesheets) { stylesheet_link_tag 'digital_directory' } %>
<% content_for(:scripts) { javascript_include_tag 'digital_directory' } %>

<div class="container">

  <div class="left-col">
    <h1><strong>Welcome to</strong><br>Sola Salons</h1>

    <% if @stylists && @stylists.size > 0 %>
      <div class="listings">
        <% left_stylists, right_stylists = @stylists.each_slice((@stylists.size / 2.0).round).to_a %>
        <div class="half-col-left">
          <% left_stylists.each do |stylist| %>
            <div class="listing">
              <div class="number"><%= stylist.studio_number %></div>
              <div class="name"><%= stylist.business_name %><br><%= stylist.name %></div>
            </div>
          <% end %>
        </div>
        <div class="half-col-right">
          <% right_stylists.each do |stylist| %>
            <div class="listing">
              <div class="number"><%= stylist.studio_number %></div>
              <div class="name"><%= stylist.business_name %><br><%= stylist.name %></div>
            </div>
          <% end %>
        </div>
        <div class="clearfix"></div>
      </div>

      <h2>Locate Your Studio Number On The Map</h2>
    <% else %>
      &nbsp;
    <% end %>
  </div>

  <div class="right-col">

    <%= image_tag 'logo_white.png', :id => 'logo' %>

    <div class="floorplan-image"><%= image_tag @location.floorplan_image.url(:original) %></div>

    <div class="photo-gallery">
      <div class="images">
        <%= image_tag @location.image_1.url(:directory) if @location.image_1.exists? %>
        <%= image_tag @location.image_2.url(:directory) if @location.image_2.exists? %>
        <%= image_tag @location.image_3.url(:directory) if @location.image_3.exists? %>
        <%= image_tag @location.image_4.url(:directory) if @location.image_4.exists? %>
        <%= image_tag @location.image_5.url(:directory) if @location.image_5.exists? %>
        <%= image_tag @location.image_6.url(:directory) if @location.image_6.exists? %>
        <%= image_tag @location.image_7.url(:directory) if @location.image_7.exists? %>
        <%= image_tag @location.image_8.url(:directory) if @location.image_8.exists? %>
        <%= image_tag @location.image_9.url(:directory) if @location.image_9.exists? %>
        <%= image_tag @location.image_10.url(:directory) if @location.image_10.exists? %>
      </div>
      <div class="photo"></div>
      <div class="photo"></div>
      <div class="photo"></div>
    </div>

  </div>

</div>