<div class="container content-container">
  <div class="row">
    <h1><%= t('page.faqs.frequently_asked_questions').html_safe %></h1>
  </div>

  <div class="row">

    <h2 class="faq-question"><%= t('page.faqs.question1').html_safe %></h2>
    <div class="faq-answer"><%= t('page.faqs.answer1').html_safe %></div>

    <h2 class="faq-question"><%= t('page.faqs.question2').html_safe %></h2>
    <div class="faq-answer"><%= t('page.faqs.answer2').html_safe %></div>

    <h2 class="faq-question"><%= t('page.faqs.question3').html_safe %></h2>
    <div class="faq-answer"><%= t('page.faqs.answer3').html_safe %></div>

    <h2 class="faq-question"><%= t('page.faqs.question4').html_safe %></h2>
    <div class="faq-answer"><%= t('page.faqs.answer4').html_safe %></div>
                   
    <h2 class="faq-question"><%= t('page.faqs.question5').html_safe %></h2>
    <div class="faq-answer"><%= t('page.faqs.answer5').html_safe %></div>

    <h2 class="faq-question"><%= t('page.faqs.question6').html_safe %></h2>
    <div class="faq-answer"><%= t('page.faqs.answer6').html_safe %></div>
                   
    <h2 class="faq-question"><%= t('page.faqs.question7').html_safe %></h2>
    <div class="faq-answer"><%= t('page.faqs.answer7').html_safe %></div>

    <h2 class="faq-question"><%= t('page.faqs.question8').html_safe %></h2>
    <div class="faq-answer"><%= t('page.faqs.answer8').html_safe %></div>
                   
    <h2 class="faq-question"><%= t('page.faqs.question9').html_safe %></h2>
    <div class="faq-answer"><%= t('page.faqs.answer9').html_safe %></div>
                   
    <h2 class="faq-question"><%= t('page.faqs.question10').html_safe %></h2>
    <div class="faq-answer" style="margin-bottom: 40px"><%= t('page.faqs.answer10').html_safe %></div>

  </div>
</div>

<% content_for(:scripts) { javascript_include_tag('faq') } %>
<% content_for(:title) { t('page.faqs.frequently_asked_questions').html_safe } %>
<% content_for(:canonical_url) { "https://www.solasalonstudios.#{I18n.locale != :en ? 'ca' : 'com'}/faq" } %>
<% content_for(:meta_description) { t('page.faqs.meta_description') } %>