<div class="location-breadcrumb blog-breadcrumb">
  <div class="container">
    <%= link_to t('page.blog.title').html_safe, :blog %>
    <% if @category %>
      <span class="divider">/</span> <%= link_to @category.name, blog_category_path(@category.url_name) %>
    <% end %>
  </div>
</div>

<div class="container content-container">
  
  <div class="row">
    <div class="twelve columns">
      <h1><%= t('page.blog.our_blog').html_safe %></h1>
      <% if params[:query].present? %>
        <p class="search-results-label"><%= t('page.blog.found').html_safe %> <%= pluralize @posts.total_count, 'result' %></p>
      <% end %>          
    </div>
  </div>

  <div class="row">
    
    <div class="search-and-filter-row">
      
      <div class="one-half column">
        <form method="get" action="<%= blog_path %>">
          <input type="text" name="query" value="<%= params[:query] %>" class="search-input" placeholder="<%= t('page.blog.search').html_safe %>" />
          <button class="search-button button primary"><span class="ss-search"></span></button>
        </form>
      </div>

      <div class="one-half column text-right">
        <div class="sola-select blog-select">
          <div class="row">
            <div class="option-placeholder"><h3><%= @category ? @category.name : t('page.blog.choose_a_category').html_safe %></h3></div>
            <div class="arrow"><span class="ss-dropdown"></span></div>
          </div>
          <div class="options">
              <div class="option" data-value="<%= blog_path() %>"><%= t('page.blog.all_categories').html_safe %></div>
            <% @categories.each do |category| %>
              <div class="option" data-value="<%= blog_category_path(category.url_name) %>"><%= category.name.html_safe %></div>
            <% end %>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>

<div class="container">

  <% @posts.each do |post| %>
    <%= render 'shared/blog_post_summary', :post => post %>
  <% end %>

  <%= paginate @posts %>
  
</div>

<% content_for(:scripts) { javascript_include_tag('blog') } %>
<% content_for(:title) { t('page.blog.our_blog').html_safe } %>
<% content_for(:canonical_url) { "https://www.solasalonstudios.#{I18n.locale != :en ? 'ca' : 'com'}/blog" } %>