<div class="container content-container">
  
  <div class="row">
    <h1>Our Blog</h1>
  </div>

  <% @posts.each do |post| %>
    <div class="blog-post-summary">
      <div class="row">
        <div class="twelve columns"><%= link_to show_blog_path(post) do %><%= image_tag post.image(:original), :class => 'full-width' %><% end %></div>
      </div>
      <div class="row">
        <div class="one-third column"><h4><%= post.title.html_safe %></h4><p class="subtle">Posted on <%= post.created_at.strftime('%B %e, %Y') %><br><%= post.author %></p></div>
        <div class="two-thirds column"><p class="summary"><%= post.summary.html_safe %> &nbsp;<%= link_to 'Read More', show_blog_path(post) %></p></div>
      </div>
    </div>
  <% end %>
  
</div>