<div class="container content-container">
  
  <div class="row">
    
    <div class="one-half column">
      <h1>Our Blog</h1>
    </div>

    <div class="one-half column text-right">
      <div class="sola-select blog-select">
        <div class="row">
          <div class="option-placeholder"><h3><%= @category ? @category.name : 'Choose a Category' %></h3></div>
          <div class="arrow"><span class="ss-dropdown"></span></div>
        </div>
        <div class="options">
          <% @categories.each do |category| %>
            <div class="option" data-value="<%= blog_category_path(category.url_name) %>"><%= category.name.html_safe %></div>
          <% end %>
          <!--<div class="option" data-value="<%= blog_path %>">All Categories</div>-->
        </div>
      </div>
    </div>

  </div>

</div>

<div class="location-breadcrumb blog-breadcrumb">
  <div class="container">
    <%= link_to 'Blog', :blog %>     
    <% if @category %>
      <span class="divider">/</span> <%= link_to @category.name, blog_category_path(@category.url_name) %>
    <% end %>
     <span class="divider">/</span> <%= link_to @post.safe_title, show_blog_path(@post) %>
  </div>
</div>

<div class="container content-container">
  <div class="blog-post-article">

    <div class="row">
      <div class="twelve columns"><%= link_to show_blog_path(@post) do %><%= image_tag @post.image(:original), :class => 'full-width blog-post-image' %><% end %></div>
    </div>

    <div class="row">
      
      <div class="one-third column">
        <h4><%= @post.title.html_safe %></h4>
        <p class="subtle">Posted on <%= @post.created_at.strftime('%B %e, %Y') %><br><%= @post.author.html_safe %></p>
        <div class="share-socially"><h3>Share Socially</h3></div>
        <ul class="social three">
          <li><%= link_to "https://www.pinterest.com/pin/create/button/?url=#{request.original_url}&media=#{@post.image(:original)}&description=#{@post.safe_title}", :target => '_blank' do %><span class="ss-social-regular ss-pinterest"></span><% end %></li>
          <li><%= link_to "http://twitter.com/home/?status=#{@post.safe_title} #{request.original_url}", :target => '_blank' do %><span class="ss-social-regular ss-twitter"></span><% end %></li>
          <li><%= link_to "https://www.facebook.com/sharer/sharer.php?u=#{request.original_url}", :target => '_blank' do %><span class="ss-social-regular ss-facebook"></span><% end %></li>
        </ul>
      </div>
      
      <div class="two-thirds column">
        <p class="summary"><%= @post.body.gsub(/\n/, '<hr class="br">').html_safe %></p>

        <div class="disqus-comments">
          <%= render 'shared/disqus' %>
        </div>
      </div>

    </div>

    <div class="related-articles">
      <h3>Related Articles</h3>
      <div class="row">
        <div class="one-third column"><%= render 'shared/related_blog', :blog => @post.related_blogs[0] %></div>
        <div class="one-third column"><%= render 'shared/related_blog', :blog => @post.related_blogs[1] %></div>
        <div class="one-third column"><%= render 'shared/related_blog', :blog => @post.related_blogs[2] %></div>
      </div>
    </div>

  </div>

</div>

<% content_for(:scripts) { javascript_include_tag('blog') } %>