<!-- <div class="location-breadcrumb blog-breadcrumb">
  <div class="container">
    <%= link_to t('page.blog.title').html_safe, :blog %>     
    <% if @category %>
      <span class="divider">/</span> <%= link_to @category.name, blog_category_path(@category.url_name) %>
    <% end %>
     <span class="divider">/</span> <%= link_to @post.title.html_safe, show_blog_path(@post) %>
  </div>
</div> -->

<div class="container content-container">
  
  <div class="row">
    <div class="twelve columns">
      <h4 class="h1"><%= t('page.blog.our_blog').html_safe %></h4>
    </div>
  </div>

  <div class="row">
    <div class="search-and-filter-row">
      <div class="one-half column">
        <div class="search-with-spyglass">
          <form method="get" action="<%= blog_path %>">
            <input type="text" name="query" value="<%= params[:query] %>" class="search-input" placeholder="<%= t('page.blog.search').html_safe %>" />
            <button class="search-button button primary"><span class="spyglass-white"></span></button>
          </form>
        </div>
      </div>

      <div class="one-half column text-right">
        <div class="sola-select blog-select">
          <div class="row">
            <div class="option-placeholder"><h3><%= @category ? @category.name : t('page.blog.choose_a_category').html_safe %></h3></div>
            <div class="arrow"><span class="ss-dropdown"></span></div>
          </div>
          <div class="options">
              <div class="option" data-value="<%= blog_path() %>"><%= t('page.blog.all_categories').html_safe %></div>
            <% @categories.each do |category| %>
              <div class="option" data-value="<%= blog_category_path(category.url_name) %>"><%= category.name.html_safe %></div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="container">
  <div class="blog-post-article">

    <% if @post.image.present? && !@post.mysola_category %>
      <div class="row">
        <div class="twelve columns"><%= link_to show_blog_path(@post) do %><%= image_tag @post.image(:original), :class => 'full-width blog-post-image' %><% end %></div>
      </div>
    <% end %>

    <div class="row">
      
      <div class="one-third column">
        <h1 class="h4 large"><%= @post.title.html_safe %></h1>
        <p class="subtle"><%= t('page.blog.posted_on', :date => @post.publish_date ? @post.publish_date.strftime('%B %e, %Y').html_safe : DateTime.now.strftime('%B %e, %Y').html_safe) %><br><%= @post.author.html_safe %></p>
        <% if @post.contact_form_visible %>
          <div class="blog-contact-button"><a href="#" class="button primary"><%= I18n.t('header.contact_us') %></a></div>
        <% end %>
        <div class="share-socially"><h3><%= t('page.blog.share_socially').html_safe %></h3></div>
        <ul class="social three">
          <li><%= link_to "https://www.pinterest.com/pin/create/button/?url=#{request.original_url}&media=#{@post.image(:original)}&description=#{@post.safe_title}", :target => '_blank' do %><span class="ss-social-regular ss-pinterest"></span><% end %></li>
          <li><%= link_to "https://twitter.com/intent/tweet?text=#{@post.safe_title} #{request.original_url}", :target => '_blank' do %><span class="ss-social-regular ss-twitter"></span><% end %></li>
          <li><%= link_to "https://www.facebook.com/sharer/sharer.php?u=#{request.original_url}", :target => '_blank' do %><span class="ss-social-regular ss-facebook"></span><% end %></li>
        </ul>
      </div>
      
      <div class="two-thirds column">
        <div class="summary"><%= @post.body.html_safe %></div>

        <% if @post.contact_form_visible %>
          <%= render 'shared/contact_form_component' %>
        <% end %>

        <div class="disqus-comments">
          <%= render 'shared/disqus' %>
        </div>
      </div>

    </div>

    <% if @post.related_blogs[0] && @post.related_blogs[1] && @post.related_blogs[2] %>
      <div class="related-articles">
        <h3><%= t('page.blog.related_articles').html_safe %></h3>
        <div class="row">
          <div class="one-third column"><%= render 'shared/related_blog', :blog => @post.related_blogs[0] %></div>
          <div class="one-third column"><%= render 'shared/related_blog', :blog => @post.related_blogs[1] %></div>
          <div class="one-third column"><%= render 'shared/related_blog', :blog => @post.related_blogs[2] %></div>
        </div>
      </div>
    <% end %>

  </div>

</div>

<% content_for(:scripts) { javascript_include_tag('blog') } %>
<% content_for(:title) { @post.title.html_safe } %>
<% content_for(:og_image) { @post.image(:original) } %>
<% content_for(:og_description) { clean_html @post.summary } %>
<% content_for(:meta_description) { 
  if @post.meta_description.present?
    @post.meta_description
  else
    clean_html @post.summary 
  end
} %>
<% content_for(:fb_conversion_pixel) { 
  if @post.fb_conversion_pixel && @post.fb_conversion_pixel.present?
    @post.fb_conversion_pixel.html_safe
  else
    %{
    <!-- Facebook Conversion Code for Blog -->
    <script>(function() {
    var _fbq = window._fbq || (window._fbq = []);
    if (!_fbq.loaded) {
    var fbds = document.createElement('script');
    fbds.async = true;
    fbds.src = '//connect.facebook.net/en_US/fbds.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(fbds, s);
    _fbq.loaded = true;
    }
    })();
    window._fbq = window._fbq || [];
    window._fbq.push(['track', '6033481168380', {'value':'0.00','currency':'USD'}]);
    </script>
    <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6033481168380&amp;cd[value]=0.00&amp;cd[currency]=USD&amp;noscript=1" /></noscript>
    }.html_safe
  end
} %>
<% content_for(:canonical_url) { @post.get_canonical_url(I18n.locale) } %>