<div class="container">
<div class="sola-genius-phone-gallery-desktop">
  
  <div class="row">
    <div class="one-third column" data-aos="fade-right" data-aos-offset="200">
      <ul class="sola-genius-feature-list sola-genius-feature-list-desktop">
        <li class="active" data-index="0" data-slide="online-booking"><span class="sola-genius-icon online-booking-icon"></span><h2 class="online-booking-heading">24/7 Online Booking</h2></li>
        <li data-index="1" data-slide="simple-calendar-interface"><span class="sola-genius-icon simple-calendar-interface-icon"></span><h2 class="simple-calendar-interface-heading">Simple Calendar Interface</h2></li>
        <li data-index="2" data-slide="appointment-notifications"><span class="sola-genius-icon appointment-notifications-icon"></span><h2 class="appointment-notifications-heading">Appointment Notifications</h2></li>
        <li data-index="3" data-slide="text-message-marketing"><span class="sola-genius-icon text-message-marketing-icon"></span><h2 class="text-message-marketing-heading">Text Message Marketing</h2></li>
        <li data-index="4" data-slide="client-notes"><span class="sola-genius-icon client-notes-icon"></span><h2 class="client-notes-heading">Client Notes</h2></li>
        <li data-index="5" data-slide="point-of-sale"><span class="sola-genius-icon point-of-sale-icon"></span><h2 class="point-of-sale-heading">Point-Of-Sale</h2></li>
        <li data-index="6" data-slide="credit-card-processing"><span class="sola-genius-icon credit-card-processing-icon"></span><h2 class="credit-card-processing-heading">Credit Card Processing</h2></li>
        <li data-index="7" data-slide="analytics-and-reports"><span class="sola-genius-icon analytics-and-reports-icon"></span><h2 class="analytics-and-reports-heading">Analytics and Reports</h2></li>
        <li data-index="8" data-slide="reliable-customer-support"><span class="sola-genius-icon reliable-customer-support-icon"></span><h2 class="reliable-customer-support-heading">Reliable Customer Support</h2></li>
      </ul>
    </div>

    <div class="one-third column" data-aos="fade-up" data-aos-offset="200">
      <div class="sola-genius-phone-gallery">
        <div class="sola-genius-phone"></div>
        <div class="sola-genius-phone-carousel owl-carousel owl-theme no-autobind" data-nonav="true">
          <div class="item" data-slide="online-booking"><%= image_tag 'own/sola-genius-gallery/online-booking-screen.jpg', :alt => "24/7 Online Booking" %></div>
          <div class="item" data-slide="simple-calendar-interface"><%= image_tag 'own/sola-genius-gallery/simple-calendar-interface-screen.jpg', :alt => "Simple Calendar Interface" %></div>
          <div class="item" data-slide="appointment-notifications"><%= image_tag 'own/sola-genius-gallery/appointment-notifications-screen.jpg', :alt => "Appointment Notifications" %></div>
          <div class="item" data-slide="text-message-marketing"><%= image_tag 'own/sola-genius-gallery/text-message-marketing-screen.jpg', :alt => "Text Message Marketing" %></div>
          <div class="item" data-slide="client-notes"><%= image_tag 'own/sola-genius-gallery/client-notes-screen.jpg', :alt => "Client Notes" %></div>
          <div class="item" data-slide="point-of-sale"><%= image_tag 'own/sola-genius-gallery/point-of-sale-screen.jpg', :alt => "Point-Of-Sale" %></div>
          <div class="item" data-slide="credit-card-processing"><%= image_tag 'own/sola-genius-gallery/credit-card-processing-screen.jpg', :alt => "Credit Card Processing" %></div>
          <div class="item" data-slide="analytics-and-reports"><%= image_tag 'own/sola-genius-gallery/analytics-and-reports-screen.jpg', :alt => "Analytics and Reports" %></div>
          <div class="item" data-slide="reliable-customer-support"><%= image_tag 'own/sola-genius-gallery/reliable-customer-support-screen.jpg', :alt => "Reliable Customer Support" %></div>
        </div>
      </div>
      <div class="clearfix">&nbsp;</div>
    </div>

    <div class="one-third column" data-aos="fade-left" data-aos-offset="200">
      <div class="sola-genius-descriptions sola-genius-descriptions-desktop">
        <p class="active online-booking-text">A simple and beautiful booking experience that allows you to cut down on client calls, texts and voicemails</p>
        <p class="simple-calendar-interface-text">Create and manage the perfectly curated schedule</p>
        <p class="appointment-notifications-text">Keep clients up-to-date on upcoming appointments to cut down on no shows and cancellations with reminders and follow-ups</p>
        <p class="text-message-marketing-text">Shower your clients with updates and strengthen relationships with marketing outreach via text messaging</p>
        <p class="client-notes-text">Save client details, from color formulas to upcoming milestones, and receive reminders so you never forget a thing</p>
        <p class="point-of-sale-text">Prepopulate your SolaGenius with services and products to make checkout fast and easy</p>
        <p class="credit-card-processing-text">It's fast, PCI compliant and rates are the lowest in the industry -- a simple 2.6% per swipe</p>
        <p class="analytics-and-reports-text">We've worked with industry experts to drill down on the numbers you need to know to work smarter, not harder</p>
        <p class="reliable-customer-support-text">Get the help you need via text message, phone or email for everything from help setting up to ongoing questions</p>
      </div>
      <div class="sola-genius-get-started sola-genius-get-started-desktop">
        <a href="https://sola.glossgenius.com/" class="button" target="_blank">Get Started</a>
        <p><strong>Uniquely made for Sola, by Sola.</strong></p>
      </div>
    </div>
  </div>           

  <div class="clearfix">&nbsp;</div>

  <div class="sola-genius-pricing-desktop" data-aos="fade-down" data-aos-offset="100">
    <div class="container">
      <p><strong>Pricing:</strong></p>
      <p>Sola professionals pay just $20 per month for the full suite of SolaGenius business support tools (normally $44/month), along with a 2.6% credit card processing fee (humble brag: that's the lowest in the business).</p>
    </div>
  </div>

</div>
</div>