<div class="sola-genius">

  <div class="hero-tab-content hero-own" <%= 'data-hero-active=true' if params[:tab] == 'sola-genius' || params[:tab].blank? %> data-ref="#sola-genius">
    <div class="hero-fullscreen">
      <div class="hero-carousel-fullscreen" data-autoplayoff="true">
        <div class="item"><%= image_tag 'own/sola_genius_hero_desktop.jpg', :class => 'fullscreen', :'data-width' => 1488, :'data-height' => 984, :width => 1488, :height => 984 %></div>
      </div>

      <div class="hero-content">
        <div class="hero-content-wrapper">
          <%= render 'tabs', :active => 'sola-genius' %>
          <%= image_tag 'own/introducing_sola_genius.png', :class => 'introducing_sola_genius', :alt => 'Introducing Sola Genius' %> 
          <!--<a href="//www.youtube.com/watch?v=i6AUSUofPUg" class="sizzle-video-controls play-video" rel="i6AUSUofPUg">
            <div class="gradient-play-button"></div>
            <div class="sizzle-video-controls-text">Watch Sizzle Video</div>
          </a>-->
          <a href="#sola-genius-gallery" class="down_circle_arrow_icon" data-aos="fade-down" data-aos-offset="-200"></a>
        </div>
      </div>
    </div>
  </div> 

  <div class="sola-genius-gallery" id="sola-genius-gallery">

    <%= image_tag 'own/run-your-sola-like-a-boss.png', :alt => 'Run Your Sola Like a Boss', :class => 'run-your-sola-like-a-boss', 
                  :width => 567, :height => 41, 'data-aos' => "fade-down", "data-aos-offset" => 200 %> 
        
    <%= render 'sola_genius_gallery_desktop' %>
  </div>

  <div class="sola-genius-pricing-mobile">
    <div class="container">
      <p><strong>Pricing:</strong></p>
      <p>Sola professionals pay just $20 per month for the full suite of SolaGenius business support tools (normally $44/month), along with a 2.6% credit card processing fee (humble brag: that's the lowest in the business).</p>
    </div>
  </div>

  <div class="callout blue">
    <div class="container">
      <h3 class="large" style="margin-bottom:0;"><span style="font-weight:normal"><%= t('page.own.section.sola_sessions.want_to_learn_more').html_safe %></span> <%= link_to t('page.own.section.sola_sessions.view_frequently_asked_questions').html_safe, :faqs %></h3>
    </div>
  </div>

</div>