<div class="hero-text" style="background-image:url('<%= image_path 'Testimonials_Hero.png' %>')">
  <div class="text">
    <h1>Customer Testimonials</h1>
    <h3>Click to watch video</h3>
    <a href="//www.youtube.com/watch?v=77gzVR-50Wo" class="play-button"></a>
  </div>
  <div class="learn-more">
    <h3>Learn More</h3>
    <span class="ss-navigatedown"></span>
  </div>
</div>

<div class="container featured-testimonials">
  <h3 class="text-center">Featured Testimonials</h3>

  <div class="owl-carousel owl-theme">
   
    <div class="item featured-testimonial">
      <h1>"Even though we are all self employed, everyone works together as a team to help each other be the best we can be. This has been the best decision I have made in my career."</h1>
      <h3 class="subtle">Katina Eisenbeis - Denver, CO</h3>
    </div>

    <div class="item featured-testimonial">
      <h1>"Even though we are all self employed, everyone works together as a team to help each other be the best we can be. This has been the best decision I have made in my career."</h1>
      <h3 class="subtle">Katina Eisenbeis - Denver, CO</h3>
    </div>

    <div class="item featured-testimonial">
      <h1>"Even though we are all self employed, everyone works together as a team to help each other be the best we can be. This has been the best decision I have made in my career."</h1>
      <h3 class="subtle">Katina Eisenbeis - Denver, CO</h3>
    </div>    
   
  </div>

</div>

<div class="callout blue image">
  <div class="container text-center">
    <%= link_to :contact_us do %>
      <h1 style="margin-top:0">Join over 5,000 Sola Salon Professionals!</h1>
    <% end %>
  </div>
</div>

<div class="container sola-spotlights">

  <div class="owl-carousel owl-theme" data-items="3">
   
    <div class="item sola-spotlight">
      <%= link_to show_blog_path('stylist_profile_autumn_morris') do %>
        <%= image_tag 'Autumn.jpg' %>
        <h1>Autumn Morris</h1>
        <h3>Sola Spotlight</h3>
      <% end %>
    </div>
   
    <div class="item sola-spotlight">
      <%= link_to show_blog_path('sola_spotlight_brandie_kekoa') do %>
        <%= image_tag 'Brandie.jpg' %>
        <h1>Brandie Kekoa</h1>
        <h3>Sola Spotlight</h3>
      <% end %>
    </div> 

    <div class="item sola-spotlight">
      <%= link_to show_blog_path('sola_spotlight_nyki_nechiporenko') do %>
        <%= image_tag 'Nyki.jpg' %>
        <h1>Nyki Nechiporenko</h1>
        <h3>Sola Spotlight</h3>
      <% end %>
    </div>  

    <div class="item sola-spotlight">
      <%= link_to show_blog_path('sola_spotlight_vannora_hawkins') do %>
        <%= image_tag 'Vannora.jpg' %>
        <h1>Vannora Hawkins</h1>
        <h3>Sola Spotlight</h3>
      <% end %>
    </div>

    <div class="item sola-spotlight no-border">
      <%= link_to show_blog_path('sola_spotlight_calynn_colceri') do %>
        <%= image_tag 'Calyn.jpg' %>
        <h1>Calyn Colceri</h1>
        <h3>Sola Spotlight</h3>
      <% end %>
    </div>  

    <div class="item sola-spotlight no-border">
      <%= link_to show_blog_path('georgette_vetock_small_acts_of_kindness') do %>
        <%= image_tag 'Georgette.jpg' %>
        <h1>Georgette Vetock</h1>
        <h3>Sola Spotlight</h3>
      <% end %>
    </div> 
   
   
  </div> 

</div>

<div class="container half-testimonials">

  <div class="row">
    <div class="one-half column half-testimonial">
      <h4>"Making the move to Sola was the best decision I made for my business. Having the freedom to decorate and set up my room to fit my personal style was key. I love making my own schedule and running my business the way I think is best. I honestly can't picture myself anywhere else."</h4>
      <div class="testimoinal-author">
        <%= image_tag 'Kristen_Avatar@2x.png' %>
        <div class="author-info"><h3>Kirsten Tollefson</h3>
        <h3 class="subtle">The Chic Suite</h3></div>
      </div>
    </div>
    <div class="one-half column half-testimonial">
      <h4>"For the past 6 years Sola has given me the flexibility to build my business without limits. I'm a mother of two and a wife, and life has it's demands. I'm able to adjust my schedule as I see fit. One of my favorite things about Sola is the fact that my studio is my studio – I completely control the atmosphere."</h4>
      <div class="testimoinal-author">
        <%= image_tag 'JoyLove_Avatar@2x.png' %>
        <div class="author-info"><h3>Joy Love</h3>
        <h3 class="subtle">Joy Love’s Hair &amp; Image Studio</h3></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="one-half column half-testimonial">
      <h4>"I recommend Sola to all stylists interested in the ability to set your own schedule, the freedom to set your own pricing, and feeling the sense of pride and accomplishment from owning and running your own business."</h4>
      <div class="testimoinal-author">
        <%= image_tag 'Tricia_Avatar@2x.png' %>
        <div class="author-info"><h3>Tricia Shallenberger</h3>
        <h3 class="subtle">Studio 3 Hair Design</h3></div>
      </div>
    </div>
    <div class="one-half column half-testimonial">
      <h4>"If you are looking for the freedom to create a unique intimate setting while being in a community of like-minded people, Sola is the right path. I love having the ability to be myself and focus on my clients without the fear of being alone."</h4>
      <div class="testimoinal-author">
        <%= image_tag 'Toby_Avatar@2x.png' %>
        <div class="author-info"><h3>Toby Adams</h3>
        <h3 class="subtle">{DO} the Bang Thing</h3></div>
      </div>
    </div>    
  </div>

  <div class="row">
    <div class="one-half column half-testimonial">
      <h4>"I love that I have my very own space where I can do business the way I want to, and that I can decorate as I like. I get to focus on my clients without any salon drama to interfere."</h4>
      <div class="testimoinal-author">
        <%= image_tag 'Katina_Avatar@2x.png' %>
        <div class="author-info"><h3>Katina Eisenbeis</h3>
        <h3 class="subtle">Katina's Salon</h3></div>
      </div>
    </div>
    <div class="one-half column half-testimonial">
      <h4>"This is the first time my clients have felt comfortable referring their friends to me. Sola has provided me with the professional environment that I needed to grow my business."</h4>
      <div class="testimoinal-author">
        <%= image_tag 'Gina_Avatar@2x.png' %>
        <div class="author-info"><h3>Gina Greco</h3>
        <h3 class="subtle">Creative Hair by Gina</h3></div>
      </div>
    </div>
  </div>

  <div class="row last">
    <div class="one-half column half-testimonial">
      <h4>"Having my own salon allows me the freedom of creating my own schedule to work smarter not harder."</h4>
      <div class="testimoinal-author">
        <%= image_tag 'Kim_Avatar@2x.png' %>
        <div class="author-info"><h3>Kim Bennett Horvath</h3>
        <h3 class="subtle">Kim Bennett Studios</h3></div>
      </div>
    </div> 

    <div class="one-half column half-testimonial">
      <h4>"My studio is an extension of me and the artist within me! The most exiting thing is...the sky is the limit."</h4>
      <div class="testimoinal-author">
        <%= image_tag 'Autumn_Avatar@2x.png' %>
        <div class="author-info"><h3>Autumn Morris</h3>
        <h3 class="subtle">GlamLocks Hair Lounge</h3></div>
      </div>
    </div>    
  </div>    

</div>


<div class="sola-story gray large">
  <div class="container">
    <div class="row">
        <h2>Join our community and experience a level of <strong>creative independence</strong> and <strong>career support</strong> you won't find anywhere else.</h2>
    </div>
    <div class="row">
      <%= link_to 'Learn More', :own_your_salon, :class => 'button first' %>
    </div>
  </div>
</div>