<div class="testimonials-page">

<%= render 'shared/public_website/about_us_nav', :page => :testimonials %>

<h1 class="title"><%= t('page.testimonials.title').html_safe %></h1>

<div class="container featured-testimonials">

  <div class="owl-carousel owl-theme" data-autoplay="10000">

    <div class="item featured-testimonial">
      <h1 class="chalet"><%= t('page.testimonials.carousel_testimonial1').html_safe %></h1>
      <h4><%= t('page.testimonials.carousel_author1').html_safe %></h4>
    </div>

    <div class="item featured-testimonial">
      <h1 class="chalet"><%= t('page.testimonials.carousel_testimonial2').html_safe %></h1>
      <h4><%= t('page.testimonials.carousel_author2').html_safe %></h4>
    </div>

    <div class="item featured-testimonial">
      <h1 class="chalet"><%= t('page.testimonials.carousel_testimonial3').html_safe %></h1>
      <h4><%= t('page.testimonials.carousel_author3').html_safe %></h4>
    </div>

    <div class="item featured-testimonial">
      <h1 class="chalet"><%= t('page.testimonials.carousel_testimonial4').html_safe %></h1>
      <h4><%= t('page.testimonials.carousel_author4').html_safe %></h4>
    </div>

    <div class="item featured-testimonial">
      <h1 class="chalet"><%= t('page.testimonials.carousel_testimonial5').html_safe %></h1>
      <h4><%= t('page.testimonials.carousel_author5').html_safe %></h4>
    </div>

    <div class="item featured-testimonial">
      <h1 class="chalet"><%= t('page.testimonials.carousel_testimonial6').html_safe %></h1>
      <h4><%= t('page.testimonials.carousel_author6').html_safe %></h4>
    </div>

    <div class="item featured-testimonial">
      <h1 class="chalet"><%= t('page.testimonials.carousel_testimonial7').html_safe %></h1>
      <h4><%= t('page.testimonials.carousel_author7').html_safe %></h4>
    </div>

    <div class="item featured-testimonial">
      <h1 class="chalet"><%= t('page.testimonials.carousel_testimonial8').html_safe %></h1>
      <h4><%= t('page.testimonials.carousel_author8').html_safe %></h4>
    </div>
      
  </div>

</div>



<%= render 'shared/carousels/sola_spotlight' %>

<div class="container half-testimonials">

  <div class="row">
    <div class="one-half column half-testimonial">
      <h3>&quot;<%= t('page.testimonials.testimonial_quote1').html_safe %>&quot;</h3>
      <div class="testimoinal-author">
        <%= image_tag 'testimonials/author1.png' %>
        <h4><%= t('page.testimonials.testimonial_author1').html_safe %></h4>
      </div>
    </div>

    <div class="one-half column half-testimonial">
      <h3>&quot;<%= t('page.testimonials.testimonial_quote2').html_safe %>&quot;</h3>
      <div class="testimoinal-author">
        <%= image_tag 'testimonials/author2.png' %>
        <h4><%= t('page.testimonials.testimonial_author2').html_safe %></h4>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="one-half column half-testimonial">
      <h3>&quot;<%= t('page.testimonials.testimonial_quote3').html_safe %>&quot;</h3>
      <div class="testimoinal-author">
        <%= image_tag 'testimonials/author3.png' %>
        <h4><%= t('page.testimonials.testimonial_author3').html_safe %></h4>
      </div>
    </div>

    <div class="one-half column half-testimonial">
      <h3>&quot;<%= t('page.testimonials.testimonial_quote4').html_safe %>&quot;</h3>
      <div class="testimoinal-author">
        <%= image_tag 'testimonials/author4.png' %>
        <h4><%= t('page.testimonials.testimonial_author4').html_safe %></h4>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="one-half column half-testimonial">
      <h3>&quot;<%= t('page.testimonials.testimonial_quote5').html_safe %>&quot;</h3>
      <div class="testimoinal-author">
        <%= image_tag 'testimonials/author5.png' %>
        <h4><%= t('page.testimonials.testimonial_author5').html_safe %></h4>
      </div>
    </div>

    <div class="one-half column half-testimonial">
      <h3>&quot;<%= t('page.testimonials.testimonial_quote6').html_safe %>&quot;</h3>
      <div class="testimoinal-author">
        <%= image_tag 'testimonials/author6.png' %>
        <h4><%= t('page.testimonials.testimonial_author6').html_safe %></h4>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="one-half column half-testimonial">
      <h3>&quot;<%= t('page.testimonials.testimonial_quote7').html_safe %>&quot;</h3>
      <div class="testimoinal-author">
        <%= image_tag 'testimonials/author7.png' %>
        <h4><%= t('page.testimonials.testimonial_author7').html_safe %></h4>
      </div>
    </div>

    <div class="one-half column half-testimonial">
      <h3>&quot;<%= t('page.testimonials.testimonial_quote8').html_safe %>&quot;</h3>
      <div class="testimoinal-author">
        <%= image_tag 'testimonials/author8.png' %>
        <h4><%= t('page.testimonials.testimonial_author8').html_safe %></h4>
      </div>
    </div> 
  </div>

  <div class="row last">
    <div class="one-half column half-testimonial">
      <h3>&quot;<%= t('page.testimonials.testimonial_quote9').html_safe %>&quot;</h3>
      <div class="testimoinal-author">
        <%= image_tag 'testimonials/author9.png' %>
        <h4><%= t('page.testimonials.testimonial_author9').html_safe %></h4>
      </div>
    </div>

    <div class="one-half column half-testimonial">
      <h3>&quot;<%= t('page.testimonials.testimonial_quote10').html_safe %>&quot;</h3>
      <div class="testimoinal-author">
        <%= image_tag 'testimonials/author10.png' %>
        <h4><%= t('page.testimonials.testimonial_author10').html_safe %></h4>
      </div>
    </div>    
  </div> 

</div>

<div class="sola-story gray large">
  <div class="container">
    <div class="row">
        <h2><%= t('page.testimonials.join_our_community').html_safe %></h2>
    </div>
    <div class="row">
      <%= link_to t('page.testimonials.learn_more').html_safe, :own_your_salon, :class => 'button first' %>
    </div>
  </div>
</div>

</div>

<% content_for(:title) { t('page.testimonials.title').html_safe } %>
<% content_for(:canonical_url) { "https://www.solasalonstudios.#{I18n.locale != :en ? 'ca' : 'com'}/testimonials" } %>
<% content_for(:meta_description) { t('page.testimonials.meta_description') } %>