<div class="hero-text" style="background-image:url('<%= image_path 'Testimonials_Hero.png' %>')">
  <div class="text">
    <h1>Customer Testimonials</h1>
    <h3>Click to watch video</h3>
    <a href="//www.youtube.com/watch?v=77gzVR-50Wo" class="play-button"></a>
  </div>
  <div class="learn-more">
    <h3>Learn More</h3>
    <span class="ss-navigatedown"></span>
  </div>
</div>

<div class="container featured-testimonials">

  <div class="owl-carousel owl-theme" data-autoplay="10000">

    <div class="item featured-testimonial">
      <h1>"Having my own studio at Sola has allowed me to be more creative in what I do! And the privacy has allowed me to have better relationships with my clients."</h1>
      <h3 class="subtle">Carole Arnold, Aqua Organic Hair Studio</h3>
    </div>

    <div class="item featured-testimonial">
      <h1>"I have never felt so good in my career as I do at Sola. I have been in the industry for 29 years and haven't felt truly at home and peace until now."</h1>
      <h3 class="subtle">Danette Richardson, Styles by Danette</h3>
    </div>

    <div class="item featured-testimonial">
      <h1>"Sola Salon Studios made the dream of owning my own business a reality." 
      <h3 class="subtle">Dorothy Carr, The Face Place</h3>
    </div>

    <div class="item featured-testimonial">
      <h1>"I love being at Sola Salon Studios! I'm finally representing my business how I'd like...and my business has increased from all of the networking I've been able to do with other studios!"</h1>
      <h3 class="subtle">Kris Kiss, Couture Nail Studio</h3>
    </div>

    <div class="item featured-testimonial">
      <h1>"I can't thank Sola enough for making this my easiest and best decision. The transition could not have been any easier and I have never been happier."</h1>
      <h3 class="subtle">Becky Rowles, Head Turning Hair</h3>
    </div>

    <div class="item featured-testimonial">
      <h1>"My guests have never been so happy! I consistently receive positive feedback about the location and the relaxing atmosphere."</h1>
      <h3 class="subtle">Josh Carpenter Costner, One: The Salon</h3>
    </div>

    <div class="item featured-testimonial">
      <h1>"Sola has provided me with the chance of a lifetime to apply my knowledge and skills as an artist and entrepreneur! I feel incredibly lucky and could not be happier."</h1>
      <h3 class="subtle">Kayla Preboske, YOUnique Hair Studio</h3>
    </div>

    <div class="item featured-testimonial">
      <h1>"I love my salon. I hope every successful stylist jumps head first into the best days of their career and opens a studio salon for themselves."</h1>
      <h3 class="subtle">Kim Casey, HairCology Salon</h3>
    </div>

    <div class="item featured-testimonial">
      <h1>"Our business has completely blown up since our decision to open at Sola. It's by far the best career choice we have made!"</h1>
      <h3 class="subtle">Mary Craig, Parlour 17</h3>
    </div>

    <div class="item featured-testimonial">
      <h1>"Sola creates a drama free environment for me. I have the freedom to run my business the way I want to."</h1>
      <h3 class="subtle">Melody LeBlanc, L'avantage Salon</h3>
    </div>

    <div class="item featured-testimonial">
      <h1>"Sola goes above and beyond the expectations that hairdressers have about our industry."</h1>
      <h3 class="subtle">Sherri Swan, The Art of Cut &amp; Color</h3>
    </div>

    <div class="item featured-testimonial">
      <h1>"Like all hairdressers, we all have a vision to own our own salon one day. I've been a hairdresser for almost 30 years. Sola Salons has made my 30-year dream come true!"</h1>
      <h3 class="subtle">Thomas Krolczyk, TK Hair Designs</h3>
    </div>

    <div class="item featured-testimonial">
      <h1>"Having a studio at Sola Salons has made me a different stylist and business owner. I have been able to expand my services and knowledge in a way I didn't think was possible."</h1>  
      <h3 class="subtle">Karri Lane Gutierrez, Studio 83 Hair</h3>
    </div>

    <div class="item featured-testimonial">
      <h1>"Since being at Sola Salons, we have had a wonderful response from our clients. Coming to work is exciting and making new friendships is an added bonus."</h1>
      <h3 class="subtle">Terri Cottrell, Deeply Rooted AZ</h3>
    </div>

    <div class="item featured-testimonial">
      <h1>"Sola has changed my life. Opening my studio is the best decision I've ever made in my career and my personal life."</h1>
      <h3 class="subtle">Daniel Johnson, Revel Hair Studio</h3>
    </div>

<!--     <div class="item featured-testimonial">
      <h1>"Everyone who comes thru the doorway in the world of Sola loves it. They can't say enough about the concept, the design and the opportunity. I'm thrilled, I've always wanted to invest in myself, to give myself the benefit of the doubt and now I have!"</h1>
      <h3 class="subtle">Kim Baestible, Naturally Beau</h3>
    </div>
 -->
    <div class="item featured-testimonial">
      <h1>"Sola has been so refreshing for me, and my clients as well. I am able to really focus solely on my clients and turn my business into the vision of business I have been striving for."</h1> 
      <h3 class="subtle">Debbie McRoberts, H2O2</h3>
    </div>

    <div class="item featured-testimonial">
      <h1>"I'm in love with my studio, my neighbors are fantastic &amp; everyone has the same goals: to make themselves as successful as possible. Sola is my 'happy' place."</h1>
      <h3 class="subtle">Melanie Ingram, Shine</h3>
    </div>

    <div class="item featured-testimonial">
      <h1>"My first year as an independent stylist couldn't have gone any better! Sola makes it so easy to have a successful and professional looking business."</h1>
      <h3 class="subtle">Chelsey Winter, Chelsey Danielle Salon</h3>
    </div>

    <div class="item featured-testimonial">
      <h1>"I opened my own studio one year ago and it's been the best decision ever. I love the freedom and stress-free atmosphere and my clients appreciate the exclusive and relaxing setting!"</h1>
      <h3 class="subtle">Britta Brownlee, Revive Salon Studio</h3>
    </div>
   
<!--     <div class="item featured-testimonial">
      <h1>"Even though we are all self-employed, everyone works together as a team to help each other be the best we can be. This has been the best decision I have made in my career!"</h1>
      <h3 class="subtle">Ashlie Parks, 5th &amp; Mane</h3>
    </div>

    <div class="item featured-testimonial">
      <h1>"I have never felt so good in my career as I do at Sola. I have been in the industry for 29 years and haven't felt truly at home and peace until now."</h1>
      <h3 class="subtle">Danette Richardson, Styles by Danette</h3>
    </div>

    <div class="item featured-testimonial">
      <h1>"Being a boss means you're in charge of your own income, have creative control, make your own schedule, and are responsible for your own success."</h1>
      <h3 class="subtle">Eric Keosakdy, SaBai Salon LLC</h3>
    </div>    
   
    <div class="item featured-testimonial">
      <h1>"Sola has given me the freedom to create a world that represents me that I can share with my clients. Moving here was the greatest career choice I've made, and I've never looked back!"</h1>
      <h3 class="subtle">Audrey Howerton, Audrey's Hair Studio</h3>
    </div>

    <div class="item featured-testimonial">
      <h1>"I love being at Sola Salon Studios! I'm finally representing my business how I'd like and my business has increased from all of the networking I've been able to do with other studios!"</h1>
      <h3 class="subtle">Kris Kiss, Couture Nail Studio</h3>
    </div>

    <div class="item featured-testimonial">
      <h1>"Having my studio at Sola has allowed me to be more creative in what I do! And the privacy has allowed me to have better relationships with my clients."</h1>
      <h3 class="subtle">Carole Arnold, Aqua Organic Hair Studio</h3>
    </div>    
   
    <div class="item featured-testimonial">
      <h1>"I have been in the beauty industry for 30 years and have owned many salons. This is way easier by far! You have the independence of owning your own salon without all of the hassles."</h1>
      <h3 class="subtle">Dee Dee Vinson, Tangled Up Salon</h3>
    </div>

    <div class="item featured-testimonial">
      <h1>"Sola has provided me with the chance of a lifetime to apply my knowledge and skills as an artist and entrepreneur! I feel incredibly lucky and could not be happier."</h1>
      <h3 class="subtle">Kayla Preboske, YOUnique Hair Studio</h3>
    </div>

    <div class="item featured-testimonial">
      <h1>"Like all hairdressers, we all have a vision to own our own salon one day. I’ve been a hairdresser for almost 30 years. Sola Salons has made my 30-year dream come true!"</h1>
      <h3 class="subtle">Thomas Krolczyk, TK Hair Designs</h3>
    </div> -->    
  </div>

</div>

<div class="callout blue image">
  <div class="container text-center">
    <%= link_to :contact_us do %>
      <h1 style="margin-top:0">Join more than 5,000 salon professionals!</h1>
    <% end %>
  </div>
</div>

<div class="container sola-spotlights">

  <div class="owl-carousel owl-theme" data-items="3" data-autoplayoff="true">
   
    <div class="item sola-spotlight">
      <%= link_to show_blog_path('stylist_profile_autumn_morris') do %>
        <%= image_tag 'Autumn.jpg' %>
        <h1>Autumn Morris</h1>
        <h3>Sola Spotlight</h3>
      <% end %>
    </div>
   
    <div class="item sola-spotlight">
      <%= link_to show_blog_path('sola_spotlight_brandie_kekoa') do %>
        <%= image_tag 'Brandie.jpg' %>
        <h1>Brandie Kekoa</h1>
        <h3>Sola Spotlight</h3>
      <% end %>
    </div> 

    <div class="item sola-spotlight">
      <%= link_to show_blog_path('sola_spotlight_nyki_nechiporenko') do %>
        <%= image_tag 'Nyki.jpg' %>
        <h1>Nyki Nechiporenko</h1>
        <h3>Sola Spotlight</h3>
      <% end %>
    </div>  

    <div class="item sola-spotlight">
      <%= link_to show_blog_path('sola_spotlight_vannora_hawkins') do %>
        <%= image_tag 'Vannora.jpg' %>
        <h1>Vannora Hawkins</h1>
        <h3>Sola Spotlight</h3>
      <% end %>
    </div>

    <div class="item sola-spotlight no-border">
      <%= link_to show_blog_path('sola_spotlight_calynn_colceri') do %>
        <%= image_tag 'Calyn.jpg' %>
        <h1>Calyn Colceri</h1>
        <h3>Sola Spotlight</h3>
      <% end %>
    </div>  

    <div class="item sola-spotlight no-border">
      <%= link_to show_blog_path('georgette_vetock_small_acts_of_kindness') do %>
        <%= image_tag 'Georgette.jpg' %>
        <h1>Georgette Vetock</h1>
        <h3>Sola Spotlight</h3>
      <% end %>
    </div> 
   
  </div> 

</div>

<div class="container half-testimonials">

  <div class="row">
    <div class="one-half column half-testimonial">
      <h4>"Making the move to Sola was the best decision I made for my business. Having the freedom to decorate and set up my room to fit my personal style was key. I love making my own schedule and running my business the way I think is best. I honestly can't picture myself anywhere else."</h4>
      <div class="testimoinal-author">
        <%= image_tag 'Romona_Avatar@2x.png' %>
        <div class="author-info"><h3>Romona</h3>
        <h3 class="subtle">Romona's Salon</h3></div>
      </div>
    </div>

    <div class="one-half column half-testimonial">
      <h4>"For the past 6 years Sola has given me the flexibility to build my business without limits. I'm a mother of two and a wife, and life has its demands. I'm able to adjust my schedule as I see fit. One of my favorite things about Sola is the fact that my studio is my studio – I completely control the atmosphere."</h4>
      <div class="testimoinal-author">
        <%= image_tag 'JoyLove_Avatar@2x.png' %>
        <div class="author-info"><h3>Joy Love</h3>
        <h3 class="subtle">Joy Love’s Hair &amp; Image Studio</h3></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="one-half column half-testimonial">
      <h4>"I love that I have my very own space where I can do business the way I want to, and that I can decorate as I like. I get to focus on my clients without any salon drama to interfere."</h4>
      <div class="testimoinal-author">
        <%= image_tag 'Katina_Avatar@2x.png' %>
        <div class="author-info"><h3>Katina Eisenbeis</h3>
        <h3 class="subtle">Katina's Salon</h3></div>
      </div>
    </div>

    <div class="one-half column half-testimonial">
      <h4>"Even though we are all self-employed, everyone works together as a team to help each other be the best we can be. This has been the best decision I have made in my career!"</h4>
      <div class="testimoinal-author">
        <%= image_tag 'Ashlie_Avatar@2x.png' %>
        <div class="author-info"><h3>Ashlie Parks</h3>
        <h3 class="subtle">5th &amp; Mane</h3></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="one-half column half-testimonial">
      <h4>"Being a boss means you're in charge of your own income, have creative control, make your own schedule, and are responsible for your own success."</h4>
      <div class="testimoinal-author">
        <%= image_tag 'Eric_Avatar@2x.png' %>
        <div class="author-info"><h3>Eric Keosakdy</h3>
        <h3 class="subtle">SaBai Salon LLC</h3></div>
      </div>
    </div>

    <div class="one-half column half-testimonial">
      <h4>"This is the first time my clients have felt comfortable referring their friends to me. Sola has provided me with the professional environment that I needed to grow my business."</h4>
      <div class="testimoinal-author">
        <%= image_tag 'Gina_Avatar@2x.png' %>
        <div class="author-info"><h3>Gina Greco</h3>
        <h3 class="subtle">Creative Hair by Gina</h3></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="one-half column half-testimonial">
      <h4>"My studio provides total relaxation for the client and a wonderful one-on-one experience where it's all about them."</h4>
      <div class="testimoinal-author">
        <%= image_tag 'Jo_Avatar@2x.png' %>
        <div class="author-info"><h3>Jo Martinez</h3>
        <h3 class="subtle">Studio London</h3></div>
      </div>
    </div>

    <div class="one-half column half-testimonial">
      <h4>"My studio is an extension of me and the artist within me! The most exiting thing is, the sky is the limit!"</h4>
      <div class="testimoinal-author">
        <%= image_tag 'Autumn_Avatar@2x.png' %>
        <div class="author-info"><h3>Autumn Morris</h3>
        <h3 class="subtle">GlamLocks Studio</h3></div>
      </div>
    </div> 
  </div>

  <div class="row last">
    <div class="one-half column half-testimonial">
      <h4>"Having my own salon allows me the freedom of creating my own schedule to work smarter not harder."</h4>
      <div class="testimoinal-author">
        <%= image_tag 'Kim_Avatar@2x.png' %>
        <div class="author-info"><h3>Kim Bennett Horvath</h3>
        <h3 class="subtle">Kim Bennett Studios</h3></div>
      </div>
    </div>

    <div class="one-half column half-testimonial">
      <h4>"I've created a 4 wall atmosphere for my clients that they love. Sola made the esthetics modern; I love the cabinetry, privacy and being in a 2 chair studio with my own shampoo bowl. I couldn't ask for more."</h4>
      <div class="testimoinal-author">
        <%= image_tag 'Fernando_Avatar@2x.png' %>
        <div class="author-info"><h3>Fernando Adame</h3>
        <h3 class="subtle">Final Cut</h3></div>
      </div>
    </div>    
  </div>

<!--   <div class="row">
    <div class="one-half column half-testimonial">
      <h4>"Making the move to Sola was the best decision I made for my business. Having the freedom to decorate and set up my room to fit my personal style was key. I love making my own schedule and running my business the way I think is best. I honestly can't picture myself anywhere else."</h4>
      <div class="testimoinal-author">
        <%= image_tag 'Kristen_Avatar@2x.png' %>
        <div class="author-info"><h3>Kirsten Tollefson</h3>
        <h3 class="subtle">The Chic Suite</h3></div>
      </div>
    </div>
    <div class="one-half column half-testimonial">
      <h4>"For the past 6 years Sola has given me the flexibility to build my business without limits. I'm a mother of two and a wife, and life has it's demands. I'm able to adjust my schedule as I see fit. One of my favorite things about Sola is the fact that my studio is my studio – I completely control the atmosphere."</h4>
      <div class="testimoinal-author">
        <%= image_tag 'JoyLove_Avatar@2x.png' %>
        <div class="author-info"><h3>Joy Love</h3>
        <h3 class="subtle">Joy Love’s Hair &amp; Image Studio</h3></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="one-half column half-testimonial">
      <h4>"I recommend Sola to all stylists interested in the ability to set your own schedule, the freedom to set your own pricing, and feeling the sense of pride and accomplishment from owning and running your own business."</h4>
      <div class="testimoinal-author">
        <%= image_tag 'Tricia_Avatar@2x.png' %>
        <div class="author-info"><h3>Tricia Shallenberger</h3>
        <h3 class="subtle">Studio 3 Hair Design</h3></div>
      </div>
    </div>
    <div class="one-half column half-testimonial">
      <h4>"If you are looking for the freedom to create a unique intimate setting while being in a community of like-minded people, Sola is the right path. I love having the ability to be myself and focus on my clients without the fear of being alone."</h4>
      <div class="testimoinal-author">
        <%= image_tag 'Toby_Avatar@2x.png' %>
        <div class="author-info"><h3>Toby Adams</h3>
        <h3 class="subtle">{DO} the Bang Thing</h3></div>
      </div>
    </div>    
  </div>

  <div class="row">
    <div class="one-half column half-testimonial">
      <h4>"I love that I have my very own space where I can do business the way I want to, and that I can decorate as I like. I get to focus on my clients without any salon drama to interfere."</h4>
      <div class="testimoinal-author">
        <%= image_tag 'Katina_Avatar@2x.png' %>
        <div class="author-info"><h3>Katina Eisenbeis</h3>
        <h3 class="subtle">Katina's Salon</h3></div>
      </div>
    </div>
    <div class="one-half column half-testimonial">
      <h4>"This is the first time my clients have felt comfortable referring their friends to me. Sola has provided me with the professional environment that I needed to grow my business."</h4>
      <div class="testimoinal-author">
        <%= image_tag 'Gina_Avatar@2x.png' %>
        <div class="author-info"><h3>Gina Greco</h3>
        <h3 class="subtle">Creative Hair by Gina</h3></div>
      </div>
    </div>
  </div>

  <div class="row last">
    <div class="one-half column half-testimonial">
      <h4>"Having my own salon allows me the freedom of creating my own schedule to work smarter not harder."</h4>
      <div class="testimoinal-author">
        <%= image_tag 'Kim_Avatar@2x.png' %>
        <div class="author-info"><h3>Kim Bennett Horvath</h3>
        <h3 class="subtle">Kim Bennett Studios</h3></div>
      </div>
    </div> 

    <div class="one-half column half-testimonial">
      <h4>"My studio is an extension of me and the artist within me! The most exiting thing is...the sky is the limit."</h4>
      <div class="testimoinal-author">
        <%= image_tag 'Autumn_Avatar@2x.png' %>
        <div class="author-info"><h3>Autumn Morris</h3>
        <h3 class="subtle">GlamLocks Hair Lounge</h3></div>
      </div>
    </div>    
  </div>  -->   

</div>


<div class="sola-story gray large">
  <div class="container">
    <div class="row">
        <h2>Join our community and experience a level of <strong>creative independence</strong> and <strong>career support</strong> you won't find anywhere else.</h2>
    </div>
    <div class="row">
      <%= link_to 'Learn More', :own_your_salon, :class => 'button first' %>
    </div>
  </div>
</div>