<div class="hero-text" style="background-image:url('<%= image_path 'Testimonials_Hero.jpg' %>')">
  <div class="text">
    <h1><%= t('page.testimonials.salon_professional_testimonials').html_safe %></h1>
    <h3><%= t('page.testimonials.click_to_watch_video').html_safe %></h3>
    <a href="https://www.youtube.com/watch?v=wlhDeuowaAI" class="play-button"></a>
  </div>
  <div class="learn-more">
    <h3><%= t('page.testimonials.learn_more').html_safe %></h3>
    <span class="ss-navigatedown"></span>
  </div>
</div>

<div class="container featured-testimonials">

  <div class="owl-carousel owl-theme" data-autoplay="10000">

    <div class="item featured-testimonial">
      <h1><%= t('page.testimonials.carousel_testimonial1').html_safe %></h1>
      <h3 class="subtle"><%= t('page.testimonials.carousel_author1').html_safe %></h3>
    </div>

    <div class="item featured-testimonial">
      <h1><%= t('page.testimonials.carousel_testimonial2').html_safe %></h1>
      <h3 class="subtle"><%= t('page.testimonials.carousel_author2').html_safe %></h3>
    </div>

    <div class="item featured-testimonial">
      <h1><%= t('page.testimonials.carousel_testimonial3').html_safe %></h1>
      <h3 class="subtle"><%= t('page.testimonials.carousel_author3').html_safe %></h3>
    </div>

    <div class="item featured-testimonial">
      <h1><%= t('page.testimonials.carousel_testimonial4').html_safe %></h1>
      <h3 class="subtle"><%= t('page.testimonials.carousel_author4').html_safe %></h3>
    </div>

    <div class="item featured-testimonial">
      <h1><%= t('page.testimonials.carousel_testimonial5').html_safe %></h1>
      <h3 class="subtle"><%= t('page.testimonials.carousel_author5').html_safe %></h3>
    </div>

    <div class="item featured-testimonial">
      <h1><%= t('page.testimonials.carousel_testimonial6').html_safe %></h1>
      <h3 class="subtle"><%= t('page.testimonials.carousel_author6').html_safe %></h3>
    </div>

    <div class="item featured-testimonial">
      <h1><%= t('page.testimonials.carousel_testimonial7').html_safe %></h1>
      <h3 class="subtle"><%= t('page.testimonials.carousel_author7').html_safe %></h3>
    </div>

    <div class="item featured-testimonial">
      <h1><%= t('page.testimonials.carousel_testimonial8').html_safe %></h1>
      <h3 class="subtle"><%= t('page.testimonials.carousel_author8').html_safe %></h3>
    </div>

    <div class="item featured-testimonial">
      <h1><%= t('page.testimonials.carousel_testimonial9').html_safe %></h1>
      <h3 class="subtle"><%= t('page.testimonials.carousel_author9').html_safe %></h3>
    </div>

    <div class="item featured-testimonial">
      <h1><%= t('page.testimonials.carousel_testimonial10').html_safe %></h1>
      <h3 class="subtle"><%= t('page.testimonials.carousel_author10').html_safe %></h3>
    </div>

    <div class="item featured-testimonial">
      <h1><%= t('page.testimonials.carousel_testimonial11').html_safe %></h1>
      <h3 class="subtle"><%= t('page.testimonials.carousel_author11').html_safe %></h3>
    </div>

    <div class="item featured-testimonial">
      <h1><%= t('page.testimonials.carousel_testimonial12').html_safe %></h1>
      <h3 class="subtle"><%= t('page.testimonials.carousel_author12').html_safe %></h3>
    </div>

    <div class="item featured-testimonial">
      <h1><%= t('page.testimonials.carousel_testimonial13').html_safe %></h1>
      <h3 class="subtle"><%= t('page.testimonials.carousel_author13').html_safe %></h3>
    </div>

    <div class="item featured-testimonial">
      <h1><%= t('page.testimonials.carousel_testimonial14').html_safe %></h1>
      <h3 class="subtle"><%= t('page.testimonials.carousel_author14').html_safe %></h3>
    </div>

    <div class="item featured-testimonial">
      <h1><%= t('page.testimonials.carousel_testimonial15').html_safe %></h1>
      <h3 class="subtle"><%= t('page.testimonials.carousel_author15').html_safe %></h3>
    </div>

    <div class="item featured-testimonial">
      <h1><%= t('page.testimonials.carousel_testimonial16').html_safe %></h1>
      <h3 class="subtle"><%= t('page.testimonials.carousel_author16').html_safe %></h3>
    </div>

    <div class="item featured-testimonial">
      <h1><%= t('page.testimonials.carousel_testimonial17').html_safe %></h1>
      <h3 class="subtle"><%= t('page.testimonials.carousel_author17').html_safe %></h3>
    </div>

    <div class="item featured-testimonial">
      <h1><%= t('page.testimonials.carousel_testimonial18').html_safe %></h1>
      <h3 class="subtle"><%= t('page.testimonials.carousel_author18').html_safe %></h3>
    </div>

    <div class="item featured-testimonial">
      <h1><%= t('page.testimonials.carousel_testimonial19').html_safe %></h1>
      <h3 class="subtle"><%= t('page.testimonials.carousel_author19').html_safe %></h3>
    </div>
      
  </div>

</div>

<div class="callout blue image">
  <div class="container text-center">
    <%= link_to :contact_us do %>
      <h1 style="margin-top:0"><%= t('page.testimonials.join_more_than').html_safe %></h1>
    <% end %>
  </div>
</div>

<%= render 'shared/carousels/sola_spotlight' %>

<div class="container half-testimonials">

  <div class="row">
    <div class="one-half column half-testimonial">
      <h4>&quot;<%= t('page.testimonials.testimonial_quote1').html_safe %>&quot;</h4>
      <div class="testimoinal-author">
        <%= image_tag 'Romona_Avatar@2x.png', :alt => "Romona headshot" %>
        <div class="author-info"><h3><%= t('page.testimonials.testimonial_author1').html_safe %></h3>
        <h3 class="subtle"><%= t('page.testimonials.testimonial_salon1').html_safe %></h3></div>
      </div>
    </div>

    <div class="one-half column half-testimonial">
      <h4>&quot;<%= t('page.testimonials.testimonial_quote2').html_safe %>&quot;</h4>
      <div class="testimoinal-author">
        <%= image_tag 'JoyLove_Avatar@2x.png', :alt => 'Joy Love headshot' %>
        <div class="author-info"><h3><%= t('page.testimonials.testimonial_author2').html_safe %></h3>
        <h3 class="subtle"><%= t('page.testimonials.testimonial_salon2').html_safe %></h3></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="one-half column half-testimonial">
      <h4>&quot;<%= t('page.testimonials.testimonial_quote3').html_safe %>&quot;</h4>
      <div class="testimoinal-author">
        <%= image_tag 'Katina_Avatar@2x.png', :alt => 'Katina Eisenbeis headshot' %>
        <div class="author-info"><h3><%= t('page.testimonials.testimonial_author3').html_safe %></h3>
        <h3 class="subtle"><%= t('page.testimonials.testimonial_salon3').html_safe %></h3></div>
      </div>
    </div>

    <div class="one-half column half-testimonial">
      <h4>&quot;<%= t('page.testimonials.testimonial_quote4').html_safe %>&quot;</h4>
      <div class="testimoinal-author">
        <%= image_tag 'Ashlie_Avatar@2x.png', :alt => 'Ashlie Parks headshot' %>
        <div class="author-info"><h3><%= t('page.testimonials.testimonial_author4').html_safe %></h3>
        <h3 class="subtle"><%= t('page.testimonials.testimonial_salon4').html_safe %></h3></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="one-half column half-testimonial">
      <h4>&quot;<%= t('page.testimonials.testimonial_quote5').html_safe %>&quot;</h4>
      <div class="testimoinal-author">
        <%= image_tag 'Eric_Avatar@2x.png', :alt => 'Eric Keosakdy headshot' %>
        <div class="author-info"><h3><%= t('page.testimonials.testimonial_author5').html_safe %></h3>
        <h3 class="subtle"><%= t('page.testimonials.testimonial_salon5').html_safe %></h3></div>
      </div>
    </div>

    <div class="one-half column half-testimonial">
      <h4>&quot;<%= t('page.testimonials.testimonial_quote6').html_safe %>&quot;</h4>
      <div class="testimoinal-author">
        <%= image_tag 'Gina_Avatar@2x.png', :alt => 'Gina Greco headshot' %>
        <div class="author-info"><h3><%= t('page.testimonials.testimonial_author6').html_safe %></h3>
        <h3 class="subtle"><%= t('page.testimonials.testimonial_salon6').html_safe %></h3></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="one-half column half-testimonial">
      <h4>&quot;<%= t('page.testimonials.testimonial_quote7').html_safe %>&quot;</h4>
      <div class="testimoinal-author">
        <%= image_tag 'Jo_Avatar@2x.png', :alt => 'Jo Martinez headshot' %>
        <div class="author-info"><h3><%= t('page.testimonials.testimonial_author7').html_safe %></h3>
        <h3 class="subtle"><%= t('page.testimonials.testimonial_salon7').html_safe %></h3></div>
      </div>
    </div>

    <div class="one-half column half-testimonial">
      <h4>&quot;<%= t('page.testimonials.testimonial_quote8').html_safe %>&quot;</h4>
      <div class="testimoinal-author">
        <%= image_tag 'Autumn_Avatar@2x.png', :alt => 'Autumn Morris headshot' %>
        <div class="author-info"><h3><%= t('page.testimonials.testimonial_author8').html_safe %></h3>
        <h3 class="subtle"><%= t('page.testimonials.testimonial_salon8').html_safe %></h3></div>
      </div>
    </div> 
  </div>

  <div class="row last">
    <div class="one-half column half-testimonial">
      <h4>&quot;<%= t('page.testimonials.testimonial_quote9').html_safe %>&quot;</h4>
      <div class="testimoinal-author">
        <%= image_tag 'Kim_Avatar@2x.png', :alt => 'Kim Bennett Horvath headshot' %>
        <div class="author-info"><h3><%= t('page.testimonials.testimonial_author9').html_safe %></h3>
        <h3 class="subtle"><%= t('page.testimonials.testimonial_salon9').html_safe %></h3></div>
      </div>
    </div>

    <div class="one-half column half-testimonial">
      <h4>&quot;<%= t('page.testimonials.testimonial_quote10').html_safe %>&quot;</h4>
      <div class="testimoinal-author">
        <%= image_tag 'Fernando_Avatar@2x.png', :alt => 'Fernando Adame headshot' %>
        <div class="author-info"><h3><%= t('page.testimonials.testimonial_author10').html_safe %></h3>
        <h3 class="subtle"><%= t('page.testimonials.testimonial_salon10').html_safe %></h3></div>
      </div>
    </div>    
  </div> 

</div>


<div class="sola-story gray large">
  <div class="container">
    <div class="row">
        <h2><%= t('page.testimonials.join_our_community').html_safe %></h2>
    </div>
    <div class="row">
      <%= link_to t('page.testimonials.learn_more').html_safe, :own_your_salon, :class => 'button first' %>
    </div>
  </div>
</div>

<% content_for(:title) { t('page.testimonials.title').html_safe } %>
<% content_for(:canonical_url) { "https://www.solasalonstudios.#{I18n.locale != :en ? 'ca' : 'com'}/testimonials" } %>
<% content_for(:meta_description) { t('page.testimonials.meta_description') } %>