<div class="hero-text" style="background-image:url('<%= image_path 'Testimonials_Hero.png' %>')">
  <div class="text">
    <h1>Customer Testimonials</h1>
    <h3>Click to watch video</h3>
    <a href="//www.youtube.com/watch?v=77gzVR-50Wo" class="play-button"></a>
  </div>
  <div class="learn-more">
    <h3>Learn More</h3>
    <span class="ss-navigatedown"></span>
  </div>
</div>

<div class="container featured-testimonials">
  <h3 class="text-center">Featured Testimonials</h3>

  <div class="owl-carousel owl-theme">
   
    <div class="item featured-testimonial">
      <h1>"Even though we are all self employed, everyone works together as a team to help each other be the best we can be. This has been the best decision I have made in my career."</h1>
      <h3 class="subtle">Katina Eisenbeis - Denver, CO</h3>
    </div>

    <div class="item featured-testimonial">
      <h1>"Even though we are all self employed, everyone works together as a team to help each other be the best we can be. This has been the best decision I have made in my career."</h1>
      <h3 class="subtle">Katina Eisenbeis - Denver, CO</h3>
    </div>

    <div class="item featured-testimonial">
      <h1>"Even though we are all self employed, everyone works together as a team to help each other be the best we can be. This has been the best decision I have made in my career."</h1>
      <h3 class="subtle">Katina Eisenbeis - Denver, CO</h3>
    </div>    
   
  </div>

</div>

<div class="callout blue image">
  <div class="container text-center">
    <%= link_to :contact_us do %>
      <h1 style="margin-top:0">Join over 5,000 Sola Salon Professionals!</h1>
    <% end %>
  </div>
</div>

<div class="container sola-spotlights">

  <div class="owl-carousel owl-theme" data-items="3">
   
    <div class="item sola-spotlight">
      <%= image_tag 'gray.gif' %>
      <h1>Katina Eisenbeis</h1>
      <h3>Sola Spotlight</h3>
    </div>
   
    <div class="item sola-spotlight">
      <%= image_tag 'gray.gif' %>
      <h1>Katina Eisenbeis</h1>
      <h3>Sola Spotlight</h3>
    </div>

    <div class="item sola-spotlight no-border">
      <%= image_tag 'gray.gif' %>
      <h1>Katina Eisenbeis</h1>
      <h3>Sola Spotlight</h3>
    </div>    

    <div class="item sola-spotlight">
      <%= image_tag 'gray.gif' %>
      <h1>Katina Eisenbeis</h1>
      <h3>Sola Spotlight</h3>
    </div>
   
    <div class="item sola-spotlight">
      <%= image_tag 'gray.gif' %>
      <h1>Katina Eisenbeis</h1>
      <h3>Sola Spotlight</h3>
    </div>

    <div class="item sola-spotlight no-border">
      <%= image_tag 'gray.gif' %>
      <h1>Katina Eisenbeis</h1>
      <h3>Sola Spotlight</h3>
    </div> 

    <div class="item sola-spotlight">
      <%= image_tag 'gray.gif' %>
      <h1>Katina Eisenbeis</h1>
      <h3>Sola Spotlight</h3>
    </div>
   
    <div class="item sola-spotlight">
      <%= image_tag 'gray.gif' %>
      <h1>Katina Eisenbeis</h1>
      <h3>Sola Spotlight</h3>
    </div>

    <div class="item sola-spotlight no-border">
      <%= image_tag 'gray.gif' %>
      <h1>Katina Eisenbeis</h1>
      <h3>Sola Spotlight</h3>
    </div>     
   
  </div> 

</div>

<div class="container half-testimonials">

  <div class="row">
    <div class="one-half column half-testimonial">
      <h4>"Even though we are all self employed, everyone works together as a team to help each other be the best we can be. This has been the best decision I have made in my career."</h4>
      <div class="testimoinal-author">
        <%= image_tag 'Katina_Avatar@2x.png' %>
        <div class="author-info"><h3>Katina Eisenbeis</h3>
        <h3 class="subtle">Katina at Sola<br>Denver, CO</h3></div>
      </div>
    </div>
    <div class="one-half column half-testimonial">
      <h4>"Even though we are all self employed, everyone works together as a team to help each other be the best we can be. This has been the best decision I have made in my career."</h4>
      <div class="testimoinal-author">
        <%= image_tag 'Katina_Avatar@2x.png' %>
        <div class="author-info"><h3>Katina Eisenbeis</h3>
        <h3 class="subtle">Katina at Sola<br>Denver, CO</h3></div>
      </div>
    </div>    
  </div>

  <div class="row">
    <div class="one-half column half-testimonial">
      <h4>"Even though we are all self employed, everyone works together as a team to help each other be the best we can be. This has been the best decision I have made in my career."</h4>
      <div class="testimoinal-author">
        <%= image_tag 'Katina_Avatar@2x.png' %>
        <div class="author-info"><h3>Katina Eisenbeis</h3>
        <h3 class="subtle">Katina at Sola<br>Denver, CO</h3></div>
      </div>
    </div>
    <div class="one-half column half-testimonial">
      <h4>"Even though we are all self employed, everyone works together as a team to help each other be the best we can be. This has been the best decision I have made in my career."</h4>
      <div class="testimoinal-author">
        <%= image_tag 'Katina_Avatar@2x.png' %>
        <div class="author-info"><h3>Katina Eisenbeis</h3>
        <h3 class="subtle">Katina at Sola<br>Denver, CO</h3></div>
      </div>
    </div>    
  </div>

  <div class="row">
    <div class="one-half column half-testimonial">
      <h4>"Even though we are all self employed, everyone works together as a team to help each other be the best we can be. This has been the best decision I have made in my career."</h4>
      <div class="testimoinal-author">
        <%= image_tag 'Katina_Avatar@2x.png' %>
        <div class="author-info"><h3>Katina Eisenbeis</h3>
        <h3 class="subtle">Katina at Sola<br>Denver, CO</h3></div>
      </div>
    </div>
    <div class="one-half column half-testimonial">
      <h4>"Even though we are all self employed, everyone works together as a team to help each other be the best we can be. This has been the best decision I have made in my career."</h4>
      <div class="testimoinal-author">
        <%= image_tag 'Katina_Avatar@2x.png' %>
        <div class="author-info"><h3>Katina Eisenbeis</h3>
        <h3 class="subtle">Katina at Sola<br>Denver, CO</h3></div>
      </div>
    </div>    
  </div>

  <div class="row last">
    <div class="one-half column half-testimonial">
      <h4>"Even though we are all self employed, everyone works together as a team to help each other be the best we can be. This has been the best decision I have made in my career."</h4>
      <div class="testimoinal-author">
        <%= image_tag 'Katina_Avatar@2x.png' %>
        <div class="author-info"><h3>Katina Eisenbeis</h3>
        <h3 class="subtle">Katina at Sola<br>Denver, CO</h3></div>
      </div>
    </div>
    <div class="one-half column half-testimonial">
      <h4>"Even though we are all self employed, everyone works together as a team to help each other be the best we can be. This has been the best decision I have made in my career."</h4>
      <div class="testimoinal-author">
        <%= image_tag 'Katina_Avatar@2x.png' %>
        <div class="author-info"><h3>Katina Eisenbeis</h3>
        <h3 class="subtle">Katina at Sola<br>Denver, CO</h3></div>
      </div>
    </div>    
  </div>    

</div>


<div class="sola-story gray large">
  <div class="container">
    <div class="row">
        <h2>Join our community and experience a level of <strong>creative independence</strong> and <strong>career support</strong> you won't find anywhere else.</h2>
    </div>
    <div class="row">
      <%= link_to 'Learn More', :own_your_salon, :class => 'button first' %>
    </div>
  </div>
</div>