<div class="page-title"><strong>Booking Complete Report &nbsp;|&nbsp; <%= app_data[:start_date].strftime("%B %Y").upcase %></strong></div>

<hr />

<h3 style="margin:0;font-size:21px;line-height:21px"><%= app_data[:bookings_total] %> bookings, <%= number_to_currency app_data[:bookings_revenue] %>+ revenue</h2>

<hr />

<% app_data[:booking_completes].each do |booking_complete| %>
<div style="padding: 0 0 30px 0;border-bottom: 1px solid #AFAFAF;">
  <h4><%= booking_complete["booking_date"].strftime("%A %B %e, %Y") %></h4>

  <h4>Search</h4>
  <ul>
    <li>Query: <%= booking_complete["query"] %></li>
    <li>Location: <%= booking_complete["location"] %></li>
    <li>Date: <%= Date.parse(booking_complete["date"]).strftime("%A %B %e, %Y") %></li>
  </ul>

  <h4>Services</h4>
  <% if booking_complete["services"] %>
  <ul>
    <% booking_complete["services"].each do |service| %>
      <li><%= service["name"] %>: <%= number_to_currency service["price"] %></li>
    <% end %>
  </ul>
  <% end %>

  <% if booking_complete["booking_user"] %>
    <h4>Appointment Booked By</h4>
    <ul>
      <li>Name: <%= booking_complete["booking_user"]["name"] %></li>
      <li>Email: <%= booking_complete["booking_user"]["email"] %></li>
      <li>Phone Number: <%= booking_complete["booking_user"]["phone"] %></span></li>
    </ul>
  <% end %>

  <% stylist = Stylist.find_by(:id => booking_complete["org_user_id"]) %>
  <% if stylist %>
    <h4>Sola Salon Professional</h4>
    <ul>
      <li>Name: <%= stylist.name %></li>
      <li>Email: <%= stylist.email_address %></li>
      <li>Phone Number: <%= stylist.phone_number %></span></li>
    </ul>
  <% end %>

  <% location = Location.find_by(:id => booking_complete["location_id"]) %>
  <% if location %>
      <h4>Sola Location</h4>
      <ul>
        <li>Name: <%= location.name %></li>
        <li>Address: <%= location.full_address %></li>
      </ul>
  <% end %>

  <h4>Total: <strong style="font-weight:900"><%= number_to_currency(booking_complete["total"])[1..-1] %></strong></h4>

</div>
<% end %>
