<div class="page-title"><strong><%= @data[:start_date].strftime("%B %Y").upcase %> &nbsp;|&nbsp; solasalonstudios.com</strong></div>


<!-- ********************* -->
<!-- OVERALL WEBSITE STATS -->
<!-- ********************* -->

<div class="section">
  <div class="section-heading">Who Came To Visit?</div>
</div>

<div class="section-subhead">VISITOR DETAILS &nbsp;|&nbsp; Overall Website Stats</div>

<table class="annual annual-large" cellpadding="0" cellspacing="0">
  <tr>
    <td class="sublabel sublabel-top"></td>
    <td class="sublabel sublabel-top"><strong><%= @data[:start_date].strftime("%b-%y") %></strong></td>
    <td class="sublabel sublabel-top"><strong><%= (@data[:start_date] - 1.month).strftime("%b-%y") %></strong></td>
    <td class="sublabel sublabel-top"></td>
    <td class="sublabel sublabel-top"><strong><%= (@data[:start_date] - 1.year).strftime("%b-%y") %></strong></td>
    <td class="sublabel sublabel-top"></td>
  </tr>
  <tr>
    <td class="sublabel sublabel-bottom"></td>
    <td class="sublabel sublabel-bottom">Current Month</td>
    <td class="sublabel sublabel-bottom">Previous Month</td>
    <td class="sublabel sublabel-bottom">% Change</td>
    <td class="sublabel sublabel-bottom">Previous Year</td>
    <td class="sublabel sublabel-bottom">% Change</td>
  </tr>  
  <tr>
    <%
      @unique_visits_this_month = @data[:unique_visits][0][1].to_i + @data[:unique_visits][1][1].to_i
      @unique_visits_prev_month = @data[:unique_visits_prev_month][0][1].to_i + @data[:unique_visits_prev_month][1][1].to_i
      @unique_visits_prev_year = @data[:unique_visits_prev_year][0][1].to_i + @data[:unique_visits_prev_year][1][1].to_i
    %>
    <td class="label" style="text-align:left">Visits</td>
    <td class="value"><%= number_with_delimiter @unique_visits_this_month %></td>
    <td class="value"><%= number_with_delimiter @unique_visits_prev_month %></td>
    <td class="value percentage"><%= number_to_percentage 100 * (@unique_visits_this_month - @unique_visits_prev_month) / @unique_visits_prev_month, :precision => 0 %></td>
    <td class="value"><%= number_with_delimiter @unique_visits_prev_year %></td>
    <td class="value percentage"><%= number_to_percentage 100 * (@unique_visits_this_month - @unique_visits_prev_year) / @unique_visits_prev_year, :precision => 0 %></td>
  </tr>
  <tr>
    <td class="label" style="text-align:left">New Visitors</td>
    <td class="value"><%= number_with_delimiter @data[:unique_visits][0][1] %></td>
    <td class="value"><%= number_with_delimiter @data[:unique_visits_prev_month][0][1] %></td>
    <td class="value percentage"><%= number_to_percentage 100 * (@data[:unique_visits][0][1].to_i - @data[:unique_visits_prev_month][0][1].to_i) / @data[:unique_visits_prev_month][0][1].to_i, :precision => 0 %></td>
    <td class="value"><%= number_with_delimiter @data[:unique_visits_prev_year][0][1] %></td>
    <td class="value percentage"><%= number_to_percentage 100 * (@data[:unique_visits][0][1].to_i - @data[:unique_visits_prev_year][0][1].to_i) / @data[:unique_visits_prev_year][0][1].to_i, :precision => 0 %></td>
  </tr>
  <tr class="striped">
    <td class="label" style="text-align:left">Returning Visitors</td>
    <td class="value"><%= number_with_delimiter @data[:unique_visits][1][1] %></td>
    <td class="value"><%= number_with_delimiter @data[:unique_visits_prev_month][1][1] %></td>
    <td class="value percentage"><%= number_to_percentage 100 * (@data[:unique_visits][1][1].to_i - @data[:unique_visits_prev_month][1][1].to_i) / @data[:unique_visits_prev_month][1][1].to_i, :precision => 0 %></td>
    <td class="value"><%= number_with_delimiter @data[:unique_visits_prev_year][1][1] %></td>
    <td class="value percentage"><%= number_to_percentage 100 * (@data[:unique_visits][1][1].to_i - @data[:unique_visits_prev_year][1][1].to_i) / @data[:unique_visits_prev_year][1][1].to_i, :precision => 0 %></td>
  </tr>
  <%
    @data[:traffic_total] = @data[:devices][0][1].to_i + @data[:devices][1][1].to_i
    @data[:traffic_prev_month_total] = @data[:devices_prev_month][0][1].to_i + @data[:devices_prev_month][1][1].to_i
    @data[:traffic_prev_year_total] = @data[:devices_prev_year][0][1].to_i + @data[:devices_prev_year][1][1].to_i
  %>  
  <tr>
    <td class="label" style="text-align:left">Mobile Traffic</td>
    <td class="value"><%= number_with_delimiter @data[:devices][1][1] %></td>
    <td class="value"><%= number_with_delimiter @data[:devices_prev_month][1][1] %></td>
    <td class="value percentage"><%= number_to_percentage (100 * (@data[:devices][1][1].to_i - @data[:devices_prev_month][1][1].to_i) / @data[:devices_prev_month][1][1].to_i), :precision => 0 %></td>
    <td class="value"><%= number_with_delimiter @data[:devices_prev_year][1][1] %></td>
    <td class="value percentage"><%= number_to_percentage (100 * (@data[:devices][1][1].to_i - @data[:devices_prev_year][1][1].to_i) / @data[:devices_prev_year][1][1].to_i), :precision => 0 %></td>
  </tr>
  <tr class="striped">
    <td class="label" style="text-align:left">Desktop Traffic</td>
    <td class="value"><%= number_with_delimiter @data[:devices][0][1] %></td>
    <td class="value"><%= number_with_delimiter @data[:devices_prev_month][0][1] %></td>
    <td class="value percentage"><%= number_to_percentage (100 * (@data[:devices][0][1].to_i - @data[:devices_prev_month][0][1].to_i) / @data[:devices_prev_month][0][1].to_i), :precision => 0 %></td>
    <td class="value"><%= number_with_delimiter @data[:devices_prev_year][0][1] %></td>
    <td class="value percentage"><%= number_to_percentage (100 * (@data[:devices][0][1].to_i - @data[:devices_prev_year][0][1].to_i) / @data[:devices_prev_year][0][1].to_i), :precision => 0 %></td>
  </tr>            
</table>

<table class="annual">
  <tr>
    <td class="label">&nbsp;</td>
    <td class="label"><strong>January</strong></td>
    <td class="label"><strong>February</strong></td>
    <td class="label"><strong>March</strong></td>
    <td class="label"><strong>April</strong></td>
    <td class="label"><strong>May</strong></td>
    <td class="label"><strong>June</strong></td>
    <td class="label"><strong>July</strong></td>
    <td class="label"><strong>August</strong></td>
    <td class="label"><strong>September</strong></td>
    <td class="label"><strong>October</strong></td>
    <td class="label"><strong>November</strong></td>
    <td class="label"><strong>December</strong></td>
  </tr>
  <tr>
    <td class="last-year"><strong><%= (@data[:start_date] - 1.year).strftime("%Y") %></strong></td>
    <td class="value"><%= number_with_delimiter @data[:pageviews_last_1][0][1].to_i + @data[:pageviews_last_1][1][1].to_i %></td>
    <td class="value"><%= number_with_delimiter @data[:pageviews_last_2][0][1].to_i + @data[:pageviews_last_2][1][1].to_i %></td>
    <td class="value"><%= number_with_delimiter @data[:pageviews_last_3][0][1].to_i + @data[:pageviews_last_3][1][1].to_i %></td>
    <td class="value"><%= number_with_delimiter @data[:pageviews_last_4][0][1].to_i + @data[:pageviews_last_4][1][1].to_i %></td>
    <td class="value"><%= number_with_delimiter @data[:pageviews_last_5][0][1].to_i + @data[:pageviews_last_5][1][1].to_i %></td>
    <td class="value"><%= number_with_delimiter @data[:pageviews_last_6][0][1].to_i + @data[:pageviews_last_6][1][1].to_i %></td>
    <td class="value"><%= number_with_delimiter @data[:pageviews_last_7][0][1].to_i + @data[:pageviews_last_7][1][1].to_i %></td>
    <td class="value"><%= number_with_delimiter @data[:pageviews_last_8][0][1].to_i + @data[:pageviews_last_8][1][1].to_i %></td>
    <td class="value"><%= number_with_delimiter @data[:pageviews_last_9][0][1].to_i + @data[:pageviews_last_9][1][1].to_i %></td>
    <td class="value"><%= number_with_delimiter @data[:pageviews_last_10][0][1].to_i + @data[:pageviews_last_10][1][1].to_i %></td>
    <td class="value"><%= number_with_delimiter @data[:pageviews_last_11][0][1].to_i + @data[:pageviews_last_11][1][1].to_i %></td>
    <td class="value"><%= number_with_delimiter @data[:pageviews_last_12][0][1].to_i + @data[:pageviews_last_12][1][1].to_i %></td>
  </tr>
  <tr class="striped">
    <td class="current-year"><strong><%= @data[:start_date].strftime("%Y") %></strong></td>
    <% (1..@data[:start_date].month).each do |month| %>
      <td class="value"><%= number_with_delimiter @data["pageviews_current_#{month}".to_sym][0][1].to_i + @data["pageviews_current_#{month}".to_sym][1][1].to_i %></td>
    <% end %>
    <% ((@data[:start_date].month + 1)..12).each do |month| %>
      <td class="value">&nbsp;</td>
    <% end %>
  </tr>    
</table>



<!-- ********************************** -->
<!-- UNIQUE VISITS and NEW VS RETURNING -->
<!-- ********************************** -->

<div class="grid">
  
  <div class="col-1-2">
    <div class="section">
      <div class="section-heading">Unique Visits</div>
      <div class="section-subhead">Visits + 1st Time Visitors</div>
    </div>
    <table class="tabular" cellpadding="0" cellspacing="0">
      <tr>
        <td class="value value-large"><%= number_with_delimiter @data[:unique_visits][0][1].to_i + @data[:unique_visits][1][1].to_i %></td>
        <td class="label">People visited the site</td>
      </tr>
      <tr>
        <td class="value value-large"><%= number_with_delimiter @data[:unique_visits][0][1] %></td>
        <td class="label">First-time visits to the site</td>
      </tr>
      <tr>
        <td class="value value-large"><%= number_with_delimiter @data[:unique_visits][1][1] %></td>
        <td class="label">Return visits to the site</td>
      </tr>
    </table>
  </div>

  <div class="col-1-2">
    <div class="section">
      <div class="section-heading">NEW VS. RETURNING</div>
      <div class="section-subhead">Who Came Back?</div>
    </div>
    
    <div class="grid">
      <div class="col-2-3">
        <%
          @data[:unique_visits_total] = @data[:unique_visits][0][1].to_i + @data[:unique_visits][1][1].to_i
          @data[:new_visitors_percentage] = 100 * @data[:unique_visits][0][1].to_i / @data[:unique_visits_total]
          @data[:returning_visitors_percentage] = 100 * @data[:unique_visits][1][1].to_i / @data[:unique_visits_total]
        %>
        <div class="horizontal-bar-chart">
          <div class="bar-label">New Visitors</div>
          <div class="bar bar-green" style="width:<%= number_to_percentage @data[:new_visitors_percentage] %>">
            <div class="value"><%= number_to_percentage @data[:new_visitors_percentage], :precision => 0 %></div>
          </div>
          <div class="bar-label">Returning Visitors</div>
          <div class="bar bar-pink" style="width:<%= number_to_percentage @data[:returning_visitors_percentage] %>">
            <div class="value"><%= number_to_percentage @data[:returning_visitors_percentage], :precision => 0 %></div>
          </div>
        </div>
      </div>

      <div class="col-1-3">
        <%
          @data[:unique_visits_prev_month_total] = @data[:unique_visits_prev_month][0][1].to_i + @data[:unique_visits_prev_month][1][1].to_i
          @data[:new_visitors_prev_month_percentage] = 100 * @data[:unique_visits_prev_month][0][1].to_i / @data[:unique_visits_prev_month_total]
        %>
        <div class="change-vs-previous-month">
          New Visitor % Change
          <span class="percentage"><%= number_to_percentage 100 * (@data[:unique_visits_total] - @data[:unique_visits_prev_month_total]) / @data[:unique_visits_prev_month_total], :precision => 0 %></span>
          Vs. <%= (@data[:start_date].prev_month).strftime("%B %Y") %> 
        </div>
      </div>
    </div>

  </div>
</div>



<!-- ********* -->
<!-- REFERRALS -->
<!-- ********* -->

<div class="grid">
  <div class="col-1-2">
    <div class="section">
      <div class="section-heading">Referrals</div>
      <div class="section-subhead">How Our Visitors Got To The Site</div>
    </div>
    <table class="tabular tabluar-tight" cellpadding="0" cellspacing="0">
      <tr>
        <th><strong>Source</strong></th>
        <th><strong>% of Traffic</strong></th>
      </tr>
      <% @data[:total_referral_traffic] = 0 %>
      <% @data[:referrals].each do |referral| %>
        <% @data[:total_referral_traffic] += referral[1].to_i %>
      <% end %>
      <% @data[:referrals].each do |referral| %>
        <tr>
          <td class="label"><%= referral[0] == 'cpc' ? referral[0].upcase : referral[0].titleize %></td>
          <td class="label"><%= (100 * referral[1].to_i / @data[:total_referral_traffic]) > 0 ? number_to_percentage(100 * referral[1].to_i / @data[:total_referral_traffic], :precision => 0) : 'N/A' %></td>
        </tr>
      <% end %>
    </table>    
  </div>
  <div class="col-1-2">
    <div class="section">
      <div class="section-heading">Top Referrers</div>
      <div class="section-subhead">Who Is Sending Us Traffic</div>
    </div>
    <table class="tabular tabluar-tight" cellpadding="0" cellspacing="0">
      <tr>
        <th><strong>Site</strong></th>
        <th><strong>Visits</strong></th>
      </tr>
      <% @data[:top_referrers].each do |referrer| %>
        <tr>
          <td class="label"><%= referrer[0] %></td>
          <td class="label"><%= number_with_delimiter referrer[1] %></td>
        </tr>
      <% end %>
    </table> 
  </div>
</div>



<div class="page-break"></div>



<!-- ******************* -->
<!-- DEVICE and LOCATION -->
<!-- ******************* -->

<div class="grid">
  <div class="col-1-2">
    <div class="section">
      <div class="section-heading">Device</div>
      <div class="section-subhead">The Device They Used To View Our Site</div>
    </div>
    <div class="grid">
      <div class="col-2-3">
        <%
          @data[:traffic_total] = @data[:devices][0][1].to_i + @data[:devices][1][1].to_i
          @data[:desktop_traffic_percentage] = 100 * @data[:devices][0][1].to_i / @data[:traffic_total]
          @data[:mobile_traffic_percentage] = 100 * @data[:devices][1][1].to_i / @data[:traffic_total]
        %>
        <div class="horizontal-bar-chart">
          <div class="bar-label">Mobile Traffic</div>
          <div class="bar bar-green" style="width:<%= number_to_percentage @data[:mobile_traffic_percentage] %>">
            <div class="value"><%= number_to_percentage @data[:mobile_traffic_percentage], :precision => 0 %></div>
          </div>
          <div class="bar-label">Desktop Traffic</div>
          <div class="bar bar-pink" style="width:<%= number_to_percentage @data[:desktop_traffic_percentage] %>">
            <div class="value"><%= number_to_percentage @data[:desktop_traffic_percentage], :precision => 0 %></div>
          </div>
        </div>
      </div>

      <div class="col-1-3">
        <div class="change-vs-previous-month">
          Mobile % Change
          <span class="percentage"><%= number_to_percentage (100 * (@data[:devices][1][1].to_i - @data[:devices_prev_month][1][1].to_i) / @data[:devices_prev_month][1][1].to_i), :precision => 0 %></span>
          Vs. <%= (@data[:start_date].prev_month).strftime("%B %Y") %> 
        </div>
      </div>
    </div>
  </div>
  <div class="col-1-2">
    <div class="section">
      <div class="section-heading">Location</div>
      <div class="section-subhead">Top Regions That Viewed Our Site</div>
    </div>
    <table class="tabular tabluar-tight" cellpadding="0" cellspacing="0">
      <tr>
        <th><strong>Region</strong></th>
        <th><strong>Visits</strong></th>
      </tr>
      <% @data[:top_regions].each do |region| %>
        <tr>
          <td class="label"><%= region[0] %></td>
          <td class="label"><%= number_with_delimiter region[1] %></td>
        </tr>
      <% end %>
    </table> 
  </div>
</div>



<!-- ***** -->
<!-- BLOGS -->
<!-- ***** -->

<div class="section">
  <div class="section-heading">BLOG</div>
  <div class="section-subhead">Top Posts + Page Views</div>
</div>

<div class="grid">
  <div class="col-2-3">
    <table class="tabular tabluar-tight" cellpadding="0" cellspacing="0">
      <tr>
        <th><strong>Page</strong></th>
        <th><strong>Views</strong></th>
      </tr>
      <% @data[:blogs][0..9].each do |blog| %>
        <tr>
          <td class="label"><a href="https://www.solasalonstudios.com<%= blog[0] %>" target="_blank"><%= blog[4] %></a></td>
          <td class="label"><%= number_with_delimiter blog[1] %></td>
        </tr>
      <% end %>
    </table> 
  </div>
  <div class="col-1-3">
    <table class="tabular tabluar-tight" cellpadding="0" cellspacing="0">
      <tr>
        <td class="label">Overall Page Views</td>
        <td class="label"><%= number_with_delimiter @data[:blogs_page_views] %></td>
      </tr>
      <tr>
        <td class="label">Avg. Time on Page</td>
        <td class="label"><%= Time.at(@data[:blogs_avg_session_duration] / @data[:blogs].length).utc.strftime("%M:%S") %></td>
      </tr>
      <tr>
        <td class="label">Bounce Rate</td>
        <td class="label"><%= number_to_percentage (@data[:blogs_bounce_rate] / @data[:blogs].length), :precision => 2 %></td>
      </tr>
    </table>
  </div>
</div>



<!-- *************************** -->
<!-- EXIT PAGES and TIME ON SITE -->
<!-- *************************** -->

<div class="grid">
  <div class="col-1-2">
    <div class="section">
      <div class="section-heading">Exit Pages</div>
      <div class="section-subhead">Users Leave From These Pages</div>
    </div>
    <table class="tabular tabluar-tight" cellpadding="0" cellspacing="0">
      <tr>
        <th><strong>Page</strong></th>
        <th><strong>Exits</strong></th>
      </tr>
      <% @data[:exit_pages].each do |exit_page| %>
        <tr>
          <td class="label"><a href="https://www.solasalonstudios.com<%= exit_page[0] %>" target="_blank"><%= exit_page[2] %></a></td>
          <td class="label"><%= number_with_delimiter exit_page[1] %></td>
        </tr>
      <% end %>
    </table> 
  </div>
  <div class="col-1-2">
    <div class="section">
      <div class="section-heading">Time On Site</div>
      <div class="section-subhead">Avg. Time Spent + Pages/Visit</div>
    </div>
    <table class="tabular" cellpadding="0" cellspacing="0">
      <tr>
        <td class="label">Time on Site</td>
        <td class="label"><%= Time.at(@data[:time_on_site] / @data[:time_on_page_and_pageviews_per_session].length).utc.strftime("%M:%S") %></td>
      </tr>
      <tr>
        <td class="label">Pages/Session</td>
        <td class="label"><%= number_with_delimiter (@data[:pageviews_per_session] / @data[:time_on_page_and_pageviews_per_session].length).round(1) %></td>
      </tr>
    </table> 
  </div>
</div>
