<div class="container content-container">
  <div class="row">

    <div class="row">
      <div class="seven columns locations-hero">
          <h1>Find a Sola Location</h1>
          <h3 class="subtle">&nbsp;</h3>
      </div>

      <div class="five columns text-right">

        <div class="sola-select">
          <div class="row">
            <div class="option-placeholder"><h3><%= params[:state] || 'Select a State' %></h3></div>
            <div class="arrow"><span class="ss-dropdown"></span></div>
          </div>
          <div class="options">
            <% @all_locations.select("DISTINCT(state)").order(:state => :asc).each do |location| %>
            <div class="option" data-value="<%= locations_by_state_path(location.state) %>"><%= location.state %></div>
            <% end %>
          </div>
        </div>

      </div>
    </div>
    
  </div>
</div>

<div class="location-breadcrumb">
  <div class="container">
    <%= link_to 'All Locations', :locations %> <span class="divider">/</span> <%= link_to params[:state], locations_by_state_path(params[:state]) %> 
    <span class="divider">/</span> <%= link_to params[:city], locations_by_city_path(params[:state], params[:city]) %>
  </div>
</div>

<div class="container">
  <div class="row" id="map"></div>
  <div id="map-overlay"></div>
</div>

<div class="container content-container" style="margin-top:5px;margin-bottom:10px;">

    <% @locations.group_by(&:city).sort.each do |city, locations| %>

      <h2 class="city"><%= city %></h2>

      <% locations.sort_by(&:name).each_with_index do |location, index| %>
        <% if index == 0 || index % 3 == 0 %><div class="row"><% end %>
          <div class="one-third column search-result">
            <h3><%= location.name.html_safe %></h3>
            <p><%= location.html_address.html_safe %></p>
            <div><%= link_to 'View Location', salon_location_path(location.state, location.city, location.url_name).gsub(/\./, '') %></div>
          </div>
        <% if ((index + 1) % 3) == 0 || index + 1 == locations.size %></div><% end %>
      <% end %>

    <% end %>

</div>

<%= render 'shared/public_website/hidden_map_inputs' %>

<% content_for(:scripts) { javascript_include_tag('locations') } %>
<% content_for(:scripts) { javascript_include_tag('locations_state_select') } %>
<% content_for(:title) { "Locations in #{params[:city]}" } %>