<% cache "locationsIndex#{@last_location ? @last_location.updated_at : nil}|#{@last_msa ? @last_msa.updated_at : nil}|#{I18n.locale}" do %>

<div class="container content-container locations-hero-container">
  <h2><span class="text"><%= t('page.locations.find_a_sola_location').html_safe %></span></h2>

  <% if I18n.locale.to_s != 'pt-BR' %>
    <div class="search-bar locations-search-bar">
      <%= form_tag [:search, :results], :method => :get do %>
        <div class="filterable-dropdown-search" data-input="service_type">
          <div class="dropdown">
            <div class="selected-option"><span class="name"><%= params[:service_type].present? ? t("services.#{params[:service_type]}") : t('services.all_types') %></span><span class="down-triangle"></span></div>
            <div class="options">
              <div class="option" data-value="all_types"><%= t('services.all_types') %></div>
              <div class="option" data-value="hair"><%= t('services.hair') %></div>
              <div class="option" data-value="makeup"><%= t('services.makeup') %></div>
              <div class="option" data-value="nails"><%= t('services.nails') %></div>
              <div class="option" data-value="skincare"><%= t('services.skincare') %></div>
            </div>
          </div>
          <span class="spyglass-black"></span>
          <input name="query" type="text" class="searchbox" placeholder="<%= t('page.locations.search_placeholder') %>" value="<%= params[:query] %>" />
          <input name="service_type" type="hidden" value="<%= params[:service_type] %>" />
          <button type="submit"><span class="search-icon"></span></button>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<div class="search-bar locations-filter-bar">
  <div class="country-location-buttons">
    <%= link_to 'United States', 'https://www.solasalonstudios.com/locations', :class => "#{'active' if I18n.locale == :en}" %>
    <%= link_to 'Canada', 'https://www.solasalonstudios.ca/locations', :class => "#{'active' if I18n.locale.to_s == 'en-CA'}" %>
    <% if I18n.locale.to_s == 'pt-BR' %>
      <%= link_to 'Brazil', 'https://www.solasalonstudios.ca/locations', :class => "active" %>
    <% end %>
  </div>
  <% if I18n.locale.to_s != 'pt-BR' %>
    <div class="sola-select">
      <div class="row">
        <div class="option-placeholder"><h3><%= t('page.locations.select_a_state').html_safe %></h3></div>
        <div class="arrow"><span class="ss-dropdown"></span></div>
      </div>
      <div class="options">
        <% @states.each do |location| %>
        <div class="option" data-value="<%= I18n.locale == :en ? locations_by_state_path(location.state.downcase) : locations_by_province_path(location.state.downcase) %>"><%= location.state %></div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<div class="container">
  <div class="row" id="map"></div>
  <div id="map-overlay"></div>
  <%= render 'shared/public_website/hidden_map_inputs' %>
</div>

<div class="container location-grid">
  <div class="row">

    <% if I18n.locale == :en %>

      <div class="one-third column">
        <% @states[0,9].each do |state| %>
          <div class="state-wrapper">
            <h3 class="state">
              <%= state.state.html_safe %></h3>
            <% Location.where(:state => state.state, :status => 'open').group_by(&:msa_name).sort.each do |msa_name, locations| %>
              <% unless msa_name.blank? %>
                <% locations.sort_by(&:name).each_with_index do |location, index| %>
                  <div class="link">
                    <span class="text"><%= location.msa.name.html_safe %></span>,  
                    <%= link_to location.name.html_safe, salon_location_path(location.url_name).gsub(/\./, '') %>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="one-third column">
        <% @states[9,20].each do |state| %>
          <div class="state-wrapper">
            <h3 class="state"><%= state.state.html_safe %></h3>
            <% Location.where(:state => state.state, :status => 'open').group_by(&:msa_name).sort.each do |msa_name, locations| %>
              <% unless msa_name.blank? || locations.size == 0 %>
                <% locations.sort_by(&:name).each_with_index do |location, index| %>
                  <div class="link">
                    <span class="text"><%= location.msa.name.html_safe %></span>, 
                    <%= link_to location.name.html_safe, salon_location_path(location.url_name).gsub(/\./, '') %>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="one-third column">
        <% @states[29, @states.length].each do |state| %>
          <div class="state-wrapper">
            <h3 class="state"><%= state.state.html_safe %></h3>
            <% Location.where(:state => state.state, :status => 'open').group_by(&:msa_name).sort.each do |msa_name, locations| %>
              <% unless msa_name.blank? || locations.size == 0 %>
                <% locations.sort_by(&:name).each_with_index do |location, index| %>
                  <div class="link">
                    <span class="text"><%= location.msa.name.html_safe %></span>, 
                    <%= link_to location.name.html_safe, salon_location_path(location.url_name).gsub(/\./, '') %>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>

    <% else %>

      <div class="one-third column">
        <% @states.each do |state| %>
          <div class="state-wrapper">
            <h3 class="state"><%= link_to state.state.html_safe, I18n.locale == :en ? locations_by_state_path(beautify_url_segment state.state) : locations_by_province_path(beautify_url_segment state.state) %></h3>
            <% Location.where(:state => state.state, :status => 'open').group_by(&:msa_name).sort.each do |msa_name, locations| %>
              <% unless msa_name.blank? %>
                <% locations.sort_by(&:name).each_with_index do |location, index| %>
                  <div class="link">
                    <%= link_to location.msa.name.html_safe, region_path(location.msa.url_name).gsub(/\./, ''), :class => 'text' %>, 
                    <%= link_to location.name.html_safe, salon_location_path(location.url_name).gsub(/\./, '') %>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>

    <% end %>

  </div>

</div>

<% end %>

<% if I18n.locale.to_s == 'pt-BR' %>
<div class="container">
  <div class="row">
    <div style="font-size:15px;">
      <strong>Sola Salon Studios</strong>
      <br />
      Prédio anexo ao Barra Shopping<br />
      Avenida das Americas, 4430, Loja B<br />
      CEP: 22640-903
    </div>
  </div>

  <hr style="margin-top: 30px;margin-bottom:30px;" />

  <div class="row">
    <div class="text-center">
      <h3>Veja aqui como chegar no Sola</h3>
      <div class="one-half column" style="margin:0 auto;float:none;">
          <a href="//www.youtube.com/watch?v=eBVstPmC4K4" class="play-video play-video-gallery" rel="eBVstPmC4K4">
            <img src="https://s3.amazonaws.com/solasalonstudiosbr/location_video_poster.jpg" alt="Veja aqui como chegar no Sola" />
            <span class="fa fa-play-circle"></span>
            <div class="video-overlay"></div>
          </a>        
      </div>  
    </div>
  </div>
</div>
<% end %>


<% content_for(:scripts) { javascript_include_tag('locations') } %>
<% content_for(:title) { "#{t('page.locations.all_locations').html_safe}" } %>
<% content_for(:canonical_url) { "https://www.solasalonstudios.#{I18n.locale != :en ? 'ca' : 'com'}/locations" } %>
<% content_for(:meta_description) { t('page.locations.meta_description') } %>