<% cache "locationsIndex#{@last_location.updated_at}|#{@last_msa.updated_at}|#{I18n.locale}" do %>

<div class="container content-container">

  <% if I18n.locale != :en %>
    <div class="row">
      <h1 style="margin-top:-10px" class="text-center">Be the first to know exclusive details about the launch of<span class="desktop-br">&nbsp;</span>Sola Salon Studios Canada in Spring 2017!</h1>
      <div class="text-center country-location-buttons canada-country-location-buttons">
        <%= link_to 'Contact Us', :contact_us, :class => 'button primary rounded' %>
        <%= link_to 'United States', 'https://www.solasalonstudios.com/locations', :class => "button rounded #{'active' if I18n.locale == :en}" %>
        <%= link_to 'Canada', 'https://www.solasalonstudios.ca/locations', :class => "button rounded #{'active' if I18n.locale != :en}" %>
      </div>
      <!--<p class="text-center"><a href="https://www.solasalonstudios.com/locations/">View locations in the United States</a></p>-->
    </div>
  <% else %>
    <div class="row">
      <div class="twelve columns locations-hero">
          <h1><%= t('page.locations.find_a_sola_location').html_safe %></h1>
      </div>
    </div>
  <% end %>

</div>

<% if I18n.locale == :en %>
  <div class="container location-selection-inputs">
    <div class="row">
      <div class="six columns text-left country-location-buttons">
        <%= link_to 'United States', 'https://www.solasalonstudios.com/locations', :class => "button rounded #{'active' if I18n.locale == :en}" %>
        <%= link_to 'Canada', 'https://www.solasalonstudios.ca/locations', :class => "button rounded #{'active' if I18n.locale != :en}" %>
      </div>
      <div class="six columns text-right">
        <% if I18n.locale == :en %>
          <div class="sola-select">
            <div class="row">
              <div class="option-placeholder"><h3><%= t('page.locations.select_a_state').html_safe %></h3></div>
              <div class="arrow"><span class="ss-dropdown"></span></div>
            </div>
            <div class="options">
              <% @states.each do |location| %>
              <div class="option" data-value="<%= I18n.locale == :en ? locations_by_state_path(location.state.downcase) : locations_by_province_path(location.state.downcase) %>"><%= location.state %></div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<div class="container">
  <div class="row" id="map"></div>
  <div id="map-overlay"></div>
  <%= render 'shared/public_website/hidden_map_inputs' %>
</div>

<div class="container location-grid">
  <div class="row">

    <% if I18n.locale == :en %>

      <div class="one-third column">
        <% @states[0,9].each do |state| %>
          <div class="state-wrapper">
            <h2 class="city"><%= link_to state.state.html_safe, I18n.locale == :en ? locations_by_state_path(beautify_url_segment state.state) : locations_by_province_path(beautify_url_segment state.state) %></h2>
            <% Location.where(:state => state.state, :status => 'open').group_by(&:msa_name).sort.each do |msa_name, locations| %>
              <% unless msa_name.blank? %>
                <% locations.sort_by(&:name).each_with_index do |location, index| %>
                  <div class="link">
                    <%= link_to msa_name.html_safe, region_path(Msa.find_by(:name => msa_name).url_name).gsub(/\./, ''), :class => 'text' %>, 
                    <%= link_to location.name.html_safe, salon_location_path(location.url_name).gsub(/\./, '') %>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="one-third column">
        <% @states[9,18].each do |state| %>
          <div class="state-wrapper">
            <h2 class="city"><%= link_to state.state.html_safe, I18n.locale == :en ? locations_by_state_path(beautify_url_segment state.state) : locations_by_province_path(beautify_url_segment state.state) %></h2>
            <% Location.where(:state => state.state, :status => 'open').group_by(&:msa_name).sort.each do |msa_name, locations| %>
              <% unless msa_name.blank? || locations.size == 0 %>
                <% locations.sort_by(&:name).each_with_index do |location, index| %>
                  <div class="link">
                    <%= link_to msa_name.html_safe, region_path(Msa.find_by(:name => msa_name).url_name).gsub(/\./, ''), :class => 'text' %>, 
                    <%= link_to location.name.html_safe, salon_location_path(location.url_name).gsub(/\./, '') %>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="one-third column">
        <% @states[27, @states.length].each do |state| %>
          <div class="state-wrapper">
            <h2 class="city"><%= link_to state.state.html_safe, I18n.locale == :en ? locations_by_state_path(beautify_url_segment state.state) : locations_by_province_path(beautify_url_segment state.state) %></h2>
            <% Location.where(:state => state.state, :status => 'open').group_by(&:msa_name).sort.each do |msa_name, locations| %>
              <% unless msa_name.blank? || locations.size == 0 %>
                <% locations.sort_by(&:name).each_with_index do |location, index| %>
                  <div class="link">
                    <%= link_to msa_name.html_safe, region_path(Msa.find_by(:name => msa_name).url_name).gsub(/\./, ''), :class => 'text' %>, 
                    <%= link_to location.name.html_safe, salon_location_path(location.url_name).gsub(/\./, '') %>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>

    <% else %>

      <div class="one-third column">
        <% @states.each do |state| %>
          <div class="state-wrapper">
            <h2 class="city"><%= link_to state.state.html_safe, I18n.locale == :en ? locations_by_state_path(beautify_url_segment state.state) : locations_by_province_path(beautify_url_segment state.state) %></h2>
            <% Location.where(:state => state.state, :status => 'open').group_by(&:msa_name).sort.each do |msa_name, locations| %>
              <% unless msa_name.blank? %>
                <% locations.sort_by(&:name).each_with_index do |location, index| %>
                  <div class="link">
                    <%= link_to msa_name.html_safe, region_path(Msa.find_by(:name => msa_name).url_name).gsub(/\./, ''), :class => 'text' %>, 
                    <%= link_to location.name.html_safe, salon_location_path(location.url_name).gsub(/\./, '') %>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>

    <% end %>

  </div>

</div>

<% end %>

<% if I18n.locale != :en && @locations.size == 0 %>
  <% content_for(:scripts) { javascript_include_tag('locations_ca') } %>
<% else %>
  <% content_for(:scripts) { javascript_include_tag('locations') } %>
  <% content_for(:scripts) { javascript_include_tag('locations_state_select') } %>
<% end %>
<% content_for(:title) { "#{t('page.locations.all_locations').html_safe}" } %>
<% content_for(:canonical_url) { "https://www.solasalonstudios.#{I18n.locale != :en ? 'ca' : 'com'}/locations" } %>
<% content_for(:meta_description) { t('page.locations.meta_description') } %>