<% cache "locationsIndex#{@last_location.updated_at}|#{@last_msa.updated_at}" do %>

<div class="container content-container">

  <div class="row">
    <div class="six columns locations-hero">
        <h1>Find a Sola Location</h1>
        <h3 class="subtle">&nbsp;</h3>
    </div>

    <div class="six columns text-right">

      <div class="sola-select">
        <div class="row">
          <div class="option-placeholder"><h3>Select a State</h3></div>
          <div class="arrow"><span class="ss-dropdown"></span></div>
        </div>
        <div class="options">
          <% @states.each do |location| %>
          <div class="option" data-value="<%= locations_by_state_path(location.state) %>"><%= location.state %></div>
          <% end %>
        </div>
      </div>

    </div>
  </div>

</div>

<div class="container">
  <div class="row" id="map"></div>
  <div id="map-overlay"></div>
  <%= render 'shared/public_website/hidden_map_inputs' %>
</div>

<div class="container location-grid">
  <div class="row">
    <div class="one-third column">
      <% @states[0,9].each do |state| %>
        <div class="state-wrapper">
          <h2 class="city"><%= link_to state.state.html_safe, locations_by_state_path(state.state) %></h2>
          <% Location.where(:state => state.state, :status => 'open').group_by(&:msa_name).sort.each do |msa_name, locations| %>
            <% unless msa_name.blank? %>
              <% locations.each_with_index do |location, index| %>
                <div class="link">
                  <%= link_to msa_name.html_safe, region_path(Msa.find_by(:name => msa_name).url_name), :class => 'text' %>, 
                  <%= link_to location.name.html_safe, salon_location_path(location.state, location.city, location.url_name).gsub(/\./, '') %>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="one-third column">
      <% @states[9,18].each do |state| %>
        <div class="state-wrapper">
          <h2 class="city"><%= link_to state.state.html_safe, locations_by_state_path(state.state) %></h2>
          <% Location.where(:state => state.state, :status => 'open').group_by(&:msa_name).sort.each do |msa_name, locations| %>
            <% unless msa_name.blank? || locations.size == 0 %>
              <% locations.each_with_index do |location, index| %>
                <div class="link">
                  <%= link_to msa_name.html_safe, region_path(Msa.find_by(:name => msa_name).url_name), :class => 'text' %>, 
                  <%= link_to location.name.html_safe, salon_location_path(location.state, location.city, location.url_name).gsub(/\./, '') %>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="one-third column">
      <% @states[27, @states.length].each do |state| %>
        <div class="state-wrapper">
          <h2 class="city"><%= link_to state.state.html_safe, locations_by_state_path(state.state) %></h2>
          <% Location.where(:state => state.state, :status => 'open').group_by(&:msa_name).sort.each do |msa_name, locations| %>
            <% unless msa_name.blank? || locations.size == 0 %>
              <% locations.each_with_index do |location, index| %>
                <div class="link">
                  <%= link_to msa_name.html_safe, region_path(Msa.find_by(:name => msa_name).url_name), :class => 'text' %>, 
                  <%= link_to location.name.html_safe, salon_location_path(location.state, location.city, location.url_name).gsub(/\./, '') %>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

</div>

<% end %>

<% content_for(:scripts) { javascript_include_tag('locations') } %>
<% content_for(:scripts) { javascript_include_tag('locations_state_select') } %>
<% content_for(:title) { 'All Locations' } %>
