
<div class="location-breadcrumb">
  <div class="container">
    <%= link_to 'All Locations', :locations %> <span class="divider">/</span> <%= link_to @location.state, locations_by_state_path(beautify_url_segment @location.state).gsub(/\./, '') %> 
    <span class="divider">/</span> <%= link_to @location.msa.name.html_safe, region_path(@location.msa.url_name).gsub(/\./, '') %> 
    <span class="divider">/</span> <%= link_to @location.name, salon_location_path(@location.url_name).gsub(/\./, '') %>
  </div>
</div>

<% if @location.open_house && @location.open_house.present? %>
<div class="container">
  <div class="callout coupon pink">
    <h4><%= @location.open_house %></h4>
  </div>
</div>
<% end %>

<div class="container content-container content-container-mobile-full tablet-portrait">
  <div class="row">

    <div class="one-third column salon-info content-container-mobile-padded">
      <h1><%= @location.name.html_safe %></h1>
      <h3 class="subtle"><%= @location.city.html_safe %>, <%= @location.state.html_safe %></h3>
      <div class="salon-buttons">
        <%= link_to 'Find a Salon Professional', salon_stylists_path(@location.url_name).gsub(/\./, ''), :class => 'button block long-text' %>
        <%= link_to 'Rent a Studio', '#rent-a-studio', :class => 'button block rent-a-studio' %>
      </div>
      <div class="row salon-map" id="map"></div>
      <div id="map-overlay" class="salon-map"></div>
    </div>

    <div class="two-thirds column">
      <% if @location.images.size > 0 %>
        <div class="owl-carousel owl-theme salon-professional salon-carousel" data-autoplayoff="true">
          <% @location.images.each do |image| %>
            <div class="item"><%= image_tag image.url(:carousel) %></div>
          <% end %>
        </div>
      <% else %>
        <div class="owl-carousel owl-theme salon-professional salon-carousel" data-autoplayoff="true">
          <div class="item"><%= image_tag 'crewgoals2016.jpg' %></div>
        </div>      
      <% end %>
    </div>

  </div>
</div>

<% if @location.description.present? %>
  <div class="container">

    <div class="row about-this-location" style="margin-top: 60px">
      <h3 class="text-center">About this Location</h3>
      <h4 class="text-center"><%= @location.description.gsub(/<img[^>]+\>/, '').gsub(/\n/, '<hr class="br" />').html_safe %></h4>
      
        <ul class="location-social">
          <% if @location.facebook_url.present? %>
            <li><%= link_to url_helper(@location.facebook_url), :target => '_blank' do %><span class="ss-social-regular ss-facebook"></span><% end %></li>
          <% else %>
            <li><%= link_to 'https://www.facebook.com/solasalons', :target => '_blank' do %><span class="ss-social-regular ss-facebook"></span><% end %></li>
          <% end %>

          <% if @location.twitter_url.present? %>
            <li><%= link_to url_helper(@location.twitter_url), :target => '_blank' do %><span class="ss-social-regular ss-twitter"></span><% end %></li>
          <% else %>
            <li><%= link_to 'https://www.twitter.com/solasalons', :target => '_blank' do %><span class="ss-social-regular ss-twitter"></span><% end %></li>
          <% end %>

          <% if @location.pinterest_url.present? %>
            <li><%= link_to url_helper(@location.pinterest_url), :target => '_blank' do %><span class="ss-social-regular ss-pinterest"></span><% end %></li>
          <% else %>
            <li><%= link_to 'https://www.pinterest.com/solasalons', :target => '_blank' do %><span class="ss-social-regular ss-pinterest"></span><% end %></li>
          <% end %> 

          <% if @location.instagram_url.present? %>
            <li><%= link_to url_helper(@location.instagram_url), :target => '_blank' do %><span class="ss-social-regular ss-instagram"></span><% end %></li>
          <% else %>
            <li><%= link_to 'https://www.instagram.com/solasalons', :target => '_blank' do %><span class="ss-social-regular ss-instagram"></span><% end %></li>
          <% end %>        
        </ul>
      
    </div>

  </div>
<% end %>

<%= render 'shared/location_tours' %>

<% if @location.move_in_special && @location.move_in_special.present? %>
  <div class="callout special">
    <div class="container">
      <h2>Move-In Special</h2>
      <p><strong><%= @location.move_in_special.html_safe %></strong></p>
      <div class="button-wrapper"><%= link_to 'Rent a Studio', '#rent-a-studio', :class => 'button rent-a-studio' %></div>
    </div>
  </div>
<% end %>

<div class="callout blue image your-life-your-style">
  <div class="text-center">
    <h1>Your Life, Your Style<sup><small>&reg;</small></sup></h1>
  </div>
</div>

<div class="container">

  <div class="row salon-amenities-benefits">

    <div class="one-half column">
      <h3>Studio Amenities</h3>
      <h4>
      <ul>
        <li>Fully enclosed, private, locking studio</li>
        <li>High-end styling chair and shampoo bowl</li>
        <li>Full-spectrum lighting and oversize mirrors</li>
        <li>Luxurious cabinets and fixtures</li>
        <li>Individual ventilation in each studio</li>
        <li>Instant and abundant hot water supply</li>
        <li>Onsite laundry and shared amenities</li>
        <li>All utilities and Wi-Fi included</li>
        <li>And much more...</li>
      </ul>
      </h4>
    </div>

    <div class="one-half column">
      <h3>Salon Professional Benefits</h3>
      <h4>
      <ul>
        <li>Keep 100% of your profits</li>
        <li>Access group insurance and Sola discounts</li>
        <li>Escape salon politics and drama</li>
        <li>Manage your own schedule</li>
        <li>Personalize your salon space</li>
        <li>Set pricing for services and products</li>
        <li>Sell the retail products you love</li>
        <li>Play your own music</li>
        <li>Enjoy private conversations</li>
      </ul>
      </h4>
    </div>

  </div>
</div>

<div class="callout pink image">
  <div class="container">
    <h1>Looking for a Salon Professional?</h1>
    <br>
    <%= link_to 'View our directory', salon_stylists_path(
    @location.url_name), :class => 'button inverted' %>
  </div>
</div>

<a name="rent-a-studio" id="rent-a-studio"></a>
<a name="contact-us-success" id="contact-us-success"></a>
<div class="salon-request-a-tour">
  <div class="container">
    <div class="row">
      
      <div class='one-half column'>
        <h2>Contact Us for<br>Leasing&nbsp;Information</h2>
        <h3 class="subtle"><%= @location.name %></h3>
        <div class="tour-information">
          <p>Call <%= @location.general_contact_name %> for leasing information</p>
          <h1><%= @location.phone_number %></h1>
          <p class="contact-link"><a href="mailto:<%= @location.email_address_for_inquiries %>"><%= @location.email_address_for_inquiries %></a></p>
        </div>
      </div>

      <div class="one-half column">
        <%= form_tag :contact_us_request_a_tour, :method => :post, :id => 'contact-us-request-a-tour' do %>
          <input name="name" type="text" placeholder="Your Name">
          <input name="email" type="text" placeholder="Email Address">
          <input name="phone" type="text" placeholder="Phone Number">
          <textarea name="message" placeholder="Leave a Message (Optional)"></textarea>
          <input name="location_id" type="hidden" value="<%= @location.id %>">
          <input name="request_url" type="hidden" value="<%= request.original_url %>">
          <button class="big-btn">Submit Request</button>
        <% end %>
      </div>

    </div>
  </div>
</div>

<div class="callout callout-testimonial">
  <div class="container">
    <div class="row">
      <div class="one-third column">
        <%= image_tag 'Katina_Avatar@2x.png', :class => 'testimonial-portrait' %>
      </div>
      <div class="two-thirds column">
        <h1>"I love that I have my very own space where I can do business the way I want to, and that I can decorate as I like. I get to focus on my clients without any salon drama to interfere."</h1>
        <h3>Katina Eisenbeis, Katina's Salon</h3>
      </div>
    </div>
  </div>
</div>

<div class="callout green">
  <div class="container">
    <h3 class="large" style="margin-bottom:0;"><%= link_to 'View more testimonials'.html_safe, :testimonials %></h3>
  </div>
</div>

<div class="container">
  <div class="sola-story">
    <div class="row">
      <div class="two-thirds column">
        <h2>Join our community and experience a level of <strong>creative independence</strong> and <strong>career support</strong> you won't find anywhere else.</h2>
      </div>
      <div class="one-third column">
        <%= link_to 'The Sola Story', :about_us, :class => 'button' %>
      </div>
    </div>
  </div>
</div>

<div class="callout blue no-padding">
  <div class="container">
    <div class="row text-left">
      
      <div class="one-half column">
        <%= link_to :testimonials, :class => 'link' do %>
          <div class="row">
            <div class="one-third column">
              <span class="ss-chat"></span>
            </div>
            <div class="two-thirds column">
              <h3 class="large">SEE WHAT OTHERS ARE SAYING</h3>
              <h3 class="subtle">VIEW SOLA TESTIMONIALS</h3>
            </div>
          </div>
        <% end %>
      </div>

      <div class="one-half column">
        <%= link_to salon_stylists_path(@location.url_name), :class => 'link' do %>
          <div class="row">
            <div class="one-third column">
              <span class="ss-search"></span>
            </div>  
             <div class="two-thirds column">    
              <h3 class="large">FIND A SALON PROFESSIONAL</h3>
              <h3 class="subtle">AT <%= @location.name.upcase %> SOLA</h3>
            </div>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</div>

<%= render 'shared/public_website/hidden_map_inputs', :salon => true %>
<input type="hidden" id="is_salon" value="y" />

<% content_for(:scripts) { javascript_include_tag('locations') } %>
<% content_for(:scripts) {@location.chat_code.html_safe} if @location.chat_code.present? %>
<% content_for(:scripts) {@location.tracking_code.html_safe} if @location.tracking_code.present? %>
<% content_for(:title) { @location.name.html_safe } %>
<% content_for(:fb_conversion_pixel) { 
%{
<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','https://connect.facebook.net/en_US/fbevents.js');

fbq('init', '281977335297427');
fbq('track', "PageView");</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=281977335297427&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->
}.html_safe
} %>