
<div class="location-breadcrumb">
  <div class="container">
    <%= link_to t('page.locations.all_locations').html_safe, :locations %> <span class="divider">/</span> <%= link_to @location.state, I18n.locale == :en ? locations_by_state_path(beautify_url_segment @location.state).gsub(/\./, '') : locations_by_province_path(beautify_url_segment @location.state).gsub(/\./, '') %> 
    <span class="divider">/</span> <%= link_to @location.msa.name.html_safe, region_path(@location.msa.url_name).gsub(/\./, '') %> 
    <span class="divider">/</span> <%= link_to @location.name, salon_location_path(@location.url_name).gsub(/\./, '') %>
  </div>
</div>

<% if @location.open_house && @location.open_house.present? %>
<div class="container">
  <div class="callout coupon pink">
    <h4><%= @location.open_house %></h4>
  </div>
</div>
<% end %>

<div class="container content-container content-container-mobile-full tablet-portrait" style="margin-bottom:30px">
  <div class="row">

    <div class="one-third column salon-info content-container-mobile-padded">
      <h1><%= @location.name.html_safe %></h1>
      <h3 class="subtle"><%= @location.city.html_safe %>, <%= @location.state.html_safe %></h3>
      <div class="salon-buttons">
        <%= link_to t('page.locations.find_a_salon_professional').html_safe, salon_stylists_path(@location.url_name).gsub(/\./, ''), :class => 'button block long-text' %>
        <%= link_to t('page.locations.rent_a_studio').html_safe, '#rent-a-studio', :class => 'button block rent-a-studio' %>
      </div>
      <div class="row salon-map" id="map"></div>
      <div id="map-overlay" class="salon-map"></div>
    </div>

    <div class="two-thirds column">
      <% if @location.images.size > 0 %>
        <div class="owl-carousel owl-theme salon-professional salon-carousel" data-autoplayoff="true">
          <% @location.images.each do |image| %>
            <div class="item"><%= image_tag image.url(:carousel) %></div>
          <% end %>
        </div>
      <% else %>
        <div class="owl-carousel owl-theme salon-professional salon-carousel" data-autoplayoff="true">
          <div class="item"><%= image_tag 'crewgoals2016.jpg' %></div>
        </div>      
      <% end %>
    </div>

  </div>
</div>

<% if @location.description.present? %>
  <div class="container">

    <div class="row about-this-location" style="margin-top: 40px">
      <h3 class="text-center"><%= t('page.locations.about_this_location').html_safe %></h3>
      <h4 class="text-center"><%= @location.description.gsub(/<img[^>]+\>/, '').gsub(/\n/, '<hr class="br" />').html_safe %></h4>
      
        <ul class="location-social">
          <% if @location.facebook_url.present? %>
            <li><%= link_to url_helper(@location.facebook_url), :target => '_blank' do %><span class="ss-social-regular ss-facebook"></span><% end %></li>
          <% else %>
            <li><%= link_to 'https://www.facebook.com/solasalons', :target => '_blank' do %><span class="ss-social-regular ss-facebook"></span><% end %></li>
          <% end %>

          <% if @location.twitter_url.present? %>
            <li><%= link_to url_helper(@location.twitter_url), :target => '_blank' do %><span class="ss-social-regular ss-twitter"></span><% end %></li>
          <% else %>
            <li><%= link_to 'https://www.twitter.com/solasalons', :target => '_blank' do %><span class="ss-social-regular ss-twitter"></span><% end %></li>
          <% end %>

          <% if @location.pinterest_url.present? %>
            <li><%= link_to url_helper(@location.pinterest_url), :target => '_blank' do %><span class="ss-social-regular ss-pinterest"></span><% end %></li>
          <% else %>
            <li><%= link_to 'https://www.pinterest.com/solasalons', :target => '_blank' do %><span class="ss-social-regular ss-pinterest"></span><% end %></li>
          <% end %> 

          <% if @location.instagram_url.present? %>
            <li><%= link_to url_helper(@location.instagram_url), :target => '_blank' do %><span class="ss-social-regular ss-instagram"></span><% end %></li>
          <% else %>
            <li><%= link_to 'https://www.instagram.com/solasalons', :target => '_blank' do %><span class="ss-social-regular ss-instagram"></span><% end %></li>
          <% end %>        
        </ul>
      
    </div>

  </div>
<% end %>

<% if @articles && @articles.length > 0 %>
  <div class="container content-container news-articles">
    <% @articles.each do |article| %>
      <%= render 'shared/news_summary', :article => article %>
    <% end %>
  </div>
<% end %>

<%= render 'shared/location_tours' %>

<% if @location.move_in_special && @location.move_in_special.present? %>
  <div class="callout special">
    <div class="container">
      <h2><%= t('page.locations.move_in_special').html_safe %></h2>
      <p><strong><%= @location.move_in_special.html_safe %></strong></p>
      <div class="button-wrapper"><%= link_to t('page.locations.rent_a_studio').html_safe, '#rent-a-studio', :class => 'button rent-a-studio' %></div>
    </div>
  </div>
<% end %>

<div class="callout blue image your-life-your-style" style="margin-top:0">
  <div class="text-center">
    <h1><%= t('page.locations.your_life_your_style').html_safe %><sup><small>&reg;</small></sup></h1>
  </div>
</div>

<div class="container">

  <div class="row salon-amenities-benefits">

    <div class="one-half column">
      <h3><%= t('page.locations.studio_amenities').html_safe %></h3>
      <h4>
      <ul>
        <% t('page.locations.studio_amenities_list').each_line do |li| %>
          <li><%= li.html_safe %></li>
        <% end %>
      </ul>
      </h4>
    </div>

    <div class="one-half column">
      <h3><%= t('page.locations.salon_professional_benefits').html_safe %></h3>
      <h4>
      <ul>
        <% t('page.locations.salon_professional_benefits_list').each_line do |li| %>
          <li><%= li.html_safe %></li>
        <% end %>
      </ul>
      </h4>
    </div>

  </div>
</div>

<div class="callout pink image">
  <div class="container">
    <h1><%= t('page.locations.looking_for_a_salon_professional').html_safe %></h1>
    <br>
    <%= link_to t('page.locations.view_our_directory').html_safe, salon_stylists_path(
    @location.url_name), :class => 'button inverted' %>
  </div>
</div>

<a name="rent-a-studio" id="rent-a-studio"></a>
<a name="contact-us-success" id="contact-us-success"></a>
<div class="salon-request-a-tour">
  <div class="container">
    <div class="row">
      
      <div class='one-half column'>
        <h2><%= t('page.locations.contact_us_for_leasing_information').html_safe %></h2>
        <h3 class="subtle"><%= @location.name %></h3>
        <div class="tour-information">
          <p><%= t('page.locations.call_for_leasing_information', :contact_name => @location.general_contact_name).html_safe %></p>
          <h1><a href="tel:<%= @location.phone_number %>" class="tel"><%= @location.phone_number %></a></h1>
          <p class="contact-link"><a href="mailto:<%= @location.email_address_for_inquiries %>"><%= @location.email_address_for_inquiries %></a></p>
        </div>
      </div>

      <div class="one-half column">
        <%= form_tag :contact_us_request_a_tour, :method => :post, :id => 'contact-us-request-a-tour' do %>
          <input name="name" type="text" placeholder="<%= t('page.locations.your_name').html_safe %>">
          <input name="email" type="text" placeholder="<%= t('page.locations.email_address').html_safe %>">
          <input name="phone" type="text" placeholder="<%= t('page.locations.phone_number').html_safe %>">
          <textarea name="message" placeholder="<%= t('page.locations.leave_a_message').html_safe %>"></textarea>
          <input name="location_id" type="hidden" value="<%= @location.id %>">
          <input name="request_url" type="hidden" value="<%= request.original_url %>">
          <button class="big-btn"><%= t('page.locations.submit_request').html_safe %></button>
        <% end %>
      </div>

    </div>
  </div>
</div>

<div class="callout callout-testimonial">
  <div class="container">
    <div class="row">
      <div class="one-third column">
        <%= image_tag 'Katina_Avatar@2x.png', :class => 'testimonial-portrait' %>
      </div>
      <div class="two-thirds column">
        <h1><%= t('page.locations.testimonial_text').html_safe %></h1>
        <h3><%= t('page.locations.testimonial_author').html_safe %></h3>
      </div>
    </div>
  </div>
</div>

<div class="callout green">
  <div class="container">
    <h3 class="large" style="margin-bottom:0;"><%= link_to t('page.locations.view_more_testimonials').html_safe, :testimonials %></h3>
  </div>
</div>

<div class="container">
  <div class="sola-story">
    <div class="row">
      <div class="two-thirds column">
        <h2><%= t('page.locations.join_our_community').html_safe %></h2>
      </div>
      <div class="one-third column">
        <%= link_to t('page.locations.the_sola_story').html_safe, :about_us, :class => 'button' %>
      </div>
    </div>
  </div>
</div>

<div class="callout blue no-padding">
  <div class="container">
    <div class="row text-left">
      
      <div class="one-half column">
        <%= link_to :testimonials, :class => 'link' do %>
          <div class="row">
            <div class="one-third column">
              <span class="ss-chat"></span>
            </div>
            <div class="two-thirds column">
              <h3 class="large"><%= t('page.locations.see_what_others_are_saying').html_safe %></h3>
              <h3 class="subtle"><%= t('page.locations.view_sola_testimonials').html_safe %></h3>
            </div>
          </div>
        <% end %>
      </div>

      <div class="one-half column">
        <%= link_to salon_stylists_path(@location.url_name), :class => 'link' do %>
          <div class="row">
            <div class="one-third column">
              <span class="ss-search"></span>
            </div>  
             <div class="two-thirds column">    
              <h3 class="large"><%= t('page.locations.find_a_salon_professional').html_safe %></h3>
              <h3 class="subtle"><%= t('page.locations.at_location_sola', :location_name => @location.name).html_safe %></h3>
            </div>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</div>

<%= render 'shared/public_website/hidden_map_inputs', :salon => true %>
<input type="hidden" id="is_salon" value="y" />

<% content_for(:scripts) { javascript_include_tag('locations') } %>
<% content_for(:scripts) {@location.chat_code.html_safe} if @location.chat_code.present? %>
<% content_for(:scripts) {@location.tracking_code.html_safe} if @location.tracking_code.present? %>
<% content_for(:canonical_url) { @location.canonical_url } %>
<% content_for(:title) { "#{@location.name.html_safe} #{t(:in)} #{@location.city}, #{@location.state}" } %>
<% if @location.description %>
  <% content_for(:meta_description) { clean_html @location.description } %>
<% end %>