<div class="container content-container">
  <div class="row">
    <h1><%= @location.name %></h1>
    <p><%= @location.full_address.html_safe %></p>
    <p><%= @location.description.html_safe %></p>
    <p>
    <div class="row" id="map" style="height: 250px"></div>
    <% if @location.stylists && @location.stylists.size > 0 %>
      <hr>
      <h3>Stylists</h3>
      <ul>
        <% @location.stylists.open.each do |stylist| %>
          <li><%= link_to stylist.name, show_stylist_path(stylist) %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>

<%= render 'shared/public_website/hidden_map_inputs', :salon => true %>

<% content_for(:scripts) { javascript_include_tag('locations') } %>