<div class="location-page">

  <div class="container content-container location-page-container">
    <div class="row">
      <div class="one-third column request-a-tour-form-column">
        <%= form_tag :contact_us_request_a_tour, :method => :post, :id => 'contact-us-request-a-tour', :class => 'request-a-tour-form' do %>
          <h4><%= t('page.locations.lease_at_location', {name: @location.name}).html_safe %></h4>
          <p><%= t('page.locations.request_leasing_information', {name: @location.general_contact_name, number: @location.phone_number}) %></p>
          <input name="name" type="text" placeholder="<%= t('page.locations.your_name').html_safe %>">
          <input name="email" type="text" placeholder="<%= t('page.locations.email_address').html_safe %>">
          <input name="phone" type="text" placeholder="<%= t('page.locations.phone_number').html_safe %>">
          <textarea name="message" placeholder="<%= t('page.locations.leave_a_message').html_safe %>"></textarea>
          <input name="location_id" type="hidden" value="<%= @location.id %>">
          <input name="request_url" type="hidden" value="<%= request.original_url %>">
          <% if I18n.locale && I18n.locale.to_s == 'en-CA' %>
            <label class="receive-newsletter">
              <span class="input"><input type="checkbox" name="receive_newsletter" value="yes" checked="checked"/></span>
              <span class="text"><%= t 'page.contact.receive_newsletter' %></span>
            </label>
          <% end %>
          <button class="button outline-large-white small-text" id="contact-us-request-a-tour-submit"><%= t('page.locations.submit_request').html_safe %></button>
          <button class="button outline-large-white small-text" id="contact-us-request-a-tour-submitting" disabled="disabled" style="display:none;opacity:0.5;"><%= t('page.locations.submitting_request').html_safe %></button>
        <% end %>
        &nbsp;
      </div> <!-- .one-third -->

      <div class="two-thirds column">
        
        <!-- images -->

        <div class="location-gallery">
          <% if @location.image_tags.size > 0 %>
            <div class="owl-carousel owl-theme salon-professional salon-carousel" data-autoplayoff="true" data-paginationoff="true">
              <% @location.image_tags.each do |image| %>
                <div class="item"><%= image.html_safe %></div>
              <% end %>
            </div>
          <% else %>
            <div class="owl-carousel owl-theme salon-professional salon-carousel" data-autoplayoff="true" data-paginationoff="true">
              <div class="item"><%= image_tag 'sola_location_photo.jpg', :alt => 'An interior photo of a Sola' %></div>
            </div>      
          <% end %>
          <%= link_to salon_stylists_path(@location.url_name), :class => 'find-a-salon-pro-box' do %>
            <span class="text"><%= t('page.locations.find_a_salon_professional') %></span>
            <span class="forward-arrow-white">&nbsp;</span>
          <% end %>
        </div>

        <!-- info -->

        <div class="location-info">
          <h1 class="chalet"><%= @location.name.html_safe %></h1>
          <p class="address"><%= @location.full_address %></p>
        </div>

        <!-- buttons -->
        <div class="location-buttons">
          <%= link_to salon_stylists_path(@location.url_name), :class => 'button outline-large-white' do %><%= t('page.locations.find_a_salon_professional') %><% end %>
          <%= link_to '#rent-a-studio', :class => 'button outline-large-white rent-a-studio' do %><%= t('page.locations.lease_a_studio') %><% end %>
        </div>

        <!-- about this location -->
        <h5><%= t('page.locations.about_this_location') %></h5>
        <div class="description"><%= @location.description.gsub(/<img[^>]+\>/, '').gsub(/\n/, '<hr class="br" />').html_safe %></div>

        <%= render 'shared/location_tours' %>

        <!-- social -->
        <ul class="location-social">
          <% if @location.facebook_url.present? %>
            <li><%= link_to url_helper(@location.facebook_url), :target => '_blank' do %><span class="ss-social-regular ss-facebook"></span><% end %></li>
          <% else %>
            <li><%= link_to 'https://www.facebook.com/solasalons', :target => '_blank' do %><span class="ss-social-regular ss-facebook"></span><% end %></li>
          <% end %>

          <% if @location.twitter_url.present? %>
            <li><%= link_to url_helper(@location.twitter_url), :target => '_blank' do %><span class="ss-social-regular ss-twitter"></span><% end %></li>
          <% else %>
            <li><%= link_to 'https://www.twitter.com/solasalons', :target => '_blank' do %><span class="ss-social-regular ss-twitter"></span><% end %></li>
          <% end %>

          <% if @location.pinterest_url.present? %>
            <li><%= link_to url_helper(@location.pinterest_url), :target => '_blank' do %><span class="ss-social-regular ss-pinterest"></span><% end %></li>
          <% else %>
            <li><%= link_to 'https://www.pinterest.com/solasalons', :target => '_blank' do %><span class="ss-social-regular ss-pinterest"></span><% end %></li>
          <% end %> 

          <% if @location.instagram_url.present? %>
            <li><%= link_to url_helper(@location.instagram_url), :target => '_blank' do %><span class="ss-social-regular ss-instagram"></span><% end %></li>
          <% else %>
            <li><%= link_to 'https://www.instagram.com/solasalons', :target => '_blank' do %><span class="ss-social-regular ss-instagram"></span><% end %></li>
          <% end %>        
        </ul>

        <!-- move-in special -->
        <% if @location.move_in_special && @location.move_in_special.present? %>
          <div class="move-in-special">
            <%= image_tag 'MoveInSpecial@2x.jpg' %>
            <div class="text">
              <h5><%= t('page.locations.move_in_special') %></h5>
              <span class="inner-text"><%= @location.move_in_special.html_safe %></span>
            </div>
          </div>
        <% end %>

        <!-- open house -->
        <% if @location.open_house && @location.open_house.present? %>
          <div class="contact-salon-pros-directly" style="margin-top: 15px">
            <h3><%= @location.open_house %></h3>
          </div>
        <% end %>

        <!-- articles -->
        <% if @articles && @articles.length > 0 %>
          <div class="container content-container news-articles">
            <% @articles.each do |article| %>
              <%= render 'shared/news_summary', :article => article %>
            <% end %>
          </div>
        <% end %>

        <!-- your life, your style (amenities) -->
        <div class="your-life-your-style">
          <h1><%= t('page.locations.your_life_your_style') %><sup>&reg;</sup></h1>
          <div class="section">
            <h5><%= t('page.locations.studio_amenities') %></h5>
            <ul class="amenities-list">
              <% t('page.locations.studio_amenities_list').each_line do |li| %>
                <li><%= li.html_safe %></li>
              <% end %>
            </ul>
          </div>
          <div class="section">
            <h5><%= t('page.locations.salon_professional_benefits') %></h5>
            <ul class="amenities-list">
              <% t('page.locations.salon_professional_benefits_list').each_line do |li| %>
                <li><%= li.html_safe %></li>
              <% end %>
            </ul>
          </div>
        </div>

        <!-- map -->
        <div class="row salon-map" id="map"></div>
        <div id="map-overlay" class="salon-map"></div>

        <!-- testimonial -->
        <div class="block-quote-testimonial block-quote-testimonial-side-image">
          
          <div class="content">
            <h3><%= t('page.locations.testimonial_text').html_safe %></h3>
             <%= image_tag 'testimonials/SueScott.png', :class => 'testimonial-portrait', :alt => t('page.locations.testimonial_author') %>
            <h4><%= t('page.locations.testimonial_author').html_safe %></h4>
            <h4 class="studio-name"><%= t('page.locations.testimonial_location') %></h4>
            <div class="button-wrapper">
              <%= link_to :testimonials, :class => "button outline-large-white small-text" do %><%= t('page.locations.view_more_testimonials') %><% end %>
            </div>
          </div>
        </div>

        <!-- mobile lease form -->
        <a name="rent-a-studio" id="rent-a-studio"></a>
        <div class="mobile-lease-form"></div>

        <!-- find a salon professional -->
        <div class="find-a-salon-pro">
          <h1 class="chalet"><%= t('page.locations.find_a_salon_professional_at_location', {:location => @location.name}) %></h1>
          <p><%= t('page.locations.there_are_x_professionals', {:number => @location.stylists.size}) %></p>
          <div class="button-wrapper">
            <%= link_to salon_stylists_path(@location.url_name), :class => 'button outline-large-white' do %><%= t('page.locations.find_a_salon_professional') %><% end %>
          </div>
        </div>


      </div> <!-- .two-thirds -->
    </div> <!-- .row -->
  </div> <!-- .content-container -->

  <div class="container experience-more">
      <h4 class="h1"><%= t 'page.who_we_are.experience_more' %></h4>
    </div>

  <% if I18n.locale.to_s == 'en' %>
    <div class="sola-benefits">
      <div class="container">
        
        <div class="row">
          <div class="columns four">
            <%= link_to :sola_pro, :class => 'benefit-tile' do %>
              <div class="img-wrap">
              <% if I18n.locale.to_s == 'en' %>
                <%= image_tag 'WhySola/SolaPro.jpg' %>
              <% else %>
                <%= image_tag 'WhySola/SolaPro_ca.jpg' %>
              <% end %>
                <div class="title-wrapper"><span class="title"><%= t('page.who_we_are.sola_pro') %></span></div>
              </div>
              <span class="text"><%= t('page.who_we_are.sola_pro_text') %></span>
            <% end %>
          </div>
          <div class="columns four">
            <%= link_to :sola_sessions, :class => 'benefit-tile' do %>
              <div class="img-wrap">
                <%= image_tag 'WhySola/SolaSessions.jpg' %>
                <div class="title-wrapper"><span class="title"><%= t('page.who_we_are.sola_sessions') %></span></div>
              </div>
              <span class="text"><%= t('page.who_we_are.sola_sessions_text') %></span>
            <% end %>
          </div>
          <div class="columns four">
            <%= link_to :solagenius, :class => 'benefit-tile' do %>
              <div class="img-wrap">
                <%= image_tag 'WhySola/SolaGenius.jpg' %>
                <div class="title-wrapper"><span class="title"><%= t('page.who_we_are.solagenius') %></span></div>
              </div>
              <span class="text"><%= t('page.who_we_are.solagenius_text') %></span>
            <% end %>
          </div>        
        </div>

      </div> <!-- container -->
    </div> <!-- sola-benefits -->
  <% else %>
    <div class="sola-benefits">
      <div class="container">
        
        <div class="row">
          <div class="columns six">
            <%= link_to :sola_pro, :class => 'benefit-tile' do %>
              <div class="img-wrap">
              <% if I18n.locale.to_s == 'en' %>
                <%= image_tag 'WhySola/SolaPro.jpg' %>
              <% else %>
                <%= image_tag 'WhySola/SolaPro_ca.jpg' %>
              <% end %>
                <div class="title-wrapper"><span class="title"><%= t('page.who_we_are.sola_pro') %></span></div>
              </div>
              <span class="text"><%= t('page.who_we_are.sola_pro_text') %></span>
            <% end %>
          </div>
          <div class="columns six">
            <%= link_to :sola_sessions, :class => 'benefit-tile' do %>
              <div class="img-wrap">
                <%= image_tag 'WhySola/SolaSessions.jpg' %>
                <div class="title-wrapper"><span class="title"><%= t('page.who_we_are.sola_sessions') %></span></div>
              </div>
              <span class="text"><%= t('page.who_we_are.sola_sessions_text') %></span>
            <% end %>
          </div>       
        </div>

      </div> <!-- container -->
    </div> <!-- sola-benefits -->
  <% end %>

  <%= render 'shared/public_website/hidden_map_inputs', :salon => true %>
  <input type="hidden" id="is_salon" value="y" />

</div>

<% content_for(:scripts) { javascript_include_tag('locations') } %>
<% content_for(:scripts) {@location.chat_code.html_safe} if @location.chat_code.present? %>
<% content_for(:scripts) {@location.tracking_code.html_safe} if @location.tracking_code.present? %>
<% content_for(:canonical_url) { @location.canonical_url } %>
<% content_for(:title) { 
  if @location.name.downcase.strip == @location.city.downcase.strip
    @no_title_brand_name = true
    @no_title_dash = true
    "#{t(:brand_name)} #{t(:in)} #{@location.city}, #{@location.state}" 
  else
    "#{@location.name.html_safe} #{t(:in)} #{@location.city}, #{@location.state}" 
  end
} %>
<% if @location.description %>
  <% content_for(:meta_description) { clean_html @location.description } %>
<% end %>