<div class="location-page">

  <div class="container content-container location-page-container">
    <div class="row">
      <div class="one-third column request-a-tour-form-column">
        <div class="request-a-tour-form" id="contact-us-request-a-tour">

          <h4><%= t('page.locations.ask_about_leasing').html_safe %></h4>
          <p class="contact-this-location"><%= t('page.locations.contact_this_location', {name: @location.name}).html_safe %></p>

          <div class="contact-information">
            <% if @location.general_contact_name.present? %>
              <div class="contact-name"><span class="fa fa-user"></span> <%= @location.general_contact_name %></div>
            <% end %>

            <% if @location.general_contact_name.present? %>
              <div class="contact-phone-number"><a href="tel:<%= @location.phone_number %>"><span class="fa fa-phone"></span> <%= @location.phone_number %></a></div>
            <% end %>

            <% if @location.email_address_for_inquiries.present? %>
              <div class="contact-email-address"><a href="mailto:<%= @location.email_address_for_inquiries %>"><span class="fa fa-envelope"></span> <%= @location.email_address_for_inquiries %></a></div>
            <% end %>
          </div>

          <%= render 'shared/contact_form_component', :location_view => true, :location_id => @location.id, :location_name => @location.name, :location_state => @location.state, :required_fields => [:name, :email, :phone, :how_can_we_help_you] %>


        </div>
      </div> <!-- .one-third -->

      <div class="two-thirds column">

        <!-- images -->

        <div class="location-gallery">
          <% if @location.image_tags.size > 0 %>
            <div class="owl-carousel owl-theme salon-professional salon-carousel" data-autoplayoff="true" data-paginationoff="true">
              <% @location.image_tags.each do |image| %>
                <div class="item"><%= image.html_safe %></div>
              <% end %>
            </div>
          <% else %>
            <div class="owl-carousel owl-theme salon-professional salon-carousel" data-autoplayoff="true" data-paginationoff="true">
              <div class="item"><%= image_tag 'sola_location_photo.jpg', :alt => 'An interior photo of a Sola' %></div>
            </div>
          <% end %>
          <%= link_to salon_stylists_path(@location.url_name), :class => 'find-a-salon-pro-box' do %>
            <span class="text"><%= t('page.locations.find_a_salon_professional') %></span>
            <span class="forward-arrow-white">&nbsp;</span>
          <% end %>
        </div>

        <!-- info -->

        <div class="location-info">
          <h1 class="chalet"><%= @location.name.html_safe %></h1>
          <p class="address"><%= @location.full_address %></p>
        </div>

        <div class="location-buttons">
          <%= link_to salon_stylists_path(@location.url_name), :class => 'button outline-large-white', :style => 'margin-bottom:0' do %><%= t('page.locations.find_a_salon_professional') %><% end %>
          <!--<%= link_to '#rent-a-studio', :class => 'button outline-large-white rent-a-studio' do %><%= t('page.locations.lease_a_studio') %><% end %>-->
        </div>

        <!-- mobile lease form -->
        <div class="mobile-lease-form request-a-tour-form">
          <h4><%= t('page.locations.ask_about_leasing').html_safe %></h4>
          <p class="contact-this-location"><%= t('page.locations.contact_this_location', {name: @location.name}).html_safe %></p>

          <div class="contact-information">
            <% if @location.general_contact_name.present? %>
              <div class="contact-name"><span class="fa fa-user"></span> <%= @location.general_contact_name %></div>
            <% end %>

            <% if @location.general_contact_name.present? %>
              <div class="contact-phone-number"><a href="tel:<%= @location.phone_number %>"><span class="fa fa-phone"></span> <%= @location.phone_number %></a></div>
            <% end %>

            <% if @location.email_address_for_inquiries.present? %>
              <div class="contact-email-address"><a href="mailto:<%= @location.email_address_for_inquiries %>"><span class="fa fa-envelope"></span> <%= @location.email_address_for_inquiries %></a></div>
            <% end %>
          </div>
          <%= render 'shared/contact_form_component', :location_view => true, :location_id => @location.id, :location_name => @location.name, :location_state => @location.state, :required_fields => [:name, :email, :how_can_we_help_you]%>
        </div>

        <!-- about this location -->
        <h5><%= t('page.locations.about_this_location') %></h5>
        <div class="description"><%= @location.description.gsub(/<img[^>]+\>/, '').gsub(/\n/, '<hr class="br" />').html_safe %></div>

        <%= render 'shared/location_tours' %>

        <!-- social -->
        <ul class="location-social">
          <% if @location.facebook_url.present? %>
            <li><%= link_to url_helper(@location.facebook_url), :target => '_blank' do %><span class="ss-social-regular ss-facebook"></span><% end %></li>
          <% else %>
            <li><%= link_to 'https://www.facebook.com/solasalons', :target => '_blank' do %><span class="ss-social-regular ss-facebook"></span><% end %></li>
          <% end %>

          <% if @location.twitter_url.present? %>
            <li><%= link_to url_helper(@location.twitter_url), :target => '_blank' do %><span class="ss-social-regular ss-twitter"></span><% end %></li>
          <% else %>
            <li><%= link_to 'https://www.twitter.com/solasalons', :target => '_blank' do %><span class="ss-social-regular ss-twitter"></span><% end %></li>
          <% end %>

          <% if @location.pinterest_url.present? %>
            <li><%= link_to url_helper(@location.pinterest_url), :target => '_blank' do %><span class="ss-social-regular ss-pinterest"></span><% end %></li>
          <% else %>
            <li><%= link_to 'https://www.pinterest.com/solasalons', :target => '_blank' do %><span class="ss-social-regular ss-pinterest"></span><% end %></li>
          <% end %>

          <% if @location.instagram_url.present? %>
            <li><%= link_to url_helper(@location.instagram_url), :target => '_blank' do %><span class="ss-social-regular ss-instagram"></span><% end %></li>
          <% else %>
            <li><%= link_to 'https://www.instagram.com/solasalons', :target => '_blank' do %><span class="ss-social-regular ss-instagram"></span><% end %></li>
          <% end %>
        </ul>

        <!-- move-in special -->
        <% if @location.move_in_special && @location.move_in_special.present? %>
          <div class="move-in-special">
            <%= image_tag 'MoveInSpecial@2x.jpg' %>
            <div class="text">
              <h5><%= t('page.locations.move_in_special') %></h5>
              <span class="inner-text"><%= @location.move_in_special.html_safe %></span>
            </div>
          </div>
        <% end %>

        <!-- open house -->
        <% if @location.open_house && @location.open_house.present? %>
          <div class="contact-salon-pros-directly" style="margin-top: 15px">
            <h3><%= @location.open_house %></h3>
          </div>
        <% end %>

        <!-- articles -->
        <% if @articles && @articles.length > 0 %>
          <div class="container content-container news-articles">
            <% @articles.each do |article| %>
              <%= render 'shared/news_summary', :article => article %>
            <% end %>
          </div>
        <% end %>

        <!-- your life, your style (amenities) -->
        <div class="your-life-your-style">
          <h1><%= t('page.locations.your_life_your_style') %><sup>&reg;</sup></h1>
          <div class="section">
            <h5><%= t('page.locations.studio_amenities') %></h5>
            <ul class="amenities-list">
              <% t('page.locations.studio_amenities_list').each_line do |li| %>
                <li><%= li.html_safe %></li>
              <% end %>
            </ul>
          </div>
          <div class="section">
            <h5><%= t('page.locations.salon_professional_benefits') %></h5>
            <ul class="amenities-list">
              <% t('page.locations.salon_professional_benefits_list').each_line do |li| %>
                <li><%= li.html_safe %></li>
              <% end %>
            </ul>
          </div>
        </div>

        <!-- map -->
        <div class="row">
          <div class="salon-map" style="width: 100%;">
            <%
              map_styles = [
                'feature|saturation:-100|lightness:20',
                'feature:water|color:0xC1E6F3',
                'feature:poi|visibility:off',
              ]

              if @location.custom_maps_url.present?
                custom_marker = "<div class='map-popover-infobox'><h4>#{@location.name}</h4><p>#{@location.html_address}</p><a target='_blank' href='#{@location.custom_maps_url}'>Map it!</a></div>"
              else
                custom_marker = "<div class='map-popover-infobox'><h4>#{@location.name}</h4><p>#{@location.html_address}</p><a target='_blank' href='http://maps.google.com/maps?daddr=#{@location.full_address}'>Map it!</a></div>"
              end
            %>

            <iframe
              width="100%"
              height="420px"
              frameborder="0" style="border:0"
              src="https://www.google.com/maps/embed/v1/place?q=<%= @location.full_address %>&zoom=14&maptype=roadmap&key=AIzaSyD2Oj3CGe7UCPl_stI1vAIZ1WLVuoJ8WF8" class="static-map" allowfullscreen>
            </iframe>


            <div class="popover fade show bs-popover-top" role="tooltip" x-placement="top">
              <div class="arrow" style="left: 72px;"></div>
              <h3 class="popover-header"></h3>
              <div class="popover-body">
                <%= custom_marker.html_safe %>
              </div>
            </div>

          </div>
        </div>


        <!-- testimonial -->
        <div class="block-quote-testimonial block-quote-testimonial-side-image">

          <div class="content">
            <h3><%= t('page.locations.testimonial_text').html_safe %></h3>
             <%= image_tag 'testimonials/SueScott.png', :class => 'testimonial-portrait', :alt => t('page.locations.testimonial_author') %>
            <h4><%= t('page.locations.testimonial_author').html_safe %></h4>
            <h4 class="studio-name"><%= t('page.locations.testimonial_location') %></h4>
            <div class="button-wrapper">
              <%= link_to :testimonials, :class => "button outline-large-white small-text" do %><%= t('page.locations.view_more_testimonials') %><% end %>
            </div>
          </div>
        </div>

        <!-- find a salon professional -->
        <div class="find-a-salon-pro">
          <h1 class="chalet"><%= t('page.locations.find_a_salon_professional_at_location', {:location => @location.name}) %></h1>
          <p><%= t('page.locations.there_are_x_professionals', {:number => @location.stylists.size}) %></p>
          <div class="button-wrapper">
            <%= link_to salon_stylists_path(@location.url_name), :class => 'button outline-large-white' do %><%= t('page.locations.find_a_salon_professional') %><% end %>
          </div>
        </div>


      </div> <!-- .two-thirds -->
    </div> <!-- .row -->
  </div> <!-- .content-container -->

  <div class="container experience-more">
      <h4 class="h1"><%= t 'page.who_we_are.experience_more' %></h4>
    </div>

  <% if I18n.locale.to_s == 'en' %>
    <div class="sola-benefits">
      <div class="container">

        <div class="row">
          <div class="columns four">
            <%= link_to :sola_pro, :class => 'benefit-tile' do %>
              <div class="img-wrap">
              <% if I18n.locale.to_s == 'en' %>
                <%= image_tag 'WhySola/SolaPro.jpg' %>
              <% else %>
                <%= image_tag 'WhySola/SolaPro_ca.jpg' %>
              <% end %>
                <div class="title-wrapper"><span class="title"><%= t('page.who_we_are.sola_pro') %></span></div>
              </div>
              <span class="text"><%= t('page.who_we_are.sola_pro_text') %></span>
            <% end %>
          </div>
          <div class="columns four">
            <%= link_to :sola_sessions, :class => 'benefit-tile' do %>
              <div class="img-wrap">
                <%= image_tag 'WhySola/SolaSessions.jpg' %>
                <div class="title-wrapper"><span class="title"><%= t('page.who_we_are.sola_sessions') %></span></div>
              </div>
              <span class="text"><%= t('page.who_we_are.sola_sessions_text') %></span>
            <% end %>
          </div>
          <div class="columns four">
            <%= link_to :solagenius, :class => 'benefit-tile' do %>
              <div class="img-wrap">
                <%= image_tag 'WhySola/SolaGenius.jpg' %>
                <div class="title-wrapper"><span class="title"><%= t('page.who_we_are.solagenius') %></span></div>
              </div>
              <span class="text"><%= t('page.who_we_are.solagenius_text') %></span>
            <% end %>
          </div>
        </div>

      </div> <!-- container -->
    </div> <!-- sola-benefits -->
  <% else %>
    <div class="sola-benefits">
      <div class="container">

        <div class="row">
          <div class="columns six">
            <%= link_to :sola_pro, :class => 'benefit-tile' do %>
              <div class="img-wrap">
              <% if I18n.locale.to_s == 'en' %>
                <%= image_tag 'WhySola/SolaPro.jpg' %>
              <% else %>
                <%= image_tag 'WhySola/SolaPro_ca.jpg' %>
              <% end %>
                <div class="title-wrapper"><span class="title"><%= t('page.who_we_are.sola_pro') %></span></div>
              </div>
              <span class="text"><%= t('page.who_we_are.sola_pro_text') %></span>
            <% end %>
          </div>
          <div class="columns six">
            <%= link_to :sola_sessions, :class => 'benefit-tile' do %>
              <div class="img-wrap">
                <%= image_tag 'WhySola/SolaSessions.jpg' %>
                <div class="title-wrapper"><span class="title"><%= t('page.who_we_are.sola_sessions') %></span></div>
              </div>
              <span class="text"><%= t('page.who_we_are.sola_sessions_text') %></span>
            <% end %>
          </div>
        </div>

      </div> <!-- container -->
    </div> <!-- sola-benefits -->
  <% end %>

  <%= render 'shared/public_website/hidden_map_inputs', :salon => true %>
  <input type="hidden" id="is_salon" value="y" />
  <input type="hidden" id="i_l" value="<%= @location.id %>" />

</div>

<% content_for(:scripts) { javascript_include_tag('locations') } %>
<% content_for(:scripts) {@location.chat_code.html_safe} if @location.chat_code.present? %>
<% content_for(:scripts) {@location.tracking_code.html_safe} if @location.tracking_code.present? %>
<% content_for(:canonical_url) { @location.canonical_url } %>
<% content_for(:title) {
  if @location.name.downcase.strip == @location.city.downcase.strip
    @no_title_brand_name = true
    @no_title_dash = true
    "#{t(:brand_name)} #{t(:in)} #{@location.city}, #{@location.state}"
  else
    "#{@location.name.html_safe} #{t(:in)} #{@location.city}, #{@location.state}"
  end
} %>
<% if @location.description %>
  <% content_for(:meta_description) { clean_html @location.description } %>
<% end %>
<% content_for(:json_location_data) { render "shared/json_location_data" } %>
