<% params[:state] = params[:state].gsub(/-/, ' ') %>
<div class="location-breadcrumb">
  <div class="container">
    <%= link_to t('page.locations.all_locations').html_safe, :locations %> <span class="divider">/</span> <%= link_to params[:state], I18n.locale == :en ? locations_by_state_path(beautify_url_segment(params[:state])).gsub(/\./, '') : locations_by_province_path(beautify_url_segment(params[:state])).gsub(/\./, '') %>
  </div>
</div>

<div class="container content-container">
  <div class="row">

    <div class="row">
      <div class="six columns locations-hero">
          <h1><%= t('page.locations.find_a_sola_location').html_safe %></h1>
          <h3 class="subtle">&nbsp;</h3>
      </div>

      <div class="six columns text-right">

        <div class="sola-select">
          <div class="row">
            <div class="option-placeholder"><h3><%= params[:state] || t('page.locations.select_a_state').html_safe %></h3></div>
            <div class="arrow"><span class="ss-dropdown"></span></div>
          </div>
          <div class="options">
            <div class="option" data-value="<%= locations_path() %>"><%= t('page.locations.all_locations').html_safe %></div>
            <% @all_locations.select("DISTINCT(state)").order(:state => :asc).each do |location| %>
            <div class="option" data-value="<%= I18n.locale == :en ? locations_by_state_path(beautify_url_segment(location.state.downcase)) :  locations_by_province_path(beautify_url_segment(location.state.downcase)) %>"><%= location.state %></div>
            <% end %>
          </div>
        </div>

      </div>
    </div>
    
  </div>
</div>

<div class="container">
  <div class="row" id="map"></div>
  <div id="map-overlay"></div>
</div>

<div class="container content-container" style="margin-top:5px;margin-bottom:10px;">

    <% @locations.group_by(&:msa_name).sort.each do |msa_name, locations| %>

      <h2 class="city"><%= link_to msa_name, region_path(Msa.find_by(:name => msa_name).url_name) %></h2>

      <% locations.sort_by(&:name).each_with_index do |location, index| %>
        <% if index == 0 || index % 3 == 0 %><div class="row"><% end %>
          <div class="one-third column search-result">
            <h3><%= location.name.html_safe %></h3>
            <p><%= location.html_address.html_safe %></p>
            <div><%= link_to t('page.locations.view_location').html_safe, salon_location_path(location.url_name).gsub(/\./, '') %></div>
          </div>
        <% if ((index + 1) % 3) == 0 || index + 1 == locations.size %></div><% end %>
      <% end %>

    <% end %>

</div>

<%= render 'shared/public_website/hidden_map_inputs' %>

<% content_for(:scripts) { javascript_include_tag('locations') } %>
<% content_for(:scripts) { javascript_include_tag('locations_state_select') } %>
<% content_for(:title) { "#{t('page.locations.locations_in').html_safe} #{params[:state]}" } %>