<div class="container content-container">
  <div class="row">

    <div class="six columns">
      <h1 class="chalet" style="margin:0 0 15px 0"><%= t('page.locations.salon_professionals').html_safe %></h1>
      <h3 class="subtle"><%= @location.name %></h3>
    </div>

    <div class="six columns text-right">

      <% if @location && @location.services && @location.services.size > 0 %>
      <div class="sola-select">
        <div class="row">
          <div class="option-placeholder"><h3><%= params[:service] || t('page.locations.filter_by_service').html_safe %></h3></div>
          <div class="arrow"><span class="ss-dropdown"></span></div>
        </div>
        <div class="options">
            <div class="option" data-value="<%= salon_stylists_path(@location.url_name) %>"><%= t('page.locations.all_services').html_safe %></div>
          <% @location.services.each do |service| %>
            <div class="option" data-value="<%= salon_stylists_path(@location.url_name, service) %>"><%= service %></div>
          <% end %>
        </div>
      </div>
      <% end %>

    </div>

  </div>
</div>

<div class="container">
  <div class="contact-salon-pros-directly">
    <h3 class="text-center"><%= t('page.locations.contact_your_salon_professional_directly').html_safe %></h3>
  </div>
</div>

<div class="container content-container">
  <div class="row">

    <% if @stylists && @stylists.size > 0 %>
      <% @stylists.sort_by(&:name).each_with_index do |stylist, index| %>
        <%= render 'shared/public_website/stylist_result', :stylist => stylist %>
      <% end %>
    <% end %>

    <% if @reserved_stylists && @reserved_stylists.size > 0 %>
      <% @reserved_stylists.each_with_index do |stylist, index| %>
        <%= render 'shared/public_website/reserved_stylist_result', :stylist => stylist %>
      <% end %>
    <% end %>

  </div>
</div>

<% content_for(:scripts) { javascript_include_tag('salon_stylists'); } %>
<% content_for(:scripts) {@location.tracking_code.html_safe} if @location.tracking_code.present? %>
<% content_for(:title) { "#{t('page.locations.salon_professionals_at').html_safe} #{@location.name} #{t(:in)} #{@location.city}, #{@location.state}" } %>
