<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Sola Salon Studios</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="<%= image_url 'favicon.png' %>" />
  <link href='//fonts.googleapis.com/css?family=Dosis:400,600|Raleway' rel='stylesheet' type='text/css'>  
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= yield :stylesheets %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= yield %>

  <%= javascript_include_tag "application" %>
  <%= yield :scripts %>

</body>
</html>