<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Sola Salon Studios</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Dosis:300,400,700|Lato:300,400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "public_website", media: "all" %>
  <%= yield :stylesheets %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'shared/public_website/header' %>

  <%= yield %>

  <%= render 'shared/public_website/footer' %>

  <script src="//maps.google.com/maps/api/js"></script>
  <%= javascript_include_tag "public_website" :async => :async %>
  <%= yield :scripts %>

</body>
</html>