<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>
    <% if content_for?(:title) %>
      <%= yield :title %> - 
    <% end %>
    Sola Salon Studios
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= render 'shared/og' %>
  <link href='//fonts.googleapis.com/css?family=Dosis:300,400,700|Lato:300,400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "public_website", media: "all" %>
  <%= yield :stylesheets %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'shared/public_website/header' %>

  <%= yield %>

  <%= render 'shared/public_website/footer' %>

  <%= render 'shared/gallery' %>

  <script src="//maps.google.com/maps/api/js"></script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-34803522-1', 'auto');
    ga('require', 'displayfeatures');
    ga('send', 'pageview');
  </script>
  <%= javascript_include_tag "public_website" %>
  <%= yield :scripts %>

</body>
</html>